@font-face{
	font-family : 'Amaranth';
	src:url('../fonts/Amaranth-Bold.ttf');
}
@color : #1b1b1b;
@lightcolor :#cf500f; // yellow
@darkcolor : #005b5e; //heading text
@back : #BA8C5F;
@darkbackcolor : #5E4A44;
@lightbackcolor : #E0CDB9; //@lightbackcolor
@colorblack : #000000;
@colorwhite	: #ffffff;
@background_img:url(../img/back2.jpg);
@background_img1:url(../img/bg.jpg);
@back1:url(../img/watch.jpg);
@back2:url(../img/car1.png);
@back3:url(../img/car2.png);
@nav_img:url(../img/menu-rgt.jpg);


@import "product.less";
@import "general.less";

*{
		transition : 300ms;
}
body{
		background-image:@background_img1;
		font-family : Times New Roman,Serif;
	}
.back1{
		background-image:@back1;
		background-repeat:no-repeat;
		background-size:70%;
		height: 500px;
}	
.back2{
		margin: 0px;
		height: 530px;
		background-image:@back2;
		background-repeat:no-repeat;
		background-size:100%;
		background-position:10% 100%;
}

.logo{
	width: 300px;
    height: 100px;
	border-radius:10px 10px 0px 0px;
	top:-50px;
}
.navb{
.navbar-default {
	 background-color:@colorwhite;
	// margin-top:75px;
	.navbar-nav{
				>li{
					position : relative;
					>a{
						color:@lightcolor;
						text-transform:uppercase;
						padding: 10px 10px;
						
						&:hover{
							color:@darkcolor;
							
						}
					}
					&.active>a, &.active>a:hover,&.active>a:focus{
						background-color : transparent;
						color : @lightcolor;
					}
					> ul{
						position:absolute;
						display:none;
						z-index:900;
						width: 250px;
						margin-left: -40px;
						>li{
							padding: 25px 25px 5px; 
							list-style-type:none;
							background-color:rgba(6, 6, 6, 0.7);
							border-bottom: 1px solid @colorwhite;
							a{
								border-left:1px solid transparent;
								border-right:1px solid transparent;
								background-color:transparent;
								color:@colorwhite;
							}
							>ul{
								display:none;
							}
						}
					}
					
					
					&:hover{
						> ul {
							display: block;
						}
					}
				}
			}
	
}
}
@media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right:32px;
}
}

.homeAboutus{
		>h1{
			color:@lightcolor;
			background: linear-gradient(90deg, @colorblack , @colorwhite);
			font-size:30px;
			margin-top: 2px;
			padding-left: 100px;
		}
		
		>.tagline{
			color:@darkcolor;
			font-family:Times New Roman,Serif;
			font-size:20px;
		}
		>.tagline1{
			color:@colorblack;
			font-size:15px;
			padding: 10px;
		}
		> .description{
			height:110px;
			overflow:hidden;
			font-size:16px;
			padding: 18px;
		}
		> .readmore
		{
		margin-top:15px;
		padding-left:20px;
			> .btn-primary{
				background-color:@colorblack;
					&:hover{
						background-color:@darkcolor;
						color:@colorwhite;
					}
			}
		}
	}
.btn{
	background-color:@colorblack;
}
.enquiry{
	.btn{
		color:@colorwhite;
		background-color:@colorblack;
			&:hover{
			background-color:@darkcolor;
			color:@colorwhite;
			}
	}
}
h2{
	padding:15px;
	color:@darkcolor;
	text-transform:uppercase;
		&:hover{
			color:@colorwhite;
		}
}
.data3{
	bottom: 100px;
	padding:15px;
	height:800px;
}
	h3.subhead {
		color:@colorwhite;
		font-size:20px;
		padding:5px 4px 2px 75px;
		background: linear-gradient(90deg, @colorblack , @color);
		height: 37px;
		border-radius:5px;
		margin-top: 10px;

	}
.sidebarModule.enquiry {
    margin-top: -94px;
}
	
.sidebarModule .panel-default {
    border: 1px solid @darkcolor;
}	

	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	{
		background-color : @darkcolor;
		color : @color;
		border : 1px solid @darkcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:hover{
		background-color : @lightbackcolor;
		border : 1px solid @darkcolor;
		color : @darkcolor;
	}
	footer{
		background : -webkit-linear-gradient(top, @color -565%, @darkcolor);
		background : -moz-linear-gradient(top, @color -565%, @darkcolor);
		background : linear-gradient(top, @color -565%, @darkcolor);
		color : @colorblack;
		padding : 20px;
		p{
			margin : 0;
		}
		a, a:hover{
			color : @color;
		}
	}	
	
	.btn-link{
		color : @darkcolor;
		padding-left : 0px;
		font: 17px 'Cinzel-Regular', cursive;
		&:hover{
			color : @darkcolor;
		}
	}
	.btn-info, .btn-primary{
			background-color : @colorblack;
			color : @colorwhite;
			&, &:focus, &:active, &[disabled]{
				background-color : @colorblack;
				color : @colorwhite;
				border : 2px solid transparent;
				border-radius : 0px;
			}
			&:hover{
				color : @colorwhite;
				background-color : @darkcolor;
				border : 2px solid @darkcolor;
			}
	}
	
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}	
	
	
			
				
				
	
@media (max-width: 320px){
	.logo{
		width: 100px;
		height: 80px;
	}	
	.navbar-default{
		.navbar-nav{
			>li{
				>a{
				background:none;
				}
			}
		}
		&::before{
		background:none;
		}
		
	}
	.sidebarModule.contactus {
		height: 500px;
		padding-top: 28px;
	}
	.back2{
		background-position: 10% 60%;
	}
	.activity{ 
		h3 {
			padding-top: 15px;
		}	
	}
}

@media(max-width: 768px){
	.logo{
			width: 140px;
			height: 100px;
		}	
		.navbar-default{
			.navbar-nav{
				>li{
					>a{
					background:none;
					}
				}
			}
			&::before{
			background:none;
			}
		}
	.sidebarModule.contactus {
			height: 500px;
			padding-top: 28px;
		}
	
	.back2{
			background-position: 10% 60%;
		}
.activity{ 
		h3 {
			padding-top: 15px;
		}	
	}		
}
@media(max-width: 1024px){
	.logo{
			width: 140px;
			height: 100px;
		}	
		.navbar-default{
			.navbar-nav{
				>li{
					>a{
					background:none;
					}
				}
			}
			&::before{
			background:none;
			}
		}
	.sidebarModule.contactus {
			height: 500px;
			padding-top: 28px;
		}
	
	.back2{
			background-position: 10% 60%;
		}	
		.activity{ 
		h3 {
			padding-top: 20px;
		}	
	}
}