<div class="container-fluid" ng-controller="trainingController">
	<div class="row">
		<div class="col-sm-12 training">
			<h2 class="text-center"> Saksham Web Touch Pvt. Ltd.</h2>
			<p class="text-center">Flat No. 12, Bajirao Classic Building,
				Beyond datta mandir,Pavana Sahkari Bank Kalewadi Fata,
				Pimpari-Chinchwad,Pune,
				Maharashtra 411 033.
			</p>
			<h3 class="text-center">Training Activity</h3>
		</div>
	</div>
	
	<div class="row" ng-if="isSend==true">
		<div class="col-md-12 clr">
			<h3> Your Application Sent successfully....</h3>
		</div>
	</div>

	<div class="row training" ng-controller="trainingController">
		<div class="col-sm-3">
			<div class="parent1 text-center">
				<img src="{{path}}img/1.png" class="img img-responsive center-block">
				<input type="button" data-toggle="modal" data-target="#detail1" class="btn btn-info" value="Details">
				<button  data-toggle="modal" data-target="#form" type="button"  class="btn btn-info" value="Apply">Apply</button>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="parent2 text-center">
				<img src="{{path}}img/2.png" class="img img-responsive center-block">
				<input  type="button"data-toggle="modal" data-target="#detail2" class="btn btn-info" value="Details">
				<button  data-toggle="modal" data-target="#form" type="button"  class="btn btn-info" value="Apply">Apply</button>
			</div>
		</div>
		<div class="col-sm-3 text-center">
			<div class="parent3 text-center">
				<img src="{{path}}img/3.png" class="img img-responsive center-block">
				<input  type="button"data-toggle="modal" data-target="#detail3" class="btn btn-info" value="Details">
				<button  data-toggle="modal" data-target="#form" type="button"  class="btn btn-info" value="Apply">Apply</button>
			</div>
		</div>
		<div class="col-sm-3 text-center">
			<div class="parent4 text-center">
				<img src="{{path}}img/11.png" class="img img-responsive center-block">
				<input  type="button"data-toggle="modal" data-target="#detail4" class="btn btn-info" value="Details">
				<button  data-toggle="modal" data-target="#form" type="button"  class="btn btn-info" value="Apply">Apply</button>
			</div>
		</div>
		{% include [templatePath ~ '/training/detail1.html'] %}
		{% include [templatePath ~ '/training/details2.html'] %}
		{% include [templatePath ~ '/training/details3.html'] %}
	</div>
	<div ng-if="isSend==false">
	{% include [templatePath ~ '/training/form.html'] %}
	</div>
</div>
