.carousel-inner>.item{
				width:100%;	
			img{
				 width: 100%;
				}
				
			}
			.carousel-caption {
     right: 0; 
     left: 0 ;
     padding-bottom: 0px; 
    background-color: rgba(189, 10, 16, 0.38);
}
.kk{
.carousel-inner>.item{
				height:270px;
				width:100%;	
			img{
				 width: 100%;
				}
				
			}
}
.carousel-caption {
    position: absolute;
    right: 0; 
    bottom: 0px;
    left: 0; 
    width: 100%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    /* margin-top: -34px; */
	h2{
	color:@colorwhite;
	}
}

			.item.homeItem {
				//height: 347px;
				img{
					height: 347px;
					 width: 100%;
				}
			}
span.glyphicon.glyphicon-chevron-right,span.glyphicon.glyphicon-chevron-left 
													{
														display: none;
														}
			.carousel-indicators li {
				display: none;
			   
			}  

.featrGallery {
    margin-top: 0px;
    padding: 5px;
	    .infraimg{
			height:180px;
			width:200px;
			margin:auto;
			.dev{ 
				overflow:hidden;
				img{
					min-height:150px;
					&:hover{
					transform:scale(1.06);
					transition:transform 1s;
					overflow:hidden;
					width:100%;
					}
				}
			
			}
			
		}
		.description{
			padding:15px;
			text-align:justify;
			
		}
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
    height: 200px;
}

.featrtesti{
	.description{
		//padding:15px;
		text-align:justify;
		color: @lightcolor;
		font: 17px "Times New Roman", Times, serif;
		
	}
	h2{
		font-size:24px;
		padding-left:13px;
	}
}
.featrGallery1{
		margin-top: 50px;
		border:1px solid @darkcolor;
		margin-right:10px;
		height:230px;
		margin-left:5px;
		padding: 15px;
	.thumbnail {
		display: block;
		padding: 0px;
		margin-bottom: 20px;
		line-height: 1.42857143;
		background-color: #fff;
		border: 0px;
		border-radius: 0px;
		-webkit-transition: border .2s ease-in-out;
		-o-transition: border .2s ease-in-out;
		transition: border .2s ease-in-out;
		width: 229px;
		margin-top:-15px;
		overflow:hidden;
	}
	h3{
		margin:auto auto;
	}	
}
.featrGallery1{
	span.glyphicon.glyphicon-chevron-right {
		display: block !important;
	}
	span.glyphicon.glyphicon-chevron-left {
		display: block !important;
	}
	a{
		background: #ccc !important;
		height: 32px;
		margin-top: 56px;
		left: 187px;
	}
	.glyphicon-chevron-left::before {
		content: "";
			position: absolute;
			background: url(../img/lft_arw.gif) !important; 
			height: 29px;
			width: 24px;
			right: 2px;
			top:-56px;
	}
    .glyphicon-chevron-right:before {
		content: "";
			position: absolute;
			background: url(../img/right_arw.gif) !important; 
			top: -56px;
			height: 29px;
			width: 24px;
			right: 8px;
	}
	.item{
		overflow:hidden;
	}
	.item.homeItem img {
		height: 150px !important;
		width: 100%;
	}
	.carousel-inner>.item, .carousel-inner>.item img {
		width: 100%;
		min-height: 170px;
	}
}

