.featured_services {
		margin-top: -20px;
		height: 177px;
		background:@colorwhite;
		padding:15px;
	.servimage{
			height:105px;
			width:150px;
				img{
					min-height:100%;
					border:1px solid @lightcolor;
						&:hover{
						}
				}
		}
	 .description{
		padding:15px;
		text-align:justify;
		
	}	
}
.homeAboutus{
	img {
		vertical-align: middle;
		height: 100%;
		width: 100%;
	}
}
.sidebarModule.contactus {
    padding: 15px;
}
.about{
	img{
		vertical-align: middle;
		height: 100%;
		width: 100%;
	}
	p{
		padding:15px;
		text-align:justify;
	}
}

.products{
	padding:15px;
	.caption{
		border-bottom: 1px dashed #e0e0e0;
		background-color:@lightbackcolor;
	h4{
		font-size: 22px;
		font-style: italic;
		color:@colorwhite;
		background: url(../img/121212.gif) no-repeat;
		height: 45px;
		padding: 10px;
	}
	.description{
		height: 175px;
		overflow: hidden;
	}
	}
	.readmore{
		padding: 6px;
		height: 40px;
	}
	.btn{
		border:0px;
		border-radius:0px;
	}
	.readmore >a{
		font-size: 22px;
		font-style: italic;
		color: @colorwhite;
		height: 45px;
		padding: 10px;
		background: url(../img/dtls_btn.gif) no-repeat;
		height: 45px;
		padding: 10px;
		pointer: absolute;
		position: absolute;
		width: 110px;
		right: 10px;
	}
}
 //testimonials
.featrtesti{
	.description{
		&::before{
			content: "";
			position: absolute;
			background: url(../img/icon.gif);
			top: 2px;
			height: 29px;
			width: 40px;
		}
	}
	p{
		text-indent:50px;
	}
	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px;
		font-size: 17.5px;
		border-left: none;
		border: 1px solid @darkbackcolor;
		cite {
			color:@color;
			float:right;
		}		
	}
}
.singleproduct{
 .thumbnail {
		display: block;
		padding: 10px;
		margin-bottom: 20px;
		line-height: 1.42857143;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 0px;
		-webkit-transition: border .2s ease-in-out;
		-o-transition: border .2s ease-in-out;
		transition: border .2s ease-in-out;
	}
}
