.featured_services {
	margin-top: -20px;
    height: 177px;
	background:@colorwhite;
	padding:15px;
	.servimage{
			height:105px;
			width:150px;
			    img{
					min-height:100%;
					border:1px solid @lightcolor;
						&:hover{
						}
				}
		}
		 .description{
			padding:15px;
			text-align:justify;
			
		}
	
}
.homeAboutus{
	img {
		vertical-align: middle;
		height: 100%;
		width: 100%;
	}
	
}
.sidebarModule.contactus {
    padding: 15px;
}

.about{
	img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
	}
		p{
			padding:15px;
			text-align:justify;
		}
}

 .products{
	padding:15px;
		.caption{
			
			border-bottom: 1px dashed #e0e0e0;
			background-color:@lightbackcolor;

		
		h4{
			font-size: 22px;
			font-style: italic;
			color:red;
			background-image:url('../img/hd.gif');
			background-size:100%;
			background-repeat:no-repeat;
		}
		}
 }
 //testimonials
		.featrtesti{
			blockquote {
			padding: 10px 20px;
			margin: 0 0 20px;
			font-size: 17.5px;
			border-left: none;
			border: 1px solid @darkbackcolor;
				cite {
					color:@color;
					float:right;
				}
					&::before{
						content:"";
						position : absolute;
						background-image:url('../img/icon.gif');
						background-repeat:no-repeat;
						top : 5px;
						left : 0;
								
					}
			}
		}
	 
