@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v6/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@color : #fa6903; //dark chocalate
@lightcolor :#FFA500; //color
@darkcolor : #363333;//nav ul color
@back : #729d04;
@darkbackcolor : #FFFF00; //darkcolor black nav
@lightbackcolor :#e89d03;//no use
@colorblack : #000000;
@colorwhite	: #ffffff;

@import "property.less";
@import "product.less";
@import "general.less";

 .container {
    width: 950px ! important;
	background-color:@colorwhite;
	margin-top:20px;
	
}
	body{
		background-image:url('../img/5.jpg');
		background-size:100% 100%;
		background-repeat:no-repeat;
	}
		.logo{
			height:100px;
			width:100px;
		}
			
	.navbar-default {
		border:none;
		top:-13px;
		height:56px;
		background-image:url('../img/nav.gif');
		margin-left: 15px;
		margin-right: 15px;
		padding:10px;
		.nav{
			> li{
				float: none;
				margin-bottom: 0px;
				position: relative;
				padding: 0px 6px 10px;
			
				> a {
					display: block;
					//font: 20px "Arial";
					color : @colorwhite !important;
					position:relative;
					&:hover{
						background-color:transparent !important;
					}
				}
				
				
				
				
				> ul{
					display: none;
					position: absolute;
					width: 200px;
					z-index: 999;
					background-image:url('../img/nav.gif');
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					margin-top:6px;
					
					>li{
						padding : 10px;
						
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @back;
								text-decoration: none; 
							}
						}
						&:hover{
						//background-color:@darkcolor;
							-webkit-transition: all 0.4s;
						}
					
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		
	}
		

