@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}
@font-face{
	font-family : 'amarkalyane';
	src : url('../fonts/amarkalyane.ttf');
}
@color : #C90D14; 
@lightcolor :#858585;  //Repalces #696767
@darkcolor : #e1e0e0;
@back : #729d04;
@darkbackcolor : #e1e0e0; //darkcolor black nav
@lightbackcolor :#f4f4f4;
@colorblack : #000000;
@colorwhite	: #ffffff;

@import "property.less";
@import "product.less";
@import "general.less";
.box {
background-color:@colorwhite;
margin-top:20px;
box-shadow: 3px 3px 5px 6px @lightcolor;
}
@media (min-width:1200px){
	.container{
	width: 1000px;
	}
} 
	body{
		color: @lightcolor;
		font: 14px "Times New Roman", Times, serif;
		background-image:url('../img/5.jpg');
		background-size:100% 100%;
		background-repeat:no-repeat;
		padding-top: 10px;
		line-height: 18px;
	}
	.logo{
		height:100px;
		width:100px;
		margin-top:5px;
	}
//navbar code	
	.navbar-default {
		border: none;
		top: -13px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		background: linear-gradient(#D01319 ,#AB080D);
		.nav{
			> li{
				float: none;
				margin-bottom: 0px;
				position: relative;
				padding: 0px 4px 4px;

				> a{
					display: block;
					font-size: 17px;
					font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
					color : @colorwhite !important;
					position:relative;
				}	
				&.active > a:before, >a:before{
					content:"";
					position : absolute;
					background-image:url('../img/active.gif');
					background-repeat:no-repeat;
					top: -6px;
					width: 12px;
					height: 10px;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				>a:before{
					display : none;
				}
				&.active > a:before{
					display : block;
				}
				&:hover{
					>a:before{
						display : block;
					}
				}
				> ul{
					display: none;
					position: absolute;
					width: 200px;
					z-index: 999;
					background:@color;
					border-bottom-width: 0;
					//margin-top:22px;
					padding: 0px;
					list-style: none;
					text-align: left;
					top:45px;
					>li{
						padding : 6px;
						border-bottom: 1px solid #821818;
						text-indent: 3px;
						font-size: 15px;
						font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
						font-weight: normal;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
								text-decoration: none; 
							}
						}
						&:hover{
							-webkit-transition: all 0.4s;
						}
						>ul{
						display:none;
						
						}
					
						&:hover{
							ul{
								display : none;
							}
						}
					}
					
				}
				&:hover > ul {
					display: block;
				}
			}
		}	
	.navbar{
		border-radius:none !important;
			}
	.navbar-toggle {
				border : 1px solid @colorwhite;
				padding:7px;
			}
	 .navbar-toggle .icon-bar {
		  background-color: @color;
				}
	}
	.nav>li>a:hover, .nav>li>a:focus {
			text-decoration: none;
			background-color:transparent !important;
		}
.panel-default{
		color:@colorwhite;
		border:none;
		.form-control{
				background-image:url('../img/a1.gif');
				display: inline-block;
				height:50px;
				width:100%;
				margin:5px;
				vertical-align: middle;
		}
		input{
			width:100%;
			height:65px;
		}
		textarea{
			height:246px;
		}
		.form-group{
			display:inline-block;
		}
		h3{
			font-style: italic;
			font-weight: normal;
			color:@color;
		}
		.btn-info{
			border:1px solid @colorwhite;
			color:@colorwhite;
			background-color:transparent;
			text-transform:uppercase;
			padding:15px;
			margin:10px;
				&:hover{
					color:@colorwhite;
					//background-color:@darkcolor;
				}
	
		}
		.btn{
				border-radius:0px !important; 
			}
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 10px !important;
		padding-left: 10px !important;
	}						
}
	.carousel-control.left{
		background:none !important;
		background:none !important;
		background:none !important;
		background:none !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	}
	.carousel-control.right {
		background:none !important;
		background:none !important;
		background:none !important;
		background:none !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
		background-repeat: repeat-x;
	}
	h1, h2, h4, h3{
		color:@color;
		font-style: italic;
		font-weight: normal;
	}
footer{
	 a{
		color:@lightcolor;
	 }
	 a:hover{
		color:@color;
		text-decoration:none;
	 }
}
a.email{
		color:@lightcolor;
	&:hover{
		color:@color;
	}
}

.btn-info {
		color:@colorwhite;
		background-color: @color;
		border-color: @color;
	&:hover{
		color:@colorwhite;;
		background-color: @lightcolor;
		border-color: @lightcolor;
	}
}
@media (max-width: 320px){
	.carousel-inner>.item{
				height:235px;
				width:100%;	
			img{
				height: 235px;
				width: 100%;
				}
		}
	span.glyphicon.glyphicon-chevron-right,span.glyphicon.glyphicon-chevron-left 
					{
					display: none;
				}
	.carousel-indicators li {
		display: none;
	   
	}  
	.carousel {
		position:initial;
	}
	.featrGallery1{
		display:none;
	}
}
@media (max-width: 992px){
	.navbar-default .nav>li.active>a:before, .navbar-default .nav>li>a:before {
		content: "";
		position: absolute;
		background-image: none !important;
		background-repeat: no-repeat;
		top: 0px;
		width:0px;
		height: 0px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
a {
    color: @lightcolor;
    text-decoration: none;
	&:hover{
		color:@color;		
	}
}
.content1{
	background-image:url('../img/testi.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	margin-top:0px;
}
 .content{
	background-image:url('../img/footer1.jpg');
	background-repeat:no-repeat;
 }
.panel-default .form-control {
    display: inline-block;
    height: 25px;
    width: 100%;
    margin: 0px; 
	border-radius: 0px;
    vertical-align: middle;
	background: #EBEAEA;
}
textarea#message {
    height: 50px;
}
label{
color:@colorblack;
}
.btn-info:active, .btn:focus, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: @colorwhite;
    background-color: @lightcolor;
    border-color: @lightcolor;
}
.abcde{
	margin-top:10px;
}
.form-control:focus{
	border-color:@colorblack;
	webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(235, 234, 234);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(235, 234, 234);
}
.panel-default .btn-info {
    border: 1px solid @colorwhite;
    color: #FFFFFF;
    background-color: @lightcolor;
    text-transform: uppercase;
    margin-left: 31%;
    margin: 6px;
    width: 100px;
}
.abc{
	background: rgba(204,204,204,0.19);
	.panel-default .btn-info{
		margin-left: -6%;
	}
}
.panel-default .btn-info {
    padding: 4px;
}
.abc{
	.enquiry{
		.panel-default{
			border:1px solid @darkcolor !important;
			border-radius:0px !important;
		}
		.panel{
			background-color:transparent !important;
			margin-top: 10px;
		}
	}
	form{
		margin-top:-20px;
	}
}
.sections{
		border:1px solid @darkcolor;
		padding:10px;
		margin-top: -17px;
	}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
.bx-wrapper .bx-prev {
    left: 19px !important;
    background: url(http://catalog.wlimg.com/templates-images/12505/12514/controls.png) no-repeat 0 -32px;
}
.navbar-default>ul>li>ul{
display:none;
}