<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right" ng-click="modalOptions.close()">Close</a></button>
		<h3 ng-if="!modalOptions.addtimetable.id" class="text-center">Add TimeTable</h3> 
		<h3 ng-if="modalOptions.addtimetable.id" class="text-center">Update TimeTable</h3>
</div>
	
<div class="modal-body">
		<form class="form-horizontal" name="addtimetableform" role="form" ng-submit="addtimetableform.$valid" novalidate="novalidate">
		{{modalOptions.classParams}}
		<div class="form-group" ng-init="modalOptions.getData( false, false,'department', 'departmentList', false, modalOptions)">
				<label for="dept_id" class="col-sm-2 control-label">Department Name </label>
					<div class="col-sm-9">
						<select id="dept_id" class="form-control" ng-model="modalOptions.addtimetable.dept_id" ng-options="item.id as item.dept_name for item in modalOptions.departmentList"  ng-change="modalOptions.classParams.where.dept_id = modalOptions.addtimetable.dept_id;modalOptions.getData(false, false,'class', 'ClassList',modalOptions.classParams, modalOptions)" required>
							<option value="">Select Department</option>
						</select>
						<span class="help-block" ng-show="addtimetableform.dept_id.$dirty && addtimetableform.dept_id.$invalid">
						<span ng-show="addtimetableform.dept_id.$error.required" class="text-danger">Department name is required.</span>
						</span>	
					</div>
		</div>
		
		<div class="form-group" ng-if="modalOptions.ClassList && modalOptions.classParams.where.dept_id">
				<label for="class_name" class="col-sm-2 control-label">Class Name </label>
				<div class="col-sm-9">
					<select id="class_id" class="form-control" ng-model="modalOptions.addtimetable.class_id" ng-options="item.id as item.class_name for item in modalOptions.ClassList"  ng-change="modalOptions.classParams.where.class_id = modalOptions.addtimetable.class_id;modalOptions.getData(false, false,'division','divisionList', modalOptions.classParams, modalOptions)" required>
							<option value="">Select class</option>
						</select>
					<span class="help-block" ng-show="addtimetableform.class_name.$dirty && addtimetableform.class_name.$invalid">
					<span class="text-danger"  ng-show="addtimetableform.class_name.$error.pattern">Please Enter Valid Name</span>
					<span ng-show="(addtimetableform.class_name.$dirty)" class="text-danger">Please Enter Name only!</span>
					</span>
				</div>
		</div>
			
		 <div class="form-group" ng-if="modalOptions.divisionList && modalOptions.classParams.where.class_id">
			
				<label for="division" class="col-sm-2 control-label">Division * </label>
				<div class="col-sm-9">
					<select id="div_id" class="form-control" ng-model="modalOptions.addtimetable.div_id" ng-options="item.id as item.division_name for item in modalOptions.divisionList"  ng-change="modalOptions.classParams.where.div_id = modalOptions.addtimetable.div_id;modalOptions.getData(false, false,'subjects','subjectList', modalOptions.classParams, modalOptions)" required>
						<option value="">Select division</option>
					</select>
					<span class="help-block" ng-show="addtimetableform.div_id.$dirty && addtimetableform.div_id.$invalid">
					<span ng-show="addtimetableform.div_id.$error.required" class="text-danger">division no is required.</span>
					</span>	
				</div>
		</div>
	 
		
		<div class="form-group" ng-if="modalOptions.subjectList && modalOptions.classParams.where.div_id">
				<label for="subject" class="col-sm-2 control-label"> Subject * </label>
				<div class="col-sm-9">
					<select id="sub_id" class="form-control" ng-model="modalOptions.addtimetable.sub_id" ng-options="item.id as item.sub_name for item in modalOptions.subjectList" ng-change="modalOptions.classParams.where.sub_id=modalOptions.addtimetable.sub_id" required>
						<option value="">Select subject</option>
					</select>
					<span class="help-block" ng-show="addtimetableform.sub_id.$dirty && addtimetableform.sub_id.$invalid">
					<span ng-show="addtimetableform.sub_id.$error.required" class="text-danger">subject is required.</span>
					</span>	
				</div>
		</div>
	
		
		 <div class="form-group">
			<div ng-init="modalOptions.getData(false,false,'room','roomList', false, modalOptions)">
				<label for="room" class="col-sm-2 control-label"> Classroom * </label>
				<div class="col-sm-9">
					<select id="room_id" class="form-control" ng-model="modalOptions.addtimetable.room_id" ng-options="item.id as item.room_no for item in modalOptions.roomList"  required>
						<option value="">Select room</option>
					</select>
					<span class="help-block" ng-show="addtimetableform.room_id.$dirty && addtimetableform.room_id.$invalid">
					<span ng-show="addtimetableform.room_id.$error.required" class="text-danger">room no is required.</span>
					</span>	
				</div>
			</div>
		</div>
		
		 <div class="form-group">
			<div ng-init="modalOptions.getData(false,false,'staff','staffList', false, modalOptions)">
				<label for="class" class="col-sm-2 control-label">Staff * </label>
				<div class="col-sm-9">
					<select id="staff_id" class="form-control" ng-model="modalOptions.addtimetable.staff_id" ng-options="item.id as item.name for item in modalOptions.staffList" required>
						<option value="">Select staff</option>
					</select>
					<span class="help-block" ng-show="addtimetableform.staff_id.$dirty && addtimetableform.staff_id.$invalid">
					<span ng-show="addtimetableform.staff_id.$error.required" class="text-danger">staff name is required.</span>
					</span>	
				</div>
			</div>
		</div> 
		 <div class="form-group">
				<label for="day" class="col-sm-2 control-label">Select day*</label>
				<div class="col-sm-9">
						<select id="day" name="day" class="form-control" 
						ng-model="modalOptions.addtimetable.day"  required="required">
						<option value="" selected>Select day</option>
						<option value="sunday">Sunday</option>
						<option value="monday">Monday</option>
						<option value="Tuesday">Tuesday</option>
						<option value="Wednesday">Wednesday</option>
						<option value="Thursday">Thursday</option>
						<option value="Friday">Friday</option>
						<option value="saturday">saturday</option>
						</select >
						<span class="help-block" ng-show="addtimetableform.day.$dirty && addtimetableform.day.$invalid">
						<span ng-show="addtimetableform.day.$error.required"class="text-danger">Select  Day</span>
						</span>
				</div>
		</div> 
		
		 <div class="form-group">
				<label  for="date" class="col-sm-2 control-label">Date *</label>
				<div class="col-sm-6">
				<input type="text" class="form-control " placeholder="YYYY-DD-MM" id="date" name="date" ng-model="modalOptions.addtimetable.date"  ng-init="modalOptions.addtimetable.date=modalOptions.date"
				datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.addtimetable.date = modalOptions.date"  ng-required="true" close-text="Close" ng-click="opened = !opened"/>
			</div>  
		</div> 
			
			
		 <div class="form-group">
				<label for="time" class="col-sm-2 control-label">Time *</label>
					<div class="col-sm-3">
						<label for="time" class="col-sm-2 control-label">From</label>
						<input type="time" name="time" id="time" ng-model="modalOptions.addtimetable.timefrom" placeholder="Enter time" class="form-control" required>
						<span class="text-danger"  ng-show="addtimetableform.time.$error.pattern">Please enter valid time</span>
						<span class="help-block" ng-show="addtimetableform.time.$dirty && addtimetableform.time.$invalid">
							<span ng-show="addtimetableform.time.$error.required" class="text-danger">time is required.</span>
						</span> 
					</div>
					<div class="col-sm-3">
						<label for="time" class="col-sm-2 control-label">To</label>
						<input type="time" name="time" id="time" ng-model="modalOptions.addtimetable.timeto" placeholder="Enter time"  class="form-control" required>
						<span class="text-danger"  ng-show="addtimetableform.time.$error.pattern">Please enter valid time</span>
						<span class="help-block" ng-show="addtimetableform.time.$dirty && addtimetableform.time.$invalid">
							<span ng-show="addtimetableform.time.$error.required" class="text-danger">time is required.</span>
						</span> 
					</div>						
		</div> 
			
		<div classF="col-sm-offset-2 ">
				<button type="submit" class="btn btn-success" ng-if="!modalOptions.addtimetable.id" ng-disabled="addtimetableform.$invalid" ng-click="modalOptions.postData('timetable',modalOptions.addtimetable);modalOptions.ok()">Save</button>
				
				<button type="submit" class="btn btn-success" ng-if="modalOptions.addtimetable.id" ng-disabled="addtimetable.$invalid" ng-click="modalOptions.updateData('timetable',modalOptions.addtimetable);modalOptions.ok()">Update Timetable</button>
				
				<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
		</div>
		
	</form>
</div>

		
		
	
			

	