{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

{% autoescape false %}
{% include 'includes/header.html' ignore missing %}
{%if status == "error" %}
	{{message}}
{%elseif mobilestatus != "success" and emailstatus != "success" %}
	{% include 'loginuser.html' ignore missing %}

{% elseif mobilestatus == "success" and emailstatus == "success" and status == "success" %}

<main>
<h4> Add Your Business Here.</h4>
	<div class="row" ng-controller="businessController">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<form name="addbusinessForm" role="form" class="form-horizontal" ng-submit="addbusinessForm.$valid" novalidate="novalidate">
	<accordion close-others="oneAtATime">
		<accordion-group heading="Basic Information" is-open="status.isFirstOpen" >
			<!-- This block for current user id -->
			<div class="form-group">
				<label  for="business_name" class="col-sm-3 control-label">Organization/Firm Name *</label>
				<div class="col-sm-8">
					<input type="hidden" ng-model="addbusiness.created_date">
					<input type="text" ng-disabled="bizId" id="business_name" class="form-control" name="business_name" placeholder="Organization/Firm Name" ng-model="addbusiness.business_name" required>
					<span class="help-block" ng-show="addbusinessForm.business_name.$dirty && addbusinessForm.business_name.$invalid">
						<span ng-show="addbusinessForm.business_name.$error.required" class="text-danger">Organization Name is required.</span>
					</span>
				</div>						
			</div>
			<div class="form-group" >
				<label  for="business_logo" class="col-sm-3 control-label">Logo*</label>
				<div class="col-sm-9">
					<input type="file" id="business_logo" name="business_logo" ng-file-select ng-multiple="false"  ng-file-change="upload(business_logo,path,userInfo,'business_logo')" ng-model="business_logo" /> {{ '{{addbusiness.business_logo}}'}}
					
					<input type="hidden" ng-model="addbusiness.business_logo" required> <img ng-src="{{'{{addbusiness.business_logo.file_relative_path}}'}}"/>
				</div>
			</div>	

			<div class="form-group">
				<label for="category" class="col-sm-3 control-label" name="category" >Category *</label>
				<div class="col-sm-8">
					<select class="form-control" name="category" id="category"  ng-model="addbusiness.category" ng-change="getTypes(addbusiness.category)" required ng-options="item.id as item.category_name for item in businessCategories">		
						<option value="">Select Category</option>
					</select>
					<span class="help-block" ng-show="addbusinessForm.category.$dirty && addbusinessForm.category.$invalid">
					<span ng-show="addbusinessForm.category.$error.required" class="text-danger">Category is required.</span>
					</span>				
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="col-sm-3 control-label" name="type">Type *</label>
				<div class="col-sm-8">
					<select class="form-control" name="type" id="type"  ng-model="addbusiness.type" ng-change="getKeywords(addbusiness.type)" required ng-options="item.id as item.category_name for item in businessTypes">
						<option value="">Select Type</option>
					</select>
					<span class="help-block" ng-show="addbusinessForm.type.$dirty && addbusinessForm.type.$invalid">
					<span ng-show="addbusinessForm.type.$error.required" class="text-danger">Type is required.</span>
					</span>				
				</div>
			</div>	
			<div class="form-group">
				<label for="ownership" class="col-sm-3 control-label" name="ownership" >Ownership Type *</label>
				<div class="col-sm-8">
					<select class="form-control" name="ownership" id="ownership"  ng-model="addbusiness.ownership" required ng-model="addbusiness.ownership" required ng-options="item as item for item in biz.ownership">		
						<option value="">Select Ownership Type</option>
					</select>
					<span class="help-block" ng-show="addbusinessForm.ownership.$dirty && addbusinessForm.ownership.$invalid">
					<span ng-show="addbusinessForm.ownership.$error.required" class="text-danger">Ownership Type is required.</span>
					</span>				
				</div>
			</div>

			<div class="form-group">
				<label for="shortdescription" class="col-sm-3 control-label">Detailed Description *</br>
				<small>This will show on Website Home Page</small></label>
				<div class="col-sm-8">
					<textarea type="text" class="form-control" id="shortdescription" name="shortdescription" ng-model="addbusiness.business_info.description" cols="30" rows="4" ng-maxlength="5000" placeholder="Detailed Description of Company" ui-tinymce required></textarea>
						<p ng-hide="addbusinessForm.shortdescription.$error.maxlength">
							{{ 5000 - addbusiness.business_info.description.length + " Chars left"}} 
						</p>
						<span class="help-block" ng-show="addbusinessForm.shortdescription.$dirty && addbusinessForm.shortdescription.$invalid">
							<span class="text-danger" ng-show="addbusinessForm.shortdescription.$error.maxlength">Sorry You are Exceeding the Limit</span>
							<span ng-show="addbusinessForm.shortdescription.$error.required" class="text-danger">Detailed Description of company is required.</span>
						</span>		
				</div>
			</div>  
			<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-primary btn-sm" ng-click="status.open = !status.open">Next</button>
							
						</div>
					</div>	
		</accordion-group>
		<accordion-group heading="Contact US" is-open="status.open" >
			<div class="form-group">
					<label  for="contact_person" class="col-sm-3 control-label">Contact Person *</label>
					<div class="col-sm-8">
						<input type="text" id="contact_person" class="form-control" name="contact_person" placeholder="Contact Person" ng-model="addbusiness.contact_profile.contact_person" required >
						<span class="help-block" ng-show="addbusinessForm.contact_person.$dirty && addbusinessForm.contact_person.$invalid">
							<span ng-show="addbusinessForm.contact_person.$error.required" class="text-danger">Please Enter Name of Contact Person.</span>
						</span>
					</div>						
				</div>

					<div class="form-group" > 
						<label  for="contact_photo" class="col-sm-3 control-label">Person Photo</label>
						<div class="col-sm-9">
							<input type="file" id="contact_photo" name="contact_photo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="contact_photo">
							
								<file-preview url="contact_photo"></file-preview>
							
								<button ng-show="contact_photo" ng-click="upload(contact_photo,path,userInfo,'contact_photo')" type="button">Upload</button>
							
								<input type="hidden" ng-model="addbusiness.contact_profile.contact_photo">
							
						</div>
					</div>
										
					<div class="form-group">
						<label  for="Designation" class="col-sm-3 control-label">Designation/Job Title *</label>
						<div class="col-sm-8">
							<input type="text" id="Designation" class="form-control" name="Designation" placeholder="Designation/Job Title" ng-model="addbusiness.contact_profile.Designation" required >
							<span class="help-block" ng-show="addbusinessForm.Designation.$dirty && addbusinessForm.Designation.$invalid">
								<span ng-show="addbusinessForm.Designation.$error.required" class="text-danger">Designation Required.</span>
							</span>
						</div>						
					</div>

					<div class="form-group">
						<label for="address" class="col-sm-3 control-label">Address *</label>
						<div class="col-sm-8">
							<textarea type="text" class="form-control" id="address" name="address" ng-model="addbusiness.contact_profile.address" cols="30" rows="3" ng-maxlength="256" placeholder="Enter address"  required></textarea>
							<p ng-hide="addbusinessForm.address.$error.maxlength">
								{{ 256 - addbusiness.contact_profile.address.length + " Chars left" }}
							</p>
							<span class="help-block" ng-show="addbusinessForm.address.$dirty && addbusinessForm.address.$invalid">
								<span ng-show="addbusinessForm.address.$error.maxlength"class="text-danger">Sorry You are Exceeding the Limit</span>
								<span class="text-danger" ng-show="addbusinessForm.address.$error.required">Address is required.</span>
							</span>					
						</div> 
					</div>	
				
						<script type="text/ng-template" id="customTemplate.html">
							<a>
								<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
								<span><small> ({{match.model.area}} - {{match.model.pincode}})</small></span>
							</a>
						</script>
					<div class="form-group">
						<label for="location" class="col-sm-3 control-label">Location *</label>
						<div class="col-sm-8">
							<input typeahead-template-url="customTemplate.html" type="text" required name="location" id="location" ng-model="addbusiness.location" typeahead-on-select="getData($item)" placeholder="Location" typeahead="address.location for address in getTypeaheadData('locations','location', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control" autocomplete="off">
							<i ng-show="locationLoading" class="glyphicon glyphicon-refresh"></i>
								<span class="help-block" ng-show="addbusinessForm.location.$dirty && addbusinessForm.location.$invalid || addbusinessForm.location.$dirty && !addbusiness.location">
									<span class="text-danger" ng-show="addbusinessForm.location.$dirty && (addbusinessForm.location.$error.required || !addbusiness.location)">Location required.</span>
								</span>
						</div>						
					</div>
					<div class="form-group">
						<label for="area" class="col-sm-3 control-label">Area</label>
						<div class="col-sm-8">
							<input ng-disabled="readOnly" type="text" id="area" name="area" class="form-control" ng-model="addbusiness.area" placeholder="Enter area">
							<span class="help-block" ng-show="addbusinessForm.area.$dirty && addbusinessForm.area.$invalid">
								<span ng-show="addbusinessForm.area.$error.pattern && (addbusinessForm.area.$dirty || submitted)" class="text-danger">Enter Area</span>
								<span class="text-danger" ng-show="addbusinessForm.area.$error.minlength && (addbusinessForm.area.$dirty || submitted)">Enter correct Code.</span>
							</span>
						</div>						
					</div>			
					<div class="form-group">
						<label for="state" class="col-sm-3 control-label">State</label>
						<div class="col-sm-4">
						<input ng-disabled="readOnly" type="text" id="state" name="state" class="form-control" ng-model="addbusiness.state" placeholder="Enter state">
							<span class="help-block" ng-show="addbusinessForm.state.$dirty && addbusinessForm.state.$invalid">
								<span ng-show="addbusinessForm.state.$error.required" class="text-danger">State is required.</span>
							</span>				
						</div>
						<label for="state" class="col-sm-1 control-label">City</label>
						<div class="col-sm-3">
							<input type="text" required name="City" id="City" ng-model="addbusiness.city" placeholder="Enter Your City"  ng-disabled="readOnly" class="form-control" autocomplete="off">	
							<i ng-show="cityLoading" class="glyphicon glyphicon-refresh"></i>
							<span class="help-block" ng-show="addbusinessForm.City.$dirty && addbusinessForm.City.$invalid || addbusinessForm.City.$dirty && !addbusiness.City">
								<span ng-show="addbusinessForm.City.$error.required || addbusinessForm.City.$dirty && !addbusiness.city" class="text-danger">City is required.</span>
							</span>				
						</div>
					</div>
					<div class="form-group">
						<label for="Country" class="col-sm-3 control-label">Country</label>
						<div class="col-sm-8">
							<input type="text" required name="Country" id="Country" ng-model="addbusiness.country" placeholder="Enter Your Country" ng-disabled="readOnly" class="form-control" autocomplete="off">
							<span class="help-block" ng-show="addbusinessForm.Country.$dirty && addbusinessForm.Country.$invalid || addbusinessForm.Country.$dirty && !addbusiness.Country">
								<span ng-show="addbusinessForm.Country.$error.required || addbusinessForm.Country.$dirty && !addbusiness.Country" class="text-danger">Country is required.</span>
							</span>				
						</div>
					</div>					
					<div class="form-group">
						<label for="pincode" class="col-sm-3 control-label">Pin Code</label>
						<div class="col-sm-8">
							<input ng-disabled="readOnly" type="text" id="pincode" name="pincode" class="form-control" ng-model="addbusiness.pincode" placeholder="Enter Pin Code" ng-pattern="/^\d{0,8}[0-8]$/" maxlength="6"  ng-minlength="6">
							<span class="help-block" ng-show="addbusinessForm.pincode.$dirty && addbusinessForm.pincode.$invalid">
								<span ng-show="addbusinessForm.pincode.$error.pattern && (addbusinessForm.pincode.$dirty || submitted)" class="text-danger">Enter a valid ZIP Code</span>
								<span class="text-danger" ng-show="addbusinessForm.pincode.$error.minlength && (addbusinessForm.pincode.$dirty || submitted)">Enter Valid Length Of Zip Code.</span>
							</span>
						</div>						
					</div>
					
					<div class="form-group">
						<label for="mobile" class="col-sm-3 control-label">Mobile Number *</label>
						<div class="col-sm-8">
							<input type="text" id="mobile" name="mobile" class="form-control" ng-model="addbusiness.contact_profile.mobile" ng-init="addbusiness.contact_profile.mobile={{data.user_mobile}}" readOnly>
							
						</div>						
					</div>
					<div class="form-group">
						<label for="telephone" class="col-sm-3 control-label">Telephone</label>
						<div class="col-sm-8">
							<input type="text" id="telephone" name="telephone" class="form-control" ng-model="addbusiness.contact_profile.telephone" placeholder="Enter Telephone" ng-pattern="/\d{5}([- ]*)\d{6}/" maxlength="12"  ng-minlength="12">
							<span class="help-block" ng-show="addbusinessForm.telephone.$dirty && addbusinessForm.telephone.$invalid">
								<span ng-show="addbusinessForm.telephone.$error.pattern && (addbusinessForm.telephone.$dirty || submitted)" class="text-danger">Enter a valid Telephone</span>
								<span class="text-danger" ng-show="addbusinessForm.telephone.$error.minlength && (addbusinessForm.telephone.$dirty || submitted)">Enter Valid Length Of Telephone.</span>
							</span>
						</div>						
					</div>	
					<div class="form-group">
						<label  for="fax" class="col-sm-3 control-label">Fax</label>
						<div class="col-sm-8">
							<input type="text" id="fax" class="form-control" name="fax" ng-model="addbusiness.contact_profile.fax" ng-pattern="/^[0-8 \-\s \( \)]*$/" ng-minlength="6" maxlength="6" placeholder="Fax">
							<span class="help-block" ng-show="addbusinessForm.fax.$dirty && addbusinessForm.fax.$invalid">
								<span ng-show="addbusinessForm.fax.$error.pattern && (addbusinessForm.fax.$dirty || submitted)" class="text-danger">Enter a valid Fax</span>
								<span class="text-danger" ng-show="addbusinessForm.fax.$error.minlength && (addbusinessForm.fax.$dirty || submitted)">Enter Valid Length Of Fax.</span>
							</span>
						</div>						
					</div>
					<div class="form-group">	
						<label  for="email" class="col-sm-3 control-label">Email *</label>
						<div class="col-sm-8">
							<input type="Email" class="form-control" id="email" ng-model="addbusiness.contact_profile.email" ng-init="addbusiness.contact_profile.email='{{data.user_email}}'" readOnly>
							
						</div>
					</div>	
					<div class="form-group">	
						<label  for="alternate_email" class="col-sm-3 control-label">Alternate Email</label>
						<div class="col-sm-8">
							<input type="Email" class="form-control" id="alternate_email" ng-model="addbusiness.contact_profile.alternate_email" name="alternate_email" placeholder="Enter Alternate Email">
							<span class="help-block" ng-show="addbusinessForm.alternate_email.$dirty && addbusinessForm.alternate_email.$invalid">
							<span ng-show="addbusinessForm.alternate_email.$error.email" class="text-danger">Invalid Email address.</span>
							</span>
						</div>
					</div>	
					<div class="form-group">
						<label for="contact_website" class="col-sm-3 control-label">Website </label>
						<div class="col-sm-8">
							<input type="url" class="form-control" id="contact_website" ng-model="addbusiness.contact_profile.contact_website" name="contact_website" placeholder="Enter Website">
							<span class="help-block" ng-show="addbusinessForm.contact_website.$dirty &&addbusinessForm.contact_website.$invalid">
								<span ng-show="addbusinessForm.contact_website.$error.url" class="text-danger">Invalid Website.</span>
							</span>
							<span>e.g http://www.google.com</span>
						</div>						
					</div>	
					<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<button class="btn btn-success" ng-disabled="addbusinessForm.$invalid"  ng-click="postData(addbusiness)">Add Business</button>
								
							</div>
						</div> 	
		</accordion-group>
		</accordion>
	
		</form>	
	</div>
</main>
{% else %}
	{% include 'verified.html' ignore missing %}
{% endif %}
 {% endautoescape %}
{% endblock %}	
