{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

{% autoescape false %}
{% include 'includes/header.html' ignore missing %}
<main>
	<div class="row">
	
		<div class="col-md-12 col-xs-12" ng-controller="enquiryController">
			{% for x in data %}
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="media-heading "><a href="/{{x.category | replace({' ' : '-'})}}/{{x.type | replace({' ' : '-'})}}/{{x.business_name | replace({' ' : '-'})}}/{{x.id}}">{{x.business_name}}</a>
				<div class="verifyBiz pull-right" >
					<span ng-if="{{x.verified}}" tooltip="Business Verified"><img src="{{path}}img/verified.png"/></span>
					<span  ng-if="{{x.featured}}" tooltip="Featured Business"><img src="{{path}}img/feature.png"/></span>
					<button ng-click="openModel('includes/enquiryform.html', {{x.id}})" class="btn btn-primary" >Enquiry</button>
				</div>	</h3>
			 </div>
				<div class="panel-body">
					<div class="media" >
						<div class="media-left col-md-2">
							<a href="#"><img class="img-responsive" src="{{x.business_logo.file_relative_path}}">
							</a>
							<h4>Keywords</h4>
							<ul>
							{% for keyword in x.keywords %}
								<li><a href="/search/{{keyword | replace({' ' : '-'})}}">{{keyword}}</a></li>
							{% endfor %}
							</ul>
						</div>
						<div class="media-body col-md-5 table-responsive">
							<table class="table table-bordered">
								<tr><td>
									<abbr title="Website"><span class="glyphicon glyphicon-globe"></span> </abbr></td>
									<td><strong><a href="{{x.contact_profile.contact_website}}">{{x.contact_profile.contact_website}}</a></strong></td>
								</tr>
								<tr><td>
									<abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr></td>
									<td>{{x.contact_profile.mobile}}</td>
								</tr>
								<tr><td>
									<abbr title="Email ID"><span class="glyphicon glyphicon-envelope Email"></abbr></span> </td>
									<td><a href="{{x.contact_profile.email}}" >{{x.contact_profile.email}}</a></td>
								</tr>
									<td><abbr title="Address"> <span class="glyphicon glyphicon-home"></span></abbr></td>
									<td>
										<address>
										  Country :{{x.country}},<br>
										  State - {{x.state}},<br>
										   City : {{x.city}},<br>
											Location :{{x.location}},&nbsp&nbsp Area - {{x.area}},<br>
										  pincode : {{x.pincode}} 
										</address>
									</td>
								</tr>
							</table>
						</div>
						<div class="media-right col-md-5 ">
							<h4>Description</h4>
							<p>{{x.business_info.description |length >250 ?x.business_info.description|slice(start, 450)~ '...' : x.business_info.description}}</p>
							<a href="/{{x.category | replace({' ' : '-'})}}/{{x.type | replace({' ' : '-'})}}/{{x.business_name | replace({' ' : '-'})}}/{{x.id}}" class="btn btn-info">Read More..</a>
						</div>
					</div>
				</div>
			</div>
		 {% endfor %} 
		</div>
	</div>
</main>
{% endautoescape %}
{% endblock %}	


		
