{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {% include 'includes/header.html' ignore missing %}
{% endblock %}
{% block content %}

{% autoescape false %}

<main>
	<div class="row">
		<div class="col-md-12 col-xs-12" ng-controller="enquiryController">
			{% for x in data %}
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="media-heading "><a href="/{{x.city| replace({' ' : '-'})}}/{{x.category | replace({' ' : '-'})}}/{{x.type | replace({' ' : '-'})}}/{{x.business_name | replace({' ' : '-'})}}/{{x.id}}">{{x.business_name}}</a>
				<div class="verifyBiz pull-right" >
					{% if x.verified %}<span  tooltip="Business Verified"><img src="{{path}}img/verified.png"/></span>{% endif %}
					{% if x.featured %}<span  tooltip="Featured Business"><img src="{{path}}img/feature.png"/></span>{% endif %}
					<a class="btn btn-primary pull-right"  ng-click="openModel('{{path}}includes/enquiryform.html',{{x.id}},'{{x.business_name}}','{{x.contact_profile.email}}',{{x.user_id}},'{{x.category}}','{{x.type}}','{{x.keywords | join(',')}}')"><span class="glyphicon glyphicon-envelope"></span> Send Enquiry</a>
				</div>	</h3>
			 </div>
				<div class="panel-body">
					<div class="row">
					<div class="media" >
						<div class="media-left col-md-2 col-sm-12 col-xs-12 ">
							<a href="#"><img class="img-responsive" src="{{x.business_logo.file_relative_path}}">
							</a>
							{% if keywords %}
							<h4>Keywords</h4>
							<ul class="list-inline">
							{% for keyword in x.keywords %}
								<li><a href="/search/{{x.city| replace({' ' : '-'})}}/{{keyword | replace({' ' : '-'})}}">{{keyword}}</a></li>
							{% endfor %}
							{% endif %}
							</ul>
						</div>
						<div class="media-body col-md-5 col-sm-12 col-xs-12 table-responsive">
						
							<table class="table table-bordered">
							{% if x.contact_profile.contact_website %}
								<tr><td>
									<abbr title="Website"><span class="glyphicon glyphicon-globe"></span> </abbr></td>
									<td><strong><a href="{{x.contact_profile.contact_website}}">{{x.contact_profile.contact_website}}</a></strong></td>
								</tr>
							{% endif %}
							{% if x.contact_profile.mobile %}
								<tr><td>
									<abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr></td>
									<td>{{x.contact_profile.mobile}}</td>
								</tr>
							{% endif %}
							{% if x.contact_profile.email %}
								<tr><td>
									<abbr title="Email ID"><span class="glyphicon glyphicon-envelope Email"></abbr></span> </td>
									<td><a href="{{x.contact_profile.email}}" >{{x.contact_profile.email}}</a></td>
								</tr>
							{% endif %}
								<tr>
									<td><abbr title="Address"> <span class="glyphicon glyphicon-home"></span></abbr></td>
									<td>
										<address>
											Country :{{x.country}},<br>
											State - {{x.state}},<br>
											City : {{x.city}},<br>
											Location :{{x.location}},&nbsp&nbsp Area - {{x.area}},<br>
											pincode : {{x.pincode}} <br>
											{% if x.contact_profile.address %}  
											  Address : {{x.contact_profile.address}} 
											{% endif %}
										</address>
									</td>
								</tr>
							</table>
						
						</div>
						<div class="media-right col-md-5 col-sm-12 col-xs-12">
							<h4>Description</h4>
							<p>{{x.business_info.description |length >250 ?x.business_info.description|slice(start, 450)~ '...' : x.business_info.description}}</p>
							<a href="/{{x.city| replace({' ' : '-'})}}/{{x.category | replace({' ' : '-'})}}/{{x.type | replace({' ' : '-'})}}/{{x.business_name | replace({' ' : '-'})}}/{{x.id}}" class="btn btn-info">Read More..</a>
						</div>
					</div>
				</div>
				</div>
			</div>
		{% endfor %}
		<div class="text-center">
			{% include 'includes/pagger.html' ignore missing %}
		</div>
		
	</div>
	</div>
</main>
{% endautoescape %}
{% endblock %}	


		
