{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

{% autoescape false %}
	{% include 'includes/header.html' ignore missing %}
		<main >
			<h3> Popular Business Types</h3>
			<div class="row">
				{% for x in data %}
					<div class="col-md-3">
						<div class=" buztypes">
							<a href="#">
								<img class="media-object" src="{{path}}img/book.jpg" alt="Art gallery">
							</a>
							<h4 class="media-heading"><a href="/{{x.category  | replace({' ' : '-'}) }}/{{x.type  | replace({' ' : '-'})}}">{{x.type}}</a></h4>
						</div>
					</div>
				{% endfor %}
			</div>
		</main >
	{% endautoescape %}
{% endblock %}	


		
