{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {% include 'includes/header.html' ignore missing %}
{% endblock %}
{% block content %}
{% autoescape false %}
	
		<main>
			<div class="cat center-block text-center">
				<h3> Popular Business Types</h3>
				<div class="row">
					<div class="col-md-12 ">
							{% for x in data %}
								<div class="products " >
									<a href="/{{x.city| replace({' ' : '-'})}}/{{x.category  | replace({' ' : '-'}) }}/{{x.type  | replace({' ' : '-'})}}"><img src="{{path}}img/category/{{x.category_name}}/{{x.type_name}}.jpg" class="category center-block"/></a><br>
									<a class="catp" href="/{{x.city| replace({' ' : '-'})}}/{{x.category  | replace({' ' : '-'}) }}/{{x.type  | replace({' ' : '-'})}}">{{x.type_name}}</a>
								</div>
							{% endfor %}
					</div>
				</div>
			</div>
		</main >
	{% endautoescape %}
{% endblock %}	


		
