{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% autoescape false %}
<script type="text/ng-template" id="city.html">
    <a>
     <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
     <span>(<small bind-html-unsafe="match.model.area"></small>-<small bind-html-unsafe="match.model.pincode"></small>)</span>
    </a>
</script>
<script type="text/ng-template" id="search.html">
    <a>
     <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
     <span>(<small bind-html-unsafe="match.model.location"></small>-<small bind-html-unsafe="match.model.area"></small>)</span>
    </a>
</script>
	
<section  >
	<div class="home center-block" ng-controller="TypeaheadCtrl">
		<a href="#/"><img src="{{path}}img/logo.png" title="Apnasite Portal" class="center-block logo img-responsive" /></a>
		<div >
			<span ng-hide="isVisible" name="currentItem" id="currentItem" class="form-control-static" ng-click="isVisible = !isVisible" ng-init="isVisible = false" ng-bind="city"></span>
			<input typeahead-template-url="city.html" type="text" required name="location" id="location" ng-model="city" typeahead-on-select="getData($item); isVisible = false" placeholder="Search City" typeahead="address.city for address in getTypeaheadData('locations','city', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control cityBlock" autocomplete="off" ng-hide="!isVisible">
		</div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="input-group searchBlock">
					<input type="text" typeahead-template-url="search.html" required name="location" id="location" ng-model="keyword" typeahead-on-select="getSearchResult($item)" placeholder="Type to Search" typeahead="search.business_name for search in getSearchData($viewValue, city)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control " autocomplete="off">
					<span class="input-group-btn">
						<button class="btn btn-primary  form-control " type="button"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</div >
		</div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="text-center ">
					{% for x in data %}
						<div class="products " >
							<img src="{{path}}img/category/{{x.category }}.jpg" class="category"/><br>
							<a  class="catp" href="{{'{{city}}'}}/{{x.category | replace({' ' : '-'}) }}" >{{x.category}}</a>
						</div>
					{% endfor %}
				</div>
				<span class="showmore"><a href="#" >More</a></span>
			</div>
		</div>
	</div>
</section>
{% endautoescape %}
{% endblock %}


