{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% autoescape false %}
<script type="text/ng-template" id="city.html">
    <a>
     <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
     <span>(<small bind-html-unsafe="match.model.area"></small>-<small bind-html-unsafe="match.model.pincode"></small>)</span>
    </a>
</script>
<script type="text/ng-template" id="search.html">
    <a>
     <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
     <span>(<small bind-html-unsafe="match.model.location"></small>-<small bind-html-unsafe="match.model.area"></small>)</span>
    </a>
</script>
{% include 'includes/homeheader.html' ignore missing %}	
<section  >
	<div class="home center-block" ng-controller="TypeaheadCtrl">
		<a href="#/"><img src="{{path}}img/logo.png" title="Apnasite Portal" class="center-block logo img-responsive" /></a>
		<div class="form-group" >
			<div class="input-group col-md-4" ng-init="setCityName('{{city}}')">
				<span ng-hide="isVisible" name="currentItem" id="currentItem" class="form-control-static" ng-click="isVisible = !isVisible" ng-init="isVisible = false" ng-bind="city"></span>
				<input typeahead-template-url="city.html" type="text" required name="location" id="location" ng-model="city" typeahead-on-select="setCity(city,$item); isVisible = false" placeholder="Search City" typeahead="address.city for address in getTypeaheadData('locations','city', city, $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control cityBlock" autocomplete="off" ng-hide="!isVisible">
				<span class="input-group-btn" ng-hide="!isVisible">
					<button class="btn btn-warning" type="button" ng-click="isVisible = false"><span class="glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="input-group searchBlock">
					<input type="text" typeahead-template-url="search.html" required name="location" id="location" ng-model="keyword" typeahead-on-select="getSearchResult(city, $item)" placeholder="Type to Search" typeahead="search.business_name for search in getSearchData($viewValue, city)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control " autocomplete="off">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</div >
		</div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="text-center">
					{% for x in data %}
						<div class="products " >
							<a href="{{city| replace({' ' : '-'})}}/{{x.category | replace({' ' : '-'}) }}" ><img src="{{path}}img/category/{{x.category_name}}.jpg" class="category"/></a><br>
							<a  class="catp" href="{{city| replace({' ' : '-'})}}/{{x.category | replace({' ' : '-'}) }}" >{{x.category_name}}</a>
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>
</section>
{% endautoescape %}
{% endblock %}


