{% spaceless %}
<!DOCTYPE html>
<html >
	<head>
		 {% block head %}
		<title>{% block title %}{{title}}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{path}}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{path}}css/style.css">
		<meta name="fragment" content="!"/>
		<meta name="description" content="">
		<meta name="keywords" content="">
		 {% endblock %}
	</head>
	<body >
	
		<div class="container">
		{% block content %}
			
		{% endblock %}
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					{% block footer %}
						<p class="text-center">&copy copyright by  Wtouch India Solution Pune</p>
					{% endblock %}
					</div>
				</div>
			</div>
		</footer></div>
		<script data-main="{{path}}js/main" src="{{path}}lib/requirejs/require.js"></script>
	</body>
</html>
{% endspaceless %}

		
