{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% autoescape false %}
	{% include 'includes/header.html' ignore missing %}
	<main>
		<div class="row">
			<div class="col-md-12 ">
				<nav class="navbar navbar-default">
					<a class="navbar-brand" href="#"><img class="img-responsive" src="{{data.business_logo.file_relative_path}}"></a>
					<h2 class="text-center" >{{data.business_name}}</h2>
					<h6 class="text-center"><span class="glyphicon glyphicon-envelope Email">
					</span> <a href="{{data.contact_profile.email}}" >{{data.contact_profile.email}}</a>
					<span class="glyphicon glyphicon-earphone"></span>{{data.contact_profile.mobile}}
					<span class="glyphicon glyphicon-globe"></span>
					<a href="{{data.contact_profile.contact_website}}">{{data.contact_profile.contact_website}}</a></h6>
				</nav>
			</div>
		</div>
		<span ng-bind="id" ></span>
		<div class="row" ng-controller="aboutController">
			<div class="col-sm-2 sidebar boxborder" id="navbar-example">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active:id=='home'}" ng-click="makeActive('home')"><a href="#home">Home</a></li>
					<li ng-class="{active:id=='about'}" ng-click="makeActive('about')"><a href="#about">About Us</a></li>
					<li ng-class="{active:id=='products'}" ng-click="makeActive('products')"><a href="#products">Products</a></li>
					<li ng-class="{active:id=='services'}" ng-click="makeActive('services')"><a href="#services">Services</a></li>
					<li ng-class="{active:id=='testimonials'}" ng-click="makeActive('testimonials')"><a href="#testimonials">Testimonials</a></li>
					<li ng-class="{active:id=='activities'}" ng-click="makeActive('activities')"><a href="#activities">Activities</a></li>
					<li ng-class="{active:id=='contact'}" ng-click="makeActive('contact')"><a href="#contact">Contact Profile</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">
					{%if data.business_logo%}
						<img class="media-object img-responsive" src="{{data.contact_profile.contact_photo.file_relative_path}}" alt="profile picture"/>
					{%endif%}
						<h4> Business Information</h4>
						<ul>
							{% for key,value  in data.keywords %}
								<li><a href="/search/{{value}}">{{value}}</a></li>
							{% endfor %}
						</ul>
						<p><strong>Primary Business Type:</strong>
						{{data.business_profile.business_type}}</p>
						<p><strong>Year Of Establishment:</strong>
						{{data.business_profile.establishment}}</p>
						<p><strong>Number Of Employees:</strong>
						{{data.business_profile.no_of_employees}}</p>
						<p><strong>Ownership:</strong>
						{{data.ownership}}</p>
						<p><strong>Additional Business</strong>
							<ul>
								{% for s in data.business_profile.additional_business %}
									<li>{{s}}</li>
								{% endfor %}
							</ul>
						</p>
					</div>
				</div>
				<div ng-show="id=='about'" class="about" id="about">
					<div>
						<h2>About Us</h2>
						{{data.business_info.aboutDescription}}
					</div>
				</div>
				<div ng-show="id=='products'" class="products boxborder" id="products">
					<div class="row">
						<h2 class="text-center">Products</h2>
						{% for x in product %}
							<div class="col-sm-6 col-md-4 ">
								<div class="thumbnail productBox">
									{% for key, value in x.product_image %}
										<img class="img-responsive" src="{{value.file_relative_path}}" alt="{{key}}"/>
									{% endfor %}
									<div class="caption">
										<h3>{{ x.product_service_name }} </h3>
										<p>
										{{x.description|slice(start, 50)}}
										</p>
										<a href="product/{{x.id}}" class="btn btn-info">Read More..</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div ng-show="id=='services'" class="products boxborder" id="services">
					<div class="row">
						<h2 class="text-center">Services</h2>
						{% for x in service %}
							<div class="col-sm-6 col-md-4 ">
								<div class="thumbnail productBox">
									{% for key, value in x.product_image %}
										<img class="img-responsive" src="{{value.file_relative_path}}" alt="{{key}}"/>
									{% endfor %}
									<div class="caption">
										<h3>{{ x.product_service_name }} </h3>
										<p>
										{{x.description|slice(start, 50)}}
										</p>
										<a href="product/{{x.id}}" class="btn btn-info">Read More..</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div ng-show="id=='testimonials'" class="products boxborder" id="testimonials">
					<div class="row">
						<div class="col-md-12">
						<h2 class="text-center">Testimonials</h2>
						{% for key, value in data.testimonials if break == 0 %}
						<div class="panel panel-default">
							<div class="panel-body">
								<blockquote>
									<div class="media">
										<div class="media-left ">
											<a href="#">
												<img class="img-circle img-responsive" src="{{value.testimage.0.file_relative_path}}">
											</a>
										</div>
										<div class="media-body">
											<h3 class="media-heading">{{key}}</h3>
											<p>{{ value.description }}</p>
											<footer>by <cite title="{{key}}">{{key}}</cite></footer>
										</div>
									</div>
								</blockquote>
							</div>
						</div>
						{% endfor %}
					</div>
					</div>
				</div>
				<div ng-show="id=='contact'" class=" boxborder" id="contact">
				<h2 class="text-center">Contact us</h2>
					<div class="row">
						<div class="col-md-4">
							<h4>Name : {{data.contact_profile.contact_person}}</h4>
							<table class="table table-bordered">
								<tr><td><address><abbr title="Address"> <span class="glyphicon glyphicon-home"></span></abbr></td><td>
								
									Address: {{data.contact_profile.address}}<br>
									City :{{data.contact_profile.City}}<br>
									State :{{data.contact_profile.State}}<br>
									Country :{{data.contact_profile.Country}}<br>
									Pin Code : {{data.contact_profile.ZIP_Code}}
								</address>
								</td></tr>
									<tr>
										<td><b>Telephone</b></td>
										<td>{{data.contact_profile.telephone}}</td>
									</tr>
									<tr>
										<td><b>Mobile</b></td>
										<td>{{data.contact_profile.mobile}}</td>
									</tr>
									<tr>
										<td><b>E-mail Id</b></td>
										<td>{{data.contact_profile.email}}<br>
										{{data.contact_profile.alternate_email}}</td>
									</tr>
									<tr>
										<td><b>Website</b></td>
										<td><a href="#">{{data.contact_profile.contact_website}}</a>
										</td>
									</tr>
								</table>
						</div>
						<div class="col-sm-8 boxborder">
							
									<div class="alert alert-success" ng-show="mailSent==true" role="alert">Message has been sent!</div>
									<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-controller="enquiryController" novalidate>
										<h4 class="text-center">General Enquiry</h4>
										<div class="form-group">
											<div class="col-sm-12">
												<input type="hidden" class="form-control" id="user_id" ng-init="enquiry.user_id={{data.user_id}}" ng-model="enquiry.user_id" name="user_id">
												
												<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
												
												<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to='{{data.owner_email}}'">
												
												<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc='vilas@wtouch.in'">
										
												<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject">
												
												<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
													<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
											</div>	
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.from_email.from" required>
												<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
													<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
													<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
												</span>
											</div>
										</div>
										
										<div class="form-group">
											<div class="col-sm-12">
												<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
												<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
											</div>						
										</div>	
										<div class="form-group">
											<div class="col-sm-12">
												<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlength="2" ng-maxlength="356" required>
												</textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlength="2" ng-maxlength="356" required>
												</textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-6">
												<button type="submit" class="btn btn-primary pull-right" ng-click="postData(enquiry)" ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent">Send</button>
											</div>	
											<div class="col-sm-6">
												<button type="reset" class="btn btn-danger" title="Cancel Sending">Cancel</button>
											</div>
										</div>
									</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
  {% endautoescape %}
{% endblock %}	

