{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
	{% if data.google_map %}
	<script src="http://maps.googleapis.com/maps/api/js">
	</script>
	<script>
		function initialize() {
			var mapProp = {
				center:new google.maps.LatLng({{google_map.latitude}},{{google_map.longitude}}),
				zoom:18,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	<script type="text/ng-template" id="product.html">
		<div class="important row">
			<div class="media">
				<div class="media-left col-sm-3">
					<a href="#">
						{% for key, value in product.product_image %}
							<img class="img-responsive" src="{{value.file_relative_path}}">
						{% endfor %}
					</a>
				</div>
				<div class="media-body col-sm-9">
					<h2>{{ product.product_service_name }}</h2>
					<p class="media-heading">{{product.description}}</p>
				</div>
			</div> 
		</div>
	</script>
	{% endif %}
{% endblock %}
{% block content %}
{% autoescape false %}
	{% include 'includes/header.html' ignore missing %}
	
	<main>
		<div class="row">
			<div class="col-md-12" ng-controller="enquiryController">
				<nav class="navbar navbar-default">
					<a class="navbar-brand" href="#"><img class="img-responsive" src="{{data.business_logo.file_relative_path}}"></a>
					<h2 class="text-center" >{{data.business_name}}<a class="btn btn-primary pull-right"  ng-click="openModel('{{path}}includes/enquiryform.html',{{data.id}},'{{data.business_name}}','{{data.contact_profile.email}}',{{data.user_id}})">Get In Touch With Us</a></h2>
					<p class="text-center"><span class="glyphicon glyphicon-envelope Email">
					</span> <a href="{{data.contact_profile.email}}" >{{data.contact_profile.email}}</a>
					<span class="glyphicon glyphicon-earphone"></span>{{data.contact_profile.mobile}}
					<span class="glyphicon glyphicon-globe"></span>
					<a href="{{data.contact_profile.contact_website}}">{{data.contact_profile.contact_website}}</a>
					</p>
				</nav>
			</div>
		</div>
		<div class="row" ng-controller="aboutController">
			<div class="col-sm-2 sidebar " id="navbar-example">
				<ul class="nav nav-pills nav-stacked  border">
					<li ng-class="{active:id=='home'}" ng-click="makeActive('home')"><a href="#home">Home</a></li>
					<li ng-class="{active:id=='about'}" ng-click="makeActive('about')"><a href="#about">About Us</a></li>
						{% if product %}<li ng-class="{active:id=='products'}" ng-click="makeActive('products')"><a href="#products">Products</a></li>{% endif %}
						{% if service %}	
						<li ng-class="{active:id=='services'}" ng-click="makeActive('services')"><a href="#services">Services</a></li>{% endif %}
						
						<li ng-class="{active:id=='testimonials'}" ng-click="makeActive('testimonials')"><a href="#testimonials">Testimonials</a></li>
					
						<li ng-class="{active:id=='activities'}" ng-click="makeActive('activities')"><a href="#activities">Activities</a></li>
						<li ng-class="{active:id=='contact'}" ng-click="makeActive('contact')"><a href="#contact">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<div ng-show="id==''||id=='home'" class="home" id="home">
					<div class="panel panel-default">
						<div class="panel-body table-responsive">
							<table class="table table-striped">
								<tbody>
								<tr>
									<td rowspan="7"><img class="img-circle img-responsive" src="{{data.contact_profile.contact_photo.0.file_relative_path}}"></td>
								</tr>
								<tr>
									<td>
										<strong>Keywords</strong></td>
									<td>
										<ul>
											{% for key,value  in data.keywords %}
												<li><a href="/search/{{value}}">{{value}}</a></li>
											{% endfor %}
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										 <strong>Primary Business Type:</strong></td>
									<td>
										{{data.business_profile.business_type}}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Year Of Establishment:</strong></td>
									<td>
										{{data.business_profile.establishment}}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Number Of Employees:</strong></td>
									<td>
										{{data.business_profile.no_of_employees}}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Ownership:</strong></td>
									<td>
										{{data.ownership}}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Additional Business</strong></td>
									<td>
										<ul>
											{% for s in data.business_profile.additional_business %}
												<li>{{s}}</li>
											{% endfor %}
										</ul>
									</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>
				</div>
				<div ng-show="id=='about'" class="about" id="about">
					<div>
						<h2>About Us</h2>
						{{data.business_info.aboutDescription}}
					</div>
				</div>
				{% if product %}
				<div ng-show="id=='products'" class="product boxborder" id="products" >
					<div class="row">
						<h2 class="text-center">Products</h2>
						{% for x in product %}
							<div class="col-sm-6 col-md-4 ">
								<div class="thumbnail productBox">
									{% for key, value in x.product_image %}
										<img class="img-responsive " src="{{value.file_relative_path}}" alt="{{key}}"/>
									{% endfor %}
								</div>
								<div class="caption text-center">
									<h3 >{{ x.product_service_name }} </h3>
									<p>
									{{x.description|slice(start, 50)}}
									</p>
									<span ng-hide="isVisible" name="currentItem" id="currentItem" class="form-control-static" ng-click="isVisible = !isVisible" ng-init="isVisible = false" ng-bind="product"></span>
									<a class="btn btn-primary " href="#" typeahead-template-url="product.html">Read More..</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				
				{% endif %}
				<div class="clearfix"></div>
				{% if service %}
				<div ng-show="id=='services'" class="product boxborder" id="services">
					<div class="row">
						<h2 class="text-center">Services</h2>
						{% for x in service %}
							<div class="col-sm-12 col-md-4 ">
								<div class="thumbnail productBox">
									{% for key, value in x.product_image %}
										<img class="img-responsive prodimg" src="{{value.file_relative_path}}" alt="{{key}}"/>
									{% endfor %}
								</div>
								<div class="caption text-center">
									<h3>{{ x.product_service_name }} </h3>
									<p>
									{{x.description|slice(start, 50)}}
									</p>
									<a href="product/{{x.id}}" class="btn btn-info">Read More..</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				<div class="clearfix"></div>
				<div ng-show="id=='testimonials'" class="product boxborder" id="testimonials">
					<div class="row">
						<div class="col-md-12">
						<h2 class="text-center">Testimonials</h2>
						{% for key, value in data.testimonials if break == 0 %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="media">
									<div class="media-left ">
										<a href="#">
											<img class="img-circle img-responsive testm" src="{{value.image.0.file_relative_path}}">
										</a>
									</div>
									<div class="media-body">
										<table class="table table-bordered">
											<tr>
												<td colspan="2">
													<h3 class="media-heading"> {{key}}</h3>
												</td>
											</tr>
											<tr>
												<td >
													<strong>Title : </strong>
												</td>
												<td >
													{{value.title}}
												</td>
											</tr>
											<tr>
												<td >
													<strong>Date : </strong>
												</td>
												<td >
													{{value.date}}
												</td>
											</tr>
											<tr>
												<td >
													<strong>Testomonial Description :</strong>
												</td>
												<td >
													{{ value.description }}
												</td>
											</tr>
										</table>
										<footer class="text-center">by <cite title="{{key}}" >{{key}}</cite></footer>	
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div ng-show="id=='activities'" class="product boxborder" id="activities">
					<div class="row">
						<div class="col-md-12">
						<h2 class="text-center">Activities</h2>
						{% for key, value in data.news_coverage  %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="media">
									<div class="media-left ">
										<a href="#">
											<img class="img-circle img-responsive" src="{{value.image.0.file_relative_path}}">
										</a>
									</div>
									<div class="media-body ">
										<table class="table table-bordered">
											<tr>
												<td colspan="2">
													<h3 class="media-heading"> {{key}}</h3>
												</td>
											</tr>
											<tr>
												<td >
													<strong>Media Name : </strong>
												</td>
												<td >
													{{value.medianame}}
												</td>
											</tr>
											<tr>
												<td >
													<strong>Date : </strong>
												</td>
												<td >
													{{value.date}}
												</td>
											</tr>
											<tr>
												<td >
													<strong>Media Type :</strong>
												</td>
												<td >
													{{ value.mediatype }}
												</td>
											</tr>
											<tr>
												<td >
													<strong>News Details :</strong>
												</td>
												<td >
													{{ value.newsdetails }}
												</td>
											</tr>
										</table>
										
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div ng-show="id=='contact'" class=" boxborder" id="contact">
				<h2 class="text-center">Contact us</h2>
					<div class="row">
						<div class="col-md-4">
							<h4>Name : {{data.contact_profile.contact_person}}</h4>
							<table class="table table-bordered">
								<tr><td>
									<address><abbr title="Address"> <span class="glyphicon glyphicon-home"></span></abbr></td><td>
									
										Address: {{data.contact_profile.address}}<br>
										City :{{data.contact_profile.City}}<br>
										State :{{data.contact_profile.State}}<br>
										Country :{{data.contact_profile.Country}}<br>
										Pin Code : {{data.contact_profile.ZIP_Code}}
									</address>
								</td></tr>
									<tr>
										<td><b>Telephone</b></td>
										<td>{{data.contact_profile.telephone}}</td>
									</tr>
									<tr>
										<td><b>Mobile</b></td>
										<td>{{data.contact_profile.mobile}}</td>
									</tr>
									<tr>
										<td><b>E-mail Id</b></td>
										<td>{{data.contact_profile.email}}<br>
										{{data.contact_profile.alternate_email}}</td>
									</tr>
									<tr>
										<td><b>Website</b></td>
										<td><a href="#">{{data.contact_profile.contact_website}}</a>
										</td>
									</tr>
								</table>
						</div>
						<div class="col-sm-8 boxborder">
						{% if data.google_map %}
							<div id="googleMap"></div>
						{% else %}
							<div class="alert alert-success" ng-show="mailSent==true" role="alert">Message has been sent!</div>
							<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-controller="enquiryController" novalidate>
								<h4 class="text-center">General Enquiry</h4>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="hidden" class="form-control" id="user_id" ng-init="enquiry.user_id={{data.user_id}}" ng-model="enquiry.user_id" name="user_id">
										
										<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
										
										<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to='{{data.owner_email}}'">
										
										<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc='vilas@wtouch.in'">
								
										<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject" ng-init="enquiry.subject = '{{data.business_name}}'">
										
										<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
											<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
									</div>	
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.from_email.from" required>
										<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
											<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
											<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
										<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
									</div>						
								</div>	
								<div class="form-group">
									<div class="col-sm-12">
										<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlength="2" ng-maxlength="356" required>
										</textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlength="2" ng-maxlength="356" required>
										</textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<button type="submit" class="btn btn-primary pull-right" ng-click="postData(enquiry)" ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent">Send</button>
									</div>	
									<div class="col-sm-6">
										<button type="reset" class="btn btn-danger" title="Cancel Sending">Cancel</button>
									</div>
								</div>
							</form>
						{% endif %}	
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</main>
  {% endautoescape %}
{% endblock %}	

