{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% autoescape false %}
	{% include 'includes/header.html' ignore missing %}
	<main >
		{% for x in data %}
		<div class="row">
			<div class="col-md-12 ">
				<nav class="navbar navbar-default">
						<a class="navbar-brand" href="#"><img class="img-responsive" src="{{x.business_logo.file_relative_path}}"></a>
						
						<h2 class="text-center" >{{x.business_name}}</h2>
							<h6 class="text-center"><span class="glyphicon glyphicon-envelope Email">
							</span> <a href="{{x.contact_profile.email}}" >{{x.contact_profile.email}}</a>
							<span class="glyphicon glyphicon-earphone"></span>{{x.contact_profile.mobile}}
							<span class="glyphicon glyphicon-globe"></span>
							<a href="{{x.contact_profile.contact_website}}">{{x.contact_profile.contact_website}}</a></h6>
						
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				{% include 'includes/sidebar.html' ignore missing %}
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">
						<img class="media-object img-responsive" src="{{x.contact_profile.contact_photo.file_relative_path}}" alt="profile picture"/>
						<span>
							<h3> Business Information :</h3>
							<ul>
								{% for key,value  in x.keywords %}
									<li><a href="/search/{{value}}">{{value}}</a></li>
								{% endfor %}
							</ul>
							<h3> Business Description :</h3>
							<p>{{x.business_info.description}}
							
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</main>
  {% endautoescape %}
{% endblock %}	

