@colorblack:black;
@colorwhite:white;
@color1:#F2F2F2;
@color2:#B52B51;
@color3:#749E29;
@color4:#00A0A6;
@color5:#262b2b;

.header{
background-image:url('../img/parallax1.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.a2{
background-image:url('../img/img1.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.a4{
background-image:url('../img/img2.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.a6{
background-image:url('../img/img3.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.main{
background-color:@colorblack;
color:@colorwhite;
}
.main2{
margin-top: 80px;
background-image:url('../img/parallax3.jpg');
background-repeat:no-repeat;
background-size:cover;
padding-top:100px;
padding-bottom:50px;
}
.main3{
padding-top:40px;
}
.main4{
}
.clr-1{
color:@colorwhite;
}
h1 {
    font-size: 60px;
    line-height: 60px;
	}
h2 {
    font-size: 48px;
    line-height: 48px;
}
h3 {
    font-size: 42px;
    line-height: 42px;
	color:@colorblack;
}
h4{
    margin-top: 45px;
    font-size: 36px;
    line-height: 36px;
	}
h6{
    font-size: 20px;
    font-style: italic;
	margin-top: 55px;
	}
.bg-2 {
    background: @color1;
}	
.brand_name a{
color:@colorwhite;
font-size: 48px;
line-height: 65px;
}
#social_menu{
padding-top:50px;
}
#navmenu a{
    color: @colorwhite;
    font-size: 22px;
    padding-top: 30px;
}

.circle{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 20px 48px;
    background-color: @colorwhite;
}
.text-style_3 {
    font-size: 16px;
    line-height: 26px;
}
.btn-2 {
    font-size: 20px;
    border-radius: 5px;
    padding: 11px 26px;
    display: inline-block;
    border: 1px solid #c9c9c9;
    color: #262b2b;
    background: @colorwhite;
	margin-top: 40px;
}

.a{
	height:300px;
    padding-top: 112px;
	padding-left: 40px;
}

.a:nth-child(1){
    background: @color2;
}
.a:nth-child(3) {
    background: @color3;
}
.a:nth-child(5) {
    background: @color4;
}
.slice-wrap div span{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 34px;
    vertical-align: middle;
  }
.clr-secondary {
    color: #959595;
}
.text-style_2 {
    line-height: 28px;
}
p {
    margin-top: 25px;
}
.btn__skin1 {
	margin-top:50px;
    background: @colorwhite;
    color: @color5;
}
.btn {
	font-size: 20px;
	border-radius: 5px;
    padding: 11px 26px;
    display: inline-block;
   
}
span {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 34px;
}