<div class="modal-header" ng-init="modalOptions.getAccountConfig();modalOptions.getParty(modalOptions)">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3  ng-if="!modalOptions.addleave.id" class="text-center">Add Leaves</h3>
	<h3  ng-if="modalOptions.addleave.id" class="text-center" ng-init="modalOptions.totalCalculate(modalOptions)">Update Leaves</h3>
</div>

<div class="modal-body">
<form class="form-horizontal" name="addleaveForm" role="form" ng-submit="addleaveForm.$valid" novalidate="novalidate">
		
		     <input type="hidden" class="form-control" ng-model="modalOptions.addleave.user_id" ng-init="modalOptions.addleave.user_id = userDetails.id" readonly/>
			 
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Approved By *</label>
			<div class="col-sm-4">
				<input type="hidden" ng-model="modalOptions.addholiday.status" ng-init="modalOptions.addholiday.status = '1'">
				
				<input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addholiday.name"required>
				
				 <span class="text-danger"  ng-show="addholidayForm.name.$error.pattern">Required Field.</span>
				 
				<span class="help-block" ng-show="addholidayForm.name.$dirty && addholidayForm.name.$invalid">
				
				<span class="text-danger" ng-show="addholidayForm.name.$error.required">Name is required.</span>
				</span>
			</div>
			<label for="name" class="col-sm-1 control-label">Type*</label>
			<div class="col-sm-1">
				<input type="radio" name="type" value="paid">Paid
			</div>
			<div class="col-sm-2">
				<input type="radio" name="type" value="unpaid">Unpaid
			</div>
		
		</div>
		<div class="form-group">
			<label  for="date" class="col-sm-2 control-label">Date *</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input type="text" class="form-control " placeholder="Date" id="leave_date" name="leave_date" ng-model="modalOptions.addleave.leave_date"datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.addleave.leave_date = modalOptions.date"  ng-required="true" close-text="Close" ng-click="opened = !opened" ng-change="modalOptions.setDate(modalOptions.addleave.leave_date,10); modalOptions.sqlDateFormat(modalOptions.addleave.leave_date, modalOptions.addleave.leave_date)"/>	
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<label for="select type" class="col-sm-1 control-label">Staff*</label>
				<div class="col-sm-4">
						<select id="staff_type" name="staff_type" class="form-control" 
						ng-model="modalOptions.addleave.staff_type">
						<option value="" selected>--Select Staff Id--</option>
						<option value="Developer">Developer</option>
						<option value="Tester">Tester</option>
						<option value="Designer">Designer</option>
						</select>
				</div>
		</div>
	
					
		<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Reason</label>
			<div class="col-sm-4">
				<textarea class="form-control" id="reason" name="reason" ng-model="modalOptions.addleave.reason" ng-maxlength="250" placeholder="reason" required></textarea>
				<span ng-hide="addleaveForm.reason.$error.maxlength">
					{{ 250 - modalOptions.addleave.reason.length + " Chars left" }}
				</span>	
				 <span class="help-block" ng-show="addleaveForm.reason.$dirty && addleaveForm.reason.$invalid">
					<span class="text-danger" ng-show="addleaveForm.reason.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="addleaveForm.reason.$error.required" class="text-danger">Required Field</span>
				</span>
			</div>
			<label for="select type" class="col-sm-1 control-label">Status*</label>
			<div class="col-sm-4">
					<select id="status" name="status" class="form-control" 
					ng-model="modalOptions.addleave.status">
					<option value="" selected>select Status</option>
					<option value="1">APPROVED</option>
					<option value="0">REJECTED</option>
					</select>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Leave for*</label>
		
			<div class="col-sm-2">
				<input type="radio" name="type" value="0.5" checked>Half Day
					</div>
			<div class="col-sm-2">
				<input type="radio" name="type" value="1">Full Day
					</div>
			<div class="col-sm-2">
				<input type="radio" name="type" value="">No of Days
			</div>
		</div>
</form>	
</div>
<div class="modal-footer">
	
	<button type="submit" class="btn btn-success" ng-if="!modalOptions.addleave.id" ng-disabled="addstaffForm.$invalid" ng-click="modalOptions.postData('leave',modalOptions.addleave);modalOptions.ok()">Add Leave</button>
					
	<button type="submit" ng-if="modalOptions.addleave.id" class="btn btn-success" ng-disabled="addstaffForm.$invalid" ng-click="modalOptions.updateData('leave',modalOptions.addleave,modalOptions.addleave.id);modalOptions.ok()">Update Leave</button>

	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>
</div>
	