<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3  ng-if="!modalOptions.addstaff.id" class="text-center">Add Staff</h3>
	<h3  ng-if="modalOptions.addstaff.id" class="text-center">Update Staff</h3>
</div>
	<ul class="nav nav-tabs">			
		<li role="presentation" ng-class="{active: modalOptions.formPart=='personalDetails'}">
			<a ng-click="modalOptions.showFormPart('personalDetails', modalOptions)">Personal Details</a>
		</li>	
		<li role="presentation" ng-class="{active: modalOptions.formPart=='officialDetails'}">
			<a ng-click="modalOptions.showFormPart('officialDetails', modalOptions)">Official Details</a>
		</li>
	</ul>
		<ng-include  ng-show="modalOptions.formPart=='personalDetails'" 	src="'modules/inventory/staff/personalDetails.html'">
		</ng-include> 
		<ng-include  ng-show="modalOptions.formPart=='officialDetails'" src="'modules/inventory/staff/officialDetails.html'">
		</ng-include> 



