<div class="form-group">
	<label for="name" class="col-sm-2 control-label">Name *</label>
	<div class="col-sm-9">
		<input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.name"required>
		 <span class="text-danger"  ng-show="addstaffForm.name.$error.pattern">Required Field.</span>
		<span class="help-block" ng-show="addstaffForm.name.$dirty && addstaffForm.name.$invalid">
			<span class="text-danger" ng-show="addstaffForm.name.$error.required">Name is required.</span>
		</span>
	</div>
</div>
<div class="form-group">
	<label for="surname" class="col-sm-2 control-label">Surname *</label>
	<div class="col-sm-9">
		<input type="text" id="surname" class="form-control" name="surname" placeholder="Surname" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.surname"required>
		 <span class="text-danger"  ng-show="addstaffForm.surname.$error.pattern">Required Field.</span>
		<span class="help-block" ng-show="addstaffForm.surname.$dirty && addstaffForm.surname.$invalid">
			<span class="text-danger" ng-show="addstaffForm.surname.$error.required">Name is required.</span>
		</span>
	</div>
</div>
<div class="form-group">	
	<label  for="email" class="col-sm-2 control-label">Email *</label>
	<div class="col-sm-9">
		<input type="Email" class="form-control" id="email" ng-model="modalOptions.addstaff.email" name="email" placeholder="Enter Email" ng-blur="checkuserAvailable('email', addstaff.email)" required >
		<span class="help-block">
			<span class="text-success" ng-show="addstaffForm.email.$dirty && addstaffForm.email.$valid && EmailAvailable">{{availabilityMsg}}</span>
		</span>
		
		<span class="help-block" ng-show="addstaffForm.email.$dirty && addstaffForm.email.$invalid || EmailAvailable == false">
			<span class="text-danger" ng-show="addstaffForm.email.$dirty && EmailAvailable == false">{{availabilityMsg}}</span>
			<span class="text-danger" ng-show="addstaffForm.email.$error.required">Required Field.</span>
			<span class="text-danger" ng-show="addstaffForm.email.$error.email">Invalid Email address.</span>
		</span>
	</div>
</div> 
<div class="form-group">
	<label for="phone" class="col-sm-2 control-label">Phone *</label>
	<div class="col-sm-9">
		<input type="text" id="phone" name="phone" class="form-control" ng-model="modalOptions.addstaff.phone" placeholder="Enter your Phone Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
		<span class="help-block" ng-show="addstaffForm.phone.$dirty && addstaffForm.phone.$invalid">
			<span ng-show="addstaffForm.phone.$error.required" class="text-danger">Required Field.</span>
			<span class="text-danger" ng-show="addstaffForm.phone.$error.pattern && (addstaffForm.phone.$dirty)">Enter a valid Contact Number</span>
		</span>
	</div>						
</div>
<div class="form-group">
	<label for="marital_status" class="col-sm-2 control-label">Marital status*</label>
	<div class="radio col-sm-2">
	<label><input type="radio" name="marital_status" value="0" checked ng-model="modalOptions.addstaff.marital_status" >Single</label>
	</div>
	<div class="radio col-sm-2">
	<label><input type="radio" name="marital_status" value="1" ng-model="modalOptions.addstaff.marital_status">Married</label>
	</div>
</div> 
<div class="form-group">
	<label for="address" class="col-sm-2 control-label">Address *</label>
	<div class="col-sm-9">
		<textarea  class="form-control" id="address" ng-model="modalOptions.addstaff.address" name="address" placeholder="Enter address" ng-maxlength="250" required></textarea>
		<span class="text-danger"  ng-show="addstaffForm.address.$error.pattern">please Enter Valid Address</span>
		<span ng-hide="addstaffForm.address.$error.maxlength">{{ 250 - modalOptions.addstaff.address.length + " Chars left"}}</span>
		<span class="help-block" ng-show="addstaffForm.address.$dirty &&  addstaffForm.address.$invalid">
			<span class="text-danger" ng-show="addstaffForm.address.$error.maxlength">Sorry You are Exceeding the Limit</span>
			<span class="text-danger" ng-show="addstaffForm.address.$error.required">Required Field.</span>
		</span>
	</div>
</div>
			
<div class="form-group">
	<label for="location" class="col-sm-2 control-label">Location *</label>
		<div class="col-sm-9">
			<input type="text" name="location" id="location" ng-model="modalOptions.addstaff.location" placeholder="Enter your location" ng-pattern="/^[a-zA-Z0-9]*$/" class="form-control" required>
			<span class="text-danger"  ng-show="addstaffForm.location.$error.pattern">please Enter Valid Location</span>
			<span class="help-block" ng-show="addstaffForm.location.$dirty && addstaffForm.location.$invalid">
				<span ng-show="addstaffForm.location.$error.required" class="text-danger">Required Field.</span>
			</span>
		</div>						
</div> 
			
<div class="form-group">
	<label for="area" class="col-sm-2 control-label">Area *</label>
	<div class="col-sm-9">
		<input type="text" id="area" name="area" class="form-control" ng-model="modalOptions.addstaff.area" placeholder="Enter area" ng-pattern="/^[a-zA-Z0-9- -]*$/" required>
		<span class="text-danger"  ng-show="addstaffForm.area.$error.pattern">please Enter Valid Area</span>
		<span class="help-block" ng-show="addstaffForm.area.$dirty && addstaffForm.area.$invalid">
		<span ng-show="addstaffForm.area.$error.required" class="text-danger">Required Field.</span>					
		</span>
	</div>						
</div>			
			
<div class="form-group">
	<label for="city" class="col-sm-2 control-label">City *</label>
	<div class="col-sm-4" >
		<input type="text" id="city" name="city" class="form-control" ng-model="modalOptions.addstaff.city" placeholder="Enter city" ng-pattern="/^[a-zA-Z]*$/" required>
		<span class="text-danger"  ng-show="addstaffForm.city.$error.pattern">please Enter Valid City</span>
		<span class="help-block" ng-show="addstaffForm.city.$dirty && addstaffForm.state.$invalid">
			<span ng-show="addstaffForm.city.$error.required" class="text-danger">Required Field.</span>
		</span>						
	</div>
	<label for="state" class="col-sm-1 control-label">State *</label>
	<div class="col-sm-4">
	<input type="text" id="state" name="state" class="form-control" ng-model="modalOptions.addstaff.state" placeholder="Enter state" ng-pattern="/^[a-zA-Z]*$/" required>
	<span class="text-danger"  ng-show="addstaffForm.state.$error.pattern">please Enter Valid state</span>
		<span class="help-block" ng-show="addstaffForm.state.$dirty && addstaffForm.state.$invalid">
			<span ng-show="addstaffForm.state.$error.required" class="text-danger">Required Field.</span>
		</span>				
	</div>
</div>
<div class="form-group">
	<label for="country" class="col-sm-2 control-label">Country *</label>
	<div class="col-sm-9">
		<input type="text" required name="country" class="form-control" id="country" ng-model="modalOptions.addstaff.country" placeholder="Enter Your country" ng-pattern="/^[a-zA-Z]*$/" required>
		<span class="text-danger"  ng-show="addstaffForm.country.$error.pattern">please Enter Valid country</span>
		<span class="help-block" ng-show="addstaffForm.country.$dirty && addstaffForm.country.$invalid">
			<span ng-show="addstaffForm.country.$error.required"class="text-danger">Required Field.</span>
		</span>				
	</div>
</div>	
<div class="form-group">
	<label for="pincode" class="col-sm-2 control-label">Pincode *</label>
	<div class="col-sm-9">
		<input type="text" id="pincode" name="pincode" class="form-control" ng-model="modalOptions.addstaff.pincode" placeholder="Enter pincode " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" required>
		<span class="help-block" ng-show="addstaffForm.pincode.$dirty && addstaffForm.pincode.$invalid">
			<span ng-show="addstaffForm.pincode.$error.pattern && (addstaffForm.pincode.$dirty || submitted)" class="text-danger">please enter number</span>
		</span>
	</div>						
</div>