<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	<h3 class="text-center">Pay Salary</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="paysalaryForm" role="form" ng-submit="paysalaryForm.$valid" novalidate="novalidate">
		<div class="form-group">
			<label for="account" class="col-sm-2 control-label">Account Name*</label>
			<div class="col-sm-9">
				<select id="account" class="form-control" ng-change="modalOptions.getBalance(modalOptions.paysalary.account_id, modalOptions)" ng-init="modalOptions.getData(false,false,'account','accountList', false, modalOptions)" ng-options="item.id as item.account_name for item in modalOptions.accountList" ng-model="modalOptions.paysalary.account_id" required>
				<option value="">Select Account</option>
				</select>
				<span class="help-block" ng-show="paysalaryForm.account.$dirty && paysalaryForm.account.$invalid">
					<span ng-show="paysalaryForm.account.$error.required" class="text-danger">Required field.</span>
				</span>	
			</div>
		</div>
		<div class="form-group" ng-if="modalOptions.previous_balance">
			<label for="previous_amount" class="col-sm-2 control-label">Previous Amount</label>
			<div class="col-sm-9">
				<input type="text" ng-model="modalOptions.previous_balance" id="balance" name="balance" readonly class="form-control"/>			
			</div>
		</div>
			<div class="form-group">
					<label for="salary" class="col-sm-2 control-label">Gross Salary</label>
					<div class="col-sm-9">
						<input ng-disabled="readOnly" type="text" id="salary" name="salary" class="form-control" ng-model="modalOptions.paysalary.salary" placeholder="Enter Gross Salary " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.salary.$dirty && paysalaryForm.salary.$invalid">
							<span ng-show="paysalaryForm.salary.$error.pattern && (paysalaryForm.salary.$dirty || submitted)" class="text-danger">Please enter number</span>
						</span>
					</div>
			</div>
			<div class="form-group">
					<label for="working_day" class="col-sm-2 control-label">Working Days</label>
					<div class="col-sm-9">
						<input ng-disabled="readOnly" type="text" id="working_day" name="working_day" class="form-control" ng-model="modalOptions.paysalary.working_day" placeholder="Enter Working Days" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.working_day.$dirty && paysalaryForm.working_day.$invalid">
							<span ng-show="paysalaryForm.working_day.$error.pattern && (paysalaryForm.working_day.$dirty || submitted)" class="text-danger">Please enter number</span>
						</span>
					</div>						
			</div>
			<div class="form-group">
					<label for="paid_leaves" class="col-sm-2 control-label">Paid Leaves</label>
					<div class="col-sm-9">
						<input ng-disabled="readOnly" type="text" id="paid_leaves" name="paid_leaves" class="form-control" ng-model="modalOptions.paysalary.paid_leaves" placeholder="Enter Paid" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.paid_leaves.$dirty && paysalaryForm.paid_leaves.$invalid">
							<span ng-show="paysalaryForm.paid_leaves.$error.pattern && (paysalaryForm.paid_leaves.$dirty || submitted)" class="text-danger">Please enter number</span>
						</span>
					</div>						
			</div>
			
			<div class="form-group" ng-init="modalOptions.getData(false, false,'saffleaves','staffleavesList', modalOptions.staffleavesParams, modalOptions)">
				<label for="unpaid_leaves" class="col-sm-2 control-label">Unpaid Leaves</label>
					<div class="col-sm-9">
						<input type="text" id="unpaid_leaves" name="unpaid_leaves" class="form-control" ng-model="modalOptions.staffleavesList.type" placeholder="Enter Unpaid" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" ng-change="modalOptions.payableDays(modalOptions)" required>
						<span class="help-block" ng-show="paysalaryForm.unpaid_leaves.$dirty && paysalaryForm.unpaid_leaves.$invalid">
							<span ng-show="paysalaryForm.unpaid_leaves.$error.pattern && (paysalaryForm.unpaid_leaves.$dirty || submitted)" class="text-danger">Please enter number</span>
						</span>
					</div>						
			</div>
			
			<div class="form-group">
				<label for="payable_day" class="col-sm-2 control-label">Payable Days</label>
				<div class="col-sm-9">
					<input type="text" id="payable_day" name="payable_day" class="form-control" ng-model="modalOptions.paysalary.payable_day" placeholder="Enter Payable days" ng-pattern="/^\d{0,9}[0-9]$/"  maxlength="10" required>
					<span class="help-block" ng-show="paysalaryForm.payable_day.$dirty && paysalaryForm.payable_day.$invalid">
						<span ng-show="paysalaryForm.payable_day.$error.pattern && (paysalaryForm.payable_day.$dirty || submitted)" class="text-danger">Please enter number</span>
					</span>
				</div>						
			</div>
			
			<div class="form-group">
					<label for="cms" class="col-sm-2 control-label">Current Month Salary</label>
					<div class="col-sm-9">
						<input type="text" id="cms" name="cms" class="form-control" ng-model="modalOptions.paysalary.cms" placeholder="Current  month salary" required>
						<span class="help-block"ng-show="paysalaryForm.cms.$dirty && paysalaryForm.cms.$invalid">
							<span ng-show="paysalaryForm.cms.$error.pattern && (paysalaryForm.cms.$dirty || submitted)" class="text-danger">Please enter number</span>
						</span>
					</div>						
			</div>
			<div class="form-group">
				<label class="col-sm-2">Earning Salary</label>
				<div class="col-sm-4">
					<table class="table table-hover table-responsive table-bordered">
						<tr>
							<th>Basic</th>
							<td>{{modalOptions.paysalary.basic.toFixed(2)}}</td>
						</tr>
						<tr>
							<th>DA</th>
							<td>{{modalOptions.paysalary.da.toFixed(2)}}</td>
						</tr>
						<tr>
							<th>HRA</th>
							<td>{{modalOptions.paysalary.hra.toFixed(2)}}</td>
						</tr>
						<tr>
							<th>CCA</th>
							<td>{{modalOptions.paysalary.cca.toFixed(2)}}</td>
						</tr>
						<tr>
							<th>Conveyance</th>
							<td>{{modalOptions.paysalary.conveyance }}</td>
						</tr>
						<tr>
							<th>Gross</th>
							<td>{{modalOptions.paysalary.total.toFixed(2)}}</td>
						</tr>
					</table>
				</div>
				<label class="col-sm-1">Deduction Salary</label>
				<div class="col-sm-4">
					<table class="table table-hover table-responsive table-bordered">
						<tr>
							<th>PF</th>
							<td>{{modalOptions.paysalary.pf.toFixed(2)}} <input type="hidden" ng-model="modalOptions.paysalary.pf.toFixed(2)"/></td>
						</tr>
						<tr>
							<th>ESIC</th>
							<td>{{modalOptions.paysalary.esic.toFixed(2)}}</td>
						</tr>
						<tr>
							<th>PT</th>
							<td>{{modalOptions.paysalary.pt.toFixed(2)}}</td>
						</tr>
						<tr>
							<th>TOTAL DEDUCTION</th><!-- {{td}} -->
							<td>{{(modalOptions.paysalary.pf + modalOptions.paysalary.esic + modalOptions.paysalary.pt).toFixed(2)}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label for="nsp" class="col-sm-2 control-label">Net Salary Payable</label>
				<div class="col-sm-9">
					<input type="text" id="nsp" name="nsp" class="form-control" ng-model="modalOptions.paysalary.nsp" placeholder=""  maxlength="10" readOnly required>
					<span class="help-block" ng-show="paysalaryForm.nsp.$dirty && paysalaryForm.nsp.$invalid">
					</span>
				</div>						
			</div>
	</form>
</div>
<div class="modal-footer row">
	<div class="col-sm-12">
		<button type="submit" class="btn btn-success" ng-disabled="paysalaryForm.$invalid"ng-click="modalOptions.postData('transaction',modalOptions.paysalary); modalOptions.ok()">Submit</button>
		<button type="reset" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
	</div>
</div>	
