<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3  ng-if="!modalOptions.staffpayment.id" class="text-center">Staff Payment</h3>
	<h3  ng-if="modalOptions.staffpayment.id" class="text-center" ng-init="modalOptions.totalCalculate(modalOptions)">Update Staff Payment</h3>
</div>

<div class="modal-body">
<form class="form-horizontal" name="staffpaymentForm" role="form" ng-submit="addleaveForm.$valid" novalidate="novalidate">
{{modalOptions.staffpayment}}
		<div class="form-group">
			<label for="select type" class="col-sm-2 control-label">Staff transaction*</label>
			<div class="col-sm-4">
					<select id="salary_type" name="salary_type" class="form-control" 
					ng-model="modalOptions.staffpayment.type">
					<option value="" selected>select type</option>
					<option value="staff_credit">Pay by Staff</option>
					<option value="staff_debit">Pay for Staff</option>
					</select>
			
			</div>
			<label  for="date" class="col-sm-1 control-label">Date *</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input type="text" class="form-control " placeholder="Date" id="attend_date" name="attend_date" ng-model="modalOptions.staffpayment.date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.staffpayment.date = modalOptions.staffpaymentdate"  ng-required="true" close-text="Close" ng-click="opened = !opened" ng-change="modalOptions.setDate(modalOptions.addleave.leave_date,10); modalOptions.sqlDateFormat(modalOptions.addleave.leave_date, modalOptions.addleave.leave_date)"/>	
					
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		
		</div>
</form>	

<form name="staffpaymentForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="staffpaymentForm.$valid" ng-if="modalOptions.staffpayment.type=='staff_debit'"> 
		<div class="form-group">
			<div ng-init="modalOptions.getData(false,false,'staff','staffList', staffParams, modalOptions)">
				<label for="staff_id" class="col-sm-2 control-label"> Select Staff* </label>
				<div class="col-sm-4">
					<select id="staff_id" class="form-control" ng-model="modalOptions.staffpayment.staff_id" ng-options="item.id as item.name for item in modalOptions.staffList">
						<option value="">Select Staff</option>
						<option value="1">1</option>
					</select>
					<span class="help-block" ng-show="staffpaymentForm.staff_id.$dirty && staffpaymentForm.staff_id.$invalid">
					<span ng-show="staffpaymentForm.staff_id.$error.required" class="text-danger">user name is required.</span>
					</span>	
				</div>
				<label for="category" class="col-sm-1 control-label">Category</label>
				<div class="col-sm-4">
					<select id="category" class="form-control" ng-model="modalOptions.staffpayment.category" ng-options="item.system_name as item.name for item in modalOptions.Category.staff.debit">
					<option value="" selected>Category</option>
					</select>
				</div>
				<span class="help-block" ng-show="staffpaymentForm.category.$dirty && staffpaymentForm.category.$invalid">
					<span ng-show="staffpaymentForm.category.$error.required" class="text-danger">Required field.</span>
				</span>	
			</div>
		</div>
		<div class="form-group">
			<label for="account" class="col-sm-2 control-label">Account Name*</label>
			<div class="col-sm-9">
				<select id="account" class="form-control" ng-change="modalOptions.getBalance(modalOptions.staffpayment.account_id, modalOptions)" ng-init="modalOptions.getData(false,false,'account','accountList', false, modalOptions)" ng-options="item.id as item.account_name for item in modalOptions.accountList" ng-model="modalOptions.staffpayment.account_id" >
				<option value="">Select Account</option>
				</select>
				<span class="help-block" ng-show="staffpaymentForm.account.$dirty && staffpaymentForm.account.$invalid">
					<span ng-show="staffpaymentForm.account.$error.required" class="text-danger">required field.</span>
				</span>	
			</div>
		</div>
		<div class="form-group" ng-if="modalOptions.previous_balance">
			<label for="previous_amount" class="col-sm-2 control-label">Previous Amount</label>
			<div class="col-sm-9">
				<input type="text" ng-model="modalOptions.previous_balance" id="balance" name="balance" readonly class="form-control"/>			
			</div>
		</div>
		<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
						<select id="payment_type" class="form-control" name="payment_type"  ng-model="modalOptions.staffpayment.payment_type.type" required>
						<option value="" selected>Select Type</option>
						<option value="Cash" >Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Net Banking">Net Banking</option>
						<option value="DD">DD</option>
						</select>
						<span class="help-block" ng-show="staffpaymentForm.payment_type.$dirty && staffpaymentForm.payment_type.$invalid">
							<span ng-show="staffpaymentForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
						</span>	
					</div>
			</div> 

			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Net Banking'"class="col-sm-2 control-label">Transaction No</label>
				<label for="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque'" class="col-sm-2 control-label">Check No</label>
				<label for="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'DD'" class="col-sm-2 control-label">DD No</label>
					<div class="col-sm-9">
						<input type="text" id="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Net Banking'" ng-model="modalOptions.staffpayment.payment_type.transaction_No" class="form-control" name="refferance_no"   placeholder="Enter Transaction No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="staffpaymentForm.refferance_no.$dirty && staffpaymentForm.refferance_no.$invalid">
							<span ng-show="staffpaymentForm.refferance_no.$error.required" class="text-danger">Ref No is required.</span>
							<span ng-show="staffpaymentForm.refferance_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
						<input type="text" id="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque'" ng-model="modalOptions.staffpayment.payment_type.check_no" class="form-control" name="cheque_no"   placeholder="Enter Check No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="staffpaymentForm.cheque_no.$dirty && staffpaymentForm.cheque_no.$invalid">
							<span ng-show="staffpaymentForm.cheque_no.$error.required" class="text-danger">Cheque No is required.</span>
							<span ng-show="staffpaymentForm.cheque_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
						<input type="text" id="DD_no" ng-if="modalOptions.staffpayment.payment_type.type == 'DD'" ng-model="modalOptions.staffpayment.payment_type.DD_no" class="form-control" name="DD_no"   placeholder="Enter DD No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="staffpaymentForm.DD_no.$dirty && staffpaymentForm.DD_no.$invalid">
							<span ng-show="staffpaymentForm.DD_no.$error.required" class="text-danger">DD no required.</span>
							<span ng-show="staffpaymentForm.DD_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
					</div>		
			</div> 
			
			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="Date" class="col-sm-2 control-label">Date</label>
				 <div class="col-sm-9">
					<input type="text" id="date" class="form-control"   ng-model="modalOptions.staffpayment.date" ng-init="modalOptions.staffpayment.date = modalOptions.staffpaymentdate.date"  name="date" 
					placeholder="date">
				</div>					
			</div>
			
			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="Bank" class="col-sm-2 control-label">Bank Name</label>
					<div class="col-sm-9">
						<input type="text" id="Bank" ng-model="modalOptions.staffpayment.payment_type.Bank" class="form-control" name="Bank"   placeholder="Enter Bank Name" required/>
						<span class="text-danger" ng-show="staffpaymentForm.Bank.$dirty && staffpaymentForm.Bank.$invalid">
							<span ng-show="staffpaymentForm.Bank.$error.required">Bank Name is Required.</span>
						</span>	
					</div>		
			</div>
			
			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="Branch" class="col-sm-2 control-label">Branch</label>
					<div class="col-sm-9">
						<input type="text" id="Branch" ng-model="modalOptions.staffpayment.payment_type.Branch" class="form-control" name="Branch"   placeholder="Enter Branch" required/>
						<span class="text-danger" ng-show="staffpaymentForm.Branch.$dirty && staffpaymentForm.Branch.$invalid">
							<span ng-show="staffpaymentForm.Branch.$error.required">Branch Name is Required.</span>
						</span>	
					</div>		
			</div>
			
			<div class="form-group">
				<label  for="debit_amount" class="col-sm-2 control-label">Amount</label>
					<div class="col-sm-9">
						<input type="text" id="debit_amount" class="form-control"  ng-pattern="/^\d{0,9}[0-9]$/" ng-model="modalOptions.staffpayment.debit_amount" ng-change="modalOptions.totalAmount(modalOptions);modalOptions.calcBalance(modalOptions.previous_balance, modalOptions.staffpayment.debit_amount, modalOptions)" name="amount" placeholder="Amount" required />
						<span class="help-block" ng-show="staffpaymentForm.amount.$dirty && staffpaymentForm.amount.$invalid">
							<span ng-show="staffpaymentForm.amount.$error.required" class="text-danger">Amount is required.</span>
							<span ng-show="staffpaymentForm.amount.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
					</div>					
			</div>
			
			
			
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-9">
						<textarea type="text" id="description" ng-model="modalOptions.staffpayment.description" class="form-control" name="description"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
						<span ng-hide="staffpaymentForm.description.$error.maxlength">
								{{ 250 - modalOptions.staffpayment.description.length + " Chars left" }}
						</span>	
						 <span class="help-block" ng-show="staffpaymentForm.description.$dirty && staffpaymentForm.description.$invalid">
								<span class="text-danger" ng-show="staffpaymentForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="staffpaymentForm.description.$error.required" class="text-danger">Required Field</span>
						</span>
					</div>		
			</div>
			
			<div class="form-group modal-footer">
				<div class="col-sm-11"><!--ng-disabled="addIncomeForm.$invalid"-->
					<button type="submit" class="btn btn-success" ng-click="modalOptions.postData('transaction',modalOptions.staffpayment); modalOptions.ok()">Submit</button>
					<button type="reset" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
				</div>
			</div>		
		</form>
		
<form name="staffpaymentForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="staffpaymentForm.$valid" ng-if="modalOptions.staffpayment.type=='staff_credit'"> 
			<div class="form-group">
			<div ng-init="modalOptions.getData(false,false,'staff','staffList', staffParams, modalOptions)">
				<label for="staff_id" class="col-sm-2 control-label"> Select Staff* </label>
				<div class="col-sm-4">
					<select id="staff_id" class="form-control" ng-model="modalOptions.staffpayment.staff_id" ng-options="item.id as item.name for item in modalOptions.staffList">
						<option value="">Select Staff</option>
						<option value="1">1</option>
					</select>
					<span class="help-block" ng-show="staffpaymentForm.staff_id.$dirty && staffpaymentForm.staff_id.$invalid">
					<span ng-show="staffpaymentForm.staff_id.$error.required" class="text-danger">user name is required.</span>
					</span>	
				</div>
			</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-9">
					<select id="category" class="form-control" ng-model="modalOptions.staffpayment.category" ng-options="item.system_name as item.name for item in modalOptions.Category.staff.credit">
					<option value="" selected>Category</option>
					</select>
				</div>
				<span class="help-block" ng-show="staffpaymentForm.category.$dirty && staffpaymentForm.category.$invalid">
					<span ng-show="staffpaymentForm.category.$error.required" class="text-danger">Required field.</span>
				</span>	
			</div>
			<div class="form-group">
					<label for="account" class="col-sm-2 control-label">Account Name*</label>
					<div class="col-sm-9">
						<select id="account" class="form-control" ng-change="modalOptions.getBalance(modalOptions.staffpayment.account_id, modalOptions)" ng-init="modalOptions.getData(false,false,'account','accountList', false, modalOptions)" ng-options="item.id as item.account_name for item in modalOptions.accountList" ng-model="modalOptions.staffpayment.account_id" >
						<option value="">Select Account</option>
						</select>
						<span class="help-block" ng-show="staffpaymentForm.account.$dirty && staffpaymentForm.account.$invalid">
							<span ng-show="staffpaymentForm.account.$error.required" class="text-danger">required field.</span>
						</span>	
					</div>
			</div>
			
			<div class="form-group" ng-if="modalOptions.previous_balance">
				<label for="previous_amount" class="col-sm-2 control-label">Previous Amount</label>
				<div class="col-sm-9">
					<input type="text" ng-model="modalOptions.previous_balance" id="balance" name="balance" readonly class="form-control"/>			
					</div>
			</div>
			
			<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
						<select id="payment_type" class="form-control" name="payment_type"  ng-model="modalOptions.staffpayment.payment_type.type" required>
						<option value="" selected>Select Type</option>
						<option value="Cash" >Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Net Banking">Net Banking</option>
						<option value="DD">DD</option>
						</select>
						<span class="help-block" ng-show="staffpaymentForm.payment_type.$dirty && staffpaymentForm.payment_type.$invalid">
							<span ng-show="staffpaymentForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
						</span>	
					</div>
			</div> 

			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Net Banking'"class="col-sm-2 control-label">Transaction No</label>
				<label for="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque'" class="col-sm-2 control-label">Check No</label>
				<label for="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'DD'" class="col-sm-2 control-label">DD No</label>
					<div class="col-sm-9">
						<input type="text" id="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Net Banking'" ng-model="modalOptions.staffpayment.payment_type.transaction_No" class="form-control" name="refferance_no"   placeholder="Enter Transaction No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="staffpaymentForm.refferance_no.$dirty && staffpaymentForm.refferance_no.$invalid">
							<span ng-show="staffpaymentForm.refferance_no.$error.required" class="text-danger">Ref No is required.</span>
							<span ng-show="staffpaymentForm.refferance_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
						<input type="text" id="refferance_no" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque'" ng-model="modalOptions.staffpayment.payment_type.check_no" class="form-control" name="cheque_no"   placeholder="Enter Check No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="staffpaymentForm.cheque_no.$dirty && staffpaymentForm.cheque_no.$invalid">
							<span ng-show="staffpaymentForm.cheque_no.$error.required" class="text-danger">Cheque No is required.</span>
							<span ng-show="staffpaymentForm.cheque_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
						<input type="text" id="DD_no" ng-if="modalOptions.staffpayment.payment_type.type == 'DD'" ng-model="modalOptions.staffpayment.payment_type.DD_no" class="form-control" name="DD_no"   placeholder="Enter DD No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="staffpaymentForm.DD_no.$dirty && staffpaymentForm.DD_no.$invalid">
							<span ng-show="staffpaymentForm.DD_no.$error.required" class="text-danger">DD no required.</span>
							<span ng-show="staffpaymentForm.DD_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
					</div>		
			</div> 
			
			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="Date" class="col-sm-2 control-label">Date</label>
				 <div class="col-sm-9">
					<input type="text" id="date" class="form-control"   ng-model="modalOptions.staffpayment.date" ng-init="modalOptions.staffpayment.date = modalOptions.incomeDate.date"  name="date" 
					placeholder="date">
				</div>					
			</div>
			
			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="Bank" class="col-sm-2 control-label">Bank Name</label>
					<div class="col-sm-9">
						<input type="text" id="Bank" ng-model="modalOptions.staffpayment.payment_type.Bank" class="form-control" name="Bank"   placeholder="Enter Bank Name" required/>
						<span class="text-danger" ng-show="staffpaymentForm.Bank.$dirty && staffpaymentForm.Bank.$invalid">
							<span ng-show="staffpaymentForm.Bank.$error.required">Bank Name is Required.</span>
						</span>	
					</div>		
			</div>
			
			<div class="form-group" ng-if="modalOptions.staffpayment.payment_type.type == 'Cheque' || modalOptions.staffpayment.payment_type.type == 'Net Banking' || modalOptions.staffpayment.payment_type.type == 'DD'">
				<label for="Branch" class="col-sm-2 control-label">Branch</label>
					<div class="col-sm-9">
						<input type="text" id="Branch" ng-model="modalOptions.staffpayment.payment_type.Branch" class="form-control" name="Branch"   placeholder="Enter Branch" required/>
						<span class="text-danger" ng-show="staffpaymentForm.Branch.$dirty && staffpaymentForm.Branch.$invalid">
							<span ng-show="staffpaymentForm.Branch.$error.required">Branch Name is Required.</span>
						</span>	
					</div>		
			</div>
			
			<div class="form-group">
				<label  for="credit_amount" class="col-sm-2 control-label">Amount</label>
					<div class="col-sm-9">
						<input type="text" id="credit_amount" class="form-control"  ng-pattern="/^\d{0,9}[0-9]$/" ng-model="modalOptions.staffpayment.credit_amount" ng-change="modalOptions.totalAmount(modalOptions);modalOptions.calcBalance(modalOptions.previous_balance, modalOptions.staffpayment.credit_amount, modalOptions)" name="amount" placeholder="Amount" required />
						<span class="help-block" ng-show="staffpaymentForm.amount.$dirty && staffpaymentForm.amount.$invalid">
							<span ng-show="staffpaymentForm.amount.$error.required" class="text-danger">Amount is required.</span>
							<span ng-show="staffpaymentForm.amount.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
					</div>					
			</div>
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-9">
						<textarea type="text" id="description" ng-model="modalOptions.staffpayment.description" class="form-control" name="description"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
						<span ng-hide="staffpaymentForm.description.$error.maxlength">
								{{ 250 - modalOptions.staffpayment.description.length + " Chars left" }}
						</span>	
						 <span class="help-block" ng-show="staffpaymentForm.description.$dirty && staffpaymentForm.description.$invalid">
								<span class="text-danger" ng-show="staffpaymentForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="staffpaymentForm.description.$error.required" class="text-danger">Required Field</span>
						</span>
					</div>		
			</div>
			
			<div class="form-group modal-footer">
				<div class="col-sm-11"><!--ng-disabled="addIncomeForm.$invalid"-->
					<button type="submit" class="btn btn-success" ng-click="modalOptions.postData('transaction',modalOptions.staffpayment); modalOptions.ok()">Submit</button>
					<button type="reset" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
				</div>
			</div>		
</form>
</div>
<!-- <div class="modal-footer">
	
	<button type="submit" class="btn btn-success" ng-if="!modalOptions.staffpayment.id" ng-disabled="staffpaymentForm.$invalid" ng-click="modalOptions.postData('staff_payment',modalOptions.staffpayment);modalOptions.ok()">Add Payment</button>
					
	<button type="submit" ng-if="modalOptions.staffpayment.id" class="btn btn-success" ng-disabled="staffpaymentForm.$invalid" ng-click="modalOptions.updateData('staff_payment',modalOptions.staffpayment,modalOptions.staffpayment.id);modalOptions.ok()">Update Payment</button>

	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>
</div>
	 -->