
	<div class="modal-header">
		<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
		<h3 class="text-center">View Leaves</h3>
	</div>
<div class="modal-body" ng-init="modalOptions.getData(false, false,'staffattendance', 'attendanceList', modalOptions.attendanceParams, modalOptions)">
{{modalOptions.attendanceList}}
			<table class="table table-hover table-responsive table-bordered">
					<thead>
						<tr>
							<th>Approved by</th>
							<th>Date</th>
							<th>Reason</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in modalOptions.attendanceList" >
							<td>{{x.attendance_date}}</td>
							<td>{{x.login_time}}</td>
							<td>{{x.logout_time}}</td>
							<td>{{x.status}}</td>
						
						</tr>
					</tbody>
			</table>
	
</div>
