<div class="modal-header">
	<button type="button" class="close buttondistance" ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span></button>
	
	<h3>Pay Salary</h3>
</div>
<div class="modal-body">{{modalOptions.paysalary}}
<form class="form-horizontal" name="paysalaryForm" role="form" ng-submit="paysalaryForm.$valid" novalidate="novalidate">
			<div class="form-group">
					<label for="salary" class="col-sm-2 control-label">Gross Salary</label>
					<div class="col-sm-9">
						<input ng-disabled="readOnly" type="text" id="salary" name="salary" class="form-control" ng-model="modalOptions.paysalary.salary" placeholder="Enter Gross Salary " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.salary.$dirty && paysalaryForm.salary.$invalid">
							<span ng-show="paysalaryForm.salary.$error.pattern && (paysalaryForm.salary.$dirty || submitted)" class="text-danger">please enter number</span>
						</span>
					</div>
			</div>
			<div class="form-group">
					<label for="working_day" class="col-sm-2 control-label">Working Days</label>
					<div class="col-sm-9">
						<input ng-disabled="readOnly" type="text" id="working_day" name="working_day" class="form-control" ng-model="modalOptions.paysalary.working_day" placeholder="Enter Working Days" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.working_day.$dirty && paysalaryForm.working_day.$invalid">
							<span ng-show="paysalaryForm.working_day.$error.pattern && (paysalaryForm.working_day.$dirty || submitted)" class="text-danger">please enter number</span>
						</span>
					</div>						
			</div>
			<div class="form-group">
					<label for="paid_leaves" class="col-sm-2 control-label">Paid Leaves</label>
					<div class="col-sm-9">
						<input ng-disabled="readOnly" type="text" id="paid_leaves" name="paid_leaves" class="form-control" ng-model="modalOptions.paysalary.paid_leaves" placeholder="Enter Paid" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.paid_leaves.$dirty && paysalaryForm.paid_leaves.$invalid">
							<span ng-show="paysalaryForm.paid_leaves.$error.pattern && (paysalaryForm.paid_leaves.$dirty || submitted)" class="text-danger">please enter number</span>
						</span>
					</div>						
			</div>
			
			<div class="form-group">
					<label for="unpaid_leaves" class="col-sm-2 control-label">Unpaid Leaves</label>
					<div class="col-sm-9">
						<input type="text" id="unpaid_leaves" name="unpaid_leaves" class="form-control" ng-model="modalOptions.paysalary.unpaid_leaves" placeholder="Enter Unpaid" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" ng-change="modalOptions.payableDays(modalOptions)" required>
						<span class="help-block" ng-show="paysalaryForm.unpaid_leaves.$dirty && paysalaryForm.unpaid_leaves.$invalid">
							<span ng-show="paysalaryForm.unpaid_leaves.$error.pattern && (paysalaryForm.unpaid_leaves.$dirty || submitted)" class="text-danger">please enter number</span>
						</span>
					</div>						
			</div>
			<div class="form-group">
					<label for="payable_day" class="col-sm-2 control-label">Payable Days</label>
					<div class="col-sm-9">
						<input type="text" id="payable_day" name="payable_day" class="form-control" ng-model="modalOptions.paysalary.payable_day" placeholder="Enter Payable days" ng-pattern="/^\d{0,9}[0-9]$/"  maxlength="10" required>
						<span class="help-block" ng-show="paysalaryForm.payable_day.$dirty && paysalaryForm.payable_day.$invalid">
							<span ng-show="paysalaryForm.payable_day.$error.pattern && (paysalaryForm.payable_day.$dirty || submitted)" class="text-danger">please enter number</span>
						</span>
					</div>						
			</div>
			<div class="form-group">
					<label for="cms" class="col-sm-2 control-label">Current Month Salary</label>
					<div class="col-sm-9">
						<input type="text" id="cms" name="cms" class="form-control" ng-model="modalOptions.paysalary.cms" placeholder=""  required>
						<span class="help-block" ng-show="paysalaryForm.cms.$dirty && paysalaryForm.cms.$invalid">
							<span ng-show="paysalaryForm.cms.$error.pattern && (paysalaryForm.cms.$dirty || submitted)" class="text-danger">please enter number</span>
						</span>
					</div>						
			</div>
			<div class="form-group">
			<label for="earning" class="col-sm-2 control-label">Earning</label>
			<div class="col-sm-9">
				<table class="table table-hover table-responsive table-bordered" >
					<thead>
						<tr>
							<th>Basic</th>
							<th>DA</th>
							<th>HRA</th>
							<th>CCA</th>
							<th>Conveyance</th>
							<th>Gross</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>{{modalOptions.paysalary.basic}}</td>
						<td>{{modalOptions.paysalary.da}}</td>
						<td>{{modalOptions.paysalary.hra}}</td>
						<td>{{modalOptions.paysalary.cca}}</td>
						<td>{{modalOptions.paysalary.conveyance}}</td>
						<td>{{modalOptions.paysalary.total}}</td>
						</tr>
					</tbody>
				</table>
	
					</div>						
			</div>
			<div class="form-group">
					<label for="deduction" class="col-sm-2 control-label">Deduction</label>
					<div class="col-sm-9">
						<table class="table table-hover table-responsive table-bordered" >
					<thead>
						<tr>
							<th>PF</th>
							<th>ESIC</th>
							<th>PT</th>
							<th>TOTAL DEDUCTION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>{{modalOptions.paysalary.pf}}</td>
						<td>{{modalOptions.paysalary.esic}}</td>
						<td>{{modalOptions.paysalary.pt}}</td>
						<td>{{modalOptions.paysalary.td}}</td>
						</tr>
					</tbody>
				</table>
					</div>						
			</div>
			<div class="form-group">
					<label for="nsp" class="col-sm-2 control-label">Net Salary Payable</label>
					<div class="col-sm-9">
						<input type="text" id="nsp" name="nsp" class="form-control" ng-model="modalOptions.paysalary.nsp" placeholder=""  maxlength="10" readOnly required>
						<span class="help-block" ng-show="paysalaryForm.nsp.$dirty && paysalaryForm.nsp.$invalid">
						</span>
					</div>						
			</div>
<div class="form-group modal-footer">
	<div class="col-sm-11"><!--ng-disabled="addIncomeForm.$invalid"-->
		<button type="submit" class="btn btn-success" ng-disabled="paysalaryForm.$invalid"ng-click="modalOptions.postData('transaction',modalOptions.paysalary); modalOptions.ok()">Submit</button>
		<button type="reset" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
	</div>
</div>	
</form>
</div>