//homeproject css
.homeproject {
	width : 930px;
	height : 400px;
	display: block;
  	margin-left: auto;
	margin-right: auto;
	.projectnav,.projsnap {
		border : 5px solid @lightcolor;
		background-color: @darkbackcolor;
		height : 350px;
		.nav-stacked{
			background-color: @darkbackcolor;
			margin: 5px;
			>li{
				padding :4px;
				>a, > a:focus{
					color : @colorwhite;
					padding : 10px 0px;
					font: 1.7em/1.1em  'Italianno-Regular-OTF' cursive;
					text-align : center;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					background-image: linear-gradient(@darkcolor, @back, @darkcolor);
					color : @colorwhite;
				}
			}
		}
	}
	.projsnap{
		p{
			padding-left : 10px;
			color : @colorwhite;
		}
		img{
			height : 110px;
			margin-top: 10px;
			margin-bottom: 10px;
			border : 1px solid @color;
			border-radius : 5px;
			padding :4px;
		}
		.viewproperty{
			margin-top : 25px;
			a{
				font-size: 16px;
			}
		}
	}
	#carousel {
		.carousel-inner {
			border: 5px solid @lightcolor;
			.carousel-caption{
				h2{
					border : none;
				}
			}
			.item{
				overflow: hidden;
				height : 340px;
				img{
					min-height : 340px;
				}
			}
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}

//css for project list
	.projlist{
		.project{
			.thumbnail{
				height:385px;
				.projectimg{
					width : 180px;
					height : 148px;
					overflow : hidden;
					padding : 4px;
					border : 4px solid transparent;
					img{
						min-height : 148px;
					}
					&:hover{
						border : 4px solid @back;
					}
				}
				.readmore{
					margin-top : 15px;
					a{
						background-image : url('../img/mr-bg.png');
						background-repeat: no-repeat;
						background-color: transparent;
						background-position: center;
						border: none;
						padding: 5px 29px;
						color : @colorwhite;
						&:hover{
							color: @lightcolor;
							background-color : transparent;
							border : none;
							text-decoration : none;
						}
					}
				}
			}
		}
	}
//css for single project
	.project{
		.navbar{
			margin-bottom:10px;
		}
		ul.nav.navbar-nav {
			background : -webkit-linear-gradient(top, @back, @darkcolor, @back);
			background : -moz-linear-gradient(top, @back, @darkcolor, @back);
			background : linear-gradient(top, @back, @darkcolor, @back);
			height : 42px;
			>li{
				border-right : 1px solid @back;
				height : 38px;
				>a, > a:focus{
					padding : 11px 6px;
					color : @colorwhite;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					color : @darkbackcolor;
					background : linear-gradient(@lightbackcolor, @lightcolor, @lightbackcolor);
				}
			}
		}
	}
	
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
		.projectgallery{
			.thumbnail{
				height:380px;
			}
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
		.projectgallery{
			.thumbnail{
				height:365px;
				img{
					max-height : 155px;
					width:100%;
				}
			}
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
		.projectgallery{
			.thumbnail{
				height:380px;
				img{
					max-height : 200px;
					width:100%;
				}
			}
		}
	}