@font-face{
	font-family : 'Italianno-Regular-OTF';
	src : url('../fonts/Italianno-Regular-OTF.otf');
}
@font-face{
	font-family : 'Enriqueta-Bold';
	src : url('../fonts/Enriqueta-Bold.otf');
}
@font-face{
	font-family : 'Enriqueta-Regular';
	src : url('../fonts/Enriqueta-Regular.otf');
}
@font-face{
	font-family : 'GreatVibes-Regular';
	src : url('../fonts/GreatVibes-Regular.otf');
}
@color : #fffca8;//yellowish
@lightcolor : #ffbee9;//faint pink
@darkcolor : #B9396A;// dark pink(brownish)
@back : #89065B;//dark pink
@darkbackcolor : #22151E;//dark brown
@lightbackcolor :#C51AE2;//violet 
@colorblack : #000;
@colorwhite	: #fff;
@import "project.less";

*{
	transition : 300ms;
}
.container{
	width : 992px !important;
}
html{
	min-width : 1022px;
}
body{
	background: @darkbackcolor;
}
h1{
	color : @darkcolor;
	text-align : center;
	font: 4.1em/1.0em 'Italianno-Regular-OTF' cursive;
}
.navbar-default {
	background-image: linear-gradient(@darkcolor, @back, @darkcolor);
	border : none;
	.navbar-nav{	
		>li {
			background-image: url(../img/nav_bg.png);
			background-repeat: no-repeat;
			display: block;
			float: left;
			position: relative;
			list-style-image: none;
			margin-right : 20px;
			>a, >a:focus{
				color : @colorwhite;
				font: 1.8em 'GreatVibes-Regular' cursive;
				padding-top : 10px;
				padding-bottom : 10px;
				border : 1px solid transparent;
			}
			&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
				color : @darkbackcolor;
				background : linear-gradient(@lightbackcolor, @lightcolor, @lightbackcolor);
				padding: 15px 15px;
				margin-top: -5px;
				margin-bottom: -5px;
				border-radius: 10px;
				border: 1px solid @darkbackcolor;
			}
			ul{
				display : none;
			}
		}
	}
}
.head{
	background: url(../img/tops.jpg);
	background-position : top center;
	background-size : 100%;
	padding-top : 65px;
}
/*.carousel{
	width : 903px;
	height : 400px;
	display: block;
  	margin-left: auto;
	margin-right: auto;
	.carousel-inner{
		.item{
			height : 358px;
			overflow : hidden;
			img{
				min-height : 358px;
				width : 100%;
			}
		}
	}
}*/
a{
	color : @darkbackcolor;
	&:hover{
		color : @darkbackcolor;
	}
}
.btn-info, .btn-info[disabled]{
	background-image : url('../img/mr-bg.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border: none;
	padding: 5px 29px;
	&:hover{
		color: @lightcolor;
		background-color : transparent;
		border : none;
	}
}
section.col-xs-9 {
  padding-left: 40px;
}
article{
	background-image : url('../img/mn-tb.png');
	background-size : 100% 100%; 
}
.sidebarModule{
	background-image : url('../img/ltb-m.png');
	background-position :  center ;
	//background-image:url('../img/ltb-m.png'),url('../img/ltb-t1.jpg'),url('../img/ltb-b1.jpg');
	//background-position : center top, center center, center bottom;
	margin-top : 35px;
	margin-bottom : 75px;
	padding-top: 1px;
	position : relative;
	&::before{
		content : url('../img/ltb-t1.jpg');
		position : absolute;
		left : -37px;
		top : -32px;
		z-index : -1;
	}
	&::after{
		content : url('../img/ltb-b1.jpg');
		position : absolute;
		left : -34px;
		bottom : -41px;
		z-index : -1;
	}
	.panel{
		background : none;
		border : none;
	}
	.panel-body{
		padding-top : 0px;
	}
	.subhead{
		color : @colorwhite;
		text-align : center;
		font: 2.5em/1.0em 'Italianno-Regular-OTF' cursive;
		margin-top : 10px;
	}
	.sections {
		padding:0px 20px 10px;
		color : @darkbackcolor;
		h4{
			margin-top : 0px;
		}
	}
	hr{
		border-color : @darkbackcolor;
		margin : 0px 0px 10px;
	}
}
.features{
	.subhead{
		padding-left: 5px;
	}
	margin-top : 40px;
}
.contentModule{
	background-image : url('../img/mn-tb.png');
	background-size : 100% 100%;
	padding: 1px 30px;
	h3{
		font-family : 'Enriqueta-Bold';
		color : @darkcolor;
		text-align : left;
		small{
			color : @darkbackcolor;
		}
	}
	ul{
		list-style : none;
	}
	.sliderimg{
		width : 200px;
		height : 125px;
		overflow : hidden;
		img{
			min-height : 125px;
		}
	}
	.readmore{
		margin-top : 10px;
		a{
			font: 1.2em/1em 'Enriqueta-Regular';
			text-decoration: none;
			color: @lightbackcolor;
			padding: 7px 19px;
		}
	}
	p{
		margin-bottom : 0px;
		margin-top : 0px;
	}
}
footer{
	color: @colorwhite;
	background-image: url('../img/foot.jpg');
	margin-top: 10px;
	padding: 14px;
	text-align: center;
	a{
		color: @color;
		&:hover{
			color: @lightcolor;
		}
	}
}
