//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		width:100px;
		.projimg{
			height : 200px;
			overflow:hidden;
			img{
				min-height: 200px;
				padding : 4px;
				border : 2px solid transparent;
				&:hover{ 
					border : 2px solid @color;
				}
			}
		}
	}
}

#carousel {
	background-color: @lightbackcolor;
	.carousel-inner {
		.item{
			max-height: 298px;
			overflow: hidden;
			height:200px;
			>img{
				width :100%;
				min-height : 200px;
			}
			&:hover{
			}
		}
		
	}
	a.left.carousel-control, a.right.carousel-control {
		background: none;
	}
}
	
.homeproject {
	
	margin-top : 20px;
	position : relative;
	#carousel
	{
		box-shadow : 0px 0px 10px 0px black;
		border : 5px solid @colorwhite;
	}
	.bx-wrapper, .projectnav, .projsnap{
		box-shadow : 0px 0px 10px #999;
		border : 1px solid @lightbackcolor;
	}
	.bx-wrapper{
		margin-top : 5px !important;
		border-radius : 4px;
	}
	.bx-viewport{
		min-height : 300px !important;
		.carousslider{
			padding-left: 0px;
			li{
				border: 3px solid #f9f4da;
				min-height : 300px;
				min-width : 100% !important;
				img{
					width : 100%;
					min-height : 305px;
				}
				&.item{
					overflow : hidden;
					height : 305px;
				}
			}
		}
		img{
			height:400px;
			min-width : 100%;
		}
	}
	.projectnav, .projsnap{
		padding : 5px;
		height:312px;
		margin-top : 5px;
	}
	.projectnav {
		.nav-stacked 
			>li{
				>a , a:focus{
					position: relative;
					display: block;
					padding: 10px 8px;
					background : none;
					border: 5px solid @lightbackcolor;
					font-weight:bold;
					color: @color;
					&:hover{
						color: @colorwhite;
						text-decoration:none; 
						background-color : @back;
						/*background: -webkit-linear-gradient(right,#ccc,#0D8375);*/
						/*background: -moz-linear-gradient(right,#ccc,#0D8375);*/
						/*background: linear-gradient(right,#ccc,#0D8375);*/
					}
				}
			}
		}
	
	.projsnap{
		p{
			margin: 5px 5px;
			text-align : center;
			padding: 1px;
			border : 5px solid @lightbackcolor;
			color : @color;
		}
	}
	
	#carousel { 
		height:312px;
		margin-top : 5px;
		background-color: @lightbackcolor;
		.carousel-inner {
			.item{
				min-height: 303px;
				overflow: hidden;
				>img{
					width :100%;
					min-height : 312px;
				}
				&:hover{
				}
			}
			
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}
.homeproject::after{
	position : absolute;
	content : "";
	background-image : url('../img/home.png');
	background-size: 100% 100%;
	left :200px;
	top : 123px;
	z-index: 999;
	height : 197px;
	width : 120px;
}
//css for single project & project list
	.projlist{
		border : 1px solid @darkbackcolor;
		border-radius : 5px;
		padding : 10px;
		
		.project{
			.thumbnail{
				background-color:@colorwhite;
				height:400px;
				padding-top : 15px;
				
				border-color : @darkbackcolor;
				.btn-info
				{
					background-color:@back;
				}
				img{  
					max-height : 150px;
					overflow: hidden;
					border: 0 solid #333239;
					text-align: center;
					transition: all 0.2s ease;
					&:hover{
						transition: all 0.2s ease;
					}
				}
				
				.caption {
					height : 150px;
					p{
						color:@colorblack;
					}
				}
			}
			.pagination{
				align:center;
				
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			
		}
		
	}
		
		
	.project{
		.projectgallery{ 
			/*background-color : @back;*/
			border : 1px solid @back;
			padding: 20px 20px 0px;
			.thumbnail{
			.projectImags{
					width: 190px;
					height: 148px;
					overflow: hidden;
					margin : 0 auto;
					img{
						min-height : 148px;
					}
				}
				background-color : @darkbackcolor;
			}
		}
		nav {
			.pagination{
				li,.disabled{
					a{
						background-color: @colorwhite;
						border-color : @darkbackcolor;
						
						&:hover{
							background-color:@back;
							color:@colorwhite;
						}
					}
				}
				>.active>a{
					background-color:@back;
					color:@colorwhite;
					border-color : @colorblack;
				}
			}
			
		} 
	}
	@media (max-width: 768px){
		.homeproject::after{
			display : none;
			width : 0px;
		}
		.projectnav, .projsnap, .bx-wrapper{
			margin-bottom : 10px !important;
		}
	}
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}
	