<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3>Template Details</h3>
</div>

<form name="applyTemplateForm" class="form-horizontal" role="form" novalidate="novalidate" 	ng-submit="applyTemplateForm.$valid">
	<div class="modal-body">		
		<div class="form-group">	
			<label  for="template_name" class="col-sm-2 control-label">Template Name</label>
			<div class="col-sm-9">
				<input type="text" id="template_name" class="form-control" name="template_name" ng-init="modalOptions.editTempParamsModel.template_name = modalOptions.editTemplate.template_name" ng-model="modalOptions.editTempParamsModel.template_name" readonly>
			</div>						
		</div>
		
		<div class="form-group">	
			<label  for="date" class="col-sm-2 control-label"> Date</label>
			<div class="col-sm-9">
				<input type="text" id="date" class="form-control" ng-init="modalOptions.editTempParamsModel.date= modalOptions.editTemplate.date" name="date" ng-model="modalOptions.editTempParamsModel.date" readonly>
			</div>						
		</div>	 
		
		<div class="form-group">
			<label  for="date" class="col-sm-2 control-label">Modified Date</label>
			<div class="col-sm-9">
				<input type="text" id="date1" class="form-control" ng-init="templateList.modified_date= modalOptions.modifiedDate" name="date1" ng-model="templateList.modified_date" readonly>
			</div>
		</div>		
		
		<div class="form-group">	
			<label  for="category" class="col-sm-2 control-label">Template Category </label>
			<div class="col-sm-9">
				<input type="text" id="category" class="form-control" name="category" ng-model="modalOptions.editTempParamsModel.category" ng-init="modalOptions.editTempParamsModel.category= modalOptions.editTemplate.category"  readonly>
			</div>		
		</div>
		<div class="form-group">
		<div class="row">
			<div class="col-sm-12 text-right">
				<button type="button" ng-click="modalOptions.resetParams(modalOptions.editTempParamsModel)"class="btn btn-danger">Reset</button>
			</div>
		</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-if="modalOptions.editTemplate.template_params" ng-init="modalOptions.editTempParamsModel.template_params = modalOptions.editTemplate.template_params" >	
					<div class="form-group">
						<label  for="color" class="col-sm-2 control-label">Color</label> 
						<div  class="col-sm-2" ng-if="modalOptions.editTemplate.template_params.color">
							<label  for="color" class="col-sm-3 control-label">Color</label>
								<input type="color" id="color" class="form-control" name="color"  ng-model="modalOptions.editTempParamsModel.template_params.color">
						</div>
						<div  class="col-sm-2" ng-if="modalOptions.editTemplate.template_params.background_color">
							<label  for="light_color" class="col-sm-2 control-label">Light</label>
								<input type="color" id="light_color" class="form-control" name="light_color"  ng-model="modalOptions.editTempParamsModel.template_params.light_color">
						</div>
						<div  class="col-sm-2" ng-if="modalOptions.editTemplate.template_params.dark_color">
							<label  for="dark_color" class="col-sm-2 control-label">Dark</label>
							<input type="color" id="dark_color" class="form-control" name="dark-color" ng-model="modalOptions.editTempParamsModel.template_params.dark_color">
						</div>
					</div>	
					<div class="form-group">
						<label for="color" class="col-sm-2 control-label">Background</label>
						
						<div  class="col-sm-2" ng-if="modalOptions.editTemplate.template_params.background_color">
							<label  for="background_color" class="col-sm-3 control-label">Background</label>
							<input type="color" id="background_color" class="form-control" name="background_color" ng-model="modalOptions.editTempParamsModel.template_params.background_color">
						</div>
						
						<div class="col-sm-2" ng-if="modalOptions.editTemplate.template_params.background_color_light">
							<label  for="background_color_light" class="col-sm-3 control-label">Light</label>
							<input type="color" id="background_color_light" class="form-control" name="background_color_light" ng-model="modalOptions.editTempParamsModel.template_params.background_color_light">
						</div>
						
						<div  class="col-sm-2" ng-if="modalOptions.editTemplate.template_params.background_color_dark">
							<label  for="background_color_dark" class="col-sm-3 control-label">Dark</label>
							<input type="color" id="background_color_dark" class="form-control" name="background_color_dark" ng-model="modalOptions.editTempParamsModel.template_params.background_color_dark">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label  for="slider-title" class="col-sm-2 control-label">Title</label>
					<div class="col-sm-9">
						<input type="text" id="slider-title" class="form-control" name="slider-title" ng-model="modalOptions.slider.title">
					</div>
				</div>
				
				<div class="form-group">
					<label for="image" class="col-sm-2 control-label">Image *</label>
					<div class="col-sm-9">
						<input type="file" id="image" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="modalOptions.upload(image,modalOptions.path + modalOptions.userInfo.user_id, modalOptions.userInfo,modalOptions)" ng-model="image">
						<input type="hidden" ng-model="modalOptions.slider.image">
					</div>
				</div>
				<div class="form-group" ng-if="modalOptions.slider.image">					 
					<div class="col-sm-9 col-sm-offset-2">
						<span class="thumbs">
							<img class="img-thumbnail" ng-src="{{appConfig.assetPath + modalOptions.slider.image}}"/>
							<span class="close" ng-click="removeImg(key, modalOptions.slider.image)">X</span>
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label  for="slider-description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-9">
						<textarea id="slider-description" class="form-control" name="slider-description" ng-model="modalOptions.slider.description"></textarea>
					</div>
				</div>
				
				<button ng-show="!modalOptions.editIndex.index" type="button" class="btn btn-primary center-block" ng-click="modalOptions.addSlide(modalOptions.slider,modalOptions)">Add Slide</button>
			</div>
		</div>
				
		<table class="table table-bordered">
			<tr>
				<th>Title</th>
				<th>Image</th>
				<th>Description</th>
				<th>Remove </th>
			</tr>
			<tr ng-repeat="(key, value) in modalOptions.editTempParamsModel.template_params.slider">
				<td>{{value.title}}</td>
				<td><img width="150px" ng-src="{{value.image}}" /></td>
				<td class="tdwidth">
					<div class="pull-left" ng-bind-html="value.description"></div>
				</td>
				<td>
					<button class="btn btn-success glyphicon glyphicon-remove" ng-click="modalOptions.deleteSlide(key,modalOptions.editTempParamsModel.template_params.slider)" tooltip="Delete Details"></button>
				</td>
			</tr>
		</table>			
	</div>
	<div class="modal-footer">
		<button type="submit" ng-disabled="applyTemplateForm.$invalid" class="btn btn-primary" ng-click="modalOptions.formData(modalOptions.editTempParamsModel); modalOptions.ok()">OK</button>
	</div>
</form>
