<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-sm-12 text-right">
				<a ng-if="permission.template_list" href="#/dashboard/templates" class="btn btn-default" ng-click="addAlert()">List of Templates</a>
				
				<a ng-if="permission.my_template" href="#/dashboard/templates/mytemplates" class="btn btn-default" ng-click="addAlert()">My Templates</a>
				
				<a ng-if="permission.request_custom_template" href="#/dashboard/templates/requestcustomtemplates" class="btn btn-default" ng-click="addAlert()">Request Custom Template</a>
				
				<a ng-if="permission.add_template" href="#/dashboard/templates/addtemplate" class="btn btn-default">Add Template</a>
				
				<a href="#/dashboard/templates/custometemplates" class="btn btn-default"ng-click="addAlert()">Custom Templates</a>
			</div>
	<div class="col-sm-12">
		<h3>My Templates</h3>
	<div class="row">
		<div class="col-sm-3"> 
			<div class="bottomspace">
				<label for="search" class="control-label">Search </label>		
					<input id="search" type="text" class="form-control" ng-change="searchFilter('template_name', searchProp)" ng-model="searchProp" placeholder="search"/>
			</div>
		</div>			 				  
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="sort" class="control-label">Sort by Order</label>
					<select id="sort" class="form-control" ng-model="sort"> 
						<option value="">Select Order</option>	
						<option value="-template_name">Desending</option>
						<option value="template_name">Asending</option>  
					</select>
			</div>
		</div>
		
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="status" class="control-label">Select Status</label>
					<select id="status" class="form-control" 
					ng-change="changeStatus('status',showStatus)" ng-model="showStatus">
						<option value="">Select Status</option>	
						<option value="1">Active</option>
						<option value="0">Deleted</option>
					</select>
			</div>
		</div>
		
		<div class="col-sm-2" ng-init="getUsers()" ng-if="userDetails.group_name != 'customer'">
			<div class="bottomspace">
				<label for="filterbycustomerid" class="control-label">Select By Customer</label>
					<select id="filterbycustomerid" class="form-control" ng-model="filterbycustomerid" ng-change="changeStatus('user_id', filterbycustomerid)" ng-options="user.id as user.name for user in customerList">
						<option value="">Select Customer</option>
					</select>
			</div>
		</div>
		
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="featured" class="control-label">Filter By Category</label>
					<select id="featured" class="form-control" ng-model="filterCategory" 
					ng-change="changeStatus('category',filterCategory)" ng-options="item.system_name as item.name for item in temp.category">
						<option value="" selected>Select Category</option>
					</select>
			</div>
		</div>
	</div>
	
	<div class="table-responsive">		
		<table class="table table-bordered">
			<thead>
				<th>Sr.No.</th>
				<th>Template Name</th>
				<th>Create Date</th>
				<th>Owner Name</th>
				<th>Salesman</th>
				<th>Manager</th>
				<th>Manage</th>
			</thead>
			<tbody>
				<tr ng-repeat="x in templates | orderBy : sort">
					<td>{{((myTempCurrentPage - 1) * pageItems) + $index + 1 }}</td>
					<td>{{x.template_name}}</td>
					<td>{{x.date | date:'MM/dd/yyyy'}}</td>
					<!-- <td>{{x.name}}</td> -->
					<td class="col-sm-2">
						<div class="input-group">
						
							<!-- <p class="form-control-static" ng-hide="x.name ==1">{{x.name}}</p> -->
							<select ng-hide="x.id ==0 || !x.id" class="form-control" id="name" name="name" ng-show="x.id == 1" ng-model="x.user_id" ng-options="user.id as user.name for user in customerList | filter: { group_name : 'customer'}" ng-required="true">
									<option value=""><p class="form-control-static" ng-hide="x.user_id ==1">{{x.name}}</p></option>
							</select>{{user.id}}
								
							<div class="input-group-btn" ><!--ng-if="userDetails.group_name == 'admin' || userDetails.group_name == 'superadmin'"-->
								<a type="button"  ng-class="(x.user_id == 0 || !x.user_id) ? 'btn btn-info' : 'btn btn-success'" ng-model="x.user_id" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'" ng-change="editUser('user_id', x.user_id, x.id);  x.user_id = changeOwnerUser(x.user_id, owner)"  tooltip="Edit User">
									<span ng-class="(x.user_id ) ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-pencil'" ></span> {{x.user_id}}
								</a>
							</div>
						</div>
					</td>
					<td>
						<span ng-if="x.manager==null">-</span><span ng-if="x.manager!=null">{{x.manager}}</span>
					</td>
					<td>
						<span ng-if="x.admin==null">-</span><span ng-if="x.admin!=null">{{x.admin}}</span>
					</td>
					<td>
						<div class="btn-group">
							<a type="button" ng-click="openMyTemp('modules/templates/viewMyTemplate.html', x.id)" class="btn btn-primary glyphicon glyphicon-eye-open" tooltip="Preview Details"></a>
						</div>
						
						<div class="btn-group">
							<button type="button" tooltip="{{dynamicTooltip(x.status, 'Delete This','Active')}}" ng-class="(x.status==1) ? 'btn btn-success glyphicon glyphicon-ok' : 'btn btn-danger glyphicon glyphicon-remove'" ng-model="x.status" ng-change="deletedmytemp( x.id,x.status)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							</button>
						</div>
						
						<div class="btn-group">
							<a type="button" tooltip="Customize Template" class="btn btn-info glyphicon glyphicon-cog" ng-click="editTempParamsModel('modules/templates/mytemplates/applymytemplate.html', x.id)"></a>	
						</div>
					</td>
				</tr>			
			</tbody>					
		</table>
	</div>
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems" ng-model="myTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="mypageChanged(myTempCurrentPage,template_type)"></pagination>
		<pre>Page: {{myTempCurrentPage}} / {{numPages}}</pre>
	</div>	
</div>	
</div>	