
	

/* Small devices (tablets, 768px and up) */
@media (min-width: 750px){
	.logodiv
	{
		margin-bottom:40px;
		margin-top:20px;
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) { 
... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) {
 ... }

	.nav>li>a.dropdown-caret {
		padding-right: 35px;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 100%;
		display: block;
		text-align: center;
		padding-top: 15px;
		color:#777;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle:hover .caret {
		border-top-color: rgb(236, 236, 236);
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle:hover {
		color:#b2807a;
	}
	.navbar li{
		padding:0px 5px;
	}
	.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
	}
	p{
		text-align : justify;
	}
	#googleMap{
		height:300px;
	}
	.thumbnail{
		height: 482px;
	}
	.thumbnail .caption{
		height : 145px;
	}
	.singleprod .thumbnail {
		height: 200px;
	}
	.prod .carousel-inner>.item>img, img.infraimg.img-responsive{
		height :265px;
	}
	.item  img{
		width :100%;
	}
	.carousel-inner>.item>img{
		height : 500px;
	}
	.carousel-caption h2{
		color : #fff;
	}
	footer{
		font-size: initial;
		padding-top:20px;
		padding-bottom:20px;
	}
	blockquote{
		border : none;
	}
	.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,body .navbar-default .navbar-nav li .dropdown-menu > li > a{
		color:#1b1b1b;
		background: none;
	}
	p,footer {
		color:#77746C;
	} 
	.navbar-default {
		border: 0px;
		margin-top:20px;
		background:none;
	}
	body{
		background-color:#F3F0EB;		
	}
	header{
		background-color:#F0F0F0;
	}
	.btn-info{
		background : none;
		border : none;
	}
	.heading{
		background-color:#943E59;
		padding-top:20px;
		padding-bottom:20px;
		font-size: 50px;
		letter-spacing: 2px;
		text-align :center;
	}
	.read ,.heading{
		color: #FFF;
	}
	.homeabout{
		padding :20px 20px;
	}
	.homeabout p, .homeabout a{
		font-family: 'Open Sans';
		font-size: 16px;
		color: #b89b95;
	}
	h2{
		font-family: 'Junge';
		font-size: 40px;
		color: #b2807a;
		text-transform : uppercase;
	}
	.read, .homeabout a{
		text-decoration : none;
	}
	.eventimg, footer,.aboutus ,.mycontact, .mytesti, .myjobs, .myact, .prod,.singleprod,.featureserv, .mygallery, .homeabout{
		margin-top:40px;
	}
	footer, .aboutus ,.mycontact, .mytesti, .myjobs, .myact, .prod,.singleprod,.featureserv, .mygallery, .homeabout{
		background-color:#fff;
	}
	.aboutus ,.mycontact, .mytesti, .myjobs, .myact, .prod,.singleprod,.featureserv, .mygallery, .homeabout{
		border-top:10px solid #BB7EB0;
	}
	.feature, .featureserv{
		padding : 20px;
	}
	.featureprod img{
		border: 10px solid rgba(232, 224, 217, 0.99);
		background: transparent;
	}
	.read{
		background-color : #BB7EB0;
		padding: 15px;
		text-align : right;
	}
	.read :hover ,.read:focus{
		background : none;
	}