@font-face {
  font-family: 'Amaranth-Regular';
  src: url('../fonts/Amaranth-Regular.otf');
}
@font-face {
  font-family: 'QumpellkaNo12';
  src: url('../fonts/QumpellkaNo12.otf');
}
.featured_services .sections {
  border: 1px solid #02071a;
  background: none;
  box-shadow: 0 0 0;
  margin-bottom: 80px;
  margin-top: 72px;
  color: #ffffff;
  height: 90%;
  width: 90%;
  background-color: #ef0b56;
  height: 100%;
  width: 100%;
  background-color: #02071a;
}
.featured_services .services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.featured_services .services .servimage .img-border {
  border-radius: 50%;
}
.featured_services .services .servdesc {
  height: 220px;
}
.featured_services .services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.featured_services .services .servdesc .readmore {
  margin-top: 10px;
  background-color: #ef0b56;
  width: 97px;
  height: 32px;
  border-radius: 8px;
  text-align: center;
  margin-left: 123px;
}
.featured_services .services .servdesc .readmore .txt {
  color: #ffffff;
  text-decoration: none;
}
hr {
  border-top: none;
}
.navbar {
  height: 110px;
}
.navbar-toggle {
  border: 1px solid ;
  margin-top: 45px;
}
.navbar-toggle .icon-bar {
  background-color: #ef0b56;
}
.navbar-default {
  border: 1px solid #262626;
  background-color: #262626;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  margin-top: 25px;
  margin-left: 89px;
  font-size: 24px;
  font-weight: 900;
}
.navbar-default .navbar-nav > li {
  position: relative;
  margin-right: 0px;
  padding-left: 10px;
  margin-top: 20px;
}
.navbar-default .navbar-nav > li:first-child {
  padding-left: 0;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  font: bold 14px/1.5em Arial, Helvetica, sans-serif;
  position: relative;
  padding: 25px 15px 15px 20px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background-color: #ef0b56;
  color: #ffffff;
  padding-top: 20px;
  top: 5px;
}
.navbar-default .navbar-nav > li.active > a::after,
.navbar-default .navbar-nav > li.active:hover > a::after,
.navbar-default .navbar-nav > li.active > a:focus::after,
.navbar-default .navbar-nav > li:hover > a::after,
.navbar-default .navbar-nav > li:hover > a:focus::after {
  position: absolute;
}
.navbar-default .navbar-nav > li > a::before {
  content: url('../img/bullet.png');
  position: absolute;
  top: 23px;
  left: 0px;
}
.navbar-default .navbar-nav > li:hover a::before,
.navbar-default .navbar-nav > li:first-child a::before,
.navbar-default .navbar-nav > li.active > a::before {
  display: none;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #262626;
  padding: 15px;
  list-style: none;
  text-align: left;
  top: 49px;
  border-radius: 7px;
  border-top-left-radius: 0px;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul > li {
  border-bottom: 1px solid #ef0b56;
  padding: 7px;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > ul > li > ul {
  list-style: disc;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a:hover {
  text-decoration: underline;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 395px;
}
.sociallinks {
  top: 50%;
  left: 0;
  width: 5px;
  margin-top: 100px;
}
.sociallinks ul {
  list-style: none;
}
.sociallinks ul li {
  text-align: right;
  width: 125px;
}
.sociallinks ul li a {
  color: #24600b;
}
.sociallinks ul li a:hover {
  color: #24600b;
  text-decoration: underline;
}
.sociallinks ul li img {
  width: 35px;
  margin-left: 10px;
  border: 2px solid #24600b;
}
.sociallinks ul li span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.contact_social {
  background-color: #dddddd;
  height: 341px;
}
.carousel-inner > .item > img {
  ovrflow: hidden;
  min-height: 300px;
  max-height: 400px;
  width: 100%;
}
