@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'Cinzel-Regular';
  src: url('../fonts/Cinzel-Regular.otf');
}
@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('../fonts/AlexBrush-Regular.ttf');
}
#carousel {
  position: relative;
  top: -60px;
}
.carousel-inner {
  border-bottom: 3px solid #daa520;
}
.carousel-inner .item {
  height: 500px;
}
.carousel-inner .item img {
  width: 100%;
}
.carousel-inner .carousel-caption {
  color: #ffffff;
  top: 40%;
}
.carousel-inner .carousel-caption h2 {
  color: #ffffff;
  animation-name: caro1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.carousel-inner .carousel-caption p {
  animation-name: caro2;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.carousel-inner .btn {
  border-radius: 0px !important;
}
.carousel-inner .btn-info {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px;
}
.carousel-inner .btn-info:hover {
  color: #ffffff;
  background-color: rgba(26, 13, 0, 0.34);
}
.contentModule {
  background-image: url('../img/products.jpg');
  background-size: 100% 100%;
  padding: 20px;
}
.contentModule .tagline {
  color: #ffffff;
  text-align: center;
  padding-top: 67px;
  animation-name: tagline1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.contentModule .products {
  background-color: transparent;
  text-align: center;
}
.contentModule .products .thumbnail {
  background: transparent;
  border: none;
  padding: 10px;
  height: 300px;
  overflow: hidden;
  margin-top: 60px;
}
.contentModule .products .thumbnail .prodimg {
  height: 300px;
  width: 100%;
  text-align: center;
}
.contentModule .products .thumbnail .prodimg img {
  height: 300px;
  text-align: center;
  border: 5px solid transparent;
}
.contentModule .products .thumbnail .prodimg img:hover {
  opacity: 0.5;
}
.contentModule .products .thumbnail p {
  color: #ffffff;
  text-align: center;
}
.contentModule .products .thumbnail h4 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.contentModule .products .thumbnail h4:hover {
  color: #662200;
}
.contentModule .products .thumbnail hr {
  width: 50px;
}
.contentModule .products .btn-info {
  color: #ffffff;
  background-color: transparent;
  border: none;
  animation-name: btn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes tagline1 {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes btn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
div.sections > div:nth-child(1) {
  animation-name: serv1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
div.sections > div:nth-child(2) {
  animation-name: serv2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.sections > div:nth-child(3) {
  animation-name: serv3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv3 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.products {
  margin: 20px;
}
.products h2 {
  text-align: center;
}
.products .thumbnail {
  border: 1px solid #daa520;
  background-color: transparent;
}
.products .thumbnail .prodimg {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.products .thumbnail .prodimg img {
  min-height: 200px;
  width: 100%;
}
.products .thumbnail .caption .description {
  height: 150px;
  color: #ffffff;
  text-align: justify;
  overflow: hidden;
}
.featrGallery .thumbnail {
  height: 200px;
  background-color: transparent;
  border: 1px solid #daa520;
  color: #ffffff;
  margin: 10px;
}
.featrGallery .thumbnail .caption {
  height: 180px;
  overflow: hidden;
  color: #ffffff;
  text-align: justify;
  padding-top: 10px;
}
.featrGallery .thumbnail img {
  width: 100%;
  margin: 12px 0px;
}
.featrGallery1 .thumbnail {
  height: 220px;
  background: linear-gradient(to right, rgba(26, 13, 0, 0.34), #662200, rgba(26, 13, 0, 0.34));
  border: 1px solid transparent;
  color: #ffffff;
}
.featrGallery1 .thumbnail:hover {
  background-image: url('../img/2KHbE5.gif');
  background-size: 100% 100%;
}
.featrGallery1 .thumbnail:hover img {
  transform: scale(1.2);
}
.featrGallery1 .thumbnail .description {
  color: #ffffff;
}
.featrGallery1 .thumbnail img {
  margin-top: 40px;
}
.activity .panel {
  background-color: transparent;
  border: 1px solid #daa520;
}
.activity .panel-body .testimage {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.activity .panel-body .testimage img {
  width: 100%;
}
.activity h3 {
  text-align: left;
  color: #ffffff;
}
.activity .description {
  height: 100px;
  overflow: hidden;
  color: #ffffff;
}
.jobs .panel {
  background-color: transparent;
  border: 1px solid #daa520;
}
.jobs h3 {
  color: #ff8000;
  text-align: center;
}
.jobs .description p {
  color: #ffffff;
  text-align: justify;
}
.featrtesti blockquote {
  border-left: none !important;
  color: #ffffff;
}
.featrtesti blockquote footer {
  color: #ff8000;
  background: transparent;
}
.featrtesti img {
  height: 100px;
  width: 100px;
  border: 3px solid #daa520;
}
.featrtesti img:hover {
  transform: scale(1.2);
}
.infrastructure {
  height: 500px;
}
.infrastructure .thumbnail {
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  height: 450px;
}
.infrastructure .thumbnail .infraImg {
  height: 200px;
}
.infrastructure .thumbnail .infraImg img {
  height: 200px;
  width: 100%;
}
.infrastructure .thumbnail .caption {
  height: 150px;
}
body {
  background-image: url('../img/7.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Cinzel-Regular';
}
h4 {
  color: #ff8000;
}
h2,
h3,
h1 {
  color: #ffffff;
  text-align: center;
}
p {
  text-align: justify;
}
navbar-toogle {
  background-color: #662200;
}
.navbar-toggle {
  border-color: #ffffff;
}
.navbar-toggle:hover {
  background-color: #662200;
}
header {
  height: 100px;
  background-color: transparent;
}
header h1 {
  color: #daa520;
  font-family: 'AlexBrush-Regular';
  font-size: 48px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #662200;
}
.navbar-default {
  z-index: 999;
  background: linear-gradient(to bottom, rgba(26, 13, 0, 0.34), #ffbf00, rgba(26, 13, 0, 0.34));
  border: none;
  border-radius: 0% 0%  50% 50%;
  border-top: 1px solid #daa520;
}
.navbar-default .navbar-nav > li {
  float: none;
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  position: relative;
  color: #662200;
  text-transform: uppercase;
  padding: 30px 15px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  color: #000000;
}
.navbar-default .navbar-nav > li.active > a::before,
.navbar-default .navbar-nav > li.active:hover > a::before,
.navbar-default .navbar-nav > li.active > a:focus::before,
.navbar-default .navbar-nav > li:hover > a::before,
.navbar-default .navbar-nav > li:hover > a:focus::before {
  content: "";
  position: absolute;
  background-image: url('../img/doller1.png');
  background-size: 30% 30%;
  background-repeat: no-repeat;
  left: 5px;
  top: 22px;
  height: 118px;
  width: 72px;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #daa520;
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: rgba(26, 13, 0, 0.34);
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background-color: #ffffff;
  list-style: none;
  display: none;
  color: rgba(26, 13, 0, 0.34);
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: rgba(26, 13, 0, 0.34);
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background-color: #1a0900;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.navbar-default .navbar-collapse {
  margin-left: 137px;
  margin-right: 137px;
}
.about {
  color: #ffffff;
}
.about h2,
.about h3 {
  text-align: center;
  color: #ffffff;
}
.about strong {
  color: #ffffff;
  font-size: 20px;
}
.about p,
.about center {
  text-align: justify;
}
.row {
  margin: auto;
  padding: auto;
}
.homeAboutus {
  color: #ffbf00;
}
.btn-info {
  background: #ffbf00;
  border: 1px solid transparent;
  color: #000000;
  border-radius: 26%;
}
.btn-info:hover {
  border: 1px solid transparent;
  background-color: #ff8000;
}
.contact {
  animation-name: contact;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.contact h2 {
  color: #ffffff;
  text-align: center;
}
.contact h4 {
  color: #ff8000;
}
.contact b,
.contact address,
.contact td {
  color: #ffffff;
}
.contact a {
  color: #ff8000;
}
@keyframes contact {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.onload {
  height: 700px;
  width: 100%;
  background-image: url('../img/RouletteRun.gif');
  background-size: 100% 100%;
  animation-name: onload;
  position: absolute;
  left: -10000px;
  top: -10000px;
  animation-duration: 2s;
}
@keyframes onload {
  0% {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  50% {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
/*.onload1{
			animation-name:onload1;
			animation-duration:2s;
}
@keyframes onload1{
					0%{opacity:0;transform:translateY(30px);}
					100%{opacity:1;transform:translateY(0px);}
	
}*/
#googleMap {
  height: 400px;
}
footer {
  background: linear-gradient(to bottom, rgba(26, 13, 0, 0.34), #ffbf00, rgba(26, 13, 0, 0.34));
  color: #ffffff;
  border-radius: 30px 30px 0px 0px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #ff8000;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
