{% autoescape false %}
{% if data.news_coverage %}
<div class="content">
	<div class="row activity">
		<div class="col-xs-12">
			{% for key, value in data.news_coverage if break == 0 %}
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-lg-3">
								<a href="#">
									<img class="img-rounded img-responsive" src="{{value.image.file_relative_path}}">
								</a>
							</div>
							<div class="col-xs-12 col-sm-8 col-lg-9">
								<h3 class="media-heading">{{value.heading}}</h3>
								<div class="description">{{ value.newsdetails }}</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endautoescape %}