{% autoescape false %}
	{% if data.testimonials | length >= 1 %}
<div class="container-fluid testicontainer">
	<div class="row">
		<div class="featrtesti">
		<h2>Testimonials</h2>
		{% for key, value in data.testimonials if break == 0 %}
			<div class="col-xs-12 col-sm-12 col-lg-12">
					 <blockquote>
						<div class="description">{{ value.description }}</div> 
						 <footer><cite>{{value.heading}}</cite></footer> 
					</blockquote>
			</div>
			
		{% endfor %}
		</div>
	</div>
</div>
	{% endif %}
{% endautoescape %}