#carousel{
			    position: relative;
			top: -60px;

}
.carousel-inner {
				border-bottom:3px solid @lightcolor ;
				
				.item{
						height:500px;
						img{
							
								width:100%;
						}
				}
			.carousel-caption{
						
						color:@colorwhite;
						top:40%;
						h2{
								color:@colorwhite;
								animation-name:caro1;
								animation-duration:3s;
								animation-iteration-count:1;
						}
						p{
								animation-name:caro2;
								animation-duration:3s;
								animation-iteration-count:1;
						
						}
				}
				.btn{
							border-radius:0px !important; 
					}
			.btn-info{
						border:1px solid @colorwhite;
						color:@colorwhite;
						background-color:transparent;
						text-transform:uppercase;
						padding:10px;
						&:hover{
								color:@colorwhite;
								background-color:@darkcolor;
						}
				}
	}
.activity{
			
			.panel{
							background-color:transparent;
							border:1px solid @lightcolor;
			}
			.panel-body{
				
									img{
											
											width:100%;
									}
						
			}
			h3{
				text-align:left;
				color:@colorwhite;
				
			}
			
			.description{
				height:100px;
				overflow:hidden;	
				color:@colorwhite;				
			}
			
}
.jobs{
				.panel{
							background-color:transparent;
						border:1px solid @lightcolor;
					}
					h3{
							color:@back;
							text-align:center;
					}
				.description{
							p{
									color:@colorwhite;
									text-align:justify;
							}	
						}
}
		
.featrtesti{
				blockquote{
						border-left:none !important;
						color:@colorwhite;
						footer{
							color:@back;
							background:transparent;
						}
				}
				img{
						height:100px;
						width:100px;
						border:3px solid @lightcolor;
				
				&:hover{
									 transform: scale(1.2);
							}
				}
				
}
.infrastructure{
			height:500px;
			.thumbnail{
					overflow:hidden;
					padding:20px;
					height:450px;
					.infraImg{
						height:200px;
						//width:100%;
							img{
							height:200px;
							width:100%;
							}
						}
						.caption{
							height:150px;
							
						}
				}
}
/*div.infrastructure>div.row>div:nth-child(1){
		
		animation-name:abt1;
		animation-duration:2s;
		aniamtion-iteration-count:1;
		//animation-delay:2s;
}
@keyframes abt1{
				0%{opacity:0;transform: translateX(-100px)}
				100%{opacity:1; transform: translateX(0);}

}
div.infrastructure>div.row>div:nth-child(3){
		
		animation-name:abt2;
		animation-duration:2s;
		aniamtion-iteration-count:1;
		//animation-delay:3s;
}
@keyframes abt2{
				0%{opacity:0;transform: translateY(40px)}
				100%{opacity:1; transform: translateY(0);}

}
div.infrastructure>div.row>div:nth-child(5){
		
		
		animation-name:abt3;
		animation-duration:3s;
		aniamtion-iteration-count:1;
		//animation-delay:4s;
}
@keyframes abt3{
				0%{opacity:0;transform: translateY(-40px)}
				100%{opacity:1; transform: translateY(0);}

}
div.infrastructure>div.row>div:nth-child(7){
	
		animation-name:abt4;
		animation-duration:3s;
		aniamtion-iteration-count:1;
		//animation-delay:5s;
}
@keyframes abt4{
				0%{opacity:0;transform: translateX(40px)}
				100%{opacity:1; transform: translateX(0);}

}
div.infrastructure>div.row>div:nth-child(9){
display:none;
}
*/