.contentModule{
			background-image:url('../img/products.jpg');
			background-size:100% 100%;
			padding:20px;
			//height:900px;
			.tagline{
					color:@colorwhite;;
					text-align:center;
					padding-top:67px;
					animation-name:tagline1;
					animation-duration:3s;
					animation-iteration-count:1;
					}

			.products{
					background-color:transparent;
					text-align:center;
					.thumbnail{
							background:transparent;
							border:none;
							padding:10px;
							height:300px;
							overflow:hidden;
							margin-top:60px;
							.prodimg{
									height:300px;
									width:100%;
									text-align:center;
									img{
										height:300px;

										text-align:center;
										border:5px solid transparent;
									&:hover{
											//border:5px solid red;
											opacity:0.5;
											}
									}
									}
										
								p
								{
								color:@colorwhite;
								text-align:center;
								
									}
									h4{
											text-align:center;
											color:@colorwhite;
											text-transform:uppercase;
											&:hover{
													color:@color;
											}
											
									
									}
									hr{
											width:50px;
											
									}
							}
							.btn-info {
									color: @colorwhite; 
									background-color: transparent;
									border:none;
									animation-name:btn;
									animation-duration:3s;
									animation-iteration-count:1;
									}
					}
}
.products{
			margin:20px;
			h2{
					text-align:center;
			
			}
			.thumbnail{
				border:1px solid @lightcolor;
				background-color:transparent;
					.prodimg{
							height:200px;
							width:100%;
							overflow:hidden;
									img{
										min-height:200px;
										width:100%;
										}	
							}
							.caption{
										.description{
											height:150px;
											color:@colorwhite;
											text-align:justify;
											overflow:hidden;
											}
							}
					}
					
					
}
	.featrGallery{
				.thumbnail{
							height:200px;
							background-color:transparent;
							border:1px solid @lightcolor;
							color:@colorwhite;
							margin:10px;
							.caption{
									height:180px;
									overflow:hidden;
									color:@colorwhite;
									text-align:justify;
									padding-top:10px;
									
								}
							img{
								width:100%;
								margin:12px 0px;
								
							}
				
				}

	}
.featrGallery1{
				.thumbnail{
							height:220px;
							background:linear-gradient(to right,@darkcolor,@color,@darkcolor);
							border:1px solid transparent;
							color:@colorwhite;
							&:hover{
										background-image:url('../img/2KHbE5.gif');
										background-size:100% 100%;
							}
							&:hover img{
									 transform: scale(1.2);
							}
							.description{
											color:@colorwhite;
							}
							img{
								    margin-top: 40px;
							}
				
				}

}
