#carousel{
			    position: relative;
			top: -60px;

}
.carousel-inner {
				border-bottom:3px solid @lightcolor ;
				
				.item{
						height:500px;
						img{
							
								width:100%;
						}
				}
			.carousel-caption{
						
						color:@colorwhite;
						top:40%;
						h2{
								color:@colorwhite;
								animation-name:caro1;
								animation-duration:3s;
								animation-iteration-count:1;
						}
						p{
								animation-name:caro2;
								animation-duration:3s;
								animation-iteration-count:1;
						
						}
				}
				.btn{
							border-radius:0px !important; 
					}
			.btn-info{
						border:1px solid @colorwhite;
						color:@colorwhite;
						background-color:transparent;
						text-transform:uppercase;
						padding:10px;
						&:hover{
								color:@colorwhite;
								background-color:@darkcolor;
						}
				}
	}