@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}


@color :  #662200;//yellow golden
@lightcolor :#DAA520;//golden
@darkcolor : 	#1a0d00;// dark brown
@back :  #ff8000;//orange
@darkbackcolor :#ffbf00;//green
@lightbackcolor : #1a0900;//light brown
@colorblack : #000000;
@colorwhite	: #ffffff;

@import "property.less";
@import "project.less";
@import "product.less";
@import "general.less";

body{
		background-color:@darkcolor;
		
}
h4{
		color:@back;
}
h2{
		color:@colorwhite;
		text-align:center;
}
.navbar-default {
		background:linear-gradient(to bottom,@darkcolor,@darkbackcolor,@darkcolor);
		border:none;
		border-radius:0% 0%  50% 50%;
		.navbar-nav{
			> li{
				
				float:none;
				margin-bottom:0px;
				position : relative;
				
				> a {
					position : relative;
					color : @colorblack;
					font : bold 15px/1em Arial, Helvetica, sans-serif;
					text-transform : uppercase;
					padding:30px 15px;
					
					&::before{
						content:"";
						position:absolute;
						background-image:url('../img/doller1.png');
						background-size:30% 30%;
						background-repeat:no-repeat;
						left:0px;
						top:8px;
						height:175px;
						width:100px;
						}
				}
				
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background:none;
					color : @colorblack;
					
					
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color:  @lightcolor;
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
							}
						}
						&:hover{
						background-color:@darkcolor;
							-webkit-transition: all 0.4s;
						}
						ul{
							display:none;
							//background : linear-gradient(@back, @color);
							background-color: @colorwhite;
							list-style: none;
							display : none;
							color:@darkcolor;
							position : absolute;
							left: 150px;
							width: 180px;
							padding : 2px;
							li{
								padding : 10px;
								a{
									color : @darkcolor;
								}
								&:hover{
									a{
										color : @colorwhite;
									}
									background-color:@lightbackcolor;
									
								}
							}
						}
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		.navbar-collapse{
				margin-left: 137px;
					margin-right: 137px;
		}
	}
	
.about{
			color:@colorwhite;
			h2,h3{
					text-align:center;
					color:@colorwhite;
				
			}
			strong{
					color:@colorwhite;
					font-size:20px;
				
			}
			p{
					text-align:justify;
				}
				
			center{
					text-align:justify;
				
			}
			
}
.row{
		margin:auto;
		padding:auto;
}
.homeAboutus{
			color:@darkbackcolor;
}
.btn-info{

		background:linear-gradient(to bottom,@darkcolor,@darkbackcolor,@darkcolor);
		border:1px solid transparent;
		color:@colorblack;
		&:hover{
			border:1px solid transparent;
			background:linear-gradient(to bottom,@darkcolor,@darkbackcolor,@darkcolor);
		}
}
.contact{
			h2{
					color:@colorwhite;
					text-align:center;
			}
			h4{
						color:@back;
			}
			b,address,td{
					color:@colorwhite;
			}
			a{
					color:@back;
			}
			animation-name:contact;
			animation-duration:3s;
			animation-iteration-count:1;
	
}
@keyframes contact{
					0%{opacity:0;transform:translateY(200px);}
					100%{opacity:1;transform:translateY(0px);}
}

.onload{
			animation-name:onload;
			animation-duration:3s;
			animation-iteration-count:1;
}
@keyframes onload{
					0%{opacity:0;}
					100%{opacity:1;background-color:red;}
	
}