@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}
@font-face{
	font-family : 'Cinzel-Regular';
	src:url('../fonts/Cinzel-Regular.otf');
}
@font-face{
	font-family : 'AlexBrush-Regular';
	src:url('../fonts/AlexBrush-Regular.ttf');
}

@color :  #662200;//yellow golden
@lightcolor :#DAA520;//golden
@darkcolor : 	rgba(26, 13, 0, 0.34);// dark brown
@back :  #ff8000;//orange
@darkbackcolor :#ffbf00;//green
@lightbackcolor : #1a0900;//light brown
@colorblack : #000000;
@colorwhite	: #ffffff;

@import "property.less";
@import "project.less";
@import "product.less";
@import "general.less";

body{
		background-image:url('../img/7.jpg');
		background-attachment:fixed;
		background-size:100% 100%;
		//background-color:@darkcolor;
		font-family : 'Cinzel-Regular';
	
		
}
h4{
		color:@back;
}
h2,h3,h1{
		color:@colorwhite;
		text-align:center;
}
p{
		text-align:justify;
}
navbar-toogle{
	background-color:@color;
}
.navbar-toggle {
    border-color: @colorwhite;
}
.navbar-toggle:hover{
    background-color: @color;
}
header{
			height:100px;
			background-color:transparent;
			h1{
			color:@lightcolor;
			font-family:'AlexBrush-Regular';
			font-size:48px;
			}
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: @color;
}
.navbar-default {
		z-index:999;
		background:linear-gradient(to bottom,@darkcolor,@darkbackcolor,@darkcolor);
		border:none;
		border-radius:0% 0%  50% 50%;
		border-top:1px solid @lightcolor;
		.navbar-nav{
			> li{
				
				float:none;
				margin-bottom:0px;
				position : relative;
				
				> a {
					position : relative;
					color : @color;
					text-transform : uppercase;
					padding:30px 15px;
				}
				
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background:none;
					color : @colorblack;
					&::before{
						content:"";
						position:absolute;
						background-image:url('../img/doller1.png');
						background-size:30% 30%;
						background-repeat:no-repeat;
						    left: 5px;
							top: 22px;
							height: 118px;
							width: 72px;
						}
					
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color:  @lightcolor;
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
							}
						}
						&:hover{
						background-color:@darkcolor;
							-webkit-transition: all 0.4s;
						}
						ul{
							display:none;
							//background : linear-gradient(@back, @color);
							background-color: @colorwhite;
							list-style: none;
							display : none;
							color:@darkcolor;
							position : absolute;
							left: 150px;
							width: 180px;
							padding : 2px;
							li{
								padding : 10px;
								a{
									color : @darkcolor;
								}
								&:hover{
									a{
										color : @colorwhite;
									}
									background-color:@lightbackcolor;
									
								}
							}
						}
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		.navbar-collapse{
				margin-left: 137px;
					margin-right: 137px;
		}
	}
	
.about{
			color:@colorwhite;
			h2,h3{
					text-align:center;
					color:@colorwhite;
				
			}
			strong{
					color:@colorwhite;
					font-size:20px;
				
			}
			p,center{
					text-align:justify;
				}
				
			
}
.row{
		margin:auto;
		padding:auto;
}
.homeAboutus{
			color:@darkbackcolor;
}
.btn-info{

		background:@darkbackcolor;
		border:1px solid transparent;
		color:@colorblack;
		border-radius: 26%;
		&:hover{
			border:1px solid transparent;
			background-color:@back;
		}
}
.contact{
			h2{
					color:@colorwhite;
					text-align:center;
			}
			h4{
						color:@back;
			}
			b,address,td{
					color:@colorwhite;
			}
			a{
					color:@back;
			}
			animation-name:contact;
			animation-duration:3s;
			animation-iteration-count:1;
	
}
@keyframes contact{
					0%{opacity:0;transform:translateY(200px);}
					100%{opacity:1;transform:translateY(0px);}
}

.onload{
			height:700px;
			width:100%;
			background-image:url('../img/RouletteRun.gif');
			background-size:100% 100%;
			//background-repeat:no-repeat;
			animation-name:onload;
			position:absolute;
			left:-10000px;
			top:-10000px;
			animation-duration:2s;
}
@keyframes onload{
			0%{position:absolute;
			left:0px;
			top:0px;}
			50%{position:absolute;
			left:0px;
			top:0px;}
			100%{
			}
					
	
}
/*.onload1{
			animation-name:onload1;
			animation-duration:2s;
}
@keyframes onload1{
					0%{opacity:0;transform:translateY(30px);}
					100%{opacity:1;transform:translateY(0px);}
	
}*/
#googleMap{

		height:400px;
}
footer{
		background:linear-gradient(to bottom,@darkcolor,@darkbackcolor,@darkcolor);
		color:@colorwhite;
		border-radius:30px 30px 0px 0px;
		a{
				color:@colorwhite;
				&:hover{
							color:@back;
				}
		}
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
	}