{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block carousal %}
	{% include 'includes/carousal.html' ignore missing %}
{% endblock %}
	
{% block content %}
{% autoescape false %}
	{% include 'includes/featured_services.html' ignore missing %}
	{% include 'includes/featured_products.html' ignore missing %}
	
<div class="row">
	<div class="col-sm-12 text-center">
    <h1>Welcome to Vilas {{ data.business_name }}</h1>
    
	</div>
</div>
{% include 'includes/featured_testimonials.html' ignore missing %}
{% endautoescape %}
{% endblock %}