.products{
	.thumbnail{
		img{
			max-height : 240px;
		}
	}
}
.readmore{
	text-align : center;
}
@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 400px;
			.caption{
				height: 165px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 190px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 390px;
			.caption{
				height: 190px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 115px;
		}
	}
}

@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 400px;
			.caption{
				height: 165px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 140px;
		}
	}
}