//Property
	.property,.proplist{
		background-color : @back;
		border : 1px solid @lightbackcolor;
	}
	.property{
		margin-bottom : 15px;
		padding: 10px 15px;
		h3{
			border :none;
		}
		.table{
			background-color : @darkbackcolor;
			tbody{
				tr{
					td{
						border-top : 1px dashed @lightbackcolor;
					}
				}
			}
		}
		.mainimg {
			max-height: 200px;
		}
		.subimg{
			margin-top: 10px;
			span{
				padding: 3px;
				cursor : pointer;
				img{
					height: 40px;
					display : inline-block;
				}
			}
		}
	}
	.propDetails{
		ul{
			li {
				padding: 3px;
			}
		}
		span{
			height : 20px;
			width :20px;
			margin-right: 6px;
		}
		.amenity{
			background: url("../img/sprite_icons.png") transparent;
			display: inline-block;
			vertical-align: middle;
		}
		span.amenity.pb {
			background-position: 1px -24px;
		}
		span.amenity.ws {
			background-position: -314px -24px;
		}
		span.amenity.rp {
			background-position: -193px -22px;
		}
		span.amenity.security {
			background-position: -97px -22px;
		}
		span.amenity.ms {
			background-position:-361px -22px;
		}
		span.amenity.gym {
			background-position: -432px -22px;
		}
		span.amenity.park {
			background-position: -385px -22px;
		}
		span.amenity.pt {
			background-position: -168px -22px;
		}
		span.amenity.sp {
			background-position: -288px -22px;
		}
		span.amenity.club {
			background-position: -74px -49px;
		}
		.table{
			tbody{
				tr{
					th{
						background-color : #1F1D01;
					}
					td, th{
						border: 1px solid @lightbackcolor;
					}
				}
			}
		}
	}
	
	//propertyList 
	.proplist{
		padding: 20px 20px 0px;
		.panel{
			background-color : @darkbackcolor;
		}
		.panel-default{
			border-color : @lightbackcolor;
		}
		.panel-body {
			padding: 5px 15px 15px;
		}
		.table{
			td{
				border : none;
			}
		}
	}
	@media (min-width: 992px){
		.propDetails{
			ul{
				li{
					width: 224px;
				}
			}
		}
	}
	@media (min-width: 1200px){
		.propDetails{
			ul{
				li{
					width: 274px;
				}
			}
		}
	}