//Property
.property,.proplist{
	border : 1px solid @lightbackcolor;
}
.readmore{
	text-align : center;
}
.property{
	margin-bottom : 15px;
	padding: 10px 15px;
	h3{
		border :none;
	}
	.table{
		background-color : @darkbackcolor;
		tbody{
			tr{
				td{
					border-top : 1px dashed @lightbackcolor;
				}
			}
		}
	}
	.mainimg {
		img{
			max-height: 180px;
		}
	}
	.subimg{
		margin-top: 10px;
		
		img{
			height: 20px;
			display : inline-block;
			cursor : pointer;
			margin-right : 10px;
		}
	}
}
.propDetails{
	ul{
		li {
			padding: 3px;
		}
	}
	span{
		height : 20px;
		width :20px;
		margin-right: 6px;
	}
	.amenity{
		background: url("../img/sprite_icons.png") transparent;
		display: inline-block;
		vertical-align: middle;
	}
	span.amenity.power_backup {
		background-position: 1px -24px;
	}
	span.amenity.water_storage {
		background-position: -314px -24px;
	}
	span.amenity.lift {
		background-position: -644px -22px;
	}
	span.amenity.reserve_parking {
		background-position: -193px -22px;
	}
	span.amenity.security {
		background-position: -97px -22px;
	}
	span.amenity.maintenance_staff {
		background-position:-361px -22px;
	}
	span.amenity.gym {
		background-position: -432px -22px;
	}
	span.amenity.park {
		background-position: -385px -22px;
	}
	span.amenity.private_terrace {
		background-position: -168px -22px;
	}
	span.amenity.swimming_pool {
		background-position: -288px -22px;
	}
	span.amenity.club_house {
		background-position: -74px -49px;
	}
	span.amenity.hospital {
		background-position: -541px -4px;
	}
	span.amenity.airport {
		background-position: 1px -2px;
	}
	span.amenity.railway {
		background-position: -18px -1px;
	}
	span.amenity.school {
		background-position: -60px -1px;
	}
	.table{
		tbody{
			tr{
				th{
					background-color : #1F1D01;
				}
				td, th{
					border: 1px solid @lightbackcolor;
				}
			}
		}
	}
}

//propertyList 
.proplist{
	padding: 20px 20px 0px;
	
	.panel-default{
		border-color : @lightbackcolor;
	}
	.panel-body {
		padding: 5px 15px 15px;
	}
	.table{
		td{
			border : none;
			padding: 1px 10px;
		}
	}
}

	.bxslider1{
		padding:0px;
		li{
			.thumbnail {
				margin-bottom : 0px;
				img{
					max-height: 215px;
					width : 100%;
				}
			}
			a{
				color:@color;
				font-weight : bold;
				&:hover{
					text-decoration : none;
				}
			}
			a:hover{
				color : @lightcolor;
			}
			.head{
				background-color:#3F181A;
				color:white;
				padding:10px 20px;
				transition:padding 250ms;
			}
			.head:hover{
				padding:10px 40px;
				background-color:#682024;
				color : #EED7BD;
			}
			.table{
				margin-bottom : 10px;
				tbody{
					tr{
						td{
							border :none;
							padding: 3px 10px;
						}
					}
				
				}
			}
		}
	}
@media (min-width: 992px){
	.propDetails{
		ul{
			li{
				width: 224px;
			}
		}
	}
}
@media (min-width: 1200px){
	.propDetails{
		ul{
			li{
				width: 274px;
			}
		}
	}
}