
		
<div class="form-group">
	<label  for="joining_date" class="col-sm-2 control-label">Date of Joining*</label>
	<div class="col-sm-4">
		<div class="input-group">
			<input type="text" class="form-control " placeholder="Date" id="joining_date" name="joining_date" ng-model="modalOptions.addstaff.joining_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"   ng-required="true" close-text="Close" ng-click="opened2 = !opened" ng-change="modalOptions.setDate(modalOptions.addstaff.joining_date,10); modalOptions.sqlDateFormat(modalOptions.addstaff.joining_date, modalOptions.addstaff.joining_date)"/>	
			
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	
	<label  for="confirmation_date" class="col-sm-1 control-label">Date of Confirmation*</label>
	<div class="col-sm-4">
		<div class="input-group">
			<input type="text" class="form-control " placeholder="Date" id="confirmation_date" name="confirmation_date" ng-model="modalOptions.addstaff.confirmation_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"   ng-required="true" close-text="Close" ng-click="opened1 = !opened" ng-change="modalOptions.setDate(modalOptions.addstaff.confirmation_date,10); modalOptions.sqlDateFormat(modalOptions.addstaff.confirmation_date, modalOptions.addstaff.confirmation_date)"/>	
			
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="pan_no" class="col-sm-2 control-label">Pan no</label>
	<div class="col-sm-4">
		<input type="text" id="pan_no" name="pan_no" class="form-control" ng-model="modalOptions.addstaff.pan_no" placeholder="Enter pan_no" ng-pattern="/^\d{0,9}[0-9]$/"  maxlength="10" required>
		<span class="help-block" ng-show="addstaffForm.pan_no.$dirty && addstaffForm.pan_no.$invalid">
			<span ng-show="addstaffForm.pan_no.$error.pattern && (addstaffForm.pan_no.$dirty || submitted)" class="text-danger">please enter number</span>
		</span>
	</div>	

<label for="uan" class="col-sm-1 control-label">UAN no</label>
	<div class="col-sm-4">
		<input type="text" id="uan" name="uan" class="form-control" ng-model="modalOptions.addstaff.uan" placeholder="Enter uan" ng-pattern="/^\d{0,9}[0-9]$/"  maxlength="10" required>
		<span class="help-block" ng-show="addstaffForm.uan.$dirty && addstaffForm.uan.$invalid">
			<span ng-show="addstaffForm.uan.$error.pattern && (addstaffForm.uan.$dirty || submitted)" class="text-danger">please enter number</span>
		</span>
	</div>		
</div>
<div class="form-group">
		<label for="adhaar_no" class="col-sm-2 control-label">Adhaar no</label>
	<div class="col-sm-9">
		<input type="text" id="adhaar_no" name="adhaar_no" class="form-control" ng-model="modalOptions.addstaff.adhaar_no" placeholder="Enter adhaar no" ng-pattern="/^\d{0,9}[0-9]$/"  maxlength="10" required>
		<span class="help-block" ng-show="addstaffForm.adhaar_no.$dirty && addstaffForm.adhaar_no.$invalid">
			<span ng-show="addstaffForm.adhaar_no.$error.pattern && (addstaffForm.adhaar_no.$dirty || submitted)" class="text-danger">please enter number</span>
		</span>
	</div>					
</div>
<div class="form-group">
	<label for="designation" class="col-sm-2 control-label">Designation *</label>
	<div class="col-sm-9">

		<input type="text" id="designation" name="designation" class="form-control" ng-model="modalOptions.addstaff.designation" placeholder="Enter designation" ng-pattern="/^[a-zA-Z- ]*$/"required>
		<span class="text-danger"  ng-show="addstaffForm.designation.$error.pattern">please Enter Valid Designation</span>
		<span class="help-block" ng-show="addstaffForm.designation.$dirty && addstaffForm.designation.$invalid">
		<span ng-show="addstaffForm.designation.$error.required" class="text-danger">Designation is required</span>					
		</span>
	</div>						
</div> 

<div class="form-group">
	<label for="select type" class="col-sm-2 control-label">Department *</label>
	<div class="col-sm-9">
			<select id="department" name="department" class="form-control" 
			ng-model="modalOptions.addstaff.department">
			<option value="" selected>select Department</option>
			<option value="General">General</option>
			</select>
	</div>
</div>
				<!-- {{modalOptions.department.staff.departments}} -->
<div class="form-group">
	<label for="salary" class="col-sm-2 control-label">salary *</label>
	<div class="col-sm-4">
		<input ng-disabled="readOnly" type="text" id="salary" name="salary" class="form-control" ng-model="modalOptions.addstaff.salary" placeholder="Enter salary " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
		<span class="help-block" ng-show="addstaffForm.salary.$dirty && addstaffForm.salary.$invalid">
			<span ng-show="addstaffForm.salary.$error.pattern && (addstaffForm.salary.$dirty || submitted)" class="text-danger">please enter number</span>
		</span>
	</div>	
<label for="fees" class="col-sm-1 control-label">Fees*</label>
	<div class="col-sm-4">
		<input type="text" id="fees" name="fees" class="form-control" ng-model="modalOptions.addstaff.fees" placeholder="Enter fees " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="10" required>
		<span class="help-block" ng-show="addstaffForm.fees.$dirty && addstaffForm.fees.$invalid">
			<span ng-show="addstaffForm.fees.$error.pattern && (addstaffForm.fees.$dirty || submitted)" class="text-danger">please enter number</span>
		</span>
	</div>		
</div>

<div class="modal-footer">
	<div class="col-sm-offset-2 col-sm-9">
		<button type="submit" class="btn btn-success" ng-disabled="addstaffForm.$invalid"
		ng-click="modalOptions.postData('staff',modalOptions.addstaff);modalOptions.ok()">Add staff</button>
		
		<button type="submit" ng-if="modalOptions.addstaff.id" class="btn btn-success" ng-disabled="addstaffForm.$invalid" ng-click="modalOptions.updateData('staff',modalOptions.addstaff,modalOptions.addstaff.id);modalOptions.ok()">Update staff</button>
		
		<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
	</div>
</div>	
				
		
				
	