<!-- <div class="form-group">
	<div ng-init="modalOptions.getData(false,false,'staff','staffList', false, modalOptions)">
			<label for="staff_id" class="col-sm-2 control-label"> Select Staff* </label>
			<div class="col-sm-9">
				<select id="staff_id" class="form-control" ng-model="modalOptions.addleave.staff_id" ng-options="item.id as item.staff_type for item in modalOptions.staffList" required>
					<option value="">Select Staff</option>
					<option value="1">1</option>
				</select>
				<span class="help-block" ng-show="addleaveForm.staff_id.$dirty && addleaveForm.staff_id.$invalid">
				<span ng-show="addleaveForm.staff_id.$error.required" class="text-danger">user name is required.</span>
				</span>	
			</div>
	</div>
<div> -->
	<div class="form-group">
		<label  for="date" class="col-sm-2 control-label">Date*</label>
			<div class="col-sm-9">
				<div class="input-group">
					<input type="text" class="form-control " placeholder="Date" id="staff_date" name="staff_date" ng-model="modalOptions.addstaff.staff_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.addstaff.date = modalOptions.staffdate"  ng-required="true" close-text="Close" ng-click="opened1= !opened" ng-change="modalOptions.setDate(modalOptions.addstaff.staff_date,10); modalOptions.sqlDateFormat(modalOptions.addstaff.staff_date, modalOptions.addstaff.staff_date)"/>	
					
					<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name *</label>
			<div class="col-sm-9">
				<input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.name"required>
				<span class="text-danger"  ng-show="addstaffForm.name.$error.pattern">please Enter Valid Name</span>
					<span class="help-block" ng-show="addstaffForm.name.$dirty && addstaffForm.name.$invalid">
						<span class="text-danger" ng-show="addstaffForm.name.$error.required">Name is required.</span>
					</span>
			</div>
	</div>
	<div class="form-group">
		<label for="gender" class="col-sm-2 control-label">Gender*</label>
		<div class="radio col-sm-2">
			<label><input type="radio" name="gender" value="male"  ng-model="modalOptions.addstaff.gender" checked>Male</label>
		</div>
		<div class="radio col-sm-2">
			<label><input type="radio" name="gender" value="female" ng-model="modalOptions.addstaff.gender">Female</label>
		</div>
	</div> 
	<div class="form-group">	
		<label  for="email" class="col-sm-2 control-label">Email *</label>
		<div class="col-sm-9">
			<input type="Email" class="form-control" id="email" ng-model="modalOptions.addstaff.email" name="email" placeholder="Enter Email" ng-blur="checkuserAvailable('email', addstaff.email)" required >
			<span class="help-block">
				<span class="text-success" ng-show="addstaffForm.email.$dirty && addstaffForm.email.$valid && EmailAvailable">{{availabilityMsg}}</span>
			</span>
			
			<span class="help-block" ng-show="addstaffForm.email.$dirty && addstaffForm.email.$invalid || EmailAvailable == false">
				<span class="text-danger" ng-show="addstaffForm.email.$dirty && EmailAvailable == false">{{availabilityMsg}}</span>
				<span class="text-danger" ng-show="addstaffForm.email.$error.required">Required Field.</span>
				<span class="text-danger" ng-show="addstaffForm.email.$error.email">Invalid Email address.</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="phone" class="col-sm-2 control-label">Phone *</label>
		<div class="col-sm-9">
			<input type="text" id="phone" name="phone" class="form-control" ng-model="modalOptions.addstaff.phone" placeholder="Enter your Phone Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
			<span class="help-block" ng-show="addstaffForm.phone.$dirty && addstaffForm.phone.$invalid">
				<span ng-show="addstaffForm.phone.$error.required" class="text-danger">Required Field.</span>
				<span class="text-danger" ng-show="addstaffForm.phone.$error.pattern && (addstaffForm.phone.$dirty)">Enter a valid Contact Number</span>
			</span>
		</div>						
	</div>	
	
	<div class="form-group">
		<label for="marital_status" class="col-sm-2 control-label">Marital status*</label>
		<div class="radio col-sm-2">
		<label><input type="radio" name="marital_status" value="0" checked ng-model="modalOptions.addstaff.marital_status" >single</label>
		</div>
		<div class="radio col-sm-2">
		<label><input type="radio" name="marital_status" value="1" ng-model="modalOptions.addstaff.marital_status">Married</label>
			</div>

	</div> 
	<div class="form-group">
		<label  for="date" class="col-sm-2 control-label">Date of Birth*</label>
		<div class="col-sm-4">
			<div class="input-group">
				<input type="text" class="form-control " placeholder="Select Date of Birth" id="dob" name="dob" ng-model="modalOptions.addstaff.dob" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.addstaff.dob = modalOptions.staffdate"  ng-required="true" close-text="Close" ng-click="opened = !opened" ng-change="modalOptions.setDate(modalOptions.addstaff.dob,10); modalOptions.sqlDateFormat(modalOptions.addstaff.dob, modalOptions.addstaff.dob)"/>	
				
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>	
		<label for="age" class="col-sm-1 control-label">Age*</label>
		<div class="col-sm-4">
			<input type="text" id="age" name="age" class="form-control" ng-model="modalOptions.addstaff.age" placeholder="Enter Age " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="3" required>
			 <span class="text-danger"  ng-show="addstaffForm.age.$error.pattern">please Enter Age in Numbers</span>
			<span class="help-block" ng-show="addstaffForm.age.$dirty && addstaffForm.age.$invalid">
				<span class="text-danger" ng-show="addstaffForm.age.$error.required">Age is required.</span>
			</span>
		</div>							
	</div>
	<div class="form-group">
		<label for="blood_group" class="col-sm-2 control-label">blood_group *</label>
			<div class="col-sm-4">
				<input type="text" id="blood_group" class="form-control" name="blood_group" placeholder="Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.blood_group" required>
				<span class="text-danger"  ng-show="addstaffForm.blood_group.$error.pattern">Required Field.</span>
				<span class="help-block" ng-show="addstaffForm.blood_group.$dirty && addstaffForm.blood_group.$invalid">
				<span class="text-danger" ng-show="addstaffForm.blood_group.$error.required">Name is required.</span>
				</span>
			</div>

		<label for="p_h" class="col-sm-1 control-label">P.H*</label>
		<div class="radio col-sm-2">
			<label><input type="radio" name="ph" value="no" ng-model="modalOptions.addstaff.ph" checked>No</label>
		</div>
		<div class="radio col-sm-2">
			<label><input type="radio" name="p_h" value="yes"  ng-model="modalOptions.addstaff.ph">Yes</label>
		</div>
	</div> 	
		
	<div class="form-group">
		<label for="current_address" class="col-sm-2 control-label">Current Address*</label>
		<div class="col-sm-4">
			<textarea  class="form-control" id="current_address" ng-model="modalOptions.addstaff.address.current_address" name="current_address" placeholder="Enter address" ng-maxlength="250" required></textarea>
			<span class="text-danger"  ng-show="addstaffForm.current_address.$error.pattern">please Enter Valid Address</span>
			<span ng-hide="addstaffForm.current_address.$error.maxlength">{{ 250 - modalOptions.addstaff.address.length + " Chars left"}}</span>
			<span class="help-block" ng-show="addstaffForm.current_address.$dirty &&  addstaffForm.current_address.$invalid">
				<span class="text-danger" ng-show="addstaffForm.current_address.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="addstaffForm.current_address.$error.required">Required Field.</span>
			</span>
		</div>
		
		<label for="permanent_address" class="col-sm-1 control-label">Permanent Address*</label>
		<div class="col-sm-4">
			<textarea  class="form-control" id="permanent_address" ng-model="modalOptions.addstaff.address.permanent_address" name="permanent_address" placeholder="Enter address" ng-maxlength="250" required></textarea>
			<span class="text-danger"  ng-show="addstaffForm.permanent_address.$error.pattern">please Enter Valid Address</span>
			<span ng-hide="addstaffForm.permanent_address.$error.maxlength">{{ 250 - modalOptions.addstaff.address.length + " Chars left"}}</span>
			<span class="help-block" ng-show="addstaffForm.permanent_address.$dirty &&  addstaffForm.permanent_address.$invalid">
				<span class="text-danger" ng-show="addstaffForm.permanent_address.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="addstaffForm.permanent_address.$error.required">Required Field.</span>
			</span>
		</div>
	</div>
			
   <div class="form-group">
		<label for="location" class="col-sm-2 control-label">Location*</label>
			<div class="col-sm-4">
				<input type="text" name="location" id="location" ng-model="modalOptions.addstaff.location" placeholder="Enter your location" ng-pattern="/^[a-zA-Z0-9]*$/" class="form-control" required>
				<span class="text-danger"  ng-show="addstaffForm.location.$error.pattern">please Enter Valid Location</span>
				<span class="help-block" ng-show="addstaffForm.location.$dirty && addstaffForm.location.$invalid">
					<span ng-show="addstaffForm.location.$error.required" class="text-danger">Required Field.</span>
				</span>
			</div>	

			<label for="area" class="col-sm-1 control-label">Area*</label>
			<div class="col-sm-4">
				<input type="text" name="area" id="area" ng-model="modalOptions.addstaff.area" placeholder="Enter your Area" ng-pattern="/^[a-zA-Z0-9]*$/" class="form-control" required>
				<span class="text-danger"  ng-show="addstaffForm.area.$error.pattern">please Enter Valid area</span>
				<span class="help-block" ng-show="addstaffForm.area.$dirty && addstaffForm.area.$invalid">
					<span ng-show="addstaffForm.area.$error.required" class="text-danger">Required Field.</span>
				</span>
			</div>	
	</div> 
	<div class="form-group">
		<label for="city" class="col-sm-2 control-label">City*</label>
		<div class="col-sm-4" >
			<input type="text" id="city" name="city" class="form-control" ng-model="modalOptions.addstaff.city" placeholder="Enter city" ng-pattern="/^[a-zA-Z]*$/" required>
			<span class="text-danger"  ng-show="addstaffForm.city.$error.pattern">please Enter Valid City</span>
			<span class="help-block" ng-show="addstaffForm.city.$dirty && addstaffForm.state.$invalid">
				<span ng-show="addstaffForm.city.$error.required" class="text-danger">Required Field.</span>
			</span>						
		</div>
		
		<label for="pincode" class="col-sm-1 control-label">Pincode*</label>
			<div class="col-sm-4">
				<input type="text" id="pincode" name="pincode" class="form-control" ng-model="modalOptions.addstaff.pincode" placeholder="Enter pincode " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" required>
				<span class="help-block" ng-show="addstaffForm.pincode.$dirty && addstaffForm.pincode.$invalid">
					<span ng-show="addstaffForm.pincode.$error.pattern && (addstaffForm.pincode.$dirty || submitted)" class="text-danger">please enter number</span>
				</span>
			</div>						
		</div>	
	</div>
	<div class="form-group">
		<label for="state" class="col-sm-2 control-label">State*</label>
			<div class="col-sm-4">
				<input type="text" id="state" name="state" class="form-control" ng-model=	"modalOptions.addstaff.state" placeholder="Enter state" ng-pattern="/^[a-zA-Z]*$/" required>
				<span class="text-danger"  ng-show="addstaffForm.state.$error.pattern">please Enter Valid state</span>
				<span class="help-block" ng-show="addstaffForm.state.$dirty && addstaffForm.state.$invalid">
					<span ng-show="addstaffForm.state.$error.required" class="text-danger">Required Field.</span>
				</span>				
			</div>
			<label for="country" class="col-sm-1 control-label">Country*</label>
			<div class="col-sm-4">
				<input type="text" required name="country" class="form-control" id="country" ng-model="modalOptions.addstaff.country" placeholder="Enter Your country" ng-pattern="/^[a-zA-Z]*$/" required>
				<span class="text-danger"  ng-show="addstaffForm.country.$error.pattern">please Enter Valid country</span>
				<span class="help-block" ng-show="addstaffForm.country.$dirty && addstaffForm.country.$invalid">
					<span ng-show="addstaffForm.country.$error.required"class="text-danger">Required Field.</span>
				</span>				
			</div>
		</div>	
		
			
		

