<div class="modal-body">
<form class="form-horizontal" name="qualificationForm" role="form" ng-submit="qualificationForm.$valid" novalidate="novalidate">
	<div ng-init="modalOptions.addstaff.qualification = (modalOptions.addstaff.qualification) ? modalOptions.addstaff.qualification : []">
		<div class="table-responsive">
			<table class="table table-bordered" >
				<thead>
					<tr>
						<th>Exam</th>
						<th>University</th>
						<th>Percentage</th>
						<th>Passing Year</th>
						<th>Add</th>
					</tr>
				</thead>
				<tbody><div>{{modalOptions.qualification}}</div>
					<tr>
						<td>
							<input type="text" class="form-control " placeholder="Exam Name" id="exam" name="exam" ng-model="modalOptions.qualification.exam" ng-pattern="/^[a-zA-Z/ ]*$/" required/>
							 <span class="text-danger"  ng-show="qualificationForm.exam.$error.pattern">Text is required.</span>
							<span class="help-block" ng-show="qualificationForm.exam.$dirty && qualificationForm.exam.$invalid">
								<span class="text-danger" ng-show="qualificationForm.exam.$error.required">Required Field.</span>
							</span>
						</td>
						<td>
							<input type="text" class="form-control " placeholder="University" id="university" name="university" ng-model="modalOptions.qualification.university" ng-pattern="/^[a-zA-Z/ ]*$/" required />
							<span class="text-danger"  ng-show="qualificationForm.university.$error.pattern">Text is required.</span>
							<span class="help-block" ng-show="qualificationForm.university.$dirty && qualificationForm.university.$invalid">
								<span class="text-danger" ng-show="qualificationForm.university.$error.required">Required Field.</span>
							</span>
						</td>
						<td>
							<input type="text" class="form-control " placeholder="Percentage" id="percentage" name="percentage" ng-model="modalOptions.qualification.percentage" ng-pattern="/^\d{0,9}[0-9]$/" required/>
							 <span ng-show="qualificationForm.percentage.$error.pattern && (qualificationForm.percentage.$dirty || submitted)" class="text-danger">Please enter number</span>
							<span class="help-block" ng-show="qualificationForm.percentage.$dirty && qualificationForm.percentage.$invalid">
								<span class="text-danger" ng-show="qualificationForm.percentage.$error.required">Required Field.</span>
							</span>
						</td>
				
						<td>
							<input type="text" class="form-control " placeholder="Year" id="year" name="year" ng-model="modalOptions.qualification.year" ng-pattern="/^\d{0,9}[0-9]$/" required/>

							 <span ng-show="qualificationForm.year.$error.pattern && (qualificationForm.year.$dirty || submitted)" class="text-danger">Please enter number</span>
							<span class="help-block" ng-show="qualificationForm.year.$dirty && qualificationForm.year.$invalid">
								<span class="text-danger" ng-show="qualificationForm.year.$error.required">Required Field.</span>
							</span>	
						</td>
			
						<td>
						<button type="submit" class="btn btn-success center"  ng-disabled="qualificationForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addstaff.qualification,'qualification', modalOptions);">+</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form> {{modalOptions.addstaff.qualification}}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-sm-1">Sr.No.</th>
					<th class="col-sm-2">Exam Name</th>		
					<th class="col-sm-2">University</th>
					<th class="col-sm-2">Percentage</th>
					<th class="col-sm-2 text-right">Passing Year</th>
					<th class="col-sm-1">Remove</th>	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in modalOptions.addstaff.qualification">
					<td>{{ $index + 1 }}</td>
					<td>{{x.exam}}</td>	<td class="text-right">{{x.university}}</td>
					<td>{{x.percentage}}</td>
					<td class="text-right">{{x.year}}</td>
					<td><a ng-click="modalOptions.removeObject(modalOptions.addstaff.qualification, $index);"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
		</table>
</div>	
