
<div class="form-group">
<div class="col-sm-1"></div>
<div class="col-sm-10" ng-init="modalOptions.addstaff.qualification = (modalOptions.addstaff.qualification) ? modalOptions.addstaff.qualification : []">	
<form name="QualificationForm" class="form-horizontal" role="form"  id="QualificationForm" ng-submit="QualificationForm.$valid">	
	<div class="table-responsive">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th>Exam</th>
					<th>University/College</th>
					<th>Percentage</th>
					<th>Year of Passing</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="text" class="form-control" id="exam_name" name="exam_name" ng-model="modalOptions.qualification.exam_name" ng-pattern="/^[a-zA-Z/ ]*$/" 
						ng-change=""  placeholder="Exam Name"  required />
						 <span class="text-danger"  ng-show="QualificationForm.exam_name.$error.pattern">please Enter Valid Name</span> 
						<span class="help-block" ng-show="QualificationForm.exam_name.$dirty && QualificationForm.exam_name.$invalid">
						<span ng-show="QualificationForm.exam_name.$error.required" class="text-danger">Exam Name is necessary.</span>
						</span>  
					</td>
	
					<td>						
						<input type="text" class="form-control" id="university" name="university" ng-model="modalOptions.qualification.university"  ng-pattern="/^[a-zA-Z/ ]*$/" required 
						ng-change=""  placeholder="University/College Name"/>
						<span class="text-danger"  ng-show="QualificationForm.university.$error.pattern">please Enter Valid Name</span> 
						<span class="help-block" ng-show="QualificationForm.university.$dirty && QualificationForm.university.$invalid">
						<span ng-show="QualificationForm.university.$error.required" class="text-danger">university Name is necessary.</span> 
						</span> 
					</td>
					<td>
						<input type="text" class="form-control" id="percentage" name="percentage" ng-model="modalOptions.qualification.percentage"  placeholder="percentage" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
						<span class="help-block" ng-show="QualificationForm.percentage.$dirty && QualificationForm.percentage.$invalid">
						 <span ng-show="QualificationForm.percentage.$error.required" class="text-danger">percentage Required.</span> 
							<span ng-show="QualificationForm.percentage.$error.pattern" class="text-danger">Enter number only</span>
						</span> 
					</td>
					<td>
					<input type="text" class="form-control" id="year" name="year" ng-model="modalOptions.qualification.year"  placeholder="year of passing" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="4"required />	
					<span class="help-block" ng-show="QualificationForm.year.$dirty && QualificationForm.year.$invalid">
						<span ng-show="QualificationForm.year.$error.required" class="text-danger">year Required.</span>
							<span ng-show="QualificationForm.year.$error.pattern" class="text-danger">Enter number only</span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="QualificationForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addstaff.qualification, 'qualification', modalOptions)" disabled="disabled">	+Add 
		</button>
	</div>
</form>	
</div>
</div>

<div class="table-responsive">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th class="col-sm-2">Sr.No.</th>
					<th class="col-sm-2">Exam Name</th>
					<th class="col-sm-2">University/College</th>
					<th>Percentage</th>
					<th>Year of Passing</th>
					<th >Remove</th>
				</tr> 
			</thead>
			{{modalOptions.qualification}}
			<tbody>
				<tr ng-repeat="x in modalOptions.addstaff.qualification">
					<td>{{$index + 1}}</td>
					<td>{{x.exam_name}}</td>
					<td>{{x.university}}</td>
					<td>{{x.percentage}}</td>
					<td>{{x.year}}</td>
					<td><button ng-click="modalOptions.removeObject(modalOptions.addstaff.qualification, $index);">X</button></td>
				</tr>
			
				
			</tbody>
		</table>
</div>