
<div class="form-group">
<div class="col-sm-1"></div>
	<div class="col-sm-10">	
			<div class="table-responsive">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Exam</th>
							<th>University/College</th>
							<th>Percentage</th>
							<th>Year of Passing</th>
							<th>Submit</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" id="exam_name" name="exam_name" ng-model="modalOptions.addstaff.qualification.exam_name" required 
								ng-change=""  placeholder="Exam Name"/>
								<span class="help-block" ng-show="addstaffForm.exam_name.$dirty && addstaffForm.exam_name.$invalid">
									<span ng-show="addstaffForm.exam_name.$error.required" class="text-danger">Exam Name is necessary.</span>
								</span> 
							</td>
			
							<td>						
								<input type="text" class="form-control" id="university" name="university" ng-model="modalOptions.addstaff.qualification.university" required 
								ng-change=""  placeholder="University/College Name"/>
								<span class="help-block" ng-show="addstaffForm.university.$dirty && addstaffForm.university.$invalid">
									<span ng-show="addstaffForm.university.$error.required" class="text-danger">university Name is necessary.</span>
								</span> 
							</td>
							<td>
								<input type="text" class="form-control" id="percentage" name="percentage" ng-model="modalOptions.addstaff.qualification.percentage"  placeholder="percentage" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
									
								<span class="help-block" ng-show="addstaffForm.percentage.$dirty && addstaffForm.percentage.$invalid">
									<span ng-show="addstaffForm.percentage.$error.required" class="text-danger">percentage Required.</span>
									<span ng-show="addstaffForm.percentage.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>
							<td>
								<input type="text" class="form-control" id="year" name="year" ng-model="modalOptions.addstaff.qualification.year"  placeholder="year of passing" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
									
								<span class="help-block" ng-show="addstaffForm.year.$dirty && addstaffForm.year.$invalid">
									<span ng-show="addstaffForm.year.$error.required" class="text-danger">year of passing Required.</span>
									<span ng-show="addstaffForm.percentage.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>
							<td>	
								<button type="button" tooltip="Add " id="add" class="glyphicon glyphicon-plus" placeholder="add" name="add" value=""  ng-click=""  ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
							</td>
						</tr>
					</tbody>
				</table>
			</div>													
	</div>
</div>

<div class="table-responsive">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th class="col-sm-2">Sr.No.</th>
					<th class="col-sm-2">Exam Name</th>
					<th>Percentage</th>
					<th>Year of Passing</th>
					<th >Remove</th>
				</tr> 
			</thead>
			
			<tbody >
				<tr ng-repeat="x in modalOptions.addstaff.qualification">
					<td>{{$index + 1}}</td>
					<td>{{x.exam_name}}</td>
					<td>{{x.university}}</td>
					<td>{{x.percentage}}</td>
					<td>{{x.year}}</td>
					<td><button ng-click="modalOptions.removeObject(modalOptions.addstaff.qualification, $index);">X</button></td>
				</tr>
			
				
			</tbody>
		</table>
</div>