<div class="form-group">
	<div class="col-sm-offset-2 col-sm-9">
		<button type="submit" class="btn btn-success" ng-disabled="addstaffForm.$invalid" ng-click="modalOptions.postData('staff',modalOptions.addstaff);modalOptions.ok()"ng-if="!modalOptions.addstaff.id" >Add staff</button>
		
		<button type="submit" ng-if="modalOptions.addstaff.id" class="btn btn-success" ng-disabled="addstaffForm.$invalid" ng-click="modalOptions.updateData('staff',modalOptions.addstaff,modalOptions.addstaff.id);modalOptions.ok()">Update staff</button>
		
		<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
	</div>
</div>	
