
<div class="form-group">
<div class="col-sm-1"></div>
	<div class="col-sm-10" ng-init="modalOptions.addstaff.specification = (modalOptions.addstaff.specification) ? modalOptions.addstaff.specification : []">	
			<div class="table-responsive">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Experience</th>
							<th>Doctor Certificate No</th>
							<th>CTC</th>
			
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" id="experience" name="experience" ng-model="modalOptions.specification.experience" required 
								ng-change=""  placeholder="Experience"/>
								<span class="help-block" ng-show="addstaffForm.experience.$dirty && addstaffForm.experience.$invalid">
									<span ng-show="addstaffForm.experience.$error.required" class="text-danger">Experience is necessary.</span>
								</span> 
							</td>
			
							<td>						
								<input type="text" class="form-control" id="dcn" name="dcn" ng-model="modalOptions.specification.dcn" required 
								ng-change=""  placeholder="Doctor Certificate No"/>
								<span class="help-block" ng-show="addstaffForm.dcn.$dirty && addstaffForm.dcn.$invalid">
									<span ng-show="addstaffForm.dcn.$error.required" class="text-danger">Doctor Certificate No is necessary.</span>
								</span> 
							</td>
							<td>
								<input type="text" class="form-control" id="ctc" name="ctc" ng-model="modalOptions.specification.ctc"  placeholder="CTC" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
									
								<span class="help-block" ng-show="addstaffForm.percentage.$dirty && addstaffForm.ctc.$invalid">
									<span ng-show="addstaffForm.ctc.$error.required" class="text-danger">CTC Required.</span>
									<span ng-show="addstaffForm.ctc.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>
						
						</tr>
					</tbody>
				</table>
				<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="table-responsive.$invalid" ng-click="modalOptions.addToObject(modalOptions.addstaff.specification, 'specification', modalOptions)"  >	+Add 
				</button>
			</div>													
	</div>
</div>

<div class="table-responsive">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th class="col-sm-2">Sr.No.</th>
					<th class="col-sm-2">Experience</th>
					<th>Doctor Certificate No</th>
					<th>CTC</th>
					<th >Remove</th>
				</tr> 
			</thead>
			{{modalOptions.addstaff.specification}}
			<tbody >
				<tr ng-repeat="x in modalOptions.addstaff.specification">
					<td>{{$index + 1}}</td>
					<td>{{x.experience}}</td>
					<td>{{x.dcn}}</td>
					<td>{{x.ctc}}</td>
					<td><button ng-click="modalOptions.removeObject(modalOptions.addstaff.specification, $index);">X</button></td>
				</tr>
			
				
			</tbody>
		</table>
</div>



