<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	<h3 class="text-center">Staff Attendence</h3>
</div>
	<!-- {{modalOptions.staffattendance}} -->
<div class="modal-body">
<form class="form-horizontal" name="attendanceForm" role="form" ng-submit="attendanceForm.$valid" novalidate="novalidate">
		<div class="form-group" >
			<label  for="date" class="col-sm-2 control-label">Date *</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input type="text" class="form-control " placeholder="Date" id="attend_date" name="attend_date" ng-model="modalOptions.staffattendance.attendance_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.staffattendance.attendance_date = modalOptions.attendancedate"  ng-required="true" close-text="Close" ng-click="opened = !opened" ng-change="modalOptions.setDate(modalOptions.staffattendance.attendance_date,10); modalOptions.sqlDateFormat(modalOptions.staffattendance.attendance_date, modalOptions.staffattendance.attendance_date)"/>	
					
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			
			<div ng-init="modalOptions.getData(false,false,'staff','staffList', staffParams, modalOptions)">
				<label for="staff_id" class="col-sm-1 control-label"> Select Staff* </label>
				<div class="col-sm-4">
					<select id="staff_id" class="form-control" ng-model="modalOptions.staffattendance.staff_id" ng-options="item.id as item.name for item in modalOptions.staffList" required>
						<option value="">Select Staff</option>
						<option value="1">1</option>
					</select>
					<span class="help-block" ng-show="attendanceForm.staff_id.$dirty && attendanceForm.staff_id.$invalid">
					<span ng-show="attendanceForm.staff_id.$error.required" class="text-danger">user name is required.</span>
					</span>	
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="login_time" class="col-sm-2 control-label">Login Time</label>
			<div class="col-sm-4">
				<input type="text" id="login_time" class="form-control" name="login_time" ng-model="modalOptions.staffattendance.login_time" required>
			</div>
			<label for="logout_time" class="col-sm-1 control-label">Logout Time</label>
			<div class="col-sm-4">
				<input type="text" id="logout_time" class="form-control" name="logout_time" ng-model="modalOptions.staffattendance.logout_time" required>
			</div>
		</div>
		
		
	
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-success" ng-disabled="attendanceForm.$invalid"  ng-click="modalOptions.postData('staffattendance',modalOptions.staffattendance);modalOptions.ok()">Add</button>
			
			<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
			</div>
		</div>
</form>
</div>
