.homeAboutus {
    display: none;
}
.carousel-inner>.item{
				height:700px;
			img{
			     min-height:450px;
				 width: 100%;
				}
		}
		span.glyphicon.glyphicon-chevron-right,span.glyphicon.glyphicon-chevron-left 
         		{
					background-color:gray;
					height: 36px;
					width: 40px;
					margin-top: 368px;
					}
		.carousel-indicators li {
					display: none;
		}
		
		.featrGallery{
				.thumbnail{
							height:200px;
							//background:linear-gradient(to bottom,@lightbackcolor,@darkcolor,@lightbackcolor);
							 border-color: #FFFFFF #F5F5F5 #E5E5E5;
							color:@colorwhite;
							margin:10px;
							.caption{
									height:180px;
									overflow:hidden;
									
									text-align:justify;
									padding-top:10px;
									
								}
							img{
								width:100%;
								margin:12px 0px;
								border:2px solid @colorwhite;
								
							&:hover{
								opacity:0.7;
							}
								
							}
				
				}

}

.testi{
		.img-circle {
			border-radius: 50%;
			height: 200px;
		}
			.description{
				padding:15px;
			}
}