.bxslider{ 
	padding:5px;
	li{
		width:100px;
		height : 325px;
		.projimg{
			height : 175px;
			overflow : hidden;
			padding : 6px;
			border : 2px solid transparent;
			img{
				min-height: 175px;
			}
			&:hover{
				border : 2px solid @darkcolor;
			}
		}
}
}


.activity{
			img{
				height:200px;
				width:100%;	
			}
	animation-name:activity;
	animation-duration:2s;
	animation-iteration-count:1;		
}
@keyframes activity{
	
	0%{opacity:0;transform:translatey(-100px);}
	100%{opacity:1;transform:translatey(0px);}
}
.thumbnail{
    .description{
		    height: 100px;
			overflow: hidden;
			
	}

}