.bxslider{ 
	padding:5px;
	li{
		width:100px;
		height : 325px;
		.projimg{
			height : 175px;
			overflow : hidden;
			padding : 6px;
			border : 2px solid transparent;
			img{
				min-height: 175px;
			}
			&:hover{
				border : 2px solid @darkcolor;
			}
		}
}
}


.activity{
			img{
				height:200px;
				width:100%;	
			}
}

.thumbnail{
    .description{
		    height: 100px;
			overflow: hidden;
	}

}