.container .about h2 {
  color: #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
}
.container .about .about_content {
  border-bottom: 2px solid #f4f4f4;
}
.container .about .about_content p {
  color: #4ae0d0 !important;
}
body {
  background-color: black;
}
.container {
  background-color: #000000;
}
.container .navbar_right li {
  background-color: #000000;
}
.container .navbar_right li a {
  color: #f4f4f4;
}
.container .navbar_right li a:hover {
  background-color: #217748;
  color: #f4f4f4;
}
.contact h2 {
  color: #f4f4f4;
}
