.prod_cont .prodimg {
  height: 90px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.prod_cont .prodimg img {
  border: 2px solid transparent;
  min-height: 90px;
}
.prod_cont .description {
  display: none;
}
.featured_services {
  background-color: #f4f4f4;
}
.featured_services ul .servdesc .description p {
  display: none;
}
.container .about h2 {
  color: #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
}
.container .about .about_content {
  border-bottom: 2px solid #f4f4f4;
}
.container .about .about_content p {
  color: #4ae0d0 !important;
}
.carousel .carousel-indicators {
  display: none;
}
.carousel > .carousel-control {
  display: none;
}
.carousel .item {
  height: 405px;
  overflow: hidden;
}
.carousel .item img {
  width: 100%;
  min-height: 200px;
}
body {
  background-color: black;
  position: relative;
}
/*.wrap_nav{
		position:absolute;
		width:280px;
		height:auto;
		left:10px;
		z-index: 9999;
		left: 25px;
	}*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .brand {
  height: 260px;
  width: 260px;
  padding-left: 15px;
}
.navbar-default .brand img {
  height: 250px;
  width: 245px;
}
.navbar-default .brand .navbar-brand {
  padding: 0px;
}
.navbar-default .nav-pills,
.navbar-default nav-stacked {
  display: block;
  float: none;
  margin-top: 270px;
}
.navbar-default .nav-pills::after,
.navbar-default nav-stacked::after {
  background-image: url('../img/nav-btmbg.jpg');
  height: 105px;
  width: 245px;
}
.navbar-default .nav-pills li,
.navbar-default nav-stacked li {
  background-color: #000000;
  border-radius: 5px;
}
.navbar-default .nav-pills li a,
.navbar-default nav-stacked li a {
  color: #f4f4f4;
}
.navbar-default .nav-pills li.active > a,
.navbar-default nav-stacked li.active > a,
.navbar-default .nav-pills li.active:hover > a,
.navbar-default nav-stacked li.active:hover > a,
.navbar-default .nav-pills li.active:focus > a,
.navbar-default nav-stacked li.active:focus > a,
.navbar-default .nav-pills li:hover > a,
.navbar-default nav-stacked li:hover > a {
  background-color: #217748;
  color: #f4f4f4;
}
.homeAboutus .description p {
  color: #f4f4f4;
}
.homeAboutus h1 {
  color: #f4f4f4;
}
.homeAboutus .btn-info {
  background: #217748;
  border-color: #217748;
  border-radius: 0px;
  margin-top: 30px;
}
.contact h2 {
  color: #f4f4f4;
}
