@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'ArbutusSlab-Regular';
  src: url('../fonts/ArbutusSlab-Regular.ttf');
}
.featrtesti {
  background-image: url('../img/bg4.jpg');
  height: 400px;
}
.featrtesti h3 {
  color: #ffffff;
  padding: 26px;
  font: 400 34px/48px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
}
.featrtesti .description {
  animation-name: test1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
.featrtesti .description p {
  color: #ffffff;
  font: 400 15px/20px "Arbutus Slab", sans-serif;
}
.featrtesti blockquote {
  border-left: none !important;
}
@keyframes test1 {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.featrGallery {
  animation-name: gallery1;
  animation-duration: 3s;
  aniamtion-iteration-count: 1;
}
.featrGallery .thumbnail {
  width: 200px;
  height: 200px;
}
.featrGallery .thumbnail img {
  width: 100%;
  height: 100%;
}
.featrGallery h3 {
  font: 400 36px/48px "Arbutus Slab", sans-serif;
}
@keyframes gallery1 {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#gallery {
  display: none;
}
.infrastructure {
  height: 500px;
}
.infrastructure .thumbnail {
  overflow: hidden;
  height: 450px;
}
.infrastructure .thumbnail .infraImg {
  height: 200px;
}
.infrastructure .thumbnail .infraImg img {
  height: 200px;
  width: 100%;
}
.infrastructure .thumbnail .caption {
  height: 150px;
}
div.infrastructure > div.row > div:nth-child(1) {
  animation-name: abt1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
@keyframes abt1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(3) {
  animation-name: abt2;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
@keyframes abt2 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
div.infrastructure > div.row > div:nth-child(5) {
  animation-name: abt3;
  animation-duration: 3s;
  aniamtion-iteration-count: 1;
}
@keyframes abt3 {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
div.infrastructure > div.row > div:nth-child(7) {
  animation-name: abt4;
  animation-duration: 3s;
  aniamtion-iteration-count: 1;
}
@keyframes abt4 {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(9) {
  display: none;
}
.activity {
  font-family: 'Droid Serif';
  font-style: italic;
  color: #ffffff !important;
  float: right;
}
.activity h1 {
  color: #ffffff !important;
  text-align: left;
  font: 400 36px/48px "Arbutus Slab", sans-serif;
}
.activity .panel {
  background-color: transparent;
}
.activity .panel h3 {
  color: #ffffff !important;
}
.activity .panel-body {
  padding: 0px !important;
}
.activity .panel-body > .row > div {
  padding: 0px !important;
}
.activity h3 {
  text-align: left;
}
.activity .btn-info {
  background-color: #464646;
  color: #ffffff;
  padding: 15px;
  margin: 10px;
}
.activity img {
  height: 70px;
  width: 70px;
}
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-lg-2 {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.acti {
  background-image: url('../img/mob3.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.acti > .row {
  background-color: rgba(0, 0, 0, 0.52);
}
.testi {
  background-image: url('../img/mob5.jpg');
  background-size: 100% 200%;
  background-repeat: no-repeat;
}
.testi > .row {
  background-color: rgba(0, 0, 0, 0.52);
}
.services .servdesc {
  padding: 30px;
}
.services .servdesc .description {
  height: 100px;
  overflow: hidden;
}
.services .servdesc h4 {
  margin-top: -18px;
}
.services .servdesc .readmore a {
  border: 1px solid #000000;
  background-color: transparent;
}
.services .servdesc .readmore a:hover {
  background-color: #ef321f;
  color: #ffffff;
  border: 1px solid transparent;
}
.carousel-inner .item {
  height: 500px;
}
.carousel-inner .item img {
  min-height: 500px;
  width: 100%;
}
.carousel-inner .carousel-caption {
  position: absolute;
  color: #ffffff;
  bottom: 30%;
}
.carousel-inner .carousel-caption h2 {
  font: 400 45px/60px "Arbutus Slab", sans-serif;
  color: #ffffff;
}
.carousel-inner .btn {
  border-radius: 0px !important;
}
.carousel-inner .btn-info {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px;
}
.carousel-inner .btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
.carousel-indicators {
  background-color: #ef321f;
  position: absolute;
  bottom: -53px;
  z-index: 15;
  width: 60%;
  height: 100px;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  animation-name: carousel;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes carousel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contentModule h3 {
  color: #ffffff;
}
.contentModule .products {
  background-color: transparent;
  text-align: center;
}
.contentModule .products .thumbnail {
  background: transparent;
  border: none;
  padding: 10px;
  height: 500px;
  overflow: hidden;
}
.contentModule .products .thumbnail .prodimg {
  border: 2px solid #ffffff;
  padding: 20px;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 50%;
}
.contentModule .products .thumbnail .prodimg img {
  height: 100%;
  text-align: center;
}
.contentModule .products .thumbnail .prodimg img:hover {
  opacity: 0.5;
}
.contentModule .products .thumbnail p {
  color: #000000;
  text-align: center;
}
.contentModule .products .thumbnail h4 {
  text-align: center;
  color: #ffffff;
  font: 400 22px/36px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
}
.contentModule .products .thumbnail h4:hover {
  color: #ef321f;
}
div.sections > div:nth-child(1) {
  animation-name: serv1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
div.sections > div:nth-child(2) {
  animation-name: serv2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.sections > div:nth-child(3) {
  animation-name: serv3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv3 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.produ {
  background-image: url('../img/mob4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.produ > .row {
  background-color: rgba(0, 0, 0, 0.52);
}
header {
  position: relative;
  background-image: url('../img/mob2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 520px;
}
header .logo {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
header h1 {
  margin-top: 30px;
  font: 400 34px/48px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
header .tagline {
  font: 400 30px/30px "Arbutus Slab", sans-serif;
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
  padding: 30px;
}
@keyframes logo {
  0% {
    margin-left: 0px;
  }
  30% {
    margin-left: 52%;
    margin-top: 27%;
  }
  60% {
    margin-left: -62%;
    margin-top: 27%;
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
  }
}
.c1 {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
}
.c1:hover {
  color: #ffffff;
  background-color: #ef321f;
}
h1,
h2,
h3 {
  color: #000000;
  text-align: center;
}
.align {
  text-align: left;
}
container-fluid {
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-default {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.74);
  opacity: 0.9;
  margin-bottom: -1px;
  border: none;
}
.navbar-default .navbar-nav > li {
  padding: -5px;
  float: none;
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  padding: 35px;
  padding-right: 10px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  color: #d3eaa2;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #ef321f;
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #ef321f;
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background-color: #ffffff;
  list-style: none;
  display: none;
  color: #ef321f;
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: #ef321f;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background-color: rgba(0, 0, 0, 0.74);
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.navbar-default .navbar-collapse {
  margin-left: 137px;
  margin-right: 137px;
}
.homeAboutus {
  text-align: center;
  background-color: #3a322f;
  margin-top: -20px;
}
.homeAboutus h1 {
  padding: 85px;
  font: 400 36px/48px "Arbutus Slab", sans-serif;
  color: #ffffff;
}
.homeAboutus .tagline {
  color: #ffffff;
  margin-top: -76px;
}
.homeAboutus .tagline1 {
  color: #ffffff;
}
.homeAboutus p {
  color: #ffffff;
  text-align: justify;
}
.row {
  margin: 0px;
}
.btn {
  border-radius: 0px !important;
}
.btn-info {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
.bg1 {
  height: 400px;
  width: 100%;
  background-image: url('../img/bg3.jpg');
  background-size: 100% 100%;
}
footer {
  position: relative;
  background-image: url('../img/bg1.png');
  height: 210px;
}
footer p {
  padding-top: 9%;
}
footer a {
  color: #000000;
}
.panel-default {
  color: #ffffff;
  background-color: #3a322f;
  border: none;
}
.panel-default .form-control {
  background-color: #3a322f;
  display: inline-block;
  width: 100%;
  margin: 5px;
  vertical-align: middle;
}
.panel-default input {
  width: 100%;
  height: 65px;
}
.panel-default textarea {
  height: 246px;
}
.panel-default .form-group {
  display: inline-block;
}
.panel-default h3 {
  font: 400 36px/48px "Arbutus Slab", sans-serif;
  color: #ffffff;
}
.panel-default .btn {
  border-radius: 0px !important;
}
.panel-default .btn-info {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}
.panel-default .btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
.panel-default .col-xs-12,
.panel-default .col-sm-12,
.panel-default .col-md-12,
.panel-default .col-lg-12 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.about {
  height: 500px;
  overflow: hidden;
  padding: 20px;
}
.about img {
  height: 200px;
  width: 200px;
  border: 1px solid #000000;
  horizontal-align: center;
}
.about h4 {
  text-align: center;
  font: 400 26px/48px "Arbutus Slab", sans-serif;
}
.about center {
  text-align: justify;
  font: 400 18px/20px "Arbutus Slab", sans-serif;
}
.sociallinks {
  position: absolute;
  display: inline;
  width: 300px;
  right: 110px;
  padding-top: 6%;
}
.sociallinks li {
  display: inline;
}
.sociallinks a {
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  height: 58px;
  width: 58px;
  margin: 2px;
  background-color: rgba(85, 85, 85, 0.25);
  padding: 10px;
}
.sociallinks a:hover {
  background-color: rgba(8, 8, 8, 0.54);
}
.sociallinks a img {
  height: 40px;
  width: 40px;
}
.testimonials {
  height: 500px;
  overflow: hidden;
}
.pad {
  padding: 20px;
}
.contact table h4 {
  font: bold 20px/1em Arial, Helvetica, sans-serif;
}
.contact table address {
  font: bold 20px/1em Arial, Helvetica, sans-serif;
}
.contact span p {
  font: bold 20px/1em Arial, Helvetica, sans-serif;
}
.contact td {
  font: bold 20px/1em Arial, Helvetica, sans-serif;
}
.container + div {
  padding: 0px;
}
.contactanim {
  animation-name: contact;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes contact {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
#googleMap {
  height: 300px;
}
