
	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : #800517;
	@lightcolor :   #EDC9AF;
	@darkcolor : #F88017;
	@back :#E2A76F;
	@darkbackcolor :#47451;
	@lightbackcolor :#FF8040; 
	@colorblack : #02071A;
	@colorwhite	: #fff;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
	*{
		transition:300ms;
	}
	.container{
		max-width : 992px !important;
	}
	body{
		
		background-color:@lightcolor;
		color: @colorblack;
	}

	.logopart{
		
		background:linear-gradient(to right,@colorblack,@color,@color);
		
			.img-responsive{
			max-height:200px;
			float:right;
	}
	}
	.logo{
				background-size:100% 100%;
				float:right;
				//margin-top:4px;
				margin-right:5px;
				animation-name:logo;
				animation-duration:5s;
				animation-iteration-count:2;
				
		}
	@keyframes logo{
		
						0%{transform:rotateX(90deg);}
						50%{transform:rotateX(0deg);}
						100%{transform:rotateY(180deg);}
					}
	
	
	.sociallinks{
		top: 150%;
		position: fixed;
		z-index : 999;
		width : 5px;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				background-image: -webkit-linear-gradient(top, @lightbackcolor, @darkbackcolor);
				background-image: -moz-linear-gradient(top, @lightbackcolor, @darkbackcolor);
				background-image: -linear-gradient(top, @lightbackcolor, @darkbackcolor);
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color:@color;
					&:hover{
						color:@color;
						text-decoration : underline;
						
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @color;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				&:hover{
					transform: translateX(-45px);
				}
			}
		}
	}

	.navbar-default {
		background-image: -webkit-linear-gradient(top, @lightbackcolor, @darkbackcolor);
		background-image: -moz-linear-gradient(top, @lightbackcolor, @darkbackcolor);
		background:linear-gradient(to bottom,@darkcolor,@lightbackcolor);
		border : none;
		border-radius: 0;
      // top:-10px;
		.navbar-nav{
			> li{
				text-transform:uppercase;
				position : relative;
				//margin-right: 8px;
				
				> a, > a:focus >{
					color :@color;
					padding : 19px;
					padding-top:10px;
					//border-left: 1px solid @colorblack;
					//border-top:1px solid @colorblack;
					//border-bottom:1px solid @colorblack;
					font:bold 14px/1.5em Arial, Helvetica, sans-serif;
					position: relative;
					&:hover{
								animation-name:wobble;
								animation-duration:1s;
								animation-iteration-count:1;
								
					}
				}
				
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					color : @back;
					background-color : @back;
					border: 1px solid @lightcolor;
					border-top-left-radius: 19px;
					border-bottom-right-radius: 19px;
					//top: -8px;
					//padding: 15px 9px;
				}
				> ul {
					list-style: none;
					position: absolute;
					width:240px;
					top : 55px;
					z-index:12999;
					display: none;
					background :@darkcolor;
					//border: 3px solid @lightcolor;
					//border-radius:19px;
					//border-top-left-radius: 0px;
					padding: 15px;
					text-align: left;
					transition : all 500ms ease-in-out;
					>li{
						padding: 7px;
						>a{
							color : @colorblack;
							&:hover{
								text-decoration: underline;
							}
						}
						ul{
							list-style: none;
							padding: 7px;
							>li{
								>a{
									color : @colorwhite;
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}
					}
					
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		
	}
	


	.subhead {
		//margin-top:-25px;
		position: relative;
		font : 1.5em/1.5em Amaranth-Regular;
		padding: 4px 10px;
		text-align: center;
		color : @lightbackcolor;
		background-color:@color;
		background: -moz-linear-gradient(top,  @lightcolor, @darkcolor);
		//background: linear-gradient(top, @lightcolor, @darkcolor);
		border : 1px solid @lightcolor;
		border-radius: 5px;
		box-shadow : 0px 1px 2px @back;
	}
	.content, .sections, .sidemenu, .thumbnail, .tab-content{
	
	
	
		background-color : @back;
		opacity:0.9;
		border:1px solid @darkbackcolor;
		border-radius : 4px;
	}
	
	.content{
		height:100%;
		//margin-top:-20px;
		padding : 0px 20px 20px;
		color:@colorblack;
		//height:315px;
		 
		/*animation-name:anim;
		 animation-duration:4s;
		 animation-iteration-count:1;*/
		
		
	}
	/*@keyframes anim{
			
						0%{height:0px;}
						100%{height:173px;}
	
	}*/
	.sections{
		margin-top:-9px;
		padding:15px;
		color:@colorblack;
		

	}
	.sidebarModule{
		margin-top:23px;
		.panel-body{
			padding : 15px 15px 0px;
			
		}
		
	}
	 
	.contactus{
		h4{
			//margin-top : 0px;
		}
		hr{
			margin: 0px 0px 10px;
		}
	}
	//global css
	h1,h2{
	
		color:@color;
	}
	
	h4{
		color : @colorwhite;
		font-family : 'Amaranth-Regular';
	}
	h3,h5,h6{
		color:@colorblack;
	}
	h1,h2{
		text-align : center;
	}
	.btn-link{
		padding-left : 0px;
	}
	a, .btn-link{
		color : @color;
		&:hover{
			text-decoration : underline;
			color : @color;
		}
	}
	.panel{
		background-color : @lightcolor;
		border:1px solid @colorblack;
		}
	.panel-default{
		border-color : @darkbackcolor;
	}
	hr{
		border-color : @darkcolor;
	}
	.form-control{
		background-color : @back;
		color : @colorblack;
		
	}
	.btn-info, .btn-info[disabled], .btn-primary{
		background-color: @color;
		color : @back;
		border-color : @lightcolor;
		position: relative;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		&:before{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: @lightcolor;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 50%;
			transform-origin: 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		&:hover{
			background: @color;
			color : @colorblack;
			border-color : @color;
		}
		&:hover:before, &:focus:before, &:active:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	.btn + .btn {
		margin-left : 10px;
		background-color:@lightbackcolor;
		color:@colorblack;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
	{
		background-color : @color;
		color : @back;
		border : 1px solid @color;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
		background-color : @back;
		border : 1px solid @color;
		color : @color;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 15px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 

	
	footer{
		//margin-top : 10px;
		padding-top : 10px;
		background-color:@darkcolor;
		color:@color;
		font-weight : bold;
		background: -webkit-linear-gradient(top, @lightbackcolor, @darkbackcolor);
		background: -moz-linear-gradient(top,  @lightbackcolor, @darkbackcolor);
		background: linear-gradient(top,  @lightbackcolor, @darkbackcolor);
	}
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}
	button.navbar-toggle.collapsed.projdtls{
		color : @colorwhite;
	}
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
		.navbar{
			min-height: 1px;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
					>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						border : none;
						border-radius : 0px;
						top : 0px;
						background-color : @color;
						color : @back;
						
					}
				}
			}
		}
		
		.item.active, .projnav{
			//margin-top:10px;
			height: 120px;
			overflow: hidden;
		}
		.carousel-inner{
		
					margin-top:20px;
					
		}
		.carousel-inner>.item>img{
			width :100%;
		}
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
				>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
								background-color : @back;
								color :  @color;
								z-index:12999;
								}
					
				}
			}
		}
		@keyframes wobble  {
				0%  { -webkit-transform:  rotate(0deg); }
				20%  { -webkit-transform:  rotate(10deg); }
				50%  { -webkit-transform:  rotate(-10deg); }
				100%  { -webkit-transform:  rotate(0deg); }
				}
		
		.cnctinfo{
			display : block;
		}
		.navbar{
			height : 50px;
		}
		.projnav{
			height: 322px;
		}
		.item.active{
			height: 312px;
			overflow: hidden;
		}
		.carousel-inner>.item>img{
			width :100%;
			min-height : 310px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			height : 50px;
		}
		.projnav{
			height: 322px;
		}
		.item.active,{
			height: 312px;
			overflow: hidden;
		} 
		.carousel-inner>.item>img{
			//width :100%;
			min-height: 312px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
	}