  body{
		font-family: arial, sans-serif;
		font-size: 14px;
		line-height: 1.5;
		color: #7F8C8C;			
	}	
	
	body h3{
		text-transform:uppercase;		
	}
	
	header img {
		margin-bottom:20px;
	}
	.headerRow{
		background-color:#C8CFDD;
	}
	.nav{
		background-color: #C8CFDD;		
	}
	
	ul li ul{
        display: none;
    }

    ul li:hover ul{
        display: block; /* display the dropdown */
		margin-left:120px;
		padding:0px 10px;
    }
	.nav > li > a:hover, .nav > li > a:focus {
		text-decoration: none;
		background:none;
	}
	.nav-pills > li > a {
		color: #fff;
	}	
	ul li:hover a{
		color: #000;
	}
		
	.navbar-default{
		background:none;
		border: none;
	}
	
	/* sec1 */
	
	.section1{
		padding:0px 20px;
	}
	
	
	.news{
		background: none repeat scroll 0% 0% #384764;
		padding-bottom:20px;
		color:#fff;
		padding-top:20px;
	}
	.news a	{
		margin-top: 20px;
		margin-left:10px;	
	}
	
	.news address, h3{
		padding-left:10px;
	}
	.news h3{		
		margin:0px;
	}
	
	.PraesentRow{
		margin-bottom:20px;
		margin-top:20px;
	}
	.section1 address{
		padding-top: 20px;
	}
	
	
	/* sec2 */
	 .section2 address{
		padding-top: 20px;
	}
	
	.Hearing {
		background-color: #8D9CB7;
		padding-bottom:20px;
		color:#fff;
		padding-top:20px;
		
	}
	.Hearing a{
		margin-top: 20px;
		margin-left:10px;	
	}
	
	.imgRow{
		margin-bottom:20px;
		margin-top:20px;
	}
	.Hearing address, h3{
		padding-left:10px;
	}
	.Hearing h3{
		
		margin:0px;
	}	
	
	form{
		padding: 0px 10px;
	}
	
	/* section3 */
	.section3 img{
		width: 190px;
		height: 175px;
	}
	
	.section4 .col-sm-8 p{
		padding: 0px 25px;
	}
	.section4 .btn-primary {
		margin-left:25px;
	}
	
	footer{
		background-color:#384764;
		color:#fff;
		padding-bottom:20px;
	}
	
	footer a{
		color:#fff;
	}
	
	footer .glyphicon{
		font-size: 20px;
	}
	.icons{
		margin-top: 20px;
		
	}
	
	.icons a{
		padding:0px 20px;
	}
	.footerLogo{
		margin-top: 10px;
		padding:0px 20px;
	}	
	
	