{% autoescape false %}
{% if featured_projects %}
<div class="contentModule">
	<h3 class="subhead"><small>Featured</small><br>Project</h3>
	<div class="sections clearfix services">
		<ul class="bxslider" id="bxslider1">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_projects if break == 0 %}
				<li class="text-center">
					<div class="sliderimg">
						<a href="projects/{{x.title}}/{{x.id}}">
							<img class="img-responsive center-block" src="{{x.project_images.0.file_relative_path}}" alt="{{x.title}}"/>
						</a>
					</div>
					<div class="readmore">
						<a href="projects/{{x.title}}/{{x.id}}">
							{{x.title}}
						</a>
						<p><b>{{x.overview.projectsubtitle}}</b></p>
						<p>{{x.type ~ ', '}}{{x.category}}-{{x.location}}</p>
					</div>
					<a href="projects/{{x.title}}/{{x.id}}" class="btn btn-info center-block">Read More</a>
				</li>
				{% set i = (i + 1) %}
				{% if i == 4 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}