{% autoescape false %}
	{% if data.testimonials | length >= 1 %}
	<div class="content featured_testimonials">
		<h3>Testimonials</h3>
		<div class="row featrtesti">
			<ul class="bxslider5" id="bxslider5">
			{% set break = 0 %}{% set i = 0 %}
			{% for key, value in data.testimonials if break == 0 %}
				<li>
					<div class="col-xs-3 col-lg-3 ">
						<img class="img-responsive center-block" src="{{value.image.file_relative_path}}">
					</div>
					<div class="{{ (value.image.file_relative_path) ? 'col-xs-9 col-lg-9' : 'col-xs-12 col-lg-12'}}">
						<blockquote>
							<div class="description">{{ value.description }}</div>
							<footer><cite>{{value.heading}}</cite></footer>
						</blockquote>
					</div>
				</li>
				{% set i = (i + 1) %}
				{% if i == 5 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
{% endautoescape %}