{% autoescape false %}
{% if home_properties %}
<div class="contentModule">
	<h3 class="subhead"><small>{{home_project.title}}</small><br>Properties</h3>
	<div class="sections clearfix services">
		<ul class="bxslider" id="bxslider3">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in home_properties if break == 0 %}
			<li class="text-center">
				<div class="sliderimg">
					<img class="img-responsive center-block slimg" src="{{x.property_images.0.file_relative_path}}" alt="{{x.title}}"/>
					{% if x.verified %}
						<span  tooltip="Business Verified" ><img src="{{path}}img/verify.png" class="verify"/></span>
					{% endif %}
				</div>
				<div class="readmore">
					<a href="properties/{{x.title}}/{{x.id}}">
						{{x.title}}
					</a>
				</div>
				<a href="properties/{{x.title}}/{{x.id}}" class="btn btn-info center-block">Read More</a>
			</li>
			{% set i = (i + 1) %}
			{% if i == 4 %}
				{% set break = 1 %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}