@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'QumpellkaNo12';
  src: url('../fonts/QumpellkaNo12.otf');
}
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../fonts/Quicksand-Regular.otf');
}
.featureProd {
  padding: 30px 20px;
  background: rgba(30, 165, 222, 0.21);
}
.featureProd .prodimage {
  border: 5px solid rgba(204, 204, 204, 0.55);
  padding: 5px;
  border-radius: 100%;
  height: 320px;
  overflow: hidden;
  margin-bottom: 30px;
}
.featureProd .prodimage img {
  min-height: 300px;
  border-radius: 100%;
}
.featureProd .prodimage:hover img {
  opacity: 0.8;
}
.products {
  margin-bottom: 20px;
}
.products .prodimage {
  height: 200px;
  width: 250px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}
.products .prodimage img {
  min-height: 200px;
}
.products .prodimage img:hover {
  transform: scale(1.1);
}
.products .prodInfo {
  background: rgba(30, 165, 222, 0.21);
  padding: 10px 15px 8px;
}
.products .prodInfo .description {
  height: 100px;
  overflow: hidden;
}
.products .prodInfo .readmore {
  margin-top: 10px;
}
.sociallinks ul {
  margin-top: 50px;
  float: right;
}
.sociallinks ul li {
  display: inline-block;
  padding: 4px 0px 4px 10px;
  text-align: right;
}
.sociallinks ul li a {
  display: block;
  border-radius: 50% !important;
  border: 1px solid #5A5A5A;
  padding: 0px 3px;
  width: 45px;
  height: 45px;
}
.sociallinks ul li a div {
  border-radius: 50% !important;
}
.img3 {
  width: 38px;
  height: 40px;
  display: inline-block;
}
#img1 {
  background: url('../img/sprite.png') 2px 4px;
}
#img1:hover {
  background: url('../img/sprite.png') 2px -37px;
}
#img2 {
  background: url("../img/sprite.png") -36px 4px;
}
#img2:hover {
  background: url('../img/sprite.png') -36px -37px;
}
#img3 {
  background: url("../img/sprite.png") -74px 4px;
}
#img3:hover {
  background: url('../img/sprite.png') -74px -37px;
}
#img4 {
  background: url("../img/sprite.png") -149px 4px;
}
#img4:hover {
  background: url('../img/sprite.png') -149px -37px;
}
@-webkit-keyframes caroseimganim {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes caroseimganim {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes carosecaption {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes carosecaption {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes carosecap {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(200px);
    opacity: 1;
  }
}
@keyframes carosecap {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
    display: none;
  }
}
.carousel {
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0px 4px 4px #02071a;
}
.carousel .item {
  height: 300px;
  overflow: hidden;
}
.carousel .item img {
  min-height: 250px;
}
.carousel .item .cap {
  background: rgba(1, 6, 33, 0.78);
  position: relative;
  top: -200px;
  margin-right: 15px;
  padding: 5px 20px 20px;
}
.carousel .item .cap h2 {
  color: #c43025;
  text-align: left;
}
.carousel .item .cap p {
  color: #ffffff;
}
.carousel .item.active img {
  -webkit-animation-name: caroseimganim;
  animation-name: caroseimganim;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.carousel .item.active .cap {
  -webkit-animation: carosecaption 1500ms ease-in-out, carosecap 2s ease-in-out 3s;
  animation: carosecaption 2s ease-in-out, carosecap 1500ms ease-in-out 3s;
}
.carousel .item.next img {
  transform: translateY(-300px);
}
.carousel .item.next .cap {
  transform: translateY(-300px);
  /*-webkit-animation-name : carosecap;
			animation-name : carosecap;
			-webkit-animation-duration : 2s;
			animation-duration : 2s;*/
}
.carousel-caption {
  right: 50px;
}
.carousel-caption h2 {
  color: #c43025;
  text-align: left;
}
.carousel-control.left {
  display: none;
}
.carousel-control.right {
  display: none;
}
.carousel-inner {
  overflow: hidden;
}
.infrastructure h2 {
  color: #ffffff;
}
.infrastructure .thumbnail {
  height: 395px;
  background-color: transparent;
}
.infrastructure .thumbnail .infraImg img {
  height: 190px;
  width: 500px;
  padding: 2px;
}
.infrastructure .thumbnail .infraImg img:hover {
  transform: scale(1.1, 1.1);
  transition: transform 300ms;
}
.infrastructure .thumbnail .caption {
  padding: 0px;
  height: 110px;
  color: #ffffff;
  text-align: left;
  padding-bottom: 0px;
}
.infrastructure .thumbnail h4 {
  fonts-size: 30px;
  color: #ffffff;
  text-transform: uupercase;
}
.infrastructure .thumbnail h4:hover {
  color: #ffffff;
}
.contact .table tbody tr th,
.contact .table tbody tr td {
  color: #ffffff;
  border-top: 0px;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 395px;
  -webkit-animation-name: right;
  -webkit-animation-duration: 2s;
}
.enquiry .subhead {
  text-shadow: none !important;
  font-size: 18px;
  margin-bottom: 20px;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #ffffff;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-family: 'OpenSansRegular';
  font-size: 55px;
  border: 1px solid #c43025;
}
.testimonial blockquote {
  padding-left: 15px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
  border: 3px solid #e4513e;
}
.featrtesti img:hover {
  border: 3px solid #ffffff;
}
.gallery .thumbnail {
  background-color: transparent;
}
.gallery .thumbnail img {
  height: 200px;
}
.gallery .thumbnail img:hover {
  transform: scale(1.1, 1.1);
}
* {
  transition: 300ms;
}
body {
  background-image: url(../img/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff !important;
  position: relative;
  font-family: 'Quicksand-Regular';
}
p {
  line-height: 25px;
}
@-webkit-keyframes anim {
  0% {
    top: 500px;
    left: 200px;
    height: 0px;
    width: 0px;
  }
  10% {
    top: 300px;
    left: 200px;
    height: 250px;
    width: 350px;
    transform: rotate(0deg);
  }
  50% {
    top: 300px;
    left: 200px;
    height: 250px;
    width: 350px;
    transform: rotate(0deg);
  }
  90% {
    top: 300px;
    left: 200px;
    height: 250px;
    width: 350px;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    left: 175px;
    top: 0px;
  }
}
.log {
  position: absolute;
  left: 100px;
  top: 20px;
  z-index: 1;
}
.logo1 {
  -webkit-animation-name: anim;
  -webkit-animation-duration: 10s;
}
@-webkit-keyframes h1 {
  0% {
    top: 400px;
    left: 2000px;
  }
  10% {
    top: 400px;
    left: 550px;
    opacity: 1;
  }
  40% {
    top: 400px;
    left: 550px;
    opacity: 1;
  }
  50% {
    top: 400px;
    left: 550px;
    opacity: 0;
  }
  100% {
    left: -10000px;
    top: -10000px;
    opacity: 0;
  }
}
.h {
  position: absolute;
  left: -10000px;
  z-index: 1;
  top: -10000px;
}
.h1 {
  position: absolute;
  left: -10000px;
  z-index: 1;
  top: -10000px;
  -webkit-animation-name: h1;
  -webkit-animation-duration: 6s;
}
.h2 {
  position: absolute;
  left: -10000px;
  z-index: 1;
  top: -10000px;
  -webkit-animation-name: h1;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 3s;
}
.h3 {
  position: absolute;
  left: -10000px;
  z-index: 1;
  top: -10000px;
  -webkit-animation-name: h1;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 6s;
}
@-webkit-keyframes anim1 {
  0% {
    opacity: 0px;
    position: relative;
    left: -2000px;
  }
  50% {
    opacity: 1px;
    position: relative;
    left: -2000px;
  }
  80% {
    opacity: 1px;
    position: relative;
    left: -2000px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
.anim {
  -webkit-animation-name: anim1;
  -webkit-animation-duration: 11s;
}
header h1 {
  margin-top: 55px !important;
  text-align: right !important;
}
.navbar-default {
  background-color: rgba(1, 6, 33, 0.78);
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  margin-top: 30px;
}
.navbar-default .nav > li {
  position: static;
  border-right: 1px solid #ffffff;
}
.navbar-default .nav > li:first-child {
  border-left: 1px solid #ffffff;
}
.navbar-default .nav > li > a {
  text-shadow: 2px 2px 2px #02071a;
  padding: 15px 15px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 300ms linear;
  font-size: 18px;
}
.navbar-default .nav > li > a:hover {
  color: #ffffff;
  transform: scale(1.1);
  background: transparent;
}
.navbar-default .nav > li > ul {
  position: absolute;
  z-index: 900;
  width: 100%;
  left: 0;
  top: 50px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  background-color: rgba(1, 6, 33, 0.78);
  border-top: 1px solid #ffffff;
}
.navbar-default .nav > li > ul > li {
  padding: 10px 0;
  margin: 10px 24px;
  width: 20%;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}
.navbar-default .nav > li > ul > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent;
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.navbar-default .nav > li > ul > li > a:hover {
  text-decoration: none;
}
.navbar-default .nav > li > ul > li > ul {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}
.navbar-default .nav > li > ul > li > ul > li {
  padding: 5px 0;
}
.navbar-default .nav > li > ul > li > ul > li > a {
  font-size: 18px;
}
.navbar-default .nav > li:hover > ul {
  /*opacity : 1;
					transform : scaleY(1.1);*/
  display: block;
}
.navbar-default .navbar-toggle {
  margin-right: 8px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: 4d4dff;
}
.content {
  background-color: rgba(1, 6, 33, 0.78);
  padding: 30px 20px;
}
.content .tagline,
.content .tagline1 {
  display: none;
}
a {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
.btn-info {
  background-color: rgba(6, 6, 6, 0.7);
  border: none;
  border-radius: 0;
}
h1,
h2 {
  margin-bottom: 20px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'QumpellkaNo12';
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue !important;
  color: #ffffff !important;
}
footer {
  background-color: rgba(6, 6, 6, 0.7);
  padding: 10px 10px 1px;
}
footer p {
  font-weight: bold;
  color: colorwhite;
}
footer p a {
  color: colorwhite;
}
footer p a:hover {
  color: #ffffff;
  text-decoration: underline;
}
@-webkit-keyframes left {
  0% {
    position: relative;
    left: -1000px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
.ss1 {
  -webkit-animation-name: left;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes right {
  0% {
    position: relative;
    right: -1000px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}
.ss2 {
  -webkit-animation-name: right;
  -webkit-animation-duration: 2s;
}
.navbar-static-top .container {
  background-color: transparent !important;
}
div.margin > div.container > div.row {
  background-color: rgba(6, 6, 6, 0.7);
}
p.text {
  margin: 10px 0 10px !important;
}
.margin {
  margin-top: 15px;
}
.text1 {
  background-color: black;
}
.table > tbody > tr > td {
  border-color: transparent !important;
}
.carousel-indicators li {
  border-radius: 50% !important;
}
.caption > h4 {
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black !important;
}
.panel-body {
  background-color: rgba(0, 0, 0, 0.68) !important;
}
/*.navbar-static-top{
		margin-top:40px;
		.container{
			background-color : @darkcolor;
			padding-left : 0px;
			padding-right : 0px;
			
		}
	}
	
	.navbar-fixed-top{
		background-color : @darkcolor;
		.container{
			padding-left : 0px;
			padding-right : 0px;
		}
	}*/
.panel {
  background-color: transparent;
}
.panel-default {
  border-color: #ffffff;
}
hr {
  border-color: #ffffff;
}
.form-control {
  background-color: transparent;
  color: #ffffff;
}
.btn + .btn {
  margin-left: 20px;
}
.social_links {
  position: fixed;
  background-color: #c43025;
  margin-top: 100px;
}
@media (max-width: 320px) {
  .log {
    height: 60px;
    width: 80px;
    margin-top: 30px;
    background-image: url('../img/logo.jpg');
    float: left;
  }
  .anim {
    -webkit-animation-name: anim1;
    -webkit-animation-duration: 8s;
  }
  @-webkit-keyframes anim1 {
    0% {
      opacity: 0px;
      position: relative;
      top: 1000px;
    }
    50% {
      opacity: 1px;
      position: relative;
      top: 1000px;
    }
    100% {
      position: relative;
      top: 0px;
    }
  }
  .log {
    height: 100px;
    width: 150px;
    margin-top: 15px;
    background-image: url('../img/logo.jpg');
    float: left;
    position: absolute;
    left: 50px;
    top: 0px;
    z-index: 1;
  }
  .logo1 {
    position: absolute;
    left: 50px;
    top: 0px;
    z-index: 1;
    -webkit-animation-name: anim;
    -webkit-animation-duration: 6s;
  }
  @-webkit-keyframes anim {
    0% {
      top: 400px;
      left: 100px;
      height: 0px;
      width: 0px;
    }
    50% {
      top: 200px;
      left: 50px;
      height: 150px;
      width: 150px;
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      left: 50px;
      top: 0px;
    }
  }
  .title1 {
    position: absolute;
    left: 250px;
    z-index: 1;
    top: 20px;
  }
  .title1 h2 {
    font-size: 20px;
  }
  .title {
    position: absolute;
    left: 150px;
    z-index: 1;
    top: 20px;
    -webkit-animation-name: anim2;
    -webkit-animation-duration: 6s;
  }
  .title h2 {
    font-size: 20px;
  }
  @-webkit-keyframes anim2 {
    0% {
      top: 300px;
      left: 500px;
      height: 0px;
      width: 0px;
    }
    50% {
      top: 300px;
      left: 180px;
      height: 80px;
      width: 350px;
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(720deg);
      left: 150px;
      top: 20px;
    }
  }
  .sociallinks ul {
    float: left;
  }
  .infrastructure h2 {
    color: #ffffff;
    font-size: 20px;
  }
  .img3 {
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-left: -13px;
  }
  header h2 {
    margin-top: 25px;
    margin-left: 15px;
  }
}
@media (max-width: 720px) {
  .anim {
    -webkit-animation-name: anim1;
    -webkit-animation-duration: 8s;
  }
  @-webkit-keyframes anim1 {
    0% {
      opacity: 0px;
      position: relative;
      top: 1000px;
    }
    50% {
      opacity: 1px;
      position: relative;
      top: 1000px;
    }
    100% {
      position: relative;
      top: 0px;
    }
  }
  .log {
    height: 100px;
    width: 150px;
    margin-top: 15px;
    background-image: url('../img/logo.jpg');
    float: left;
    position: absolute;
    left: 50px;
    top: 0px;
    z-index: 1;
  }
  .logo1 {
    position: absolute;
    left: 50px;
    top: 0px;
    z-index: 1;
    -webkit-animation-name: anim;
    -webkit-animation-duration: 6s;
  }
  @-webkit-keyframes anim {
    0% {
      top: 400px;
      left: 100px;
      height: 0px;
      width: 0px;
    }
    50% {
      top: 200px;
      left: 50px;
      height: 150px;
      width: 150px;
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      left: 50px;
      top: 0px;
    }
  }
  .title1 {
    position: absolute;
    left: 250px;
    z-index: 1;
    top: 20px;
  }
  .title1 h2 {
    font-size: 20px;
  }
  .title {
    position: absolute;
    left: 150px;
    z-index: 1;
    top: 20px;
    -webkit-animation-name: anim2;
    -webkit-animation-duration: 6s;
  }
  .title h2 {
    font-size: 20px;
  }
  @-webkit-keyframes anim2 {
    0% {
      top: 300px;
      left: 500px;
      height: 0px;
      width: 0px;
    }
    50% {
      top: 300px;
      left: 180px;
      height: 80px;
      width: 350px;
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(720deg);
      left: 150px;
      top: 20px;
    }
  }
  .sociallinks ul {
    float: left;
  }
  .infrastructure h2 {
    color: #ffffff;
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .log {
    height: 60px;
    width: 100px;
    margin-top: 30px;
    background-image: url('../img/logo.jpg');
    float: left;
  }
  .fproduct .sections > div > div .description {
    color: #787878;
    text-align: left;
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
  }
  .featured_services h2 {
    padding: 3px;
  }
  .infrastructure h2 {
    color: #ffffff;
    font-size: 20px;
  }
}
