//about us page
.sidebar{
		.nav-pills{
			>li>a{
						color: @colorwhite;
					    font-size: 19px;
						
						}
			}
		}
			
	.thumbnail{
	    background-color: transparent !important;
        border: 1px solid transparent !important;
	         color: white;
		.infraImg{
			
	         height:150px;
			overflow: hidden;
			margin: 0 auto;
			padding: 0px;
			position: relative;
			   
		 &:hover{
						 
						}
			
			  img.img-responsive {
					min-height: 165px;
					width: 345px;
				}
	
		}
			.caption {
						padding: 9px;
						color: #333;
						height: 100px;
						padding: 0px;
			}
			h4{
				height: 23px;
				}
	}
	
		.thumbnail{
		    .caption>h4{
		      color: @colorwhite;
		        }
			.prodimg{
			    height: 170px;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;
				padding: 0px;	
				position: relative;
				border-radius: 50%;
				
			}
	          img.img-responsive.center-block {
					min-height: 170px;
					width: 100%;
					
				}
			
				
			
			.caption{
						height: 131px;
						padding: 4px;
						overflow: hidden;
					}
					.description {
								  height: 130px;
								  overflow: hidden;
								   color: @colorwhite;
                                }
				.readmore{
							text-align:center;
							margin-bottom: 10px;
							
						}
						
					a{
						background-color:@lightbackcolor;
						border-radius: 0px;
						border-color:@lightbackcolor;
						text-align:center;
					}
			}	
			
			
//contact us page
.table>tbody>tr>td, .table>tfoot>tr>td {
  
    border-top: 0px !important;
}
.contact{
        padding: 60px 105px 0px 137px;
}
.panel-default {
    border-color: #ddd;
    background-color: transparent;
   
	}