//about us page
.sidebar{
		.nav-pills{
			>li>a{
						color: @colorwhite;
					    font-size: 19px;
						
						}
			}
		}
			
	.thumbnail{
	    background-color: transparent !important;
        border: 1px solid transparent !important;
	         color: white;
		.infraImg{
			
	         height:150px;
			overflow: hidden;
			margin: 0 auto;
			padding: 0px;
			position: relative;
			   
		 &:hover{
						 
						}
			
			  img.img-responsive {
					min-height: 165px;
					width: 345px;
				}
	
		}
			.caption {
						padding: 9px;
						color: #333;
						height: 100px;
						padding: 0px;
			}
			h4{
				height: 23px;
				}
	}
	
		.thumbnail{
		    .caption>h4{
		      color: @colorwhite;
		        }
			.prodimg{
			    height: 170px;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;
				padding: 0px;	
				position: relative;
				border-radius: 50%;
				&:hover{
				 opacity:0.5;
				transition:2s;
		         }
				
				
			}
	          img.img-responsive.center-block {
					min-height: 170px;
					width: 100%;
					
				}
			
				
			
			.caption{
						height: 131px;
						padding: 4px;
						overflow: hidden;
					}
					.description {
								  height: 130px;
								  overflow: hidden;
								   color: @colorwhite;
                                }
				.readmore{
							text-align:center;
							margin-bottom: 10px;
							
						}
						
					a{
						background-color:@lightbackcolor;
						border-radius: 0px;
						border-color:@lightbackcolor;
						text-align:center;
					}
			}	
			
			
//contact us page
.table>tbody>tr>td, .table>tfoot>tr>td {
  
    border-top: 0px !important;
}
.contact{
        padding: 60px 105px 0px 137px;
}
.panel-default, .form-control{
           color: @colorwhite !important;
        background-color: transparent;
	}
	
	
//for home images
	
.aa{
    >h1{
    font-family: 'AlexBrush-Regular';
   }
     li{
	  list-style-type:none;
	 
	 }
        li>img{
		 border-radius: 100px;
			height: 200px;
			width: 220px;
		    }
       li:first-child {
	      position:absolute;
			z-index:99;
			top: 100px;
            left: 190px;
		&:hover{
			  margin-top:-25px;
			  transition:margin 0.5s;
			
			}
	   }
	   li:nth-child(2) {
	      position:absolute;
			z-index:999;
			top: 170px;
			left: 304px;
			&:hover{
			  margin-top:-25px;
			  transition:margin 0.5s;
			
			}
	   }
	    li:nth-child(3) {
	     position:absolute;
			z-index:9999;
			top: 100px;
            left: 426px;
			&:hover{
			   margin-top:-25px;
			  transition:margin 0.5s;
			
			}
	   }

}

