<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.ok()">
		<span aria-hidden="true">&times;</span></button>
		<h3 class="text-center" ng-if="!modalOptions.addSubject.id">Add Subject</h3>
		<h3 class="text-center" ng-if="modalOptions.addSubject.id">Update Subject</h3>
	</div>
	<div class="modal-body">
	<form name="addSubjectForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addSubjectForm.$valid">
		
			<div class="form-group" ng-init="modalOptions.getData( false, false,'department', 'departmentList', false, modalOptions)">
				<label for="dept_id" class="col-sm-2 control-label">Department Name </label>
				<div class="col-sm-9">
					<select id="dept_id" class="form-control" ng-model="modalOptions.addSubject.dept_id" ng-options="item.id as item.dept_name for item in modalOptions.departmentList" ng-change="modalOptions.classParams.where.dept_id = modalOptions.addSubject.dept_id;modalOptions.getData(false, false,'class','classList',modalOptions.classParams, modalOptions)" required>
						<option value="">Select Department</option>
					</select>
					<span class="help-block" ng-show="addSubjectForm.dept_id.$dirty && addSubjectForm.dept_id.$invalid">
					<span ng-show="addSubjectForm.dept_id.$error.required" class="text-danger">Department name is required.</span>
					</span>	
				</div>
			</div>
			<div class="form-group" ng-if="modalOptions.classList && modalOptions.classParams.where.dept_id">
				<label for="class_id" class="col-sm-2 control-label">Class Name </label>
				<div class="col-sm-9">
					<select id="class_id" class="form-control" ng-model="modalOptions.addSubject.class_id" ng-options="item.id as item.class_name for item in modalOptions.classList" ng-change="modalOptions.classParams.where.class_id = modalOptions.addSubject.class_id;modalOptions.getData(false, false,'division','divisionList', modalOptions.classParams, modalOptions)" required>
						<option value="">Select Class</option>
					</select>
					<span class="help-block" ng-show="addSubjectForm.class_id.$dirty && addSubjectForm.class_id.$invalid">
					<span ng-show="addSubjectForm.class_id.$error.required" class="text-danger">class name is required.</span>
					</span>	
				</div>
			</div>
			<div class="form-group" ng-if="modalOptions.divisionList && modalOptions.classParams.where.class_id">
				<label for="div_id" class="col-sm-2 control-label">Division Name </label>
				<div class="col-sm-9">
					<select id="div_id" class="form-control" ng-model="modalOptions.addSubject.div_id" ng-options="item.id as item.division_name for item in modalOptions.divisionList" ng-change="modalOptions.classParams.where.div_id = modalOptions.addSubject.div_id;modalOptions.getData(false, false,'subjects','subjectList', modalOptions.classParams, modalOptions)" required>
						<option value="">Select Division</option>
					</select>
					<span class="help-block" ng-show="addSubjectForm.div_id.$dirty && addSubjectForm.div_id.$invalid">
					<span ng-show="addSubjectForm.div_id.$error.required" class="text-danger">Division name is required.</span>
					</span>	
				</div>
			</div>
			<div class="form-group">
				<label for="sub_no" class="col-sm-2 control-label">Subject No </label>
				<div class="col-sm-9">
					<input type="text" class="form-control " placeholder="Subject NO" id="sub_no" name="sub_no" ng-model="modalOptions.addSubject.sub_no" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,2}){0,1}$/" required/>
									
					<span class="help-block" ng-show="addSubjectForm.sub_no.$dirty && addSubjectForm.sub_no.$invalid">
					<span ng-show="addSubjectForm.sub_no.$error.required" class="text-danger">Required Field</span>
					<span ng-show="addSubjectForm.sub_no.$error.pattern" class="text-danger">Enter like 0.00 only</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="sub_name" class="col-sm-2 control-label"> Subject Name </label>
				<div class="col-sm-9">
					<input type="text" id="sub_name" class="form-control"  ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addSubject.sub_name" name="sub_name" placeholder="Name" required />
					
					<span class="help-block" ng-show="addSubjectForm.sub_name.$dirty && addSubjectForm.sub_name.$invalid">
					 <span class="text-danger"  ng-show="addSubjectForm.sub_name.$error.pattern">Please Enter Valid Name</span>
					<span ng-show="(addSubjectForm.sub_name.$dirty)" class="text-danger">Please Enter Name only!</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="syllabus" class="col-sm-2 control-label"> Syllabus </label>
				<div class="col-sm-9">
					<input type="text" id="syllabus" class="form-control"  ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addSubject.syllabus" name="syllabus" placeholder="Syllabus" required />
					
					<span class="help-block" ng-show="addSubjectForm.syllabus.$dirty && addSubjectForm.syllabus.$invalid">
					<span ng-show="addSubjectForm.syllabus.$error.required" class="text-danger">Required Field</span>
					 <span class="text-danger"  ng-show="addSubjectForm.syllabus.$error.pattern">Please Enter Valid Name</span>
					<span ng-show="(addSubjectForm.syllabus.$dirty)" class="text-danger">Please Enter Syllabus only!</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-9">
					<textarea class="form-control" id="description" name="description" ng-model="modalOptions.addSubject.description" ng-maxlength="250" placeholder="Description" required></textarea>
					<span ng-hide="addSubjectForm.description.$error.maxlength">
							{{ 250 - modalOptions.addSubject.description.length + " Chars left" }}
					</span>	
					<span class="help-block" ng-show="addSubjectForm.description.$dirty && addSubjectForm.description.$invalid">
						<span class="text-danger" ng-show="addSubjectForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span ng-show="addSubjectForm.description.$error.required" class="text-danger">Required Field</span>
					</span>
				</div>
			</div>
	
	</div>
	<div class="modal-footer">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" ng-if="!modalOptions.addSubject.id" class="btn btn-success" ng-disabled="addSubjectForm.$invalid" ng-click="modalOptions.ok(); modalOptions.postData('subjects',modalOptions.addSubject)">
				<span>Submit</span>
			</button>
			
			<button type="submit" ng-if="modalOptions.addSubject.id" class="btn btn-success" ng-disabled="addSubjectForm.$invalid" ng-click="modalOptions.ok(); modalOptions.updateData('subjects',modalOptions.addSubject, modalOptions.addSubject.id)">
				<span>Update</span>
			</button> 
			<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
		</div>
	</form>	
