<script type="text/javascript">
	$(document).ready(function(){
		$('#bxslider').bxSlider({
			mode:'horizontal',
			slideMargin: 5,
			minSlides :1,
			maxSlides: 4,
			moveSlides: 2,
			slideWidth: 200,
			auto: true, 
			autoDirection:'next',
			pause:4000,
			pager:false,
			pagerType:'full',
			autoControls: false, 
			controls:true, 
			autoHover:true
		});
  });
</script>
{% autoescape false %}
{% if featured_properties %}
<div class="contentModule">
	<h3 class="subhead">Featured Property</h3>
	<div class="sections text-center">
		<ul class="bxslider" id="bxslider">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_properties if break == 0 %}
				<li><img class="img-responsive center-block" src="{{x.property_images.0.file_relative_path}}" />
				<a href="#">{{x.title}}</a></li>
				{% set i = (i + 1) %}
				{% if i == 4 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}