<div class="clearfix">
	<div class="logo">
		<a href="/"><img src="{{data.business_logo.file_relative_path}}"></a>
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		</div>
	</div>
	<div class="bizname">
		<h1>{{ data.business_name }}</h1>
	</div>
	<div class="addrs">
		<address class="pull-right">
			{%if data.contact_profile.telephone%}
				Telephone : {{data.contact_profile.telephone}}<br>
			{% endif %}
			Mobile : {{data.contact_profile.mobile}}<br> 
			E-mail : {{data.contact_profile.email}}
		</address>
	</div>
</div>{{uri}}fd
<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="mainNav">
		<ul class="nav navbar-nav">
			{% include pathLink with {'links' : routes, 'uri' : uri } only %}
		</ul>
	</div>
</nav>