.services{
	text-align : center;
	.thumbnail{
		border-radius : 0px;
		padding : 0px;
		.servimage{
			height : 150px;
			overflow : hidden;
			img{
				min-height : 150px;
			}
		}
		.description{
			height : 75px;
			overflow : hidden;
			padding : 5px;
			h4{
				border : none;
			}
		}
		.readmore{
			margin-bottom : 10px;
		}
	}
}

//multipleproducts
.products{
	.thumbnail{
		height : 385px;
		.prodimg{
			height : 148px;
			width : 210px;
			margin : 0 auto;
			overflow : hidden;
			img{
				min-height : 148px;
				border : 2px solid transparent;
				padding : 4px;
				&:hover{
					border : 2px solid @back;
				}
			}
		}
		.caption{
			height: 185px;
			.description{
				height : 75px;
				overflow : hidden;
			}
		}
		.readmore{
			margin-top : 10px;
			text-align : center;
			.btn-info:hover{
				padding : 6px 40px;
			}
		}
	}
}