<h3>Business List</h3>
	<div class="row">
		<div class="col-sm-4">
			<div class="bottomspace">
				<label for="search" class="control-label">Search </label>		
					<input id="search" type="text" class="form-control" ng-model="searchProp" placeholder="search"/>
			</div>	
		</div>			
		<div class="col-sm-4">
			<div class="bottomspace">
				<label for="sort" class="control-label">Sort by Order</label>
					<select id="sort" class="form-control" ng-model="id"> 
						<option value="">Select Order</option>		<!-- added value & selected attr -->	
						<option value="-id">Desending</option>
						<option value="id">Asending</option>  
					</select>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bottomspace">
				<label for="featured" class="control-label">Filter By Created Date</label>
					<select id="featured" class="form-control" ng-model="featured">
						<option value="" selected>Select Featured</option><!-- added value & selected attr -->
						<option value="1" >Featured</option>
						<option value="0">Not Featured</option> 
					</select>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<div class="bottomspace">		
			<table class="table table-bordered">
				<thead>
					<th>Sr.No</th>
					<th>Business Name</th>
					<th>Created Date</th>
					<th>Owner Name</th>
					<th>Salesman</th>
					<th>Manager</th>
					<th>Manage</th>
				</thead>
				<tbody>
					<tr ng-repeat="x in bizList">
						<td>{{ ((bizListCurrentPage - 1) * pageItems) + $index + 1 }}</td>
						<td>{{x.business_name}}</td>
						<td>{{x.created_date}}</td>
						<td>{{x.ownership}}</td>
						<td>{{x.salesman}}</td>
						<td>{{x.manager}}</td>
						<td>
						<div class="btn-toolbar" role="toolbar" aria-label="...">
						
							<div class="btn-group">
									<button type="button" ng-class="(x.verified==1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.verified" ng-change="verify(x.id, x.verified)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"><span class="glyphicon glyphicon-ok"></span></button>
									
							</div>							
							<div class="btn-group">
									<button type="button" ng-class="(x.featured==1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.featured" ng-change="feature(x.id, x.featured)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"><span class="glyphicon glyphicon-star"></span></button>
									
							</div>
							<div class="btn-group" role="group" aria-label="...">
								<!--button type="button" class="btn btn-default glyphicon glyphicon-star btn btn-default" tooltip="Featured">
								</button-->
								<button type="button" class="btn btn-default glyphicon glyphicon-pencil btn btn-default" tooltip="Edit" ng-click="update{x.id)">
								</button>
								<button type="button" class="btn btn-default glyphicon glyphicon-remove btn btn-default" tooltip="Delete">
								</button>
							</div>
						</div>
						</td>
					</tr>
				</tbody>					
			</table>
		</div>
	</div>
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="bizListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(bizListCurrentPage)"></pagination>				
		<pre>Page: {{bizListCurrentPage}} / {{numPages}}</pre>
	</div>	