<div class="row">		
	<div class="col-md-12 main-content">	
		<div class="row border-bottom">
			<div class="col-md-10" ng-include="'modules/component/breadcrumb.html'"></div>
			<div class="col-md-2" ng-include="'modules/component/menu-back.html'"></div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right bottomspace">
				<a href="#/dashboard/addbusiness" class="btn btn-default">Add Business</a>
				<a href="#/dashboard/businesslist" class="btn btn-default">Business List</a>
				<a href="#/dashboard/manageprodserv" class="btn btn-default">Manage Products/Services</a>
				<a href="#/deletebiz" class="btn btn-default">Deleted Business</a>
			</div>
			<div class="col-md-12">
				<ng-include ng-if="busiPart=='addbusiness'" src="'modules/templates/addbusiness.html'"></ng-include>
				
				<ng-include ng-if="busiPart=='busilist'" src="'modules/templates/busilist.html'"></ng-include>	
				
				<ng-include ng-if="busiPart=='manageprodserv'" src="'modules/templates/manageprodserv.html'"></ng-include>	
				
				<ng-include ng-if="busiPart=='deletebiz'" src="'modules/templates/deletebiz.html'"></ng-include>
			</div>
		</div>
	</div>
</div>
	