
<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
						
						<h3>Business Details</h3>
						<label>ID  :</label>{{modalOptions.bizList.id}}<br>
						<label>Business Information  :</label>{{modalOptions.bizList.business_info}}<br>
						<label>Business Logo		 :</label>{{modalOptions.bizList.business_logo}}<br>
						<label>Business Name  :</label>{{modalOptions.bizList.business_name}}<br>
						<label>Business Profile  :</label>{{modalOptions.bizList.business_profile}}<br>
						<label>Business Category  :</label>{{modalOptions.bizList.category}}<br>
						<label>Contact Profile  :</label>{{modalOptions.bizList.contact_profile}}<br>
						<label>Created Date  :</label>{{modalOptions.bizList.created_date}}<br>
						<label>Featured :</label>{{modalOptions.bizList.featured}}<br>
						<label>Infrastructure  :</label>{{modalOptions.bizList.infrastructure}}<br>
						<label>Job & Careers  :</label>{{modalOptions.bizList.job_careers}}<br>
						<label>Manager Id  :</label>{{modalOptions.bizList.manager_id}}<br>
						<label>Modified Date  :</label>{{modalOptions.bizList.modified_date}}<br>
						<label>News Coverage :</label>{{modalOptions.bizList.news_coverage}}<br>
						<label>Ownership :</label>{{modalOptions.bizList.Ownership}}<br>
						<label>Salseman Id  :</label>{{modalOptions.bizList.salseman_id}}<br>
						<label>Status :</label>{{modalOptions.bizList.status}}<br>
						<label>Testimonials  :</label>{{modalOptions.bizList.testimonials}}<br>
						<label>User Id :</label>{{modalOptions.bizList.user_id}}<br>
						<label>Verified  :</label>{{modalOptions.bizList.verified}}<br>
															
			</div>
		</div>
	</div>
	<div class="modal-footer">
				<button class="btn btn-primary" ng-click="modalOptions.ok()" title="OK">OK</button>
	</div>
</div>			
