
<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<tabset>
					<tab heading="Scrible Info" title="Scrible Info">
						<table class="table table-responsive table-bordered ">
							<tr><th>ID</th><th>TEMPLATE NAME</th><th>TEMPLATE TYPE</th><th>DEVELOPMENT STATUS</th><th>CREATE DATE</th></tr>
							<tr>
								<td>{{modalOptions.tempList.id}}</td>
								<td>{{modalOptions.tempList.template_name}}</td>
								<td>{{modalOptions.tempList.template_type}}</td>
								<td>{{modalOptions.tempList.development_status}}</td>
								<!-- <td ng-bind-html="modalOptions.tempList.business_info.keywords"></td> -->
								<!-- <td ng-bind-html="modalOptions.tempList.business_info.description"></td> -->
							</tr>
						</table>
					</tab>
					<tab heading="Template Image" title="Template Image">
						<table class="table table-responsive table-bordered">
							<tr><th>TEMPLATE IMAGE</th></tr>
							<tr>
							<td>{{modalOptions.tempList.template_image}}</td>
								<!-- <td><p ng-repeat="x in modalOptions.bizList.business_profile.additional_business">
								<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>{{x}}</span>
								</p> </td>-->
							</tr>
						</table>
					</tab>
					<tab heading="Scrible" title="Scrible">
						<table class="table table-responsive table-bordered">
							<tr><th>Scrible</th></tr>
							<tr>
							<td>{{modalOptions.tempList.scrible}}</td>
								<!-- <td><p ng-repeat="x in modalOptions.bizList.business_profile.additional_business">
								<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>{{x}}</span>
								</p> </td>-->
							</tr>
						</table>
					</tab>
				</tabset>											
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalOptions.ok()">OK</button>
	</div>
</div>		