
<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<tabset>
					<tab heading="Business Info" title="Business Information">
						<table class="table table-responsive">
							<tr><th>ID</th><td>{{modalOptions.bizList.id}}</td></tr>
							<tr><th>Business Name</th><td>{{modalOptions.bizList.business_name}}</td></tr>
							<tr><th>Business Logo </th><td>{{modalOptions.bizList.business_logo.0.file_name}}</td></tr>
							<tr><th>Business Category</th><td>{{modalOptions.bizList.category}}</td></tr>
							<tr><th>Ownership</th><td>{{modalOptions.bizList.ownership}}</td></tr>
							<tr><th>Key Description</th><td ng-bind-html="modalOptions.bizList.business_info.keywords"></td></tr>
							<tr><th>Detailed Description</th><td ng-bind-html="modalOptions.bizList.business_info.description"></td></tr>
						</table>
					</tab>
					<tab heading="Business Profile" title="Business Profile">
						<table class="table table-responsive">
							<tr><th>Prmary Business Type</th><td>{{modalOptions.bizList.business_profile.business_type}}</td></tr>
							<tr><th>Small Business Catelog</th><td>{{modalOptions.bizList.business_profile.biz_catalog}}</td></tr>
							<tr><th>Alternate Website</th><td>{{modalOptions.bizList.business_profile.website}}</td></tr>
							<tr><th>Year Of Establishment</th><td>{{modalOptions.bizList.business_profile.establishment}}</td></tr>
							<tr><th>No. Of Employees</th><td>{{modalOptions.bizList.business_profile.no_of_employees}}</td></tr>
							<tr><th>Additional Business</th><td>
								<span ng-repeat="(key, value) in modalOptions.bizList.business_profile.additional_business">
									<span ng-if="value == true"><span>*</span>{{key}}</span>
								</span>
							</td></tr>
						</table>
					</tab>
					<tab heading="Contact Profile" title="Contact Profile">
						<table class="table table-responsive">
							<tr><th>Contact Person</th><td>{{modalOptions.bizList.contact_profile.contact_person}}</td></tr>
							<tr><th>Contact Person Photo</th><td>{{modalOptions.bizList.contact_profile.contact_photo}}</td></tr>
							<tr><th>Designation/Job Title</th><td>{{modalOptions.bizList.contact_profile.Designation}}</td></tr>
							<tr><th>CEO Name</th><td>{{modalOptions.bizList.contact_profile.ceo}}</td></tr>
							<tr><th>Company Name</th><td>{{modalOptions.bizList.contact_profile.companyname}}</td></tr>
							<tr><th>Address</th><td>{{modalOptions.bizList.contact_profile.address}}</td></tr>
							<tr><th>Country</th><td>{{modalOptions.bizList.contact_profile.Country}}</td></tr>
							<tr><th>State</th><td>{{modalOptions.bizList.contact_profile.State}}</td></tr>
							<tr><th>City</th><td>{{modalOptions.bizList.contact_profile.City}}</td></tr>
							<tr><th>ZIP Code</th><td>{{modalOptions.bizList.contact_profile.ZIP_Code}}</td></tr>
							<tr><th>Telephone</th><td>{{modalOptions.bizList.contact_profile.telephone}}</td></tr>
							<tr><th>Mobile/Cell Phone</th><td>{{modalOptions.bizList.contact_profile.mobile}}</td></tr>
							<tr><th>Fax</th><td>{{modalOptions.bizList.contact_profile.fax}}</td></tr>
							<tr><th>Email</th><td>{{modalOptions.bizList.contact_profile.email}}</td></tr>
							<tr><th>Alternate Email</th><td>{{modalOptions.bizList.contact_profile.alternate_email}}</td></tr>
							<tr><th>Small Business Catalog</th><td>{{modalOptions.bizList.contact_profile.SmallBusinessCatalog}}</td></tr>
							<tr><th>Website</th><td>{{modalOptions.bizList.contact_profile.contact_website}}</td></tr>
						</table>
					</tab>
					
					<tab heading="Infrastructure" title="Infrastructure Facility">
						<table class="table table-responsive" >
							<tr><th>Infrastucture Heading</th><th>Infrastructure Image</th><th>Infrastucture Description</th></tr>
							<tr ng-repeat="(key, val) in modalOptions.bizList.infrastructure"><td>{{key}}</td><td>{{val.infra_image}}</td><td ng-bind-html="val.description"></td></tr>
						</table>
					</tab>
		
					<tab heading="Testimonials" title="Testimonials">
						<table class="table table-responsive" >
							<tr><th>Testimonial Given By</th><th>Date</th><th>Sender Email</th><th>Sender Country</th><th>Sender State</th><th>Sender City</th><th>Senders Phone</th><th>Testimonial Title</th><th>Testimonial Description</th><th>Testimonial Imgae</th></tr>
							<tr ng-repeat="(key, val) in modalOptions.bizList.testimonials"><td>{{key}}</td><td>{{val.date}}</td><td>{{val.email}}</td><td>{{val.Sender_Country}}</td><td>{{val.Sender_State}}</td><td>{{val.Sender_City}}</td><td>{{val.phone}}</td><td>{{val.testimonial_title}}</td><td ng-bind-html="val.test_Description"></td><td>{{val.testimage}}</td></tr>
						</table>
					</tab>
					<tab heading="Job & Careers" title="Job & Careers">
						<table class="table table-responsive" ng-repeat="(key, val) in modalOptions.bizList.job_careers">
							<tr><th>Job Title</th><td>{{key}}</td></tr>
							<tr><th>Job Description</th><td ng-bind-html="val.jobDescription"></td></tr>
						</table>
					</tab>
					<tab heading="News Coverage" title="News Coverage">
						<table class="table table-responsive" ng-repeat="(key, val) in modalOptions.bizList.news_coverage">
							<tr><th>Date</th><td>{{val.newsdate}}</td></tr>
							<tr><th>Media Name</th><td>{{key}}</td></tr>
							<tr><th>Media Type</th><td>{{val.mediaType}}</td></tr>
							<tr><th>Headline</th><td>{{val.headline}}</td></tr>
							<tr><th>News Coverage URL</th><td>{{val.News}}</td></tr>
							<tr><th>News Coverage Details</th><td ng-bind-html="val.newsdetails"></td></tr>
							<tr><th>News Coverage Image</th><td>{{val.news_image}}</td></tr>
						</table>
					</tab>
				</tabset>											
			</div>
		</div>
	</div>
	<div class="modal-footer">
				<button class="btn btn-primary" ng-click="modalOptions.ok()" title="OK">OK</button>
	</div>
</div>			







	
						<!--<h3>Business Details</h3>
						<label>ID  :</label>{{modalOptions.bizList.id}}<br>
						<label>Business Information  :</label>{{modalOptions.bizList.business_info}}<br>
						<label>Business Logo		 :</label>{{modalOptions.bizList.business_logo}}<br>
						<label>Business Name  :</label>{{modalOptions.bizList.business_name}}<br>
						<label>Business Profile  :</label>{{modalOptions.bizList.business_profile}}<br>
						<label>Business Category  :</label>{{modalOptions.bizList.category}}<br>
						<label>Contact Profile  :</label>{{modalOptions.bizList.contact_profile}}<br>
						<label>Created Date  :</label>{{modalOptions.bizList.created_date}}<br>
						<label>Featured :</label>{{modalOptions.bizList.featured}}<br>
						<label>Infrastructure  :</label>{{modalOptions.bizList.infrastructure}}<br>
						<label>Job & Careers  :</label>{{modalOptions.bizList.job_careers}}<br>
						<label>Manager Id  :</label>{{modalOptions.bizList.manager_id}}<br>
						<label>Modified Date  :</label>{{modalOptions.bizList.modified_date}}<br>
						<label>News Coverage :</label>{{modalOptions.bizList.news_coverage}}<br>
						<label>Ownership :</label>{{modalOptions.bizList.Ownership}}<br>
						<label>Salseman Id  :</label>{{modalOptions.bizList.salseman_id}}<br>
						<label>Status :</label>{{modalOptions.bizList.status}}<br>
						<label>Testimonials  :</label>{{modalOptions.bizList.testimonials}}<br>
						<label>User Id :</label>{{modalOptions.bizList.user_id}}<br>
						<label>Verified  :</label>{{modalOptions.bizList.verified}}<br>-->