<div class="row">
	<div class="col-sm-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>	
			<h3 class="text-center" ng-if="!property.id && !copy">Add New Property</h3>
			<h3 class="text-center" ng-if="property.id && copy">Copy Property </h3>
			<h3 class="text-center" ng-if="property.id && !copy">Edit Property</h3>
			
				<p class="paraMand">* Fields are mandatory</p>
				
				<input type="hidden" id="status" name="status" ng-model="property.status" >	
				
				<input type="hidden" id="verified" name="verified" ng-model="property.verified" >
				
				<input type="hidden" id="user_id" name="user_id" ng-model="property.user_id" >				
				
				<input type="hidden" id="status" name="status" ng-model="property.status">
				
				<input type="hidden" id="date" name="date" ng-model="property.date">	
					
				<ul class="nav nav-tabs">
				
					<li role="presentation" ng-class="{active: formPart=='property'}">
						<a ng-click="showFormPart('property')">Property Information</a>
					</li>
					
					<li role="presentation" ng-class="{active: formPart=='propertyStructure'}">
						<a ng-click="showFormPart('propertyStructure')"> Structure</a>
					</li>
					  
					<li role="presentation" ng-class="{active: formPart=='propertyLocation'}">
						<a ng-click="showFormPart('propertyLocation')">Location</a>
					</li>
					  
					
					<li role="presentation" ng-class="{active: formPart=='optionalPropertyDt'}">
						<a ng-click="showFormPart('optionalPropertyDt')">Other Details</a>
					</li>
					  
					<li role="presentation" ng-class="{active: formPart=='landmarkDetails'}">
						<a ng-click="showFormPart('landmarkDetails')">Landmark Details</a>
					</li>
					  
					<li role="presentation" ng-class="{active: formPart=='amenities'}">
						<a ng-click="showFormPart('amenities')">Amenities</a>
					</li>
					
					<li role="presentation" ng-class="{active: formPart=='contactDetails'}">
						<a ng-click="showFormPart('contactDetails')">Contact Details</a>
					</li>
					  
					  
				</ul>
				
					<ng-include  ng-show="formPart=='property'" src="'modules/property/addproperty/property.html'">
					</ng-include> 					
					
					<ng-include  ng-show="formPart=='propertyStructure'" src="'modules/property/addproperty/propertyStructure.html'">
					</ng-include> 
					
					<ng-include ng-show="formPart=='propertyLocation'"  src="'modules/property/addproperty/propertyLocation.html'">
					</ng-include> 
					
					<ng-include  ng-show="formPart=='contactDetails'" src="'modules/property/addproperty/contactDetails.html'">
					</ng-include> 
					
					<ng-include ng-show="formPart=='optionalPropertyDt'" src="'modules/property/addproperty/optionalPropertyDt.html'">
					</ng-include> 
					
					<ng-include  ng-show="formPart=='landmarkDetails'"    src="'modules/property/addproperty/landmarkDetails.html'">
					</ng-include> 
					
					<ng-include ng-show="formPart=='amenities'" src="'modules/property/addproperty/amenities.html'">
					</ng-include> 
					<!-- <div class="form-group" ng-if="property.user_id">
						<div class="col-sm-12">					
							<h3>Select Sites</h3>
							<div class="table-responsive" ng-init="getWebsite(userId)">
								<table class="table table-bordered">
									<tr class="clearfix">
										<td class="checkbox">
											<label>
												<input type="checkbox" ng-model="selectAll" ng-change="checkAll(websites, selectAll)" > Select all
											</label> 
										</td>
										<td class="checkbox clearfix">
											<label ng-repeat="website in websites" class="col-sm-3">
												<input type="checkbox" checklist-model="property.domain" checklist-value="website"> {{website.domain_name}}
											</label>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div> -->
						
					<!-- <div class="form-group">
						<div class="col-sm-offset-2 col-sm-9">
							<button type="submit" ng-if="!property.id" ng-click="addPropertyFun(property)" ng-disabled="addProperty.$invalid" class="btn btn-primary" title="Add new property">Add New Property</button>
							
							<button type="submit" ng-if="property.id" ng-click="update(property)" title="Update your property" class="btn btn-success text-center ">Edit Property</button>
							<button type="reset" ng-click="reset()" title="Cancel" class="btn btn-danger text-center ">Cancel</button>
						</div>
					</div>			 -->				
		</div>	
	</div>
</div>




