 <form class="form-horizontal" name="amenitiesForm" ng-submit="amenitiesForm.$valid" novalidate>
	<h3>Amenities:</h3>
		<div class="form-group row">
			<div class="checkbox col-sm-12">
				<label class="col-sm-3" ng-repeat="x in propertyConfig.amenities">
					<input type="checkbox" checklist-model="property.amenities" checklist-value="x" />
						{{x}}
				</label>
			</div>					
		</div>
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" ng-if="property.id" ng-click="update(property)" title="Update your property" class="btn btn-success text-center ">Update Property</button>
			<button type="submit" class="btn btn-primary" title="Save" ng-disabled="property.amenities.length<=0 || !property.amenities" ng-click="showFormPart('contactDetails',1)">Next</button>	
		</div>
		</div>
</form>