
	
	<!--Land  Mark -->				
		<h3>Land Mark:</h3>
		<div class="form-group">
				<label for="hospital" class="col-sm-2 control-label">Hospitals </label>
				<div class="col-sm-9">
					<input type="text"  id="hospital" class="form-control" name="hospital" ng-model="property.landmarks.hospitals" required /> kms						
				</div>							
		  </div>
		  <div class="form-group">
				<label for="airport" class="col-sm-2 control-label">  Airport </label>
				<div class="col-sm-9">
					<input type="text" id="airport" class="form-control"  name="airport" ng-model="property.landmarks.airport" required >	kms						 
				</div>											
		  </div>
		  <div class="form-group">
				<label for="railway" class="col-sm-2 control-label">Railway Station</label>
				<div class="col-sm-9">
					<input type="text" id="railway" class="form-control" name="railway" ng-model="property.landmarks.railway" required>kms	
				</div>											
		  </div>
		  <div class="form-group">
				<label for="school" class="col-sm-2 control-label">School </label>
				<div class="col-sm-9">
					<input type="text" id="school" class="form-control" name="school" ng-model="property.landmarks.school" required>kms	
				</div>											
		  </div>
	