<form class="form-horizontal" name="landmarkForm" ng-submit="landmarkForm.$valid" novalidate>
<h3>Land Mark:</h3>
	<div class="form-group">
			<label for="hospitals" class="col-sm-2 control-label">Hospitals</label>
			<div class="col-sm-9">
				<input type="text"  id="hospitals" class="form-control" name="hospitals" ng-model="property.landmarks.hospitals" ng-pattern="/^\d{0,9}[0-9]$/"/> kms
			</div>							
	  </div>
	  <div class="form-group">
			<label for="airport" class="col-sm-2 control-label">  Airport</label>
			<div class="col-sm-9">
				<input type="text" id="airport" class="form-control"  name="airport" ng-model="property.landmarks.airport" ng-pattern="/^\d{0,9}[0-9]$/"/>kms		
			</div>											
	  </div>
	  <div class="form-group">
			<label for="railway" class="col-sm-2 control-label">Railway Station</label>
			<div class="col-sm-9">
				<input type="text" id="railway" class="form-control" name="railway" ng-model="property.landmarks.railway" ng-pattern="/^\d{0,9}[0-9]$/"/>kms	
			</div>											
	  </div>
	  <div class="form-group">
			<label for="school" class="col-sm-2 control-label">School </label>
			<div class="col-sm-9">
				<input type="text" id="school" class="form-control" name="school" ng-model="property.landmarks.school" ng-pattern="/^\d{0,9}[0-9]$/"/>kms	
			</div>											
	  </div>
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" ng-if="property.id && !copy" ng-click="update(property)" title="Update your property" class="btn btn-success text-center ">Update Property</button>
			<button type="submit" class="btn btn-primary" title="Save" ng-disabled="landmarkForm.$invalid" ng-click="showFormPart('amenities',1)">Next</button>
		</div>
		</div>
	</form>