<form class="form-horizontal" name="optionalPropertyForm" ng-submit="optionalPropertyForm.$valid" novalidate>
<h3>Other Details:</h3>
		<div class="form-group">
			<label for="property_age" class="col-sm-2 control-label">Property Age</label>
			<div class="col-sm-9">
				<select class="form-control"  id="property_age"  name="property_age" ng-model="property.optional_property_details.property_age"  ng-options="item for item in propertyConfig.propertyAge">
					<option value="" selected>Select One</option>	
				</select>
			</div>					
		</div>				
		<div class="form-group">
			<label for="furnished" class="col-sm-2 control-label">Furnished</label>
			<div class="col-sm-9">
				<select class="form-control" id="furnished" name="furnished" ng-model="property.optional_property_details.furnished" ng-options="item for item in propertyConfig.furnished">
					<option value="" selected>Select One</option>				
				</select>
			</div>
		</div>
		<div class="form-group">
				<label for="ownership" class="col-sm-2 control-label">Ownership</label>
				<div class="col-sm-9">
					<select class="form-control" id="ownership" name="ownership" ng-model="property.optional_property_details.ownership" ng-options="item for item in propertyConfig.ownership">
						<option value="" selected>Select One</option>					
					</select>
				</span>		
				</div>
		</div>
		<div class="form-group">
				<label for="property_floor" class="col-sm-2 control-label">Total Number of Floors</label>
				<div class="col-sm-9">
					<select class="form-control" id="property_floor" name="property_floor" ng-model="property.optional_property_details.property_floor" ng-options="item for item in propertyConfig.floors">
						<option value="" selected>Select One</option>
					</select>
				</span>		
				</div>
		</div>
		<div class="form-group">
				<label for="facing" class="col-sm-2 control-label">Facing</label>
				<div class="col-sm-9">
					<select class="form-control" id="facing" name="facing" ng-model="property.optional_property_details.facing" ng-options="item for item in propertyConfig.facing">
						<option value="">Select One</option>	
					</select>
				</div>
		</div>
		
		<div class="form-group">
				<label for="parking" class="col-sm-2 control-label">Parking</label>
				<div class="col-sm-9">
					<select class="form-control" id="parking" name="parking" ng-model="property.optional_property_details.parking" ng-options="item for item in propertyConfig.parking">
						<option value="" selected>Select One</option>				
					</select>
				</span>		
				</div>
		</div>
		
		<div class="form-group">
			<label for=" transType" class="col-sm-2 control-label">Transaction Type</label>
			<div class="col-sm-9">
				<select class="form-control" id="transType" name="transType" ng-model="property.optional_property_details.transType" ng-options="item for item in propertyConfig.transaction_type">							
					<option value="">Select Transaction Type</option>				
				</select>
			</div>
		</div>	
	<button type="submit" class="col-sm-offset-2 btn btn-primary" title="Save" ng-disabled="optionalPropertyForm.$invalid" ng-click="showFormPart('landmarkDetails',1)">Next</button>	
	</form>		
