
	<h3>Property Structure</h3>
		<div class="form-group">
			<label for="bedrooms" class="col-sm-2 control-label">Bedrooms </label>
			<div class="col-sm-9">
				<select class="form-control" id="bedrooms" name="bedrooms" ng-model="property.property_info.bedrooms"  ng-options="item as item for item in propertyConfig.Bedrooms" required>
				
					<option value="" selected>Select one</option>						
				</select>Enter Only no.
			 <span class="text-danger" ng-show="addProperty.bedrooms.$dirty && addProperty.bedrooms.$invalid">
				  <span ng-show="addProperty.bedrooms.$error.required">Select Number of Bedrooms  .</span>
				</span>
			</div>										
		</div>
		
		<div class="form-group">
			<label for="bathrooms" class="col-sm-2 control-label">Bathrooms </label>
			<div class="col-sm-9">
				<select class="form-control" id="bathrooms"  name="bathrooms" ng-model="property.property_info.bathrooms" required ng-options="item as item for item in propertyConfig.Bathrooms">
					<option value="" selected>Select one</option>	
				</select>Enter Only no.	
				 <span class="text-danger" ng-show="addProperty.bathrooms.$dirty && addProperty.bathrooms.$invalid">
				  <span ng-show="addProperty.bathrooms.$error.required">Select Number of Bathrooms  .</span>
				</span>				 
			</div>									
		</div>
		
		<div class="form-group">
			<label for="propertyPrice" class="col-sm-2 control-label ">Property Price: </label>
			<div class="col-sm-6">
				<input type="text" id="propertyPrice" class="form-control" name="propertyPrice" ng-model="property.price" ng-pattern="/^\d{0,9}[0-9]$/" required>
				<p ng-show="addProperty.price.$error.pattern && (addProperty.price.$dirty || submitted)" class="help-block">Enter only no.</p>
			</div>
			<div class="col-sm-3">
			
				<select class="form-control" ng-model="property.price.currency" ng-options="item as item for item in propertyConfig.currency" required>
					<option value="" selected>Select Currency</option>				
				</select>
				
				<span class="text-danger" ng-show="addProperty.propertyPrice.$dirty && addProperty.propertyPrice.$invalid">
					<span ng-show="addProperty.propertyPrice.$error.required">Property Price is required .</span>
				</span>				 
			</div>				
		</div>
	
		<div class="form-group">
		  <label for="property_images" class="col-sm-2" >* Property Images </label>
			<div class="col-sm-9">
				<!-- Changed by Vilas -->
				<!-- This is file input for select images -->
				<input type="file" id="property_images" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="property_images" required>
						
				<!-- This will show thumbnails & progress of images -->
				<file-preview url="property_images" ng-model="property.property_images"></file-preview>
				
				<!-- This button will show if file/s selected -->
				<button ng-show="property_images" ng-click="upload(property_images,path,userInfo,property.property_images)" type="button">Upload</button>
				
				<!-- This hidden input will store image path in array after successful uploading -->
				<input type="hidden" ng-model="property.property_images">
			<!-- Changed by pooja -->
			</div>			
		</div>	 <!-- end property  -->		
		