<form class="form-horizontal" name="propertystructureForm" ng-submit="propertystructureForm.$valid" novalidate>
	<h3>Property Structure</h3>
	<div class="form-group">
		<label for="buildup_area" class="col-sm-2 control-label">Built Up Area * </label>
		<div class="col-sm-6">
			<input type="text" id="buildup_area" class="form-control help-block" name="buildup_area" ng-model="property.property_info.buildup_area" ng-pattern="/^\d{0,9}[0-9]$/" required>
			
			<span ng-show="propertystructureForm.buildup_area.$error.pattern && (propertystructureForm.buildup_area.$dirty)" class="text-danger">Enter only no!</span>
			<span class="text-danger" ng-show="propertystructureForm.buildup_area.$dirty && propertystructureForm.buildup_area.$invalid">
			  <span ng-show="propertystructureForm.buildup_area.$error.required">Required Field.</span>
			</span>	
		</div>							
		<div class="col-sm-3">
			<select class="form-control" name="build_unit" ng-model="property.property_info.build_unit"  title="" required >
				<option selected value="">Unit Area</option>
				<option value="Feet">Sq. Feet</option>
				<option value="Cent">Cent</option>
				<option value="Yard">Sq. Yard</option>
				<option value="Acres">Acres</option>
			</select>
			<span class="text-danger" ng-show="propertystructureForm.build_unit.$dirty && propertystructureForm.build_unit.$invalid">
				<span ng-show="propertystructureForm.build_unit.$error.required">Required Field.</span>
			</span>				 
		</div>
	</div>	
	
	<div class="form-group">
		<label for="land_area" class="col-sm-2 control-label ">Plot/ Land Area * </label>
		<div class="col-sm-6">
			<input type="text" id="land_area" class="form-control" name="land_area" ng-model="property.property_info.land_area"  ng-pattern="/^\d{0,9}[0-9]$/" required>
			<span class="text-danger" ng-show="propertystructureForm.land_area.$error.pattern && (propertystructureForm.land_area.$dirty)" class="help-block">Enter only no.</span>
			<span class="text-danger" ng-show="propertystructureForm.land_area.$dirty && propertystructureForm.land_area.$invalid">
			  <span ng-show="propertystructureForm.land_area.$error.required">Required Field.</span>
			</span>	
		</div>
		<div class="col-sm-3">
			<select class="form-control" name="built" ng-model="property.property_info.land_unit" required>
				<option selected value="">Unit Area</option>
				<option value="Feet">Sq.Feet</option>
				<option value="Cent">Cent</option>
				<option value="Yard">Sq.Yard</option>	
				<option value="Acres">Acres</option>
			</select>
			<span class="text-danger" ng-show="propertystructureForm.built.$dirty && propertystructureForm.built.$invalid">
				<span ng-show="propertystructureForm.built.$error.required">Required Field.</span>
			</span>					 
		</div>				
	</div>	

	<div class="form-group">
		<label for="carpet_area" class="col-sm-2 control-label">Carpet Area </label>
		<div class="col-sm-6">
			<input type="text" id="carpet_area" class="form-control" name="carpet_area" ng-model="property.property_info.carpet_area" ng-pattern="/^\d{0,9}[0-9]$/" required>
			<span class="text-danger" ng-show="propertystructureForm.carpet_area.$error.pattern && (propertystructureForm.carpet_area.$dirty)" class="help-block">Enter only no.</span>
			<span class="text-danger" ng-show="propertystructureForm.carpet_area.$dirty && propertystructureForm.carpet_area.$invalid">
				<span ng-show="propertystructureForm.carpet_area.$error.required">Required Field.</span>
			</span>		
		</div>
		<div class="col-sm-3">
			<select class="form-control" name="builted" ng-model="property.property_info.carpet_unit" required>
				<option selected value="">Unit Area</option>
					<option value="Feet">Sq. Feet</option>
					<option value="Cent">Cent</option>
					<option value="Yard">Sq. Yard</option>
					<option value="Acres">Acres</option>
			</select>
			<span class="text-danger" ng-show="propertystructureForm.builted.$dirty && propertystructureForm.builted.$invalid">
				<span ng-show="propertystructureForm.builted.$error.required">Required Field.</span>
			</span>	
					 
		</div>				
	</div>
		
		<div class="form-group">
			<label for="price" class="col-sm-2 control-label ">Property Price </label>
			<div class="col-sm-6">
				<input type="text" id="price" class="form-control" name="price" ng-model="property.price" ng-pattern="/^\d{0,9}[0-9]$/" />	
			</div>
		</div>
		
		<div class="form-group">
			<label for="bedrooms" class="col-sm-2 control-label">Bedrooms </label>
			<div class="col-sm-4">
				<select class="form-control" id="bedrooms" name="bedrooms" ng-model="property.property_info.bedrooms"  ng-options="item as item for item in propertyConfig.Bedrooms" required>
					<option value="" selected>Select one</option>						
				</select>
			 <span class="text-danger" ng-show="propertystructureForm.bedrooms.$dirty && propertystructureForm.bedrooms.$invalid">
				  <span ng-show="propertystructureForm.bedrooms.$error.required">Required Field.</span>
				</span>
			</div>										
			<label for="bathrooms" class="col-sm-1 control-label">Bathrooms </label>
			<div class="col-sm-4">
				<select class="form-control" id="bathrooms"  name="bathrooms" ng-model="property.property_info.bathrooms" required ng-options="item as item for item in propertyConfig.Bathrooms">
					<option value="" selected>Select one</option>	
				</select>	
				 <span class="text-danger" ng-show="propertystructureForm.bathrooms.$dirty && propertystructureForm.bathrooms.$invalid">
				  <span ng-show="propertystructureForm.bathrooms.$error.required">Required Field.</span>
				</span>				 
			</div>									
	</div>
	
	<div class="form-group">
		<label for="property_images" class="col-sm-2 control-label">Property Images</label>
		<div class="col-sm-9">
			<input type="file" id="property_images" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="uploadMultiple(property_images,property.user_id + path,userinfo,property)" ng-model="property_images">
			<input type="hidden" ng-model="property.property_images">
		</div>
	</div>
	<div class="form-group">						 
		<div class="col-sm-9 col-sm-offset-2">
			<span class="thumbs" ng-repeat="(key, value) in property.property_images">
				<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="property.imgkey = key; "/>
				<span class="close" ng-click="removeImg(key, property.property_images)">X</span>
			</span>
		</div>
	</div>	
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-9">
	<button type="submit" ng-if="property.id && !copy" ng-click="update(property)" title="Update your property" class="btn btn-success text-center ">Update Property</button>
	<button type="submit" class="btn btn-primary" title="Save" ng-disabled="propertystructureForm.$invalid" ng-click="showFormPart('propertyLocation',1)">Next</button>	
	</div>
	</div>
	</form>
	
		