<div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Business Names <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Business1</a></li>
        <li class="divider"></li>
        <li><a href="#">Business2</a></li>
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary">Product/Services</button>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Product</a></li>
        <li class="divider"></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div>
	<div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary">Add Product/Services</button>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Product</a></li>
        <li class="divider"></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div>
<div class="text-right">
	<a href="#/products/addproducts" title="Add Product" class="btn btn-default">Add Product</a>
	<a href="#" title="Manage Product" class="btn btn-default">Manage Product Group</a>
</div>

<div class="row product">
	<div class="col-sm-9">
		<h3>Product with photo receives 5 times more enquiries from buyers</h3>
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="img/m4.jpg"/>
			</div>
			<div class="media-body">
				<h3>Website Design</h3>
				<label for="prodDesc">Website Description :</label>
				<textarea id="prodDesc" name="prodDesc" class="form-control" rows="3" ng-model="prodDesc" required ng-minlength="10" ng-maxlength="15"placeholder="Your Website Description"></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<a href="#" class="btn btn-default add-prod">Add Product Photo</a>
			
		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span> Push to Top</button>
		
		<div class="hot-product">
			<input type="checkbox"s id="hotProduct"> <label for="hotProduct">Hot Product</label>
		</div>
		
		<div class="edit-btns">	
			<a href="#">
			<span class="btn btn-default glyphicon glyphicon-pencil"></span> Edit</a>
				
			<a href="#">
			<span class="btn btn-default glyphicon glyphicon-remove-sign"></span> Delete</a>
		</div>
	</div>
</div>

<div class="row product">
	<div class="col-sm-9">
		<h3>Product with photo receives 5 times more enquiries from buyers</h3>
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="img/m4.jpg"/>
			</div>
			<div class="media-body">
				<h3>Website Design</h3>
				<label for="prodDesc">All printing Designing</label>
				<textarea id="prodDesc" name="prodDesc" class="form-control" rows="3" ng-model="prodDesc" required ng-minlength="10" ng-maxlength="15"placeholder="Your Website Description"></textarea>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<a href="#" class="btn btn-default add-prod">Add Product Photo</a>
		
		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span> Push to Top</button>
		
		<div class="hot-product">
			<input type="checkbox"s id="hotProduct"> <label for="hotProduct">Hot Product</label>
		</div>
		<div class="edit-btns">	
			<a href="#">
			<span class="btn btn-default glyphicon glyphicon-pencil"></span> Edit</a>
				
			<a href="#">
			<span class="btn btn-default glyphicon glyphicon-remove-sign"></span> Delete</a>
		</div>
	</div>
</div>


	
