<div class="main-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.ok()"><span aria-hidden="true">&times;</span></button>
		<h3 class="text-center" ng-if="!modalOptions.account.id">Add Account</h3>
		<h3 class="text-center" ng-if="modalOptions.account.id">Update Account</h3>
	</div>
	<div class="modal-body">
		<form name="addAccountForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addAccountForm.$valid"><!-- {{modalOptions.account}} -->
				<input type="hidden" class="form-control" ng-model="modalOptions.account.user_id" ng-init="modalOptions.account.user_id = userDetails.id" readonly/>
								
				<div class="form-group">
					<label for="category" class="col-sm-2 control-label">Account Category * </label>
					<div class="col-sm-9">
						<select id="category" name="category" class="form-control" ng-model="modalOptions.account.category" required>
						<option value="" selected>Select Category</option>
						<option value="Bank" >Bank Account</option>
						<option value="Cash" >Cash Account</option>
						<option value="Credit">Credit Card</option>
						<option value="Loan">Loan</option>
						</select>
						<span class="help-block" ng-show="addAccountForm.category.$dirty && addAccountForm.category.$invalid">
						<span ng-show="addAccountForm.category.$error.required" class="text-danger">Account Category is required.</span>
						</span>	
					</div>
				</div>
	
				<div class="form-group">
					<label for="account-name" class="col-sm-2 control-label">Account Name * </label>
					<div class="col-sm-9">
						<input type="text"  id="account_name" class="form-control" name="account_name" placeholder="Account Name"ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.account.account_name" required/>
						
						<input type="hidden"  id="status" class="form-control" name="status" ng-model="modalOptions.account.status" ng-init="modalOptions.account.status = '1'"/>
						
						<span class="help-block" ng-show="addAccountForm.account_name.$dirty && addAccountForm.account_name.$invalid">
						<span class="text-danger" ng-show="addAccountForm.account_name.$error.minlength"> Account Name is too short !</span>
						 <span class="text-danger"  ng-show="addAccountForm.account_name.$error.pattern">please Enter Valid Name</span>
						<span class="text-danger" ng-show="addAccountForm.account_name.$error.required"> Account Name is required.</span>
					</span>
					</div>
				</div> 
				
				<div class="form-group">
					<label for="account_no" class="col-sm-2 control-label">Account Number * </label>
					<div class="col-sm-9">
						<input type="text" id="account_no" name="account_no" class="form-control" ng-model="modalOptions.account.account_no" placeholder="Enter Account Number" ng-pattern="/^\d{0,100}[0-9]$/" required>
					<span class="help-block" ng-show="addAccountForm.account_no.$dirty && addAccountForm.account_no.$invalid">
						<span ng-show="(addAccountForm.account_no.$dirty || submitted)" class="text-danger">Enter a valid Account Number</span>
					</span>
					</div>
				</div>
				<div class="form-group">
					<label for="balance" class="col-sm-2 control-label">Account Balance * </label>
					<div class="col-sm-9">
						<input type="text" id="balance" name="balance" class="form-control" ng-model="modalOptions.account.balance" placeholder="Enter Account Balance" ng-pattern="/^\d{0,100}[0-9]$/" required>
					<span class="help-block" ng-show="addAccountForm.balance.$dirty && addAccountForm.balance.$invalid">
						<span ng-show="(addAccountForm.balance.$dirty || submitted)" class="text-danger">Enter a valid Account Number</span>
					</span>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description * </label>
					<div class="col-sm-9">
							<textarea  class="form-control" id="description" ng-model="modalOptions.account.description" name="description" placeholder="Enter Description" ng-maxlength="250" required></textarea>
						<span ng-hide="addAccountForm.description.$error.maxlength">
							{{ 250 - modalOptions.account.description.length + " Chars left" }}
						</span>	
				
						<span class="help-block" ng-show="addAccountForm.description.$dirty &&  adduserForm.description.$invalid">
							<span class="text-danger" ng-show="addAccountForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
							<span class="text-danger" ng-show="addAccountForm.description.$error.required">Description is required.</span>
						</span>	
					</div>
				</div>
				<!--  <div class="form-group">
					<label  for="date" class="col-sm-2 control-label">Date * </label>
					<div class="col-sm-9">
						<input type="text" class="form-control " placeholder="YYYY-DD-MM" id="date" name="date" ng-model="modalOptions.account.date"/>
					</div>
				</div> --> 
				 <!-- <div class="form-group">
				 <label  for="date" class="col-sm-2 control-label">Date * </label>
					<div class="col-sm-9">
						<input type="text" class="form-control  ng-isolate-scope ng-pristine ng-valid-required ng-valid ng-valid-date" placeholder=" date" id="date" name="date" ng-model="modalOptions.account.date" datepicker-popup="dd-MM-yyyy" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.account.date = modalOptions.date" ng-required="true" close-text="Close" ng-click="opened = !opened" required="required">
					</div>
				</div>  -->
				<input type="hidden" class="form-control " id="date" name="date" ng-model="modalOptions.account.date" ng-init="modalOptions.account.date = modalOptions.date"/>
				<div class="form-group">
				<input type="hidden" class="form-control " id="modified_date" name="modified_date" ng-model="modalOptions.account.modified_date" ng-init="modalOptions.account.modified_date = modalOptions.date"/>
				<div class="form-group">
				 <label  for="date" class="col-sm-2 control-label">Date * </label>
					<div class="col-sm-9">
						<input type="text" class="form-control  ng-isolate-scope ng-pristine ng-valid-required ng-valid ng-valid-date" placeholder="Account Date" id="accountdate" name="accountdate" ng-model="modalOptions.account.accountdate" datepicker-popup="dd-MM-yyyy" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.account.accountdate = modalOptions.date" ng-required="true" close-text="Close" ng-click="opened = !opened" required="required">
					</div>
				</div> 
				<div class="form-group modal-footer">
					<div class="col-sm-offset-2 col-sm-9">
						
						<button type="submit" ng-if="!modalOptions.account.id" class="btn btn-success" ng-disabled="addAccountForm.$invalid" ng-click="modalOptions.ok(); modalOptions.postData('account',modalOptions.account)"
							<span>Submit</span>
						</button>
						
						<button type="submit" ng-if="modalOptions.account.id" class="btn btn-success" ng-disabled="addAccountForm.$invalid" ng-click="modalOptions.ok(); modalOptions.updateData('account',modalOptions.account, modalOptions.account.id)">
							<span>Update</span>
						</button> 
						<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
					</div>
				</div>
		</form>
		</div>
</div>