
{% extends "index.html" %}
{% block title %}{{data.business_name}}{% endblock %}

{% block content %}
{% autoescape false %}
<span ng-bind="id"></span>
<div ng-controller="aboutController" class="row">
	<div class="col-sm-2 sidebar" id="navbar-example">
		<ul class="nav nav-pills nav-stacked">
			<li ng-class="{active:id=='about'}" ng-click="makeActive('about')"><a href="#about">About Us</a></li>
			<li ng-class="{active:id=='infrastructure'}" ng-click="makeActive('infrastructure')"><a href="#infrastructure">Infrastructure/Facilities</a></li>
		</ul>
	</div>
	<div class="col-sm-10 sidebar">
		<div ng-show="id=='about'" class="about" id="about">
		<h2>{{ data.business_name }}</h2>
		<table class="table table-bordered">
			{%if data.business_logo%}
			<tr>
				<th class="col-sm-4">Business Logo</th>
				<td class="col-sm-8">
					<img class="img-responsive img-circle col-sm-2" src="{{data.business_logo.file_relative_path}}" alt="{{data.business_name}}" />
				</td>
			</tr>
			{% endif %}
			<tr>
				<th>Primary Business Type</th>
				<td>{{data.business_profile.business_type}}</td>
			</tr>
			<tr>
				<th>Year Of Establishment</th>
				<td>{{data.business_profile.establishment}}</td>
			</tr>
			<tr>
				<th>No. Of Employees</th>
				<td>{{data.business_profile.no_of_employees}}</td>
			</tr>
			<tr>
				<th>Ownership Type</th>
				<td>{{data.ownership}}</td>
			</tr>
			<tr>
				<th>Additional Business</th>
				<td><ul>
					{% for x in data.business_profile.additional_business %}
						<li>{{x}}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
		</table>
		<div>
			<h2>About Us</h2>
			{{data.business_info.aboutDescription}}
		</div> 
		</div>
		{% if data.infrastructure %}
			<div ng-show="id=='infrastructure'" class="infrastructure" id="infrastructure">
				<h2>Infrastructure/Facilities</h2>
				{% for key, value in data.infrastructure %}
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="media">
								<div class="media-left col-sm-2">
									<a href="#">
										<img class="img-circle img-responsive " src="{{value.image.0.file_relative_path}}" />
									</a>
								</div>
								<div class="media-body">
									<h3 class="media-heading">{{key}}</h3>
									<p>{{value.description}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>	
{% endautoescape %}
{% endblock %}
