{% extends "index.html" %}

{% block title %}{{data.business_name}}{% endblock %}

{% block content %}
{% autoescape false %}
{% if data.news_coverage %}

<div class="row">
	<div class="col-sm-12">
		<h2>Activities</h2>
		{% for key, value in data.news_coverage if break == 0 %}
			<h3>{{key}}</h3>
			<img class="pull-left col-sm-2 img-circle" src="{{value.image.0.file_relative_path}}">
			<p>{{ value.newsdetails }}</p>
		</blockquote>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endautoescape %}
{% endblock %}
