{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
	<script src="http://maps.googleapis.com/maps/api/js">
	</script>
	<script>
		function initialize() {
			var mapProp = {
				center:new google.maps.LatLng({{google_map.latitude}},{{google_map.longitude}}),
				zoom:18,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}
{% block content %}
	<h2>Contact us</h2>
	<div class="row">
		<div class="col-sm-8">
			{%if data.contact_profile.contact_photo%}
			<!-- <div class="row">
				<div class="col-sm-4"><h4>Contact Person Photo</h4></div>
				<div class="col-sm-8"><img class="img-responsive img-circle col-sm-2" src="{{data.contact_profile.contact_photo}}"/></div>
			</div> -->	
			{% endif %}
			<div class="row">
				<div class="col-sm-6">
					<h4>{{data.contact_profile.contact_person}}</h4>
					<h4>Address</h4>
					<address>
						{{data.contact_profile.address}}<br>
						{{data.contact_profile.City}}<br>
						{{data.contact_profile.State}}<br>
						{{data.contact_profile.Country}}<br>
						{{data.contact_profile.ZIP_Code}}
					</address>
				</div>
				<div class="col-sm-6">
					<table class="table">
						<tr>
							<td><h4>Telephone</h4></td>
							<td>{{data.contact_profile.telephone}}</td>
						</tr>
						<tr>
							<td><h4>Mobile</h4></td>
							<td>{{data.contact_profile.mobile}}</td>
						</tr>
						<tr>
							<td><h4>E-mail Id</h4></td>
							<td>{{data.contact_profile.email}}<br>
							{{data.contact_profile.alternate_email}}</td>
						</tr>
						<tr>
							<td><h4>Website</h4></td>
							<td><a href="#">{{data.contact_profile.contact_website}}</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" id="googleMap" style="height:225px;"></div>
			</div>
			</table>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="alert alert-success" ng-show="mailSent" role="alert">Message has been sent!</div>
					<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-controller="enquiryController" novalidate>
						<h4 class="text-center">General Enquiry</h4>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="hidden" class="form-control" id="user_id" ng-model="enquiry.user_id" name="user_id">
								<input type="hidden" class="form-control" id="user_id" ng-model="enquiry.date" name="current_date">
								<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
									<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
							</div>	
						</div>
						
						<div class="form-group">
							<div class="col-sm-12">
								<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.from_email.from" required>
								<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
									<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
									<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
								</span>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/(7|8|9)\d{9}$/" maxlengtd="10" required>
								<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
							</div>						
						</div>	
						
						<div class="form-group">
							<div class="col-sm-12">
								<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlengtd="2" ng-maxlengtd="356" required>
								</textarea>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-12">
								<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlengtd="2" ng-maxlengtd="356" required>
								</textarea>
							</div>
						</div>
						
						<input type="hidden" class="form-control" id="to_email" name="to_email" ng-model="enquiry.to_email.to" >
						
						<input type="hidden" class="form-control" id="subject" name="subject"  ng-model="enquiry.subject">
						
						<div class="form-group">
							<div class="col-sm-6">
								<button type="submit" class="btn btn-primary pull-right" ng-click="postData(enquiry)" ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent">Send</button>
							</div>	
							<div class="col-sm-6">
								<button type="reset" class="btn btn-danger" title="Cancel Sending">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}