{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>{{ data.owner_name }}</h1>
    <p class="important">
        <div class="row">
		<div class="col-sm-6">
			<table class="table table-bordered">
				<tr>
					<td colspan="2"><h2 class="text-center">Contact us</h2></td>
				</tr>
				<tr>
					<td>CONTACT PERSON</td>
					<td>
						{{data.contact_profile.contact_person}}
					</td>
				</tr>
				{%if data.contact_profile.contact_photo%}
				<tr>
					<td>CONTACT PERSON PHOTO</td>
					<td>
						<img class="img-responsive img-circle col-sm-2" src="{{data.contact_profile.contact_photo}}"/>
					</td>
				</tr>
				{% endif %}
				<tr>
					<td>ADDRESS</td>
					<td>
						<address>
							{{data.contact_profile.address}}<br>
							{{data.contact_profile.City}}<br>
							{{data.contact_profile.Country}}<br>
							{{data.contact_profile.State}}<br>
							{{data.contact_profile.ZIP_Code}}
						</address>
					</td>
				</tr>
				<tr>
					<td>TELEPHONE</td>
					<td>{{data.contact_profile.telephone}}</td>
				</tr>
				<tr>
					<td>MOBILE</td>
					<td>{{data.contact_profile.mobile}}</td>
				</tr>
				<tr>
					<td>E-mail Id</td>
					<td>{{data.contact_profile.email}}<br>{{data.contact_profile.alternate_email}}</td>
				</tr>
				<tr>
					<td>WEBSITE</td>
					<td><a href="#">{{data.contact_profile.contact_website}}</a></td>
				</tr>
			</table>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="alert alert-success" ng-show="mailSent" role="alert">Message has been sent!</div>
					<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-controller="enquiryController" novalidate>
						<h2 class="text-center"> Enquiry Form</h2>
						<div class="form-group">
							<label for="phone" class="col-sm-2 control-label">Name </label>
							<div class="col-sm-9">
								<input type="hidden" class="form-control" id="user_id" ng-model="enquiry.user_id" name="user_id">
								
								<input type="hidden" class="form-control" id="user_id" ng-model="enquiry.date" name="current_date">

								<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
									<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>						
							</div>	
						</div>
						<div class="form-group">
							<label for="from" class="col-sm-2 control-label">Enquiry From</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="from" name="from" placeholder="example@gmail.com" ng-model="enquiry.from_email.from" required>
								<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
									<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
									<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="phone" class="col-sm-2 control-label">Mobile Number </label>
							<div class="col-sm-9">
								<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Your Phone number"  ng-pattern="/(7|8|9)\d{9}$/" maxlengtd="10"  required >							
								<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
							</div>						
						</div>	
						<div class="form-group">
							<label for="message" class="col-sm-2 control-label">Address</label>
							<div class="col-sm-9">
								<textarea id="address" name="address" class="form-control" rows="3" ng-model="enquiry.message.address" ng-minlengtd="2" ng-maxlengtd="356" required>
								</textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="message" class="col-sm-2 control-label">Message</label>
							<div class="col-sm-9">
								<textarea id="message" name="message" class="form-control" rows="3" ng-model="enquiry.message.message" ng-minlengtd="2" ng-maxlengtd="356" required>
								</textarea>
							</div>
						</div>
						<input type="hidden" class="form-control" id="to_email" name="to_email" ng-model="enquiry.to_email.to" >
						
						<input type="hidden" class="form-control" id="subject" name="subject"  ng-model="enquiry.subject">
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-9">
								<button type="submit" class="btn btn-primary" ng-click="postData(enquiry)" ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent">Send</button>
								<button type="reset" class="btn btn-danger" title="Cancel Sending">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
    </p>
{% endblock %}