{% spaceless %}
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ path }}css/errorstyle.css">
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<div class="errorback">
		<div class="msg">
			<h2>ERROR !<img src="{{path}}errorface.png"></h2>
			<h3>{{message}}</h3>
			{#{% if website_status == 'expired'%}
				<h1>ERROR !<img src="{{path}}errorface.png"></h1>
				<h3>{{message}}</h3>
			{% endif %}
			{% if website_status == 'deleted' %}
				<h2 style="color : green">{{message}}</h2>
			{% endif %}
			{% if website_status == 'requested' %}
				<h2 style="color : blue">{{message}}</h2>
			{% endif %}#}
		</div>
	</div>
	</div>
</body>
</html>
{% endspaceless %}