{% autoescape false %}
	<h1>Welcome to {{ data.business_name }}</h1>
	{% if data.business_info.tagline %}
		<div class="tagline text-center">{{ data.business_info.tagline}}</div>
	{% endif %}
	{% if data.business_info.alternate_tagline %}
		<div class="tagline1 text-center">{{ data.business_info.alternate_tagline}}</div>
	{% endif %}
	<div class="description">{{ data.business_info.description|length >1500 ? data.business_info.description|slice(start,1500)~ '...' : data.business_info.description}}</div>
	<a href="about-us" class="btn btn-link">Read More..</a>
{% endautoescape %}