{% spaceless %}
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		{% block head %}
			<link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
			<link rel="stylesheet" href="{{ path }}css/curosal.css">
			<link rel="stylesheet" href="{{ path }}css/mystyle.css">
			<script src="{{ path }}js/jquery.min.js"></script>
			<script src="{{ path }}js/bootstrap.min.js"></script>
			<script src="{{ path }}js/angular.min.js"></script>
			<script src="{{ path }}js/angular-route.min.js"></script>
			<script src="{{ path }}js/script.js"></script>
			<script src="{{ path }}js/curosal.js"></script>
			<title>{% block title %}{{title}}{% endblock %}</title>
			<!-- <meta name="fragment" content="!"/>
			<meta name="description" content="">
			<meta name="keywords" content=""> -->
			<style>		
				.nav-pills>li.active>a,.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,.Hearing {
					background-color: {{template.template_params.background_color}};
				}
				.nav-pills>li>a, .nav-pills>li>a:hover, .panel-default>.panel-heading{
					background-color: {{template.template_params.background_color_light}};
				}
				.news,footer{
					background-color: {{template.template_params.background_color_dark}};
				}
				.news,.Hearing{
					color: 
					{{template.template_params.color}};
				}
				.panel-default,.panel-default>.panel-heading {
					border-color: {{template.template_params.background_color_dark}};;
				}
				.panel,.nav{
					background:none;
				}
				
			</style>
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<!-- <div class="links"> -->
						<div class="row headerRow">
							<div class="col-sm-12">
								<img src="{{ path }}img/logo.png" class="img-responsive"/>
								{% include 'includes/navbar.html' ignore missing %}
							</div>
						</div>
					<!-- </div> -->
				</div>
				<div class="col-sm-8">
					{% block carousal %}{% endblock %}
					{% block content %}{% endblock %}
				</div>
			</div>
			
		</div>
		<!--<div class="section2">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
					</div>					
					<div class="col-sm-8 Hearing">
						<h3>Hearing Aids</h3>
						<div class="row imgRow">
							<div class="col-sm-3">
								<img src="img/page1_img1.jpg">
							</div>
							<div class="col-sm-9">
								<h3>Praesent vestibulum</h3>
								<address>February 18, 2013<br>
								Lorem ipsum dolor sit amet,<br> consectetuer adipiscing Praesent vestibulum molestie lacus.<br> Aenean nonummy hendrerit mauris.<br> Phasellus porta. </address>
								<a class="btn btn-info">Details</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<img src="img/page1_img4.jpg">
							</div>
							<div class="col-sm-9">
								<h3>Aenean nonummy</h3>
								<address>February 18, 2013<br>
								Lorem ipsum dolor sit amet,<br> consectetuer adipiscing Praesent vestibulum molestie lacus.<br> Aenean nonummy hendrerit mauris.<br> Phasellus porta. </address>
								<a class="btn btn-info">Details</a>	
							</div>
						</div>
					</div>				
				</div>		
			</div>
		</div> end sec2- ->	
		<!-- 
		<div class="section3">
			<div class="container">
				<div class="row">		    
					<div class="col-sm-4">
					</div>					
					<div class="col-sm-8">
						<h3>welcome!</h3>
						<div class="row">
							<div class="col-sm-3">
								<img src="img/page1_img5.jpg">
							</div>
							<div class="col-sm-9">
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti  .</p>

								<p>Dui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
							</div>
						</div>						
					</div>				
				</div>		
			</div>
		</div> <!--end sec3- ->

		<div class="section4">
			<div class="container">
				<div class="row">		    
					<div class="col-sm-4">
					</div>					
					<div class="col-sm-8">						
						<div class="row">
							<div class="col-sm-6">
								<h3>meet the expert</h3>
								<hr />
								<p>Lorem ipsum dolor sit amet, conseetuer adiping elit. Praesent vestibulum molestie lacus.

								Aean nonummy hendrerit mauris. Phasellus porta. Fusce sit varius mi. Cum sociis natoque. penatibusamet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Phasellus porta. Fusce sit varius mi. Cum sociis natoque. penatibus.</p>

								<a class="btn btn-primary">READ MORE</a>
							</div>
							<div class="col-sm-6">
								<h3>Hearing Facts You Need</h3>
								<hr />
								<p>Lorem ipsum dolor sit amet, conseetuer adiping elit. Praesent vestibulum molestie lacus. Aean nonummy hendrerit mauris. Phasellus porta. Fusce sit varius mi. Cum sociis natoque.</p>

								<ul>
									<li> <a href="#">At vero eos et accusamus et iusto</a></li>
									<li> <a href="#">At vero eos et accusamus et iusto</a></li>
									<li> <a href="#">At vero eos et accusamus et iusto</a></li>
									<li> <a href="#">At vero eos et accusamus et iusto</a></li>
									<li> <a href="#">At vero eos et accusamus et iusto</a></li>
								</ul>							
							</div>
						</div>
						<hr/>	
					</div>				
				</div>		
			</div>
		</div>  --><!--end sec3-->	
			
		<footer class="navbar navbar-default navbar-fixed-bottom">
			<div class="container text-center">
				{% block footer %}
					&copy; Copyright 2015 by <a href="http://wtouch.in">Web Touch India Solutions</a>.
				{% endblock %}
			</div>
		</footer>	
	</body>
</html>
{% endspaceless %}