{% autoescape false %}
<h2>Post Your Requirement</h2>
<div class="panel panel-default">
	<div class="panel-body" ng-controller="enquiryController">
		<div ng-show="mailSent" class="text-center mailSentMsg" style="clear:both;">
			Your Post Property Requirement enquiry send successfully..Our representative call you shortly.
		</div>
		<form class="form-horizontal" name="postRequirementForm" ng-submit="postRequirementForm.$valid" novalidate ng-hide="mailSent">
			<div class="form-group">							
				<label for="property_for" class="col-xs-12 col-sm-2 control-label">* Property for </label>	
				<div class="col-xs-12 col-sm-9"> 
					<label class="radio-inline">
						<input type="radio" name="property_for" id="Sale" value="Sale" ng-model="enquiry.message.property_for" checked required>Sale
					</label>
					<label class="radio-inline">
					  <input type="radio" name="property_for" id="Rent" value="Rent" ng-model="enquiry.message.property_for" required> Rent
					</label>
					<label class="radio-inline">
					  <input type="radio" name="property_for" id="Buy" value="Buy" ng-model="enquiry.message.property_for" required> Buy
					</label>
				</div>	
			</div> 	
			<div class="form-group">
				<label for="category" class="col-xs-12 col-sm-2 control-label">* Property Category </label>
				<div class="col-xs-12 col-sm-9">
					<select id="category" name="category" ng-model="enquiry.message.category" class="form-control"  ng-options="item.category_name as item.category_name for item in propertyConfig.category" required>
						<option value="">Select Category</option>			
					</select>
					<span class="text-danger" ng-show="postRequirementForm.category.$dirty && postRequirementForm.category.$invalid">
						<span ng-show="postRequirementForm.category.$error.required">Property category selection required .</span>
					</span>	
					<input type="hidden" class="form-control" id="user_id" ng-init="enquiry.user_id={{data.user_id}}" ng-model="enquiry.user_id" name="user_id">
					
					<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
					
					<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to='{{data.owner_email}}'">
					
					<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc = 'admin@apnasite.in'">
			
					<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject" ng-init="enquiry.subject = 'post  property requirement enquiry'">	
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="col-xs-12 col-sm-3 col-lg-2 control-label" ng-if="enquiry.message.category" >* Property Type </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<select  id="type" ng-if="enquiry.message.category" name="type" ng-model="enquiry.message.type" class="form-control" required ng-options="item.type as item.type for item in propertyConfig.types  | filter : {'category_name' : enquiry.message.category}">
						<option value="">Select Property Type</option>		
					</select>
					<span class="text-danger" ng-show="postRequirementForm.type.$dirty && postRequirementForm.type.$invalid">
						<span ng-show="postRequirementForm.type.$error.required">Property Type selection required .</span>
					</span>	
				</div>
			</div>
			<div class="form-group">
				<label for="proparea" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Area </label>
				<div class="col-xs-6">
					<input type="text" id="proparea" class="form-control help-block" name="proparea" ng-model="enquiry.message.prop" ng-pattern="/^\d{0,9}[0-9]$/" required>
					
					<span ng-show="postRequirementForm.proparea.$error.pattern && (postRequirementForm.proparea.$dirty)" class="text-danger">Enter only no!</span>
					<span class="text-danger" ng-show="postRequirementForm.proparea.$dirty && postRequirementForm.proparea.$invalid">
					  <span ng-show="postRequirementForm.proparea.$error.required"> Area is required .</span>
					</span>	
				</div>							
				<div class="col-xs-3">
					<select class="form-control" name="unit" ng-model="enquiry.message.build_unit"  title="" required >
						<option selected value="">Unit Area</option>
						<option value="Feet">Sq. Feet</option>
						<option value="Cent">Cent</option>
						<option value="Yard">Sq. Yard</option>
						<option value="Acer">Acer</option>
					</select>
					<span class="text-danger" ng-show="postRequirementForm.unit.$dirty && postRequirementForm.unit.$invalid">
						<span ng-show="postRequirementForm.unit.$error.required">Unit selection required .</span>
					</span>				 
				</div>
			</div>	
			<div class="form-group">
				<label for="budget" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Budget </label>
				<div class="col-xs-6">
					<input type="text" id="budget" class="form-control" name="budget" ng-model="enquiry.message.budget" ng-pattern="/^\d{0,9}[0-9]$/"  required/>
					<span class="text-danger" ng-show="postRequirementForm.budget.$error.pattern && (postRequirementForm.budget.$dirty)">Enter only no.</span>
					<span class="text-danger" ng-show="postRequirementForm.budget.$dirty && postRequirementForm.budget.$invalid">
						<span ng-show="postRequirementForm.budget.$error.required">Budget is required.</span>
					</span>			
				</div>
				<div class="col-xs-3">
					<select class="form-control" name="currency" ng-model="enquiry.message.currency"  title=""  required>
						<option selected value="">Select Unit</option>
						<option value="In Rupees">In Rupees.</option>
						<option value="Thousands">Thousands</option>
						<option value="Lac">Lac</option>
						<option value="Crore">Crore</option>
					</select>
					<span class="text-danger" ng-show="postRequirementForm.currency.$dirty && postRequirementForm.currency.$invalid">
						<span ng-show="postRequirementForm.currency.$error.required">This is required .</span>
					</span>				 
				</div>
			</div>	
			<div class="form-group">
				<label for="property_description" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Property Discription </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<textarea type="text" class="form-control" name="property_description" id="property_description" ng-model="enquiry.message.property_description" cols="30" rows="4" ng-maxlength="2000" required></textarea>
					<span class="text-danger" ng-show="postRequirementForm.property_description.$dirty && postRequirementForm.property_description.$invalid">
						<span ng-show="postRequirementForm.property_description.$error.required">Property Description required.</span>
					</span>							
				</div>				
			</div>
			<h3>Property Location:</h3>		
			<div class="form-group">
				<label for="location" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Location</label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input  type="text" required name="location" id="location" ng-model="enquiry.message.location" placeholder="Location"  class="form-control" autocomplete="off">
					<span class="text-danger" ng-show="postRequirementForm.location.$dirty && postRequirementForm.location.$invalid">
					  <span ng-show="postRequirementForm.location.$error.required"> Location is required .</span>
					</span>	
				</div>						
			</div>
			<div class="form-group">
				<label for="area" class="col-xs-12 col-sm-3 col-lg-2 control-label">Area</label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input  type="text" id="area" name="area" class="form-control" ng-model="enquiry.message.area" placeholder="Enter area">
				</div>						
			</div>			
			<div class="form-group">
				<label for="state" class="col-xs-12 col-sm-3 col-lg-2 control-label">City</label>
				<div class="col-xs-12 col-sm-4 col-lg-4">
					<input type="text" name="City" id="City" ng-model="enquiry.message.city" placeholder="Enter Your City"  class="form-control" >	
					
				</div>
				
				<label for="state" class="col-xs-12 col-sm-1 col-lg-2 control-label">State</label>
				<div class="col-xs-12 col-sm-4 col-lg-4">
				<input type="text" id="state" name="state" class="form-control" ng-model="enquiry.message.state" placeholder="Enter state">
				</div>
			</div>
			<div class="form-group">
				<label for="Country" class="col-xs-12 col-sm-3 col-lg-2 control-label">Country</label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input type="text" name="Country" id="Country" ng-model="enquiry.message.country" placeholder="Enter Your Country" class="form-control" >
				</div>
			</div>					
			<div class="form-group">
				<label for="pincode" class="col-xs-12 col-sm-3 col-lg-2 control-label">Pin Code</label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input  type="text" id="pincode" name="pincode" class="form-control" ng-model="enquiry.message.pincode" placeholder="Enter Pin Code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6"  ng-minlength="6">
					<span ng-show="postRequirementForm.pincode.$error.pattern && (postRequirementForm.pincode.$dirty)" class="text-danger">Enter only no!</span>
				</div>						
			</div>
			<h3>Property contact Detail:</h3>
			<div class="form-group">
			
				<label for="name" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Contact Person  </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input type="text" id="name" class="form-control" name="name" ng-model="enquiry.name" required/>
					
					<span class="text-danger" ng-show="postRequirementForm.name.$dirty && postRequirementForm.name.$invalid">
						<span ng-show="postRequirementForm.name.$error.required">Person Name is required .</span>
					</span>	
				</div>						
			</div>
			
			<div class="form-group">
				<label for="phone" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Mobile  </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input type="text"  id="phone" class="form-control help-block"  name="phone" ng-model="enquiry.message.phone" placeholder="Enter Your phone Number" maxlength="10" ng-pattern="/^[789]\d{9}$/" required />							
					<span class="text-danger" ng-show="postRequirementForm.phone.$error.pattern && (postRequirementForm.phone.$dirty)" class="text-danger">Enter a valid phone no.</span>
					<span class="text-danger" ng-show="postRequirementForm.phone.$dirty && postRequirementForm.phone.$invalid">
						<span ng-show="postRequirementForm.phone.$error.required">Phone No. is required .</span>
					</span>
				</div>						
			</div>
		
			<div class="form-group">
				<label for="email" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Email ID  </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<!-- <input type="email"  id="email" class="form-control" name="email" ng-model="enquiry.from_email.from" ng-pattern=" /^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required /> -->
					<input type="email"  id="email" class="form-control" name="email" ng-model="enquiry.to_email.replyTo" ng-pattern="/^[\.\w]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required /><input type="hidden" class="form-control" id="from" name="from" ng-model="enquiry.from_email.from" ng-init="enquiry.from_email.from = 'admin@apnasite.in'">
					<span class="text-danger" ng-show="postRequirementForm.email.$error.pattern && (postRequirementForm.email.$dirty)"> invalid email! </span>
					
					<span class="text-danger" ng-show="postRequirementForm.email.$error.required && (postRequirementForm.email.$dirty)">Email is required.</span>							
				</div>							
			</div>
		  
			<div class="form-group">
				<label for="address" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Address </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<textarea type="text" id="address" class="form-control" name="address" ng-model="enquiry.message.cont_address" cols="30" rows="4" ng-maxlength="300"  required></textarea>
					<span class="text-danger" ng-show="postRequirementForm.address.$dirty && postRequirementForm.address.$invalid">
					  <span ng-show="postRequirementForm.address.$error.required">Address is required .</span>
					</span>					  
				</div>				
			</div>
			<div class="form-group ">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-info send" ng-click="postData(enquiry)" ng-disabled="postRequirementForm.$pristine || postRequirementForm.$invalid || mailSent">Submit</button>
					<button type="reset" class="btn btn-danger send" >Cancel</button>
				</div>
			</div>
		</form>
		<div ng-if="loading" style="display: block; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.05);z-index: 10000;">
			<div style="margin: 0 auto;font-size: 26px;color: transparent;width: 128px;text-align: center;margin-top: 10%;font-family: arial, helvetica, sans-serif;background: url({{path}}/img/loader-leaf-purple.gif) no-repeat center center;height: 128px;">Loading...
			</div>
		</div>
	</div>
</div>
{% endautoescape %}