{% autoescape false %}
<h2>Post Your Property</h2>
<div class="panel panel-default" >
	<div class="panel-body" ng-controller="enquiryController">
	<div ng-show="mailSent" class="text-center mailSentMsg" style="clear:both;">
	Your Property enquiry send successfully .Our representative call you shortly.
	</div>
		<form class="form-horizontal" name="postpropertyForm" ng-submit="postpropertyForm.$valid" novalidate ng-hide="mailSent" >
			<div class="form-group">							
				<label for="property_for" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Property for </label>	
				<div class="col-xs-12 col-sm-9 col-lg-10"> 
					<label class="radio-inline">
						<input type="radio" name="property_for" id="Sale" value="Sale" ng-model="enquiry.message.property_for" checked required>Sale
					</label>
					<label class="radio-inline">
					  <input type="radio" name="property_for" id="Rent" value="Rent" ng-model="enquiry.message.property_for" required> Rent
					</label>
					
				</div>	
			</div> 	
			<div class="form-group">
				<label for="category" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Property Category </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<select id="category" name="category" ng-model="enquiry.message.category" class="form-control"  ng-options="item.category_name as item.category_name for item in propertyConfig.category" required>
						<option value="">Select Category</option>			
					</select>
					<span class="text-danger" ng-show="propertyForm.category.$dirty && postpropertyForm.category.$invalid">
						<span ng-show="postpropertyForm.category.$error.required">Property category selection required .</span>
					</span>	
						<input type="hidden" class="form-control" id="user_id" ng-init="enquiry.user_id={{data.user_id}}" ng-model="enquiry.user_id" name="user_id">
						
						<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
						
						<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to='{{data.owner_email}}'">
						
						<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc = 'admin@apnasite.in'">
				
						<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject" ng-init="enquiry.subject = 'post property enquiry'">		
						
											
				</div>
				<label for="type" class="col-xs-12 col-sm-3 col-lg-2 control-label" ng-if="enquiry.message.category" >* Property Type </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<select  id="type" ng-if="enquiry.message.category" name="type" ng-model="enquiry.message.type" class="form-control" required ng-options="item.type as item.type for item in propertyConfig.types  | filter : {'category_name' : enquiry.message.category}">
						<option value="">Select Property Type</option>		
					</select>
					<span class="text-danger" ng-show="postpropertyForm.type.$dirty && postpropertyForm.type.$invalid">
						<span ng-show="propertyForm.type.$error.required">Project Type selection required .</span>
					</span>	
				</div>
			</div>
			<div class="form-group">
				<label for="proparea" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Area </label>
				<div class="col-xs-12 col-sm-9 col-lg-10">
					<input type="text" id="proparea" class="form-control help-block" name="area" ng-model="enquiry.message.prop" ng-pattern="/^\d{0,9}[0-9]$/" required>
					
					<span ng-show="postpropertyForm.area.$error.pattern && (postpropertyForm.area.$dirty)" class="text-danger">Enter only no!</span>
					<span class="text-danger" ng-show="postpropertyForm.area.$dirty && postpropertyForm.area.$invalid">
					  <span ng-show="postpropertyForm.area.$error.required"> Area is required .</span>
					</span>	
				</div>							
				<div class="col-xs-3">
					<select class="form-control" name="unit" ng-model="enquiry.message.build_unit"  title="" required >
						<option selected value="">Unit Area</option>
						<option value="Feet">Sq. Feet</option>
						<option value="Cent">Cent</option>
						<option value="Yard">Sq. Yard</option>
						<option value="Acer">Acer</option>
					</select>
					<span class="text-danger" ng-show="postpropertyForm.unit.$dirty && postpropertyForm.unit.$invalid">
						<span ng-show="postpropertyForm.unit.$error.required">Unit selection required .</span>
					</span>				 
				</div>
			</div>	
			<div class="form-group">
				<label for="budget" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Budget </label>
					<div class="col-xs-6">
						<input type="text" id="budget" class="form-control" name="budget" ng-model="enquiry.message.budget" ng-pattern="/^\d{0,9}[0-9]$/"  required/>
						<span class="text-danger" ng-show="postpropertyForm.budget.$error.pattern && (postpropertyForm.budget.$dirty)">Enter only no.</span>
						<span class="text-danger" ng-show="postpropertyForm.budget.$dirty && postpropertyForm.budget.$invalid">
							<span ng-show="postpropertyForm.budget.$error.required">Budget is required.</span>
						</span>			
					</div>
				<div class="col-xs-3">
					<select class="form-control" name="currency" ng-model="enquiry.message.currency"  title=""  required>
						<option selected value="">Select Unit</option>
						<option value="In Rupees">In Rupees.</option>
						<option value="Thousands">Thousands</option>
						<option value="Lac">Lac</option>
						<option value="Carror">Carror</option>
					</select>
					<span class="text-danger" ng-show="postpropertyForm.currency.$dirty && postpropertyForm.currency.$invalid">
						<span ng-show="postpropertyForm.currency.$error.required">This is required .</span>
					</span>				 
				</div>
			</div>	
			<div class="form-group">
				<label for="facing" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Facing </label>
				<div class="col-xs-9">
					<select class="form-control" id="facing" name="facing" ng-model="enquiry.message.facing" ng-options="item for item in propertyConfig.facing" required >
						<option value="">Select One</option></select>
					<span class="text-danger" ng-show="postpropertyForm.facing.$dirty && postpropertyForm.facing.$invalid">
						<span ng-show="postpropertyForm.facing.$error.required">Property Facing is required .</span>
					</span>		
				</div>
			</div>
			<div class="form-group">
				<label for="property_images" class="col-xs-12 col-sm-3 col-lg-2 control-label" >* Property Images </label>
				<div class="col-xs-9">
					<!-- This is file input for select images -->
					<input type="file" id="property_images" ng-file-select ng-multiple="true" accept="image/jpeg,image/png,image/gif" ng-file-change="generateThumb($files)"  ng-model="property_images" ng-src="{{appConfig.assetPath + '/' + value.file_relative_path}}" />		
					<!-- This will show thumbnails & progress of images -->
					<file-preview url="property_images"></file-preview>
					<!-- This button will show if file/s selected -->
					<button ng-show="property_images" ng-click="uploadMultiple(property_images,enquiry.user_id + path,userinfo,property)" type="button">Upload</button>
					<!-- This hidden input will store image path in array after successful uploading -->
					<input type="hidden" ng-model="enquiry.message.property_images"/>	
					<span class="thumbs" ng-repeat="(key, value) in enquiry.message.property_images">
						<img class="img-thumbnail" width="40px" ng-src="{{value.file_relative_path}}" />
						<span class="close" ng-click="removeImg(key, enquiry.message.property_images)">X</span>
					</span>		
				</div>
			</div>
			<div class="form-group">
				<label for="property_description" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Property Discription </label>
				<div class="col-xs-9">
					<textarea type="text" class="form-control" name="property_description" id="property_description" ng-model="enquiry.message.property_description" cols="30" rows="4" ng-maxlength="2000" required></textarea>
					<span class="text-danger" ng-show="postpropertyForm.property_description.$dirty && postpropertyForm.property_description.$invalid">
						<span ng-show="postpropertyForm.property_description.$error.required">Property Description required.</span>
					</span>							
				</div>				
			</div>
			<h3>Property Location:</h3>		
			<div class="form-group">
				<label for="location" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Location</label>
				<div class="col-xs-9">
					<input  type="text" required name="location" id="location" ng-model="enquiry.message.location" placeholder="Location"  class="form-control" autocomplete="off">
				</div>						
			</div>
			<div class="form-group">
				<label for="area" class="col-xs-12 col-sm-3 col-lg-2 control-label">Area</label>
				<div class="col-xs-9">
					<input  type="text" id="area" name="area" class="form-control" ng-model="enquiry.message.area" placeholder=" area">
				</div>						
			</div>			
			<div class="form-group">
				<label for="state" class="col-xs-12 col-sm-3 col-lg-2 control-label">City</label>
				<div class="col-xs-12 col-sm-4 col-lg-4">
					<input type="text" required name="City" id="City" ng-model="enquiry.message.city" placeholder=" City"  class="form-control" >	
					
				</div>
				
				<label for="state" class="col-xs-12 col-sm-1 col-lg-2 control-label">State</label>
				<div class="col-xs-12 col-sm-4 col-lg-4">
				<input type="text" id="state" name="state" class="form-control" ng-model="enquiry.message.state" placeholder="state">
				</div>
			</div>
			<div class="form-group">
				<label for="Country" class="col-xs-12 col-sm-3 col-lg-2 control-label">Country</label>
				<div class="col-xs-9">
					<input type="text" required name="Country" id="Country" ng-model="enquiry.message.country" placeholder=" Country" class="form-control" >
				</div>
			</div>					
			<div class="form-group">
				<label for="pincode" class="col-xs-12 col-sm-3 col-lg-2 control-label">Pin Code</label>
				<div class="col-xs-9">
					<input  type="text" id="pincode" name="pincode" class="form-control" ng-model="enquiry.message.pincode" placeholder=" Pin Code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6"  ng-minlength="6">
				</div>						
			</div>
			<h3>Property contact Detail:</h3>
			<div class="form-group">
			
				<label for="name" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Contact Person  </label>
				<div class="col-xs-9">
					<input type="text" id="name" class="form-control" name="name" ng-model="enquiry.name" required/>
					
					<span class="text-danger" ng-show="postpropertyForm.name.$dirty && postpropertyForm.name.$invalid">
						<span ng-show="postpropertyForm.name.$error.required">Person Name is required .</span>
					</span>	
				</div>						
			</div>
			
			<div class="form-group">
				<label for="phone" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Mobile  </label>
				<div class="col-xs-9">
					<input type="text"  id="phone" class="form-control help-block"  name="phone" ng-model="enquiry.message.phone" placeholder="Phone Number" maxlength="10" ng-pattern="/^[789]\d{9}$/" required />							
					<span class="text-danger" ng-show="postpropertyForm.phone.$error.pattern && (postpropertyForm.phone.$dirty)" class="text-danger">Enter a valid phone no.</span>
				</div>						
			</div>
		
			<div class="form-group">
				<label for="email" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Email ID  </label>
				<div class="col-xs-9">
					<input type="email"  id="from_email.from" class="form-control" name="from_email.from" ng-model="enquiry.from_email.from" ng-pattern=" /^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required />					
					<span class="text-danger" ng-show="postpropertyForm.email.$error.pattern && (postpropertyForm.email.$dirty)"> invalid email! </span>
					
					<span class="text-danger" ng-show="postpropertyForm.email.$error.required && (postpropertyForm.email.$dirty)">Email is required.</span>							
				</div>							
			</div>
		  
			<div class="form-group">
				<label for="address" class="col-xs-12 col-sm-3 col-lg-2 control-label">* Address </label>
				<div class="col-xs-9">
					<textarea type="text" id="address" class="form-control" name="address" ng-model="enquiry.message.cont_address" cols="30" rows="4" ng-maxlength="160"  required></textarea>
					<span class="text-danger" ng-show="postpropertyForm.contact_details.cont_address.$dirty && postpropertyForm.contact_details.cont_address.$invalid">
					  <span ng-show="postpropertyForm.contact_details.cont_address.$error.required">Address is required .</span>	 
				</div>				
			</div>
			<div class="form-group ">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-info send" ng-click="postData(enquiry)" ng-disabled="postpropertyForm.$pristine || postpropertyForm.$invalid || mailSent">Submit</button>
					<button type="reset" class="btn btn-danger send" >Cancel</button>
				</div>
			</div>
		</form>
		<div ng-if="loading" style="display: block; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.05);z-index: 10000;">
			<div style="margin: 0 auto;font-size: 26px;color: transparent;width: 128px;text-align: center;margin-top: 10%;font-family: arial, helvetica, sans-serif;background: url({{path}}/img/loader-leaf-purple.gif) no-repeat center center;height: 128px;">Loading...
			</div>
		</div>
	</div>
</div>
{% endautoescape %}