{% autoescape false %}
<div class="row products">
	<h2 class="text-center">{{title}}</h2>
	{% for key, x in products %}
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="thumbnail">
				<img src="{{x.product_image.0.file_relative_path}}" class="img-responsive" alt="{{key}}"/>
				<div class="caption">
					<h4 class="text-center">{{ x.product_service_name }}</h4>
					<div class="description">
					{{x.description|length > 150 ?x.description|slice(start, 150)~ '...' : x.description}}
					</div>
				</div>
				<div class="read">
					{% if x.type == 'service' %}
						<a href="services/{{x.product_service_name}}/{{x.id}}" class="btn btn-info">Read More..</a>
					{% endif %}
					{% if x.type == 'product' %}
						<a href="products/{{x.product_service_name}}/{{x.id}}" class="btn btn-info">Read More..</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	
		{% include [templatePath ~ '/includes/pagination.html', 'default/default/includes/pagination.html'] %}
</div>
{% endautoescape %}