{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}


{% block content %}
	{% autoescape false %}
		<div class="media row">
			<div class="media-left col-sm-3">
				<a href="#">
					{% for key, value in data.product_image %}
						<img class="img-responsive" src="{{value.file_relative_path}}">
					{% endfor %}
				</a>
			</div>
			<div class="media-body col-sm-9">
				<h2>{{ data.product_service_name }}</h2>
				<p class="media-heading">{{data.description}}</p>
			</div>
		</div> 
	{% endautoescape %}
{% endblock %}