{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
{% autoescape false %}
<div class="row">
	<h2 class="text-center">Products</h2>
	{% for x in products %}
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				{% for key, value in x.product_image%}
					<img class="img-responsive" src="{{value.file_relative_path}}" alt="{{key}}"/>
				{% endfor %}
				<div class="caption">
					<h3>{{ x.product_service_name }} </h3>
					<p>
					{{x.description|slice(start, 50)}}
					</p>
					<a href="product/{{x.id}}" class="btn btn-info">Read More..</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endautoescape %}
{% endblock %}
