{% autoescape false %}
	<h2>Our Projects</h2>
	<div class="projlist clearfix">
		<div class="row project">
			{% for key, x in projects %}
				<div class="col-xs-6 col-lg-4">
					<div class="thumbnail">
						<h4 class="text-center">{{x.title}}</h4>
						<div class="projectimg">
							<img src="{{x.project_images.0.file_relative_path}}" alt="{{x.project_images.0.file_relative_path}}" class="img-responsive center-block">
						</div>
						<div class="caption text-center">
							<p><b>{{x.overview.projectsubtitle}}</b></p>
							<hr class="cnctdtls">
							<p>- {{x.location}}</p>
							<div class="readmore">
								<a href="projects/{{x.title}}/{{x.id}}" class="btn btn-info">View Details</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% include [templatePath ~ '/includes/pagination.html', 'default/default/includes/pagination.html'] %}
		</div>
	</div>
{% endautoescape %}
<!-- <hr class="cnctdtls">
							<p>{{x.description}}</p> -->