{% autoescape false %}
<div class="row">
	<div class="col-xs-9">
		<h2>{{project.title}}</h2>
	</div>	
</div>
<div class="row project">
	{% if homeproject != 'true' %}
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<nav class="navbar">
				<ul class="nav navbar-nav">
					{% if project.overview %}
					<li {{ projectPage == 'overview' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/overview">Overview</a>
					</li>
					{% endif %}
					{% if project.amenities %}
					<li {{ projectPage == 'amenities' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/amenities">Amenities</a>
					</li>
					{% endif %}
					{% if project.locationmap %}
					<li {{ projectPage == 'locationmap' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/locationmap">Location Map</a>
					</li>
					{% endif %}
					{% if project.projecttestimonials %}
					<li {{ projectPage == 'layoutplan' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/layoutplan">Layout Plan</a>
					</li>
					{% endif %}
					{% if project.projecttestimonials %}
					<li {{ projectPage == 'floorplans' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/floorplans">Floor Plans</a>
					</li>
					{% endif %}
					{% if project.projecttestimonials %}
					<li {{ projectPage == 'projgallery' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/projgallery">Gallery</a>
					</li>
					{% endif %}
					{% if project.projecttestimonials %}
					<li {{ projectPage == 'projecttestimonials' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/projecttestimonials">Testimonials</a>
					</li>
					{% endif %}
					{% if project.projecttestimonials %}
					<li {{ projectPage == 'projcontact' ? 'class="active"' }}>
						<a href="/projects/{{project.title | replace({" ":'-'})}}/{{project.id}}/projcontact">Contact</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	{% endif %}
	{% if projectPage == 'overview' %}
	<!-- Overview -->
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<img src="{{project.project_images.0.file_relative_path}}" class="projImg img-responsive"/>
			<div class="projHead clearfix">
				<b class="highlight"><!-- Residential Township - Jaipur -->{{project.overview.projectsubtitle}}</b><br>
				<b class="highlight"><!-- Residential Township - Jaipur -->{{project.category}}</b><br>
				<span class="highlight">Project Type : </span>{{project.type}}<br>
				<span class="highlight">Project Location : </span>{{project.location}}, {{project.area}}, {{project.city}}, {{project.state}}, {{project.country}}
			</div>
			<div>
				<h3>Overview</h3>
				<div class="description">{{project.overview.description}}</div>
			</div>
		</div>
	{% endif %}
	{% if projectPage == 'amenities' and project.amenities >= 1 %}
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h3>Amenities/Features :</h3>
			<div class="description">{{project.amenities.description}}</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h3>Specifications :</h3>
			<div class="description">{{project.specifications.description}}</div>
		</div>
	{% endif %}
	{% if projectPage == 'floorplans' and project.floor_plan >= 1 %}
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h3>Floor Plans</h3>
			<div class="projectgallery">
				<div class="row">
				{% for key, value in project.floor_plan %}
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="thumbnail floor">
							<div class="projectImags">
								<a type="button" data-toggle="modal" data-target="#myModal1{{loop.index}}" style="cursor : pointer;">
									<img src="{{value.image}}" class="img-responsive center-block" alt="{{value.title}}" title="{{value.title}}">
								</a>
							</div>
							<div class="caption text-center">
								<p><b>{{value.title}}</b></p>
							</div>
						</div>
					</div>
					<div id="myModal1{{loop.index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="modal-body">
									<div class="row">
										<img class="img-responsive center-block" src="{{value.image}}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div> 
			</div>
		</div>
	{% endif %}
	{% if projectPage == 'layoutplan' and project.layout_map >= 1 %}
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h3>Layout Plan</h3>
			{% for key, value in project.layout_map %}
				<div class="thumbnail">
					<img src="{{value.image}}" class="img-responsive" alt="{{project.title}}">
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if projectPage == 'locationmap' and project.location_map >= 1 %}
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h3>Location Map</h3>
			{% for key, value in project.location_map %}
				<div class="thumbnail">
					<img src="{{value.image}}" class="img-responsive" alt="{{project.title}}">
				</div>
			{% endfor %}
		</div>
	{% endif %} 
	{% if projectPage == 'projgallery' and project.project_gallery >=1 %}
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h3>Project Gallery</h3>
			
			<div class="projectgallery">
				<div class="row">
					{% for key, value in project.project_gallery %}
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="thumbnail">
							<div class="projectImags">
								<a type="button" data-toggle="modal" data-target="#myModal{{loop.index}}" style="cursor : pointer;">
									<img class="center-block img-responsive" src="{{value.image}}" alt="{{value.title}}" title="{{value.description}}">
								</a>
							</div>
						</div>
					</div>
					<div id="myModal{{loop.index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="modal-body">
									<div class="row">
										<img class="img-responsive center-block" src="{{value.image}}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--modal end-->
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if projectPage == 'projecttestimonials' and project.projecttestimonials >=1 %}
		<div class="col-xs-12">
			<h3>Project Testimonials</h3>
			{% for key, value in project.projecttestimonials %}
				<div class="panel panel-default">
					<div class="panel-body">
						{{value.message}}<br>
						<div class="text-right">
							<strong>- {{value.name}}</strong><br>
							{{value.designation}}<br>
							{{value.email}}<br>
							{{value.address}}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if projectPage == 'projcontact' and project.project_gallery >=1 %}
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h3>Contact Details :</h3>
			<p>Contact Person : {{project.contact_details.name}}
			<p>Mobile : {{project.contact_details.phone}}
			<p>Email ID : {{project.contact_details.email}}
			<p>Address : {{project.contact_details.address}}
		</div>
	{% endif %}
</div>
{% endautoescape %}