{% autoescape false %}
	{% if data.testimonials %}
	<div class="row testimonial">
		<h2 class="text-center">Testimonials</h2>
		{% for key, value in data.testimonials if break == 0 %}
		<div class="col-sm-6">
			<blockquote>
				<div class="row">
					<div class="col-sm-1">
						<img class="quote" src="{{path}}img/quote_sign.png"/>
					</div>
					<div class="col-sm-11">
						<p>{{ value.description }}</p>
						<h4><img class="img-circle img-responsive" src="{{value.image.file_relative_path}}"><a href="#">{{key}}</a></h4>
					</div>
				</div>
			</blockquote>
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endautoescape %}
