
{% extends "index.html" %}

{% block title %}{{data.business_name}}{% endblock %}

{% block content %}
{% autoescape false %}
{% if data.testimonials %}
<div class="row mytesti">
	<h2 class="text-center">{{title}}</h2>
	<hr>
	{% for key, value in data.testimonials if break == 0 %}
	<div class="col-sm-12">
		<blockquote>
			<div class="row">
				<div class="col-sm-1">
					<img width="30px" src="{{path}}img/quote_sign.png"/>
				</div>
				<div class="col-sm-11">
					<p>{{ value.description }}</p>
					<h4><a href="#">{{key}}</a>
					<img class="img-circle img-responsive col-sm-3" src="{{value.image.file_relative_path}}"></h4>
				</div>
			</div>
		</blockquote>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endautoescape %}
{% endblock %}
