
//carousel css

	.carousel-indicators{
					display: none;
	}
	.left {
		display: none;
	}
	.right {
		display: none;
	}
		.carousel-inner>.item{
				height:440px;
				overflow:hidden;
			img{
			     min-height:440px;
				 width: 100%;
				}
		}	
	//gallery css
		
	.gallery{
			.thumbnail{
				/*height:232px;
				margin-bottom: 60px !important;*/
				.glry{
				   background-color:@colorwhite;
				   height: 225px;
				   width: 225px;
				   overflow : hidden;
				   margin : 0 auto;
					img{
						min-height :211px;
						width:100%;
						border : 2px solid transparent;
						padding : 4px;
						float:left;
						-webkit-transition-duration: 0.5s;
						&:hover{
						  -webkit-transform:scale(0.9);
						  -webkit-box-shadow:0px 0px 60px @darkcolor;
								
						}
					}
				}
			}
		}
//testimonials

		.testimonial, .featrtesti{
			blockquote{
				font-size : inherit;
				border-left: none;
				footer{
					background:none;
					padding : 0px;
					img{
					width:100%
					}
					cite{
						font-size : 17px;
						color :@text;
					}
				}
				&::before{
					content : '\201c';
					position : absolute;
					display : inline-block;
					top : 5px;
					left : 0;
					line-height : 40px;
					
					font-size : 55px;
				}
				.description{
						p{
							color:@text;
						}
					.caption{
						p{
							color:@text;
						}
					}
				}
			}
		}
		
//job & careeres
.jobs{
	.panel-default{
		background-color:@link_color;
			
		.description{
			p{
				color:@colorwhite;
			}
		}
	}
}
//activities css

//products less
.products{
	.prodimg{
		.caption{
			position:absolute;
			display:none;
			z-index:999;
			overflow: hidden;
			height: 90px;
			padding: 5px;
			color:@darkbackcolor;
			
		}
		img{
				position:relative;
				z-index:998;
		}
		.readmore {
			position:absolute;
			z-index:999;
			text-align: center;
			margin-top: 100px;
			margin-left: 70px;
			display:none;
					a{
					background-color:@link_color;
					border-color:@link_color;
						}
			}
		
			}

		.prodimg:hover{
					
			.caption,.readmore{
					display:block;
					
			}
		}
		
	}

//contact us
.enquiry{
	.panel-default{
		background-color: @link_color;
	}
}
			