
//carousel css

	.carousel-indicators{
					display: none;
	}
	.left {
		display: none;
	}
	.right {
		display: none;
	}
		.carousel-inner>.item{
				height:440px;
				overflow:hidden;
			img{
			     min-height:440px;
				 width: 100%;
				}
		}	
	//gallery css
.gallery{
			.thumbnail{
					
					img{
						width: 100%;
						border: 2px dotted @light_color;
						padding: 10px;
					}
				.caption .description{
						overflow: hidden;
						height: 160px;
						display:none;
				}
			}
		}
//testimonials

		.testimonial, .featrtesti{
			blockquote{
				font-size : inherit;
				border-left: none;
				footer{
					background:none;
					padding : 0px;
					cite{
						font-size : 17px;
						color :@light_color;
					}
				}
				&::before{
					content : '\201c';
					position : absolute;
					display : inline-block;
					top : 5px;
					left : 0;
					line-height : 40px;
					
					font-size : 55px;
				}
				.description{
						p{
							color:@light_color;
						}
					.caption{
						p{
							color:@light_color;
						}
					}
				}
			}
		}
		
//job & careeres
.jobs{
	.panel-default{
		background-color:@colorblack;
			h3{
				color:@lightbackcolor;
			}
		.description{
			p{
				color:@colorwhite;
			}
		}
	}
}
			