//featured services bx-slider
.featured_services{
	background-color:@light_color;
	h3{
		text-align:center;
	}
	.bxslider{
		.servimg{
			height: 175px;
			overflow: hidden;
			padding: 6px;
			img{
				min-height:175px;
				border-radius:5px;
			}
			.readmore{
				a{
				text-decoration:underline;
				color:@link_color;
				}
			}
		}
		.servdesc {
			.description{
				p{
					display:none;
				}
			}
		}
	}
}
//featured prduct
.featured_product{
	.product_div{
		.caption{
			height: 65px;
			overflow: hidden;
		}
	}
}


