<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 class="col-sm-offset-2 col-sm-9 text-center" ng-if="!modalOptions.contactData.id"> Add New Contact</h3>
		<h3 class="col-sm-offset-2 col-sm-9 text-center" ng-if="modalOptions.contactData.id"> Update Contact</h3>
		<form class="form-horizontal" name="addcontactForm" role="form" ng-submit="addcontactForm.$valid" novalidate="novalidate">
		
	<div class="form-group" ng-if="userDetails.group_name != 'customer'" ng-init="modalOptions.contact = modalOptions.contact;contact.user_id = userDetails.id;modalOptions.getParty(modalOptions)">
		<label for="customer" class="col-sm-2 control-label">Customer *</label>
		<div class="col-sm-9">
				<select class="form-control" name="customer" id="customer" ng-model="modalOptions.contact.user_id" ng-options="item.id as item.name for item in    modalOptions.customerList| filter: { group_name : 'customer'}" required>
					<option value="">Select Customer</option>
				</select>
			<span class="help-block" ng-show="addcontactForm.customer.$dirty && addcontactForm.customer.$invalid">
				<span ng-show="addcontactForm.customer.$error.required" class="text-danger">Customer is required.</span>
			</span>	
		</div>
	</div>
	
	<input type="hidden" ng-model="modalOptions.contact.user_id" ng-init="modalOptions.contact.user_id = modalOptions.contact.user_id" /> 
	
	<input type="hidden" class="form-control " placeholder="YYYY-DD-MM" id="date" name="date" ng-model="modalOptions.contact.date" ng-init="modalOptions.contact.date = modalOptions.date" required readonly /> 
	
	
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name *</label>
			<div class="col-sm-9">
				<input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-init="modalOptions.contact.name = modalOptions.contact.name" ng-model="modalOptions.contact.name" required />
				<span class="help-block" ng-show="addcontactForm.name.$dirty && addcontactForm.name.$invalid">
					<span class="text-danger" ng-show="addcontactForm.name.$error.required">Name is required.</span>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="category" class="col-sm-2 control-label">Category *</label>
			<div class="col-sm-9">
				<input type="text" id="category" class="form-control" name="category" placeholder="category" ng-model="modalOptions.contact.category" required />
				<span class="help-block" ng-show="addcontactForm.category.$dirty && addcontactForm.category.$invalid">
					<span class="text-danger" ng-show="addcontactForm.category.$error.required">category is required.</span>
				</span>
			</div>
		</div>
			
		<div class="form-group">	
			<label  for="email" class="col-sm-2 control-label">Email *</label>
			<div class="col-sm-9">
				<input type="Email" class="form-control" id="email" ng-model="modalOptions.contact.email" name="email" placeholder="Enter Email" required />
				
				<span class="help-block" ng-show="addcontactForm.email.$dirty && addcontactForm.email.$invalid">
					<span class="text-danger" ng-show="addcontactForm.email.$error.required">Email is required.</span>
					<span class="text-danger" ng-show="addcontactForm.email.$error.email">Invalid Email address.</span>
				</span>
			</div>
		</div> 
		
		<div class="form-group">
			<label for="address" class="col-sm-2 control-label">Address *</label>
			<div class="col-sm-9">
				<textarea class="form-control" id="address" ng-model="modalOptions.contact.address" name="address" placeholder="Enter address" ng-maxlength="160" required></textarea>
				<p ng-hide="addcontactForm.address.$error.maxlength">{{ 160 - modalOptions.contact.address.length + " Characters left"}}</p>
				<span class="help-block" ng-show="addcontactForm.address.$dirty &&  addcontactForm.address.$invalid">
					<span class="text-danger" ng-show="addcontactForm.address.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="addcontactForm.address.$error.required">Address is required.</span>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="mobile" class="col-sm-2 control-label">Mobile *</label>
			<div class="col-sm-9">
				<input type="text" id="mobile" name="mobile" class="form-control" ng-model="modalOptions.contact.mobile" placeholder="Enter your mobile Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" required />
				<span class="help-block" ng-show="addcontactForm.mobile.$dirty && addcontactForm.mobile.$invalid">
					<span ng-show="addcontactForm.mobile.$error.required" class="text-danger">Mobile Number is required.</span>
					<span class="text-danger" ng-show="addcontactForm.mobile.$error.pattern && (addcontactForm.mobile.$dirty)">Enter a valid Contact Number</span>
				</span>
			</div>						
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-success" ng-if="!modalOptions.contactData.id" ng-click="modalOptions.postData(modalOptions.contact);modalOptions.close()">Add Contact</button>
				
				<button type="submit" class="btn btn-success" ng-if="modalOptions.contactData.id" ng-click="modalOptions.updateData(modalOptions.contact.id,modalOptions.contact);modalOptions.close()">Update Contact</button>
				
				<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
			</div>
		</div>						
		</form>			
	</div>
</div>
