<h1>Award Details</h1>
{{campus.awarddetails}}
{{awarddetail}}
<div>
<form class="form-horizontal" name="awardForm" role="form" ng-submit="awardForm.$valid" novalidate="novalidate">
	<div class="form-group">
		<label for="aname" class="col-sm-2 control-label">Name *</label>
			<div class="col-sm-9">
				<input type="text" id="aname" class="form-control" name="aname" placeholder=" Enter Name" ng-pattern="/^[a-zA-Z/ ]*$ /" ng-model="campus.aname"required>
					<span class="help-block" ng-show="awardForm.aname.$dirty && awardForm.aname.$invalid">
						<span class="text-danger"  ng-show="awardForm.aname.$error.pattern">Text is required.</span>
					<span class="text-danger" ng-show="awardForm.aname.$error.required">Required Field.</span>
				</span>
			</div>
	</div>
	
		 <div class="form-group">
			<label for="date" class="col-sm-2 control-label">Date *</label>
				<div class="col-sm-9">
					<input type="text" class="form-control " placeholder="DD-MM-YYYY" id="date" name="date" ng-model="awarddetail.date"
					datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-click="opened = !opened"/>
				</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Description *</label>
						<div class="col-sm-9">
							<textarea  class="form-control" id="description" ng-model="awarddetail.description" name="description" placeholder="Enter description" ng-maxlength="75" required></textarea>
							<p ng-hide="awardForm.description.$error.maxlength">{{ 256 - awarddetail.description.length + " Characters left"}}</p>
							<span class="help-block" ng-show="awardForm.description.$dirty &&  awardForm.description.$invalid">
								<span class="text-danger" ng-show="awardForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span class="text-danger" ng-show="awardForm.description.$error.required">Description is required.</span>
							</span>
						</div>
		</div>
<div class="col-sm-offset-2"><a ng-click="addToObject(campus.awarddetails,'awarddetail',awarddetail)" class="btn btn-default btn-primary">+Add</a></div>
</form>
<div class="row">
	<div class="col-sm-9 col-sm-offset-2">	
		<div class="table-responsive">
			<table class="table table-bordered" >
			<thead>
				<tr>
					<th>Sr.No.</th>
					<th>Name</th>
					<th>Year</th>
					<th>Description</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="x in campus.awarddetails">
					<td>{{$index + 1}}</td>
					<td>{{x.aname}}</td>
					<td>{{x.date}}</td>
					<td>{{x.description}}</td>
					<td><a ng-click="removeObject(campus.awarddetails, $index);"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr> 
			</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-sm-offset-2"><a ng-click="showFormPart('certificates')" class="btn btn-default btn-primary">NEXT</a></div>
</div>
	
	