<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
	<div><h3>Campus</h3></div>
		<div class="row">
			<ul class="nav nav-tabs">
					<li role="presentation">
						<a ng-click="showFormPart('campusdetails')">Campus Details</a>
					</li>
					<li role="presentation" ng-class="{active: formPart=='awarddetails'}">
						<a ng-click="showFormPart('awarddetails')">Award Details</a>
					</li>
					<li role="presentation" ng-class="{active: formPart=='certificates'}">
						<a ng-click="showFormPart('certificates')">Certificates Details</a>
					</li>
			</ul>
		<div class="col-sm-12">
			<form class="form-horizontal" name="CampusForm" role="form" ng-submit="CampusForm.$valid" novalidate="novalidate">
			{{campus}}
				<ng-include ng-show=" formPart=='campusdetails'" src="'modules/campus/campus/campusdetails.html'"></ng-include> 
				<ng-include  ng-show=" formPart=='awarddetails'" src="'modules/campus/campus/awarddetails.html'"></ng-include>
				<ng-include  ng-show=" formPart=='certificates'" src="'modules/campus/campus/certificates.html'"></ng-include>
			</form>	
		</div>		
		</div>
</div>