<h1>Certificates</h1>
{{campus.certificates}}
{{certificate}}
<div>
<form class="form-horizontal" name="certificateForm" role="form" ng-submit="certificateForm.$valid" novalidate="novalidate">
<div class="form-group">
	<label for="bname" class="col-sm-2 control-label">Name *</label>
		<div class="col-sm-9">
			<input type="text" id="bname" class="form-control" name="bname" placeholder=" Enter Name" ng-pattern="/^[a-zA-Z/ ]*$ /" ng-model="campus.bname"required>
					<span class="help-block" ng-show="certificateForm.bname.$dirty && certificateForm.bname.$invalid">
						<span class="text-danger"  ng-show="certificateForm.bname.$error.pattern">Text is required.</span>
					<span class="text-danger" ng-show="certificateForm.bname.$error.required">Required Field.</span>
				</span>
		</div>
</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Description *</label>
			<div class="col-sm-9">
				<textarea  class="form-control" id="description" ng-model="certificate.description" name="description" placeholder="Enter description" maxlength="256" required></textarea>
				<p ng-hide="certificateForm.description.$error.maxlength">{{ 256 - certificate.description.length + " Characters left"}}</p>
					<span class="help-block" ng-show="certificateForm.description.$dirty &&  certificateForm.description.$invalid">
						<span class="text-danger" ng-show="certificateForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="certificateForm.description.$error.required">Description is required.</span>
					</span>
			</div>
	</div>
	
		<div class="form-group">
			<label for="certificate" class="col-sm-2 control-label">Upload Attachment *</label>
				<div class="col-sm-4">
					<input type="file" id="certificate" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change= "uploads(certificates, certificate.user_id + path,userInfo,'certificates')" ng-model="certificates">
					<input type="hidden" ng-model="certificate.certificates">
				</div>
		</div>
	
			<div class="form-group">						 
				<div class="col-sm-4 col-sm-offset-2">
					<span class="thumbs" ng-if="certificate.certificates">
						<img class="img-thumbnail" ng-src="{{certificate.certificates.file_relative_path}}" ng-click="certificate.imgkey = key; "/>
					</span>
				</div>
			</div>	
		
	
<div class="col-sm-offset-2"><a ng-click="addToObject(campus.certificates,'certificate',certificate)" class="btn btn-default btn-primary">+Add</a></div>
</form>
	<div class="row">
		<div class="col-sm-9 col-sm-offset-2">	
			<div class="table-responsive">
				<table class="table table-bordered" >
					<thead>
						<tr >
							<th>Sr.No.</th>
							<th>Name</th>
							<th>Description</th>
							<th>Upload Attachment</th>
							<th>Remove</th>
						</tr>
					</thead>
						<tbody>
							<tr ng-repeat="x in campus.certificates">
								<td>{{$index + 1}}</td>
								<td>{{x.name}}</td>
								<td>{{x.description}}</td>
								<td>{{x.certificates}}</td>
								<td><a ng-click="removeObject(campus.certificates, $index);"><span class="glyphicon glyphicon-remove"></span></a></td>
								
							</tr>
						</tbody>
				</table>
			</div>
		</div>
    </div>
<div class="col-sm-offset-2"><a ng-click="showFormPart('distributions')" class="btn btn-default btn-primary">NEXT</a></div>
</div>