.carousel{
		margin-top:10px;
		border:10px solid @color;
		border-radius:10px;
		img{
				width:100%;
			}
		.carousel-indicators{
		float:left;
		}
		.carousel-caption {
			right: -35%;
			left: 22%;
			padding-bottom: 30px;
			top: 10%;
		}
		.carousel-indicators {
			position: absolute;
			bottom: 10px;
			left: 20%;
			z-index: 15;
			width: 60%;
			padding-left: 0;
			margin-left: -30%;
			text-align: center;
			list-style: none;
		}
		.carousel-indicators li {
			border: 1px solid @colorwhite;
			width:16px;
			height:16px;
			background-color:@colorwhite;
		}
				.carousel-indicators .active {
				width: 16px;
				height: 16px;
				margin: 0;
				background-color: @color;
				border:1px solid @color;
			}
		p{
			color:@colorwhite;
		}
		.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -15px;
    display: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -15px;
    display: none;
}
	}
.box{
box-shadow: 0 0 12px #ccc;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: solid 1px #ccc\9;
	padding:15px;
	margin-top:25px;
	}
	.box:hover {
    box-shadow: 0 0 25px @color;
    color: @colorblack;
}