  body{
		font-family: arial, sans-serif;
		font-size: 14px;
		line-height: 1.5;
		color: #7F8C8C;			
	}	
	
	body h3{
		text-transform:uppercase;		
	}
	
	header{
		background-color:#F26522;
		margin-top:20px;
	}
	
	.navbar-default {
		margin-top: 20px;
		background: none;
		border: none;	
		
	}	
	
	.navbar-default .navbar-nav > li > a {
		color: #fff;
	}
	
	.navbar-nav > li {
		padding: 0px 15px;
		border-radius: 10px;
		
		margin: 0px 5px;
	}
	
	.navbar-nav > li:hover{
		background-color: rgba(237, 59, 59, 0.89);
	}
	
	
	 ul li:hover ul{
        display: block; /* display the dropdown */				
		background-color:#000;
		
	}
	.dropdown-menu{
		padding:10px 15px;		
		border-radius: 5px;
		top: 65px;
	}
	
	ul li:hover ul >li> a{
			color:#fff;
	}
	.section2{
		height:100px;
	}
	
	.sec2Images {		
		margin-top: 10px;		
	}
	.sec2Images img{
		height: 50px;
		padding:0px 10px;
	}
	
	.sec2Images{
		margin-right: 100px;
	}
	.section2 img{
		padding-top: 30px;
	}
	
	
	
	/*sec4*/
	.section4{
		margin-top:50px;
	}
	.section4  img{
		height:220px;
		width:290px;
	}
	.section4 a{
		margin-top: 25px;
	}
	
	.section4 h3{
		padding-bottom:20px;
	}
	
	.imgSec1, .imgSec3, .imgSec3, .imgSec4{
		height:220px;
		width:290px;
	}	
	
	.imgSec3{
		margin-left: -29px;	
		margin-right: 14px;
	} 
	
	.imgSec4{
		margin-left: -25px;
	}
	
	.imgFormat{
		background-color: #ECBF57;
		margin-right: -13px;
	}
	
	.slideFormat{
		background-color: #68CAAF;
	}
		
	.galleryFormat{
		background-color: #89C47D;
		margin-left: 15px;		
	}
	.videoFormat{
		background-color: #FF856C;		
	}
	
	.slideFormat, .videoFormat, .imgFormat, .galleryFormat{
		height:220px;
		width: 290px;
		padding: 0px 35px;
	}
	
	
	/*sec5*/
	.section5{
		margin-top:100px;
		margin-bottom:100px;		
		padding-bottom:20px;
	}
	.section5 h4 a{
		color: #7DC489;
	}
	.section5 h4, h2{
		text-transform:uppercase;
	}
	
	.black{
		background-color:#000;
		color:#fff;
		margin-top:20px;
	}
	.black:hover{
		background-color:#FF856C;;
	}	
	
	.btn-success{
		margin-top:20px;
	}
	.btn-success:hover{
		background-color:#000;
		color:#fff;
	}
	.section5 .march{
		margin-bottom:15px;
	}
	
	.para{
		margin: 0px 0px 10px;
		padding-top: 30px;
	}
	
	/*sec6*/
	.section6{
		
		padding:50px 0px;
		margin-bottom:30px;
		background: url(../img/4.jpg);
	}
	
	.section6 h1{
		padding: 120px 0px;
		text-transform:uppercase;
		color:#fff;
	}
	
	.vertical-line{
		    
		  height: 335px;
		  float: left; 
		  border: 2px inset; /* This is default border style for <hr> tag */
	}
	
	figure{			
		padding-bottom:25px;
		color:#fff;
		
	}
	
	figure img {
		margin-bottom:25px;
		width: 170px;
		margin-left: 30px; 
	}
	figure a{
		margin-top: 20px;
		margin-left:70px;
	}
	figcaption{
		padding: 0px 5px;
	}
	/*sec7*/
	.section7{
		margin-bottom:70px;		
	}
	.section7 ol{
		margin-bottom: -55px;
	}
	.section7 li {
		background-color: gray;
		height: 20px;
		width: 20px;
	}
	.section7 .carousel-indicators .active {
		width: 20px;
		height: 20px;
		background-color: gray;
	}
	.section7 .carousel {
		height: 275px;
	}
	
	.section7 .carousel .item {
		height: 275px;
		padding-top: 25px;
	}
	
	.carousel_inner img:first-child{
		margin-left: 15px;
	}
	
	/* .section7 .carousel_inner > .item >.image{
	 background: url(../img/food1.jpg);
	 height: 220px;
		width: 275px;padding: 0px 15px;
	} */
	
	 .section7 .carousel_inner > .item > img {
		height: 220px;
		width: 275px;
		padding: 0px 15px;
		min-width:none;
	} 
	
	.section8{
		background-color:#000;		
	}
	.section8 .navbar-nav > li:hover{
		background:none;
	}
	
	.section8 .navbar-nav > li {
		padding: 0px 15px;
		
	}
	
	.section8 .navbar-nav > li > a:hover{
		color:red;		
	}	
	.section8 .navbar-nav > li > a{
		font-weight: bolder;
	}
	.section8 .col-sm-4{
		margin-top:35px;
	}
	
	.section8 .col-sm-4 a {
		color:#fff;
		font-weight: bolder;		
	}	
	
	address{		
		color:#fff;		
	}
	address span{
		padding-top:10px;
		color:#fff;
	}
	
	.glyphicon-envelope{
		font-size: 30px;
		padding-right:20px;
	}
	.address{
		background-color:#000;
		height: 55px;	
		opacity: 0.5;		
	}
	
	footer{
		 background: url(../img/saket-map-big.jpg);
		height:350px;
	}
	
	