//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		width:100px;
		.projimg{
			height:150px;
			overflow:hidden;
		}
		img{
			max-height: 140px;
			width : 100%;
			padding : 4px;
			border : 3px solid transparent;
			&:hover{ 
			}
		}
		.readmore{
			margin-bottom :10px;
			margin-top:10px;
			a{
				h4
				{ 
					font: 2em/1.2em Amaranth-Regular;
					font-size:16px;
					font-weight:bold;
					/*font: 16px 'Alex Brush', cursive;*/
					color : @colorwhite;
					padding : 5px 15px;
					text-decoration:none;
					//border-color : @colorblack;
				}
				
			}
		}
		
	}
}

#carousel {
		//background-color: @lightbackcolor;
		.carousel-inner {
			.item{
				max-height: 298px;
				overflow: hidden;
				height:200px;
				>img{
					width :100%;
					min-height : 200px;
				}
				&:hover{
				}
			}
			
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
	
.homeproject {
	margin-top : 20px;
	position : relative;
	.bx-wrapper{
		box-shadow : 0px 0px 10px 0px @back;
		border-radius : 4px;
	}
	.bx-viewport{
		min-height : 313px !important;
		.carousslider{
			padding-left: 0px;
			li{
				padding : 4px;
				min-height : 300px;
				min-width : 100% !important;
				img{
					width : 100%;
					min-height : 305px;
				}
				&.item{
					overflow : hidden;
					height : 305px;
				}
			}
		}
		img{
			height:400px;
			min-width : 100%;
		}
	}
	/*margin-bottom:10px;*/
	.projectnav {
		box-shadow : 0px 0px 10px 0px @back;
		border : 5px solid @colorwhite;
		border-radius : 4px;
		height:312px;
		.nav-stacked{
			>li{
				>a {
					position: relative;
					display: block;
					border: 1px solid @back;
					margin : 8px 5px;
					font:16px GandhiSans-Bold;
					font-weight:bold;
				}
				&:hover{
					text-decoration : none; 
					a{
						color : @colorwhite;
						text-decoration : none;
						background-color : @darkbackcolor;
					}
				}
			}
		}
	}
	
	.projsnap{
		box-shadow : 0px 0px 10px 0px @back;
		border : 5px solid @colorwhite;
		text-align : center;
		border-radius : 4px;
		height : 312px;
		img{
			max-height : 110px;
			margin-top: 10px;
			margin-bottom: 10px;
			border : 1px solid @lightbackcolor;
			border-radius : 5px;
			padding :4px;
		}
		.viewproperty{
			margin-top : 25px;
			a{
				color : @back;
				margin-top : 10px;
				&:hover{
					color : @back;
					text-decoration : underline;
				}
			}
		}
		p{
			margin: 5px;
			padding: 4px;
			border : 1px solid @back;
			color : @back;
		}
	}
	
	#carousel { 
		height:312px;
		margin-top : 5px;
		background-color: @lightbackcolor;
		.carousel-inner {
			.item{
				min-height: 303px;
				overflow: hidden;
				>img{
					width :100%;
					min-height : 312px;
				}
				&:hover{
				}
			}
			
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}
	.homeproject::after{
		position : absolute;
		content : "";
		background-image : url('../img/home.png');
		background-size: 100% 100%;
		left :200px;
		top : 120px;
		z-index: 999;
		height : 197px;
		width : 120px;
	}
//css for single project & project list
	.projlist{
		.panel-default{
			background-color:@back;
			img{
				border:2px solid @lightbackcolor;
			}
			img:hover{
				border:4px solid @color; 
			}
		}
		
		.project{
			.thumbnail{
				height:400px;
				.btn-info
				{
					background-color:@back;
				}
				img{  
					max-height : 183px;
					overflow: hidden;
					border: 0 solid #333239;
					text-align: center;
					transition: all 0.2s ease;
					&:hover{
						transition: all 0.2s ease;
					}
				}
				
				.caption {
					height : 190px;
					p{
						color:@colorblack;
					}
				}
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			
		}
		
	}
		
		
	.project{
		.navbar{
			background-color: @darkbackcolor;
			border: 1px solid @darkbackcolor;
			border-radius: 0;
			margin-bottom:10px;
			width:auto;
		}
		ul.nav.navbar-nav {
			color:@colorwhite;
			background-color: @darkbackcolor;
			>li{
				border-right : 1px solid @lightbackcolor;
				height : 38px;
				>a, > a:focus{
					padding : 9px 11px;
					color : @colorwhite;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					background-color: @colorwhite ;
					color : @darkbackcolor;
					text-align:center;
				}
			}
		}
		.projectgallery{ 
			/*background-color : @back;*/
			border : 1px solid @back;
			padding: 20px 20px 0px;
			.thumbnail{
				.projectImags{
					width: 190px;
					height: 150px;
					overflow: hidden;
					margin : 0 auto;
					img{
						min-height : 150px;
					}
				}
				.caption{
					height : 150px;
				}
			}
		}
		.panel-default{
			border-color : @back;
		}
	}
	@media (max-width: 768px){
		.homeproject::after{
			display : none;
			width : 0px;
		}
		.projectnav, .projsnap, .bx-wrapper{
			margin-bottom : 10px !important;
		}
	}
	@media (max-width: 320px){
		.projImg{
			float :none;
			margin:auto;
		}
		.projHead{
			text-align: center;
			margin-top: 15px;
		}
		.homeproject{
			.projectnav{
				margin-top : 10px;
			}
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}
	