//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		width:100px;
		.projimg{
			height:150px;
			overflow:hidden;
		}
		img{
			max-height: 140px;
			width : 100%;
			padding : 4px;
			border : 3px solid transparent;
			&:hover{ 
			}
		}
		.readmore{
			margin-bottom :10px;
			margin-top:10px;
			a{
				background:none;
				&:hover{
					text-decoration:none;
					}
				h4
				{ 
					font: 2em/1.2em Amaranth-Regular;
					font-size:16px;
					font-weight:bold;
					/*font: 16px 'Alex Brush', cursive;*/
					color : @darkbackcolor;
					padding : 5px 15px;
					text-decoration:none;
					//border-color : @colorblack;
					
				}
				
			}
		}
		
	}
}

#carousel {
		//background-color: @lightbackcolor;
		.carousel-inner {
			.item{
				max-height: 298px;
				overflow: hidden;
				height:200px;
				>img{
					width :100%;
					min-height : 200px;
				}
				&:hover{
				}
			}
			
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
	
.homeproject {
	margin-bottom:20px;
	position : relative;
	.projectCarousal{
		position : relative;
		border : 5px solid @colorwhite;
		z-index : 999;
		width : 500px;
		margin : 0 auto;
		top:14px;
		float : none;
		box-shadow: 0 0 15px;
		.carousslider{
			padding-left: 0px;
			li{
				border: 3px solid #f9f4da;
				img{
					width : 100%;
					min-height : 395px;
				}
				&.item{
					overflow : hidden;
					height : 395px;
				}
			}
		}
	}
	
	.projectCarousal::after{
		position : absolute;
		content : "";
		background-image : url('../img/home.png');
		background-size: 100% 100%;
		right :200px;
		bottom : -2px;
		z-index: 999;
		height : 290px;
		width : 120px;
	}
	.projectnav, .projsnap {
		position: absolute;
		//background-color: rgba(0, 125, 0, 0.58);
		height: 380px;
		width: 300px;
		top: 28px;
		border-radius: 50%;
		z-index:9;
		box-sizing: border-box;
		border: 5px solid #ffffff;
		p{
			color:@colorwhite;
		}
	}
	.projectnav{
		//background: linear-gradient(to left,@lightbackcolor, @colorwhite);
		border:6px solid @colorwhite;
		background-color:@darkbackcolor;
		padding: 5px;
		right: 0;
		margin: 10px;
		border-radius: 50% 0 0 50%;
		.nav-stacked{
			>li{
				+li {
					margin-top: 10px;
				}
				>a, > a:focus{
					color : @colorwhite;
					padding: 15px 85px;
					font: bold 13px/1.5em Arial, Helvetica, sans-serif;
					text-transform : uppercase;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					text-decoration : none;
						background: linear-gradient(@color, @darkcolor);
					color : @colorwhite;
					transform: translateX(53px);
					width: 340px;
					    border: 2px solid #196619;
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						padding-right: 50px;
						text-align: right;
					border:1px solid @darkbackcolor;
				}
			}
		}
	}
	.projsnap{
	//background: linear-gradient(to left,@lightbackcolor, @colorwhite);
	background-color:@darkbackcolor;
	border:6px solid @colorwhite;
	border-radius:   0% 50% 50% 0% ;
		p{
			padding:14px;
			margin:10px;
			&:last-child{
				border:none;
			}
		}
		
		left : 0;
		padding-top: 12px !important;
		padding-right: 10px !important;
	
		text-align : center;
		img{
			height : 110px;
			margin-top: 10px;
			margin-bottom: 10px;
			border : 2px solid @lightcolor;
			border-radius : 5px;
			padding :4px;
		}
		.viewproperty{
			a{
				color : @colorwhite;
				text-decoration : underline;
				&:hover{
					color : @colorwhite;
					text-decoration : none;
				}
			}
		}
	}
	#carousel {
		.carousel-inner {
			.item{
				height: 500px;
				overflow: hidden;
				>img{
					width : auto;
					min-height : 500px;
					border-radius : 50%;
				}
			}
		}
		a.left.carousel-control{
			left : 40px;
		}
		a.right.carousel-control {
			right : 40px;
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}

//css for single project & project list
	.projlist{
		.panel-default{
			background-color:@back;
			img{
				border:2px solid @lightbackcolor;
			}
			img:hover{
				border:4px solid @color; 
			}
		}
		
		.project{
			.thumbnail{
				height:400px;
				.btn-info
				{
					background-color:@back;
				}
				img{  
					max-height : 183px;
					overflow: hidden;
					border: 0 solid #333239;
					text-align: center;
					transition: all 0.2s ease;
					&:hover{
						transition: all 0.2s ease;
					}
				}
				
				.caption {
					height : 190px;
					p{
						color:@colorblack;
					}
				}
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			
		}
		
	}
		
		
	.project{
		.navbar{
			background-color: @darkbackcolor;
			border: 1px solid @darkbackcolor;
			border-radius: 0;
			margin-bottom:10px;
			width:auto;
		}
		ul.nav.navbar-nav {
			color:@colorwhite;
			background-color: @darkbackcolor;
			>li{
				border-right : 1px solid @lightbackcolor;
				height : 38px;
				>a, > a:focus{
					padding : 9px 11px;
					color : @colorwhite;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					background: linear-gradient(@color, @darkcolor);
					color : @colorwhite;
					text-align:center;
				}
			}
		}
		.projectgallery{ 
			/*background-color : @back;*/
			border : 1px solid @back;
			padding: 20px 20px 0px;
			.thumbnail{
				.projectImags{
					width: 190px;
					height: 150px;
					overflow: hidden;
					margin : 0 auto;
					img{
						min-height : 150px;
					}
				}
				.caption{
					height : 150px;
				}
			}
		}
		.panel-default{
			border-color : @back;
		}
	}
	@media (max-width: 768px){
		.homeproject::after{
			display : none;
			width : 0px;
		}
		.projectnav, .projsnap, .bx-wrapper{
			margin-bottom : 10px !important;
		}
	}
	@media (max-width: 320px){
		.projImg{
			float :none;
			margin:auto;
		}
		.projHead{
			text-align: center;
			margin-top: 15px;
		}
		.homeproject{
			.projectnav{
				margin-top : 10px;
			}
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}
	