	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@font-face{
		font-family:'GandhiSans-Bold';
		src:url('../fonts/GandhiSans-Bold.otf');
	}
	
	@font-face{
		font-family:'Kirsty';
		src:url('../fonts/Kirsty.ttf');
	}
	
	@color:#006;
	@darkcolor : #C00;
	@lightcolor:#e4e6e7;
	
	
	@lightbackcolor:#d2ffb7;
	@back: #060; 
	@darkbackcolor:#0c4204;
	
	@colorblack : #02071A;
	@colorwhite	: #fff;
	
	
	@import "property.less";
	@import "project.less";
	@import "product.less"; 
	@import "service.less";
	@import "general.less";
	
	body{
		background-color :@lightbackcolor;
		color:@color;
		/*background-image:-webkit-linear-gradient(@lightbackcolor 50%);*/
		/*background-image:-moz-linear-gradient(@lightbackcolor 50%);*/
		/*background-image:linear-gradient(@lightbackcolor 50%);*/
	}
	.container{
		max-width:992px !important;
	}
	*{
		transition:300ms;
	}
	
	.sociallinks{
		top: 50%;
		position: fixed;
		z-index : 999;
		width : 5px;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				background-color: @darkbackcolor;
				margin: 5px;
				border-top-right-radius: 30px;border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color:@colorwhite;
					&:hover{
						color:@colorwhite;
						text-decoration : underline;
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	header
	{
		background-color : @back;
	}
	.content
	{
		background-color :@colorwhite;
	}
	
	*, hr{
		border-color : @back;
	}
	
	.logo {
		height: 80px;
		margin-top: 5px;
		max-width: 100%;
	}
	
	.btn-info, .btn-info[disabled],.btn-primary,.readmore a,.readmore a h4,.btn-info:focus{
		background-color: @back;
	}
	.btn-info:hover, .btn-info[disabled]:hover,.readmore a:hover, .readmore a h4:hover,.btn-primary:hover{
		background-color: @darkbackcolor;
	}
	
	a
	{
		color:@back;
	}
	
	.btn
	{
		border-radius : 0px;
	}
	.btn.send{
		margin-right : 8px;
	}
	.btn + .btn {
		margin-left : 10px;
	}
	.btn-info,.btn-primary{
		font-family: Amaranth-Regular;
	}
	.btn-info{
		&,&:hover, &:focus, &:active,.open>.dropdown-toggle.btn-info{
			border : none;
			color :@colorwhite;
			font-weight: bold;
		}
	}
	.cnctinfo{
		color:@color;
		font-weight : bold;
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	.navbar
	{
		border:none;
		min-height : 50px;
        height:40px;
	}
	
	.navbar-default {
		background-image: linear-gradient(@darkbackcolor,@back);
		margin-bottom :0px;
		border-radius: 0;
		.navbar-nav{
			> li{
				
				text-transform:uppercase;
				position : relative;
				
				> a, > a:focus {
					color :@colorwhite;
					padding : 10px 25px;
					border-right: 1px solid white;
					font:bold 14px/1.5em Arial, Helvetica, sans-serif;
					position: relative;
				}
				&.active>a, &.active:hover > a, &.active:hover > a:hover, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background-color :@colorwhite;
					color: @darkbackcolor;
				}
				> ul {
					transition: all 300ms ease-in;
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @darkbackcolor;
					padding: 15px;
					list-style: none;
					text-align: left;
					top : 40px;
					border-top-left-radius: 0px;
					transition : all 500ms ease-in-out;
					>li{
						border-bottom: 1px solid @lightbackcolor;
						padding: 7px;
						>a{
							color:@colorwhite;
							&:hover{
								text-decoration: underline;
								-webkit-transition: all 0.4s;
							}
						}
						&:hover{
							background-color : @colorwhite;
							a{
								color : @back;
							}
						}
						&:focus{
							background-color:@colorwhite;
							color:@darkbackcolor;
						}
						ul{
							list-style: none;
							li{
								font-size:10px;
								a{
									text-transform : lowercase;
									font-size: 17px;
									color: #fff;
								}
							}
						
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	
	.subhead {
		font: 2em/1.2em Amaranth-Regular;
		font-size:18px;
		font-weight:bold;
		border:1px solid @darkbackcolor;
		/*box-shadow:2px 2px 2px @lightcolor;*/
		text-align: center;
		background-color :none;
		/*background: -webkit-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
		/*background: -moz-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
		/*background: linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
		border-radius: 7px;
		padding: 4px 10px;
		position: relative;
		color: @back;
	}
	
	h1{
		color: @back;
		font: 2em/1.2em Amaranth-Regular;
		letter-spacing: 1px;
		border-bottom: 1px solid #ccc;
	}
	
	h2,h3,h5{
		color : @darkbackcolor;
	}
	h3
	{
		color : @darkbackcolor;
		font: 1.5em/1.0em Amaranth-Regular;
	}
	h2,h5{
		font: 2em/1.2em Amaranth-Regular;
		
	}
	
	h4{
		padding-bottom: 8px;
		font: 1.5em/1.2em Amaranth-Regular;
	}
	.btn-link{
		padding-left : 0px;
		color : @back;
	}
	.sections
	{
		padding:10px;
		border-radius: 5px;
	}
	.contentModule {
		.sections{
			border-radius : 5px;
			border: 1px solid @back;
			img{
				width : 100%;
				padding : 4px;
				border : 3px solid transparent;
				max-height: 138px;
				min-height:138px;
			}
			.readmore{
				margin-bottom :10px;
				margin-top:10px;
			}
		}
		.services{
			border : none;
		}
	}
	hr{
		margin :5px 0px;
	}
	.service{
		margin-bottom: 10px;
		margin-top: 10px;
		img{
			max-height : 180px;
		}
		h3{
			padding-bottom:0px;
			border : none;
			margin-top : 0px;
			font-size : 18px;
		}
	}
	.searchProperty,.sections,.enquiry .panel-default,.searchProp .panel-default, .form-control{
		border : 1px solid @color;
	}
	.thumbnail{
		border-color : @darkbackcolor;
	}
	.services{
		border : none;
	}
	
	.email{
		&:hover{
			text-decoration : none;
			color :@darkbackcolor;
			text-decoration : underline;
		}
	}
	
	.bx-wrapper .bx-controls-direction a {
		margin-top:-35px;
	}
	
	footer{
		margin-top : 10px;
		color:@lightcolor;
		font-weight : bold;
		background-color : @darkbackcolor;
		padding:5px;
		a{
			color :@colorwhite;
			&:hover{
				color : @colorwhite;
				text-decoration : underline;
			}
		}
	}
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
		.navbar{
			min-height: 0px;
			
		}
		.item.active, .projnav{
			height: 120px;
			overflow: hidden;
		}
		.carousel-inner>.item>img{
			width :100%;
		}
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			
		}
		.projnav{
			height: 322px;
		}
		.item.active{
			height: 312px;
			overflow: hidden;
		}
		.carousel-inner>.item>img{
			width :100%;
			min-height : 310px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			
		}
		.projnav{
			height: 322px;
		}
		.item.active,{
			height: 312px;
			overflow: hidden;
		} 
		.carousel-inner>.item>img{
			width :100%;
			min-height: 312px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
	}
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}
	.projdtls{
		color : @colorwhite;
		background-color: @darkbackcolor;
	}
	@media (max-width: 540px){
		header {
			.navbar{
				min-height : 1px;
			}
		}
		.navbar-nav {
			margin: 0px;
		}
	}