.products,	.singleproduct{
	.thumbnail{
		/*background-color: @back;*/
		img{
			max-height:180px;
		}
	}
} 
.services{
	.servdesc{
		height : 200px;
	}
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		
	}
	.servdesc{
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			text-align : center;
			margin-top : 20px;
			a{
				background-color : @back;
				color : @colorwhite;
				padding : 6px 12px;
				border : 2px solid transparent;
				border-radius : 0px;
				
				&:hover{
					color : @colorwhite;
					background-color : @darkbackcolor;
					border : 1px solid @colorwhite;
				}
			}
		}
	}
}


.products .caption{
	color:@colorblack;
}
.products{
	.thumbnail{
		img{
			border : 4px solid transparent;
			padding : 6px;
			&:hover{
				border : 4px solid @darkbackcolor;
			}
		}
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			margin-top : 10px;
			text-align : center;
		}
		
	}
}
.contentModule .sections{
	
	.readmore .btn-info{
		background-color:@darkbackcolor;
	}
}

@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 430px;
			img{
				min-height : 148px;
			}
			.caption{
				height: 138px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 190px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 430px;
			img{
				max-height : 260px;
			}
			.caption{
				height: 138px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 155px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 430px;
			img{
				max-height : 150px;
				width:100%;
			}
			.caption{
				height: 190px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}