@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'ArbutusSlab-Regular';
  src: url('../fonts/ArbutusSlab-Regular.ttf');
}
.bxslider {
  padding: 5px;
}
.bxslider li {
  width: 100px;
  height: 325px;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid transparent;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .projimg:hover {
  border: 2px solid #414141;
}
.activity img {
  height: 200px;
  width: 100%;
}
.thumbnail .description {
  height: 100px;
  overflow: hidden;
}
.homeAboutus {
  display: none;
}
.carousel-inner > .item {
  height: 700px;
}
.carousel-inner > .item img {
  min-height: 450px;
  width: 100%;
}
span.glyphicon.glyphicon-chevron-right,
span.glyphicon.glyphicon-chevron-left {
  background-color: gray;
  height: 36px;
  width: 40px;
  margin-top: 368px;
}
.carousel-indicators li {
  display: none;
}
.featrGallery .thumbnail {
  height: 200px;
  border-color: #FFFFFF #F5F5F5 #E5E5E5;
  color: #ffffff;
  margin: 10px;
}
.featrGallery .thumbnail .caption {
  height: 180px;
  overflow: hidden;
  text-align: justify;
  padding-top: 10px;
}
.featrGallery .thumbnail img {
  width: 100%;
  margin: 12px 0px;
}
.logo {
  height: 100px;
  width: 150px;
  margin-left: -15px;
  margin-top: 15px;
}
.navbar-default {
  background-color: transparent;
  font: 14px 'Oswald', sans-serif;
  border: none;
  border-radius: 0;
  top: 4px;
  left: 15px;
  right: 50px;
  margin-bottom: 78px;
  margin-top: 80px;
  display: inline-block;
  text-decoration: none;
}
.navbar-default .navbar-nav > li {
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  color: #ffffff ! important;
}
.navbar-default .navbar-nav > li > a {
  color: #02071a;
  font: 14px 'Oswald', sans-serif;
  background-color: transparent ! important;
  padding: 10px 10px;
  margin-right: 24px;
  border-bottom: 1px solid gray;
}
.navbar-default .navbar-nav > li > a:hover::before {
  content: url('../img/bullet.png');
  width: 8px;
}
.navbar-default .navbar-nav > li.active > a::before {
  content: url('../img/bullet.png');
  width: 8px;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 130px;
  z-index: 999;
  font: 14px 'Oswald', sans-serif;
  padding: 12px 0px 0px 0px;
  list-style: none;
  text-align: center;
  top: 49px;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul > li {
  padding-top: 11px;
  height: 43px;
  background-color: #02071a;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
  font: 14px 'Oswald', sans-serif;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #d3d3d3;
}
.navbar-default .navbar-nav > li > ul > li:hover > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover > a:hover {
  text-decoration: none;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.nav-justified > li {
  float: none;
}
footer {
  padding-top: 70px;
  font-weight: bold;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  height: 100px;
  margin-top: 146px;
}
footer a {
  color: #777777;
  text-decoration: none;
}
footer a:hover {
  color: #777777;
  text-decoration: underline;
}
.btn-info {
  color: #292929;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  border: none;
  background-color: transparent ! important;
}
.btn-info:hover {
  color: #292929;
}
