* {
    transition: 300ms;
}
body
{
	overflow:scroll;
}

td.scroll
{
	height:200px;
	overflow:scroll;
}
a.brand
{
    background:#fff;
	margin-top:5px;
	padding:5px;
	display:block;
}
#map_canvas {
	height: 400px;
}

#map_canvas {
	position: relative;
}
.map-search-box{
	width: 33% !important;
	top : 30px !important;
}

.angular-google-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.main-content
{
	border: 1px solid #ccc;
	margin: 0;
	padding:15px;
	min-height: 450px;
}
.gridblock
{	
	padding:10px;
	margin-bottom:20px;
	border: 1px solid #C2C2C2;
	box-shadow: 2px 2px 5px #bbb;
	background-color:#EAEAEA;
	/* border-radius: 5px; */
}
.border-bottom 
{ 
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left:-15px;
}
.toolcolor
{
	background-color:#E7E7E7;
}

 .img-thumbnail
{
	width:70px;
} 
.breadcrum
{
	background-color:#E7E7E7;
}

header {
  background-color: rgba(0, 136, 204, 0.55);
}

.spanimg
{
	border-radius:10px;
}

.sidebar
{
	border:1px solid black;
}
header .navbar-brand
{
	height: auto;
}
header .user-dropdown{
	position: relative;
}
header .user-dropdown .dropdown-menu {
	left: auto;
	right: 0;
}
.navbar .dropdown img {
    width: 70px;
    margin-top: 20px;
}
.navbar .navbar-right a p {
    margin: 0;
}
header .user-img {
    display: inline-block;
    vertical-align: middle;
}
.navbar-header > h2 {
    margin-top: 25px;
}
 header .user-img img
{
	height: 65px;	
} 

header .im1:hover
{

}
.btn-group
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.f1
{
 width:500px;
 
}
.form-content
{
	
	border: 1px solid #ccc;
	margin: 0% auto;
	padding: 15px 15px;
	width: 100%;
	min-width: 250px;
	max-width: 350px;
}
.borderimg
{
	
	border:1px solid #ccc;
}
.dropimage1
{
	font-size:60px;
}
.toolbar .form-inline{
	display: inline-block;
}
.dropd
{
	left:auto;
	right:0;
}
.bottomspace
{
	margin-bottom:10px;
}

.border{
border: 2px solid red;
border-radius: 16px;}
.border h3{
color:blue}

.tdwidth
{
	width:385px;
}

.imgwidth
{
	width:100px;
} 
span.thumbs {
    display: inline-block;
    width: 48px;
}
.navbar-default .navbar-nav>li>a {
    margin-left: 7px;
    margin-top: 15px;
}
.navbar-default .navbar-nav>li>a.btn.btn-primary {
    color: #fff;    
}
.navbar-default .navbar-nav>li>a.btn.btn-primary:hover {
    color: #333;
}
footer.navbar.navbar-default.text-center{
	margin-bottom:0;
	margin-top:20px;
}
footer.navbar.navbar-default.text-center p{
	margin-top: 15px;
}