.dr-notification-container{position: fixed;z-index:10000}.dr-notification-container.bottom{bottom: 0px;}.dr-notification-container.right{right: 20px;}.dr-notification-container.left{left:20px}.dr-notification-container.top{top:20px}.dr-notification-container.center{left:50%;margin-left:-190px}.dr-notification-wrapper{width:380px;position:relative;margin:10px 0}.dr-notification{width:380px;/* background-color: rgba(51, 122, 183, 1); */clear:both;/* min-height:80px; *//* max-height:90px; */-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;/* color:#bfe2de; *//* border:1px solid rgba(4,94,123,0.85); */overflow:hidden}.dr-notification-close-btn{-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;border-radius: 50%;display:inline-block;padding: 4px 5px 2px;background-color:rgba(1,26,34,0.85);font-size:14px;color: #6F6F6F;border:1px solid rgba(4,94,123,0.85);position:absolute;right:-11px;top: -11px;-webkit-transition:all .35s cubic-bezier(0.31,0.39,0.21,1.65);-moz-transition:all .35s cubic-bezier(0.31,0.39,0.21,1.65);transition:all .35s cubic-bezier(0.31,0.39,0.21,1.65);cursor:pointer}.dr-notification-close-btn i{padding-top: 0;}.dr-notification-close-btn:hover{color: #fff;-webkit-transform:scale3d(1.25,1.25,1);-moz-transform:scale3d(1.25,1.25,1);-ms-transform:scale3d(1.25,1.25,1);transform:scale3d(1.25,1.25,1)}.dr-notification-image{width:80px;height: 85px;border-right: 1px solid;float:left;display:block;font-size:40px;/* color:white; */text-align:center}.dr-notification-image i{display:block;width:100%;padding-top: 25px;}.dr-notification-image img{margin:15px;max-width:70px;min-width:48px}.dr-notification-image.dr-notification-type-info{/* color:#FFF */}.dr-notification-image.dr-notification-type-warning{/* color:#ffa226; *//* border-color: #8a6d3b; */}.dr-notification-image.dr-notification-type-error{/* color:#ff4b4f */}.dr-notification-image.dr-notification-type-success{color:#b4d455}.dr-notification-image.success{color:#b4d455}.dr-notification-content{padding-left: 95px;padding-right: 10px;padding-top: 5px;}.dr-notification-title{/* color:white; */margin:0;padding:0;font-size:20px}p.dr-notification-text{margin-top: 7px;margin-bottom: 0;font-size:12px}

col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 24px;
  padding-left: 24px;
}


.alert.alert-warning {
    border-color: rgba(138, 109, 59, 0.52);
}

.alert.alert-success {
    border-color: rgba(60, 118, 61, 0.48);
}

li > .pull-right.glyphicon.glyphicon-pencil  {
    display: none;
}

li:hover > .pull-right.glyphicon.glyphicon-pencil {
    display: block;
}

span.glyphicon.glyphicon-move.ng-scope.as-sortable-item-handle {
    color: #ccc;
}

span.glyphicon.glyphicon-move.ng-scope.as-sortable-item-handle:hover {
    color: #2A2A2A;
}

.alert.alert-danger {
    border-color: rgba(169, 68, 66, 0.49);
}

.alert.alert-info {
    border-color: rgba(49, 112, 143, 0.57);
}
* {
    transition: 300ms;
}
body
{
	overflow:scroll;
}

.scroll
{
	height:150px;
	overflow:auto;
}

.imgwidths
{
	max-width:150px;
}
.scrolls
{
	height:150px;
	overflow:auto;
}
a.brand
{
    background:#fff;
	margin-top:5px;
	padding:5px;
	display:block;
}
#map_canvas {
	height: 400px;
}

#map_canvas {
	position: relative;
}
.map-search-box{
	width: 33% !important;
	top : 30px !important;
}

.angular-google-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.main-content
{
	border: 1px solid #ccc;
	margin: 0;
	padding:15px;
	min-height: 450px;
}
.gridblock
{	
	padding:10px;
	margin-bottom:20px;
	border: 1px solid #C2C2C2;
	box-shadow: 2px 2px 5px #bbb;
	background-color:#EAEAEA;
	/* border-radius: 5px; */
}
.border-bottom 
{ 
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left:-15px;
}
.toolcolor
{
	background-color:#E7E7E7;
}

 .img-thumbnail
{
	width:70px;
} 
.breadcrum
{
	background-color:#E7E7E7;
}

header {
  background-color: rgba(0, 136, 204, 0.55);
}

.spanimg
{
	border-radius:10px;
}

.sidebar
{
	border:1px solid #ccc;
}
header .navbar-brand
{
	height: auto;
}
header .user-dropdown{
	position: relative;
}
header .user-dropdown .dropdown-menu {
	left: auto;
	right: 0;
}
.navbar .dropdown img {
    width: 50px;
    margin-top: 20px;
    height: 50px;
}
.navbar .navbar-right a p {
    margin: 0;
}
header .user-img {
    display: inline-block;
    vertical-align: middle;
}
.navbar-header > h2 {
    margin-top: 25px;
}
 header .user-img img
{
	height: 65px;	
} 

header .im1:hover
{

}
.btn-group
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.f1
{
 width:500px;
 
}
.form-content
{
	
	border: 1px solid #ccc;
	margin: 0% auto;
	padding: 15px 15px;
	width: 100%;
	min-width: 250px;
	max-width: 350px;
}
.borderimg
{
	
	border:1px solid #ccc;
}
.dropimage1
{
	font-size:60px;
}
.toolbar .form-inline{
	display: inline-block;
}
.dropd
{
	left:auto;
	right:0;
}
.bottomspace
{
	margin-bottom:10px;
}
.topspace
{
	margin-top:20px;
}
.border{
border: 2px solid red;
border-radius: 16px;}
.border h3{
color:blue}

.tdwidth
{
	width:385px;
}

.imgwidth
{
	width:100px;
} 
span.thumbs {
    display: inline-block;
    width: 48px;
}
.navbar-default .navbar-nav>li>a {
    margin-left: 7px;
    margin-top: 15px;
}
.navbar-default .navbar-nav>li>a.btn.btn-primary {
    color: #fff;    
}
.navbar-default .navbar-nav>li>a.btn.btn-primary:hover, .navbar-default .navbar-nav>li>a.btn.btn-primary:focus {
    color: #333;
}
footer.navbar.navbar-default.text-center{
	margin-bottom:0;
	margin-top:20px;
}
footer.navbar.navbar-default.text-center p{
	margin-top: 15px;
}

/* process steps CSS */
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;padding: 0 25px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; cursor: pointer;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */

.as-sortable-item, .as-sortable-placeholder {
    /*display: block;*/
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
    cursor: move;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}