.main-content
{
	border:1px solid gray;
	margin: 15px 0px 15px 0px;
	padding-top:15px;
	padding-bottom:15px;
	
}
.gridblock
{	
	padding:10px;
	margin-bottom:20px;
	border:1px solid gray;
	/*border-radius:10px 10px 10px 10px;*/
	box-shadow:4px 4px 4px rgb(229, 222, 222);
	background-color:#EAEAEA;

}
.border-bottom 
{ 
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
.toolcolor
{
	background-color:#E7E7E7;
}
header {
top: 0;
left: 0;
right: 0;
height: 80px;
background:#ccc;
}
.img-circle 
{
	height:60px;
}