<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<title>{{ (title) ? title : 'Home'}} | {{data.seo.title}} | {{data.business_name}}, {{data.location}}, {{data.area}}, {{data.city}}</title>
		<meta name="description" content="{{data.business_name}}, {{data.location}}, {{data.area}}, {{data.city}} | {{data.seo.description}}">
		<meta name="keywords" content="{{data.business_name}}, {{data.keywords | join(',')}}">
		
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/jquery.dropotron.min.js"></script>
		<script src="{{ path }}js/skel.min.js"></script>
		<script src="{{ path }}js/skel-layers.min.js"></script>
		<script src="{{ path }}js/init.js"></script>
		<script src="{{ path }}js/angular.min.js"></script>
		<script src="{{ path }}js/angular-route.min.js"></script>
		<script src="{{ path }}js/script.js"></script>
		<link rel="stylesheet" href="{{ path }}css/skel.css" />
		<link rel="stylesheet" href="{{ path }}css/style.css" />
		<link rel="stylesheet" href="{{ path }}css/style-wide.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="index.html">Phase Shift</a></h1>
							<span class="tag">by TEMPLATED</span>
						</div>
						<nav id="nav">
							{% include 'includes/navbar.html' ignore missing %}
						</nav>
					</div>
				{% block content %}{% endblock %}
	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
				{% block footer %}
					&copy; Copyright 2015 by <a href="http://wtouch.in">Web Touch India Solutions</a>.
				{% endblock %}
				</div>
			</div>
		</div>

	</body>
</html>