<div class="sociallinks ">
	<ul>
		{% if data.website_config.sociallinks.facebook %}
			<li>
				<a href="{{data.website_config.sociallinks.facebook}}" target="_blank"><img src="{{path}}img/s2.png" class="img-circle"></a>
			</li>
		{% endif %}
		{% if data.website_config.sociallinks.google %}
			<li>
				<a href="{{data.website_config.sociallinks.google}}" target="_blank"><img src="{{path}}img/s3.png" class="img-circle"></a>
			</li>
		{% endif %}
		 {% if data.website_config.sociallinks.twitter %}
			<li>
				<a href="{{data.website_config.sociallinks.twitter}}" target="_blank"><img src="{{path}}img/s1.png" class="img-circle"></a>
			</li>
		{% endif %} 
		
		
	</ul>
</div> 