	
	@color : black;
	@lightcolor : #FFC11E;
	@darkcolor : #043D80;
	@back : #FFC11E;
	@darkbackcolor : #043D80;
	@lightbackcolor :#0F4E93; 
	@colorblack : #000000;
	@colorwhite	: rgba(255, 255, 255,0.5);
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
	
	body {
    font: 400 13px/19px "Ubuntu", sans-serif;
    color: @colorwhite;
    background: url('../img/bak.jpg');
    background-size: cover;
	}
	
	.carousel-inner>.item{
				height:450px;
			img{
			     min-height:450px;
				 width: 100%;
				}
		}
