	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}

	@color : #24600B;
	@lightcolor : #EC1F26;
	@darkcolor : rgba(46, 27, 17, 0.59);
	@back : #707070;
	@darkbackcolor : rgb(175, 31, 84);
	@lightbackcolor :#A1C31A; 
	@colorblack : #02071A;
	@colorwhite	: #fff;
	
	@import "property.less";
	@import "product.less";
	@import "general.less";
	*{
		transition:300ms;
	}
	.container{
		max-width : 992px !important;
	}
	body {
    
		background-image:url(../img/pic7.jpg);
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-size:100% 100%;
		color:@colorwhite;
		border:1px solid @colorblack;

   
    
}

	.logo {
		height:230px;
		width:300px;
		margin-left:-53px;
        margin-top:15px;
        background-image:url('../img/logo.jpg');
		
		
	}
	.sociallinks{
		text-align:center;
		left:0;
		right:0;
		margin:auto;
		z-index : 999;
		width : 300px;
		display: inline-block;

		
		ul{
			
			list-style-type : none;
			li{
				display:inline;
				a{
					color:@lightcolor;
					display:inline-block;
					width: 36px;
					height:36px;
					margin-left:10px;-
					&:hover{
						color:@color;
						text-decoration : underline;
					}
				}
				.img{
					//background:url('../img/sprite.png');
					margin-left : 10px;
					width : 38px;
					height:38px;
				}
					#img1{
					background:url('../img/sprite.png');
					&:hover{
					background:url('../img/sprite.png')0px -38px ;
					}
					}
					#img2{
					background:url('../img/sprite.png')-38px 0px ;
					&:hover{
					background:url('../img/sprite.png')-38px -38px  ;
					}
					}
					#img3{
					background:url('../img/sprite.png')-75px 0px;
					&:hover{
					background:url('../img/sprite.png')-75px -38px  ;
					}
					}
			}
		}
	}
	
	
	.navbar-default {
		
		background-color:transparent;
		border : none;
		border-radius: 0;
		    top: 64px;
            left: 78px;
			right:50px;
			
		    margin-bottom:40px;
			margin-top:55px;
	        display: inline-block;
		    text-decoration: none;
           
			
		   
		
		.navbar-nav{
			> li{
				color:@colorwhite;
				text-transform:uppercase;
				position : relative;
				margin-right: 10px;
				
			    
		
				> ul {
					color:@colorwhite;
					background-color:@lightcolor;
					list-style: none;
					position: absolute;
					width: 150px;
					top : 53px;
					z-index: 999;
					display: none;
					padding: 1px;
					text-align: center;
					transition : all 500ms ease-in-out;
					
					>li{
						
						color:@colorwhite;
						
						
						>a{
							color : @colorwhite;
							text-decoration:none;	
						
							}
							&:hover{
							
								color:@colorwhite;
								background-color:@darkcolor;
						}
						ul{
							color:@colorwhite;
							
							list-style: none;
							padding: 7px;
							>li{
								color:@colorwhite;
						
								
								>a{
									//color : @color;
											
									
									color:@colorwhite;
									&:hover{
										background-color:@darkcolor;
										text-decoration:none;
									}
								}
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
				
			}
		}
	}
	
	.subhead {
		position: relative;
		font : 1.5em/1.5em Amaranth-Regular;
		padding: 4px 10px;
		text-align: center;
		margin-top:3px;
		//color : @back;
		//background: -webkit-linear-gradient(top, @lightcolor, @darkcolor);
		//background: -moz-linear-gradient(top,  @lightcolor, @darkcolor);
		//background: linear-gradient(top, @lightcolor, @darkcolor);
		//border : 1px solid @lightcolor;
		//border-radius: 5px;
		//box-shadow : 0px 1px 2px @back;
	}
	.content, .sections, .sidemenu,  .tab-content{
		//background-color : @back;
		//border:1px solid @darkbackcolor;
		//border-radius : 4px;
	
	}
	.thumbnail
	{
	 color:@colorwhite;
	 background-color:@darkcolor;
	 border:none;
	 height:200%:
	 width:200px;
	 
	 
	}
	.readmore{
	position:relative;
    border:1px solid @colorblack;
	

	}
	
	
	.content{
	    @color:@back;
		margin-top : 20px;
		padding : 0px 20px 20px;
		}
		.homeAboutus {
			background-color: @darkcolor;
			padding:10px;
			margin-top: 18px;
			}
	.sections{
		padding:15px;
	}
	.sidebarModule{
		.panel-body{
			padding : 15px 15px 0px;
		}
	}
	.contactus{
		h4{
			margin-top : 0px;
			
		}
		hr{
			margin: 0px 0px 10px;
		}
	}
	//global css
	h1,h2,h3,h4,h5{
		color : @colorwhite;
		font-family : 'Amaranth-Regular';
		text-align:center;
	}
	h1,h2{
		text-align : center;
	}
	.btn-link{
		padding-left : 0px;
	}
	a, .btn-link{
		color : @back;
		&:hover{
			text-decoration : underline;
			color : @back;
		}
	}
	.btn-info{
	background-color:transparent;
	}
	
	.panel{
		background-color : @back;
	}
	.panel-default{
		border-color : @darkbackcolor;
	}
	hr{
		border-color : @darkcolor;
	}
	.form-control{
		background-color : @color;
		color : @back;
	}
	.btn-info, .btn-info[disabled], .btn-primary{
		
		color : @back;
		border-color : @colorwhite ;
		margin-top:70px;
		position: relative;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		&:before{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			//background: @lightcolor ;
			//border-color:@lightcolor;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 50%;
			transform-origin: 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		&:hover{
			background:transparent;
			color : @lightcolor;
			border-color :@lightcolor;
		}
		&:hover:before, &:focus:before, &:active:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	.btn + .btn {
		margin-left : 10px;
	}
	
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
	{
		background-color : @color;
		color : @back;
		border : 1px solid @color;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
		background-color : @back;
		border : 1px solid @color;
		color : @color;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	footer{
		margin-top : 15px;
		padding-top : 100px;
		color:@back;
		font-weight : bold;
		background-color:@darkcolor;
		position: relative;
		height:150px;
			
	}
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}
	button.navbar-toggle.collapsed.projdtls{
		color : @colorwhite;
	}
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
		.navbar{
			min-height: 1px;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
				color:@colorwhite;
				>li{
					color:@colorwhite;
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						border : none;
						border-radius : 0px;
						top : 0px;
					
						background-color : @color;
						color : @back;
					}
				}
			}
		}
		 .projnav{
			height: 120px;
			overflow: hidden;
		}
		
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
				>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						border-top: 4px solid @lightcolor;
						//border-top-left-radius: 19px;
						//border-bottom-right-radius: 19px;
						background:transparent;
						//color :  @back;
						color:@colorwhite;
						top: -8px;
						padding-top: 20px;
					}
				}
			}
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			height : 50px;
		}
		.projnav{
			height: 322px;
		}
		
		
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			height : 50px;
		}
		.projnav{
			height: 322px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
	}
	.thumbs{
	    background-color:@darkcolor;
		color:@colorwhite;
		    height: 340px;
	}
	h3{
	    color:@colorwhite;
	   
	  } 
        .readmore{
				position : absolute;
				top: 0;
				left: -239px;
				width: 470px;
				height: 201px;
				text-align : center;
				overflow : hidden;
				margin : 0 auto;
				border-radius : inherit;
				opacity: 0;
				background-color: rgba(3, 13, 130, 0.49);
				transition: all 0.4s ease-in-out;
				overflow : hidden;
				border-radius : inherit;
		}
				
			.servs{
			position:relative;
			}
			.servs:hover .readmore{
				background-color:@colorblack;
				opacity:0.7;
			}
		.social_links{
		    position:fixed;
			background-color:@darkcolor;
			margin-top:100px;
		}
		.thumbnail>img, .thumbnail a>img {
			margin-right: auto;
			margin-left: auto;
			height: 300px;
			border-bottom:3px solid @lightcolor;
			
		}
		
	.navbar-default .navbar-nav>li>a {
				color: @colorwhite;
				}
			.header{
			margin-top:20px;
			}
			/*.carousel-inner {
					position: relative;
					width: 100%;
					height: 340px;
					overflow: hidden;
					margin-top: 28px;
					}*/
				.about{
				 background-color:@darkcolor;
				}
				.gallery .thumbnail .caption .description {
					overflow: hidden;
					height: 122px;
					color: white;
				}
				
				
				
				
					
				.carousel-caption {
						position: absolute;
						margin: auto;
						left: 0px;
						right: 0px;
						
						width: 67%;
						margin-bottom: 132px;
						
						p1{
						font-size: 42px;
						letter-spacing: -1px;
						color: #fff;
						background: @darkcolor;
						display: inline-block;
						padding: 10px 20px 10px 20px;
						position: relative;
						top: 40%;
						font-weight: 400;
						
						.right1{
							color:@lightcolor;
							&:hover{
							    color:@colorwhite;
							}
						}
										}
							
					}
					
					
								

			
					