{% extends "index.html" %}
{% block carousal %}
{% include 'includes/carousal.html' ignore missing %} 
{% endblock %}
{% block content %}
{% autoescape false %}
	<div class="row">
	<!-- <div class="eventimg">
		{% if featured_services | length >= 2%}
		{% set break = 0 %}{% set i = 0 %}
		{% for x in featured_services if break == 0 %}
		<div class="div2 text-center textcolordiv">
			<h2>{{x.product_service_name}}</h2>
			{% for key, value in x.product_image %}
			<img src="{{value.file_relative_path}}" class="img-responsive servimg" alt="{{key}}"/>
			{% endfor %}
			<p>{{ x.description |length > 200 ?x.description|slice(start, 200)~ '...' : x.description}}</p>
			<a href="#" class="btn btn-primary text-center">READ MORE</a>
		{% set i = (i + 1) %}
			{% if i == 2 %}
				{% set break = 1 %}
			{% endif %}
		{% endfor %}
		{% endif %}
		</div>
	</div> -->
	<div class="eventimg">
		<div class="div2 text-center textcolor textcolordiv">
			<table class="table">
				<tr>
					<td class="col-sm-4">
						<a href="#">
							<img  src="{{data.contact_profile.contact_photo.file_relative_path}}" class="img-responsive" alt="{{data.business_name}}"/>
						</a>
					</td>
					<td>
						{{data.contact_profile.contact_person}}<br>
						<b>Address</b>
						<address>
							{{data.contact_profile.address}}
							{{data.city}}<br>
							{{data.state}}<br>
							{{data.country}}<br>
							{{data.pincode}}
						</address>
					</td>
				</tr>
				{%if data.contact_profile.telephone%}
				<tr>
					<td><b>Telephone</b></td>
					<td>
						{{data.contact_profile.telephone}}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td><b>Mobile</b></td>
					<td>{{data.contact_profile.mobile}}</td>
				</tr>
				<tr>
					<td><b>E-mail Id</b></td>
					<td>{{data.contact_profile.email}}<br></td>
				</tr>
				{%if data.contact_profile.contact_website%}
				<tr>
					<td><b>Website</b></td>
					<td><a href="#">{{data.contact_profile.contact_website}}</a>
					</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center homeabout">
				<h2>Welcome to {{ data.business_name }}</h2>
				<p class="text-center">{{ data.business_info.description|length >1500 ? data.business_info.description|slice(start,1500)~ '...' : data.business_info.description}}</p>
				<br>
				<a href="about">Read More..</a>
			</div>
		</div>
		{% include 'includes/featured_products.html' ignore missing %}		
		{% include 'includes/featured_services.html' ignore missing %}
	</div>
{% endautoescape %}
{% endblock %}