{% spaceless %}
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
			<link rel="stylesheet" href="{{ path }}css/style.css">
			<script src="{{ path }}js/jquery.min.js"></script>
			<script src="{{ path }}js/bootstrap.min.js"></script>
			<script src="{{ path }}js/angular.min.js"></script>
			<script src="{{ path }}js/angular-route.min.js"></script>
			<script src="{{ path }}js/script.js"></script>
			<title>{{data.seo.title}} | {{title}}</title>
			<meta name="description" content="{{data.seo.description}}">
			<meta name="keywords" content="{{data.keywords | join(',')}}">
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="container">	
				{% include 'includes/navbar.html' ignore missing %}
			</div>
			<div class="row">
					<div class="heading">{{data.business_name}}</div>
			</div>
			{% block carousal %}
			{% endblock %} 
		</header>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		
		<div class="container">
			<div class="bottom-space">
				<div class="row">
				<div class="bottom-space">
					<div class="col-sm-6">
						<p class="h1font"><b>{{data.business_name}}</b></p>
						<p class="parafont"><b>{{ data.business_info.description|length >1500 ? data.business_info.description|slice(start,1500)~ '...' : data.business_info.description}}</b></p>
					</div>
				</div>
				<div class="topspace">
					<div class="col-sm-6">
						<p><b>{{ data.business_info.description}}</b></p>
						<a href="#" class="btn btn-primary text-center">READ MORE</a>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="bottom-space">
			<a><p class="text-center footercol">&copy;2015 wtouch India Solution</p></a>
		</div>
	</body>
</html>
{% endspaceless %}