<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Orange Sea Theme - About Our Company</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
Template 2037 Orange Sea
http://www.tooplate.com/view/2037-orange-sea
-->
<link href="tooplate_style.css" rel="stylesheet" type="text/css" />

</head>
<body id="sp_body">

<div id="tooplate_sp_100_wrapper">
<div id="tooplate_sp_wrapper">

	<div id="tooplate_top"></div>

	<div id="tooplate_header">
        <div id="site_title"><h1><a href="#">Orange Sea</a></h1></div>
        <div id="tooplate_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html" class="current">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    	
        </div> <!-- end of tooplate_menu -->
    </div> <!-- end of forever header -->
    
    <div id="tooplate_sp_middle">
    	<div id="mid_title">
        	About Us
        </div>
        <p>Nulla interdum ipsum dui, vitae ultrices arcu. Suspendisse interdum, sem quis pretium mollis, velit ligula pretium tortor, vel tristique tortor tellus condimentum ipsum. Pellentesque eu interdum dui.</p>
        <div id="learn_more"><a href="#"></a></div>
        <div class="cleaner"></div>
	</div> <!-- end of middle -->
    
    <div id="tooplate_main">
    
    	<div class="col_w600 float_l">
        	
            <h2>Who We Are</h2>
       
             <p><em>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Curabitur sit amet dapibus turpis.</em></p>
            <p>Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris
			<a href="#">nam et tellus libero</a>. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
            <div class="h30"></div>
            <div class="image_wrapper image_fl"><img src="images/tooplate_image_01.jpg" alt="image" /></div>
            <h6>Donec euismod aliquam elit eu interdum</h6>
            <p>Praesent volutpat dolor at nulla egestas in vestibulum mauris lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">Ut sed accumsan</a> nisl. Donec malesuada augue ac nisl sagittis quis cursus dolor scelerisque. Aliquam ac massa ut nibh pulvinar aliquam vel id metus. Nulla id ante a diam volutpat commodo.</p>
            
        </div>
        <div class="col_w300 float_r">
        
            <h2>Testimonial</h2>
            <blockquote>
            <p>Fusce nec felis id lacus sollicitudin vulputate. Proin tincidunt, arcu id pellentesque accumsan, neque dolor imperdiet ligula, quis viverra tellus nulla a odio. Curabitur vitae enim risus, at placerat turpis. Mauris feugiat suscipit tempus fringilla, felis in velit. Donec ac placerat neque.</p>
            
            <cite>Thomas - <span>Web Designer</span></cite>
            </blockquote>
        
        </div>
    	
    	<div class="cleaner"></div>
    </div> <!-- end of main -->

</div> <!-- end of fp wrapper -->
</div> <!-- end of fp 100% wrapper -->

<div id="tooplate_footer_wrapper">
	<div id="tooplate_footer">
	
    	Copyright © 2048 <a href="#">Company Name</a> - Design: <a href="http://www.tooplate.com">tooplate</a>
		
	</div>
</div>

</body>
</html>