//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		.projimg{
			height:125px;
			overflow:hidden;
		}
		img{
			max-height: 140px;
			width : 100%;
			padding : 4px;
			border : 3px solid transparent;
			&:hover{ 
				border : 3px solid @color;
			}
		}
		.readmore{
			margin-bottom :10px;
			margin-top:10px;
		}
		
	}
}

.homeproject{
	position : relative;
	.projectCarousal{
		width : 450px;
		margin : 0 auto;
		.bx-wrapper{
			border : 3px solid @back;
			.bx-viewport{
				min-height : 300px !important;
				.carousslider{
					padding-left: 0px;
					li{
						border: 3px solid #f9f4da;
						min-height : 300px;
						min-width : 100% !important;
						img{
							width : 100%;
							min-height : 305px;
						}
						&.item{
							overflow : hidden;
							height : 305px;
						}
					}
				}
				img{
					height:400px;
					min-width : 100%;
				}
			}
		}
	}
	.projsnap, .projectnav{
		position : absolute;
		width : 240px;
		height : 310px;
		top : 0;
		background : @darkbackcolor;
		border : 3px solid @back;
	}
	.projectnav{
		right : 0;
		border-radius: 0% 50% 50% 0%;
		overflow : hidden;
	}
	.projsnap{
		text-align : right;
		border-radius: 50% 0% 0% 50%;
		padding :15px;
		p{
			color : @colorwhite;
			font-size : 16px;
			font-family : Amaranth-Regular; 
		}
	}
	.projectnav{
		.nav-stacked{
			>li{
				margin-bottom : 10px;
				a, a:focus{
					background : none;
					margin : 5px;
					font : 1.2em/1.2em Amaranth-Regular;
					color: @colorwhite;
					&:hover{
						color: @colorwhite;
						text-decoration:none; 
						background-color : @back;
					}
				}
			}
		}
	}
	&::after{
		position : absolute;
		content : "";
		background-image : url('../img/Authorized.png');
		background-size: 100% 100%;
		right :295px;
		bottom : 0;
		z-index: 999;
		height : 120px;
		width : 120px;
	}
}

//css for single project & project list
	.projlist{
		.panel-default{
			background-color:@back;
			img{
				border:2px solid @lightbackcolor;
			}
			img:hover{
				border:4px solid @color; 
			}
		}
		border:1px solid @border;
		border-radius : 5px;
		/*background-color:@back;*/
		padding:10px;
		.project{
			.thumbnail{
				background-color:@colorwhite;
				height:400px;
				padding-top : 15px;
				
				border-color : @border;
				.btn-info
				{
					background-color:@back;
				}
				img{  
					max-height : 183px;
					overflow: hidden;
					border: 0 solid #333239;
					text-align: center;
					transition: all 0.2s ease;
					&:hover{
						transition: all 0.2s ease;
					}
				}
				
				.caption {
					height : 190px;
					p{
						color:@colorblack;
					}
				}
			}
			.pagination{
				align:center;
				
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			
		}
		
	}
		
		
	.project{
		.projectgallery{ 
			/*background-color : @back;*/
			border : 1px solid @back;
			padding: 20px 20px 0px;
			.thumbnail{
			.projectImags{
					width: 190px;
					height: 148px;
					overflow: hidden;
					margin : 0 auto;
					img{
						min-height : 148px;
					}
				}
				background-color : @darkbackcolor;
			}
		}
		nav {
			.pagination{
				li,.disabled{
					a{
						background-color: @colorwhite;
						border-color : @border;
						
						&:hover{
							background-color:@back;
							color:@colorwhite;
						}
					}
				}
				>.active>a{
					background-color:@back;
					color:@colorwhite;
					border-color : @colorblack;
				}
			}
			
		} 
	}
	
	@media (max-width: 768px){
		.homeproject{
			.projectnav, .projsnap,.projectCarousal{
				width : auto;
				position : static;
			}
			.projectnav, .projsnap{
				border-radius : 0;
			}
			.projsnap{
				text-align : center;
			}
			&::after{
				display : none;
				width : 0px;
			}
		}
		.projectnav, .projsnap, .bx-wrapper{
			margin-bottom : 10px !important;
		}
	}
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	
	@media (min-width: 1024px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}
	