{% extends "index.html" %}

{% block content %}
{% autoescape false %}
{% if data.news_coverage %}
	<div class="row">
		<div class="col-sm-12">
			<h2>Activities</h2>
			{% for key, value in data.news_coverage if break == 0 %}
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media row">
							<div class="media-left col-sm-3">
								<a href="#">
									<img class="img-rounded img-responsive" src="{{value.image.file_relative_path}}">
								</a>
							</div>
							<div class="media-body col-sm-9">
								<h3 class="media-heading">{{key}}</h3>
								<p>{{ value.newsdetails }}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
{% endautoescape %}
{% endblock %}
