
{% extends "index.html" %}

{% block title %}{{data.business_name}}{% endblock %}

{% block content %}
{% autoescape false %}
{% if data.testimonials %}
<div class="row">
	<div class="col-sm-12">
		<h2>Testimonials</h2>
		{% for key, value in data.testimonials if break == 0 %}
		<div class="panel panel-default">
			<div class="panel-body">
				<blockquote>
					<div class="media row">
						<div class="media-left col-sm-3">
							<a href="#">
								<img class="img-rounded img-responsive" src="{{value.image.0.file_relative_path}}">
							</a>
						</div>
						<div class="media-body col-sm-9">
							<h3 class="media-heading">{{key}}</h3>
							<p>{{ value.description }}</p>
							by <cite title="{{key}}">{{key}}</cite>
						</div>
					</div>
				</blockquote>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endautoescape %}
{% endblock %}
