	{% autoescape false %}
	<h2>Gallery</h2>
	<div class="row gallery">
		{% if data.gallery %}
			
			
			{% for key, value in data.gallery %}

			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="glryimg">
						<img src="{{value.image.file_relative_path}}" alt="{{key}}"/>
					</div>
					<div class="caption">
						<h4 class="text-center">{{value.heading}}</h4>
						<div class="description">{{ value.description }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
	{% endautoescape %}
