@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'AlegreyaSC-Regular';
  src: url('../fonts/AlegreyaSC-Regular.otf');
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
.featured_services {
  background-color: #efefef;
}
.featured_services .data {
  padding: 10px;
}
.featured_services .fstitle {
  margin-bottom: 20px;
  padding: 35px 0 0;
  color: #666666;
  /*&::before{
				right: 0.5em;
					background-color:@darkbackcolor;
					content: "";
					display: inline-block;
					height: 1px;
					vertical-align: middle;
					width: 43%;
				
			}
			&::after{
						background-color: @darkbackcolor;
						content: "";
						display: inline-block;
						height: 1px;
						vertical-align: middle;
						width: 37%;
						left: 0.5em;
						margin-right:-50%;
					
			}*/
}
.products .thumbnail {
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 50px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#efefef));
}
.products .thumbnail .prodimg {
  height: 250px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.products .thumbnail .prodimg img {
  min-height: 250px;
  width: 100%;
}
.products .thumbnail .prodimg img:hover {
  background-color: #333333;
}
.products .thumbnail h3 {
  padding-left: 15px;
}
.products .thumbnail .caption {
  padding: 13px;
}
.products .thumbnail .caption .description {
  height: 98px;
  overflow: hidden;
}
.products .thumbnail .sername {
  padding: 1px 16px 16px;
  height: 50px;
}
.products .thumbnail .readmore {
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 0 0 15%;
  width: 145px;
}
.products .thumbnail .readmore .bnt-info {
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px;
}
.products .thumbnail .readmore .bnt-info:hover {
  color: #ffffff;
  background-color: #ff9900;
  text-decoration: none;
}
.carousel .carousel-inner {
  background-color: #000000;
}
.carousel .carousel-inner .item {
  height: 430px;
  overflow: hidden;
}
.carousel .carousel-inner .item img {
  min-height: 380px;
  width: 100%;
  opacity: 0.8;
}
.carousel .carousel-inner .item .carousel-caption {
  color: #ff9900;
  right: 20%;
  left: 40%;
  padding-bottom: 230px;
}
.carousel .carousel-inner .item .carousel-caption h2 {
  font-size: 30px;
  text-align: center;
}
.carousel .carousel-control.right {
  background: none;
}
.carousel .carousel-control.left {
  background: none;
}
.about {
  background: url(../img/robome.jpg);
  background-repeat: no-repeat;
  background-attachment: top right;
}
.contact {
  background: url(../img/legomindstorm.jpg);
  background-repeat: no-repeat;
  background-attachment: top left;
}
.sociallinks {
  text-align: center;
  position: relative;
  bottom: -30px;
}
.sociallinks ul {
  list-style-type: none;
  padding-left: 0px;
}
.sociallinks ul li {
  display: inline;
}
.sociallinks ul li a {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-left: 10px;
}
.sociallinks #facebook {
  background: url("../img/sprite_social.png") 0px 0px;
}
.sociallinks #facebook:hover {
  background: url("../img/sprite_social.png") 0px -38px;
}
.sociallinks #google {
  background: url("../img/sprite_social.png") -114px 0;
}
.sociallinks #google:hover {
  background: url("../img/sprite_social.png") -114px -38px;
}
.sociallinks #twitter {
  background: url("../img/sprite_social.png") -38px 0;
}
.sociallinks #twitter:hover {
  background: url("../img/sprite_social.png") -38px -38px;
}
.sociallinks #linkedin {
  background: url("../img/sprite_social.png") -75px 0;
}
.sociallinks #linkedin:hover {
  background: url("../img/sprite_social.png") -75px -38px;
}
.sociallinks #pinterest {
  background: url("../img/sprite_social.png") -152px 0;
}
.sociallinks #pinterest:hover {
  background: url("../img/sprite_social.png") -152px -38px;
}
.imageGallery {
  background-color: #3d3f3f;
}
.imageGallery .featrGallery h3 {
  font-size: 35px;
  margin: 30px auto;
}
.imageGallery .featrGallery .thumbnail {
  height: 400px;
  overflow: hidden;
}
.imageGallery .featrGallery .thumbnail img {
  min-height: 400px;
}
* {
  transition: 300ms;
}
body {
  background-color: #ffffff;
}
header {
  background-color: #000000;
  clear: both;
  display: block;
  padding: 0;
  width: 100%;
  z-index: 90;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  padding: 0px;
  background-color: #ff9900;
  z-index: 92;
  border: none;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  padding: 0px;
  font: 700 20px/1.5em Arial, Helvetica, sans-serif;
  color: #ffffff;
  height: 66px;
  /*display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		&:before{
		  content: "";
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background: @colorblack;
		  -webkit-transform: scaleY(0);
		  transform: scaleY(0);
		  -webkit-transform-origin: 50% 0;
		  transform-origin: 50% 0;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;
		}*/
  /*&:hover, &:focus, &:active {
			color: @colorwhite;
		}
		&:hover:before, &:focus:before,&:active:before {
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}*/
}
.navbar-default .navbar-nav > li {
  margin-left: 8px;
}
.navbar-default .navbar-nav > li > a {
  border-top: 10px solid transparent;
  color: #ffffff;
  padding-top: 13px;
  text-transform: uppercase;
  font: 14px/18px "proxima-nova", sans-serif;
  letter-spacing: 0.2em;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background: transparent;
  border-top: 10px solid #000000;
  transition-timing-function: linear;
  transition: border-top 3s;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  color: #ffffff;
  background-color: #000000;
  padding-bottom: 25px;
}
.navbar-default .navbar-nav > li > ul {
  list-style: none;
  position: absolute;
  width: 245px;
  top: 58px;
  z-index: 999;
  display: none;
  background-color: #000000;
  padding: 10px;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
  font: 14px/18px sans-serif;
  font-style: normal;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  border: none;
  text-decoration: none;
  color: #ff9900;
}
.navbar-default .navbar-nav > li > ul > li:hover > ul {
  display: none;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.navbar-default .navbar-nav > li.child-menu {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navbar-default .navbar-nav > li.child-menu:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navbar-default .navbar-nav > li.child-menu:hover,
.navbar-default .navbar-nav > li.child-menu:focus,
.navbar-default .navbar-nav > li.child-menu:active {
  color: white;
}
.navbar-default .navbar-nav > li.child-menu:hover:before,
.navbar-default .navbar-nav > li.child-menu:focus:before,
.navbar-default .navbar-nav > li.child-menu:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.navbar-default .navbar-nav > li.child-menu::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  display: inline-block;
  position: absolute;
  top: 55%;
  right: 4px;
}
.logo {
  height: 90px;
}
h1,
h3 {
  color: #ff9900;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 50px auto 30px;
  font: 35px Enriqueta-Regular, Arial, Helvetica, sans-serif;
}
h2 {
  color: #666666;
  font: normal 75px/100px "Georgia", Arial, Helvetica, sans-serif;
}
h4 {
  font: 25px/29px "Georgia", Arial, Helvetica, sans-serif;
  color: #333333;
}
p {
  line-height: 25px;
}
.btn-info {
  font-weight: bold;
  padding: 6px 20px;
  margin-bottom: -20px;
  font-size: 15px;
  background: linear-gradient(#000000, #3d3f3f, #000000);
  box-shadow: 0 2px 4px #3d3f3f;
  border: none;
}
.btn-info:hover {
  background: #ff9900 !important;
}
.btn-success {
  font-weight: bold;
  color: #ff9900;
  background-color: transparent;
  border-color: transparent;
  margin-left: 7px;
  padding-top: 15px;
  padding-bottom: 21px;
}
.btn-success:hover {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}
.btn-danger {
  margin-left: 6%;
  padding: 7px 22px;
  margin-top: 17px;
}
footer {
  padding: 30px 15px;
  background-color: #000000;
  margin-top: 10px;
}
footer p {
  margin: 15px 10px 15px 10px;
}
footer p a {
  color: #ff9900;
}
footer p a:hover {
  color: #ffffff;
}
.content * {
  position: relative;
  z-index: 3;
}
.content h2 {
  /*&::before{
			right: 0.5em;
			background-color:@darkbackcolor;
			content: "";
			display: inline-block;
			height: 1px;
			vertical-align: middle;
			width: 20%;
		}
		&::after{
			background-color: @darkbackcolor;
			content: "";
			display: inline-block;
			height: 1px;
			vertical-align: middle;
			width: 20%;
			left: 0.5em;
			margin-right:-50%;
		}*/
}
.content .contact {
  color: #666666;
  text-align: left;
}
.content .contact p {
  margin: 15px 0 16px;
  font: 14px/19px Helvetica, sans-serif;
}
.content .tagline {
  color: #666666;
  font-weight: bold;
  font: 14px/19px Arial, Helvetica, sans-serif;
  text-align: center;
}
.content .tagline1 {
  color: #666666;
  font-weight: bold;
  font: 14px/19px Arial, Helvetica, sans-serif;
  text-align: center;
}
.nav > li a {
  color: #ff9900;
}
.nav > li a:hover {
  color: #3d3f3f;
  background-color: transparent;
}
.infrastructr .infrastruct {
  height: 380px;
  border: 1px solid #333333;
  border-radius: 0px;
  padding: 0px;
}
.infrastructr .infrastruct img {
  width: 100%;
  height: 200px;
}
.infrastructr .infrastruct img:hover {
  background-color: #333333;
  opacity: 0.8;
}
.infrastructr .infrastruct a:hover {
  color: #000000;
  text-decoration: none;
}
.infrastructr .infrastruct .btn-info {
  margin-left: 30%;
  margin-top: 20px;
}
/*.thumbnail{
				border:1px solid @darkbackcolor;
				border-radius:0px;
				padding:0px;
					.prodimg{
							height:250px;
							width:100%;
							overflow:hidden;
							margin:0 auto;
							img{
								width:100%;
								min-height:250px;
								&:hover{
								background-color:@darkbackcolor;
								opacity:0.8;
								}
							}
					}
					.description{
							margin: 0;
								color:@darkcolor;
								height:109px;
								overflow:hidden;
					    font: 14px/19px Arial,Helvetica,sans-serif;
						    text-align: justify;
								h3{
						        margin: 0 0 6px 0;
								padding: 0;
								a{
								color:@colorblack;
								font:40px/25px Enriqueta-Regular,Arial,Helvetica,sans-serif;
								&:hover{
									color:@color;
								}
								}
							}	
					}
					a{
							&:hover{
									color:@colorblack;
									text-decoration:none;
							}
					}
					.sername{
							margin: 0;
							padding: 16px 18px 5px 18px;	
					}
					.servimg{
							height:200px;
							width:100%;
								img{
									min-height:200px;
									width:100%;
									&:hover{
													background-color:@darkbackcolor;
													opacity:0.8;
													}
								}
					}
	}*/
.form {
  float: left;
  width: 350px;
  color: #ff9900;
  margin-top: -60px;
}
.image {
  float: right;
  height: 200px;
  margin-top: -60px;
}
.panel {
  border: none;
}
.about p {
  text-align: justify;
}
.about .img1 {
  width: 100%;
  height: 100%;
}
h2 {
  text-align: left;
}
.email {
  color: #000000;
}
.email:hover {
  color: #ff9900;
}
.send {
  background-color: #ff9900;
  color: #ffffff;
}
.send:hover {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 768px) {
  .navbar-brand {
    float: none;
  }
}
@media (max-width: 320px) {
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #000000;
    border-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
}
.anim1 {
  position: relative;
  -webkit-animation-name: anim1;
  -webkit-animation-duration: 10s;
}
@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
  }
  80% {
    top: 400px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.anim2 {
  position: absolute;
  left: 800px;
  top: 200px;
  opacity: 0;
  -webkit-animation-name: anim2;
  -webkit-animation-duration: 8s;
}
@-webkit-keyframes anim2 {
  0% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}
.anim4 {
  position: absolute;
  left: 850px;
  top: 200px;
  opacity: 0;
  -webkit-animation-name: anim4;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 4s;
}
@-webkit-keyframes anim4 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  30% {
    opacity: 1;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px purple;
  }
  50% {
    opacity: 1;
    color: #144FFF;
  }
  70% {
    opacity: 1;
    color: #ff9900;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    color: #ff9900;
    transform: rotate(360deg);
  }
}
