body {
  background-color: #ffffff;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/asd.ttf');
}
header {
  background-color: #000000;
  clear: both;
  display: block;
  padding: 0;
  width: 100%;
  z-index: 90;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-default {
  margin-left: 90px;
  padding: 0;
  background-color: #ff9900;
  z-index: 92;
  border: none;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  padding-top: 20px;
  color: #ffffff;
}
.navbar-default .navbar-brand:hover {
  color: #ffffff;
  background: black;
  height: 62px;
}
.navbar-default .navbar-nav li {
  margin-left: 8px;
}
.navbar-default .navbar-nav li > ul {
  list-style: none;
  position: absolute;
  width: 245px;
  top: 61px;
  z-index: 999;
  display: none;
  background-color: #000000;
  padding: 10px;
  text-align: left;
}
.navbar-default .navbar-nav li > ul > li {
  padding: 10px;
}
.navbar-default .navbar-nav li > ul > li > a {
  color: #ffffff;
  font: 14px/18px "proxima-nova", sans-serif;
  font-style: normal;
  text-transform: lowercase;
}
.navbar-default .navbar-nav li > ul > li > a:hover {
  border: none;
  text-decoration: none;
  color: #f90;
}
.navbar-default .navbar-nav li > ul > li:hover > ul {
  display: none;
}
.navbar-default .navbar-nav li:hover > ul {
  display: block;
}
.navbar-default .navbar-nav li > a {
  border-top: 10px solid transparent;
  color: #ffffff;
  padding-top: 13px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li > a:hover {
  color: #ffffff;
  background: transparent;
  border-top: 10px solid #000000;
  transition-timing-function: linear;
  transition: border-top 3s;
}
.navbar-default .navbar-nav .active > a,
.navbar-default .navbar-nav .active > a:hover,
.navbar-default .navbar-nav .active > a:focus {
  color: #ffffff;
  background-color: #000000;
  padding-top: 13px;
  padding-bottom: 19px;
}
.navbar-default .navbar-nav > li.child-menu::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  display: inline-block;
  position: absolute;
  top: 55%;
  right: 0px;
}
.products {
  background: url("../img/bg1.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
}
.products .product {
  position: relative;
  height: 500px;
  border-radius: 0px;
  padding: 0px;
  margin-top: 30px;
}
.products .product .prodimg1 img {
  width: 100%;
  height: 250px;
}
.products .product .prodimg1 img:hover {
  background-color: #cccccc;
  opacity: 0.8;
}
.products .product .description p {
  display: block;
  padding: 0px 16px 16px 18px;
  padding-left: 0px;
  color: #666666;
  height: 170px;
  overflow: hidden;
  font: 14px/19px Arial, Helvetica, sans-serif;
}
.products .product a {
  margin-left: 50%;
  color: #ffffff;
}
.products .product a:hover {
  color: #ffffff;
  background-color: #ff9900;
  text-decoration: none;
}
.products .product .sername {
  padding: 1px 16px 16px;
  height: 50px;
}
.products .product h3 {
  font: 20px/25px Georgia, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ff9900;
}
.products .product .readmore1 {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
}
.btn-info {
  font-weight: bold;
  padding: 6px 20px;
  margin-bottom: -20px;
  font-size: 18px;
  background: linear-gradient(#000000, #2a2a2a, #000000);
  box-shadow: 0 3px 6px #2a2a2a;
  border: none;
}
.btn-info:hover {
  background: #ff9900 !important;
}
.btn-success {
  font-weight: bold;
  color: #ff9900;
  background-color: transparent;
  border-color: transparent;
  margin-left: 7px;
  padding-top: 15px;
}
.btn-success:hover {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}
.ftr {
  position: relative;
  color: #666666;
  padding-top: 80px;
  height: 150px;
  width: 100%;
  background-color: #000000;
}
.ftr a {
  color: #ff9900;
}
.ftr a:hover {
  color: #ffffff;
}
.sociallinks {
  position: absolute;
  z-index: 999;
  /* margin-top: -83px; */
  border: none;
  top: -71px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 300px;
}
.sociallinks ul {
  list-style-type: none;
}
.sociallinks ul li {
  display: inline;
}
.sociallinks ul li a {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
}
.sociallinks #facebook {
  background: url("../img/sprite_social.png") 0px 0px;
}
.sociallinks #facebook:hover {
  background: url("../img/sprite_social.png") 0px -38px;
}
.sociallinks #google {
  background: url("../img/sprite_social.png") -114px 0;
}
.sociallinks #google:hover {
  background: url("../img/sprite_social.png") -114px -38px;
}
.sociallinks #twitter {
  background: url("../img/sprite_social.png") -38px 0;
}
.sociallinks #twitter:hover {
  background: url("../img/sprite_social.png") -38px -38px;
}
.sociallinks #linkedin {
  background: url("../img/sprite_social.png") -75px 0;
}
.sociallinks #linkedin:hover {
  background: url("../img/sprite_social.png") -75px -38px;
}
.sociallinks #pinterest {
  background: url("../img/sprite_social.png") -152px 0;
}
.sociallinks #pinterest:hover {
  background: url("../img/sprite_social.png") -152px -38px;
}
.content h1 {
  color: #666666;
  text-align: center;
  font: 30px/25px Georgia, Arial, Helvetica, sans-serif;
}
.content h2 {
  color: #666666;
  text-align: center;
  font: 30px/25px Georgia, Arial, Helvetica, sans-serif;
}
.content h3 {
  color: #666666;
  text-align: left;
  font: 30px/25px Georgia, Arial, Helvetica, sans-serif;
}
.content .contact {
  color: #666666;
  text-align: left;
}
.content .tagline {
  color: #666666;
  font-weight: bold;
  font: 30px/25px Georgia, Arial, Helvetica, sans-serif;
}
.content .description p {
  display: none;
  padding-left: 50%;
}
.content .description .btn-link {
  color: #ff9900;
  padding-left: 47%;
}
.content .description .btn-link:hover {
  color: #d37f00;
}
.featured_services {
  background-color: #efefef;
}
.featured_services .data {
  padding: 10px;
}
.featured_services .fstitle {
  margin-bottom: 20px;
  padding: 35px 0 0;
  color: #666666;
  font: 30px/25px Georgia, Arial, Helvetica, sans-serif;
}
.featured_services .fstitle::before {
  right: 0.5em;
  background-color: #cccccc;
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 43%;
}
.featured_services .fstitle::after {
  background-color: #cccccc;
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 40.33%;
  left: 0.5em;
  margin-right: -50%;
}
.nav > li a {
  color: #ff9900;
}
.nav > li a:hover {
  color: #d37f00;
  background-color: transparent;
}
.infrastructure {
  background-color: #efefef;
}
.infrastructure .Ititle {
  margin-bottom: 20px;
  padding: 35px 0 0;
  color: #666666;
  font: 24px/18px "proxima-nova", sans-serif;
}
.infrastructure .Ititle::before {
  right: 0.5em;
  background-color: #cccccc;
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 43%;
}
.infrastructure .Ititle::after {
  background-color: #cccccc;
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 35.70%;
  left: 0.5em;
  margin-right: -50%;
}
.infrastructure p {
  height: 40px;
  text-align: left;
  padding: 10px;
}
.infrastructr .infrastruct {
  height: 380px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  padding: 0px;
}
.infrastructr .infrastruct img {
  width: 100%;
  height: 200px;
}
.infrastructr .infrastruct img:hover {
  background-color: #cccccc;
  opacity: 0.8;
}
.infrastructr .infrastruct a:hover {
  color: #000000;
  text-decoration: none;
}
.infrastructr .infrastruct .btn-info {
  margin-left: 30%;
  margin-top: 20px;
}
.infrastructr .infrastruct h4 {
  font: 20px/18px Georgia, Arial, Helvetica, sans-serif;
}
.thumbnail {
  height: 320px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  padding: 0px;
}
.thumbnail .prodimg img {
  width: 100%;
  height: 150px;
}
.thumbnail .prodimg img:hover {
  background-color: #cccccc;
  opacity: 0.8;
}
.thumbnail .description {
  margin: 0;
  padding: 16px 18px 5px 18px;
  color: #666666;
  height: 100px;
  overflow: hidden;
  font: 14px/19px Arial, Helvetica, sans-serif;
}
.thumbnail .description h3 {
  margin: 0 0 6px 0;
  padding: 0;
}
.thumbnail .description h3 a {
  color: #000000;
  font: 22px/25px "Georgia", Arial, Helvetica, sans-serif;
}
.thumbnail .description h3 a:hover {
  color: #ff9900;
}
.thumbnail a:hover {
  color: #000000;
  text-decoration: none;
}
.thumbnail .sername {
  margin: 0;
  padding: 16px 18px 5px 18px;
}
.cont {
  background: url('../img/divide.png');
  background-position: right;
  background-repeat: no-repeat;
}
.form {
  float: left;
  width: 350px;
  color: #2a2a2a;
  margin-top: -60px;
}
.image {
  float: right;
  height: 200px;
  margin-top: -60px;
}
.panel {
  border: none;
}
.about p {
  text-align: justify;
}
.about .img1 {
  width: 100%;
  height: 100%;
}
h2 {
  text-align: left;
}
.email {
  color: #000000;
}
.email:hover {
  color: #ff9900;
}
.send {
  background-color: #ff9900;
  color: #ffffff;
}
.send:hover {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 768px) {
  .navbar-brand {
    float: none;
  }
}
