@font-face {
  font-family: 'Acknowledgement';
  src: url('../fonts/Acknowledgement.otf');
}
@font-face {
  font-family: 'FengardoNeue_Regular';
  src: url('../fonts/FengardoNeue_Regular.otf');
}
.featuredProperty .bxslider1 {
  padding-left: 10px;
  list-style: none;
}
.featuredProperty .bxslider1 h4 {
  padding-left: 25px;
}
.featuredProperty .bxslider1 .row {
  padding-bottom: 10px;
}
.featuredProperty .bxslider1 li .sliderImg img {
  max-height: 215px;
  width: 100%;
  padding: 4px;
  border: 3px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg img:hover {
  border: 3px solid #23527c;
}
.featuredProperty .bxslider1 li .sliderDesc .readmore {
  margin-bottom: 25px;
}
.featuredProperty .bxslider1 li .sliderDesc .readmore .head {
  margin-right: 10px;
  padding-left: 10px;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.propertylist {
  padding: 20px 20px 0px;
  border: 1px solid #f5f9ff;
}
.propertylist .btn-primary {
  margin-right: 7px;
  margin-bottom: 10px;
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 0px;
  font-weight: bold;
}
.propertylist .btn-primary:hover {
  background-color: #2d4065;
}
.propertylist .panel-default {
  border-color: #2d4065;
}
.propertylist .table td {
  border: none;
  padding: 1px 1px;
}
.propertylist .viewdtls {
  margin-right: 10px;
}
.singleproperty .property {
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid #2d4065;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px dashed #2d4065;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .propDetails ul li {
  padding: 3px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #2d4065;
  color: #ffffff;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #2d4065;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 0px;
  font-weight: bold;
}
.singleproperty .btn-primary:hover {
  background-color: #2d4065;
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 224px;
  }
  .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 274px;
  }
  .property .mainimg img {
    max-height: 180px;
    max-width: 100%;
  }
}
.bxslider {
  padding: 5px;
}
.bxslider li {
  width: 100px;
}
.bxslider li img {
  min-height: 190px;
  border: 2px solid transparent;
  padding: 6px;
}
.bxslider li img:hover {
  border: 2px solid #23527c;
}
.bxslider li a {
  color: #337ab7;
  font-weight: bold;
  text-decoration: underline;
}
.bxslider li a:hover {
  color: #337ab7;
  text-decoration: none;
}
.homeproject {
  height: 372px;
}
.homeproject .projectCarousal {
  display: inline-block;
  float: left;
  position: relative;
}
.homeproject .projectCarousal .carousel-inner .item.active {
  height: 415px;
  overflow: hidden;
}
.homeproject .projectCarousal .carousel-inner .item.active img {
  min-height: 415px;
}
.homeproject .projectCarousal .carousel-inner .carousel-caption h2 {
  border: none;
}
.homeproject .projectCarousal .projsnap {
  width: 0px;
  height: 372px;
  opacity: 0;
  background-color: transparent;
  transform: translateX(530px);
  transition: all 0.3s ease-in-out;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.homeproject .projectCarousal .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projectCarousal .projsnap .viewproperty {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}
.homeproject .projectCarousal .projsnap .viewproperty a {
  color: #ffffff;
}
.homeproject .projectCarousal .projsnap .viewproperty a:hover {
  color: #ffffff;
}
.homeproject .projectCarousal:hover .projsnap {
  opacity: 1;
  width: 529px;
  transform: translateX(0px);
}
.homeproject .projectnav {
  display: inline-block;
  height: 415px;
  padding: 10px;
  background-image: -webkit-linear-gradient(left, #2d4065, #23527c 93%, #2d4065);
}
.homeproject .projectnav .builderLogo img {
  max-height: 56px;
}
.homeproject .projectnav .nav-stacked {
  margin: 5px;
}
.homeproject .projectnav .nav-stacked > li {
  border-bottom: 1px dotted #f5f9ff;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus {
  color: #ffffff;
  padding: 13px 15px;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #99ccff;
}
.projlist {
  border: 1px solid #2d4065;
  box-shadow: 3px 3px 6px #ADADAD;
  background-color: #f5f9ff;
  padding: 10px;
}
.projlist .project .thumbnail {
  height: 370px;
  padding-top: 15px;
}
.projlist .project .thumbnail img {
  width: 100%;
}
.projlist .project .thumbnail .caption {
  color: #99ccff;
}
.projlist .project .thumbnail .caption a {
  color: #337ab7;
  text-decoration: none;
}
.projlist .project .thumbnail .caption a:hover {
  color: #337ab7;
  text-decoration: underline;
}
.projlist .project .thumbnail .caption p {
  color: #000000;
}
.project .navbar {
  height: 50px;
  border: 1px solid #f5f9ff;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: auto;
}
.project ul.nav.navbar-nav {
  background-color: #2d4065;
  height: 42px;
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #f5f9ff;
  height: 38px;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 14px;
  color: #ffffff;
  font-weight: bold;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  color: #99ccff;
  background-color: #2d4065;
}
.project .projImg {
  margin-right: 20px;
  max-height: 175px;
}
.project .projectgallery {
  background-color: #337ab7;
  border: 1px solid #f5f9ff;
  padding: 20px 20px 0px;
}
.project .projectgallery .thumbnail {
  background-color: #2d4065;
}
@media (min-width: 320px) {
  .projImg {
    float: none;
    max-height: 175px;
    margin-right: 10px;
  }
  .projectnav {
    width: 242px;
  }
  .projectCarousal {
    width: 620px;
  }
}
@media (min-width: 992px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
  .projectnav {
    width: 200px;
  }
  .projectCarousal {
    width: 512px;
  }
}
@media (min-width: 1200px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
  .projectnav {
    width: 200px;
  }
  .projectCarousal {
    width: 529px;
  }
}
.services .servdesc .readmore {
  margin-bottom: 30px;
}
.services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.services .servimage:hover {
  border: 4px solid #23527c;
}
.products .thumbnail,
.singleproduct .thumbnail {
  border-color: #2d4065;
}
.products .thumbnail img {
  width: 100%;
}
.products .thumbnail .readmore {
  padding-left: 10px;
}
@media (min-width: 320px) {
  .products .thumbnail {
    height: 465px;
  }
  .products .thumbnail .caption {
    height: 138px;
  }
  .singleproduct .thumbnail {
    height: 186px;
  }
}
@media (min-width: 992px) {
  .products .thumbnail {
    height: 450px;
  }
  .products .thumbnail .caption {
    height: 150px;
  }
  .singleproduct .thumbnail {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .products .thumbnail {
    height: 415px;
  }
  .products .thumbnail .caption {
    height: 195px;
  }
  .singleproduct .thumbnail {
    height: 192px;
  }
}
.sidebar .nav-pills {
  background-color: #2d4065;
}
.sidebar .nav-pills > li {
  border-right: 1px solid #f5f9ff;
}
.sidebar .nav-pills > li > a,
.sidebar .nav-pills > li > a:focus {
  color: #ffffff;
  font-weight: bold;
}
.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active:hover > a,
.sidebar .nav-pills > li.active > a:focus,
.sidebar .nav-pills > li:hover > a,
.sidebar .nav-pills > li:hover > a:focus,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
  color: #99ccff;
  background-color: #2d4065;
}
.about .table tbody tr th,
.contact .table tbody tr th,
.about .table tbody tr td,
.contact .table tbody tr td {
  border-color: #2d4065;
}
.about .table {
  margin-top: 20px;
}
.infrastructure .thumbnail {
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
}
.infrastructure .thumbnail .caption {
  height: 138px;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 395px;
}
.testimonial blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer img {
  max-height: 50px;
  margin-right: 10px;
}
.testimonial blockquote footer cite {
  font-size: 17px;
  color: #337ab7;
}
.send,
.calculate {
  margin-right: 8px;
}
.sidebarModule .panel-default {
  border: none;
}
.sidebarModule.sidemenu ul {
  padding: 0;
  list-style: none;
}
.sidebarModule.sidemenu ul li {
  margin-bottom: 10px;
}
.sidebarModule.sidemenu a {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-size: 100% 100%;
  overflow: hidden;
}
.sidebarModule.sidemenu a.area_converter {
  background-image: url('../img/area_converter.png');
}
.sidebarModule.sidemenu a.emi_calculator {
  background-image: url('../img/emi_calculator.png');
}
.sidebarModule.sidemenu a.post_your_property {
  background-image: url('../img/post_your_property.jpg');
}
.sidebarModule.sidemenu a.post_your_requirement {
  background-image: url('../img/post_your_requirement.jpg');
}
.gallery .thumbnail {
  border-color: #2d4065;
}
@media (min-width: 320px) {
  .gallery .thumbnail {
    height: 380px;
  }
}
@media (min-width: 992px) {
  .gallery .thumbnail {
    height: 365px;
  }
  .gallery .thumbnail img {
    max-height: 155px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    height: 380px;
  }
  .gallery .thumbnail img {
    max-height: 200px;
    width: 100%;
  }
}
* {
  transition: 300ms;
}
.container {
  width: 992px !important;
}
body {
  font-family: 'FengardoNeue_Regular';
}
body header .nava {
  padding-right: 0px;
}
body header .caro {
  padding-left: 0px;
}
body header .logo {
  padding: 10px 0px;
}
body header .logo img {
  height: 100px;
}
body header .sidenav {
  background: #2d4065;
  background-image: -webkit-linear-gradient(left, #2d4065, #23527c 93%, #2d4065);
  padding: 15px;
}
body header .sidenav .nav li {
  border-bottom: 1px dotted #f5f9ff;
  position: relative;
}
body header .sidenav .nav li > a {
  color: #ffffff;
  padding: 10px 15px;
}
body header .sidenav .nav li > a:hover,
body header .sidenav .nav li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #99ccff;
}
body header .sidenav .nav li.active a,
body header .sidenav .nav li span {
  background-color: transparent;
  color: #99ccff;
}
body header .sidenav .nav li .navigation {
  padding: 10px;
  font-size: 20px;
}
body header .sidenav .nav li ul {
  display: none;
  position: absolute;
  list-style: none;
  background-image: -webkit-linear-gradient(left, #2d4065, #23527c 93%, #2d4065);
  padding: 15px;
  left: 100%;
  width: 278px;
  top: 0;
  z-index: 999;
}
body header .sidenav .nav li ul > li {
  border-bottom: 1px dotted #f5f9ff;
}
body header .sidenav .nav li ul > li > a {
  color: #ffffff;
  padding: 10px 15px;
  display: block;
}
body header .sidenav .nav li ul > li > a:hover {
  color: #99ccff;
  text-decoration: underline;
}
body header .sidenav .nav li ul > li > ul {
  display: none;
  list-style: none;
}
body header .sidenav .nav li ul > li > ul > li {
  border-bottom: 1px dotted #f5f9ff;
}
body header .sidenav .nav li ul > li > ul > li > a {
  color: #ffffff;
  padding: 10px 15px;
  display: block;
}
body header .sidenav .nav li ul > li > ul > li > a:hover {
  color: #99ccff;
  text-decoration: underline;
}
body header .sidenav .nav li ul > li:hover > ul {
  display: block;
}
body header .sidenav .nav li:hover > ul {
  display: block;
}
body main {
  margin-top: 15px;
}
body main .featured {
  margin-top: 10px;
}
body main .container {
  background-color: #f5f9ff;
}
body main .contentModule,
body main .sidebarModule {
  border: 1px solid #2d4065;
  margin-top: 10px;
  margin-bottom: 10px;
}
body main .contentModule h3,
body main .sidebarModule h3 {
  margin-top: 0px;
  font-size: 15px;
  color: #ffffff;
  background-color: #2d4065;
  padding: 10px 15px;
}
body main .sidebarModule {
  padding: 15px;
}
body main .sidebarModule > h3 {
  margin: -15px -15px 10px;
}
body a {
  color: #337ab7;
}
body a:hover {
  color: #23527c;
}
body h1,
body h2 {
  font: 2em/2.5em Acknowledgement;
}
body h1,
body h2,
body h3,
body h4 {
  color: #23527c;
}
body h1,
body h2,
body h3 {
  border-bottom: 1px solid #99ccff;
}
body .btn-info,
body .btn-info:focus,
body .btn-info:active,
body .btn-info[disabled] {
  background: none;
  border: none;
  border-radius: 0px;
  color: #337ab7;
  font-weight: bold;
  padding-left: 0px;
}
body .btn-info:hover {
  color: #23527c;
  background: none;
  text-decoration: underline;
}
body hr {
  border-style: dashed;
  border-color: #333;
  margin: 5px 0px;
}
body .btn-link {
  color: #337ab7;
  font-size: 18px;
  padding-left: 0px;
}
body .btn-link:hover {
  color: #23527c;
}
body .sidebarModule .btn-info,
body .sidebarModule .btn-info:focus,
body .sidebarModule .btn-info:active,
body .sidebarModule .btn-info[disabled] {
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 0px;
  font-weight: bold;
  padding-left: 12px;
}
body .sidebarModule .btn-info:hover {
  background-color: #23527c;
}
body .sidebarModule .send {
  margin-right: 8px;
}
body .sidebarModule .sideimg {
  margin-bottom: 10px;
}
body footer {
  padding: 20px;
  background-image: -webkit-linear-gradient(left, #2d4065, #23527c 93%, #2d4065);
  color: #ffffff;
}
body footer p {
  margin: 0;
}
body footer a,
body footer a:hover {
  color: #ffffff;
}
