body{

font: 12px Verdana;
color: #000;
background: #719a00;

}
a{
text-decoration:none;

}
a:hover{
text-decoration:none;
}
@media (min-width: 320px){
.container{
margin: auto auto;
background-color:white;
}
}
@media screen and (min-width: 324px){
.nav2{
box-sizing: border-box;
}
.nav1>ul{
list-style-type:none;
background-color:green;
line-height:25px;
box-sizing: border-box;
}
.nav1>ul>li{
display:inline-block;
padding:7px;
border-right:1px solid #666;
}
.nav1>ul>li>a{
text-decoration:none;
color:white;
}
.nav1>ul>li>a:hover{
text-decoration:none;
color:#719a00;
}
}
.nav2{
box-sizing: border-box;
}
.nav2>ul{
position: relative;
    list-style: none;
    margin: 7px;
    padding: 0;
}
.nav2>ul>li{
    margin: 0;
    padding: 0;
    float: left;
}
.nav2>ul>li>a{
    display: inline;
    float: left;
    margin: 0;
    padding: 8px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold;
    color: #555452;
    font-family: Verdana, Geneva, sans-serif;
    background: #719a00;
    border: 1px solid #707071;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #F6F6F8;
    text-shadow: 0px -1px 0px black;
    -moz-transition: all 310ms ease-in-out 0s;
    -webkit-transition: all 310ms ease-in-out;
    -o-transition: all 310ms ease-in-out;
    transition: all 310ms ease-in-out;
}
.nav2>ul>li a:hover {
    box-shadow: inset 0px 60px 0px 0px #333333;
    -moz-transition: all 270ms ease-in-out 0s;
    -webkit-transition: all 310ms ease-in-out;
    -o-transition: all 270ms ease-in-out;
    transition: all 270ms ease-in-out;
}
p{

position:relative;
}
.nav3{
border-bottom:1px solid #E7E7E7;

}
.nav3>ul{
list-style:none;

}
.nav3>ul>li{

padding:10px;

}
.nav3>ul>li>a{
color:black;

}
.nav3>ul>li>a:hover{
font-weight:bold;
text-decoration:none;
}





.p1:before{
content:url('../images/Orthopaedics.png');
position:absolute;
    left: 28px;
}
.p2:before{
content:url('../images/Gynaecology.png');
position:absolute;
    left: 28px;
}
.p3:before{
content:url('../images/Obstetrics.png');
position:absolute;
    left: 28px;
}
.p4:before{
content:url('../images/Obesity.png');
position:absolute;
    left: 28px;
}
.p5:before{
content:url('../images/Diabetology.png');
position:absolute;
    left: 28px;
}
.p6:before{
content:url('../images/Obstetrics.png');
position:absolute;
    left: 28px;
}
.glys>p:hover{
font-weight:bold;
}
.red>img{
padding:5px;
border: 1px solid #dfdfdf;
background-color: #eeeeee;
}
.red>p{
    position: relative;
    width: 262px;
    text-align: justify;
}

.readmore {
    display: block;
    background-color: #719A00;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Verdana;
    text-decoration: none;
    padding: 7px;
    width: 90px;
}
 .red>h2 {
    font-family: Georgia;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 8px;
}
.footer{
      clear: both;
     background: -o-linear-gradient(#ACA7A7, white); /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#ACA7A7, white); /* For Firefox 3.6 to 15 */
    
    font-size: 0.9em;
    padding: 20px 10px;
    color: #9E9E9D;
	}
.footer>img{
float:right;
margin-right:20px;

}
h4{
color:#719a00;
}
    .glys{
	background: linear-gradient(#ACA7A7, white);
	    border-right: 14px solid white;
}
ul>.insurance{

}
.b>li{
padding:5px;


}
.c>li{

padding:4px;
}
.c>li>a{
color:black;


}
.c>li>a:hover{
font-weight:bold;


}
td{
text-align:center;
padding-top:10px;
padding-bottom:10px;
}
th{
padding-left:40px;
}
td>a:hover{
color:black;
font-weight:bold;
padding-left:20px;
}
.slider>img{
max-width:100px;
min-width:100px;
max-height:100px;


}
td>a{
color:black;
}
.slideInfoZone {
	height: auto !important;
	padding: 10px;
	width: 580px !important;
}

.carousslider {
			width: 86px;
			height: 60px;

}
.carousslider item{
			width: 86px;
			height: 60px;
			overflow:hidden;
	

}
.carousslider item img{
				min-height:60px;
				width: 100%;
}
.img-responsive{
width:100%;
}

.btn-info{
    display: block;
    background-color: #719A00;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana;
    text-decoration: none;
    padding: 3px;
    width: 80px;
	border-color:transparent;
}
.btn-info:hover{
color:#23527c;
background-color:#719A00;
border-color:transparent;
}
.logo
{
    height: 150px;
	width: 500px;
}
h4{
color:#337ab7;
}
h4:hover{
    color: #23527c;
}
.thumbnail{
height:350px;
border-color:transparent;
}
.fproduct{
padding-right:8px;
}
.centerblock{
width:100%;
height:100px;
}