{% autoescape false %}
	{% if data.testimonials %}
	<div class="content">
		<div class="row testimonial">
			{% for key, value in data.testimonials if break == 0 %}
			<div class="col-xs-12 col-sm-12 col-lg-6">
				<blockquote>
					<div class="description">{{ value.description }}</div>
					<footer><img class="img-circle" src="{{value.image.file_relative_path}}"> <cite title="Source Title">{{value.heading}}</cite></footer>
				</blockquote>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endautoescape %}
