@font-face {
  font-family: 'Amaranth-Regular';
  src: url('../fonts/Amaranth-Regular.otf');
}
@font-face {
  font-family: 'QumpellkaNo12';
  src: url('../fonts/QumpellkaNo12.otf');
}
@font-face {
  font-family: 'GandhiSans-Bold';
  src: url('../fonts/GandhiSans-Bold.otf');
}
@font-face {
  font-family: 'Kirsty';
  src: url('../fonts/Kirsty.ttf');
}
.bxslider {
  padding: 5px;
}
.bxslider li {
  width: 100px;
}
.bxslider li .projimg {
  height: 200px;
  overflow: hidden;
}
.bxslider li .projimg img {
  min-height: 200px;
  padding: 4px;
  border: 2px solid transparent;
}
.bxslider li .projimg img:hover {
  border: 2px solid #0088cc;
}
#carousel {
  background-color: #e4e6e7;
}
#carousel .carousel-inner .item {
  max-height: 298px;
  overflow: hidden;
  height: 200px;
}
#carousel .carousel-inner .item > img {
  width: 100%;
  min-height: 200px;
}
#carousel a.left.carousel-control,
#carousel a.right.carousel-control {
  background: none;
}
.homeproject {
  margin-top: 20px;
  position: relative;
}
.homeproject #carousel {
  box-shadow: 0px 0px 10px 0px black;
  border: 5px solid #ffffff;
}
.homeproject .bx-wrapper,
.homeproject .projectnav,
.homeproject .projsnap {
  box-shadow: 0px 0px 10px #999;
  border: 1px solid #e4e6e7;
}
.homeproject .bx-wrapper {
  margin-top: 5px !important;
  border-radius: 4px;
}
.homeproject .bx-viewport {
  min-height: 300px !important;
}
.homeproject .bx-viewport .carousslider {
  padding-left: 0px;
}
.homeproject .bx-viewport .carousslider li {
  border: 3px solid #f9f4da;
  min-height: 300px;
  min-width: 100% !important;
}
.homeproject .bx-viewport .carousslider li img {
  width: 100%;
  min-height: 305px;
}
.homeproject .bx-viewport .carousslider li.item {
  overflow: hidden;
  height: 305px;
}
.homeproject .bx-viewport img {
  height: 400px;
  min-width: 100%;
}
.homeproject .projectnav,
.homeproject .projsnap {
  padding: 5px;
  height: 312px;
  margin-top: 5px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li a:focus {
  position: relative;
  display: block;
  padding: 10px 8px;
  background: none;
  border: 5px solid #e4e6e7;
  font-weight: bold;
  color: #0088cc;
}
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li a:focus:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  /*background: -webkit-linear-gradient(right,#ccc,#0D8375);*/
  /*background: -moz-linear-gradient(right,#ccc,#0D8375);*/
  /*background: linear-gradient(right,#ccc,#0D8375);*/
}
.homeproject .projsnap p {
  margin: 5px 5px;
  text-align: center;
  padding: 1px;
  border: 5px solid #e4e6e7;
  color: #0088cc;
}
.homeproject #carousel {
  height: 312px;
  margin-top: 5px;
  background-color: #e4e6e7;
}
.homeproject #carousel .carousel-inner .item {
  min-height: 303px;
  overflow: hidden;
}
.homeproject #carousel .carousel-inner .item > img {
  width: 100%;
  min-height: 312px;
}
.homeproject #carousel a.left.carousel-control,
.homeproject #carousel a.right.carousel-control {
  background: none;
}
.homeproject::after {
  position: absolute;
  content: "";
  background-image: url('../img/home.png');
  background-size: 100% 100%;
  left: 200px;
  top: 123px;
  z-index: 999;
  height: 197px;
  width: 120px;
}
.projlist {
  border: 1px solid #20003d;
  border-radius: 5px;
  /*background-color:@back;*/
  padding: 10px;
}
.projlist .panel-default {
  background-color: #0088cc;
}
.projlist .panel-default img {
  border: 2px solid #e4e6e7;
}
.projlist .panel-default img:hover {
  border: 4px solid #0088cc;
}
.projlist .project .thumbnail {
  background-color: #ffffff;
  height: 400px;
  padding-top: 15px;
  border-color: #20003d;
}
.projlist .project .thumbnail .btn-info {
  background-color: #0088cc;
}
.projlist .project .thumbnail img {
  max-height: 183px;
  overflow: hidden;
  border: 0 solid #333239;
  text-align: center;
  transition: all 0.2s ease;
}
.projlist .project .thumbnail img:hover {
  transition: all 0.2s ease;
}
.projlist .project .thumbnail .caption {
  height: 190px;
}
.projlist .project .thumbnail .caption p {
  color: #000000;
}
.projlist .project .pagination {
  align: center;
}
.projlist .project .projImg {
  margin-right: 20px;
  max-height: 175px;
}
.project .projectgallery {
  /*background-color : @back;*/
  border: 1px solid #0088cc;
  padding: 20px 20px 0px;
}
.project .projectgallery .thumbnail {
  background-color: #20003d;
}
.project .projectgallery .thumbnail .projectImags {
  width: 190px;
  height: 148px;
  overflow: hidden;
  margin: 0 auto;
}
.project .projectgallery .thumbnail .projectImags img {
  min-height: 148px;
}
.project nav .pagination li a,
.project nav .pagination .disabled a {
  background-color: #ffffff;
  border-color: #20003d;
}
.project nav .pagination li a:hover,
.project nav .pagination .disabled a:hover {
  background-color: #0088cc;
  color: #ffffff;
}
.project nav .pagination > .active > a {
  background-color: #0088cc;
  color: #ffffff;
  border-color: #000000;
}
@media (max-width: 768px) {
  .homeproject::after {
    display: none;
    width: 0px;
  }
  .projectnav,
  .projsnap,
  .bx-wrapper {
    margin-bottom: 10px !important;
  }
}
@media (min-width: 320px) {
  .projImg {
    float: none;
    max-height: 175px;
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
}
.featuredProperty .bxslider1 {
  padding-left: 0px;
  list-style: none;
}
.featuredProperty .bxslider1 li {
  padding: 20px;
}
.featuredProperty .bxslider1 li .row {
  border: 1px solid #20003d;
  box-shadow: 2px 2px 10px #000000;
  padding: 15px 30px;
  border-radius: 5px;
}
.featuredProperty .bxslider1 li .sliderImg {
  height: 150px;
  width: 200px;
  overflow: hidden;
  border: 2px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg .slimg {
  min-height: 150px;
}
.featuredProperty .bxslider1 li .sliderImg:hover {
  border: 2px solid #005580;
}
.featuredProperty .bxslider1 li .verify {
  width: 55%;
  border: none;
  margin-left: 10px;
  position: absolute;
  right: -55px;
  bottom: -15px;
  z-index: 999;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.propertylist .panel-default {
  border: 1px solid #20003d;
  box-shadow: 2px 2px 10px #000000;
}
.propertylist .panel-default .sliderImg {
  width: 200px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}
.propertylist .panel-default .sliderImg img {
  min-height: 150px;
  padding: 4px;
  border: 3px solid transparent;
}
.propertylist .panel-default .sliderImg img:hover {
  border: 3px solid #0088cc;
}
.singleproperty .property {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #0088cc;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px solid #0088cc;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
  margin: 0 auto;
}
.singleproperty .property .mainimg img {
  max-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .property .mainimg img {
  height: 130px;
  border: 1px solid #ffffff;
}
.singleproperty .propDetails ul li {
  padding: 3px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #20003d;
  color: #ffffff;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #20003d;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
  background-color: #0088cc;
  color: #ffffff;
  border-radius: 0px;
  font-weight: bold;
}
.singleproperty .btn-primary:hover {
  background-color: #20003d;
}
@media (min-width: 320px) {
  .propDetails ul li {
    width: 224px;
  }
  .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 310px;
  }
  .property .mainimg img {
    height: 130px;
    border: 1px solid #ffffff;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 239px;
  }
  .property .mainimg img {
    max-height: 180px;
    max-width: 100%;
  }
}
@media (max-width: 540px) {
  .featuredProperty .bxslider1 li h4 {
    padding-left: 10px;
  }
  .featuredProperty .bxslider1 li .verify {
    width: 45%;
    right: 12px;
  }
}
.featuretab {
  margin-top: 20px;
}
.featuretab .tab-content {
  border: 1px solid #20003d;
  border-top: none;
  position: relative;
  margin-bottom: 25px;
  padding: 1px 30px;
  padding: 10px;
}
.featuretab .nav-tabs {
  border-bottom: 1px solid #e4e6e7;
}
.featuretab .nav-tabs li a {
  border: 1px solid #20003d;
  color: #005580;
}
.featuretab .nav-tabs li a:hover {
  color: #ffffff;
  background-color: #0088cc;
}
.featuretab .nav-tabs li.active > a,
.featuretab .nav-tabs li.active > a:hover,
.featuretab .nav-tabs li.active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
  border: 1px solid #20003d;
}
.mailSentMsg {
  font: 1.2em/2.5em QumpellkaNo12;
  border: 1px solid #e4e6e7;
  padding: 10px;
}
.sidebarModule .panel-default {
  border: none;
}
.sidebarModule.sidemenu {
  /*background-color:@contentback;*/
  padding: 10px;
  border: 1px solid #e4e6e7;
}
.sidebarModule.sidemenu ul {
  padding: 0;
  list-style: none;
}
.sidebarModule.sidemenu ul li {
  margin-bottom: 10px;
}
.sidebarModule.sidemenu a {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
.sidebarModule.sidemenu a.area_converter {
  background-image: url('../img/area-converter.png');
}
.sidebarModule.sidemenu a.emi_calculator {
  background-image: url('../img/emi-calculator.png');
}
.sidebarModule.sidemenu a.post_your_property {
  background-image: url('../img/post-your-property.jpg');
}
.sidebarModule.sidemenu a.post_your_requirement {
  background-image: url('../img/post-your-requirement.jpg');
}
.sidebar .nav-pills {
  background-color: #20003d;
}
.sidebar .nav-pills > li {
  border-right: 1px solid #e4e6e7;
}
.sidebar .nav-pills > li > a,
.sidebar .nav-pills > li > a:focus {
  color: #ffffff;
  font-weight: bold;
}
.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active:hover > a,
.sidebar .nav-pills > li.active > a:focus,
.sidebar .nav-pills > li:hover > a,
.sidebar .nav-pills > li:hover > a:focus,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
  color: #e4e6e7;
  background-color: #20003d;
}
.about .table tbody tr th,
.contact .table tbody tr th,
.about .table tbody tr td,
.contact .table tbody tr td {
  border-color: #e4e6e7;
}
.about .table {
  margin-top: 20px;
}
.infrastructure .thumbnail {
  background-color: #e4e6e7;
  border: 1px solid #20003d;
  /*box-shadow: 3px 3px 6px #ADADAD;*/
  background-color: #ffffff;
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
}
.infrastructure .thumbnail .caption {
  height: 155px;
  color: #000000;
}
.contact img {
  max-height: 110px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 325px;
}
.radio-inline + .radio-inline {
  margin-left: 5px;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #005580;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-family: Times New Roman,Serif;
  font-size: 55px;
}
.testimonial blockquote {
  padding-left: 15px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
  border: 3px solid #732C7B;
}
.gallery {
  border-radius: 5px;
  border: 1px solid #20003d;
  padding: 10px;
  margin: 1px;
}
.gallery .thumbnail {
  border-color: #20003d;
  /*background-color:@back;*/
}
.gallery .thumbnail .caption .description {
  overflow: hidden;
  height: 160px;
  color: #000000;
}
@media (min-width: 320px) {
  .gallery .thumbnail {
    height: 390px;
  }
}
@media (min-width: 992px) {
  .gallery .thumbnail {
    height: 390px;
  }
  .gallery .thumbnail img {
    max-height: 155px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    height: 390px;
  }
  .gallery .thumbnail img {
    max-height: 200px;
    width: 100%;
  }
}
.services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.services .servdesc {
  height: 220px;
  margin-bottom: 10px;
}
.services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.services .servdesc .readmore {
  text-align: center;
  margin-top: 20px;
}
.products .thumbnail img {
  border: 4px solid transparent;
  padding: 6px;
}
.products .thumbnail img:hover {
  border: 3px solid #0088cc;
}
.products .thumbnail .description {
  height: 75px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 320px) {
  .products {
    border: 1px solid #0088cc;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
  }
  .products .thumbnail {
    height: 430px;
  }
  .products .thumbnail img {
    min-height: 148px;
  }
  .products .thumbnail .caption {
    height: 138px;
  }
}
@media (min-width: 992px) {
  .products .thumbnail {
    height: 430px;
  }
  .products .thumbnail img {
    max-height: 260px;
  }
  .products .thumbnail .caption {
    height: 138px;
  }
}
@media (min-width: 1200px) {
  .products .thumbnail {
    height: 430px;
  }
  .products .thumbnail img {
    max-height: 150px;
    width: 100%;
  }
  .products .thumbnail .caption {
    height: 190px;
  }
}
.container {
  max-width: 992px !important;
  border: 1px solid #e4e6e7;
  margin-top: 10px;
  padding: 15px 0px;
}
* {
  transition: 300ms;
}
.sociallinks {
  top: 50%;
  position: fixed;
  z-index: 999;
  width: 5px;
}
.sociallinks ul {
  list-style: none;
}
.sociallinks ul li {
  transform: translateX(-123px);
  padding: 4px 0px 4px 10px;
  background-color: #20003d;
  margin: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: right;
  width: 125px;
}
.sociallinks ul li a {
  color: #ffffff;
}
.sociallinks ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.sociallinks ul li img {
  width: 35px;
  margin-left: 10px;
  border: 2px solid #ffffff;
}
.sociallinks ul li span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.sociallinks ul li:hover {
  transform: translateX(-45px);
}
.logo {
  height: 80px;
  margin-top: 5px;
  max-width: 100%;
  margin-left: 15px;
}
.navbar-collapse {
  padding: 0px;
}
.navbar-toggle {
  border: 1px solid #e4e6e7;
  margin-top: 45px;
}
.navbar-toggle .icon-bar {
  background-color: #e4e6e7;
}
header {
  background-color: #0088cc;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav > li {
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  color: #0088cc;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 2px 4px 2px 0px;
  font-weight: bold;
}
.navbar-default .navbar-nav > li.active > a {
  background: none;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #005580;
  padding-bottom: 30px;
  border-bottom: 3px solid #005580;
  background-color: transparent;
  padding-top: 10px;
}
.navbar-default .navbar-nav > li.active > a:after,
.navbar-default .navbar-nav > li.active > a:hover:after,
.navbar-default .navbar-nav > li > a:hover:after {
  content: " ";
  display: block;
  width: 28px;
  height: 25px;
  position: absolute;
  background: url(../img/right-icon.png);
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  transition: 300ms;
}
.navbar-default .navbar-nav > li > ul {
  transition: all 300ms ease-in;
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #20003d;
  padding: 12px;
  list-style: none;
  text-align: left;
  top: 50px;
  border-top-left-radius: 0px;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul > li {
  border-bottom: 1px solid #e4e6e7;
  padding: 7px;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #0088cc;
  /*background: -webkit-linear-gradient(right,#ccc,#0D8375);
							background: -moz-linear-gradient(right,#ccc,#0D8375);
							background: linear-gradient(right,#ccc,#0D8375);*/
}
.navbar-default .navbar-nav > li > ul > li ul {
  list-style: none;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  font-size: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  text-transform: lowercase;
  font-size: 17px;
  color: #fff;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.content {
  background-color: #ffffff;
  border: 1px solid #20003d;
  padding: 0px 20px 20px;
}
.subhead {
  font: 2em/1.2em Amaranth-Regular;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #20003d;
  /*box-shadow:2px 2px 2px @lightcolor;*/
  text-align: center;
  background-color: #20003d;
  /*background: -webkit-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
  /*background: -moz-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
  /*background: linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
  border-radius: 7px;
  padding: 4px 10px;
  position: relative;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  color: #005580;
  font-family: Amaranth-Regular;
}
a,
.btn-link {
  color: #0088cc;
}
.btn-link {
  padding-left: 0px;
}
.btn + .btn {
  margin-left: 10px;
}
.sections {
  padding: 10px;
}
.contentModule .sections {
  border-radius: 5px;
}
.contentModule .sections img {
  width: 100%;
  padding: 4px;
  border: 3px solid transparent;
}
.contentModule .services {
  border: none;
}
.project .navbar {
  background-color: #20003d;
  border-bottom: 4px solid #e4e6e7;
  border-radius: 0;
  margin-bottom: 10px;
  width: auto;
}
.project ul.nav.navbar-nav {
  color: #ffffff;
  background-color: #20003d;
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #e4e6e7;
  height: 38px;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background-color: #0088cc;
  color: #ffffff;
}
.contactus h4 {
  border: none;
  padding-bottom: 0px;
}
hr {
  margin: 5px 0px;
}
.searchProperty,
.sections,
.enquiry .panel-default,
.searchProp .panel-default {
  border: 1px solid #20003d;
}
.searchProperty input,
.sections input,
.enquiry .panel-default input,
.searchProp .panel-default input,
.searchProperty textarea,
.sections textarea,
.enquiry .panel-default textarea,
.searchProp .panel-default textarea {
  color: #000000;
}
.searchProperty .btn-info,
.sections .btn-info,
.enquiry .panel-default .btn-info,
.searchProp .panel-default .btn-info {
  color: #ffffff;
}
.bx-wrapper .bx-controls-direction a {
  margin-top: -35px;
}
.modal-body p {
  color: #000000;
}
footer {
  background-color: #20003d;
  padding: 5px;
  margin-top: 10px;
  color: #e4e6e7;
  font-weight: bold;
}
footer .container {
  border: none;
}
footer .footlink ul {
  color: #ffffff;
  list-style: none;
}
footer .footlink ul li {
  display: inline;
  border-right: 1px solid #ccc;
  padding: 5px;
}
footer .footlink ul li a {
  color: #ffffff;
  font-size: 10px;
}
@media (min-width: 320px) {
  .logo {
    float: left;
  }
  .cnctinfo {
    display: none;
  }
  .navbar {
    min-height: 0px;
  }
  .item.active,
  .projnav {
    height: 120px;
    overflow: hidden;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
  .homeimg {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .logo {
    float: none;
  }
  .cnctinfo {
    display: block;
  }
  .projnav {
    height: 322px;
  }
  .item.active {
    height: 312px;
    overflow: hidden;
  }
  .carousel-inner > .item > img {
    width: 100%;
    min-height: 310px;
  }
  .homeimg {
    float: right;
    margin-left: 25px;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .logo {
    float: none;
  }
  .cnctinfo {
    display: block;
  }
  .projnav {
    height: 322px;
  }
  .item.active {
    height: 312px;
    overflow: hidden;
  }
  .carousel-inner > .item > img {
    width: 100%;
    min-height: 312px;
  }
  .homeimg {
    float: right;
    margin-left: 25px;
    max-height: 210px;
  }
  .slider {
    max-width: 802px;
  }
}
.navbar-toggle {
  background-color: #005580;
  border-color: #ffffff;
}
.navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.projdtls {
  color: #ffffff;
  background-color: #20003d;
}
@media (max-width: 540px) {
  header .navbar {
    min-height: 1px;
  }
  .navbar-nav {
    margin: 0px;
  }
}
