@font-face{
	font-family : 'Italianno-Regular-OTF';
	src : url('../fonts/Italianno-Regular-OTF.otf');
}
@font-face{
	font-family : 'Enriqueta-Bold';
	src : url('../fonts/Enriqueta-Bold.otf');
}
@font-face{
	font-family : 'Enriqueta-Regular';
	src : url('../fonts/Enriqueta-Regular.otf');
}
@font-face{
	font-family : 'GreatVibes-Regular';
	src : url('../fonts/GreatVibes-Regular.otf');
}
@color : #fffca8;//yellowish
@lightcolor : #ffbee9;//faint pink
@darkcolor : #B9396A;// dark pink(brownish)
@back : #89065B;//dark pink
@darkbackcolor : #22151E;//dark brown
@lightbackcolor :#C51AE2;//violet 
@colorblack : #000;
@colorwhite	: #fff;
@import "project.less";
@import "property.less";
@import "product.less";
@import "general.less";
*{
	transition : 300ms;
}
.container{
	width : 992px !important;
}
html{
	min-width : 1022px;
}
body{
	background: @darkbackcolor;
	color : @darkbackcolor;
}
.sociallinks{
	top: 50%;
	position: fixed;
	z-index :999;
	width : 5px;
	ul{
		list-style : none;
		li{
			transform: translateX(-122px);
			padding: 4px 0px 4px 10px;
			background-image: -webkit-linear-gradient(@darkcolor, @back, @darkcolor);
			background-image: -moz-linear-gradient(@darkcolor, @back, @darkcolor);
			background-image: linear-gradient(@darkcolor, @back, @darkcolor);
			margin: 5px;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			text-align : right;
			width : 125px;
			a{
				color:@colorwhite;
				//font: 1.8em 'GreatVibes-Regular' cursive;
				&:hover{
					color:@colorwhite;
					text-decoration : underline;
				}
			}
			img{
				width : 35px;
				margin-left : 10px;
				border : 2px solid @colorwhite;
			}
			span{
				height : 20px;
				width :20px;
				margin-right: 6px;
			}
			
			&:hover{
				  transform: translateX(-45px);
			}
		}
	}
}
h1,h2{
	color : @darkcolor;
	text-align : center;
	font: 3.0em/1.0em 'Italianno-Regular-OTF' cursive; 
}
h3, h4{
	color : @darkcolor;
	text-align : left;
}
.navbar-default {
	background-image: -webkit-linear-gradient(@darkcolor, @back, @darkcolor);
	background-image: -moz-linear-gradient(@darkcolor, @back, @darkcolor);
	background-image: linear-gradient(@darkcolor, @back, @darkcolor);
	border : none;
	.navbar-nav{	
		>li {
			background-image: url(../img/nav_bg.png);
			background-repeat: no-repeat;
			display: block;
			float: left;
			position: relative;
			list-style-image: none;
			margin-right : 7px;
			>a, >a:focus{
				color : @colorwhite;
				font: 1.8em 'GreatVibes-Regular' cursive;
				padding-top : 10px;
				padding-bottom : 10px;
				border : 1px solid transparent;
			}
			&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
				color : @darkbackcolor;
				background : -webkit-linear-gradient(@lightbackcolor, @lightcolor, @lightbackcolor);
				background : -moz-linear-gradient(@lightbackcolor, @lightcolor, @lightbackcolor);
				background : linear-gradient(@lightbackcolor, @lightcolor, @lightbackcolor);
				padding: 15px 15px;
				margin-top: -5px;
				margin-bottom: -5px;
				border-radius: 10px;
				border: 1px solid @darkbackcolor;
			}
			> ul{
				display: none;
				position: absolute;
				width: 245px;
				z-index: 999;
				background : @darkbackcolor;
				padding: 10px;
				list-style: none;
				text-align: left;
				border : 5px solid @lightcolor;
				>li{
					padding : 10px;
					text-transform : uppercase;
					position : relative;
					>a{
						color : @colorwhite;
						padding : 10px 0px;
						//font: 1.7em/1.1em  'Italianno-Regular-OTF' cursive;
						&:hover{
							color : @colorwhite;
						}
					}
					&:hover{
						background-image: linear-gradient(@darkcolor, @back, @darkcolor);
					}
					ul{
						background : @darkbackcolor;
						list-style: none;
						display : none;
						position : absolute;
						top : 10px;
						left: 145px;
						width: 180px;
						padding : 10px;
						border : 5px solid @lightcolor;
						li{
							padding : 10px;
							a{
								color : @colorwhite;
								padding : 10px 0px;
								&:hover{
									color : @colorwhite;
								}
							}
							&:hover{
								background-image: linear-gradient(@darkcolor, @back, @darkcolor);
							}
						}
					
					}
					&:hover{
						ul{
							display : block;
						}
					}
				}
			}
			&:hover > ul {
				display: block;
			}
		}
	}
}
.head{
	background: url(../img/tops.jpg);
	background-position : top center;
	background-size : 100%;
	padding-top : 65px;
}
/*.carousel{
	width : 903px;
	height : 400px;
	display: block;
  	margin-left: auto;
	margin-right: auto;
	.carousel-inner{
		.item{
			height : 358px;
			overflow : hidden;
			img{
				min-height : 358px;
				width : 100%;
			}
		}
	}
}*/
a{
	color: @color;
	&:hover{
		color: @lightcolor;
	}
}
.btn-info, .btn-info[disabled], .btn-link{
	background-image : url('../img/mr-bg.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border: none;
	color : @colorwhite;
	padding: 5px 29px;
	&:hover{
		color: @lightcolor;
		background-color : transparent;
		border : none;
	}
}
.btn-primary{
	background-color : @back;
	border-color : @back;
	margin-bottom : 10px;
	padding: 6px 10px;
	&:hover{
		background-color : @darkcolor;
		border-color : @darkcolor;
	}
}
.btn + .btn{
	margin-left : 5px;
}
hr{
	margin-bottom :0px;
	margin-top : 0px;
	border-color : @darkbackcolor;
	&.divider{
		margin-bottom : 20px;
	}
}
.btn-link:hover{
	text-decoration : none;
}
.sidebarModule{
	background-image : linear-gradient(rgba(34, 21, 30, 0.5) 1%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 85%, rgba(34, 21, 30, 0.5)),url('../img/ltb-m.png');
	background-position :  center ;
	margin-top : 35px;
	margin-bottom : 75px;
	padding-top: 1px;
	position : relative;
	&::before{
		content : url('../img/ltb-t1.jpg');
		position : absolute;
		left : -37px;
		top : -32px;
		z-index : -1;
	}
	&::after{
		content : url('../img/ltb-b1.jpg');
		position : absolute;
		left : -34px;
		bottom : -41px;
		z-index : -1;
	}
	.panel{
		background : none;
		border : none;
	}
	.panel-body{
		padding-top : 0px;
	}
	.subhead{
		color : @colorwhite;
		text-align : center;
		font: 2.5em/1.0em 'Italianno-Regular-OTF' cursive;
		margin-top : 10px;
	}
	.sections {
		padding:0px 20px 10px;
		color : @darkbackcolor;
		h4{
			margin-top : 0px;
			color : @darkbackcolor;
		}
		a{
			color : @darkbackcolor;
			&:hover{
				color : @darkbackcolor;
			}
		}
	}
	hr{
		margin : 0px 0px 10px;
	}
}
.info {
  padding-left: 35px;
}
.verify{
	img{
		height:30px;
		width:30px;
		display:inline-block;
	}
}
.content, .contentModule{
	margin-bottom : 40px;
	padding: 10px 30px;
	background: url(../img/inr-tb-m.gif) repeat-y;
	background-size : 100%;
	position : relative;
	*{
		position : relative;
		z-index : 3;
	}
	&:before{
		content : '';
		position : absolute;
		background-image : url(../img/inr-tb-t1.jpg);
		background-repeat: no-repeat;
		background-size : 100%;
		height : 20px;
		display : block;
		width : 100%;
		top : -1px;
		left : 0px;
	}
	&:after{
		content :'';
		background-image :  url(../img/inr-tb-b.jpg);
		position : absolute;
		background-repeat: no-repeat;
		background-size : 100%;
		height : 220px;
		display : block;
		width : 100%;
		bottom : -25px;
		left : -1px;
		z-index : 1;
	}
}
.contentModule{
	h3{
		small{
			color : @darkbackcolor;
		}
	}
	ul{
		list-style : none;
	}
	.sliderimg{
		width : 175px;
		height : 125px;
		overflow : hidden;
		padding : 4px;
		border : 4px solid transparent;
		margin : 0 auto;
		img{
			min-height : 125px;
		}
		&:hover{
			border : 4px solid @back;
		}
	}
	.readmore{
		margin-top : 10px;
		margin-bottom : 10px;
		a{
			font: 1.2em/1em 'Enriqueta-Regular';
			text-decoration: none;
			color: @lightbackcolor;
			&:hover{
				text-decoration : underline;
			}
		}
	}
	p{
		margin-bottom : 0px;
		margin-top : 0px;
	}
}
.features{
	margin-top : 40px;
}
.features{
	.subhead{
		padding-left: 5px;
	}
}
.panel-default, .thumbnail{
	border-color : @back;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	background-color : @back;
	border : 1px solid @back;
	color:@colorwhite;
}
.pagination>li>a, .pagination>li>span, .pagination>.disabled>a{
	border : 1px solid @back;
	color : @back;
}
.featured_testimonials, .contentModule{
	h3{
		font: 2.8em/0.7em 'Italianno-Regular-OTF' cursive; 
	}
}
.featured_testimonials{
	padding-top : 15px;
	ul{
		padding-left : 10px;
	}
}
.associates{
	.description{
		margin-top : 10px;
		p{
			margin-top :5px;
			margin-bottom : 5px;
		}
	}
}
footer{
	color: @colorwhite;
	background-image: url('../img/foot.jpg');
	margin-top: 10px;
	padding: 14px;
	text-align: center;
}
