//featured servieces
.services{
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkcolor;
		}
	}
	.servdesc{
		color:@colorwhite;
		height : 200px;
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			margin-top: 20px;
			a{
				background-color : @darkcolor;
				color : @colorwhite;
				padding : 6px 12px;
				border : 2px solid transparent;
				border-radius : 0px;
				font: 16px 'Cinzel-Regular', cursive;
				&:hover{
					color : @colorwhite;
					background-color : @back;
					border : 2px solid @darkcolor;
				}
			}
		}
	}
}
//multiple products
.products{
	
	.thumbnail{
		.prodimg{
			width : 198px;
			height : 148px;
			overflow : hidden;
			img{
				min-height : 148px;
			}
		}
		.caption{
			height: 190px;
			.description{
				height : 75px;
				overflow : hidden;
				color:@colorwhite;
			}
		}
		.readmore{
			margin-top : 10px;
			text-align : center;
			a{
				background-color : @darkcolor;
				color : @colorwhite;
				padding : 6px 12px;
				border : 2px solid transparent;
				border-radius : 0px;
				font: 16px 'Cinzel-Regular', cursive;
				&:hover{
					color : @colorwhite;
					background-color : @back;
					border : 2px solid @darkcolor;
				}
			}
		}
	}
}

@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 465px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 186px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 100px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 400px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}