
//project
//css for featured project slider
.bxslider{ 
	padding : 0px;
	li{
		.projimg{
			height : 175px;
			overflow : hidden;
			padding : 6px;
			border : 2px solid transparent;
			img{
				min-height: 175px;
			}
			&:hover{
				border : 2px solid @darkcolor;
			}
		}
		.readmore{
			margin-top : 10px;
			margin-bottom : 10px;
			a{
				h4{
					background-color : @darkbackcolor;
					color : @colorwhite;
					padding : 6px 12px;
					border : 2px solid transparent;
					border-radius : 0px;
					font: 16px 'Cinzel-Regular', cursive;
					&:hover{
						color : @colorblack;
						background-color : @back;
						border : 2px solid @darkcolor;
					}
				}
				&:hover{
					text-decoration : none;
					background-color :@darkcolor;
					color : @colorblack;
				}
			}
		}
		p{
			margin-bottom : 0px;
			margin-top : 0px;
		}
	}
}

.homeproject {
	margin-top:10px;
	margin-bottom :20px;
	position:relative;
	.bx-viewport{
		border :4px solid @color;
		border-bottom-left-radius: 30px;
		border-top-right-radius: 35px;
		height:317px;
		&:hover{
			transform : scale(1.05);
		}
		.carousslider li{
			left:0;
			
		}
		img{
			height:317px;
			width:100%;
			border-bottom-left-radius: 35px;
			border-top-right-radius: 35px;
			
			&:hover{
				
				z-index : 99;
				border-color : @darkcolor;
				border-bottom-left-radius: 35px;
				border-top-right-radius: 35px;
			}
		}
	}
	.projectnav,.projsnap {
		background-color : @darkbackcolor;
		border :1px solid @color;
		border-bottom-left-radius: 35px;
		border-top-right-radius: 35px;
		padding:5px;
		height:317px;
		.nav-stacked{
			margin: 5px;
			>li{
				border-bottom:1px solid @color;
				+li {
					margin-top: 10px;
				}
				>a, > a:focus{
					color : @colorwhite;
					padding: 10px 5px;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					text-decoration : none;
					color: @colorwhite;
					background : @back;
				}
			}
		}
	}
	.projsnap{
		p{
			margin: 0px 10px;
			padding: 10px;
			border-bottom : 1px solid @colorwhite;
			&:last-child{
				border : none;
			}
		}
		padding : 0px 10px;
		img{
			height : 110px;
			margin-top: 10px;
			margin-bottom: 10px;
			border : 1px solid @color;
			border-radius : 5px;
			padding :4px;
		}
		p{
			color : @colorwhite;
		}
		.viewproperty{
			margin-top : 15px;
			a{
				color : @colorwhite;
				font: 16px 'Cinzel-Regular', cursive;
				&:hover{
					color : @darkbackcolor;
				}
			}
		}
	}
	#carousel {
		overflow:hidden;
		.carousel-inner {
			border: 2px solid @back;
			border-bottom-left-radius: 70px;
			border-top-right-radius: 70px;
			transition :  all 300ms linear;
			border-bottom-left-radius: 35px;
			border-top-right-radius: 35px;
			.item{
				height: 317px;
				overflow: hidden;
				border-bottom-left-radius: 68px;
				border-top-right-radius: 68px;
				>img{
					width : 100%;
					min-height : 317px;
				}
			}
			&:hover{
				transform : scale(1.05);
				z-index : 99;
				border-color : @darkcolor;
				border-bottom-left-radius: 35px;
				border-top-right-radius: 35px;
			}
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}
.homeproject::after{
	position : absolute;
	content : "";
	background-image : url('../img/lady.png');
	background-size: 100% 100%;
	right: 210px;
    top: 16px;
    z-index: 999;
    height: 297px;
    width: 120px;

}
//css for single project & project list
	.projlist{
		background-color:@back;
		padding:10px;
		.project{
			.thumbnail{
				height:385px;
				padding-top : 15px;
				.projectimg{
					width : 190px;
					height : 148px;
					overflow : hidden;
					margin: 0 auto;
					img{
						min-height : 148px;
					}
				}
				.caption{
					color : @colorwhite;
				}
				.caption p{
					color:@colorwhite;
				}
				.readmore{
					margin-top : 15px;
					a{
						font: 16px 'Cinzel-Regular', cursive;
						//background-color : @darkcolor;
						color : @colorwhite;
						padding : 6px 12px;
						border : 2px solid @darkbackcolor;
						border-radius : 0px;
						font: 16px 'Cinzel-Regular', cursive;
						&:hover{
							color : @colorwhite;
							background-color : @back;
							border : 2px solid @darkcolor;
						}
					}
				}
			}
		}
	}
	.project{
		.navbar{
			height:50px;
			border-radius: 0;
			margin-top:10px;
			margin-bottom:40px;
			height : 20px;
			width:auto;
		}
		ul.nav.navbar-nav {
			background : -webkit-linear-gradient(top, @color -565%,@darkcolor);
			background : -moz-linear-gradient(top, @color -565%,@darkcolor);
			background : linear-gradient(top, @color -565%,@darkcolor);
			>li{
				border-right : 1px solid @color;
				height : 38px;
				>a, > a:focus{
					padding : 9px 14px;
					color : @colorwhite;
					font-weight : bold;
					border : 1px solid transparent;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					color: @colorwhite;
					background : @darkcolor;
					border : 1px solid @color;
				}
			}
		}
		.projImg{
			margin-right: 20px;
			max-height : 175px;
			border : 2px solid transparent;
			padding : 6px;
			&:hover{
				border : 2px solid @color;
			}
		}
		.projectgallery{ 
			background-color : @back;
			border : 1px solid @color;
			padding: 20px 20px 0px;
		}
	}
	@media (max-width: 540px){
	.homeproject::after{
				display:none;
				width :0px;
		}
	}
	@media (max-width: 480px){
		.homeproject::after{
				display:none;
				width :0px;
		}
		.homeproject {
		
			.projectnav,.projsnap {
				border-bottom-left-radius: 0;
				border-top-right-radius: 0;
				border :none;
			}
			.bx-viewport{
				border-bottom-left-radius: 0;
				border-top-right-radius: 0;
				border :none;
				img{
					height:317px;
					width:100%;
					border-bottom-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
			.projectnav,.bx-viewport {
				margin-bottom:10px !imoprtant;
			}
		}
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	@media (max-width: 768px){
		.homeproject {
			.projectnav,.projsnap {
				border-bottom-left-radius: 0;
				border-top-right-radius: 0;
				border :none;
				margin-bottom:10px;
			}
			.bx-viewport{
				border-bottom-left-radius: 0;
				border-top-right-radius: 0;
				margin-top:15px;
				border :none;
				width:auto;
				img{
					height:317px;
					width:100%;
					border-bottom-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
			.bx-wrapper
			{
				width:auto !important;
			}
			.projectnav,.bx-viewport {
				margin-bottom:10px !imoprtant;
			}
		}
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	