<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">{{modalOptions | json}}
		<form class="form-horizontal" name="changepassForm" ng-submit="changepassForm.$valid" novalidate>
			<h3 class="col-sm-offset-2 col-sm-9">Change Password</h3>	
			<div class="form-group">
				<label for="newpassword" class="col-sm-2 control-label">New Password*</label>
				<div class="col-sm-9">
					<input type="Password" id="newpassword" class="form-control" name="newpassword" ng-model="changepass.newpassword" placeholder="Enter New Password" required>
					<span  class="help-block" ng-show="changepassForm.newpassword.$dirty && changepassForm.newpassword.$invalid">
						<span class="text-danger" ng-show="changepassForm.newpassword.$error.required && (changepassForm.newpassword.$dirty || submitted)">Please enter password.</span>
					</span>
				</div>						
			</div>
			<div class="form-group">
				<label for="confirmPassword" class="col-sm-2 control-label">Retype Password *</label>
				<div class="col-sm-9">
					<input type="Password" class="form-control" id="confirmPassword"  name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Your Password" ng-change="passMatch(changepass.newpassword, confirmPassword)" required>
					<span class="help-block" ng-show="changepassForm.confirmPassword.$dirty && !pass || changepassForm.confirmPassword.$dirty && changepassForm.confirmPassword.$invalid">
						<span class="text-danger" ng-show="changepassForm.confirmPassword.$error.required && (changepassForm.confirmPassword.$dirty )">Your confirm password is required.</span>
						<span class="text-danger" ng-show="!pass">Confirm password doesnot match.</span>
					</span>
				</div>						
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
					<button type="submit" class="btn btn-success" ng-click="submitPass(changepass)" ng-disabled="changepassForm.$invalid">Save</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalOptions.ok()" title="OK">OK</button>
	</div>
</div>
