<div class="main-content">
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'modules/component/toolbar.html'"></ng-include>
			</div>
			<div class="col-md-12">	
				<ng-include src="'modules/users/manageuser/userstoolbar.html'"></ng-include>
				<!--<ng-include ng-if="websitePart=='websiteslist'" src="'modules/websites/websiteslist.html'"></ng-include>
				<ng-include ng-if="websitePart=='requestnewsite'" src="'modules/websites/requestnewsite.html'"></ng-include>
				<ng-include ng-if="websitePart=='requestedsitelist'" src="'modules/websites/requestedsitelist.html'"></ng-include>-->
			</div>
		</div>
</div>
	
<!--<div class="col-md-12 text-right bottomspace">
				<a href="#" class="btn btn-default">Website List</a>
				<a href="#" class="btn btn-default">Request New Site</a>
				<a href="#" class="btn btn-default">Requested Site List</a>
			</div>-->