<div class="row bottomspace">
	<div class="col-sm-3">
		<input id="search" type="text" class="form-control" ng-if="userViews=='userslist'" ng-change="filter('name', searchUser, 'user', 'userList', true)" ng-model="searchUser" placeholder="Search">
		<input id="search" type="text" class="form-control" ng-if="userViews=='usersgroup'" ng-change="searchFilter('group_name', searchUserGroup)" ng-model="searchUserGroup" placeholder="Search">
	</div>
	
	<div class="col-sm-9 text-right">
		<a href="#/dashboard/users" class="btn btn-default">Party List</a>
		<a class="btn btn-default" ng-click="openModal('modules/users/manageuser/adduser.html')">Add New Party</a>
	</div>
</div>