<div class="table-responsive">		
	<table class="table table-bordered">
		<thead>
			<th>Sr.No.</th>
			<th>User Name</th>
			<th>User Group</th>
			<th>Email Id</th>
			<th>Registered Date</th>
			<th>Manage</th>
		</thead>
		<tbody>
			<tr ng-repeat="users in userList">
				<td>{{((usersListCurrentPage - 1) * pageItems ) + $index + 1}}</td>
				<td>{{users.username}}</td>
				<td>
					<p>Salseman
						<!--select id="selectGroup" class="form-control" ng-model="selectGroup" ng-options="item.id as item.business_name for item in userList"> 
							<option value="">Select Group</option>
						</select-->
						<button type="button"  tooltip-animation="true" tooltip="Change Group" class="btn btn-default glyphicon glyphicon-pencil" go-back></button>
					</p>
					<!--select class="form-control">
						<option value="">Select Group</option>
						<option value="manager">Manager</option>
						<option value="salseman">Salseman</option>
						<option value="bizowner">Business Owner</option>
					</select-->
				</td>
				<td>{{users.email}}</td>
				<td>{{users.register_date}}</td>
				<td>
					<div class="btn-group">
						<button type="button" tooltip="{{dynamicTooltip(users.status, 'No Approve','Approve')}}" ng-class="(users.status==1) ? 'btn btn-primary' : 'btn btn-warning'" ng-model="users.status" ng-change="verify(users.id, users.status)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'" tooltip-animation="true">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
					<div class="btn-group">
						<!--#/changepass
						#/dashboard/users/changepass-->
						<a class="btn btn-default btn-primary glyphicon glyphicon-refresh" ng-click="openModal('modules/users/manageuser/changepassword.html', users.id)" tooltip-animation="true" tooltip="Reset Password"></a>
					</div>
					
					<div class="btn-group" role="group" aria-label="second group">
						<button type="button"  tooltip-animation="true" tooltip="Reactive" class="btn btn-default glyphicon btn-success glyphicon-repeat" ng-if="users.baned==0"></button>
						<button type="button" tooltip-animation="true"  tooltip="Ban User"  class="btn btn-default btn-warning glyphicon glyphicon-ban-circle" ng-if="users.baned==1"></button>
					</div>
					
					<div class="btn-group" role="group" aria-label="third group">
						<a class="btn btn-default btn-info glyphicon glyphicon-pencil" href="#/dashboard/users/adduser" tooltip-animation="true" tooltip="Edit User Information">
						</a>
						<button type="button" tooltip-animation="true"  tooltip="Delete User" class="btn btn-default btn-danger glyphicon glyphicon-remove"></button>
					</div>	
				</td>
			</tr>					
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="usersListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(usersListCurrentPage, statusParam)"></pagination>Total Records : {{totalRecords}}
			<pre>Page: {{usersListCurrentPage}} / {{numPages}}</pre>
</div>	