			<div class="col-sm-3" ng-include="'modules/websites/managedomains/sidebar.html'"></div>
			<div class="col-sm-9">
					<!-- This is conditional include 
								if not mailId set in url this html includes in view-->
					<ng-include ng-if="formPart=='checkdomainavailable'" src="'modules/websites/managedomains/checkdomainavailable.html'"></ng-include> 
					<!-- if mailId set in url this html includes in view -->
					<ng-include ng-if="formPart=='registerdomain'" src="'modules/websites/managedomains/registerdomain.html'"></ng-include>			
					<ng-include ng-if="formPart=='checkfreedomain'" src="'modules/websites/managedomains/checkfreedomain.html'"></ng-include>
					<ng-include ng-if="formPart=='registerfreedomain'" src="'modules/websites/managedomains/registerfreedomain.html'"></ng-include>						
			</div>	
		