<h3>Register Domain</h3>
<form class="form-horizontal" role="form" name="registerdomainForm" ng-submit="registerdomainForm.$valid" novalidate>
	<div class="form-group">
		<label for="domain_name" class="col-sm-2 control-label">Domain Name</label>
		<div class="col-sm-10">
			<input type="text" id="domain_name" name="domain_name" class="form-control" ng-model="registerdomain.domain_name"  placeholder="Domain Name" required>
			<span class="help-block" ng-show="registerdomainForm.domain_name.$dirty && registerdomainForm.domain_name.$invalid">
				<span ng-show="registerdomainForm.domain_name.$error.required" class="text-danger">Domain Name is required.</span>
			</span>
		</div>			
	</div>
	<div class="form-group">
		<label for="user_id" class="col-sm-2 control-label">Select User Id</label>
		<div class="col-sm-10">
			<select class="form-control" id="user_id" ng-model="registerdomain.user_id" name="user-id">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="register_date" class="col-sm-2 control-label">Register Date</label>
		<div class="col-sm-10">
			<input readonly type="text" id="register_date" name="register_date" class="form-control" value="{{registerdomain.register_date}}" ng-model="registerdomain.register_date">
		</div>
	</div>
	<div class="form-group">
		<label for="validity" class="col-sm-2 control-label">Validity</label>
		<div class="col-sm-10">
			<select class="form-control" id="validity" ng-model="registerdomain.validity" name="validity">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="expiry_date" class="col-sm-2 control-label">Expiry Date</label>
		<div class="col-sm-10">
			<input readonly type="text" id="expiry_date" name="expiry_date" class="form-control" value="{{registerdomain.expiry_date}}" ng-model="registerdomain.expiry_date">
		</div>
	</div>
	<div class="form-group">
		<label for="domain_price" class="col-sm-2 control-label">Domain Price</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="domain_price" name="domain_price" ng-pattern="/^[0-9 \-\s \( \)]*$/" ng-model="registerdomain.domain_price" placeholder="Domain Price" required>
			<span class="help-block" ng-show="registerdomainForm.domain_price.$dirty && registerdomainForm.domain_price.$invalid">
				<span ng-show="registerdomainForm.domain_price.$error.pattern && (registerdomainForm.domain_price.$dirty || submitted)" class="text-danger">Enter a valid price</span>
				<span ng-show="registerdomainForm.domain_price.$error.required" class="text-danger">Please enter price of Domain.</span>
			</span>
		</div>
	</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<textarea type="text" class="form-control" id="description" name="description" ng-model="registerdomain.description" cols="30" rows="3" ng-maxlength="256" placeholder="Enter Description"  required></textarea>
			<p ng-hide="registerdomainForm.description.$error.maxlength">
				{{ 256 - registerdomain.description.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="registerdomainForm.description.$dirty && registerdomainForm.description.$invalid">
				<span ng-show="registerdomainForm.description.$error.maxlength"class="text-danger">Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="registerdomainForm.description.$error.required">Description is required.</span>
			</span>					
		</div>
	</div>	
  
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" ng-disabled="registerdomainForm.$invalid" class="btn btn-success">Register</button>
		</div>
	</div>
</form>