@font-face {
  font-family: 'Italianno-Regular-OTF';
  src: url('../fonts/Italianno-Regular-OTF.otf');
}
@font-face {
  font-family: 'Enriqueta-Bold';
  src: url('../fonts/Enriqueta-Bold.otf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'GreatVibes-Regular';
  src: url('../fonts/GreatVibes-Regular.otf');
}
.bxslider {
  padding: 5px;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid transparent;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .projimg:hover {
  border: 2px solid #22151e;
}
.bxslider li .readmore {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.bxslider li .readmore a h4 {
  font: 16px 'Alex Brush', cursive;
  background-color: #89065b;
  color: #ffffff;
  padding: 5px 15px;
  transition: padding 250ms;
}
.bxslider li .readmore a h4:hover {
  background-color: #b9396a;
  padding: 5px 30px;
  text-decoration: none;
  padding: 5px 20px;
}
.homeproject {
  width: 903px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.homeproject .projectnav,
.homeproject .projsnap {
  border: 5px solid #c51ae2;
  background-color: #22151e;
  height: 350px;
}
.homeproject .projectnav .nav-stacked,
.homeproject .projsnap .nav-stacked {
  background-color: #22151e;
  margin: 5px;
}
.homeproject .projectnav .nav-stacked > li,
.homeproject .projsnap .nav-stacked > li {
  padding: 4px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projsnap .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus,
.homeproject .projsnap .nav-stacked > li > a:focus {
  font-weight: bold;
  color: #ffbee9;
  padding: 10px 0px;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projsnap .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projsnap .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projsnap .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projsnap .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projsnap .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projsnap .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus,
.homeproject .projsnap .nav-stacked > li > a:focus {
  background-color: #fffca8;
  color: #000000;
}
.homeproject .projsnap p {
  padding-left: 10px;
}
.homeproject .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fffca8;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty {
  margin-top: 25px;
}
.homeproject .projsnap .viewproperty a {
  color: #fffca8;
  font-size: 16px;
}
.homeproject .projsnap .viewproperty a:hover {
  color: #fffca8;
}
.homeproject #carousel .carousel-inner {
  border: 5px solid #ffbee9;
}
.homeproject #carousel .carousel-inner .carousel-caption h2 {
  border: none;
}
.homeproject #carousel .carousel-inner .item {
  overflow: hidden;
  height: 340px;
}
.homeproject #carousel .carousel-inner .item img {
  min-height: 340px;
}
.homeproject #carousel a.left.carousel-control,
.homeproject #carousel a.right.carousel-control {
  background: none;
}
.projlist {
  background-color: #c51ae2;
  padding: 10px;
}
.projlist .project .thumbnail {
  height: 385px;
  padding-top: 15px;
  border-color: #22151e;
}
.projlist .project .thumbnail .projectimg {
  width: 190px;
  height: 148px;
  overflow: hidden;
}
.projlist .project .thumbnail .projectimg img {
  min-height: 148px;
}
.projlist .project .thumbnail .caption {
  color: #ffbee9;
}
.projlist .project .thumbnail .caption p {
  color: #000000;
}
.projlist .project .thumbnail .readmore {
  margin-top: 15px;
}
.projlist .project .thumbnail .readmore a {
  font: 16px 'Alex Brush', cursive;
  background-color: #89065b;
  color: #ffffff;
  padding: 5px 15px;
  transition: padding 250ms;
}
.projlist .project .thumbnail .readmore a:hover {
  background-color: #b9396a;
  padding: 5px 30px;
}
.project .navbar {
  height: 50px;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: auto;
}
.project ul.nav.navbar-nav {
  background-color: #89065b;
  height: 42px;
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #c51ae2;
  height: 38px;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 14px;
  color: #fffca8;
  font-weight: bold;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background-color: #b9396a;
  color: #ffbee9;
}
.project .projImg {
  margin-right: 20px;
  max-height: 175px;
}
.project .projectgallery {
  background-color: #89065b;
  border: 1px solid #c51ae2;
  padding: 20px 20px 0px;
}
.project .projectgallery .thumbnail {
  background-color: #22151e;
}
@media (min-width: 320px) {
  .projImg {
    float: none;
    max-height: 175px;
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
}
* {
  transition: 300ms;
}
.container {
  width: 992px !important;
}
html {
  min-width: 1022px;
}
body {
  background: #22151e;
}
h1 {
  color: #b9396a;
  text-align: center;
  font: 4.1em/1em 'Italianno-Regular-OTF' cursive;
}
.navbar-default {
  background-image: linear-gradient(#b9396a, #89065b, #b9396a);
  border: none;
}
.navbar-default .navbar-nav > li {
  background-image: url(../img/nav_bg.png);
  background-repeat: no-repeat;
  display: block;
  float: left;
  position: relative;
  list-style-image: none;
  margin-right: 20px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  font: 1.8em 'GreatVibes-Regular' cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  color: #22151e;
  background: linear-gradient(#c51ae2, #ffbee9, #c51ae2);
  padding: 15px 15px;
  margin-top: -5px;
  margin-bottom: -5px;
  border-radius: 10px;
  border: 1px solid #22151e;
}
.navbar-default .navbar-nav > li ul {
  display: none;
}
.head {
  background: url(../img/tops.jpg);
  background-position: top center;
  background-size: 100%;
  padding-top: 65px;
}
/*.carousel{
	width : 903px;
	height : 400px;
	display: block;
  	margin-left: auto;
	margin-right: auto;
	.carousel-inner{
		.item{
			height : 358px;
			overflow : hidden;
			img{
				min-height : 358px;
				width : 100%;
			}
		}
	}
}*/
a {
  color: #22151e;
}
a:hover {
  color: #22151e;
}
.btn-info,
.btn-info[disabled] {
  background-image: url('../img/mr-bg.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  padding: 5px 29px;
}
.btn-info:hover,
.btn-info[disabled]:hover {
  color: #ffbee9;
  background-color: transparent;
  border: none;
}
section.col-xs-9 {
  padding-left: 40px;
}
article {
  background-image: url('../img/mn-tb.png');
  background-size: 100% 100%;
}
.sidebarModule {
  background-image: url('../img/ltb-m.png');
  background-position: center ;
  margin-top: 35px;
  margin-bottom: 75px;
  padding-top: 1px;
  position: relative;
}
.sidebarModule::before {
  content: url('../img/ltb-t1.jpg');
  position: absolute;
  left: -37px;
  top: -32px;
  z-index: -1;
}
.sidebarModule::after {
  content: url('../img/ltb-b1.jpg');
  position: absolute;
  left: -34px;
  bottom: -41px;
  z-index: -1;
}
.sidebarModule .panel {
  background: none;
  border: none;
}
.sidebarModule .panel-body {
  padding-top: 0px;
}
.sidebarModule .subhead {
  color: #ffffff;
  text-align: center;
  font: 2.5em/1em 'Italianno-Regular-OTF' cursive;
  margin-top: 10px;
}
.sidebarModule .sections {
  padding: 0px 20px 10px;
  color: #22151e;
}
.sidebarModule .sections h4 {
  margin-top: 0px;
}
.sidebarModule hr {
  border-color: #22151e;
  margin: 0px 0px 10px;
}
.features {
  margin-top: 40px;
}
.features .subhead {
  padding-left: 5px;
}
.contentModule {
  background-image: url('../img/mn-tb.png');
  background-size: 100% 100%;
  padding: 1px 30px;
}
.contentModule h3 {
  font-family: 'Enriqueta-Bold';
  color: #b9396a;
  text-align: left;
}
.contentModule h3 small {
  color: #22151e;
}
.contentModule ul {
  list-style: none;
}
.contentModule .sliderimg {
  width: 200px;
  height: 125px;
  overflow: hidden;
}
.contentModule .sliderimg img {
  min-height: 125px;
}
.contentModule .readmore {
  margin-top: 10px;
}
.contentModule .readmore a {
  font: 1.2em/1em 'Enriqueta-Regular';
  text-decoration: none;
  color: #c51ae2;
  padding: 7px 19px;
}
.contentModule p {
  margin-bottom: 0px;
  margin-top: 0px;
}
footer {
  color: #ffffff;
  background-image: url('../img/foot.jpg');
  margin-top: 10px;
  padding: 14px;
  text-align: center;
}
footer a {
  color: #fffca8;
}
footer a:hover {
  color: #ffbee9;
}
