<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="partyList_status" class="control-label" >partyList Status</label>
				<select id="partyList_status" class="form-control" ng-change="getData(false, currentPage,'party', 'party', params)" ng-model="pageItems">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
				</select>
			</div>
		</div>
	</div>
	
	
	<div class="table-responsive" ng-init="getData(false, currentPage, 'party','party',params);">
		<div ui-grid="party"></div>
	</div>
	
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'party','party',params)"></pagination>
		<pre>Page: {{currentPage}} / {{numPages}}</pre>
	</div>	

			</div>
		</div>
</div>
