.carousel{
	.carousel-inner{
		background-color: @colorblack;
		.item{
			height:430px;
			overflow:hidden;
			img{
					min-height:380px;
					width:100%;
					opacity: 0.8;
			}
			.carousel-caption {
				color:@color;
				right: 20%;
				left: 40%;
				padding-bottom: 230px;
				h2{
						font-size:30px;
						text-align:center;
				}
			}
		}
	}
	.carousel-control.right{
		background:none;
	}
	.carousel-control.left{
			background:none;
	}
}
.about{
	background: url(../img/robome.jpg);
	background-repeat : no-repeat;
	background-position : top right;
}
.contact{
	background: url(../img/legomindstorm.jpg);
	background-repeat : no-repeat;
	background-attachment : top left;
}
.sociallinks{
	text-align : center;
	position: relative;
	bottom: -30px;
	ul{
		list-style-type: none;
		padding-left : 0px;
		li{
			display: inline;
			a{
				width: 36px;
				height:36px;
				display:inline-block;
				margin-left:10px;
			}
		}
	}
	#facebook{
		background: url("../img/sprite_social.png") 0px 0px;
		&:hover{
			background: url("../img/sprite_social.png") 0px -38px;
		}
	}
	#google {
		background: url("../img/sprite_social.png") -114px 0;
		&:hover{	
			background: url("../img/sprite_social.png") -114px -38px;
		}
	}
	#twitter{
		background: url("../img/sprite_social.png") -38px  0;
		&:hover{	
			background: url("../img/sprite_social.png") -38px -38px;
		}
	}
	#linkedin {
		background: url("../img/sprite_social.png")  -75px  0;
		&:hover{	
			background: url("../img/sprite_social.png")  -75px  -38px;
		}
	}
	#pinterest{
		background: url("../img/sprite_social.png") -152px  0;
		&:hover{	
			background: url("../img/sprite_social.png") -152px  -38px;
		}
	}
}
.imageGallery{
	background-color : @lightbackcolor;
	.featrGallery{
		h3{
			font-size : 35px;
			margin : 30px auto;
		}
		.thumbnail{
			height : 400px;
			overflow : hidden;
			img{
				min-height : 400px;
			}
		}
	}
}