<div class="sociallinks">
	<ul>
		{% if data.website_config.sociallinks.facebook %}
			<li>
				<a id="facebook"  class="img-circle" href="{{data.website_config.sociallinks.facebook}}" target="_blank"><div class="social fb"></div></a>
			</li>
		{% endif %}
		
		{% if data.website_config.sociallinks.twitter %}
			<li>
				<a id="twitter" class="img-circle"href="{{data.website_config.sociallinks.twitter}}" target="_blank"><span class="social gplus"></span></a>
			</li>
		{% endif %}
		
	</ul>
</div> 