
	//aboutus page css
	
		.about{
				
			h2{
				color:@colorwhite;
				border-bottom:2px solid @colorwhite;
			}
			
				border-bottom:2px solid @colorwhite;
				p{
					color:@lightcolor !important;
					width: 550px;
				}						
			
		}
	
	
	//carousal css
	.carousel{
				.carousel-indicators{
					display: none;
					}
					>.carousel-control{
					display: none;
					}
					
				
		.item {
			height : 405px;
			overflow : hidden;
			.carousel-caption{
				color:@lightcolor;
			}
			img{
				width:100%;
					min-height:200px;
			}
		} 		
	}

	