
	//aboutus page css
	.container{
		.about{
				
				h2{
				color:@colorwhite;
				border-bottom:2px solid @colorwhite;
				}
			.about_content{
							border-bottom:2px solid @colorwhite;
							p{
								color:@lightcolor !important;
								}
											
			}					
				
		}
	}
	
	