
	//aboutus page css
	
		.about{
				
			h2{
				color:@colorwhite;
				border-bottom:2px solid @colorwhite;
			}
			
				border-bottom:2px solid @colorwhite;
				p{
					color:@lightcolor !important;
					width: 550px;
				}						
			
		}
	
	
	//carousal css
	.carousel{
				.carousel-indicators{
					display: none;
					}
					>.carousel-control{
					display: none;
					}
					
				
		.item {
			height : 405px;
			overflow : hidden;
			.carousel-caption{
				color:@lightcolor;
				line-height: 40px;
				top: 45px;
				text-align: right;
				right: 0;
				padding-left: 305px;
				padding-right: 25px; 
    
			}
			img{
				width:100%;
					min-height:200px;
			}
		} 		
	}
	
//testimonials
.item{
		.testimonial, .featrtesti{
			blockquote{
				font-size : inherit;
				border-left: none;
				footer{
					background:none;
					padding : 0px;
					cite{
						font-size : 17px;
						color : @color;
					}
				}
				&::before{
					content : '\201c';
					position : absolute;
					display : inline-block;
					top : 5px;
					left : 0;
					line-height : 40px;
					font-family : Times New Roman,Serif;
					font-size : 55px;
				}
				.description{
						p{
							color:@color;
						}
					.caption{
						p{
							color:@color;
						}
					}
				}
			}
		}
	}
	.item{
		.testimonial{
			blockquote{
				padding-left : 15px;
				footer{
					img{
						max-height: 70px;
						width: 70px;
						margin-right : 10px;
					}
				} 
			}
		}
	}
	.item{
		.featrtesti{
			blockquote{
				padding : 5px 15px;
			}
			img{
				max-height : 100px;
				padding : 4px;
				border : 3px solid @lightcolor;
				&:hover{
					border : 3px solid @color;
				}
			}
		}
	}	
	
		.gallery{
			.thumbnail{
					
					img{
						width: 100%;
						border: 2px dotted @color;
						padding: 10px;
					}
				.caption .description{
						overflow: hidden;
						height: 160px;
						display:none;
				}
			}
		}
		
.panel-default{
h3{
color:@lightbackcolor;
}
background-color:@colorblack;
.description{
p{
color:@colorwhite;
}
}
}

	
