//product.less
.prod_cont{
		.prodimg{
				height: 90px;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;
				img{
				
					border : 2px solid transparent;
				
					min-height: 90px;
					&:hover{
						
					}
				}
		}
		.description{
				display:none;
				
		}
		}
		.caption{
			
			
		}
		.readmore{
			
			}

			
//featured services bx-slider
.featured_services{
				background-color:@colorwhite;
	ul{
		.servdesc {
			.description{
				p{
					display:none;
				}
			}
		}
	}
}
.bxslider{

}			

