.contentModule{
			height:500px;
			background-color:red;
.products{
	.thumbnail{
		height:385px;
		.prodimg{
			height : 148px;
			width : 195px;
			overflow : hidden;
			margin : 0 auto;
			img{
				min-height : 148px;
				border : 2px solid transparent;
				padding : 4px;
				&:hover{
					border : 2px solid @darkbackcolor;
				}
			}
		}
		.caption{
			height: 182px;
			margin-bottom : 10px;
			.description{
				height : 75px;
				overflow : hidden;
			}
		}
		.readmore{
			text-align : center;
			}
		}
	}
}