	@color : black;
	@lightcolor : rgba(74,224,208,1);
	@darkcolor : #FFA500;
	@lightbackcolor :#217748;
	@darkbackcolor :#17653b;	
	@colorblack : #000000;
	@colorwhite	: #f4f4f4;
	
	//@import "property.less";
	//@import "project.less";
	//@import "product.less";
	@import "general.less";
	
body
{
background-color:black;
}
.container{
			background-color:@colorblack;
			.navbar_right{
							
						li{
							background-color:@colorblack;
							a{
								color:@colorwhite;
							}
							a:hover{
							background-color:@lightbackcolor;
							color : @colorwhite;	
				            }
						}
			}
}
.contact{
		h2{
			color:@colorwhite;
		}
}
