.description{
	color:@colorblack;
}
.services{
	text-align : center;
	.servdesc{
		height : 200px;
	}
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkbackcolor;
		}
	}
	.servdesc{
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			margin-top : 10px;
		}
	}
}

//multipleproducts
.products{
	.thumbnail{
		height:385px;
		.prodimg{
			height : 148px;
			width : 160px;
			overflow : hidden;
			margin : 0 auto;
			img{
				min-height : 148px;
				border : 2px solid transparent;
				padding : 4px;
				&:hover{
					border : 2px solid @darkbackcolor;
				}
			}
		}
		.caption{
			height: 190px;
			.description{
				height : 75px;
				overflow : hidden;
			}
		}
		.readmore{
			text-align : center;
		}
	}
}