//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		.projimg{
			height : 175px;
			overflow : hidden;
			padding : 6px;
			border : 2px solid transparent;
			img{
				min-height: 175px;
			}
			&:hover{
				border : 2px solid @darkbackcolor;
			}
		}
		width:100px;
		a{
			color:@darkcolor;
			h4{
				color : @color;
				padding: 4px;
				border : none;
				border-radius : 4px;
				&:hover{
					color : @colorblack;
				}
			}
		}
		p{
			margin-bottom : 0px;
			margin-top : 0px;
		}
	}
}
//keyframes
@keyframes moveanchor {
    0%   {left:0px; top:0px;}
    50%  {left:18px; top:0px;}
    100%  {left:0px; top:0px;}
}
.homeproject {
	.projectCarousal{
		position: relative;
		height : 400px;
		border: 3px solid @darkbackcolor;
		background-color : @colorwhite;
		.carousslider{
			padding-left: 0px;
			li{
				border: 3px solid #f9f4da;
				img{
					width : 100%;
					min-height : 395px;
				}
				&.item{
					overflow : hidden;
					height : 395px;
				}
			}
		}
		.projsnap{
			width : 0px;
			height : 395px;
			z-index : 0;
			background-color : rgba(12,214,184, 0.5);
			//background-color : rgba(12,214,184, 0.5);
			//border : 20px solid @back;
			//transform: translateY(-400px);
			//transition: all 800ms ease-in;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
		   -webkit-transform: translate(460px, -100px) rotate(180deg);
		   -moz-transform: translate(460px, -100px) rotate(180deg);
		   -o-transform: translate(460px, -100px) rotate(180deg);
		   -ms-transform: translate(460px, -100px) rotate(180deg);
		   transform: translate(460px, -100px) rotate(180deg);
		   -webkit-transition: all 0.2s 0.4s ease-in-out;
		   -moz-transition: all 0.2s 0.4s ease-in-out;
		   -o-transition: all 0.2s 0.4s ease-in-out;
		   -ms-transition: all 0.2s 0.4s ease-in-out;
		   transition: all 0.2s 0.4s ease-in-out;
			img{
				margin-bottom: 10px;
				border : 1px solid @color;
				border-radius : 5px;
				padding :4px;
				max-height : 295px;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				-o-transition: all 0.2s ease-in;
				-ms-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;
			}
			p{
				color: @color;
				font-size: 17.5px;
				text-shadow: 1px 1px 1px @colorwhite;
				-webkit-transform: translateX(300px) rotate(90deg);
				-moz-transform: translateX(300px) rotate(90deg);
				-o-transform: translateX(300px) rotate(90deg);
				-ms-transform: translateX(300px) rotate(90deg);
				transform: translateX(300px) rotate(90deg);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			.viewproperty{
				background-color: #A5BC33;
				padding: 10px;
				box-shadow: 1px 2px 6px #000;
				border-radius: 5px;
				text-align : center;
				-webkit-transform: translateY(-200px);
				-moz-transform: translateY(-200px);
				-o-transform: translateY(-200px);
				-ms-transform: translateY(-200px);
				transform: translateY(-200px);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				a{
					color: @colorwhite;
					font-weight: bold;
					&:hover{
						color : @color;
					}
				}
			}
		}
		&:hover{
			z-index : 0;
			.projsnap{
				z-index : 999;
				width : 708px;
				padding : 50px;
				//transform: translateY(0px);
				-webkit-transition-delay: 0s;
			   -moz-transition-delay: 0s;
			   -o-transition-delay: 0s;
			   -ms-transition-delay: 0s;
			   transition-delay: 0s;
			   -webkit-transform: translate(0px, 0px);
			   -moz-transform: translate(0px, 0px);
			   -o-transform: translate(0px, 0px);
			   -ms-transform: translate(0px, 0px);
			   transform: translate(0px, 0px);
				p{
					-webkit-transform: translateX(0px) rotate(0deg);
					-moz-transform: translateX(0px) rotate(0deg);
					-o-transform: translateX(0px) rotate(0deg);
					-ms-transform: translateX(0px) rotate(0deg);
					transform: translateX(0px) rotate(0deg);
					-webkit-transition-delay: 0.4s;
					-moz-transition-delay: 0.4s;
					-o-transition-delay: 0.4s;
					-ms-transition-delay: 0.4s;
					transition-delay: 0.4s;
				}
				.viewproperty{
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					-o-transform: translateY(0px);
					-ms-transform: translateY(0px);
					transform: translateY(0px);
					-webkit-transition-delay: 0.3s;
					-moz-transition-delay: 0.3s;
					-o-transition-delay: 0.3s;
					-ms-transition-delay: 0.3s;
					transition-delay: 0.3s;
				}
			}
		}
	}
	.projectnav{
		position : absolute;
		left: -239px;
		top: -5px;
		width: 245px;
		.nav-stacked{
			margin: 5px;
			>li{
				padding : 4px;
				background-color : @darkbackcolor;
				margin-bottom: 20px;
				position : relative;
				text-align : right;
				>a, > a:focus{
					color : @colorwhite;
					padding: 9px 15px;
					font-size: 17px;
					font-weight : bold;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					text-decoration: none;
					background-color: transparent;
					color:@color;
					-webkit-animation-name: moveanchor; /* Chrome, Safari, Opera */
					-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
					-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
					animation-name: moveanchor;
					animation-duration: 0.5s;
					animation-iteration-count: 1;
				}
				&::after{
					content: "";
					height: 30px;
					display: block;
					position: absolute;
					top: 49px;
					left: 0px;
					border-top: 10px solid @darkbackcolor;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
				}
			}
		}
	}
}

// single project nav css
.project{
	.navbar{
		border-radius: 0;
		margin-top:10px;
		margin-bottom:10px;
		height : 20px;
		width:auto;
	}
	ul.nav.navbar-nav {
		background-color:@darkbackcolor;
		margin-bottom:10px;
		>li{
			border-right : 1px solid @lightbackcolor;
			>a, > a:focus{
				padding : 9px 12px;
				color : @colorwhite;
				position : relative;
			} 
			&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
				background-color:@color;
				color : @colorwhite;
			}
		}
	}
	.projectgallery{
		.thumbnail{
			border : 1px solid @darkbackcolor;
			background : none;
		}
	}
}
.projHead,.project .description,.project .thumbnail {
	background-color:@lightbackcolor;
}
//css for single project & project list
	.projlist{
		
		
		padding:10px;
		//border : 1px solid @darkbackcolor;
		.project{
			
			.thumbnail{
				background-color:@lightbackcolor;
				height:385px;
				padding-top : 15px;
				border-color : @darkcolor;
				.projectimg{
					height : 148px;
					overflow : hidden;
					img{
						min-height : 148px;
						max-width : 95%;
						border : 2px solid transparent;
						padding : 4px;
						&:hover{
							border : 2px solid @darkbackcolor;
						}
					}
				}
				
				.caption{
					color : @colorblack;
				}
				.caption p{
					color:@colorblack;
				}
				.readmore{
					margin-top : 15px;
					a{
						color : @color;
						border-radius : 4px;
						&:hover, &:hover{
							color : @colorblack;
						}
					}
				}
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
		}
	}
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}