@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

//text color shade
	@color :#ac2617 ; //red darkcolor
	@lightcolor : #D2CEBE; //body text
	@darkcolor : #5A6B08;//
	 
//background color shade
	@back : #ff0000; //black shade for div style
	@darkbackcolor : #a5bc33; //90a52c
	@lightbackcolor :#fff3ce; 
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	body{
		color:@colorblack;
		//-webkit-gradient(linear, left top, right top, from(#fff3ce), to(#efefef))
		background-image:url('../img/bg.png'), linear-gradient( @lightbackcolor ,@colorwhite );
		background-repeat:no-repeat;
	}
	.sociallinks{
		top: 50%;
		width : 5px;
		position: fixed;
		z-index : 999;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				background-color: @darkbackcolor;
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color:@colorwhite;
					&:hover{
						color:@color;
						text-decoration : underline;
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	
	.container{
		max-width:992px !important;
	}
	
	header{
		margin : 10px auto 20px;
		.logo{
			max-width: 100%;
			max-height : 100px;
		}
		.cntdtl{
			padding-top: 20px;
		}
		.weblogo{
			padding-top: 15px;
		}
	}
	
	a, .btn.btn-link{
		color: @color;
		&:hover, &:hover{
			text-decoration : underline;
			color: @color;
		}
	}
	.btn.btn-link{
		font-size : 17.5px;
		padding-left : 0px;
	}
	.cnctinfo{
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @darkbackcolor;
	}
	.modal-body	{
		p{
			color:@colorblack;
		}
	} 
	.btn + .btn{
		margin-left : 5px;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>li>a:hover{
		background-color:transparent;
		color:@darkcolor;
		border-top: 10px solid @darkbackcolor;
	}
	.navbar{
		min-height : 50px;
	}
	.navbar-default {
		background:transparent;
		border:none;
		.navbar-nav{
			border-top: 1px solid @darkbackcolor;
			>li:hover{
				color:@back;
			}
			>li >a:active,>li >a:hover,>li >a:focus{
				color:@darkcolor;
			}
			>li{
				margin-bottom:0px;
				position : relative;
				padding: 0 5px;
				>a, > a:focus {
					color:@colorblack;
					padding: 8px 15px;
					text-transform: uppercase;
					font: normal 14px/1.5em 'Arial', Helvetica, sans-serif;
					transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-webkit-transition: all 0.2s ease;
				}
				
				> ul{
					display: none;
					position: absolute;
					width: 260px;
					z-index: 999;
					padding: 2px;
					list-style: none;
					text-align: left;
					left:-16px;
					border:2px solid @lightcolor;
					background-color:@darkbackcolor;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
								text-decoration : none;
							}
						}
						ul{
							list-style: none;
							display : none;
							position : absolute;
							left: 60px;
							width: 180px;
							padding : 2px;
							border:1px solid @darkbackcolor;
							background-color:@lightbackcolor;
							z-index:999;
							li{
								padding : 10px;
								a{
									color : @colorblack;
								}
								&:hover{
									a{
										color : @color;
									}
								}
							}
						}
						&:hover{
							background: @darkcolor;
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
			
		}
	}
	.content{
		background-image:url('../img/bg_curve.png');
		background-color:@colorwhite;
		background-repeat:no-repeat;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1 {
		font-weight:bold;
		letter-spacing: 1px;
		padding-bottom:10px;
		font: 2.3em/1.2em Enriqueta-Regular;
		color: @color;
	}
	h2, h4 ,h3{
		color: @color;
		padding-bottom:10px;
		
	}
	h3{
		font: 1.4em/1.2em negotiate_free;
		display: inline-block;
		position: relative;
		margin-bottom:0px;
	}
	.subhead::after {
		content: "";
		height: 30px;
		display: block;
		position: absolute;
		top: -1px;
		right: -51px;
		border-bottom: 44px solid @darkbackcolor;
		border-right: 52px solid transparent;
	}
	.subhead::before {
		content: '';
		display: inline-block;
		position: absolute;
		background: url('../img/bg_heading.png') no-repeat;
		width: 15px;
		height: 67px;
		top: 0;
		left: -15px
	}
	h2{
		font: 2.0em/1.2em QumpellkaNo12;
		line-height:1.5em;
		font-weight:bold;
	}
	.form-control{
		background : transparent;
		border-color : @darkbackcolor;
		&:focus{
			border-color : @back;
		}
	}
	.btn-info, .btn-info[disabled], .btn-primary{
		padding : 6px 10px;
		border : 1px solid @darkbackcolor;
		background : @darkbackcolor;
		color : @colorwhite;
		position: relative;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		&:before{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: @darkcolor;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.5s;
			transition-duration: 0.5s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		&:hover{
			background: @darkbackcolor;
			color : @colorwhite;
			border-color : transparent;
		}
		&:hover:before, &:focus:before, &:active:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
	.subhead{
		font-size: 18px;
		font-weight: bold;
		background-color:  @darkbackcolor ;
		box-shadow: -7px 5px 5px -5px @darkbackcolor;
		width:65%;
		color : @colorwhite;
		padding: 10px 0px 10px 10px;
		position : relative;
		border-bottom: 2px solid @darkbackcolor;
	}
	hr{
		border-style:dashed;
		border-color:@darkbackcolor;
		margin: 0px 0px 10px;
	}
	.contentModule{
		.sections{
			padding : 10px;
		}
	}
	.sidebarModule{
		.panel-body{
			padding: 15px 15px 0px;
		}
		h4{
			border : none;
		}
		.sections{
			padding: 35px;
		}
	}
	.contactus{
		.sections{
			padding : 20px;
			border-radius : 5px;
		}
	}
	.propertylist, .sidebarModule, .contentModule{
		.panel,.sections{
			color: #lightcolor;
			top: -5px;
			background: -webkit-gradient(linear, left top, right top, from(@lightbackcolor), to(@colorwhite));
			background-image: -webkit-linear-gradient(left, @lightbackcolor 1%, @colorwhite 20%);
			border-top:1px solid @darkbackcolor;
			box-shadow: 1px 1px 5px @darkbackcolor;
		}
	}
	.featured_services{
		.sections{
			border : none;
			background : none;
			box-shadow : none;
		}
	}
	.panel{
		background : transparent;
	}
	.panel-default{
		border-color : transparent;
	}
	.thumbnail{
		background: -webkit-gradient(linear, left top, right top, from(@lightbackcolor), to(@colorwhite));
		background: -linear-gradient(linear, left top, right top, from(@lightbackcolor), to(@colorwhite));
		border-color : @darkbackcolor;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	{
		background-color : @darkbackcolor;
		color : @lightcolor;
		border : 1px solid @darkcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:hover{
		background-color : @darkcolor;
		border : 1px solid @darkbackcolor;
		color : @colorwhite;
	}
	footer{
		margin-top : 15px;
		padding: 15px 0;
	}
	*{
		transition:300ms;
	}
	
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}
	@media (max-width: 320px){
		.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>li>a:hover{
			background-color:@darkbackcolor;
			color:@colorblack;
			border:none;
		}
	}
	@media (max-width: 480px){
		.weblogo, .cntdtl{
			text-align : center;
		}
		.logo{
			margin-bottom : 10px;
		}
	}
	@media (max-width: 540px){
		.navbar{
			min-height : 1px;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
			}
		}
	}