<div class="row">
		<div class="col-sm-12">	
		<div class="main-content">
				<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<div class="row">
				<div class="col-sm-2">
					<img src="img/user.jpg">
					<input type="file" id="clogo" name="clogo">	
				</div>
				<div class="col-sm-10">
					<h3 class="col-sm-offset-3 col-sm-8"> Edit Profile</h3>
					<form name="myForm" class="form-horizontal" role="form" novalidate="novalidate">	
						<div class="form-group">
							<label  for="name" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-8">
								<input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-model="cname" required >
								<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Name is required.</span>
								</span>
							</div>
						</div>
						<div class="form-group">	
							<label  for="email" class="col-sm-3 control-label">Email Id </label>
							<div class="col-md-8">
								<input type="Email" class="form-control" id="email" ng-model="login.email" name="email" placeholder="Enter Email" required >
								<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
								<span ng-show="myForm.email.$error.required">Email is required.</span>
								<span ng-show="myForm.email.$error.email">Invalid Email address.</span>
								</span>
							</div>
						</div>	
						
						<!--div class="form-group">
						   <label for="Contact_No" class="col-md-2 control-label"> * Contact No:</label>
						   <div class="col-md-9">
							<input type="text"  id="Contact_No" class="form-control"  name="Contact" ng-model="property.contact" placeholder="Enter Your Phno" maxlength="10" ng-pattern="/^\d{0,9}[0-9]$/" required >       
							<p style="color:red" ng-show="myForm.Contact.$error.pattern && (myForm.Contact.$dirty || submitted)" class="help-block">Enter a valid contact no.</p>
						   </div>      
						</div-->						
						<div class="form-group">
							<label for="contactno" class="col-md-3 control-label">Contact Number </label>
							<div class="col-md-8">
								<input type="text" id="contactno" name="contactno" class="form-control" ng-model="reg.contactno" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
								<span class="text-danger" ng-show="myForm.contactno.$dirty && myForm.contactno.$invalid">
									<span ng-show="myForm.contactno.$error.pattern && (myForm.contactno.$dirty || submitted)" class="help-block">Enter a valid Contact Number</span>
								</span>
							</div>						
						</div>	
						<div class="form-group">
							<label for="Address" class="col-md-3 control-label">Address</label>
							<div class="col-sm-8">
								<textarea  class="form-control" id="Address" ng-model="Address" name="Address" placeholder="Enter Address" required>
								</textarea>
								 <p>{{ 256 - Address.length + " Characters left"}}</p>
								<span style="color:red" ng-show="myForm.Address.$dirty &&  myForm.Address.$invalid">
									<span style="color:red" ng-show="myForm.reg.Address.$error.maxlength">
										Sorry You are Exceeding the Limit</span>
									<span ng-show="myForm.Address.$error.required">Address is required.</span>
								</span>	
							</div>
						</div>	
						<div class="form-group">
							<label  for="date" class="col-sm-3 control-label">Date</label>
							<div class="col-md-8">
								<p class="input-group">
								  <input type="text" id="date" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
								  <span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								  </span>
								</p>
							</div>
						</div>											
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
							  <button type="submit" class="btn btn-success" title="save">Save</button>
							  <button type="reset" class="btn btn-danger" title="Reset">Reset</button>
							</div>
						</div>						
					</form>
					<ng-include src="'modules/users/editprofile/changepass.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
	</div>

