//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		height : 325px;
		.projimg{
			height : 175px;
			overflow : hidden;
			padding : 6px;
			border : 2px solid transparent;
			img{
				min-height: 175px;
			}
			&:hover{
				border : 2px solid @darkbackcolor;
			}
		}
	}
}
//keyframes
@keyframes moveanchor {
    0%   {left:0px; top:0px;}
    50%  {left:18px; top:0px;}
    100%  {left:0px; top:0px;}
}
.homeproject {
	position : relative;
	.projectCarousal{
		position: relative;
		height : 400px;
		border: 3px solid @darkbackcolor;
		background-color : @colorwhite;
		.carousslider{
			padding-left: 0px;
			li{
				border: 3px solid #f9f4da;
				img{
					width : 100%;
					min-height : 395px;
				}
				&.item{
					overflow : hidden;
					height : 395px;
				}
			}
		}
		.projsnap{
			width : 0px;
			height : 395px;
			z-index : 0;
			background-color : rgba(12,214,184, 0.5);
			//background-color : rgba(12,214,184, 0.5);
			//border : 20px solid @back;
			//transform: translateY(-400px);
			//transition: all 800ms ease-in;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
		   -webkit-transform: translate(460px, -100px) rotate(180deg);
		   -moz-transform: translate(460px, -100px) rotate(180deg);
		   -o-transform: translate(460px, -100px) rotate(180deg);
		   -ms-transform: translate(460px, -100px) rotate(180deg);
		   transform: translate(460px, -100px) rotate(180deg);
		   -webkit-transition: all 0.2s 0.4s ease-in-out;
		   -moz-transition: all 0.2s 0.4s ease-in-out;
		   -o-transition: all 0.2s 0.4s ease-in-out;
		   -ms-transition: all 0.2s 0.4s ease-in-out;
		   transition: all 0.2s 0.4s ease-in-out;
			img{
				margin-bottom: 10px;
				border : 1px solid @color;
				border-radius : 5px;
				padding :4px;
				max-height : 295px;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				-o-transition: all 0.2s ease-in;
				-ms-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;
			}
			p{
				color: @color;
				font-size: 17.5px;
				text-shadow: 1px 1px 1px @colorwhite;
				-webkit-transform: translateX(300px) rotate(90deg);
				-moz-transform: translateX(300px) rotate(90deg);
				-o-transform: translateX(300px) rotate(90deg);
				-ms-transform: translateX(300px) rotate(90deg);
				transform: translateX(300px) rotate(90deg);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			.viewproperty{
				background-color: #A5BC33;
				padding: 10px;
				box-shadow: 1px 2px 6px #000;
				border-radius: 5px;
				text-align : center;
				-webkit-transform: translateY(-200px);
				-moz-transform: translateY(-200px);
				-o-transform: translateY(-200px);
				-ms-transform: translateY(-200px);
				transform: translateY(-200px);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				a{
					font-weight: bold;
				}
			}
		}
		&:hover{
			z-index : 0;
			.projsnap{
				z-index : 999;
				width : 708px;
				padding : 50px;
				//transform: translateY(0px);
				-webkit-transition-delay: 0s;
			   -moz-transition-delay: 0s;
			   -o-transition-delay: 0s;
			   -ms-transition-delay: 0s;
			   transition-delay: 0s;
			   -webkit-transform: translate(0px, 0px);
			   -moz-transform: translate(0px, 0px);
			   -o-transform: translate(0px, 0px);
			   -ms-transform: translate(0px, 0px);
			   transform: translate(0px, 0px);
				p{
					-webkit-transform: translateX(0px) rotate(0deg);
					-moz-transform: translateX(0px) rotate(0deg);
					-o-transform: translateX(0px) rotate(0deg);
					-ms-transform: translateX(0px) rotate(0deg);
					transform: translateX(0px) rotate(0deg);
					-webkit-transition-delay: 0.4s;
					-moz-transition-delay: 0.4s;
					-o-transition-delay: 0.4s;
					-ms-transition-delay: 0.4s;
					transition-delay: 0.4s;
				}
				.viewproperty{
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					-o-transform: translateY(0px);
					-ms-transform: translateY(0px);
					transform: translateY(0px);
					-webkit-transition-delay: 0.3s;
					-moz-transition-delay: 0.3s;
					-o-transition-delay: 0.3s;
					-ms-transition-delay: 0.3s;
					transition-delay: 0.3s;
				}
			}
		}
	}
	.projectnav{
		position : absolute;
		left: 700px;
		top: -5px;
		width: 270px;
		.nav-stacked{
			margin: 5px;
			>li{
				border-top-left-radius:10px;
				padding : 4px;
				background-color : @darkbackcolor;
				margin-bottom: 20px;
				position : relative;
				text-align : center;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				position: relative;
				-webkit-transition-property: color;
				transition-property: color;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				>a, > a:focus{
					color : @colorwhite;
					padding: 9px 15px;
					font-size: 17px;
					font-weight : bold;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
				
					text-decoration: none;
					background-color: transparent;
					color:@colorwhite;
					-webkit-animation-name: moveanchor; /* Chrome, Safari, Opera */
					-webkit-animation-duration: 0.4s; /* Chrome, Safari, Opera */
					-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
					animation-name: moveanchor;
					animation-duration: 0.4s;
					animation-iteration-count: 1;
				}
				&::after{
					content: "";
					height: 30px;
					display: block;
					position: absolute;
					top: 49px;
					left: 244px;
					border-top: 10px solid @darkbackcolor;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
				}
				&::before{
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: @lightcolor;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: 0 50%;
					transform-origin: 0 50%;
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: 0.5s;
					transition-duration: 0.5s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
				}
				&:hover{
					border-top-left-radius:10px;
					background-color : @lightcolor;
					&::after{
						border-top: 10px solid @lightcolor;
					}
				}
				&:hover:before, &:focus:before, &:active:before {
					border-top-left-radius:10px;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
					transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
				}
			}
		}
	}
}
.homeproject::after{
	position : absolute;
	content : "";
	background-image : url('../img/home.png');
	background-size: 100% 100%;
	right: -23px;
    bottom: 0px;
    z-index: 999;
    height: 245px;
    width: 350px;
}
// single project nav css
.project{
	.navbar{
		border-radius: 0;
		margin-top:10px;
		margin-bottom:10px;
		height : 20px;
		width:auto;
	}
	ul.nav.navbar-nav {
		background-color:@darkbackcolor;
		margin-bottom:10px;
		>li{
			border-right : 1px solid @lightbackcolor;
			>a, > a:focus{
				padding : 9px 12px;
				color : @colorwhite;
				position : relative;
			} 
			&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
				background-color:@lightcolor;
				color : @colorwhite;
			}
		}
	}
	.projectgallery{ 
		.thumbnail{
			.projectImags{
				width: 160px;
				height: 148px;
				overflow: hidden;
				margin : 0 auto;
				img{
					min-height : 148px;
				}
			}
			.caption{
				height: 173px;
				overflow: hidden;
				margin-bottom: 10px;
			}
		}
	}
}
//css for single project & project list
	.projlist{
		padding:10px;
		//border : 1px solid @darkbackcolor;
		.project{
			.thumbnail{
				height:415px;
				.projectimg{
					height : 148px;
					width : 160px;
					overflow : hidden;
					margin : 0 auto;
					img{
						min-height : 148px;
						padding : 4px;
						border : 2px solid transparent;
						&:hover{
							border : 2px solid @darkbackcolor;
						}
					}
				}
				.caption{
					height: 140px;
					margin-bottom: 10px;
				}
			}
		}
	}
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}