<div class="sociallinks pull-right">
	<ul>
		{% if data.website_config.sociallinks.facebook %}
			<li>
				<a href="{{data.website_config.sociallinks.facebook}}" target="_blank">Facebook</a>
			</li>
		{% endif %}
		<!-- {% if data.website_config.sociallinks.google %}
			<li>
				<a href="{{data.website_config.sociallinks.google}}" target="_blank"><img src="{{path}}img/google.jpg" class="img-circle"><span class="social lkdin"></span></a>
			</li>
		{% endif %} -->
		{% if data.website_config.sociallinks.twitter %}
			<li>
				<a href="{{data.website_config.sociallinks.twitter}}" target="_blank">Twitter</a>
			</li>
		{% endif %}
		{% if data.website_config.sociallinks.linkedin %}
			<li>
				<a href="{{data.website_config.sociallinks.linkedin}}" target="_blank">Linkedin</a>
			</li>
		{% endif %}
	</ul>
</div> 