.featured_services{
	margin-top:40px;
	background-color:@colorwhite;
		.sections {
				background: none;
				box-shadow: 0 0 0;
				color:@back;
				height: 90%;
				width: 90%;
				height: 100%;
				width: 100%;
				padding: 0px;
				display: block;
				font-family: 'Rochester',cursive;
				color: #729d04;
				font-size: 40px;
				line-height: 48px;
		}
	img{
		border: 7px solid #fff;
		border-radius: 2px;
		float: left;
		margin-right: 21px;
		box-shadow: 0 3px 5px rgba(0,0,0,0.1);
		}
}
