.featured_services{
	margin-top:40px;
	background-color:@colorwhite;
		.sections {
				background: none;
				box-shadow: 0 0 0;
				color:@back;
				height: 100%;
				width: 100%;
				padding: 0px;
				display: block;
				font-family: 'Rochester',cursive;
				color: #back;
				font-size: 40px;
				line-height: 48px;
				margin-top: 30px;
				
		}
		.services{
			overflow: hidden;
			padding-bottom: 10px;
			
			margin-top: 30px;
			border-width: 1px;
			border-style: solid;
			border-radius: 10px;
			background: #fcfcfc;
			padding: 0;
			border-color: #FFFFFF #F5F5F5 #E5E5E5;
			height: 166px;
		}
		img{
			border: 7px solid @colorwhite;
			border-radius: 2px;
			float: left;
			height:100%;
			width:100%;
			margin-right: 21px;
			box-shadow: 0 3px 5px rgba(0,0,0,0.1);
				&:hover{
							transform:scale(1.2);
							//border:1px solid @back;
						}
			}
}

.activity{
		  background: #fcfcfc;
		  border-color: #FFFFFF #F5F5F5 #E5E5E5;
			img{
				height:200px;
				width:100%;
				
			}
	animation-name:activity;
	animation-duration:2s;
	animation-iteration-count:1;
}
@keyframes activity{
	
	0%{opacity:0;transform:translatex(-100px);}
	100%{opacity:1;transform:translatex(0px);}
}

.featured_products{
				.produt {
					overflow: hidden;
					padding-bottom: 10px;
					margin-top: 30px;
					border-width: 1px;
					border-style: solid;
					border-radius: 10px;
					background: #fcfcfc;
					padding: 0;
					border-color: #FFFFFF #F5F5F5 #E5E5E5;

				}
	
				.prodimg{
					width : 198px;
					height : 148px;
					overflow : hidden;
					margin:auto;
					img{
						min-height : 148px;
						&:hover{
							opacity:1;
						}
						
					}
				}
				.caption{
					height: 190px;
					
				}
	
			.bx-wrapper {
						img {
								max-width: 100%;
								display: block;
								height: 162px;
							
							&:hover{
									background-image:url('../img/f1.jpg');
									}
									}
				}
				
		
	}


	
