.featured_services{
	margin-top:40px;
	background-color:@colorwhite;
		.sections {
				background: none;
				box-shadow: 0 0 0;
				color:@back;
				height: 100%;
				width: 100%;
				padding: 0px;
				display: block;
				font-family: 'Rochester',cursive;
				color: #back;
				font-size: 40px;
				line-height: 48px;
				margin-top: 30px;
				
		}
		.services{
			overflow: hidden;
			padding-bottom: 10px;
			
			margin-top: 30px;
			border-width: 1px;
			border-style: solid;
			border-radius: 10px;
			background: #fcfcfc;
			padding: 0;
			border-color: #FFFFFF #F5F5F5 #E5E5E5;
			height: 166px;
		}
		img{
			border: 7px solid @colorwhite;
			border-radius: 2px;
			float: left;
			margin-right: 21px;
			box-shadow: 0 3px 5px rgba(0,0,0,0.1);
			}
}

.activity{
		  background: #fcfcfc;
		  border-color: #FFFFFF #F5F5F5 #E5E5E5;
			img{
				height:200px;
				width:100%;
			}
}