@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v6/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@color : #fa6903; //dark chocalate
@lightcolor :rgb(128, 0, 0); //color
@darkcolor : #363333;//nav ul color
@back : #729d04;
@darkbackcolor : #435e01; //darkcolor black nav
@lightbackcolor :#e89d03;//no use
@colorblack : #000000;
@colorwhite	: #ffffff;

@import "property.less";
@import "product.less";
@import "general.less";




body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
			header{
				
				background-image:url('../img/mains.jpg');
				height:900px;
				width:100%;
				background-size:100% 100%;
				
		
			}
			img.logo{
					height:100px;
					width:100px;
					margin-bottom:30px;
					margin-left: 130px;
			}
			
	.navbar-default {
		background-image:url('../img/main.jpg');
		background-size:100% 100%;
		margin-bottom:-1px;
		border:none;
		
		.navbar-nav{
			> li{
				padding:-5px;
				float:none;
				margin-bottom:0px;
				position : relative;
				> a {
				
					display: block;
					font: 20px "Arial";
					height: 21px;
					padding: 24px 8px 14px 32px;
					color : @colorwhite;
					position:relative;
			
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background:none;
					//color : @lightcolor;
					//background-image:url('../img/hover.png');
					background-image:url('../img/hover1.png');
					height:100%;
					width:100%;
					background-repeat: no-repeat;
			
				}
				&.active > a::before, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background:none;
					//color : @lightcolor;
					background-image:url('../img/hover.png');
					//background-image:url('../img/hover1.png');
					height:100%;
					width:100%;
					background-repeat: no-repeat;
					position:absolute;
					right:20px;
					
			
				}
				
				
				> ul{
					display: none;
					position: absolute;
					width: 200px;
					z-index: 999;
					background-color: @darkcolor;
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					
					>li{
						padding : 10px;
						
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @darkbackcolor;
								text-decoration: none; 
							}
						}
						&:hover{
						//background-color:@darkcolor;
							-webkit-transition: all 0.4s;
						}
					
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		.navbar-collapse{
				margin-left: 137px;
					margin-right: 137px;
		}
	}
		
.homeAboutus {
    display: none;
}

.bx-wrapper .bx-next {
    right: -35px !important;
   background-image:url('../img/controls.jpg')
	no-repeat -43px -32px;	
}
.bx-wrapper .bx-prev {
    left: -32px ! important;
    background-image:url('../img/controls.jpg')
	no-repeat -43px -32px;
}
h3{
	color: @back;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-left: 30px;
    padding-top: 25px;
    text-transform: capitalize;
}
.btn-info {
    color: #fff;
    background-color: @back;
    border-color: @back;
	
	&:hover{
		background-color:@lightbackcolor;
		border:none;
	}
}
.serv{
	overflow: hidden;
    padding-bottom: 10px;
    margin-top: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background: #fcfcfc;
    padding: 0;
    border-color: #FFFFFF #F5F5F5 #E5E5E5;
	height: 166px;
}
