@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v6/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@color : #fa6903; //dark chocalate
@lightcolor :#FFA500; //color
@darkcolor : #363333;//nav ul color
@back : #729d04;
@darkbackcolor : #FFFF00; //darkcolor black nav
@lightbackcolor :#e89d03;//no use
@colorblack : #000000;
@colorwhite	: #ffffff;

@import "property.less";
@import "product.less";
@import "general.less";

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: @colorwhite;
}
			header{
				background-image:url('../img/mains.jpg');
				width:100%;
				background-size:100% 100%;
			}
			img.logo{
					height:100px;
					width:100px;
					margin-bottom:30px;
					margin-left: 130px;
			}
			
	.navbar-default {
		background-image:url('../img/main.jpg');
		background-size:100% 100%;
		border:none;
		top:-13px;
		height:90px;
		
		.navbar-nav{
			> li{
				float: none;
				margin-bottom: 0px;
				position: relative;
				padding: 0px 10px 10px;
				> a {
					display: block;
					font: 20px "Arial";
					color : @colorwhite;
					position:relative;
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background-color : @color;
					color : @colorblack;
					border-bottom-left-radius : 8px;
					border-bottom-right-radius : 8px;
					top: -10px;
					padding-top: 34px;
					right:20px;
					background-image:-webkit-linear-gradient(bottom, @lightcolor 70%,@darkbackcolor) ;
				}
				&.active > a::after, &.active:hover > a::after, &.active > a:focus::after, &:hover > a::after, &:hover > a:focus::after
				{
					content: '';
					position: absolute;
					right: -8px;
					top: 0px;
					border-bottom: 6px solid @lightcolor;
					border-left: 4px solid @lightcolor;
					border-right: 4px solid transparent;
					border-top: 4px solid transparent;
					background-image:-webkit-linear-gradient(bottom, @lightcolor 70%,@darkbackcolor) ;
				}
				
				
				&:hover a::before, &:first-child a::before, &.active > a::before{
					display : none;
				}
				
				
				> ul{
					display: none;
					position: absolute;
					width: 200px;
					z-index: 999;
					background-color: @darkcolor;
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					
					>li{
						padding : 10px;
						
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @back;
								text-decoration: none; 
							}
						}
						&:hover{
						//background-color:@darkcolor;
							-webkit-transition: all 0.4s;
						}
					
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		
	}
		
.homeAboutus {
    display: none;
}

.bx-wrapper .bx-next {
    right: -35px !important;
   background-image:url('../img/controls.jpg')
	no-repeat -43px -32px;	
}
.bx-wrapper .bx-prev {
    left: -32px ! important;
    background-image:url('../img/controls.jpg')
	no-repeat -43px -32px;
}
h2,  h3, {
	color: @back;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    //padding-left: 30px;
    padding-top: 25px;
    text-transform: capitalize;
}
h4, .h4 {
			font-size: 18px;
			color: @back;
		}
.btn-info {
    color: @colorwhite;
    background-color: @back;
    border:1px solid @back;
	border-radius: 100%;
	
	&:hover{
		background-color:@lightbackcolor;
		 border:1px solid transparent;
	}
}


footer{
		font-size: 11px;
		line-height: 19px;
		text-align: left;
		text-transform: uppercase;
		margin-top: 80px;
		color:@back;
		
		a {
			color: @back;
			text-decoration: none;
			a:hover, a:focus {
			color: @back ! important;
			text-decoration: underline;
			}
		}		
	}
