<div class="modal-header" ng-init="modalOptions.getAccountConfig();modalOptions.getParty(modalOptions)">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3  ng-if="!modalOptions.addinvoice.id" class="text-center">Add Invoice</h3>
	<h3  ng-if="modalOptions.addinvoice.id" class="text-center">Update Invoice</h3>
	<!--<h3>Update Invoice</h3>-->
</div>
<div class="modal-body">
	<!--THE HIDDEN Generate Date and Due_date and User ID-->
	<form name="generalForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="generalForm.$valid" id="generalForm">
		<div class="form-group">
				<div ng-init="modalOptions.getData(false,false,'party','partyList', partyParams, modalOptions)">
					<label for="user_id" class="col-sm-2 control-label"> User Name * </label>
					<div class="col-sm-4">
						<select id="user_id" class="form-control" ng-model="user_id" ng-options="item.id as item.name for item in modalOptions.partyList | filter : {type:'client'}">
							<option value="">Select Party</option>
						</select>
						<span class="help-block" ng-show="addInvoiceForm.user_id.$dirty && addInvoiceForm.user_id.$invalid">
						<span ng-show="addInvoiceForm.user_id.$error.required" class="text-danger">user name is required.</span>
						</span>	
					</div>
			</div>
			
			<label  for="payment_status" class="col-sm-2 control-label">Payment Status</label>
				<div class="col-sm-4">
					<select id="payment_status" class="form-control" name="payment_status"  ng-model="modalOptions.addinvoice.payment_status" required>
						<option value="" selected>Payment Status</option>
						<option value="0">Unpaid</option>	
						<option value="1">Paid</option>	
						<option value="2">Partial Paid</option>
					</select>
					<span class="help-block" ng-show="addInvoiceForm.payment_status.$dirty && addInvoiceForm.addinvoice.payment_status.$invalid">
							<span ng-show="addInvoiceForm.payment_status.$error.required" class="text-danger">Payment Status is required.</span>
					</span>	
				</div><br> <br>
				
			<label  for="generated_date" class="col-sm-2 control-label">Generate Date *</label>
			<div class="col-sm-4">
					<input type="text" class="form-control " placeholder="YYYY-DD-MM" id="generated_date" name="generated_date" ng-model="modalOptions.addinvoice.generated_date" ng-init="modalOptions.addinvoice.generated_date = modalOptions.date"/>		
			</div>
			
			<label  for="due_date" class="col-sm-2 control-label">Due Date *</label>
			<div class="col-sm-4">
					<input type="text" class="form-control " placeholder="YYYY-DD-MM" id="due_date" name="due_date" ng-model="modalOptions.addinvoice.due_date" ng-init="modalOptions.addinvoice.due_date = modalOptions.date" /> 
			</div>
				
			</div>
	</form>
	<br>
	<!--THE HIDDEN Generate Date and Due_date and User ID Ends Here-->
	<div class="row" >
	<div class="col-sm-12" ng-init="modalOptions.addinvoice.particulars = (modalOptions.addinvoice.particulars) ? modalOptions.addinvoice.particulars : []">
		<form name="addInvoiceForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addInvoiceForm.$valid" id="addInvoiceForm">
		
			<div class="table-responsive">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Particular Name</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Amount</th>
							<th>Duration</th>
							<th>Previous Due</th>
							<th colspan="3">Tax</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="hidden" ng-model="modalOptions.addinvoice.status" ng-init="modalOptions.addinvoice.status = 1">
								<input type="text" class="form-control " placeholder="Particular Name" id="particular_name" name="particular_name" ng-model="modalOptions.singleparticular.particular_name" required/>
								
								<span class="help-block" ng-show="addInvoiceForm.particular_name.$dirty && addInvoiceForm.particular_name.$invalid">
								<span ng-show="addInvoiceForm.particular_name.$error.required" class="text-danger">particular_name Required.</span>
								</span>
								
							</td>
							
							<td>
								<input type="text" class="form-control " placeholder="price" id="price" name="price" ng-model="modalOptions.singleparticular.price"  ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required/>
								<span class="help-block" ng-show="addInvoiceForm.price.$dirty && addInvoiceForm.price.$invalid">
								<span ng-show="addInvoiceForm.price.$error.required" class="text-danger">Price Required.</span>
								<span ng-show="addInvoiceForm.price.$error.pattern" class="text-danger">Enter like 0.00 only</span>
								</span>
							</td>
							
							<td>
								
								<input type="text" class="form-control " placeholder="Quantity" id="quantity" name="quantity" ng-model="modalOptions.singleparticular.quantity" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,2}){0,1}$/"  required/>
								
								<span class="help-block" ng-show="addInvoiceForm.quantity.$dirty && addInvoiceForm.quantity.$invalid">
								<span ng-show="addInvoiceForm.quantity.$error.required" class="text-danger">Quantity Required</span>
								<span ng-show="addInvoiceForm.quantity.$error.pattern" class="text-danger">Enter like 0.00 only</span>
								</span>
							</td>
							
							<td>
								<input type="text" class="form-control " placeholder="Amount" id="amount" name="amount" ng-model="modalOptions.singleparticular.amount"/>
							</td>
							<td>
								<input type="text" class="form-control" id="duration" name="duration" placeholder="duration"ng-model="modalOptions.addinvoice.duration"  ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
								<span class="help-block" ng-show="addInvoiceForm.duration.$dirty && addInvoiceForm.duration.$invalid">
									<span ng-show="addInvoiceForm.duration.$error.required" class="text-danger">duration Required.</span>
									<span ng-show="addInvoiceForm.duration.$error.pattern" class="text-danger">Enter like 0.00 only</span>
								</span>
							</td>
							<td>
							<input type="text" class="form-control" id="previous_due" name="previous_due" placeholder="Previous due" ng-model="modalOptions.addinvoice.previous_due" required 
							ng-change=""/>
							<span class="help-block" ng-show="addInvoiceForm.previous_due.$dirty && addInvoiceForm.previous_due.$invalid">
								<span ng-show="addInvoiceForm.previous_due.$error.required" class="text-danger">Previous Due is necessary.</span>
							</span> 
						</td>
							<td>
							<label class="col-sm-3">
									Other Tax<input type="checkbox" name="tax1" ng-model="modalOptions.addinvoice.tax.tax1" >
							</label>
							<label class="col-sm-3">
									Other Tax<input type="checkbox" name="tax2" ng-model="modalOptions.addinvoice.tax.tax2">
							</label>
							<label class="col-sm-3">
									Other Tax<input type="checkbox" name="tax3" ng-model="modalOptions.addinvoice.tax.tax3">
							</label>
							
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
				
			<div>
				<label  for="remark" class="col-sm-3 control-label">Remark *</label>
				<textarea class="col-sm-9 " id="remark" name="remark" ng-model="modalOptions.addinvoice.remark" ng-maxlength="250" required></textarea>
				<span ng-hide="addInvoiceForm.remark.$error.maxlength">
								{{ 250 - modalOptions.addinvoice.remark.length + " Chars left" }}
				</span>	
				 <span class="help-block" ng-show="addInvoiceForm.remark.$dirty && addInvoiceForm.remark.$invalid">
					<span class="text-danger" ng-show="addInvoiceForm.remark.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="addInvoiceForm.remark.$error.required" class="text-danger">Required Field</span>
				</span>
			</div>
			
			<button type="submit" class="btn btn-success" ng-click="modalOptions.addToObject(modalOptions.addinvoice.particulars, modalOptions.singleparticular)">+Add This Particular</button>	
			
		</form>
	</div>
</div>
	<br>
		<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-sm-2">Sr.No.</th>
							<th class="col-sm-3">Particular Name</th>
							<th class="col-sm-2 text-right">Price</th>
							<th class="col-sm-2 text-right">Quantity</th>
							<th class="col-sm-2 text-right">Amount</th>
							<th class="col-sm-2 text-right">Remove</th>
						</tr>
					</thead>
					<tbody>
					
						<tr ng-repeat="x in modalOptions.addinvoice.particulars">
							<td>{{ $index + 1 }}</td>
							<td>{{x.particular_name}}</td>
							<td class="text-right">{{x.price}}</td>
							<td class="text-right">{{x.quantity}}</td>
							<td class="text-right">{{x.amount}}</td>
							<td><a ng-click="modalOptions.removeObject(modalOptions.addinvoice.particulars, $index)"><span class="glyphicon glyphicon-remove"></span></a></td>
						</tr>
							<tr >
							<td colspan="3"></td>
							<td class="text-right"><strong>Sub Total</strong></td>
							<td class="text-right">{{ modalOptions.subTotal  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td class="text-right"><strong>Total Service Tax</strong></td>
							<td class="text-right">{{ modalOptions.tax.service_tax  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td class="text-right"><strong>Total Other Tax</strong></td>
							<td class="text-right">{{ modalOptions.tax.other_tax  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td class="text-right"><strong>Less TDS</strong></td>
							<td class="text-right">{{ modalOptions.tax.tds  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td class="text-right"><strong>Total</strong></td>
							<td class="text-right">{{ modalOptions.total  | number : 2}}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			{{modalOptions.tax}}
			
				</tbody>
				</table>
		</div>
		<br>
		<br>
</div>

<div class="modal-footer">
	
	<button type="submit"  class="btn btn-success" ng-if="modalOptions.addinvoice.id"  ng-disabled="addinvoice.$invalid" ng-click="modalOptions.updateData('invoice',modalOptions.addinvoice,modalOptions.addinvoice.id); modalOptions.ok()">Update Invoice</button>

	<button type="submit"  class="btn btn-success" ng-if="!modalOptions.addinvoice.id" ng-disabled="addInvoiceForm.$invalid" ng-click="modalOptions.postData('invoice',modalOptions.addinvoice); modalOptions.ok()">Add Invoice</button>
	
	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>
</div>
