<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<ng-include src="'modules/navbar.html'"></ng-include>
			<div class="row">
				<div class="col-sm-2">
						<div class="bottomspace">
							<label for="partyList_status" class="control-label">Select Records</label>
							<select id="partyList_status" class="form-control" ng-model="pageItems" ng-change="getData(false, currentPage,'invoice', 'invoiceList',params);" >
									<option value="" selected>Select type</option>
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
							</select>
						</div>
				</div>
				
			</div>
				
				<div class="table-responsive" ng-init="getData(false, currentPage, 'invoice','invoiceList', params);getData(false,false,'user','userList', userParams);getData(false,false,'account','accountList', accountParams);">
				<div ui-grid="invoiceList"></div>
				</div>
				<div class="text-center">				
							<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'invoice','invoiceList', params)"></pagination>
							<pre>Page: {{currentPage}} / {{numPages}}</pre>
				</div>
				
				
				

		</div>
	</div>
</div> 