<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	<button type="button" class="btn btn-primary pull-right buttondistance" ng-click="modalOptions.printDiv('invoice')">Print</button>
	<h3>INVOICE</h3>
</div>{{modalOptions.addinvoice}}
<div class="modal-body">
	<div  id="invoice">
	<div class="panel panel-default" >
		<div class="panel-heading text-center"><h2>INVOICE</h2></div>
		<div class="panel-body row">
			<div class="col-xs-6">
				<address class="text-center">
					<strong>{{userDetails.name | uppercase}}</strong><br>
					{{userDetails.address.address}}<br>
					E-Mail : {{userDetails.email}}
				</address>
				<hr>
			</div>
			<div class="col-xs-6">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="amt">
							<td><strong>Invoice No.</strong><br>{{modalOptions.addinvoice.invoice_id}}
							</td>
							<td><strong>Dated</strong><br>
							{{modalOptions.addinvoice.generated_date}}</td>
						</tr>
						
						<tr>
							<td><strong>Invoice Month</strong><br> {{modalOptions.addinvoice.generated_date | date : 'MMM-yyyy'}}</td>
							<td><strong>Due Date</strong><br>{{modalOptions.addinvoice.due_date}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="table-responsive col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr class="head">
							<th class=" col-xs-8">Particulars</th>
							<th class=" col-xs-2">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in modalOptions.addinvoice.particulars">
							<td>{{x.particular_name}}</td>
							<td>{{x.amount}}</td>
						</tr>	
					</tbody>
					<tfoot>
						<tr>
							<td class="text-right"><strong>Total Amount</strong></td>
							<td class="amt" ng-init="modalOptions.totalCalculate(modalOptions);">{{modalOptions.addinvoice.total_amount | number : 2}}</td>
						</tr>
					</tfoot>
				</table>
				<div class="col-xs-12">
					<p>Amount Chargeable(in words) : 
					<strong><em>{{modalOptions.inWords | uppercase}}</em></strong>
					<p><strong>Remarks:</strong> <span ng-bind-html="modalOptions.addinvoice.remark"></span></p>
					
					<hr/>
					<p><strong>Company's Service Tax No: </strong>{{modalOptions.accountConfig.service_tax_no}}</p>
					<p><strong>Company's Pan: </strong>{{modalOptions.accountConfig.pan_no}} </strong></p>
					<p class="text-right">For <strong><em>{{userDetails.name}}</em></strong><br><br><br>
					Authorised Signatory</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default" id="invoice" ng-if="modalOptions.addinvoice.length <= 0">
		<div class="panel-body">
			<h2> No Data Found </h2>
		</div>
	</div>
	</div>
</div>