	

	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : #fbe7ab;
	@lightcolor : #54190C;
	@darkcolor : #3E2709;
	@back : #1d0200;
	@darkbackcolor : #F5D892;
	@lightbackcolor :#634928; 
	@colorblack : #000000;
	@colorwhite	:  #fff ;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
	*{
		transition:300ms;
	}
	.container{
		max-width : 992px !important;
	}
body, fieldset, form, h1, h2, h3, h4, h5, h6
{
  
	color:@colorwhite;
}

h1{
		margin-top: 30px;
		border-bottom:1px solid @darkcolor;
	
	&::after{
				content : url('../img/heading-graphic.gif');
				position : absolute;
				z-index : -1;
					padding: 3px;
			}

}
h2{
		margin-top: 30px;
		padding: 3px;
		border-bottom:1px solid @darkcolor;
	&::after{
				content : url('../img/heading-graphic.gif');
				position : absolute;
				margin-left: 0px;
				z-index : -1;
			}
		}
body {
    background:@back ;
    font: 12px Arial, Helvetica, sans-serif;
    color: @color;
}
.logo{
	height:80px;
	width:80px;
}
header{
	.container{
		background-image:url("../img/food1.jpg");
	}
}
.navbar-default {
   background:transparent;
    border-color: transparent;
	top: 21px;
    margin-right: -15px;
	
		.navbar-nav{
				>li{
				
					position :relative;
					display: inline-block;
				  vertical-align: middle;
				  -webkit-transform: translateZ(0);
				  transform: translateZ(0);
				  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
				  -webkit-backface-visibility: hidden;
				  backface-visibility: hidden;
				  -moz-osx-font-smoothing: grayscale;
				  -webkit-transition-duration: 0.3s;
				  transition-duration: 0.3s;
				  -webkit-transition-property: transform;
				  transition-property: transform;
				  -webkit-transition-timing-function: ease-out;
				  transition-timing-function: ease-out;
			
				  &:hover,&:focus,&:active {
						  -webkit-transform: translateY(-8px);
						  transform: translateY(-8px);
						}
				>a{
						background:linear-gradient(@lightbackcolor,@lightcolor);
						color : @color;
						border:1px solid @colorblack;
						//text-shadow: 1px 1px @colorblack;
						font-size: 14px;
						font-weight:bold;
						
						border-right: 1px solid @back; 
						border-top-left-radius: 10px;
						//border-top-right-radius: 10px;
					}
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
						color: @darkcolor;
						cursor: pointer;
						//text-shadow: 1px 1px @colorblack;
						background: @color;
					}
					ul{
						display : none;
						position : absolute;
						width : 270px;
						z-index : 999;
						background-color :  @color;
						color: @darkcolor;
						padding : 15px;
						list-style : none;
						text-align : left;
						border : 1px solid @darkcolor;
						box-shadow : 0 0 15px 0px @colorblack;
						border-radius : 7px;
						>li{
							padding : 10px;
							position : relative;
							>a{
								text-decoration:none;
								color : @darkcolor;
								&:hover{
									color : @darkcolor;
								}
							}
							> ul{
								display: none;
								list-style :none;
								left: 70%;
								top: 10px;
								border-top-left-radius: 0px;
								>li{
									>a{
										text-decoration:none;
										color : @darkcolor;
										&:hover{
											color : @darkcolor;
										}
									}
								}
							}
							&:hover > ul {
								display: block;
							}
						}
					}
					&:hover{
						>ul{
							display:block;
						}
					}
				}
			}
}
.carousel{
			background:rgba(0, 0, 0, 0.22);;
			box-shadow:0px 4px 4px  @colorblack;
			.item{
					height : 400px;
					overflow : hidden;
					img{
						//margin-left: 50px;
						min-height : 250px;
					}
					h2{
						color:@darkcolor;
						text-align:left;
					}
					p{
						color:@colorwhite;
					}
				}
		}
		.gallery{
			.thumbnail{
				background-image:url("../img/frame.gif");
				padding : 40px;
				padding-top: 38px;
				background-color: transparent;
				border:none;
				.imgs{
					height: 114px;
					width: 165px;
					overflow: hidden;
					margin: 0 auto;
					margin-left: -5px;
					img{
						min-height : 180px;
					}
				}
			}
		}
		.activity{
				background-color:transparent;
				
			
			.panel{
			background-color:transparent;
			border:none;
			border-bottom:1px solid @darkcolor;
				.media-heading{
					color:@colorwhite;
				}
				.description{
						overflow:hidden;
						height:100px;
				}
			}
		
		}
		
	#googleMap{
		height:395px;
	}
	
	
	.about{
	
		margin:20px;
		padding:10px;
	
	}
	.form-control{
			color:@color;
			border:1px solid @darkcolor;
			background-color:transparent;background-color:transparent;
			
		}
	.enquiry{
			
		.panel{
			border:1px solid transparent;
			background-color:transparent;
		}
		.panel-body{
			.btn-info{
				background-image:url("../img/btn-bg.jpg");
				border:none; 
				height: 27px;
				width: 81px;

			
			}
			
	}
}
footer{
		color:@color;
		margin-top:30px;
		
		a{
		
			color:@colorwhite;
			&:hover{
				color:@colorwhite;
				text-decoration:underline;
			}
		}
		}
@media (min-width: 768px){
	.navbar {
		border-radius: 0;
		}
}
