	

	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : #fbe7ab;
	@lightcolor : #54190C;
	@darkcolor : #3E2709;
	@back : #1d0200;
	@darkbackcolor : #2f0805;
	@lightbackcolor :#634928; 
	@colorblack : #000000;
	@colorwhite	:  #fff ;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
	*{
		transition:300ms;
	}
	.container{
		max-width : 992px !important;
	}
body, fieldset, form, h1, h2, h3, h4, h5, h6
{
  
	color:@colorwhite;
}

h1{
		margin-top: 30px;
		border-bottom:1px solid @darkcolor;
	&::after{
				content : url('../img/heading-graphic.gif');
				position : absolute;
				z-index : -1;
					padding: 3px;
			}
	}
h2{
		margin-top: 30px;
		padding: 3px;
		border-bottom:1px solid @darkcolor;
	&::after{
				content : url('../img/heading-graphic.gif');
				position : absolute;
				margin-left: 0px;
				z-index : -1;
			}
		}
body {
    background:@back ;
    font: 12px Arial, Helvetica, sans-serif;
    color: @color;
}
.logo{
	height:80px;
	width:80px;
}
header{
	.container{
		background-image:url("../img/food1.jpg");
	}
}
.navbar-default {
   background:transparent;
    border-color: transparent;
	top: 28px;
    margin-right: -15px;
	
		.navbar-nav{
				>li{
					position :relative;
				>a{
						background:linear-gradient(@lightbackcolor,@lightcolor);
						color : @color;
						border:1px solid @colorblack;
						font-size: 14px;
						font-weight:bold;
						border-right: 1px solid @back; 
						border-top-left-radius: 10px;
					}
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
						color: @darkcolor;
						cursor: pointer;
						background: @color;
					}
					ul{
						display : none;
						position : absolute;
						width : 270px;
						z-index : 999;
						background-color :  @color;
						color: @darkcolor;
						padding : 15px;
						list-style : none;
						text-align : left;
						border : 1px solid @darkcolor;
						box-shadow : 0 0 15px 0px @colorblack;
						border-radius : 7px;
						>li{
							padding : 10px;
							position : relative;
							>a{
								text-decoration:none;
								color : @darkcolor;
								&:hover{
									color : @darkcolor;
								}
							}
							> ul{
								display: none;
								list-style :none;
								left: 70%;
								top: 10px;
								border-top-left-radius: 0px;
								>li{
									>a{
										text-decoration:none;
										color : @darkcolor;
										&:hover{
											color : @darkcolor;
										}
									}
								}
							}
							&:hover > ul {
								display: block;
							}
						}
					}
					&:hover{
						>ul{
							display:block;
						}
					}
				}
			}
	}
.carousel{
			background:rgba(0, 0, 0, 0.22);;
			box-shadow:0px 4px 4px  @colorblack;
			.item{
					height : 400px;
					overflow : hidden;
					img{
						//margin-left: 50px;
						min-height : 250px;
					}
					h2{
						color:@darkcolor;
						text-align:left;
					}
					p{
						color:@colorwhite;
					}
				}
		}
		.gallery{
			.thumbnail{
				background-image:url("../img/frame.gif");
				background-repeat:no-repeat;
				padding : 40px;
				padding-top: 38px;
				background-color: transparent;
				border:none;
				.imgs{
					height: 114px;
					width: 165px;
					overflow: hidden;
					margin: 0 auto;
					margin-left: -5px;
					img{
						min-height : 180px;
					}
				}
			}
		}
		.activity{
				background-color:transparent;
			.panel{
			background-color:transparent;
			border:none;
			border-bottom:1px solid @darkcolor;
				.media-heading{
					color:@colorwhite;
				}
				.description{
						overflow:hidden;
						height:100px;
				}
			}
		}	
	#googleMap{
		height:395px;
	}
	.about{
		center{
			margin:20px;
		
		}
		p{
			padding-top:5px;
			strong{
			margin-left:5px;
			}
		}
	}
	.form-control{
			color:@color;
			border:1px solid @darkcolor;
			background-color:@darkbackcolor;	
		}
	.enquiry{
			h3{
				color:@color;
			}
			.panel{
				border:1px solid transparent;
				background-color:transparent;
			}
			.panel-body{
					color:@color;	
				
					.btn-info{
						background-color:@color;
						border:none; 
						height: 27px;
						width: 81px;
						color:@darkcolor;					
				}
			&::before{
				content : url('../img/vector-sep.jpg');
				position : absolute;
				z-index : -1;
			    left: -405px;;
				top: 400px;
				transform: rotate(90deg);
		}				
	}
}
.table>tbody>tr>td,{
	border-top:none;
	hr{
		border-top:none;
	}
}
	.pagination{	
		border-bottom:1px solid @darkcolor;
		li{
			background-color: @lightcolor;
			a{
				color: @color;
				background-color: @lightcolor;
				border-color:transparent;
				&:hover,&:active,&:focus{
				color:@lightcolor;
				background-color: @color;
				border-color:transparent;
				}			
			}	
		}
		.active>a{
				color:@lightcolor;
				background-color: @color;
				border-color:transparent;
				&:hover{
					color:@lightcolor;
					background-color: @color;
					border-color:transparent;
					}
				}
		.disabled{
				>a{
				color: @color;
				background-color: @lightcolor;
				border-color:transparent;
				&:hover{
					color:@lightcolor;
					background-color: @color;
					border-color:transparent
				}
				}	
			}	
		&::before{
				content : url('../img/line-grid.jpg');
				position : absolute;
				z-index : -1;
			}				
	}
footer{
		color:@color;
		margin-top: 100px;
		padding: 20px;
	
		a{
		
			color:@colorwhite;
			&:hover{
				color:@colorwhite;
				text-decoration:underline;
			}
		}
		}
		
		
@media (min-width: 768px){
	.navbar {
		border-radius: 0;
		}
}
@media (max-width: 320px){
	
	.products {
    margin-top: 180px;
	border:none;
	.thumbnail{
		border:none;
		}
	}
}
		
		