@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'SixCaps';
  src: url('../fonts/SixCaps.ttf');
}
.featuretab {
  margin-top: 20px;
}
.featuretab .tab-content {
  border: 1px solid #09233d;
  border-top: none;
  position: relative;
  margin-bottom: 25px;
  padding: 1px 20px 0px;
}
.featuretab .nav-tabs {
  border-bottom: 1px solid #09233d;
}
.featuretab .nav-tabs li a {
  border: 1px solid #09233d;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
  background: linear-gradient(#49741e, #264903);
  color: #13314e;
}
.featuretab .nav-tabs li.active > a,
.featuretab .nav-tabs li.active > a:hover,
.featuretab .nav-tabs li.active > a:focus {
  background: linear-gradient(#3d5975, #09233d);
  color: #ffffff;
  border: 1px solid #09233d;
}
.mailSentMsg {
  font: 1.2em/2.5em QumpellkaNo12;
  border: 1px solid #13314e;
  padding: 10px;
}
.sidebarModule .panel-default {
  border: none;
}
.sidebarModule.sidemenu {
  border: 1px solid #09233d;
  padding: 15px 10px 0px;
  margin-top: 15px;
}
.sidebarModule.sidemenu ul {
  padding: 0;
  list-style: none;
}
.sidebarModule.sidemenu ul li {
  margin-bottom: 10px;
}
.sidebarModule.sidemenu a {
  display: inline-block;
  height: 85px;
  width: 186px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
.sidebarModule.sidemenu a.area_converter {
  background-image: url('../img/area-converter.png');
}
.sidebarModule.sidemenu a.emi_calculator {
  background-image: url('../img/emi-calculator.png');
}
.sidebarModule.sidemenu a.post_your_property {
  background-image: url('../img/post-your-property.jpg');
}
.sidebarModule.sidemenu a.post_your_requirement {
  background-image: url('../img/post-your-requirement.jpg');
}
.sidebar .nav-pills {
  background: linear-gradient(#49741e, #264903);
}
.sidebar .nav-pills > li {
  border-right: 1px solid #16a9e0;
}
.sidebar .nav-pills > li > a,
.sidebar .nav-pills > li > a:focus {
  color: #13314e;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active:hover > a,
.sidebar .nav-pills > li.active > a:focus,
.sidebar .nav-pills > li:hover > a,
.sidebar .nav-pills > li:hover > a:focus,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
  color: #ffffff;
  background: linear-gradient(#3d5975, #09233d);
}
.about .table tbody tr th,
.contact .table tbody tr th,
.about .table tbody tr td,
.contact .table tbody tr td {
  border-color: #09233d;
}
.about > .row > div:nth-child(1),
.about > .row > div:nth-child(2) {
  border-right: 1px solid #3d5975;
  /*>.row>div:nth-child(1){
			
			animation-name:abt;
			animation-duration:4s;
		}
		@keyframes abt{
		0%{margin-left:-300px;}
		100%{margin-left:0px;}
		}
		.row>div>div + div{
			animation-name:abtt;
			animation-duration:4s;
		}
		@keyframes abtt{
		0%{margin-right:-300px;}
		100%{margin-right:0px;}
		}
		*/
}
.about .table {
  margin-top: 20px;
}
.infrastructure .thumbnail {
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
  width: 100%;
}
.infrastructure .thumbnail .caption {
  height: 138px;
  margin-bottom: 10px;
  overflow: hidden;
}
.infrastructure .btn-info:hover {
  padding: 6px 40px;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 395px;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote img,
.featrtesti blockquote img {
  height: 100px;
  width: 100px;
}
.testimonial blockquote img:hover,
.featrtesti blockquote img:hover {
  transform: scale(1.1);
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-family: Times New Roman,Serif;
  font-size: 55px;
}
.testimonial blockquote {
  padding-left: 15px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
}
.gallery .thumbnail h4 {
  border: none;
  padding-bottom: 0px;
}
.gallery .thumbnail .description {
  overflow: hidden;
  height: 125px;
}
.enquiry .panel-body {
  padding-bottom: 0px;
}
.contactus h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 320px) {
  .gallery .thumbnail {
    height: 380px;
  }
}
@media (min-width: 992px) {
  .gallery .thumbnail {
    height: 365px;
  }
  .gallery .thumbnail img {
    max-height: 155px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    height: 380px;
  }
  .gallery .thumbnail img {
    max-height: 200px;
    width: 100%;
  }
}
.caption p {
  color: #ffffff;
}
.activity img {
  width: 100%;
}
.featuredProperty .bx-viewport {
  padding-left: 10px;
}
.featuredProperty .bxslider1 {
  padding-left: 10px;
  list-style: none;
}
.featuredProperty .bxslider1 li .verify {
  width: 40%;
  border: none;
  margin-left: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.featuredProperty .bxslider1 li .sliderImg {
  height: 150px;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  border: 4px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg .slimg {
  min-height: 150px;
}
.featuredProperty .bxslider1 li .sliderImg:hover {
  border: 4px solid #49741e;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.featuredProperty .bxslider1 li .btn-info:hover {
  padding: 6px 12px;
}
.propertylist .btn-primary {
  margin-bottom: 10px;
}
.propertylist .btn-primary:hover,
.propertylist .btn-info:hover {
  padding: 6px 12px;
}
.propertylist .panel-default .sliderImg {
  height: 165px;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  border: 4px solid transparent;
}
.propertylist .panel-default .sliderImg img {
  min-height: 150px;
}
.propertylist .panel-default .sliderImg:hover {
  border: 4px solid #49741e;
}
.propertylist .table td {
  border: none;
  padding: 1px 1px;
}
.singleproperty .property {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0px 20px;
  border: 1px solid #09233d;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px dashed #09233d;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #49741e;
}
.singleproperty .property .mainimg img {
  min-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .propDetails ul li {
  padding: 3px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table {
  margin-top: 20px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #09233d;
  color: #ffffff;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #09233d;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
}
@media (max-width: 320px) {
  .featuredProperty .bxslider1 li .verify {
    width: 55%;
    border: none;
    margin-left: 10px;
    position: absolute;
    right: -12px;
    bottom: -20px;
    z-index: 999;
  }
  .featuredProperty .propDetails ul li {
    width: 224px;
  }
  .featuredProperty .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (max-width: 540px) {
  .featuredProperty .bxslider1 li h4 {
    padding-left: 10px;
  }
  .featuredProperty .bxslider1 li .verify {
    width: 30%;
    left: 165px;
    bottom: 0px;
    z-index: 999;
  }
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 275px;
  }
  .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 239px;
  }
  .property .mainimg img {
    max-height: 180px;
    max-width: 100%;
  }
}
.bxslider {
  padding: 5px;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid transparent;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .projimg:hover {
  border: 2px solid #49741e;
}
.bxslider li .btn-info {
  margin-bottom: 10px;
}
.bxslider li .btn-info:hover {
  padding: 6px 40px;
}
.bxslider li p {
  margin-bottom: 5px;
}
.homeproject {
  position: relative;
}
.homeproject .projectCarousal {
  position: relative;
  border: 5px solid #ffffff;
  z-index: 99;
  width: 500px;
  margin: 0 auto;
  float: none;
  z-index: 1;
  box-shadow: 0 0 15px;
  border-radius: 50%;
  overflow: hidden;
}
.homeproject .projectCarousal .bx-viewport {
  height: 500px;
  min-height: 300px !important;
}
.homeproject .projectCarousal .bx-viewport .carousslider {
  min-height: 300px;
}
.homeproject .projectCarousal .bx-viewport .carousslider li {
  left: 0;
  min-height: 300px;
  min-width: 100% !important;
}
.homeproject .projectCarousal .bx-viewport img {
  height: 500px;
}
.homeproject .projectCarousal::after {
  position: absolute;
  content: "";
  background-image: url('../img/family.png');
  background-size: 100% 100%;
  right: 132px;
  bottom: -1px;
  z-index: 999;
  height: 200px;
  width: 260px;
}
.homeproject .projectnav,
.homeproject .projsnap {
  position: absolute;
  background: linear-gradient(#49741e, #264903);
  height: 320px;
  width: 330px;
  top: 100px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
}
.homeproject .projectnav {
  padding: 5px;
  left: 10;
  left: 0;
}
.homeproject .projectnav .nav-stacked > li + li {
  margin-top: 10px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus {
  color: #13314e;
  padding: 10px 15px;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus {
  text-decoration: none;
  background: linear-gradient(#3d5975, #09233d);
  color: #ffffff;
  transform: translateX(-50px);
  width: 330px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: right;
  padding-right: 50px;
}
.homeproject .projsnap {
  right: 16px;
  padding-left: 60px !important;
  padding-top: 7px !important;
  padding-right: 10px !important;
  text-align: center;
}
.homeproject .projsnap p {
  padding: 3px;
  color: #13314e;
}
.homeproject .projsnap p:last-child {
  border: none;
}
.homeproject .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #13314e;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty a {
  color: #13314e;
  text-decoration: underline;
}
.homeproject .projsnap .viewproperty a:hover {
  color: #ffffff;
  text-decoration: none;
}
.homeproject #carousel .carousel-inner .item {
  height: 500px;
  overflow: hidden;
}
.homeproject #carousel .carousel-inner .item > img {
  width: auto;
  min-height: 500px;
  border-radius: 50%;
}
.homeproject #carousel a.left.carousel-control {
  left: 40px;
}
.homeproject #carousel a.right.carousel-control {
  right: 40px;
}
.homeproject #carousel a.left.carousel-control,
.homeproject #carousel a.right.carousel-control {
  background: none;
}
.project .navbar {
  border: 1px solid #16a9e0;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: auto;
}
.project ul.nav.navbar-nav {
  background: linear-gradient(#49741e, #264903);
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #16a9e0;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 8px;
  color: #13314e;
  position: relative;
  font-size: 13px;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background: linear-gradient(#3d5975, #09233d);
  color: #ffffff;
}
.project .projHead,
.project .projImg {
  margin-top: 10px;
}
.project .projImg {
  max-height: 175px;
  margin-right: 10px;
  float: left;
}
.project .projectgallery .thumbnail .projectImags {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}
.project .projectgallery .thumbnail .projectImags img {
  min-height: 170px;
}
.project .projectgallery .thumbnail .caption {
  height: 150px;
}
.projlist .project .thumbnail {
  height: 385px;
}
.projlist .project .thumbnail .projectimg {
  width: 100%;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
}
.projlist .project .thumbnail .projectimg img {
  min-height: 170px;
  border: 2px solid transparent;
  padding: 4px;
}
.projlist .project .thumbnail .projectimg img:hover {
  border: 2px solid #49741e;
}
.projlist .project .thumbnail .caption {
  padding: 9px 5px;
  height: 120px;
}
.projlist .project .thumbnail .caption p {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .homeproject .projectCarousal {
    position: static;
    width: auto;
    height: 300px;
    margin: 0 ;
    border-radius: 0px;
    margin-bottom: 5px;
  }
  .homeproject .projectCarousal::after {
    position: absolute;
    content: "";
    background-image: url('../img/lady.png');
    background-size: 100% 100%;
    bottom: -3px;
    z-index: 999;
    height: 290px;
    width: 120px;
    left: 17px;
  }
  .homeproject .projsnap {
    padding-left: 0px !important;
  }
  .homeproject .projectnav .nav-stacked > li {
    text-align: center;
  }
  .homeproject .projectnav .nav-stacked > li.active > a,
  .homeproject .projectnav .nav-stacked > li.active:hover > a,
  .homeproject .projectnav .nav-stacked > li.active > a:focus,
  .homeproject .projectnav .nav-stacked > li:hover > a,
  .homeproject .projectnav .nav-stacked > li:hover > a:focus,
  .homeproject .projectnav .nav-stacked > li > a:hover,
  .homeproject .projectnav .nav-stacked > li > a:focus {
    transform: translateX(0px);
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    padding-right: 50px;
  }
  .homeproject .projectnav,
  .homeproject .projsnap {
    position: static;
    width: auto;
  }
}
@media (max-width: 540px) {
  .projectCarousal::after {
    display: none;
    width: 0px;
  }
  .project .navbar {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .project .projImg {
    float: none;
  }
}
.services {
  text-align: center;
}
.services .servdesc {
  height: 200px;
}
.services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.services .servimage:hover {
  border: 4px solid #49741e;
}
.services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.services .servdesc .readmore {
  margin-top: 10px;
}
.services .servdesc .readmore a {
  padding: 6px 12px;
  background: linear-gradient(#49741e, #264903);
  color: #13314e;
}
.services .servdesc .readmore a:hover,
.services .servdesc .readmore a:hover {
  background: linear-gradient(#3d5975, #09233d);
  color: #ffffff;
  padding: 6px 40px;
}
.products .thumbnail .prodimg {
  height: 150px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.products .thumbnail .prodimg img {
  min-height: 148px;
  border: 2px solid transparent;
  padding: 4px;
}
.products .thumbnail .prodimg img:hover {
  border: 2px solid #49741e;
}
.products .thumbnail .caption {
  height: 185px;
}
.products .thumbnail .caption .description {
  height: 75px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  margin-top: 10px;
  text-align: center;
}
.products .thumbnail .readmore .btn-info:hover {
  padding: 6px 40px;
}
.cont {
  background-color: #09233d;
  color: #ffffff;
  margin-top: 0px;
}
body {
  scrollbar-base-color: orange;
  scrollbar-arrow-color: green;
  scrollbar-DarkShadow-Color: blue;
  scrollbar-face-color: #b46868;
  background-attachment: fixed;
  background-image: url('../img/giphy.gif'), url('../img/images1.jpg');
  background-position: center ,top left;
  background-repeat: no-repeat, repeat;
}
.man {
  margin: auto;
  background-image: url('../img/g.gif');
  height: 150px;
  width: 100px;
  margin-top: 55px;
  animation-name: man;
  animation-duration: 12s;
}
@-webkit-keyframes man {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
    transition: transform 6s;
  }
}
.container {
  max-width: 992px !important;
}
.sociallinks {
  top: 50%;
  width: 5px;
  position: fixed;
  z-index: 999;
}
.sociallinks ul {
  list-style: none;
}
.sociallinks ul li {
  transform: translateX(-123px);
  padding: 4px 4px 4px 10px;
  background: -webkit-linear-gradient(#3d5975, #09233d);
  background: -moz-linear-gradient(#3d5975, #09233d);
  background: linear-gradient(#3d5975, #09233d);
  margin: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: right;
  width: 130px;
}
.sociallinks ul li a {
  color: #ffffff;
}
.sociallinks ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.sociallinks ul li img {
  width: 35px;
  margin-left: 10px;
  border: 2px solid #ffffff;
}
.sociallinks ul li span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.sociallinks ul li:hover {
  transform: translateX(-45px);
}
header {
  margin: 10px auto 20px;
}
header .logo {
  max-width: 100%;
  max-height: 100px;
}
header .cntdtl {
  padding-top: 25px;
}
a,
.btn.btn-link {
  color: #09233d;
}
a:hover,
.btn.btn-link:hover,
a:hover,
.btn.btn-link:hover {
  text-decoration: none;
  color: #264903;
}
.btn.btn-link {
  font-size: 17.5px;
  padding-left: 0px;
}
.cnctinfo {
  margin: 40px 15px 40px 0;
}
.navbar-collapse {
  padding: 0px;
}
.navbar-toggle {
  border: 1px solid #49741e;
  margin-top: 8px;
  background: linear-gradient(#49741e, #264903);
  border-color: #49741e;
  color: #ffffff;
}
.navbar-toggle .icon-bar {
  background-color: linear-gradient(#49741e, #264903);
}
.modal-body p {
  color: #000000;
}
.btn + .btn {
  margin-left: 10px;
}
.main1 {
  margin-top: 10%;
  animation-name: main1;
  animation-duration: 4s;
}
@keyframes main1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main2 {
  margin-top: 0%;
  animation-name: main2;
  animation-duration: 2s;
}
@keyframes main2 {
  0% {
    margin-top: 10%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
.main2 .navbar-default {
  animation-name: nav;
  animation-duration: 2s;
}
@keyframes nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-default {
  position: relative;
  background-image: linear-gradient(#09233d, #13314e);
  border-radius: 0;
  border: none;
  box-shadow: 2px 2px 2px #000000;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav > li {
  float: none;
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li.active {
  background: #16a9e0;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #3d5975;
  font-family: SixCaps;
  font-size: 50px;
  position: relative;
  text-transform: uppercase;
  padding: 40px 15px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: transparent;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background: linear-gradient(#49741e, #264903);
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #13314e;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background: linear-gradient(#3d5975, #09233d);
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background: linear-gradient(#49741e, #264903);
  list-style: none;
  display: none;
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
  top: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: #13314e;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background: linear-gradient(#3d5975, #09233d);
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: none;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: none;
}
.navbar-nav > li:nth-child(1) {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: a;
}
.navbar-nav > li:nth-child(2) {
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-name: a;
}
.navbar-nav > li:nth-child(3) {
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  animation-name: a;
}
.navbar-nav > li:nth-child(4) {
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-name: a;
}
.navbar-nav > li:nth-child(5) {
  animation-duration: 1.8s;
  animation-iteration-count: 1;
  animation-name: a;
}
.navbar-nav > li:nth-child(6) {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: a;
}
.navbar-nav > li:nth-child(7) {
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-name: a;
}
@keyframes a {
  0% {
    top: -80px;
  }
  100% {
    top: 0px;
  }
}
h1 {
  border-bottom: 1px solid #09233d;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-family: SixCaps;
  color: #ffffff;
  text-align: center;
}
h2,
h3,
h4 {
  color: #ffffff;
  border-bottom: 1px solid #09233d;
  padding-bottom: 10px;
}
h3 {
  font-family: SixCaps;
  font-size: 50px;
}
h2 {
  font-family: SixCaps;
  line-height: 1.5em;
  font-weight: bold;
}
.sidebarModule .panel,
.sidebarModule .sections,
.contentModule .sections {
  background: transparent;
  border: 1px solid #09233d;
  border-radius: 4px;
}
.sidebarModule .panel-body {
  padding: 15px 15px 0px;
}
.featured_services .sections {
  border: none;
}
.form-control {
  background: transparent;
}
.form-control:focus {
  border-color: #49741e;
}
.btn-info,
.btn-primary {
  border: none;
  background: linear-gradient(#3d5975, #09233d);
  color: #ffffff;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
}
.btn-info:hover,
.btn-primary:hover,
.btn-info:hover,
.btn-primary:hover {
  color: #ffffff;
}
.btn-info:hover {
  padding: 6px 40px;
}
.subhead {
  border-radius: 7px;
  color: #ffffff;
  padding: 6px 15px 12px;
  position: relative;
}
hr {
  border-style: dashed;
  border-color: #49741e;
  margin: 0px 0px 10px;
}
.sidebarModule .sections,
.contentModule .sections {
  padding: 10px;
}
.sidebarModule h4 {
  border: none;
}
.thumbnail {
  border-color: #09233d;
  background: none;
}
.panel {
  background: transparent;
}
.panel-default {
  border: 1px solid #09233d;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #49741e;
  color: #13314e;
  border: 1px solid #09233d;
}
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  background-color: #09233d;
  border: 1px solid #49741e;
  color: #ffffff;
}
footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
* {
  transition: 300ms;
}
.content {
  background-color: #09233d;
  padding: 20px;
  z-index: 999;
  color: #ffffff;
  max-height: 450px;
  box-shadow: 2px 2px 2px #000000;
  overflow: auto;
  overflow-x: hidden;
  animation-name: content;
  animation-duration: 2s;
  scrollbar-face-color: #b46868;
}
@keyframes content {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .content {
    max-height: 400px;
  }
  .navbar-default {
    margin-top: 50px;
  }
  .man {
    margin-top: 30px;
  }
  .main1 {
    margin-top: 0%;
  }
  .main2 {
    margin-top: -40px;
  }
}
@media (max-width: 540px) {
  body {
    background-size: 87% 65%;
  }
  .content {
    max-height: 130px;
  }
  header .navbar-default .navbar-nav {
    margin: 0px;
  }
  header .navbar-default .navbar-nav > li.active > a,
  header .navbar-default .navbar-nav > li.active:hover > a,
  header .navbar-default .navbar-nav > li.active > a:focus,
  header .navbar-default .navbar-nav > li:hover > a,
  header .navbar-default .navbar-nav > li:hover > a:focus,
  header .navbar-default .navbar-nav > li:hover > a:focus {
    top: 0px;
    background-color: #3d5975;
    color: #ffffff;
  }
  .enquir {
    display: block;
  }
  .man {
    margin-top: -80px;
  }
  .main1 {
    margin-top: -20px;
  }
  .main2 {
    margin-top: -50px;
  }
}
@media (max-width: 480px) {
  body {
    background-size: 120% 85%;
  }
  header {
    margin-bottom: 0px;
  }
  header .weblogo,
  header .cntdtl {
    text-align: center;
  }
  header .cntdtl {
    padding-top: 5px;
  }
  .projdtls {
    margin: 0px;
  }
  .content {
    max-height: 330px;
  }
  .navbar-default {
    margin-top: -50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
  }
  .navbar-default .navbar-nav {
    margin: 0px;
  }
  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li.active:hover > a,
  .navbar-default .navbar-nav > li.active > a:focus,
  .navbar-default .navbar-nav > li:hover > a,
  .navbar-default .navbar-nav > li:hover > a:focus,
  .navbar-default .navbar-nav > li:hover > a:focus {
    background-color: #3d5975;
    margin-top: 0px;
    top: 0px;
    color: #ffffff;
  }
  .man {
    margin-top: -60px;
  }
  .main1 {
    margin-top: 60%;
  }
  .main2 {
    margin-top: 35px;
  }
}
.enquir {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.anim {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/load.gif");
  opacity: 0;
  background-size: 100% 100%;
  -webkit-animation-name: anim2;
  -webkit-animation-duration: 4s;
}
@-webkit-keyframes anim2 {
  0% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}
.anim1 {
  position: relative;
  -webkit-animation-name: anim1;
  -webkit-animation-duration: 12s;
}
@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
  }
  80% {
    top: 400px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
