.featureProd{
	padding : 30px 20px;
	background : rgba(30, 165, 222, 0.21);
	.prodimage {
		border: 5px solid rgba(204, 204, 204, 0.55);
		padding: 5px;
		border-radius: 100%;
		height: 275px;
		overflow: hidden;
		margin-bottom : 30px;
		img {
			min-height: 255px;
			border-radius: 100%;
		}
		&:hover{
			img{
				opacity : 0.8;
			}
		}
	}
}

.products{
	h2{
		text-transform:uppercase;
	}
	.thumbnail{ 
		height:230px;
		background-color:transparent;
		margin-bottom:50px;
		.prodimg{
			img{
				height: 180px;
				width : 360px;
				overflow : hidden;
				margin : 0 auto;
				position:relative;		
					
			}
		&:hover{
				 opacity: 0.4;
				filter: alpha(opacity=40); 
				}
		}
		.caption{
			height: 50px;
			top:35px;
			position:absolute;
			h4{
			text-align:left;
			text-transform:uppercase;
			visibility:hidden;
			margin-left: 14px;
			margin-right:15px;
			}
			.description{
				
			>p{
				color:@colorwhite;
				}
			
				transition: all 0.4s ease-in-out;
				height : 0px;
				overflow : hidden;
				visibility:hidden;
				opacity:1;
				}
			}
			.readmore{
			margin-top:10px;
			}
			&:hover h4{
			visibility:visible;
			height:30px;
			margin-top:-15px;
			}
			&:hover .description{
			visibility:visible;
			height:60px;
			margin-top:-15px;
			}
		}
	}
	