.featureProd{
	padding : 30px 20px;
	background : rgba(30, 165, 222, 0.21);
	.prodimage {
		border: 5px solid rgba(204, 204, 204, 0.55);
		padding: 5px;
		border-radius: 100%;
		height: 320px;
		overflow: hidden;
		margin-bottom : 30px;
		img {
			min-height: 300px;
			border-radius: 100%;
		}
		&:hover{
			img{
				opacity : 0.8;
			}
		}
	}
}

.products{
	margin-bottom : 20px;
	.prodimage{
		height : 200px;
		width : 250px;
		float : left;
		margin-right : 20px;
		overflow : hidden;
		img{
			min-height : 200px;
			&:hover{
				transform : scale(1.1);
			}
		}
	}
	.prodInfo{
		background : rgba(30, 165, 222, 0.21);
		padding : 10px 15px 8px;
		.description{
			height : 100px;
			overflow : hidden;
		}
		.readmore{
			margin-top : 10px;
		}
	}
	
}
	