{% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css"  href="{{ path }}css/jquery.bxslider.css"/>
		<link rel="stylesheet" type="text/css" href="{{ path }}css/style.css">
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/bootstrap.min.js"></script>
		<script src="{{ path }}js/jquery.bxslider.min.js"></script>
		<script src="{{ path }}js/angular.min.js"></script>
		<script src="{{ path }}js/angular-route.min.js"></script>
		<script src="{{ path }}js/script.js"></script>
		<script src="{{ path }}js/myscript.js"></script>
		<title>{{seo.title}} | {{data.business_name}}</title>
		<meta name="description" content="{{ seo.description }}">
		<meta name="keywords" content="{{ seo.keywords }}">
		{% if data.template_params %}
			<style>
				.featrtesti img:hover{
					border-color : {{data.template_params.color}};
				}
				a{
					color : {{data.template_params.color}};
				}
				.navbar-default .navbar-nav > li > ul, .homeproject .bx-wrapper, .homeproject .projectnav, .homeproject .projsnap, .sidebar .nav-pills > li, .featrtesti img {
					border-color : {{data.template_params.light_color}};
				}
				a:hover, .btn-info:hover, .btn-info[disabled]:hover, .btn-link:hover, .projlist .project .thumbnail .readmore a:hover{
					color : {{data.template_params.light_color}};
				}
				.btn-primary:hover{
					background-color : {{data.template_params.dark_color}};
				}
				.btn-primary:hover{
					border-color : {{data.template_params.dark_color}};
				}
				.singleproperty .propDetails h3, .testimonial blockquote footer cite, .featrtesti blockquote footer cite, h1, h2, h3, h4,.contentModule .readmore a{
					color : {{data.template_params.dark_color}};
				}
				.contentModule .sliderimg:hover, .panel-default, .thumbnail, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li > a, .pagination > li > span, .pagination > .disabled > a, .projlist .project .thumbnail .projectimg:hover, .project ul.nav.navbar-nav > li, .sliderimg:hover,.propertylist .sliderimg:hover, .singleproperty .propDetails .table tbody tr td, .singleproperty .propDetails .table tbody tr th, .services #bxslider2 .servimage:hover, .products .thumbnail .prodimg:hover, .btn-primary{
					border-color : {{data.template_params.background_color}};
				}
				.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .singleproperty .propDetails .table tbody tr th, .btn-primary{
					background-color : {{data.template_params.background_color}};
				}
				.pagination > li > a, .pagination > li > span, .pagination > .disabled > a, .contact a:hover{
					color : {{data.template_params.background_color}};
				}
				.homeproject .projectnav, .homeproject .projsnap, .homeproject .projectnav .nav-stacked, .homeproject .projsnap .nav-stacked, body, .navbar-default .navbar-nav > li > ul, .navbar-default .navbar-nav > li > ul > li ul{
					background-color : {{data.template_params.background_color_dark}};
				}
				.project ul.nav.navbar-nav > li.active > a, .project ul.nav.navbar-nav > li.active:hover > a, .project ul.nav.navbar-nav > li.active > a:focus, .project ul.nav.navbar-nav > li:hover > a, .project ul.nav.navbar-nav > li:hover > a:focus, .project ul.nav.navbar-nav > li > a:hover, .project ul.nav.navbar-nav > li > a:focus,.sidebar .nav-pills > li.active > a, .sidebar .nav-pills > li.active:hover > a, .sidebar .nav-pills > li.active > a:focus, .sidebar .nav-pills > li:hover > a, .sidebar .nav-pills > li:hover > a:focus, .sidebar .nav-pills > li > a:hover, .sidebar .nav-pills > li > a:focus,.contact a, body, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active:hover > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:hover > a:focus, .sidebarModule .sections, .sidebarModule .sections h4, .sidebarModule .sections a, .sidebarModule .sections a:hover, .contentModule h3 small{
					color : {{data.template_params.background_color_dark}};
				}
				.singleproperty .property, .singleproperty .property .table tbody tr td, .about .table tbody tr th, .contact .table tbody tr th, .about .table tbody tr td, .contact .table tbody tr td, .gallery .thumbnail, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active:hover > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:hover > a:focus, hr{
					border-color : {{data.template_params.background_color_dark}};
				}
				.homeproject .projectnav .nav-stacked > li.active > a, .homeproject .projsnap .nav-stacked > li.active > a, .homeproject .projectnav .nav-stacked > li.active:hover > a, .homeproject .projsnap .nav-stacked > li.active:hover > a, .homeproject .projectnav .nav-stacked > li.active > a:focus, .homeproject .projsnap .nav-stacked > li.active > a:focus, .homeproject .projectnav .nav-stacked > li:hover > a, .homeproject .projsnap .nav-stacked > li:hover > a, .homeproject .projectnav .nav-stacked > li:hover > a:focus, .homeproject .projsnap .nav-stacked > li:hover > a:focus, .homeproject .projectnav .nav-stacked > li > a:hover, .homeproject .projsnap .nav-stacked > li > a:hover, .homeproject .projectnav .nav-stacked > li > a:focus, .homeproject .projsnap .nav-stacked > li > a:focus,.sociallinks ul li, .navbar-default,.navbar-default .navbar-nav > li > ul > li:hover,.navbar-default .navbar-nav > li > ul > li ul li:hover{
					background-image: -webkit-linear-gradient({{data.template_params.dark_color}}, {{data.template_params.background_color}}, {{data.template_params.dark_color}});
					background-image: -moz-linear-gradient({{data.template_params.dark_color}}, {{data.template_params.background_color}}, {{data.template_params.dark_color}});
					background-image: linear-gradient({{data.template_params.dark_color}}, {{data.template_params.background_color}}, {{data.template_params.dark_color}});
				}
				.project ul.nav.navbar-nav,.sidebar .nav-pills{
					background: -webkit-linear-gradient(top, {{data.template_params.background_color}}, {{data.template_params.dark_color}}, {{data.template_params.background_color}});
					background: -moz-linear-gradient(top,{{data.template_params.background_color}}, {{data.template_params.dark_color}}, {{data.template_params.background_color}});
					background: linear-gradient(top, {{data.template_params.background_color}}, {{data.template_params.dark_color}}, {{data.template_params.background_color}});
				}
				.project ul.nav.navbar-nav > li.active > a, .project ul.nav.navbar-nav > li.active:hover > a, .project ul.nav.navbar-nav > li.active > a:focus, .project ul.nav.navbar-nav > li:hover > a, .project ul.nav.navbar-nav > li:hover > a:focus, .project ul.nav.navbar-nav > li > a:hover, .project ul.nav.navbar-nav > li > a:focus,.sidebar .nav-pills > li.active > a, .sidebar .nav-pills > li.active:hover > a, .sidebar .nav-pills > li.active > a:focus, .sidebar .nav-pills > li:hover > a, .sidebar .nav-pills > li:hover > a:focus, .sidebar .nav-pills > li > a:hover, .sidebar .nav-pills > li > a:focus,.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active:hover > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:hover > a:focus{
					background: linear-gradient({{data.template_params.background_color_light}}, {{data.template_params.light_color}}, {{data.template_params.background_color_light}});
				}
			</style>
		{% endif %}
	</head>
	<body>
		{% include [templatePath ~ '/includes/sociallinks.html', 'default/default/includes/sociallinks.html'] %}
		<div class="head">
			<div class="container">
				<header class="row">
					<div class="col-xs-12">
						<h1>{{data.business_name}}</h1>	
					</div>
				</header>
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}
						</ul>
					</div>	
				</nav>
				{%if modules.headerModule.carousal %}
				{% include [templatePath ~ '/includes/carousal.html', 'default/default/includes/carousal.html'] with {sliderData : data.template_params.slider} %}
				{%endif%}

				{%if modules.headerModule.homeproject %}
				{% include [templatePath ~ '/includes/homeproject.html', 'default/default/includes/homeproject.html'] with {sliderData : data.template_params.slider} %}
				{%endif%}
			</div>
		</div>
		<div class="container">
			<div class="row">
				{% if modules.sidebarModule >= 1 %}
				<aside class="col-xs-3">
					{%if modules.sidebarModule.searchProp %}
						{% include [templatePath ~ '/includes/searchProp.html', 'default/default/includes/searchProp.html'] %}
					{%endif%}
					{%if modules.sidebarModule.contact %}
						{% include [templatePath ~ '/includes/contact.html', 'default/default/includes/contact.html'] %}
					{%endif%}
					{%if modules.sidebarModule.enquiry %}
						{% include [templatePath ~ '/includes/enquiry.html', 'default/default/includes/enquiry.html']with {enquiry : { user_id : data.user_id, owner_email : data.owner_email}} %}
					{%endif%}
					{%if modules.sidebarModule.sidemenu %}
						{% include [templatePath ~ '/includes/sidemenu.html', 'default/default/includes/sidemenu.html'] %}
					{%endif%}
				</aside>
				{%endif%}
				<section class="{{ (modules.sidebarModule >=1 ) ? 'col-xs-9' : 'col-xs-12'}} info">
					<article class="row">
						<div class="col-xs-12">
							<div class="content">
								{% include contentPath %}
							</div>
						</div>
					</article> 
					<div class="row">
						{%if modules.contentModule.featured_properties %}
						<div class="col-xs-12 featured">
							{% include [templatePath ~ '/includes/home_properties.html', 'default/default/includes/home_properties.html'] %}
						</div>
						{%endif%}
						{%if modules.contentModule.featured_properties %}
						<div class="col-xs-12 featured">
							{% include [templatePath ~ '/includes/featured_properties.html', 'default/default/includes/featured_properties.html'] %}
						</div>
						{%endif%}
						{%if modules.contentModule.featured_projects %}
						<div class="col-xs-12 featured">
							{% include [templatePath ~ '/includes/featured_projects.html', 'default/default/includes/featured_projects.html'] %}
						</div>
						{%endif%}
						{%if modules.contentModule.featured_services %}
						<div class="col-xs-12 featured">
							{% include [templatePath ~ '/includes/featured_services.html', 'default/default/includes/featured_services.html'] %}
						</div>
						{%endif%}
						<div class="col-xs-12 featured">
							{% include [templatePath ~ '/includes/featured_testimonials.html', 'default/default/includes/featured_testimonials.html'] %}
						</div>
						<div class="col-xs-12 featured">
							{% include [templatePath ~ '/includes/our_associates.html', 'default/default/includes/our_associates.html'] %}
						</div>
					</div>
				</section>
			</div>	
		</div>
		{% include [templatePath ~ '/includes/footer.html', 'default/default/includes/footer.html'] %}
	</body>
</html>
{% endspaceless %}