.featrtesti{
			background-image:url('../img/bg4.jpg');
			height:400px;
			h3{
								color:@colorwhite;
								padding:26px;
								font: 400 34px/48px "Arbutus Slab", sans-serif;
								text-transform:uppercase;
							}
			.description{
							p{
							color:@colorwhite;
							font: 400 15px/20px "Arbutus Slab", sans-serif;
							//padding:20px;
							}
							
							animation-name:test1;
							animation-duration:2s;
							aniamtion-iteration-count:1;
							
				}
				blockquote {
									border-left:none !important;
							}
}
@keyframes test1{

				0%{opacity:0;transform: translateX(10px);}
				100%{opacity:1; transform: translateX(0);}
}
.featrGallery{
			.thumbnail{
						width:200px;
						height:200px;
						img{
								width:100%;
								height:100%;
							}
					}
					h3{
						font: 400 36px/48px "Arbutus Slab", sans-serif;	
					}
				
					animation-name:gallery1;
					animation-duration:3s;
					aniamtion-iteration-count:1;
				
					
			
}
@keyframes gallery1{
				0%{opacity:0;transform:translateY(300px);}
				100%{opacity:1;transform:translateY(0);}

}
#gallery{display:none;}

.infrastructure{
		height:500px;
		//padding:20px;
		.thumbnail{
				
				overflow:hidden;
				//margin:10px;
				//padding:20px;
				height:450px;
					.infraImg{
						height:200px;
						//width:100%;
							img{
							height:200px;
							width:100%;
							}
						}
						.caption{
							height:150px;
							
						}
				}
}
div.infrastructure>div.row>div:nth-child(1){
		
		animation-name:abt1;
		animation-duration:2s;
		aniamtion-iteration-count:1;
		//animation-delay:2s;
}
@keyframes abt1{
				0%{opacity:0;transform: translateX(-100px)}
				100%{opacity:1; transform: translateX(0);}

}
div.infrastructure>div.row>div:nth-child(3){
		
		animation-name:abt2;
		animation-duration:2s;
		aniamtion-iteration-count:1;
		//animation-delay:3s;
}
@keyframes abt2{
				0%{opacity:0;transform: translateY(40px)}
				100%{opacity:1; transform: translateY(0);}

}
div.infrastructure>div.row>div:nth-child(5){
		
		
		animation-name:abt3;
		animation-duration:3s;
		aniamtion-iteration-count:1;
		//animation-delay:4s;
}
@keyframes abt3{
				0%{opacity:0;transform: translateY(-40px)}
				100%{opacity:1; transform: translateY(0);}

}
div.infrastructure>div.row>div:nth-child(7){
	
		animation-name:abt4;
		animation-duration:3s;
		aniamtion-iteration-count:1;
		//animation-delay:5s;
}
@keyframes abt4{
				0%{opacity:0;transform: translateX(40px)}
				100%{opacity:1; transform: translateX(0);}

}
div.infrastructure>div.row>div:nth-child(9){
display:none;
}

.activity{
font-family: 'Droid Serif';
    font-style: italic;
color:@colorwhite !important;
	float:right;
	h1{
		color:@colorwhite !important;
				text-align:left;
				font: 400 36px/48px "Arbutus Slab", sans-serif;
			}
			.panel{
				background-color:transparent;
				h3{
				color:@colorwhite !important;
				}
			}
			.panel-body{
					padding:0px !important;
					>.row>div{
					padding:0px !important;
					}
			}
			h3{
				text-align:left;
				
			}
			.btn-info{
						background-color:@back;
						color:@colorwhite;
						padding:15px;
						margin:10px;
			}
			img{
				height:70px;
				width:70px;
				
			}
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12,.col-lg-2{

				padding-right:0px;
				padding-left:0px;
				padding-bottom:0px;
}
.acti{

			background-image:url('../img/mob3.jpg');
			background-size:100% 100%;
			background-repeat:no-repeat;
			>.row{
				background-color:rgba(0, 0, 0, 0.52);
				
			}			
}
.testi{

			background-image:url('../img/mob5.jpg');
			background-size:100% 200%;
			background-repeat:no-repeat;
			>.row{
				background-color:rgba(0, 0, 0, 0.52);
				
			}			
}