{% autoescape false %}
{% if data.news_coverage %}
	<h2>Activities</h2>
	<div class="row activity">
		
			{% for key, value in data.news_coverage if break == 0 %}
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row ">
							<div class="col-xs-12 col-sm-4 col-lg-4">
								<a href="#">
									<img class="img-rounded img-responsive" src="{{value.image.file_relative_path}}">
								</a>
							</div>
							<div class="col-xs-12 col-sm-8 col-lg-8">
								<h3 class="media-heading">{{value.heading}}</h3>
								<div class="description">{{ value.newsdetails }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		
	</div>
{% endif %}
{% endautoescape %}