{% autoescape false %}
<h2>{{title}}</h2>
<div >
	<div class="row">
		{% for key, x in products %}
			<div class="col-xs-12 product">
			<h4 >{{ x.product_service_name }}</h4>
		
				<div class="row">	
					<div class="col-xs-4">
						<div class="prodimg"> 
							<img src="{{x.product_image.0.file_relative_path}}" class="img-responsive center-block" alt="{{key}}"/>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="description">
						{{ x.description }}
						
						</div>
						<div class="readmore">
							{% if x.type == 'service' %}
								<a href="/services/{{x.product_service_name| replace({' ':'-', '/':'_'})}}/{{x.id}}" class="btn btn-info"></a>
							{% endif %}
							{% if x.type == 'product' %}
								<a href="/products/{{x.product_service_name| replace({' ':'-', '/':'_'})}}/{{x.id}}" class="btn btn-info"></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		
		{% include [templatePath ~ '/includes/pagination.html', 'default/default/includes/pagination.html'] %}
	</div>
</div>
{% endautoescape %}