{% if sliderData %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
	<ol class="carousel-indicators">
	{% for key, value in sliderData %}
		<li data-target="#carousel" data-slide-to="{{key}}" class="{{ (key == 0) ? 'active' }}"></li>
	{% endfor %}
	</ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
	{% for key, value in sliderData %}
		<div class="item animation {{ (key == 0) ? 'active' }}">
		  <div class="row">
				<div class=" {{ value.title ? 'col-md-6' : 'col-md-12' }}">
					<img class="img-responsive" src="{{value.image ? value.image : value is iterable ? value.file_relative_path : value}}" alt="{{value.title}}">
				</div>
				{% if value.title %}
				<div class="col-md-6">
					<div class="cap">
						<h2>{{value.title}}</h2>
						<p>{{value.description}}</p>
					</div>
				</div>
				{% endif %}
				
			</div>
		</div>
	{% endfor %}
  </div>

  <!-- Controls -->
   <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> 
</div>
{% endif %}