<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="text-center">Add Staff</h3>
</div>
<div class="modal-body">
<ul class="nav nav-tabs">			
		<li role="presentation" ng-class="{active: modalOptions.formPart=='personalDetails'}">
			<a ng-click="modalOptions.showFormPart('personalDetails', modalOptions)">Personal Details</a>
		</li>	
		<li role="presentation" ng-class="{active: modalOptions.formPart=='educationalDetails'}">
			<a ng-click="modalOptions.showFormPart('educationalDetails', modalOptions)">Educational Details</a>
		</li>
		<li role="presentation" ng-class="{active: modalOptions.formPart=='specializationDetails'}">
			<a ng-click="modalOptions.showFormPart('specializationDetails', modalOptions)">Specialization Details</a>
		</li>
		<li role="presentation" ng-class="{active: modalOptions.formPart=='specializationDetails'}">
			<a ng-click="modalOptions.showFormPart('experienceDetails', modalOptions)">Experience Details</a>
		</li>
		<li role="presentation" ng-class="{active: modalOptions.formPart=='specializationDetails'}">
			<a ng-click="modalOptions.showFormPart('joiningDetails', modalOptions)">Joining Details</a>
		</li>
		<li role="presentation" ng-class="{active: modalOptions.formPart=='specializationDetails'}">
			<a ng-click="modalOptions.showFormPart('attachmentDetails', modalOptions)">Attachments Details</a>
		</li>
	</ul>
<form class="form-horizontal" name="addstaffForm" role="form" ng-submit="addstaffForm.$valid" novalidate="novalidate">
		<ng-include ng-show="modalOptions.formPart=='personalDetails'" src="'modules/campus/staff/personalDetails.html'">
		</ng-include> 
		<ng-include  ng-show="modalOptions.formPart=='educationalDetails'" src="'modules/campus/staff/educationalDetails.html'">
		</ng-include>
		<ng-include  ng-show="modalOptions.formPart=='specializationDetails'" src="'modules/campus/staff/specializationDetails.html'">
		</ng-include>
		<ng-include  ng-show="modalOptions.formPart=='experienceDetails'" src="'modules/campus/staff/experienceDetails.html'">
		</ng-include>
		<ng-include  ng-show="modalOptions.formPart=='joiningDetails'" src="'modules/campus/staff/joiningDetails.html'">
		</ng-include>
		<ng-include  ng-show="modalOptions.formPart=='attachmentDetails'" src="'modules/campus/staff/attachmentDetails.html'">
		</ng-include>
</form>
</div>


