<div ng-init="modalOptions.addstaff.experiance = (modalOptions.addstaff.experiance) ? 
		modalOptions.addstaff.experiance : []">
		<form name="addstaffForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addstaffForm.$valid" id="addstaff"">
				<div class="table-responsive">
					<table class="table table-bordered" >
						<thead>
							<tr>
								<th>Organization Name</th>
								<th>Experience Period</th>
								<th>Works On</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody><div>{{modalOptions.singleparticular}}</div>
							<tr>
								<td>
									<input type="text" class="form-control " placeholder="Organization Name" id="organization_name" name="organization_name" ng-model="modalOptions.singleparticular.organization_name" ng-pattern="/^[a-zA-Z/ ]*$/" required/>
									 <span class="text-danger"  ng-show="addstaffForm.organization_name.$error.pattern">Text is required.</span>
									<span class="help-block" ng-show="addstaffForm.organization_name.$dirty && addstaffForm.organization_name.$invalid">
									</span>
								</td>
								<td>
									<div class="form-group">
									<div class="col-sm-4">
										<label for="from_date"  control-label">From date *</label>
										<input type="date" class="form-control " placeholder="From Date" id="from_date" name="from_date" ng-model="modalOptions.singleparticular.from_date" required/>
										<span class="help-block" ng-show="addstaffForm.from_date.$dirty && addstaffForm.from_date.$invalid">
										</span>
										</div>
										<div class="col-sm-4">
										<label for="to_date"  control-label">To date *</label>
										<input type="date" class="form-control " placeholder="To Date" id="to_date" name="to_date" ng-model="modalOptions.singleparticular.to_date" required/>
										<span class="help-block" ng-show="addstaffForm.to_date.$dirty && addstaffForm.to_date.$invalid">
										</span>
										</div>	
									</div>
								</td>
								<td>
									<input type="text" class="form-control " placeholder="Works On" id="works_on" name="works_on" ng-model="modalOptions.singleparticular.works_on" ng-pattern="/^[a-zA-Z/ ]*$/" required/>
									 <span class="text-danger"  ng-show="addstaffForm.works_on.$error.pattern">Text is required.</span>
									<span class="help-block" ng-show="addstaffForm.works_on.$dirty && addstaffForm.works_on.$invalid">
									</span>
								</td>
								<td>
									<input type="text" class="form-control " placeholder="Description" id="description" name="description" ng-model="modalOptions.singleparticular.description" ng-pattern="/^[a-zA-Z/ ]*$/" required/>
									<span class="text-danger"  ng-show="addstaffForm.description.$error.pattern">Text is required.</span>
									<span class="help-block" ng-show="addstaffForm.description.$dirty && addstaffForm.description.$invalid">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-4">
						<button type="submit" class="btn btn-success center"  ng-click="modalOptions.addToObject(modalOptions.addstaff.experiance,'singleparticular', modalOptions);">+Add This Particular</button>
				</div>
				</div>
		</form>
	</div>
	<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-sm-2">Sr.No.</th>
					<th>Organization Name</th>
					<th>Experience Period</th>
					<th>Works On</th>
					<th>Description</th>
					<th>Remove</th>	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in modalOptions.addstaff.experiance">
					<td>{{ $index + 1 }}</td>
					<td>{{x.organization_name}}</td>
					<td>{{x.from_date}}{{x.to_date}}</td>
					<td>{{x.works_on}}</td>
					<td>{{x.description}}</td>
					<td><a ng-click="modalOptions.removeObject(modalOptions.addstaff.experiance, $index);modalOptions.totalCalculate(modalOptions);"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
		</table>
		
 <div class="form-group">
	<div class="col-sm-offset-2 col-sm-9">
	 <button type="submit" class="btn btn-primary" title="submit" ng-click="modalOptions.showFormPart('joiningDetails',modalOptions)">Next</button> 
	</div>
</div> 