
		     <input type="hidden" class="form-control" ng-model="modalOptions.addstaff.user_id" ng-init="modalOptions.addstaff.user_id = userDetails.id" readonly/>
			 
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="name" class="form-control" name="name" placeholder="Name"  ng-model="modalOptions.addstaff.name"required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-primary" title="Save">Next</button>
				</div>
			</div>	
			
