<!-- <div ng-init="modalOptions.addstaff.education = (modalOptions.addstaff.education) ? modalOptions.addstaff.education : []"> -->
			 <div>{{modalOptions.addstaff}}</div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name *</label>
				<div class="col-sm-9">
					<input type="text" id="name" class="form-control" name="name" placeholder="First Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.name"required>
					 <span class="text-danger"  ng-show="addstaffForm.name.$error.pattern">Text is required.</span>
					<span class="help-block" ng-show="addstaffForm.name.$dirty && addstaffForm.name.$invalid">
						<span class="text-danger" ng-show="addstaffForm.name.$error.required">Required Field.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="surname" class="col-sm-2 control-label">Surname *</label>
				<div class="col-sm-9">
					<input type="text" id="surname" class="form-control" name="surname" placeholder="Surname" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.surname"required>
					 <span class="text-danger"  ng-show="addstaffForm.surname.$error.pattern">Text is required.</span>
					<span class="help-block" ng-show="addstaffForm.surname.$dirty && addstaffForm.surname.$invalid">
						<span class="text-danger" ng-show="addstaffForm.surname.$error.required">Required Field.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="email_id" class="col-sm-2 control-label">Email ID *</label>
				<div class="col-sm-9">
					<input type="Email" id="email_id" class="form-control" name="email_id" placeholder="Email ID"  ng-model="modalOptions.addstaff.email_id"required>
						<span class="help-block" ng-show="addstaffForm.email_id.$dirty && addstaffForm.email_id.$invalid">
						<span class="text-danger" ng-show="addstaffForm.email_id.$dirty "></span>
						<span class="text-danger" ng-show="addstaffForm.email_id.$error.required">Required Field.</span>
						<span class="text-danger" ng-show="addstaffForm.email_id.$error.email">Invalid Email address.</span>
					</span>
				</div>	
				
			</div>
			<div class="form-group">
				<label for="contact_no" class="col-sm-2 control-label">Contact No *</label>
				<div class="col-sm-9">
					<input type="text" id="contact_no" class="form-control" name="contact_no" placeholder="Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" ng-model="modalOptions.addstaff.contact_no"required>
					<span class="help-block" ng-show="addstaffForm.contact_no.$dirty && addstaffForm.contact_no.$invalid">
						<span ng-show="addstaffForm.contact_no.$error.required" class="text-danger">Required Field.</span>
						<span class="text-danger" ng-show="addstaffForm.contact_no.$error.pattern && (addstaffForm.contact_no.$dirty)">Enter a valid Contact Number</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-sm-2 control-label">Address *</label>
				<div class="col-sm-9">
					<textarea type="text" id="address" class="form-control" name="address" placeholder="Address" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.address" ng-maxlength="250" required></textarea>
					<span ng-hide="addstaffForm.address.$error.maxlength">
								{{ 250 - modalOptions.addstaff.address.length + " Chars left" }}
						</span>
						<span class="help-block" ng-show="addstaffForm.address.$dirty && addexpenseForm.address.$invalid">
								<span class="text-danger" ng-show="addstaffForm.address.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addstaffForm.address.$error.required" class="text-danger">Required Field</span>
						</span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="city" class="col-sm-2 control-label">City *</label>
				<div class="col-sm-9">
					<input type="text" id="city" class="form-control" name="city" placeholder="City" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.city"required>
					<span class="text-danger"  ng-show="addstaffForm.city.$error.pattern">Text is required.</span>
					<span class="help-block" ng-show="addstaffForm.city.$dirty && addstaffForm.city.$invalid">
						<span class="text-danger" ng-show="addstaffForm.city.$error.required">Required Field.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="state" class="col-sm-2 control-label">State *</label>
				<div class="col-sm-9">
					<input type="text" id="state" class="form-control" name="state" placeholder="State" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.state"required>
					<span class="text-danger"  ng-show="addstaffForm.state.$error.pattern">Text is required.</span>
					<span class="help-block" ng-show="addstaffForm.state.$dirty && addstaffForm.state.$invalid">
						<span class="text-danger" ng-show="addstaffForm.state.$error.required">Required Field.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="country" class="col-sm-2 control-label">Country *</label>
				<div class="col-sm-9">
					<input type="text" id="country" class="form-control" name="country" placeholder="Country" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.country"required>
					<span class="text-danger"  ng-show="addstaffForm.country.$error.pattern">Text is required.</span>
					<span class="help-block" ng-show="addstaffForm.country.$dirty && addstaffForm.country.$invalid">
						<span class="text-danger" ng-show="addstaffForm.country.$error.required">Required Field.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="pincode" class="col-sm-2 control-label">Pin Code *</label>
				<div class="col-sm-9">
					<input type="text" id="pincode" class="form-control" name="pincode" placeholder="Pin code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" ng-model="modalOptions.addstaff.pincode"required>
					<span class="help-block" ng-show="addstaffForm.pincode.$dirty && addstaffForm.pincode.$invalid">
						<span ng-show="addstaffForm.pincode.$error.pattern && (addstaffForm.pincode.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
			<div class="form-group" ng-init="modalOptions.addstaff.marital_status='single'">
				<label for="merital_status" class="col-sm-2 control-label">Marital Status *</label>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="single" ng-model="modalOptions.addstaff.marital_status">Single</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="married"  ng-model="modalOptions.addstaff.marital_status">Married</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="divorced"  ng-model="modalOptions.addstaff.marital_status">Divorced</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="widows"  ng-model="modalOptions.addstaff.marital_status">Widows</label>
				</div>
			</div>
			
			<div class="form-group" ng-init="modalOptions.addstaff.gender='male'">
				<label for="gender" class="col-sm-2 control-label">Gender *</label>
					<div class="radio col-sm-2">
						<label><input type="radio" name="gender" value="male" ng-model="modalOptions.addstaff.gender">Male</label>
					</div>
					<div class="radio col-sm-2">
						<label><input type="radio" name="gender" value="female" ng-model="modalOptions.addstaff.gender" >Female</label>
					</div>
			</div>
			
			<div class="form-group">
				<label  for="dob" class="col-sm-2 control-label">Birth Date * </label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="YYYY-DD-MM" id="dob" name="dob" ng-model="modalOptions.addstaff.dob" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" ng-click="opened1 = !opened" ng-required="true" />
					
				</div>
			</div>
			<div class="form-group">
				<label for="age" class="col-sm-2 control-label">Age *</label>
				<div class="col-sm-9">
					<input type="text" id="age" class="form-control" name="age" placeholder="Age" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="3" ng-model="modalOptions.addstaff.age"required>
					<span ng-show="addstaffForm.age.$error.pattern && (addstaffForm.age.$dirty || submitted)" class="text-danger">please enter number</span>
										<span class="help-block" ng-show="addstaffForm.age.$dirty && addstaffForm.age.$invalid">
											<span class="text-danger" ng-show="addstaffForm.age.$error.required">Required Field.</span>
										</span>
				</div>
			</div>
			
			<hr>
			<h4 style="text-align:center">Hobbies</h4>
			<div class="form-group">
				<label for="hobbies" class="col-sm-2 control-label">Hobby Name *</label>
				<div class="col-sm-9">
					<input type="text" id="hobbies" class="form-control" name="hobbies" placeholder="Hobby Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.hobbies.hobbies"required>
					<span class="text-danger"  ng-show="addstaffForm.hobbies.$error.pattern">Text is required.</span>
					<span class="help-block" ng-show="addstaffForm.hobbies.$dirty && addstaffForm.hobbies.$invalid">
						<span class="text-danger" ng-show="addstaffForm.hobbies.$error.required">Required Field.</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="hobbies" class="col-sm-2 control-label">Hobby Descriptin *</label>
				<div class="col-sm-9">
					<textarea type="text" id="hobbiesdesc" ng-model="modalOptions.addstaff.hobbies.hobbiesdesc" class="form-control" name="hobbiesdesc"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
					<span ng-hide="addstaffForm.hobbiesdesc.$error.maxlength">
								{{ 250 - modalOptions.addstaff.hobbiesdesc.length + " Chars left" }}
						</span>
						<span class="help-block" ng-show="addstaffForm.hobbiesdesc.$dirty && addstaffForm.hobbiesdesc.$invalid">
								<span class="text-danger" ng-show="addstaffForm.hobbiesdesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addstaffForm.hobbiesdesc.$error.required" class="text-danger">Required Field</span>
						</span>
				</div>
			</div>
			<hr>
			<h4 style="text-align:center">Medical Details</h4>
			<div class="form-group" ng-init="modalOptions.addstaff.medical.phisicallyhandicapped='no'">
				<label for="phisicallyhandicapped" class="col-sm-2 control-label">Physically Handicapped *</label>
					<div class="radio col-sm-2">
						<label><input type="radio" name="phisicallyhandicapped" value="yes" ng-model="modalOptions.addstaff.medical.phisicallyhandicapped">Yes</label>
					</div>
					<div class="radio col-sm-2">
						<label><input type="radio" name="phisicallyhandicapped" value="no" ng-model="modalOptions.addstaff.medical.phisicallyhandicapped">No</label>
					</div>
			</div>
			<div class="form-group">
				<label for="handicapdesc" class="col-sm-2 control-label">Handicapped Description</label>
				<div class="col-sm-9">
					<textarea type="text" id="handicapdesc" ng-model="modalOptions.addstaff.medical.handicapdesc" class="form-control" name="handicapdesc"   placeholder="Handicapped Description" ng-maxlength="250" required></textarea>
					<span ng-hide="addstaffForm.handicapdesc.$error.maxlength">
								{{ 250 - modalOptions.addstaff.handicapdesc.length + " Chars left" }}
						</span>
						<span class="help-block" ng-show="addstaffForm.handicapdesc.$dirty && addstaffForm.handicapdesc.$invalid">
								<span class="text-danger" ng-show="addstaffForm.handicapdesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
						</span>
				</div>
			</div>
			<div class="form-group">
				<label for="height" class="col-sm-2 control-label">Height *</label>
				<div class="col-sm-9">
					<input type="text" id="height" class="form-control" name="height" placeholder="Height" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" ng-model="modalOptions.addstaff.medical.height"required>
					<span class="help-block" ng-show="addstaffForm.height.$dirty && addstaffForm.height.$invalid">
						<span ng-show="addstaffForm.height.$error.pattern && (addstaffForm.height.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="weight" class="col-sm-2 control-label">Weight *</label>
				<div class="col-sm-9">
					<input type="text" id="weight" class="form-control" name="weight" placeholder="Weight" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" ng-model="modalOptions.addstaff.medical.weight"required>
					<span class="help-block" ng-show="addstaffForm.weight.$dirty && addstaffForm.weight.$invalid">
						<span ng-show="addstaffForm.weight.$error.pattern && (addstaffForm.weight.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="habbitname" class="col-sm-2 control-label">Habbit Name </label>
				<div class="col-sm-9">
					<input type="text" id="habbitname" class="form-control" name="habbitname" placeholder="Habbit Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.medical.habbitname"required>
					<span class="text-danger"  ng-show="addstaffForm.habbitname.$error.pattern">Text is required.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="habbitdesc" class="col-sm-2 control-label">Habbit Description </label>
				<div class="col-sm-9">
					<textarea type="text" id="habbitdesc" ng-model="modalOptions.addstaff.medical.habbitdesc" class="form-control" name="habbitdesc"   placeholder="Habbit Description" ng-maxlength="250" required></textarea>
					<span ng-hide="addstaffForm.habbitdesc.$error.maxlength">
								{{ 250 - modalOptions.addstaff.habbitdesc.length + " Chars left" }}
						</span>
						<span class="help-block" ng-show="addstaffForm.habbitdesc.$dirty && addstaffForm.habbitdesc.$invalid">
								<span class="text-danger" ng-show="addstaffForm.habbitdesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
						</span>
				</div>
			</div>
			
			<hr>
			<h4 style="text-align:center">Bank Details</h4>
			<div class="form-group">
				<label for="bankname" class="col-sm-2 control-label">Bank Name*</label>
				<div class="col-sm-9">
					<input type="text" id="bankname" class="form-control" name="bankname" placeholder="Bank Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.bank_details.bankname"required>
					<span class="text-danger"  ng-show="addstaffForm.bankname.$error.pattern">Text is required.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="branchname" class="col-sm-2 control-label">Branch*</label>
				<div class="col-sm-9">
					<input type="text" id="branchname" class="form-control" name="branchname" placeholder="Branch Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addstaff.bank_details.branchname"required>
					<span class="text-danger"  ng-show="addstaffForm.branchname.$error.pattern">Text is required.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="accountno" class="col-sm-2 control-label">Account No*</label>
				<div class="col-sm-9">
					<input type="text" id="accountno" class="form-control" name="accountno" placeholder="Account No" ng-pattern="/^\d{0,9}[0-9]$/" ng-model="modalOptions.addstaff.bank_details.accountno"required>
						
						<span class="help-block" ng-show="addstaffForm.accountno.$dirty && addstaffForm.accountno.$invalid">
							<span class="text-danger" ng-show="addstaffForm.accountno.$error.required">Required Field.</span>
							<span ng-show="addstaffForm.accountno.$error.pattern && (addstaffForm.accountno.$dirty)"class="text-danger">Enter Number</span>
						</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="accountno" class="col-sm-2 control-label">Account Type</label>
				<div class="col-sm-9">		
									<select id="account_type" class="form-control" placeholder="Type" name="account_type"  ng-model="modalOptions.addstaff.bank_details.account_type" required>
										<option value="" selected>Type</option>
										<option value="type1" >Saving</option>
										<option value="type2">Current</option>
									</select>
									<span class="help-block" ng-show="addstaffForm.account_type.$dirty && addstaffForm.account_type.$invalid">
										<span ng-show="addstaffForm.account_type.$error.required" class="text-danger">Required field.</span>
									</span>
				</div>
			</div>
			<div class="form-group">
				<label for="ifsccode" class="col-sm-2 control-label">IFSC Code*</label>
				<div class="col-sm-9">
					<input type="text" id="ifsccode" class="form-control" name="ifsccode" placeholder="IFSC Code"  ng-model="modalOptions.addstaff.bank_details.ifsccode"required>
					<span class="help-block" ng-show="addstaffForm.ifsccode.$dirty && addstaffForm.ifsccode.$invalid">
							<span class="text-danger" ng-show="addstaffForm.ifsccode.$error.required">Required Field.</span>
						</span>
				</div>
			</div>
			<div class="form-group">
				<label for="micrcode" class="col-sm-2 control-label">MICR Code*</label>
				<div class="col-sm-9">
					<input type="text" id="micrcode" class="form-control" name="micrcode" placeholder="MICR Code"  ng-model="modalOptions.addstaff.bank_details.micrcode"required>
					<span class="help-block" ng-show="addstaffForm.micrcode.$dirty && addstaffForm.micrcode.$invalid">
							<span class="text-danger" ng-show="addstaffForm.micrcode.$error.required">Required Field.</span>
						</span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				 <button type="submit" class="btn btn-primary" title="submit" ng-click="modalOptions.showFormPart('educationalDetails',modalOptions)">Next</button> 
				</div>	
			</div>	
		
