
		     <input type="hidden" class="form-control" ng-model="modalOptions.addstaff.user_id" ng-init="modalOptions.addstaff.user_id = userDetails.id" readonly/>
			 
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="name" class="form-control" name="name" placeholder="First Name"  ng-model="modalOptions.addstaff.name"required>
				</div>
			</div>
			<div class="form-group">
				<label for="surname" class="col-sm-2 control-label">Surname *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="surname" class="form-control" name="surname" placeholder="Surname"  ng-model="modalOptions.addstaff.surname"required>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email ID *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="email" class="form-control" name="email" placeholder="Email ID"  ng-model="modalOptions.addstaff.email"required>
				</div>
			</div>
			<div class="form-group">
				<label for="contact" class="col-sm-2 control-label">Contact No *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="contact" class="form-control" name="contact" placeholder="Contact No"  ng-model="modalOptions.addstaff.contact"required>
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-sm-2 control-label">Address *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="address" class="form-control" name="address" placeholder="Address"  ng-model="modalOptions.addstaff.address"required>
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-sm-2 control-label">City *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="city" class="form-control" name="city" placeholder="City"  ng-model="modalOptions.addstaff.city"required>
				</div>
			</div>
			<div class="form-group">
				<label for="state" class="col-sm-2 control-label">State *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="state" class="form-control" name="state" placeholder="State"  ng-model="modalOptions.addstaff.state"required>
				</div>
			</div>
			<div class="form-group">
				<label for="country" class="col-sm-2 control-label">Country *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="country" class="form-control" name="country" placeholder="Country"  ng-model="modalOptions.addstaff.country"required>
				</div>
			</div>
			<div class="form-group">
				<label for="pincode" class="col-sm-2 control-label">Pin Code *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="pincode" class="form-control" name="pincode" placeholder="Pin code"  ng-model="modalOptions.addstaff.pincode"required>
				</div>
			</div>
			<div class="form-group">
				<label for="merital_status" class="col-sm-2 control-label">Marital Status *</label>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="0" checked ng-model="modalOptions.addstaff.marital_status">single</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="1"  ng-model="modalOptions.addstaff.marital_status">Married</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="2"  ng-model="modalOptions.addstaff.marital_status">Divorced</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="marital_status" value="3"  ng-model="modalOptions.addstaff.marital_status">Widows</label>
				</div>
			</div>
			
			<div class="form-group">
			<label for="gender" class="col-sm-2 control-label">Gender *</label>
				<div class="radio col-sm-2">
				<label><input type="radio" name="gender" value="0" checked ng-model="modalOptions.addstaff.gender">Male</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="gender" value="1" checked ng-model="modalOptions.addstaff.gender">Female</label>
				</div>
			</div>
			
			<div class="form-group">
				<label  for="dob" class="col-sm-2 control-label">Birth Date * </label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="YYYY-DD-MM" id="dob" name="dob" ng-model="modalOptions.staffdate.dob" />
				</div>
			</div>
			<div class="form-group">
				<label for="age" class="col-sm-2 control-label">Age *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="age" class="form-control" name="age" placeholder="Pin code"  ng-model="modalOptions.addstaff.age"required>
				</div>
			</div>
			<div class="form-group">
				<label for="hobbies" class="col-sm-2 control-label">Hobby Name *</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="modalOptions.addstaff.status" ng-init="modalOptions.addstaff.status = '1'">
					<input type="text" id="hobbies" class="form-control" name="hobbies" placeholder="Hobby Name"  ng-model="modalOptions.addstaff.hobbies"required>
				</div>
			</div>
			<div class="form-group">
				<label for="hobbies" class="col-sm-2 control-label">Hobby Descriptin *</label>
				<div class="col-sm-9">
					<textarea type="text" id="description" ng-model="modalOptions.addstaff.description" class="form-control" name="description"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
					<span ng-hide="addstaffForm.description.$error.maxlength">
								{{ 250 - modalOptions.addstaff.description.length + " Chars left" }}
						</span>
				</div>
			</div>
			
			<!-- <div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-9">
						<textarea type="text" id="description" ng-model="modalOptions.addexpense.description" class="form-control" name="description"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
						<span ng-hide="addexpenseForm.description.$error.maxlength">
								{{ 250 - modalOptions.addexpense.description.length + " Chars left" }}
						</span>	
						 <span class="help-block" ng-show="addexpenseForm.description.$dirty && addexpenseForm.description.$invalid">
								<span class="text-danger" ng-show="addexpenseForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addexpenseForm.description.$error.required" class="text-danger">Required Field</span>
						</span>
					</div>		
			</div> -->
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-primary" title="Save">Next</button>
				</div>
			</div>	
			
