<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
	
	<div class="row">
		<div class="col-sm-2">
		<h4>Staff Attendance</h4>
		</div>
	</div>
	
<div class="row " style="height: auto;">{{attendance}}
		<div class="col-sm-12">
			<div class="bottomspace">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<h5 ng-if="!attendance.id">Add Staff Attendance</h5>
							<h5 ng-if="attendance.id">Update Staff Attendance</h5>
								<form class="form-inline" name="attendanceForm" role="form" ng-submit="attendanceForm.$valid" novalidate="novalidate">
									<div class="form-group" >
										<label  for="date" >Date *</label>
											<div class="input-group">
												<input type="text" class="form-control " placeholder="Date" id="attend_date" name="attend_date" ng-model="attendance.attendance_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="attendance.attendance_date = attendancedate"  ng-required="true" close-text="Close" ng-click="opened = !opened" ng-change="setDate(attendance.attendance_date,10); sqlDateFormat(attendance.attendance_date, attendance.attendance_date)"/>	
												
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>
									</div>
									<div class="form-group" >{{staffList.staff_id}}
											<label for="staff_id" > Select Staff* </label>
												<select id="staff_id" class="form-control" ng-model="attendance.staff_id" ng-init="getData(false, false,'staff','staffList',staffattendanceParams)" ng-options="item.id as item.name for item in staffList" required>
												<option value="">Select Staff</option>
												</select>
												<span class="help-block" ng-show="attendanceForm.staff_id.$dirty && attendanceForm.staff_id.$invalid">
												<span ng-show="attendanceForm.staff_id.$error.required" class="text-danger">user name is required.</span>
												</span>
								
									</div>
									
									<div class="form-group">
										<label for="login_time"  control-label">Login Time</label>
											<input type="text" id="login_time" class="form-control" name="login_time" ng-pattern=" /^\d{1,2}:\d{2}([ap]m)?$/;" ng-model="attendance.login_time" required>
									</div>
									<div class="form-group">
										<label for="logout_time"  control-label">Logout Time</label>
											<input type="text" id="logout_time" class="form-control" name="logout_time" ng-model="attendance.logout_time" required>
									</div>		
									<div class="form-group">
										<button type="submit" class="btn btn-success" ng-disabled="attendanceForm.$invalid" ng-if="!attendance.id" ng-click="postData('staffattendance',attendance,callback);">Add</button>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success" ng-disabled="attendanceForm.$invalid" ng-if="attendance.id" ng-click="updateData('staffattendance',attendance,attendance.id);">Update</button>
									</div>
							</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="page_item" class="control-label">Page Item</label>
				<select id="page_item" class="form-control" ng-change="getData(false, currentPage,'staffattendance', 'staffattendanceList',staffattendanceParams)" ng-model="pageItems" ng-options="item as item for item in [10,20,30]">
					<option value="" selected>Select type</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="date2" class="control-label">From Date</label>{{duration.start}}
					<div class="input-group">
					  <input class="form-control" type="text" id="date2" name="date2" datepicker-popup="yyyy-MM-dd" ng-model="duration.start" is-open="opened2" min-date="minDate" ng-required="true" close-text="Close" datepicker-options="dateOptions" date-disabled="disabled(date2, mode)" ng-init="calcDuration(type, duration)" ng-click="opened2=!opened2"/> 
					
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opened2 = !opened2"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
					</div>
			</div>
		</div>
		<div class="col-sm-3" >
			<div class="bottomspace" >
				<label for="date1" class="control-label">To Date</label>
					<div class="input-group">
					  <input class="form-control" type="text" ng-change="calcDuration(type,duration)" id="date1" name="date1" datepicker-popup="yyyy-MM-dd" ng-model="duration.end" is-open="opened3" min-date="minDate" ng-required="true" close-text="Close" datepicker-options="dateOptions" date-disabled="disabled(date1, mode)" ng-init="calcDuration(type, duration)" ng-click="opened3=!opened3"/> 
					
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opened3 = !opened3"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
					</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="staffname" class="control-label">Select Staff</label>
				<select id="staffname" class="form-control" ng-init="getData(false, currentPage,'staff','staffList',staffParams)" ng-model="staffname" ng-options="item.id as item.name for item in staffList" >
					<option value="" selected>Select Staff</option>
				</select>
			</div>
		</div>
		<!-- ng-change="filter('staff_id', staff_id, 'staffattendance', 'staffattendance', staffattendanceParams)"  -->
	
	</div>

	{{staffattendanceL}}
	<div class="table-responsive"  ng-init="getData(false, currentPage, 'staffattendance','staffattendance',staffattendanceParams);getData(false, false, 'staff','staffList',staffParams)">
		<div ui-grid="staffattendance"></div>
	</div>
	
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'staffattendance','staffattendance',staffattendanceParams)"></pagination>
		<pre>Page: {{currentPage}} / {{numPages}}</pre>
	</div>	
</div>

