body {
  position: relative;
}
.errorback .msg,
.errorback .error {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #000;
}
.errorback .msg h3 {
  color: #3B1414;
  font-style: italic;
  text-shadow: 2px 3px 4px #777;
}
.errorback .msg .coming {
  height: 250px;
}
.errorback .error .code {
  border-right: 1px solid red;
}
.errorback .error img {
  height: 100px;
}
.errorback .error p {
  color: #BA0505;
  font-size: 50px;
  text-shadow: 4px 3px 10px #5E4C4C;
}
.errorback .error h4 {
  font-size: 56px;
  text-rendering: optimizeLegibility;
  color: red;
  text-shadow: 4px 3px 10px #5E4C4C;
}
.errorback .error h3 {
  text-shadow: 4px 3px 8px #5E4C4C;
  font-size: 25px;
  margin-top: 35px;
}
