body {
  background: red;
  position: relative;
}
.errorback .msg {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #000;
}
.errorback h2 {
  color: #D20A0A;
  font-size: 50px;
  text-shadow: 4px 3px 10px #5E4C4C;
}
.errorback h3 {
  color: #3B1414;
}
