@font-face {
  font-family: 'FengardoNeue_Regular';
  src: url('../fonts/FengardoNeue_Regular.otf');
}
@font-face {
  font-family: 'Amaranth-Regular';
  src: url('../fonts/Amaranth-Regular.otf');
}
.featuredProperty .sections {
  height: 270px;
}
.featuredProperty .sections .bxslider1 {
  padding-left: 15px;
  list-style: none;
}
.featuredProperty .sections .bxslider1 h4 {
  padding-left: 25px;
}
.featuredProperty .sections .bxslider1 .row {
  padding-bottom: 10px;
}
.featuredProperty .sections .bxslider1 li {
  height: 260px;
}
.featuredProperty .sections .bxslider1 li .verify img {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.featuredProperty .sections .bxslider1 li .sliderImg {
  height: 150px;
  width: 200px;
  overflow: hidden;
  padding: 4px;
  border: 2px solid transparent;
}
.featuredProperty .sections .bxslider1 li .sliderImg img {
  min-height: 150px;
}
.featuredProperty .sections .bxslider1 li .sliderImg:hover {
  border: 2px solid #bccb3d;
}
.featuredProperty .sections .bxslider1 li a {
  color: #bccb3d;
  font-weight: bold;
}
.featuredProperty .sections .bxslider1 li a:hover {
  text-decoration: none;
}
.featuredProperty .sections .bxslider1 li a:hover {
  color: #bbbbbb;
}
.featuredProperty .sections .bxslider1 li .head {
  margin-right: 10px;
  margin-left: 10px;
  color: #000000;
}
.featuredProperty .sections .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.property,
.proplist {
  background-color: #272600;
  border: 1px solid #2f3826;
}
.singleproperty .property {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px 15px;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table {
  background-color: #171600;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px dashed #2f3826;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
}
.singleproperty .property .mainimg img {
  max-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .propDetails ul li {
  padding-left: 10px;
  padding-bottom: 10px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #1F1D01;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #2f3826;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
}
.propertylist {
  padding: 20px 20px 0px;
}
.propertylist .btn-primary {
  margin-right: 4px;
  margin-bottom: 10px;
  padding: 6px 10px;
}
.propertylist .readmore {
  text-align: center;
}
.propertylist .readmore .viewdtls {
  margin-right: 10px;
}
.propertylist .panel {
  background-color: #171600;
}
.propertylist .panel-default {
  border-color: #2f3826;
}
.propertylist .panel-body {
  padding: 5px 15px 15px;
}
.propertylist .table td {
  border: none;
  padding: 1px 10px;
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 229px;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 229px;
  }
}
.homeproject {
  margin-top: 10px;
  margin-bottom: 20px;
}
.homeproject .projectnav,
.homeproject .projsnap {
  border: 5px solid #2f3826;
  background-color: #171600;
}
.homeproject .projectnav .nav-stacked,
.homeproject .projsnap .nav-stacked {
  background-color: #171600;
  margin: 5px;
}
.homeproject .projectnav .nav-stacked > li,
.homeproject .projsnap .nav-stacked > li {
  padding: 4px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projsnap .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus,
.homeproject .projsnap .nav-stacked > li > a:focus {
  font-weight: bold;
  color: #bbbbbb;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projsnap .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projsnap .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projsnap .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projsnap .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projsnap .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projsnap .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus,
.homeproject .projsnap .nav-stacked > li > a:focus {
  background-color: #bccb3d;
  color: #000000;
}
.homeproject .projsnap p {
  padding-left: 10px;
}
.homeproject .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #bccb3d;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty a {
  color: #bccb3d;
  font-size: 16px;
}
.homeproject .projsnap .viewproperty a:hover {
  color: #bccb3d;
}
.homeproject #carousel .carousel-inner {
  border: 5px solid #bbbbbb;
}
.homeproject #carousel .carousel-inner .carousel-caption h2 {
  border: none;
}
.homeproject #carousel .carousel-inner .item {
  overflow: hidden;
}
.homeproject #carousel a.left.carousel-control,
.homeproject #carousel a.right.carousel-control {
  background: none;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid #bbbbbb;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .projimg:hover {
  border: 2px solid #bccb3d;
}
.bxslider li .head {
  color: #bccb3d;
  font-weight: bold;
  text-decoration: underline;
}
.bxslider li .head:hover {
  color: #bccb3d;
  text-decoration: none;
}
.bxslider li p {
  margin-top: 0px;
}
.highlight {
  color: #bccb3d;
}
.project .navbar {
  height: 20px;
}
.project ul.nav.navbar-nav {
  background-color: #272600;
  border-bottom: 4px solid #2f3826;
  height: 42px;
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #2f3826;
  height: 38px;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  color: #bbbbbb;
  padding: 9px 8px;
  font-size: 15px;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background-color: #bccb3d;
  color: #000000;
}
.project .projImg {
  margin-right: 20px;
}
.project .projImgs {
  margin-bottom: 20px;
  max-height: 175px;
}
.projectgallery,
.projlist {
  background-color: #272600;
  border: 1px solid #2f3826;
  padding: 20px 20px 0px;
}
.projectgallery .thumbnail,
.projlist .thumbnail {
  background-color: #171600;
}
.projectgallery .thumbnail .projectImags,
.projlist .thumbnail .projectImags {
  height: 150px;
  width: 182px;
  overflow: hidden;
}
.projectgallery .thumbnail .projectImags img,
.projlist .thumbnail .projectImags img {
  min-height: 150px;
}
.projectgallery .thumbnail .caption,
.projlist .thumbnail .caption {
  height: 173px;
  overflow: hidden;
  margin-bottom: 10px;
}
.projlist .project .thumbnail {
  height: 385px;
  padding-top: 15px;
}
.projlist .project .thumbnail .projectimg {
  width: 182px;
  height: 148px;
  overflow: hidden;
}
.projlist .project .thumbnail .projectimg img {
  min-height: 148px;
}
.projlist .project .thumbnail .caption {
  color: #bbbbbb;
}
.projlist .project .thumbnail .caption a {
  color: #bccb3d;
  text-decoration: underline;
}
.projlist .project .thumbnail .caption a:hover {
  color: #bccb3d;
  text-decoration: none;
}
@media (min-width: 320px) {
  .projImg {
    float: none;
    max-height: 175px;
    margin-right: 10px;
  }
  .item.active {
    height: 120px;
  }
  .projectnav,
  .projsnap {
    height: 312px;
    margin-bottom: 10px;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
  .projectnav,
  .projsnap {
    height: 322px;
  }
  .item.active {
    height: 312px;
  }
  .carousel-inner > .item > img {
    width: 100%;
    min-height: 310px;
  }
}
@media (min-width: 1200px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
  .projectnav,
  .projsnap {
    height: 318px;
  }
  .item.active {
    height: 308px;
  }
  .carousel-inner > .item > img {
    width: 100%;
    min-height: 306px;
  }
}
.services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.services .servimage:hover {
  border: 4px solid #bccb3d;
}
.services .servdesc {
  height: 220px;
}
.services .servdesc .description {
  height: 75px;
  overflow: hidden;
  margin-bottom: 10px;
}
.services .servdesc .readmore a {
  background-color: #bccb3d;
  border: none;
  color: #000000;
  font-weight: bold;
  border: 2px solid #bccb3d;
}
.services .servdesc .readmore a:hover {
  background-color: #171600;
  transition: all 0.3s ease;
  border: 2px solid #bccb3d;
  color: #bccb3d;
}
.products .thumbnail,
.singleproduct .thumbnail {
  background-color: #272600;
}
.products .thumbnail .prodimg {
  width: 198px;
  height: 148px;
  overflow: hidden;
}
.products .thumbnail .prodimg img {
  min-height: 148px;
}
.products .thumbnail .caption {
  height: 190px;
}
.products .thumbnail .caption .description {
  height: 75px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 320px) {
  .products .thumbnail {
    height: 465px;
  }
}
@media (min-width: 992px) {
  .products .thumbnail {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .products .thumbnail {
    height: 400px;
  }
}
.featuretab {
  margin-top: 20px;
}
.featuretab .tab-content {
  background-color: #272600;
  border: 1px solid #2f3826;
  border-top: none;
  position: relative;
  margin-bottom: 25px;
  padding: 1px 20px 0px;
  border-radius: 0px 0px 5px 5px;
}
.featuretab .nav-tabs {
  border-bottom: 1px solid #2f3826;
}
.featuretab .nav-tabs li a {
  border: 1px solid #2f3826;
  color: #bccb3d;
  font-weight: bold;
}
.featuretab .nav-tabs li a:hover {
  color: #000000;
  background-color: #bccb3d;
}
.featuretab .nav-tabs li.active > a,
.featuretab .nav-tabs li.active > a:hover,
.featuretab .nav-tabs li.active > a:focus {
  color: #000000;
  background-color: #bccb3d;
  border: 1px solid #171600;
}
.sidebar .nav-pills {
  background-color: #272600;
  border-bottom: 4px solid #2f3826;
}
.sidebar .nav-pills > li {
  border-right: 1px solid #2f3826;
  height: 38px;
}
.sidebar .nav-pills > li > a,
.sidebar .nav-pills > li > a:focus {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #bbbbbb;
  font-weight: bold;
}
.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active:hover > a,
.sidebar .nav-pills > li.active > a:focus,
.sidebar .nav-pills > li:hover > a,
.sidebar .nav-pills > li:hover > a:focus,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
  background-color: #bccb3d;
  color: #000000;
}
.about .table tbody tr th,
.contact .table tbody tr th,
.charges .table tbody tr th,
.about .table tbody tr td,
.contact .table tbody tr td,
.charges .table tbody tr td {
  border-color: #2f3826;
}
.about .table {
  margin-top: 20px;
}
.infrastructure .thumbnail {
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
}
.infrastructure .thumbnail .caption {
  height: 138px;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 395px;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #bccb3d;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-family: Times New Roman,Serif;
  font-size: 55px;
}
.testimonial blockquote {
  padding-left: 15px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
  border: 3px solid #bbbbbb;
}
.featrtesti img:hover {
  border: 3px solid #bccb3d;
}
.sidebarModule .radio label {
  padding-left: 15px;
}
.sidebarModule.sidemenu {
  border: 1px solid #2f3826;
  padding: 15px 15px 0px;
  border-radius: 4px;
}
.sidebarModule.sidemenu ul {
  padding: 0;
  list-style: none;
}
.sidebarModule.sidemenu ul li {
  margin-bottom: 10px;
}
.sidebarModule.sidemenu a {
  display: inline-block;
  height: 75px;
  width: 176px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-size: 100% 100%;
  overflow: hidden;
}
.sidebarModule.sidemenu a.area_converter {
  background-image: url('../img/area_converter.png');
}
.sidebarModule.sidemenu a.emi_calculator {
  background-image: url('../img/emi_calculator.png');
}
.sidebarModule.sidemenu a.post_your_property {
  background-image: url('../img/post_your_property.jpg');
}
.sidebarModule.sidemenu a.post_your_requirement {
  background-image: url('../img/post_your_requirement.jpg');
}
@media (min-width: 320px) {
  .gallery .thumbnail {
    height: 380px;
  }
}
@media (min-width: 992px) {
  .gallery .thumbnail {
    height: 365px;
  }
  .gallery .thumbnail img {
    max-height: 155px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    height: 380px;
  }
  .gallery .thumbnail img {
    max-height: 200px;
    width: 100%;
  }
}
* {
  transition: 300ms;
}
.container {
  width: 992px !important;
}
html {
  min-width: 1022px;
}
body {
  background-image: url('../img/back.jpg');
  background-repeat: repeat;
  color: #bbbbbb;
  position: relative;
}
.sociallinks {
  margin-top: 232px;
  position: fixed;
  z-index: 999;
}
.sociallinks ul {
  list-style: none;
}
.sociallinks ul li {
  transform: translateX(-119px);
  padding: 4px 0px 4px 10px;
  background: #bccb3d;
  margin: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #000000;
  text-align: right;
}
.sociallinks ul li img {
  width: 35px;
  margin-left: 4px;
}
.sociallinks ul li span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.sociallinks ul li:hover {
  transform: translateX(-45px);
}
.logo {
  height: 80px;
  margin-top: 25px;
  margin-left: 15px;
  max-height: 100px;
}
.contactinfo {
  color: #bccb3d;
  font-weight: bold;
  margin: 40px 15px 40px 0;
}
.navbar-collapse {
  padding: 0px;
}
.navbar-toggle {
  border: 1px solid #bbbbbb;
  margin-top: 45px;
}
.navbar-toggle .icon-bar {
  background-color: #bbbbbb;
}
.navbar-default {
  background-image: linear-gradient(#171600, #272600);
  border: 1px solid #2f3826;
}
.navbar-default .navbar-nav > li {
  position: relative;
  margin-right: 0px;
  padding-left: 10px;
}
.navbar-default .navbar-nav > li:first-child {
  padding-left: 0;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbbbbb;
  font: bold 14px/1.5em Arial, Helvetica, sans-serif;
  position: relative;
  padding: 25px 15px 15px 20px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background-color: #bccb3d;
  color: #000000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  top: -10px;
  padding-top: 34px;
  height: 65px;
}
.navbar-default .navbar-nav > li.active > a::after,
.navbar-default .navbar-nav > li.active:hover > a::after,
.navbar-default .navbar-nav > li.active > a:focus::after,
.navbar-default .navbar-nav > li:hover > a::after,
.navbar-default .navbar-nav > li:hover > a:focus::after {
  content: '';
  position: absolute;
  right: -8px;
  top: 0px;
  border-bottom: 6px solid #bbbbbb;
  border-left: 4px solid #bbbbbb;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
}
.navbar-default .navbar-nav > li > a::before {
  content: url('../img/bullet.png');
  position: absolute;
  top: 23px;
  left: 0px;
}
.navbar-default .navbar-nav > li:hover a::before,
.navbar-default .navbar-nav > li:first-child a::before,
.navbar-default .navbar-nav > li.active > a::before {
  display: none;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #bccb3d;
  padding: 15px;
  list-style: none;
  text-align: left;
  top: 49px;
  border-radius: 7px;
  border-top-left-radius: 0px;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul > li {
  border-bottom: 1px solid #2f3826;
  padding: 7px;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > ul > li > ul {
  list-style: disc;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a:hover {
  text-decoration: underline;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.content {
  background-color: #171600;
  border-radius: 7px;
  margin-top: 15px;
  padding: 10px 20px 30px;
}
a {
  color: #bccb3d;
}
a:hover {
  color: #bccb3d;
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  font-family: 'Amaranth-Regular';
  color: #bccb3d;
}
h1,
h2 {
  font-size: 2.3em;
  border-bottom: 1px solid #2f3826;
}
h3 {
  border-bottom: 1px solid #2f3826;
  padding-bottom: 8px;
}
.subhead {
  font: bold 14px/1.5em Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-image: linear-gradient(#171600 -82%, #bbbbbb 40%, #bbbbbb 60%, #272600 147%);
  border-radius: 7px;
  color: #000000;
  padding: 8px 35px;
  position: relative;
  text-transform: uppercase;
}
.subhead::after {
  background: url(../img/sprites_image.png) -37px -24px;
  content: "";
  display: inline-block;
  height: 22px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 22px;
}
.sections {
  background-color: #272600;
  border: 1px solid #2f3826;
  padding: 15px;
  border-radius: 10px;
}
.featured_services .sections {
  border: none;
}
.contactus h4 {
  margin-top: 0px;
}
.sidemenu {
  padding-bottom: 0px;
}
.thumbnail {
  background: none;
  border-color: #2f3826;
}
.thumbnail .caption {
  color: #bbbbbb;
}
.thumbnail .caption a {
  color: #bccb3d;
  text-decoration: underline;
}
.thumbnail .caption a:hover {
  color: #bccb3d;
  text-decoration: none;
}
.btn-link {
  color: #bccb3d;
  padding-left: 0px;
}
.btn-link:hover {
  color: #bccb3d;
}
.btn-info,
.btn-primary {
  border-radius: 5px;
}
.btn-info,
.btn-primary,
.btn-info:focus,
.btn-primary:focus,
.btn-info:active,
.btn-primary:active,
.btn-info[disabled],
.btn-primary[disabled] {
  background-color: #bccb3d;
  color: #000000;
  font-weight: bold;
  border: 1px solid #bccb3d;
}
.btn-info:hover,
.btn-primary:hover {
  background-color: #171600;
  transition: all 0.3s ease;
  border: 1px solid #bccb3d;
  color: #bccb3d;
}
.panel {
  background-color: #272600;
}
.panel-default {
  border-color: #2f3826;
}
.form-control,
.form-control[disabled],
.form-control[readonly] {
  color: #bbbbbb;
  background-color: #171600;
  border: 1px solid #2f3826;
}
.send,
.calculate {
  margin-right: 8px;
}
.sidebarModule .sideimg {
  margin-top: 20px;
}
.sidebarModule .email {
  color: #bbbbbb;
  text-decoration: underline;
}
.sidebarModule .email:hover {
  text-decoration: none;
  color: #bbbbbb;
}
hr {
  border-style: dashed;
  border-color: #2f3826;
  margin: 5px 0px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #171600;
  color: #bccb3d;
  border: 1px solid #171600;
}
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > a,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #2f3826;
  border: 1px solid #171600;
  color: #bccb3d;
}
footer {
  margin-top: 10px;
  color: #bbbbbb;
  font-weight: bold;
}
footer a,
footer a:hover {
  color: #bbbbbb;
}
@media (min-width: 320px) {
  .logo {
    float: left;
  }
  .contactinfo {
    display: none;
  }
  .navbar {
    min-height: 0px;
    margin-top: 10px;
  }
  .homeimg {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .logo {
    float: none;
  }
  .contactinfo {
    display: block;
  }
  .navbar {
    min-height: 70px;
  }
  .homeimg {
    float: right;
    margin-left: 25px;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .logo {
    float: none;
  }
  .contactinfo {
    display: block;
  }
  .navbar {
    min-height: 70px;
  }
  .homeimg {
    float: right;
    margin-left: 25px;
    max-height: 210px;
  }
  .slider {
    max-width: 802px;
  }
}
