body { 
	padding-top: 50px;
	padding-bottom: 70px;
}
.nav>li>a.dropdown-caret {
    padding-right: 35px;
}

.nav>li>a.dropdown-caret + .dropdown-toggle {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 22px;
}
.nav>li>a.dropdown-caret + .dropdown-toggle:hover .caret {
    border-top-color: rgb(236, 236, 236);
}

.nav>li>a.dropdown-caret + .dropdown-toggle:hover {
    background-color: rgb(139, 139, 139);
}

.errorbg{
	background-color:#17C3B8;
	color:#fff;
}