@font-face {
  font-family: 'eurof35';
  src: url('../fonts/eurof35.eot');
  src: local('eurof35'), url('../fonts/eurof35.woff') format('woff'), url('../fonts/eurof35.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_469">Text with this font applied</p> */
body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes dropHeader {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropHeader {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo {
  margin-top: 60px;
  -webkit-animation: dropHeader 1500ms ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation: dropHeader 1500ms ease-in-out;
  animation-iteration-count: 1;
}
.navbar-toggle {
  border: 1px solid #888;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
@-webkit-keyframes dropnav {
  0% {
    transform: translateX(-800px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes dropnav {
  0% {
    transform: translateX(-800px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes droplogin {
  0% {
    transform: translateX(1200px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes droplogin {
  0% {
    transform: translateX(1200px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.login {
  margin-top: 20px;
  -webkit-animation: droplogin 1500ms ease-in 100ms 1;
  animation: droplogin 1500ms ease-in 100ms 1;
}
.login a {
  padding-left: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px 6px #000;
  transition: all 250ms ease-in;
  border-bottom: 1px solid transparent;
}
.login a:hover,
.login a:focus {
  text-decoration: none;
  color: #C6EB21;
  transform: translateY(-15px);
  border-bottom: 1px solid;
}
ul.nav.navbar-nav {
  display: inline-block;
  float: none;
}
.navbar-default .navbar-nav > .open > a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px 6px #000;
  transition: all 250ms ease-in;
  border-bottom: 1px solid transparent;
  background: none;
}
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #C6EB21;
  transform: translateY(-15px);
  border-bottom: 1px solid;
  background: none;
}
.navbar-default {
  background: none;
  border: none;
  -webkit-animation: dropnav 1500ms ease-in 100ms 1;
  animation: dropnav 1500ms ease-in 100ms 1;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px 6px #000;
  transition: all 250ms ease-in;
  border-bottom: 1px solid transparent;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  color: #C6EB21;
  transform: translateY(-15px);
  border-bottom: 1px solid;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus {
  background: none;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 270px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.71);
  padding: 15px;
  list-style: none;
  text-align: left;
  left: -70%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px 0px #000;
  border-radius: 7px;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #C6EB21;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  background: none;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
@-webkit-keyframes dropcontent {
  0% {
    -webkit-transform: translateY(600px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropcontent {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.homeservice {
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 120px;
}
.homeservice .service {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  height: 186px;
  transition: all 300ms linear;
}
.homeservice .service .heading,
.homeservice .service h3,
.homeservice .service .description,
.homeservice .service .read {
  color: #fff;
}
.homeservice .service h3 {
  height: 80px;
  font-weight: bold;
}
.homeservice .service h3:hover {
  -webkit-animation: smallToBig 300ms ease;
}
.homeservice .service .description {
  height: 70px;
  width: 170px;
  top: 60px;
  position: absolute;
  left: 50%;
  margin-left: -85px;
}
.homeservice .service .description,
.homeservice .service .read {
  opacity: 0;
  transition: all 400ms linear;
  font-size: 10px;
}
.homeservice .service .read {
  margin-top: 10px;
}
.homeservice .service:hover {
  z-index: 200;
  transform: scale(1.29);
  border: 5px solid #fff;
}
.homeservice .service:hover .heading {
  display: none;
  opacity: 0;
}
.homeservice .service:hover .description,
.homeservice .service:hover .read {
  opacity: 1.9;
}
.homeservice .service1 {
  background-color: #0E9E04;
}
.homeservice .service2 {
  background-color: #366FC5;
}
.homeservice .service3 {
  background-color: #CD7F32;
}
.homeservice .service4 {
  background-color: #FA10A0;
}
.homeservice .service5 {
  background-color: #BA0419;
}
.homeservice,
.content {
  -webkit-animation: dropcontent 2000ms ease-in;
  -webkit-animation-iteration-count: 1;
  animation: dropcontent 2000ms ease-in;
  animation-iteration-count: 1;
}
#contact {
  height: 640px;
}
.content {
  background-color: rgba(255, 255, 255, 0.88);
  border: 20px solid rgba(121, 121, 121, 0.32);
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #000;
  margin-top: 10px;
  position: relative;
}
.content .info {
  padding: 10px 20px;
  overflow: auto;
}
.content .info p {
  text-align: justify;
}
.content .port,
.content .portfolio {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
.content .port img,
.content .portfolio img {
  width: 100%;
  padding: 5px;
}
.content .port {
  height: 360px;
}
.content .port img {
  overflow: hidden;
}
.content .portfolio {
  height: 100px;
  width: 49%;
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
}
.content .portfolio img {
  height: 100px;
}
.content .carousel-control {
  top: 260px;
}
.content .carousel-inner {
  height: 310px;
}
.content .media-left img {
  height: 150px;
  max-width: 190px;
}
.links:hover {
  text-decoration: none;
}
.btn-info {
  color: #fff;
  background-color: #323232;
  border: none;
  margin-top: 18px;
  border-radius: 15px;
  padding: 5px 20px;
}
.btn-info:hover {
  background-color: #323232;
  border: none;
  color: #C6EB21;
}
h4,
h2 {
  color: #B54904;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  border-bottom: 1px solid rgba(197, 6, 6, 0.11);
}
ul {
  padding-left: 15px;
}
#googleMap {
  height: 86%;
  position: absolute !important;
  z-index: 0;
  width: 100%;
}
.contact,
.addrs {
  position: absolute;
  z-index: 99;
  background-color: #fff;
}
.contact {
  right: 20px;
  overflow: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-top: 30px;
  width: 325px;
}
.addrs {
  border-radius: 140px;
  border: 5px solid #ccc;
  margin-top: 120px;
  margin-left: 10px;
  padding: 10px 40px;
  transition: all 300ms linear;
}
.addrs h4 {
  transition: all 300ms linear;
}
.addrs:hover {
  background-color: #e1f0fa;
  border: 5px solid #385F79;
  font-size: 15px;
}
.addrs:hover h4 {
  opacity: 1;
  color: #2676ac;
  -webkit-animation: moveFromTop 300ms ease-in-out;
}
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.apnasite {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #DDD8D8;
  transition: all 300ms linear;
  box-shadow: 0px 2px 6px #000;
  border-radius: 5px;
}
.apnasite .heading,
.apnasite .description {
  transition: all 300ms linear;
}
.apnasite:hover {
  background-color: #4E0660;
}
.apnasite:hover .heading,
.apnasite:hover .description {
  opacity: 1;
  color: #fff;
}
.apnasite:hover .heading {
  font-size: 25px;
  -webkit-animation: moveFromTop 300ms ease-in-out;
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
.packages .thumbnail {
  height: 720px;
  background-color: #DDD8D8;
  border: 10px solid #C8C8C8;
  box-shadow: 0px 0px 9px #000;
  transition: all 300ms linear;
  margin-top: 15px;
}
.packages .thumbnail .offer {
  margin-top: 15px;
}
.packages .thumbnail .offer .validity,
.packages .thumbnail .offer .price {
  transition: all 200ms linear;
  text-align: center;
}
.packages .thumbnail .offer:hover .validity,
.packages .thumbnail .offer:hover .price {
  color: purple;
}
.packages .thumbnail .offer:hover .validity {
  -webkit-animation: moveFromLeft 300ms ease;
  animation: moveFromLeft 300ms ease;
}
.packages .thumbnail .offer:hover .price {
  -webkit-animation: moveFromRight 300ms ease;
  animation: moveFromRight 300ms ease;
}
.packages .thumbnail h3 {
  display: block;
  width: 255px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  left: -21px;
  top: 8px;
  color: #FFFDFD;
  text-shadow: 2px 2px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: linear-gradient(top, #383838 0%, #262626 100%);
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.packages .thumbnail h3::before,
.packages .thumbnail h3::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  border: 5px solid;
  border-color: #242424 transparent transparent transparent;
}
.packages .thumbnail h3::before {
  left: 0;
}
.packages .thumbnail h3::after {
  right: 0;
}
.thumbnail.bronz h3 {
  background-color: #CD7F32;
}
.thumbnail.silver h3 {
  background-color: #366FC5;
}
.thumbnail.gold h3 {
  background-color: #E5A707;
}
.thumbnail.diamond h3 {
  background-color: #BA0419;
}
footer {
  margin: 15px 0px;
  text-align: center;
  padding: 8px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #C6EB21;
}
@media (min-width: 320px) {
  .logoimg {
    float: left;
    max-width: 245px;
  }
  .homelogo {
    width: 75%;
    float: left;
  }
  .apnalogo {
    width: 100%;
  }
  .service {
    width: 100%;
  }
  .navbar {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .logoimg {
    float: none;
  }
  .homelogo {
    width: 50%;
    float: none;
  }
  .apnalogo {
    width: 180px;
  }
  .service {
    width: 150px;
  }
  .navbar {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .logoimg {
    float: none;
    max-width: 285px;
  }
  .homelogo {
    width: 400px;
    float: none;
  }
  .apnalogo {
    width: 250px;
  }
  .service {
    width: 186px;
  }
  .navbar {
    margin-top: 20px;
  }
}
/**
 * Clouds
 */
.clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}
.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}
.cloud.front {
  z-index: 9;
}
.cloud.distant {
  z-index: 1;
}
.cloud.background {
  z-index: 1;
}
/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}
.cloud.small {
  margin-right: 200px;
  width: 150px;
}
.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}
.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}
/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}
.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}
.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}
.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}
@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
@keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
