	body{
		background-color:#F8E7BA;		
	}
	#googleMap{
		height:350px;
	}
	p{
		text-align:justify;
	}
	h1,h2{
		text-transform : uppercase;
	}
	.navbar-default {
		border: none;
		background:none;
		margin-top: 20px;
	}
	.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
	}
	.nav>li>a.dropdown-caret {
		padding-right: 35px;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 100%;
		display: block;
		text-align: center;
		padding-top: 15px;
	}
	.navbar-toggle {
		border : 1px solid #888;
		margin-top : 35px;
	}
	.navbar-toggle .icon-bar {
		background-color: #888;
	}
	.thumbnail{
		height: 435px;
	}
	.mygallery .thumbnail{
		height :415px;
	}
	.thumbnail .caption{
		height : 120px;
	}
	.thumbnail img,.prod .carousel-inner>.item>img{
		height : 260px;
	}
	.item .active{
		overflow:hidden;
		max-height:300px;
	}
	.carousel-inner>.item>img{
		width : 100%;
	}
	.carousel-caption h2, .carousel-caption p{
		color : #fff;
	}
	.carousel-caption p{
		text-align :center;
	}
	.carousel-control.right, .carousel-control.left{
		background : none;
	}
	.header{
		margin-top:30px;
	}
	.header,.content,.aboutus,.mycontact, .mytesti, .myjobs, .myact, .prod,.singleprod,.featureserv, .mygallery{
		background-color:#fff;
	}
	address, .navbar-default .navbar-nav > li > a, .navbar a, p, footer, blockquote a, footer a, .nav>li>a.dropdown-caret + .dropdown-toggle{
		color:#77746C;
	}
	address.pull-right {
		font-size: 18px;
		margin-top: 20px;
		margin-right: 15px;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle:hover .caret {
		border-top-color: rgb(236, 236, 236);
	}
	.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav li .dropdown-menu, body .navbar-default .navbar-nav li .dropdown-menu > li > a ,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,.nav>li>a.dropdown-caret + .dropdown-toggle:hover,.ftrlink3, .sidesec1{
		background-color: #CF6021;
	}
	.sub-div1 p,.sub-div1 h2,.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,body .navbar-default .navbar-nav li .dropdown-menu > li > a, .nav>.active>a.dropdown-caret + .dropdown-toggle:focus, .nav>li>a.dropdown-caret + .dropdown-toggle:focus, .nav>li>a.dropdown-caret + .dropdown-toggle:hover, .slogan p , .arrowimg:hover,.ftrlink2,.ftrlink3 p,.jobs h3, .jobs p{
		color:#fff;
	} 
	.navbar li{
		padding:0px 2px;
	}
	.btn-info, .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info{
		color : #CF6021;
		background : none;
		border : none;
	}
	.sub-div1 .btn-info,.sub-div1 .btn-info:hover, .sub-div1 .btn-info:focus, .sub-div1 .btn-info.focus, .sub-div1 .btn-info:active, .sub-div1 .btn-info.active, .open>.dropdown-toggle.btn-info{
		background-color :#85933d;
		border-color :#85933d;
		color : #fff;
	}
	.div1{
		height:250px;
		background-repeat:no-repeat;
		background-size: 100% 100%;
	}
	.sub-div1{
		padding:20px 20px 20px 50px;
	}
	.schoolinfo{
		padding-left: 30px;
		padding-bottom: 30px;
	}
	.slogan{
		padding:10px 20px 20px 50px;
	}
	.slogan p{
		font-size: 35px;
		letter-spacing: 2px;
	}
	.features{
		padding: 15px 30px;
	}
	.features h3 {
		font: 30px/34px 'Roboto Slab', Arial, sans-serif;
	}
	.read{
		font-size:17.5px;
	}
	h1, h2, h3, h4, .read, .read:hover, .read:focus, .btn-link, .btn-link:hover, .btn-link:focus ,li>a ,blockquote a:hover{
		color:#CF6021;
	}
	.arrowimg{
		line-height:2px;
		font: 100 20px/50px "Roboto Slab",Arial,sans-serif;
		color:#F8E7BA;
	}
	.arrowimg, .read:hover, .read:focus,.btn-link:hover, .btn-link:focus,.arrowimg:hover,.ftrlink2,.ftrlink3 p, blockquote a:hover,li>a:hover,.btn-link :focus, .ftrlink:hover, .ftrlink:focus{
		text-decoration:none;
	}
	.arrowimg::before,.ftrlink3 p::after{
		content:url('../img/arr2.png');
		border:1px solid #F8E7BA;
		padding:15px 20px;
		border-radius:50%;
		margin-left : 10px;
	}
	.arrowimg:hover::before ,.ftrlink3 p:hover::after{
		background-color:#E4936A;
	}
	.ftrlink1{
		background-color:#C8B548;
	}
	.ftrlink1:hover{
		background-color:#726F68;
	}
	.ftrlink1 img{
		padding-top:25px;
		padding-bottom:25px;
	}
	.ftrlink2{
		background-color:#85933d;
		font-size:50px;
	}
	.ftrlink2:hover{
		background-color:#414722;
	}
	.ftrlink3{
		padding-top:23px;
		padding-bottom:10px;
	}	
	.ftrlink1,.ftrlink2,.ftrlink3 p{
		text-align:center;
	}
	.btn-link:focus{
		border:none; 
	}
	 .btn-link{
		font-size:18px;
	}
	blockquote{
		border:none;
	}
	blockquote p{
		font-size: medium;
	}
	footer{
		font-size: initial;
	}
	footer .container{
		padding-top:20px;
		padding-bottom:20px;
	}
	.ftrimg{
		height : 80px;
	}
	.jobs:nth-child(odd){
		background-color:#85933d;
	}
	.jobs:nth-child(even){
		background-color:#CF6021;
	}
	.jobs{
		height:250px;
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
		background-color:#CF6021;
	}
	/* media queries */
	@media (min-width: 320px){
		.carousel-inner>.item>img{
			height : 260px;
		} 
		.logo{
			width :100%;
		}
		.logo img{
			max-width : 60%;
			height : 90px;
			float : left;
		}
		.bizname{
			display : none;
		}
		.addrs{
			display : none;
		}
		.ftrlink3 p{
			font-size:19px;
		}
	}
	@media (min-width: 992px){
		.carousel-inner>.item>img{
			height : 450px;
		} 
		.logo, .bizname, .addrs{
			width : 313px;
			display : inline-block;
		}
		.logo img{
			max-width : 75%;
			height : auto;
		}
		.ftrlink3 p{
			font-size:20px;
		}
	}
	@media (min-width: 1200px){
		.carousel-inner>.item>img{
			height : 450px;
		} 
		.logo, .bizname, .addrs{
			width : 380px;
			display : inline-block;
			height: 115px;
			vertical-align: top;
		}
		.logo img{
			max-width : 75%;
			height : auto;
		}
		.ftrlink3 p{
			font-size:20px;
		}
	}