#carousel{
	bottom:20px;
	height:355px;
}
.carousel-control{
	display:none;
}
.img-responsive{
	width:100%
}

.about , .contact , .gallery,.testimonial,.activity , .gallery1{
	> h2{
		color:@lightcolor;
		font-size:30px;
		text-transform:uppercase;
		padding-left: 100px;
		background: linear-gradient(90deg, @colorblack , @colorwhite);
		margin-top: 0px;
			&:hover{
				color:@colorwhite;
			}
		}
	
	&::before{
				position : absolute;
				content: '';
				width: 500px;
				height:200px;
				top: 2px;
				left : 9px;
				background:url(../img/hed_icon1.png) no-repeat;	
			}
			p{
				padding-left: 25px;
				padding-right: 25px;
			}
}
.gallery {
    padding-left: 20px;
    padding-right: 20px;
	.caption{
		h4{
		color:@darkcolor;
		text-transform:uppercase;
			&:hover{
				color:@colorwhite;
			}
		}
	}
}
.contactus{
		>.sections {
				border: 1px solid @darkcolor;
				border-radius: 4px;
				padding: 10px;
			    width: 295px;
		}
}
p{
	strong{
	color:@colorblack;
	font-size:18px;
	}
	em{
		strong{
			color:@colorblack;
		}
	}
}
h3{
	color:@colorblack;
	font-family:Amarnath;
}
center{
		color:@colorblack;
		font-size:18px;
	}
.gallery1{
		> h2{
			color:@lightcolor;
			font-size:30px;
			//padding:2px 4px 2px 4px;
			text-transform:uppercase;
			font-family:Amarnath;
			padding-left: 100px;
		}
}	
.gallery{
		.thumbnail{
				border-color : @darkbackcolor;
				background-color:@back;
					.caption .description{
						overflow: hidden;
						height: 125px;
						color:@colorblack;
					}
				img{
					opacity:1;
					border: 1px solid @lightcolor;
					&:hover{
						opacity:0.8;
						border: 3px solid @colorblack;
					}
				}
			}
		}
			
.contactimg{
    width: 200px;
}
div#googleMap {
    height: 504px;
    padding: -32px;
    width: 938px;
    margin-left: 40px;
}


//testimonials
.testimonial, .featrtesti{
	blockquote{
		font-size : inherit;
		border-left: none;
		footer{
			background:none;
			padding : 0px;
			cite{
				font-size : 17px;
				color : @darkcolor;
			}
		}
		&::before{
			content : '\201c';
			position : absolute;
			display : inline-block;
			top : 5px;
			left : 22px;
			line-height : 40px;
			font-family : Times New Roman,Serif;
			font-size : 55px;
		}
	}
}
.testimonial{
	blockquote{
		padding-left : 35px;
		footer{
			img{
				max-height: 70px;
				width: 70px;
				margin-right : 10px;
			}
		} 
	}
}
.featrtesti{
	blockquote{
		padding : 5px 15px;
	}
	img{
		max-height : 100px;
		padding : 4px;
		border : 3px solid @lightcolor;
		&:hover{
			border : 3px solid @color;
		}
	}
} 
.activity{
	.panel-body{
		border-top:1px solid @darkcolor;
	}
	img{
		opacity:1;
		border : 1px solid @lightcolor;
			&:hover{
				opacity:0.8;
				border : 3px solid @darkcolor;
			}
	}
	.media-heading {
			color: @darkcolor;
			&:hover{
						color: @colorblack;
			}
	}
}

@media (max-width: 320px){
		#carousel{
			height:94px;
		}
		.contact_img{
           width: 75px;
		}
}
@media (min-width: 321px) and(max-width: 768px){
		#carousel{
				height: 130px;
		}
		.contact_img{
				width: 80px;
			}
		contact > h2, .gallery > h2 {
			padding-top: 95px;
		}
		div#googleMap {
			width: 560px;
		}
}	

	
