.about , .contact , .gallery{
	> h2{
		color:@darkcolor;
		font-size:30px;
		padding:2px 4px 2px 4px;
		text-transform:uppercase;
		font-family:Amarnath;
		padding-top: 15px;
	}
	
}
p{
	strong{
	color:@colorblack;
	font-size:18px;
	}
	em{
		strong{
			color:@colorblack;
			}
	}

}
h3{
	color:@colorblack;
	font-family:Amarnath;
}
center{
		color:@lightcolor;
		font-size:18px;
	}
.gallery1{
		> h2{
			color:@darkcolor;
			font-size:30px;
			padding:2px 4px 2px 4px;
			text-transform:uppercase;
			font-family:Amarnath;
			padding-top: 15px;
		}
}	
.gallery{
		.thumbnail{
				border-color : @darkbackcolor;
				background-color:@back;
				.caption .description{
					overflow: hidden;
					height: 125px;
					color:@colorblack;
				}
			}
		}


