@font-face{
	font-family : 'Amaranth';
	src:url('../fonts/Amaranth-Bold.ttf');
}
@color : #1b1b1b;
@lightcolor : #ffc549; // yellow
@darkcolor : #4f3b09; //heading text
@back : #BA8C5F;
@darkbackcolor : #5E4A44;
@lightbackcolor : #E0CDB9; //@lightbackcolor
@colorblack : #000000;
@colorwhite	: #ffffff;
@background_img:url(../img/back2.jpg);
@background_img1:url(../img/body_bg.jpg);
@back1:url(../img/watch.jpg);
@back2:url(../img/car1.png);
@back3:url(../img/car2.png);
@nav_img:url(../img/menu-rgt.jpg);


@import "property.less";
@import "project.less";
@import "product.less";
@import "general.less";

*{
		transition : 300ms;
}
.container{
		max-width : 992px !important;
}
body{
		background-image:@background_img1;
		font-family : Times New Roman,Serif;
	}
.back1{
		background-image:@back1;
		background-repeat:no-repeat;
		background-size:70%;
		height: 500px;
}	
.back2{
		margin: 0px;
		height: 530px;
		background-image:@back2;
		background-repeat:no-repeat;
		background-size:100%;
		background-position:10% 100%;
}
.maincontent{
		width:960px;
}
.well{
    height:200px;
    width: 955px;
    margin-left: 190px;
}
.well1{
    height:500px;
    width: 955px;
    margin-left: 0px;
}
.logo{
	width: 200px;
    height: 150px;
    margin: 0px 0px 1px 0px;
}

@-webkit-keyframes example {
    0%   {transform:rotate(60deg);}
    25%  {transform:rotate(180deg);}
    50%  {transform:rotate(300deg);}
    100% {transform:rotate(360deg);}
}
@keyframes example {
	0%   {transform:rotate(60deg);}
    25%  {transform:rotate(180deg);}
    50%  {transform:rotate(300deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes example1 {
    0%   {transform:translateX(0px);}
	100%   {transform:translateX(40px);}
}
@keyframes example1 {
	0%   {transform:translateX(0px);}
	100%   {transform:translateX(40px);}
}
.log{
	background-image:@background_img;
	background-repeat:no-repeat;
	background-size:100% 100%;
}	

.navbar{
		min-height : 50px;
	}
.navbar-default {
	 background-color: @color;
	.navbar-nav{
				>li{
					float : none;
					position : relative;
					>a{
						color:@colorwhite;
						text-transform:uppercase;
						height: 48px;
						padding: 10px 10px;
						background: @color url(../img/menu-rgt.jpg) right no-repeat;
						&:hover{
							color:@colorwhite;
							background-color:@color;
						}
					}
					&.active>a, &.active>a:hover,&.active>a:focus{
						background-color : transparent;
						color : @colorwhite;
					}
					> ul{
						position:absolute;
						display:none;
						z-index:900;
						width: 250px;
						margin-left: -40px;
						>li{
							padding: 25px 25px 5px; 
							list-style-type:none;
							background-color:rgba(6, 6, 6, 0.7);
							border-bottom: 1px solid @colorwhite;
							a{
								border-left:1px solid transparent;
								border-right:1px solid transparent;
								background-color:transparent;
								color:@colorwhite;
							}
							>ul{
								display:none;
							}
						}
					}
					&::before{
						position : absolute;
						content: '';
						width: 100px;
						height: 30px;
						top: -26px;
						left : -10px;
						opacity : 0;
						background:@back3 no-repeat;	
					}
					&:hover::before{
						opacity : 1;
						-webkit-animation-name: example1; /* Chrome, Safari, Opera */
						-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
						-webkit-animation-delay:0.5s; /* Chrome, Safari, Opera */
						animation-name: example1;
						animation-duration: 1s;
						animation-delay:0.5s;
					}
					&:hover{
						> ul {
							display: block;
						}
					}
				}
			}
		&::before{
				position : absolute;
				content: '';
				width: 500px;
				height:100px;
				top: -34px;
				left : -200px;
				background:url(../img/ft_car.png) no-repeat;	
			}
		/* &::after{
				position : absolute;
				content: '';
				width: 500px;
				height:100px;
				top: -34px;
				right : -500px;
				background:url(../img/hed_icon1.png) no-repeat;	
			}*/
}

.homeAboutus{
		>h1{
			color:@lightcolor;
			background: linear-gradient(90deg, @colorblack , @colorwhite);
			font-size:30px;
			margin-top: 2px;
			padding-left: 100px;
		}
		&::before{
				position : absolute;
				content: '';
				width: 500px;
				height:100px;
				top: 2px;
				left : 9px;
				background:url(../img/hed_icon1.png) no-repeat;	
			}
		>.tagline{
			color:@darkcolor;
			font-family:Times New Roman,Serif;
			font-size:20px;
		}
		>.tagline1{
			color:@colorblack;
			font-size:15px;
			padding: 10px;
		}
		> .description{
			height:110px;
			overflow:hidden;
			font-size:16px;
			padding: 18px;
		}
		> .readmore
		{
		margin-top:15px;
		padding-left:20px;
			> .btn-primary{
				background-color:@colorblack;
					&:hover{
						background-color:@darkcolor;
						color:@colorwhite;
					}
			}
		}
	}
.btn{
	background-color:@colorblack;
}
.enquiry{
	.btn{
		color:@colorwhite;
		background-color:@colorblack;
			&:hover{
			background-color:@darkcolor;
			color:@colorwhite;
			}
	}
}
h2{
	padding:15px;
	color:@darkcolor;
	text-transform:uppercase;
		&:hover{
			color:@colorwhite;
		}
}
.data3{
	bottom: 100px;
	padding:15px;
	height:800px;
}
	h3.subhead {
		color:@colorwhite;
		font-size:20px;
		padding:5px 4px 2px 75px;
		background: linear-gradient(90deg, @colorblack , @color);
		height: 37px;
		width: 295px;
		border-radius:5px;
		margin-top: 10px;

	}
.sidebarModule.enquiry {
    margin-top: -94px;
}
.panel.panel-default {
    width: 295px;
}	
.sidebarModule .panel-default {
    border: 1px solid @darkcolor;
}	

	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	{
		background-color : @darkcolor;
		color : @color;
		border : 1px solid @darkcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:hover{
		background-color : @lightbackcolor;
		border : 1px solid @darkcolor;
		color : @darkcolor;
	}
	footer{
		background : -webkit-linear-gradient(top, @color -565%, @darkcolor);
		background : -moz-linear-gradient(top, @color -565%, @darkcolor);
		background : linear-gradient(top, @color -565%, @darkcolor);
		color : @colorblack;
		padding : 20px;
		p{
			margin : 0;
		}
		a, a:hover{
			color : @color;
		}
	}	
	
	.btn-link{
		color : @darkcolor;
		padding-left : 0px;
		font: 17px 'Cinzel-Regular', cursive;
		&:hover{
			color : @darkcolor;
		}
	}
	.btn-info, .btn-primary{
			background-color : @colorblack;
			color : @colorwhite;
			&, &:focus, &:active, &[disabled]{
				background-color : @colorblack;
				color : @colorwhite;
				border : 2px solid transparent;
				border-radius : 0px;
			}
			&:hover{
				color : @colorwhite;
				background-color : @darkcolor;
				border : 2px solid @darkcolor;
			}
	}
	
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}	
	
	.sociallinks{
		ul{
			margin-top:50px;
			float:right;
			li{
				display:inline-block;
				padding: 4px 0px 4px 10px;
				text-align : right;
				a
				{
				    display: block;
					padding: 0px 3px;
					width: 45px;
					height: 45px;
					div
					{
						border-radius: 50% !important;
					}
				}
				
			}
		}
	}
			.img3{
					width : 38px;
					height:40px;
					display:inline-block;
				}
				#img1{
					background:url('../img/sprite.png') 2px 4px;
					&:hover{
					background:url('../img/sprite.png') 2px -37px;
					}
				
				}
				#img2{
					background:url("../img/sprite.png") -36px 4px ;
					&:hover{
					background:url('../img/sprite.png') -36px -37px;
					}
				}
				#img3{
					background:url("../img/sprite.png") -74px 4px ;
					&:hover{
					background:url('../img/sprite.png') -74px -37px;
					}
				}
				#img4{
					background:url("../img/sprite.png") -149px 4px;
					&:hover{
					background:url('../img/sprite.png') -149px -37px;
					}
				}
	
@media (max-width: 320px){
	.logo{
		width: 100px;
		height: 80px;
	}	
	.sidebarModule.contactus {
		height: 500px;
		padding-top: 28px;
	}
	.back2{
		background-position: 10% 60%;
	}
}
@media (min-width: 321px) and(max-width: 768px){
	.logo{
			width: 140px;
			height: 100px;
		}	
	.sidebarModule.contactus {
			height: 500px;
			padding-top: 28px;
		}
	.back2{
			background-position: 10% 60%;
		}
	.panel.panel-default {
		width:352px;
	}
	.contactus > .sections {
		border: 1px solid #4f3b09;
		border-radius: 4px;
		padding: 10px;
		width: 352px;
	}
	h3.subhead {
		color: #ffffff;
		font-size: 20px;
		padding: 5px 4px 2px 75px;
		background: linear-gradient(90deg, #000000, #1b1b1b);
		height: 37px;
		width: 352px;
		border-radius: 5px;
		margin-top: 2px;
	}

}