.bxslider {
  padding: 5px;
}
.bxslider li {
  height: 325px;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid transparent;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .btn-info {
  margin-bottom: 10px;
}
.bxslider li .btn-info:hover {
  padding: 6px 40px;
}
.bxslider li p {
  margin-bottom: 5px;
}
.homeproject {
  position: relative;
}
.homeproject .projectCarousal {
  position: relative;
  z-index: 99;
  width: 500px;
  margin: 0 auto;
  float: none;
  z-index: 1;
  box-shadow: 0 0 15px;
  border-radius: 50%;
  overflow: hidden;
}
.homeproject .projectCarousal .bx-viewport {
  height: 500px;
  min-height: 300px !important;
}
.homeproject .projectCarousal .bx-viewport .carousslider {
  min-height: 300px;
}
.homeproject .projectCarousal .bx-viewport .carousslider li {
  left: 0;
  min-height: 300px;
  min-width: 100% !important;
}
.homeproject .projectCarousal .bx-viewport img {
  height: 500px;
}
.homeproject .projectnav,
.homeproject .projsnap {
  position: absolute;
  height: 320px;
  width: 300px;
  top: 100px;
  box-sizing: border-box;
}
.homeproject .projectnav {
  padding: 5px;
  left: 10;
  left: 0;
}
.homeproject .projectnav .nav-stacked > li + li {
  margin-top: 10px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus {
  padding: 10px 15px;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus {
  text-decoration: none;
  transform: translateX(-50px);
  width: 330px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: right;
  padding-right: 50px;
}
.homeproject .projsnap {
  right: 16px;
  padding-left: 60px !important;
  padding-top: 7px !important;
  padding-right: 10px !important;
  text-align: center;
}
.homeproject .projsnap h4 {
  border: none;
}
.homeproject .projsnap ul li {
  font-size: 13px;
  padding: 10px 15px;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
}
.homeproject .projsnap p {
  padding: 3px;
}
.homeproject .projsnap p:last-child {
  border: none;
}
.homeproject .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty a {
  text-decoration: underline;
}
.homeproject .projsnap .viewproperty a:hover {
  text-decoration: none;
}
.homeproject #carousel .carousel-inner .item {
  height: 500px;
  overflow: hidden;
}
.homeproject #carousel .carousel-inner .item > img {
  width: auto;
  min-height: 500px;
  border-radius: 50%;
}
.homeproject #carousel a.left.carousel-control {
  left: 40px;
}
.homeproject #carousel a.right.carousel-control {
  right: 40px;
}
.homeproject #carousel a.left.carousel-control,
.homeproject #carousel a.right.carousel-control {
  background: none;
}
.project .navbar {
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: auto;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 8px;
  position: relative;
  font-size: 13px;
}
.project .projHead,
.project .projImg {
  margin-top: 10px;
}
.project .projImg {
  max-height: 175px;
  margin-right: 10px;
  float: left;
}
.project .projectgallery .thumbnail.floor {
  height: 275px;
}
.project .projectgallery .thumbnail .projectImags {
  width: 205px;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
}
.project .projectgallery .thumbnail .projectImags img {
  min-height: 170px;
}
.projlist .project .thumbnail {
  height: 385px;
}
.projlist .project .thumbnail .projectimg {
  width: 205px;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
}
.projlist .project .thumbnail .projectimg img {
  min-height: 170px;
  border: 2px solid transparent;
  padding: 4px;
}
.projlist .project .thumbnail .caption {
  padding: 9px 5px;
  height: 120px;
}
.projlist .project .thumbnail .caption p {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .homeproject .projectCarousal {
    position: static;
    width: auto;
    height: 300px;
    margin: 0 ;
    border-radius: 0px;
    margin-bottom: 5px;
  }
  .homeproject .projectCarousal::after {
    position: absolute;
    content: "";
    background-image: url('../img/lady.png');
    background-size: 100% 100%;
    bottom: -3px;
    z-index: 999;
    height: 290px;
    width: 120px;
    left: 17px;
  }
  .homeproject .projsnap {
    padding-left: 0px !important;
  }
  .homeproject .projectnav .nav-stacked > li {
    text-align: center;
  }
  .homeproject .projectnav .nav-stacked > li.active > a,
  .homeproject .projectnav .nav-stacked > li.active:hover > a,
  .homeproject .projectnav .nav-stacked > li.active > a:focus,
  .homeproject .projectnav .nav-stacked > li:hover > a,
  .homeproject .projectnav .nav-stacked > li:hover > a:focus,
  .homeproject .projectnav .nav-stacked > li > a:hover,
  .homeproject .projectnav .nav-stacked > li > a:focus {
    transform: translateX(0px);
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    padding-right: 50px;
  }
  .homeproject .projectnav,
  .homeproject .projsnap {
    position: static;
    width: auto;
  }
}
@media (max-width: 540px) {
  .projectCarousal::after {
    display: none;
    width: 0px;
  }
  .project .navbar {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .project .projImg {
    float: none;
  }
}
