.RootDiv {
	width: 100%;
	margin: 0px auto;
}
#header {
	text-align: left;
	margin-bottom: 10px;
	border-radius: 10px 10px 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BB5900;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;

}
#Logo {
	float: left;
	position: relative;
	display: block;
	width: 194px;
	padding: 4px 4px 0px 4px;
}
#TopMenu {
	float: left;
	position: fixed;
	display: block;
	height: 620px;
	z-index: 999999;
	width: 50px;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	left: 0px;
	top: 0px;
	clear: left;
}
#TopMenu ul {
	display: block;
	list-style-type: none;
	margin: 0px;
	position: relative;
	height: 520px;
	width: 50px;
	padding-top: 120px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#TopMenu ul li {
	display: block;
	position: relative;
	margin-left: 0px;
	height: auto;
	margin-top: 10px;
}
#TopMenu ul li a {
	display: block;
	-webkit-transition: left 400ms ease-in;
	-moz-transition: left 400ms ease-in;
	-ms-transition: left 400ms ease-in;
	-o-transition: left 400ms ease-in;
	transition: left 400ms ease-in;
	position: relative;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 30px;
	background-image: url(../images/shivbaba-logo-white.png);
	background-repeat: no-repeat;
	background-position: 120px center;
	width: 70px;
	background-color: #BB5900;
	color: #FFF;
	left: -110px;
	border-radius: 0px 10px 10px 0px;
}
#TopMenu ul li a:hover {
	-webkit-transition: left 200ms ease-in;
	-moz-transition: left 200ms ease-in;
	-ms-transition: left 200ms ease-in;
	-o-transition: left 200ms ease-in;
	transition: left 200ms ease-in;
	position: relative;
	left: 0px;
}
#slider, .componant {
	float: left;
	width: 70%;

}
#slider, .news-flash marquee {
	height: 250px;
}
.news-flash {
	margin-right: 1%;
	position: relative;
}
.right-sidebar, .news-flash {
	float: right;
	width: 25%;
	margin-left: 1.5%;
	clear: right;
}
.news-flash marquee {
	margin-right: 1%;
	height: 220px;
	display: block;
}
.news-flash marquee, .right-sidebar .moduletable {
	padding: 4%;
	border: 1px solid #999;
	border-radius: 5px;
	background-color: #FFF7CE;
	margin-bottom: 10px;
}

.content {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	min-height: 200px;
}
.footer {
	clear: both;
	color: #CCC;
	background-color: #BB5900;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	position: fixed;
	z-index: 9999;
	bottom: 0px;
	width: 100%;
}
.footer-content {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.footer-right {
	float: right;
	width: 25%;
}
.clear {
	clear: both;
	height: 0px;
}
.page-wraper {
	background-color: #FFF;
	padding: 0px;
	width: 90%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 60px;
	margin-left: auto;
	border: 1px solid #BB5900;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #999;
}
.footer a {
	color: #FFC;
	font-weight: bold;
}
.footer a:hover {
	color: #FFFFFF;
}
#header img {
	height: auto;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 10px 10px 0px 0px;
}
#slider ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#slider ul li {
	text-indent: 0;
	margin: 0px;
	padding: 0px;
}
#slider {
	margin-left: 2%;
}
.content .right-sidebar .category-module {
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: disc;
	text-indent: 0;
	display: block;
	margin-left: 20px;
}
.content .right-sidebar .category-module li {
	display: block;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.content .right-sidebar .category-module li ul {
	padding: 0px;
	margin-left: 20px;
	list-style-type: circle;
}
.content .right-sidebar .category-module li ul li {
	list-style-type: circle;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}
.news-flash marquee h3 {
	display: block;
	position: absolute;
	z-index: 999;
	left: 2px;
	top: 2px;
	background-color: #FFF7CE;
	width: 90%;
	margin: 0px;
	padding-top: 5%;
	padding-right: 3%;
	padding-bottom: 5%;
	padding-left: 3%;
}
