@charset "utf-8";
/* CSS Document */
div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;	
}
.property_img a img {
	height: auto;
	width: 70%;
	padding: 10px;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.property_img a {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.featured_property {
	width: 96%;
	border: 2px solid #A4FE6D;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	min-width: 200px;
	max-width: 936px;
	font-family: "Century Gothic";

}
.featured_property h2 {
	font-family: "Century Gothic";
	font-size: 18px;
	color: #090;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #D2FFB7;
	padding-top: 5px;
	padding-right: 10px;
	display: block;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: auto;
}
.proj_detail table {
	background-color: #E7FFCE;
	width: 100%;
	border: 1px solid #999;
	margin: 0px;
	max-width: 746px;
	min-width: 140px;
	position: relative;
}
.property_img {
	width: 20%;
	height: 200px;
	float: left;
	text-align: center;
	display: block;
}
.proj_detail table tr td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.proj_detail table tr td a {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
}
.proj_detail table tr th {
	text-align: left;
	border-right-style: none;
	border-bottom-style: dotted;
	border-right-color: #999;
	border-bottom-color: #999;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-left-style: none;
}
.proj_detail {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 78%;
}
.clear {
	clear: both;
}
