	@font-face{
		font-family : 'Italianno-Regular-OTF';
		src : url('../fonts/Italianno-Regular-OTF.otf');
	}
	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	*{
		transition : 300ms;
	}
	body{
		background-image : url('../img/bg.jpg');
		color : #fff;
	}
	.header {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.header .logo {
		padding-top: 20px;
		text-align: center;
		margin-right: 50px;
	}
	
	h1,h2, h3, h4, h5,h6{
		font-family : 'Amaranth-Regular';
		color  : #ffffff;
		text-transform : capitalize;
	}
	h1{
		text-align : center;
	}
	.navbar-default {
		background:none;
		margin-top: 20px;
		border : none;
	}
	.navbar-default .navbar-nav > li {
	  padding: 0px 2px;
	}
	.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
		color: #ffffff;
		background: none;
		font-size : 16px;
		font-weight : bold;
		font-family : 'Amaranth-Regular';
	}
	.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active:hover > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:hover > a:focus, .navbar-default .navbar-nav > li:hover > a:hover {
		background-color: transparent;
		color : #3994F3;
		border-bottom : 2px solid #3994F3;
	}
	.navbar-default .navbar-nav > li > ul {
		display: none;
		position: absolute;
		z-index: 999;
		background-color: #cf6021;
		padding: 15px;
		list-style: none;
		text-align: left;
		top: 44px;
		border-radius: 7px;
		transition: all 500ms ease-in-out;
		box-shadow: 0px 1px 0px #000000;
	}
	.navbar-default .navbar-nav > li > ul > li {
	  padding: 7px;
	  position: relative;
	  width: 190px;
	}
	.navbar-default .navbar-nav > li > ul > li > a {
	  color: #fff;
	}
	.navbar-default .navbar-nav > li > ul > li > a:hover {
	  text-decoration: underline;
	}
	.navbar-default .navbar-nav > li > ul > li > ul {
	  display: none;
	  position: absolute;
	  width: 190px;
	  z-index: 999;
	  background-color: #cf6021;
	  padding: 15px;
	  list-style: none;
	  text-align: left;
	  top: -14px;
	  left: 165px;
	  border-radius: 7px;
	  transition: all 500ms ease-in-out;
	  box-shadow: -1px 1px 5px #000000;
	}
	.navbar-default .navbar-nav > li > ul > li > ul > li {
	  padding: 7px;
	}
	.navbar-default .navbar-nav > li > ul > li > ul > li > a {
	  color: #fff;
	}
	.navbar-default .navbar-nav > li > ul > li > ul > li > a:hover {
	  text-decoration: underline;
	}
	.navbar-default .navbar-nav > li > ul > li:hover > ul {
	  display: block;
	}
	.navbar-default .navbar-nav > li:hover > ul {
	  display: block;
	}
	#carousel .item {
		height: 420px;
		overflow: hidden;
		border-bottom-left-radius: 25%;
		border-bottom-right-radius: 25%;
		border : 5px solid #fff;
	}
	#carousel .item img {
		width: 100%;
		min-height : 420px;
	} 
	.carousel-caption{
		bottom:-28px;
	}
	.carousel-caption p{
		text-align :center;
	}
	.carousel-control.right, .carousel-control.left{
		background : none;
	}
	.caros{
		margin-bottom : 20px;
	}
	a, .btn-link{
		color : #3994F3;
	}
	a:hover, .btn-link:hover{
		color : #fff;
		text-decoration : underline;
	}
	.btn-link{
		padding-left : 0px;
		font-size:18px;
	}
	.btn-link:focus{
		border:none; 
	}
	.sidebar{
		padding-top : 70px;
	}
	.featureimg *{
		box-sizing : border-box;
	}
	.featureimg{
		width : 260px;
		height : 260px;
		border-radius : 100%;
		overflow : hidden;
		margin : 0 auto;
		border : 5px solid #fff;
		position : relative;
	}
	.featureimg img{
		min-height : 260px;
		/* transition: all 0.2s linear; */
	}
	.featuredisc{
		opacity: 0;
		background-color: rgba(219,127,8, 0.7);
		transition: all 0.4s ease-in-out;
		position : absolute;
		width : 100%;
		height : 100%;
		overflow : hidden;
		padding : 20px;
		border-radius : inherit;
		top : 0;
		left : 0;
	}
	.featuredisc h4{
		transform: translateY(-100px);
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}
	.featuredisc .caption{
		transform: translateY(100px);
		opacity: 0;
		transition: all 0.2s linear;
	}
	.featuredisc a.read{
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}
	.featureimg:hover{
		z-index : 0;
		overflow : hidden;
	}
	.featureimg:hover .featuredisc{
		opacity: 1;
	}
	.featureimg:hover .featuredisc h4{
		opacity: 1;
		transform: translateY(0px);
	}
	.featureimg:hover .featuredisc .caption{
		transition-delay: 0.1s;
		opacity: 1;
		transform: translateY(0px);
	}
	.featureimg:hover .featuredisc a.read{
		transition-delay: 0.2s;
		opacity: 1;
		transform: translateY(0px);
	}
	.contactus{
		border : 1px solid #A0C8F3;
		padding : 0px 20px 20px;
		border-radius :5px;
	}
	.contactus hr{
		margin-top :0px;
		margin-bottom : 10px;
		border-color : #A0C8F3;
	}
	.sociallinks {
	  margin-top: 275px;
	  position: fixed;
	  z-index: 999;
	}
	.sociallinks ul {
	  list-style: none;
	}
	.sociallinks ul li {
	  transform: translateX(-123px);
	  padding: 4px 4px 4px 10px;
	  background-color: #CF6021;
	  margin: 5px;
	  border-top-right-radius: 30px;
	  border-bottom-right-radius: 30px;
	  text-align: right;
	}
	.sociallinks ul li a {
	  color: #ffffff;
	}
	.sociallinks ul li a:hover {
	  color: #ffffff;
	  text-decoration: underline;
	}
	.sociallinks ul li img {
	  width: 35px;
	  margin-left: 10px;
	  border: 2px solid #ffffff;
	}
	.sociallinks ul li span {
	  height: 20px;
	  width: 20px;
	  margin-right: 6px;
	}
	.sociallinks ul li:hover {
	  transform: translateX(-45px);
	}
	#googleMap{
		height:350px;
	}
	.profile{
		max-height : 200px;
	}
	.content .tagline1{
		margin-bottom : 10px;
	}
	.navbar-toggle .icon-bar {
		background-color: #888;
	} 
	.infrastructure .thumbnail, .prod .thumbnail{
		height: 435px;
	}
	.gallery .thumbnail{
		height :345px;
	}/* 
	.singleprod .thumbnail{
		height :270px;
	} */
	.testimonial blockquote{
		font-size : inherit;
		border-left: none; 
		padding-left : 15px;
	}
	.testimonial blockquote footer{
		background:none;
		padding : 0px;
		border : none;
	}
	.testimonial blockquote footer img{
		max-height: 70px;
		width: 70px;
		margin-right : 10px;
	}
	.testimonial blockquote footer cite{
		font-size : 17px;
		color : @color;
	}
	.testimonial blockquote::before{
		content : '\201c';
		position : absolute;
		display : inline-block;
		top : 5px;
		left : 0;
		line-height : 40px;
		font-family : Times New Roman,Serif;
		font-size : 55px;
	}
	.infrastructure .thumbnail.caption, .prod .thumbnail.caption{
		height : 120px;
	}
	.infrastructure .thumbnail img, .prod .thumbnail img, .prod .carousel-inner>.item>img{
		height : 260px;
	}
	.btn-info, .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info{
		color : #CF6021;
		background : none;
		border : none;
	}
	blockquote{
		border:none;
	}
	blockquote p{
		font-size: medium;
	}
	.subftr{
		margin-top : 15px;
		font-size : initial;
	}
	.ftrimg{
		height :120px;
	}
	footer{
		margin-top :15px;
		padding: 15px;
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
		background-color:#CF6021;
	}
	.infrastructure .thumbnail{
		height: 395px;
	}
			
	.infrastructure .thumbnail img{
		height : 190px;
	}
	.infrastructure .thumbnail .caption{
		height: 138px;
	}
	.products .thumbnail .prodimg{
		height : 250px;
		overflow : hidden;
	}
	.products .thumbnail .prodimg img{
		min-height : 250px;
		max-width : 95%;
		border : 2px solid transparent;
		padding : 4px;
	}
	.products .thumbnail .prodimg img:hover{
		border : 2px solid @back;
	}
	.products .thumbnail .caption{
		height: 190px;
	}
	.products .thumbnail .caption .description{
		height : 125px;
		overflow :hidden;
	}
	.singleproduct .thumbnail img{
			width : 100%;
	}
	.contactimg{
		max-height: 120px;
	}
	.send, .send:hover{
		background-color : #CF6021;
		color : #fff;
	}
	/*gallery*/
	.gallery .thumbnail .caption{
		height: 190px;
	}
	.gallery .thumbnail .caption .description{
		height : 75px;
		overflow : hidden;
	}
	/* media queries */
	@media (min-width: 320px){
		
		.navbar{
			min-height: 0px;
		}
		.logo{
			width :62%;
			float :left;
			height: 135px;
		}
		.logo img{
			max-width : 73%;
			height : 90px;
			/* float : left; */
		}
		.bizname, .addrs{
			display : none;
		}
		.ftrlink3 p{
			font-size:19px;
		}
		.products{
			.thumbnail{
				height: 465px;
				img{
					height : 240px;
				}
				.caption{
					height: 138px;
				}
			}
		}
	}
	@media (min-width: 992px){
		
		.navbar{
			min-height: 50px;
		}
		.logo, .bizname, .addrs{
			display : inline-block;
		}
		.logo{
			width : 225px;
			height: 175px;
		}
		.bizname{
			width : 390px;
		}
		.addrs{
			width : 265px; 
		}
		.logo img{
			max-width : 75%;
			height : auto;
		}
		.ftrlink3 p{
			font-size:18px;
		}
		.products{
			.thumbnail{
				height: 450px;
				img{
					height : 260px;
				}
				.caption{
					height: 138px;
				}
			}
		}
	}
	@media (min-width: 1200px){
		
		.navbar{
			min-height: 50px;
		}
		.logo, .bizname, .addrs{
			display : inline-block;
		}
		.logo{
			width: 225px;
			height: 100px;
		}
		.bizname{
			width: 490px;
		}
		.addrs{
			width : 365px;
		}
		.logo img{
			max-width: 100%;
			max-height: 70px;
		}
		.ftrlink3 p{
			font-size:20px;
		}
		.products{
			.thumbnail{
				height: 465px;
				img{
					height : 260px;
				}
				.caption{
					height: 138px;
				}
			}
		}
		/* .singleproduct{
			.thumbnail{
				height: 192px;
			}
		}.singleproduct{
			.thumbnail{
				height: 192px;
			}
		} */
	}

	

	.content{
		padding: 0px 20px 30px;
	}

	.navbar-default .navbar-nav >.child-menu a :: after{
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 100%;
		display: block;
		padding-top: 15px;
		border-top-color: rgb(236, 236, 236);
	}
	.mailSentMsg{
		clear : both;
	}
	.header .bizname .tagline{
		color: #EF9306;
		font-size: 20px;
		border-bottom: 1px solid #EF9306;
		border-top: 1px solid #EF9306;
	
		margin: 5px 0;
		padding: 5px 10px;
	}
	.header .bizname .tagline1{
		color: #0A4B6C;
		font-size: 18px;
		font-weight:bold;
		margin: 0px;
		padding: 0 10px;
	}
	.subftr h4 {
    color: #C0C0C0;
}

.subftr p, .subftr address {
    color: #999;
    margin-bottom: 5px;
}

footer.container p, footer.container a {
    color: #ccc;
}