.services{

	.servdesc{
			padding:30px;
			
			.description{
					
					height:100px;
					overflow:hidden;
				
			}
			h4{
					margin-top:-18px;
			}
			.readmore{
						a{
								border:1px solid @colorblack;
								background-color:transparent;
								&:hover{
										background-color:@darkcolor;
										color:@colorwhite;
										border:1px solid transparent;
										}
							}
					}
				}
	}

		