.services{
			.servdesc{
			
					.readmore{
					
					a{
							border:1px solid @colorblack;
							background-color:transparent;
							&:hover{
									background-color:@darkcolor;
									color:@colorwhite;
									border:1px solid transparent;
							}
					}
					
					}
			}
}
