@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

//text color shade
	 @color:#228B22; // #C4DE9B green
	 @lightcolor : #d3eaa2; //sky green
	 @darkcolor : #EF321F; //red

	@back : #6B8E23; // green color
	@darkbackcolor : #3a322f;   //dark cof color
	@lightbackcolor :#196619;   //faint pink color
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	header{
			background-image:url('../img/bg1.png');
			height:300px;
			.logo{
					height:100px;
					width:100px;
					margin-top:18%;
			}
			h1{
			margin-top:-15px;
			}
	}

	h1,h2,h3{
	color:@colorblack;
	text-align:center;
	}
	container-fluid {
    padding-right: -15px;
    padding-left: -15px;
    margin-right: auto;
    margin-left: auto;
	}
	.navbar-default {
		background-image:url('../img/bg1.png');
		opacity:0.9;
		margin-bottom:-1px;
		border:none;
		border-top:1px solid @colorwhite;
		
		.navbar-nav{
			> li{
					padding:-5px;
				float:none;
				margin-bottom:0px;
				position : relative;
				> a {
					color : @colorwhite;
					font : bold 15px/1em Arial, Helvetica, sans-serif;
					position : relative;
					text-transform : uppercase;
					padding:35px;
					padding-right:10px;
					
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background:none;
					color : @lightcolor;
					//border-top:2px solid @colorwhite;
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color:  @darkcolor;
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
							}
						}
						&:hover{
						background-color:@darkcolor;
							-webkit-transition: all 0.4s;
						}
						ul{
							display:none;
							//background : linear-gradient(@back, @color);
							background-color: @colorwhite;
							list-style: none;
							display : none;
							color:@darkcolor;
							position : absolute;
							left: 150px;
							width: 180px;
							padding : 2px;
							li{
								padding : 10px;
								a{
									color : @darkcolor;
								}
								&:hover{
									a{
										color : @colorwhite;
									}
									background-color:@lightbackcolor;
									
								}
							}
						}
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	 .homeAboutus{
					
					text-align:center;
					background-color:@darkbackcolor;
					margin-top:-20px;
					
					h1{
								padding:60px;
					}
					.tagline{
					color:@colorwhite;
					}
					.tagline1{
					color:@colorwhite;
					}
	 }
	 
	 .row{
		margin:0px;
	 }
	
	.btn-info{
	
	border:1px solid @colorblack;
	color:@colorblack;
	background-color:transparent;
				&:hover{
				color:@colorwhite;
				background-color:@darkcolor;
				}
	}
.bg1{
		height:400px;
		width:100%;
		background-image:url('../img/bg3.jpg');
		background-size:100% 100%;
}
footer{
			background-image:url('../img/bg1.png');
			height:100px;
			p{
					padding-top:4%;
			}
			a{
					color:@colorblack;
			}
}
.panel-default{
				color:@colorwhite;
				background-color:transparent;
				border:none;
				width:386px;
}

.about{
			p{
				text-align:justified;
			}
}