<div class="row main-content">	 	
	<div class="col-md-12 border-bottom">
		<div class="row"> 
			<div class="col-md-6" ng-include="'modules/component/breadcrumb.html'"></div>
			<div class="col-md-6" ng-include="'modules/component/menu-back.html'"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3" ng-include="'modules/enquiries/sidebar.html'">
		</div>
		<div class="col-md-9">
			<div class="bottomspace" ng-include="'modules/enquiries/toolbars.html'"></div>
						<!-- This is conditional include 
							if not mailId set in url this html includes in view -->
						<ng-include ng-if="!MailView" src="'modules/enquiries/mails.html'"></ng-include> 
						<!-- if mailId set in url this html includes in view -->
						<ng-include ng-if="MailView" src="'modules/enquiries/mailview.html'"></ng-include>
					
		</div>
	</div>
</div>


