<div class="table-responsive">
	<table class="table table-bordered">
		<thead> 
			<th></th>
			<th>Sr.No.</th>
			<th>Subject</th>
			<th>From</th>
			<th>Date</th>
			
		</thead>
		<tbody>
			<tr ng-repeat="mail in mailList | filter : {status : status}">
				<td></td>
				<td>{{$index + 1}}</td>
					<!--<a href="#/dashboard/enquiry/mailview">Interviews for Freshers in Syntel </a>  inside {{}} we can add dynamic value of mail's id -->
				
				<td>{{mail.subject}}</td>
				<td>{{mail.from_email}}</td>
				<td>{{mail.date}}</td>
			</tr>
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="mailListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></pagination>Total Records:{{totalRecords}}			
	<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>