<div class="table-responsive">
	<table class="table table-bordered">
		<thead> 
			<th></th>
			<th>Sr.No.</th>
			<th>Subject</th>
			<th>From</th>
			<th>Date</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr ng-repeat="x in mailList">
				<td></td>
				<td>{{$index + 1}}</td>
					<!--<a href="#/dashboard/enquiry/mailview">Interviews for Freshers in Syntel </a>  inside {{}} we can add dynamic value of mail's id -->
				
				<td>{{x.subject}}</td>
				<td>{{x.from_email}}</td>
				<td>{{x.date}}</td>
				<td>Read</td>
			</tr>
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="mails.mailListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></pagination>				
	<pre>Page: {{mailListCurrentPage}} / {{numPages}}</pre>
</div>