{% autoescape false %}
	{% if featured_products | length >= 2 %}
	<div class="contentModule">
		<h3 class="subhead">Featured Products</h3>
		<div class="sections clearfix services">
			<div class="row animation">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_products if break == 0 %}
				{% if x.type == 'product' %}
				<div class="col-sm-4 col-lg-4  col-md-4 col-xs-12 ">
					<div class="prodimage">
					<div class="row">
						<div class="col-sm-5 col-xs-3">
						<a href="#">
							<img class="img-responsive center-block img-circle" src="{{x.product_image.0.file_relative_path}}" alt="...">
						</a>
						</div>
						<div class="col-sm-7 col-xs-4 proddesc">
							<h4>{{x.product_service_name}}</h4>
							<div class="description text-justify">{{ x.description|length > 75 ?x.description|slice(start, 75) : x.description }}</div>
							<div class="readmore text-center">
								<a href="products/{{x.product_service_name}}/{{x.id}}" class="btn btn-info">Read More</a>
							</div>
						</div>
					</div>
					</div>
				</div>	
				
				{% set i = (i + 1) %}
				{% if i == 4 %}
					{% set break = 1 %}
				{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
	{% endif %}
{% endautoescape %}