<div class="row main-content">
	<form class="form-horizontal text-center form-content" name="myForm">
		<h3>Login</h3>
			<div class="form-group">
				<div class="col-md-12">
					<a href="#"><span class="glyphicon glyphicon-user dropimage1 borderimg"></span></a>
				</div>	
			</div>											
			<div class="form-group">
				<div class="col-sm-12">
					<input type="Email" class="form-control" id="inputEmail3" placeholder="Email" name="u_mail" ng-model="u_name" required>
						<span style="color:red" ng-show="myForm.u_mail.$dirty && myForm.u_mail.$invalid">
						<span ng-show="myForm.u_mail.$error.required">Email is required.</span>
						<span ng-show="myForm.u_mail.$error.email">Invalid Email address.</span>
						</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="password" class="form-control" id="inputPassword3" name="pass" ng-model="pass" placeholder="Password" required>
						<span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
							<span ng-show="myForm.pass.$error.required">Password is required.</span>
						</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox">Remember me
						</label>
					</div>
						<a href="#/users/register">Register here</a> | 
						<a href="#forgotpass">Forgot Password</a>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<a type="submit" class="btn btn-default" name="btn1" ng-model="login.btn1" 
					href="#dashboard" title="login">Login</a>
				</div>
			</div>
	</form>
</div>
