{% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/style.css">
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/bootstrap.min.js"></script>
		<script src="{{ path }}js/jquery.bxslider.min.js"></script>
		<link rel="stylesheet" type="text/css"  href="{{ path }}css/jquery.bxslider.css"/>
		<script src="{{ path }}js/angular.min.js"></script>
		<script src="{{ path }}js/angular-route.min.js"></script>
		<script src="{{ path }}js/script.js"></script>
		<script src="{{ path }}js/myscript.js"></script>
		<title>{{seo.title}} | {{data.business_name}}</title>
		<meta name="description" content="{{ seo.description }}">
		<meta name="keywords" content="{{ seo.keywords }}">
		
	</head>
	<body>
	<header class="log">
		<div class="container " >
			<div class="row">
				<div class="col-md-8 col-xs-12"> 
					{% if data.website_config.website_logo %}
						<img class="logo" src="{{data.website_config.website_logo.file_relative_path}}" alt="{{data.business_name}}">
					{% else %}
						<img class="logo" src="{{data.business_logo.file_relative_path}}" alt="{{data.business_name}}">
					{% endif %}
				</div>
				 <div class="col-md-4 col-xs-12 social_link">
					{% include [templatePath ~ '/includes/sociallinks.html', 'default/default/includes/sociallinks.html'] %}
				</div>
			</div>
			{%if modules.headerModule.carousal %}
				{% include [templatePath ~ '/includes/carousal.html', 'default/default/includes/carousal.html'] with {sliderData : data.template_params.slider} %}
			{%endif%}
			<nav class="navbar navbar-default ">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav nav-justified">
							{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}
						</ul>
					</div><!-- /.navbar-collapse -->
			</nav>
		</div>	
	</header>
		<div class="container">
			<div class="content" >
				<div class="row rowcontent">
					<div class="{{modules.sidebarModule.contact ? 'col-xs-12 col-md-8' : 'col-xs-12 col-md-12'}}">
						{% include contentPath%}
					</div> 
				
					{%if modules.sidebarModule.contact %}
					<div class="col-xs-12 col-sm-12 col-md-4 ">
					{% include [templatePath ~ '/includes/contact.html', 'default/default/includes/contact.html'] %}
					</div>
					{%endif%}
					
					{#{%if modules.sidebarModule.sidemenu %}
					<div class="col-xs-12 col-sm-12 col-md-4 ">
					{% include [templatePath ~ '/includes/sidemenu.html', 'default/default/includes/sidemenu.html'] %}
					</div>
					{%endif%}#}
					
				</div>
				{%if modules.contentModule.featured_services %}
				<div class="row rowcontent">
					{%if modules.sidebarModule.enquiry %}
					<div class="col-md-8">
					{% include [templatePath ~ '/includes/featured_services.html', 'default/default/includes/featured_services.html'] %}
					</div>
					{%endif%}

					{%if modules.sidebarModule.enquiry %}
					<div class="col-md-4 col-xs-12 col-sm-12 ">
					{% include [templatePath ~ '/includes/enquiry.html', 'default/default/includes/enquiry.html'] with {enquiry : { user_id : data.user_id, owner_email : data.owner_email}}%}
					</div>
					{%endif%}
					
				</div>
				{%endif%}
			</div>
		{% include [templatePath ~ '/includes/footer.html', 'default/default/includes/footer.html'] %}
		</div>
	</body>
</html>
{% endspaceless %}