<div class="modal-header" ng-init="modalOptions.getAccountConfig();modalOptions.getParty(modalOptions);">
	<button type="button" class="close" ng-click="modalOptions.close()">
	<span aria-hidden="true">&times;</span>
	</button>
	<h3 ng-if="!modalOptions.addBill.id">Add Purchase Bill</h3>
	<h3 ng-if="modalOptions.addBill.id">Update Purchase Bill</h3>
</div>
<div class="modal-body">
	<form name="generalForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit=	"generalForm.$valid" id="generalForm">
	
		<div class=" col-sm-offset-2 col-sm-6">
		<div ng-init="modalOptions.getData(false,false,'party', 'partyList',params,modalOptions)">
		<!-- 	<label for="party_id" class="col-sm-2 control-label">Select Vendor *</label> -->
			<div class="form-group">
				<select class="form-control" name="party_id" id="party_id" ng-model="modalOptions.addBill.party_id" ng-options="item.id as item.name for item in modalOptions.partyList | filter :{type :'vendor'}" required>
					<option value="">Select Vendor</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>	
			</div>
		</div>
		<!-- <label  for="bill_date" class="col-sm-2 control-label">Bill Date *</label> -->
			<div class="form-group">
				<input type="text" class="form-control " placeholder=" Bill Date" id="bill_date" name="bill_date" ng-model="modalOptions.addBill.bill_date" 	
			 datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.addBill.bill_date = modalOptions.date"  ng-required="true" close-text="Close" ng-click="opened = !opened"/>
			</div>
			<input type="hidden" class="form-control " id="bill_date" name="bill_date" ng-model="modalOptions.addBill.modified_date" ng-init="modalOptions.addBill.modified_date = modalOptions.date"/>
			
			<!-- <label  for="remark" class="col-sm-2 control-label">Remark *</label>			 -->
			<div class="form-group">
				<textarea rows="3" class="form-control" id="remark" name="remark" ng-model="modalOptions.addBill.remark"  maxlength="200" placeholder="please Remark here.." required > </textarea>
				<span ng-hide="addbillForm.remark.$error.maxlength">
					{{ 200 - modalOptions.addBill.remark.length + " Chars left" }}
				</span>	
				<span class="help-block" ng-show="addbillForm.remark.$dirty &&  addbillForm.remark.$invalid">
					<span class="text-danger" ng-show="addbillForm.remark.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="addbillForm.remark.$error.required">Remark is required.</span>
				</span>	
			</div>
		</div>
	</div>	
</form>
<div class="row">
	
	<input type="hidden"  id="status" class="form-control" name="status" placeholder=" addBill" ng-model="modalOptions.addBill.status" ng-init="modalOptions.addBill.status = '1'"/>

	<input type="hidden" class="form-control" ng-model="modalOptions.addBill.user_id" ng-init="modalOptions.addBill.user_id = userDetails.id" readonly/>
	
	<div class=" col-sm-offset-2 col-sm-12" ng-init="modalOptions.addBill.particular = (modalOptions.addBill.particular) ? modalOptions.addBill.particular : []">
	<form name="addbillForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addbillForm.$valid" id="addbillForm">
		<div class="table-responsive" ng-if="modalOptions.addBill.party_id">
		<h4>Add Perticular</h4>
	
		<div class="col-sm-6">
			<div class="form-group">
				<input type="text" class="form-control" id="particular" name="particular" ng-model="modalOptions.singleparticular.particular_name" required 
				ng-change=""  placeholder="particulars Name"/>
				<span class="help-block" ng-show="addbillForm.particular.$dirty && addbillForm.particular.$invalid">
					<span ng-show="addbillForm.particular.$error.required" class="text-danger">Particulars Name is necessary.</span>
				</span> 
			</div>
			<div class="form-group">
				<select id="goods_type" class="form-control" name="goods_type"  ng-model="modalOptions.singleparticular.goods_type"  required>
					<option value="" selected>Select Type</option>
					<option value="type1" >Type1</option>
					<option value="type2">Type2</option>
					<option value="type3">Type3</option>
					<option value="type4">Type4</option>
				</select>
				<span class="help-block" ng-show="addbillForm.goods_type.$dirty && addbillForm.goods_type.$invalid">
				<span ng-show="addbillForm.goods_type.$error.required" class="text-danger">Required field.</span>
				</span>	
				</div>		
				<div class="form-group">
				<select id="category" class="form-control" name="category"  ng-model="modalOptions.singleparticular.category" required>
					<option value="" selected>Select Category</option>
					<option value="category1">Category1</option>
					<option value="category2">Category2</option>
					<option value="category3">Category3</option>
					<option value="category4">Category4</option>
					</select>
					<span class="help-block" ng-show="addbillForm.category.$dirty && addbillForm.category.$invalid">
						<span ng-show="addbillForm.category.$error.required" class="text-danger">Required field.</span>
					</span>	
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="price" name="price" ng-model="modalOptions.singleparticular.price"  placeholder="Price" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required 
							ng-init="modalOptions.singleparticular.price = 1;  modalOptions.singleparticular.amount = (modalOptions.singleparticular.price * modalOptions.singleparticular.quantity)"
							
							ng-change="modalOptions.singleparticular.amount = (modalOptions.singleparticular.price * modalOptions.singleparticular.quantity)"/>
							
							<span class="help-block" ng-show="addbillForm.price.$dirty && addbillForm.price.$invalid">
							<span ng-show="addbillForm.price.$error.required" class="text-danger">Price Required.</span>
							<span ng-show="addbillForm.price.$error.pattern" class="text-danger">Enter number only</span>
							</span>
						</div>
						<div class="form-group">
							<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="modalOptions.singleparticular.quantity" ng-init="modalOptions.singleparticular.quantity = 1" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/"  
							
							ng-change="modalOptions.singleparticular.amount = (modalOptions.singleparticular.quantity * modalOptions.singleparticular.price)" required />
							
							<span class="help-block" ng-show="addbillForm.quantity.$dirty && addbillForm.quantity.$invalid">
								<span ng-show="addbillForm.quantity.$error.required" class="text-danger">Quantity Required</span>
								<span ng-show="addbillForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
							</span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="amount" name="amount" ng-click="modalOptions.totalCalculate(modalOptions)" ng-init="modalOptions.singleparticular.amount"  ng-model="modalOptions.singleparticular.amount"  ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required readonly  placeholder="Amount" />
							<span class="help-block" ng-show="addbillForm.amount.$dirty && addbillForm.amount.$invalid">
								<span ng-show="addbillForm.amount.$error.required" class="text-danger">Total amount Required.</span>
								<span ng-show="addbillForm.amount.$error.pattern" class="text-danger">Enter numbers only</span>
							</span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="tax" placeholder="Tax" name="tax" ng-model="modalOptions.singleparticular.tax"   ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
							<span class="help-block" ng-show="addbillForm.tax.$dirty && addbillForm.tax.$invalid">
								<span ng-show="addbillForm.tax.$error.required" class="text-danger">Tax Required.</span>
								<span ng-show="addbillForm.tax.$error.pattern" class="text-danger">Enter number only</span>
							</span>
						</div>
					</div>
				</div>			
			<button type="submit" class="btn btn-success"ng-disabled="addbillForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addBill.particular, modalOptions.singleparticular);modalOptions.reset(modalOptions.singleparticular)">	+Add This Particular
			</button>
		</form>
	</div>
</div>
	<div class="table-responsive" ng-if="modalOptions.addBill.party_id">
		<table class="table table-bordered" >
			<thead>
				<tr >
					<th class="col-sm-2">Sr.No.</th>
					<th class="col-sm-2">Particular Name</th>
					<th class="col-sm-2">Goods_type</th>
					<th class="col-sm-2">Category </th>
					<th class="col-sm-2 ">Price</th>
					<th class="col-sm-2">Quantity</th>
					<th class="col-sm-2"> Amount</th>
					<th>Tax</th>
					<th ></th>
				</tr> 
			</thead>
			<tbody >
				<tr ng-repeat="x in modalOptions.addBill.particular">
					<td>{{$index + 1}}</td>
					<td>{{x.particular_name}}</td>
					<td>{{x.goods_type}}</td>
					<td>{{x.category}}</td>
					<td>{{x.price}}</td>
					<td>{{x.quantity}}</td>
					<td>{{x.amount}}</td>
					<td>{{x.tax}}</td>
					
				
					<td><button ng-click="modalOptions.removeObject(modalOptions.addBill.particular, $index)">X</button></td>
				</tr>
				<tr >
							<td colspan="5"></td>
							<td class="text-right"><strong>Sub Total</strong></td>
							<td class="text-right">{{ modalOptions.subTotal  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="5"></td>
							<td class="text-right"><strong>Total Service Tax</strong></td>
							<td class="text-right">{{ modalOptions.tax.service_tax  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="5"></td>
							<td class="text-right"><strong>Total Other Tax</strong></td>
							<td class="text-right">{{ modalOptions.tax.other_tax  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="5"></td>
							<td class="text-right"><strong>Less TDS</strong></td>
							<td class="text-right">{{ modalOptions.tax.tds  | number : 2}}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="5"></td>
							<td class="text-right"><strong>Total</strong></td>
							<td class="text-right">{{ modalOptions.total  | number : 2}}</td>
							<td></td>
						</tr>
			</tbody>
		</table>
		
	</div>
<div class="modal-footer">
	<button type="submit" ng-if="modalOptions.addBill.id"  class="btn btn-success" ng-click="modalOptions.updateData('bill',modalOptions.addBill,modalOptions.addBill.id); modalOptions.ok()">Update Purchase Bill</button>
	
	<button type="submit"  class="btn btn-success" ng-disabled="generalForm.$invalid"  ng-if="!modalOptions.addBill.id" ng-click="modalOptions.postData('bill',modalOptions.addBill); modalOptions.ok()">Add Purchase Bill</button>
	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>
</div>
</div>
