<div class="modal-header" ng-init="modalOptions.getAccountConfig();modalOptions.getParty(modalOptions);">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	
	<h3>Generate Bill</h3>
</div>

<div class="modal-body">
	<form name="generalForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit=	"generalForm.$valid" id="generalForm">
		<div class=" form-group">
			<div ng-init="modalOptions.getData(false,false,'party', 'partyList',billParams,modalOptions)">
			<label for="party_id" class="col-sm-2 control-label"> Select Vendor * </label>
			<div class="col-sm-4">
				<select class="form-control" name="party_id" id="party_id" ng-model="modalOptions.generateBill.party_id" ng-options="item.id as item.name for item in modalOptions.partyList | filter :{type :'vendor'}" required>
					<option value="">Select Vendor</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>	
			</div>
			</div>
			<label  for="generated_date" class="col-sm-2 control-label">Bill Date *</label>
			<div class="col-sm-4">
			<input type="text" class="form-control " placeholder=" Bill Date" id="bill_date" name="bill_date" ng-model="modalOptions.generateBill.bill_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.generateBill.bill_date = modalOptions.date"  ng-required="true" close-text="Close" ng-click="opened = !opened"/>
			</div>
		</div>
	</form>

<div class="row">
	
	<div class="col-sm-12" ng-init="modalOptions.generateBill.particular = (modalOptions.generateBill.particular) ? modalOptions.generateBill.particular : []">
		<form name="generateBillForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="generateBillForm.$valid" id="generateBillForm">	
			<div class="table-responsive" ng-if="modalOptions.generateBill.party_id">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Particular Name</th>
							<th>Type</th>
							<th>Category</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Amount</th>
							<th>Tax</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" typeahead-template-url="customTemplate.html" class="form-control" id="particular" name="particular" ng-model="modalOptions.singleparticular.goods_name" typeahead-on-select="modalOptions.assignData($item, modalOptions.singleparticular)" typeahead="stock_items.goods_name for stock_items in modalOptions.getTypeaheadData('stock_items','goods_name', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" autocomplete="off" required 
								ng-change=""  placeholder="particulars Name"/>
								
								<span class="help-block" ng-show="generateBillForm.particular.$dirty && generateBillForm.particular.$invalid">
									<span ng-show="generateBillForm.particular.$error.required" class="text-danger">Particulars Name is necessary.</span>
								</span> 
							</td>
							
							<script type="text/ng-template" id="customTemplate.html">
								<a>
									<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
									<span><small> ({{match.model.area}} - {{match.model.pincode}})</small></span>
								</a>
							</script>
							
							<td>
								<select id="goods_type" class="form-control" name="goods_type"  ng-model="modalOptions.singleparticular.goods_type"  required>
									<option value="" selected>Select Type</option>
									<option value="type1" >Type1</option>
									<option value="type2">Type2</option>
									<option value="type3">Type3</option>
									<option value="type4">Type4</option>
								</select>
								<span class="help-block" ng-show="generateBillForm.goods_type.$dirty && generateBillForm.goods_type.$invalid">
								<span ng-show="generateBillForm.goods_type.$error.required" class="text-danger">Required field.</span>
								</span>	
							</td>
							<td>					
								<select id="category" class="form-control" name="category"  ng-model="modalOptions.singleparticular.category" required>
									<option value="" selected>Select Category</option>
									<option value="category1">Category1</option>
									<option value="category2">Category2</option>
									<option value="category3">Category3</option>
									<option value="category4">Category4</option>
								</select>
								<span class="help-block" ng-show="generateBillForm.category.$dirty && generateBillForm.category.$invalid">
								<span ng-show="generateBillForm.category.$error.required" class="text-danger">Required field.</span>
								</span>	
							</td>
							<td>						
								<input type="text" class="form-control" id="price" name="price" ng-model="modalOptions.singleparticular.price"  placeholder="Price" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required 
									ng-init="modalOptions.singleparticular.price = 1"
									
									ng-change="modalOptions.singleparticular.amount = (modalOptions.singleparticular.price * modalOptions.singleparticular.quantity)"/>
									
								<span class="help-block" ng-show="generateBillForm.price.$dirty && generateBillForm.price.$invalid">
									<span ng-show="generateBillForm.price.$error.required" class="text-danger">Price Required.</span>
									<span ng-show="generateBillForm.price.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>
							<td>
								<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="modalOptions.singleparticular.quantity" ng-init="modalOptions.singleparticular.quantity = 1;  modalOptions.singleparticular.amount = (modalOptions.singleparticular.price * modalOptions.singleparticular.quantity)" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/"  
											
								ng-change="modalOptions.singleparticular.amount = (modalOptions.singleparticular.quantity * modalOptions.singleparticular.price)" required />
								<span class="help-block" ng-show="generateBillForm.quantity.$dirty && generateBillForm.quantity.$invalid">
									<span ng-show="generateBillForm.quantity.$error.required" class="text-danger">Quantity Required</span>
									<span ng-show="generateBillForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>			
							<td>		
								<input type="text" class="form-control" id="amount" name="amount" ng-model="modalOptions.singleparticular.amount" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required readonly  placeholder="Amount" />
								<span class="help-block" ng-show="generateBillForm.amount.$dirty && generateBillForm.amount.$invalid">
									<span ng-show="generateBillForm.amount.$error.required" class="text-danger">Total amount Required.</span>
									<span ng-show="generateBillForm.amount.$error.pattern" class="text-danger">Enter numbers only</span>
								</span>
							</td>
							<td >				
								<button type="button" tooltip="Add Tax" id="tax" class="dropdown dropdown-toggle glyphicon glyphicon-plus" placeholder="Tax" name="tax" value="tax"  ng-click="isCollapsed1 = !isCollapsed1"  ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
								</button> 
									<span class="help-block" ng-show="generateBillForm.tax.$dirty && generateBillForm.tax.$invalid">
										<span ng-show="generateBillForm.tax.$error.required" class="text-danger">Tax Required.</span>
										<span ng-show="generateBillForm.tax.$error.pattern" class="text-danger">Enter number only</span>
									</span>
								<div collapse="!isCollapsed1" style="z-index:2;position:absolute;right:20px;width:155px;top:70px;padding:1px;" class="well">
									<div class="col-sm-3">
										<div class="form-group" ng-init="modalOptions.taxInfo = {}">
											<ul style="list-style-type:none">
												<li>
													<div class="checkbox col-sm-3 ">
														<label ng-repeat="x in userDetails.config.inventory.taxData.tax">
														<input type="checkbox" ng-model="modalOptions.taxInfo[x.taxName]" ng-change="modalOptions.taxCalculate(modalOptions)" checklist-value="x"/> {{x.displayName}}
														</label>
													</div>
												</li>
											</ul> 
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="generateBillForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.generateBill.particular, 'singleparticular', modalOptions);modalOptions.totalCalculate(modalOptions);">	+Add This Particular
				</button>
				<br/>
			</div>													
		</form>
	</div>
</div>

	<div class="table-responsive" ng-if="modalOptions.generateBill.party_id">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th class="col-sm-2">Sr.No.</th>
					<th class="col-sm-2">Particular Name</th>
					<th class="col-sm-2">Goods_type</th>
					<th class="col-sm-2">Category </th>
					<th class="col-sm-2 ">Price</th>
					<th class="col-sm-2">Quantity</th>
					<th class="col-sm-2"> Amount</th>
					<th >Remove</th>
				</tr> 
			</thead>
			
			<tbody >
				<tr ng-repeat="x in modalOptions.generateBill.particular">
					<td>{{$index + 1}}</td>
					<td>{{x.goods_name}}</td>
					<td>{{x.goods_type}}</td>
					<td>{{x.category}}</td>
					<td>{{x.price}}</td>
					<td>{{x.quantity}}</td>
					<td>{{x.amount}}</td>
					<td><button ng-click="modalOptions.removeObject(modalOptions.generateBill.particular, $index);modalOptions.totalCalculate(modalOptions);">X</button></td>
				</tr>
				<tr>
					<td colspan="5"></td>
					<td class="text-right"><strong>Sub Total</strong></td>
					<td class="text-right">{{ modalOptions.generateBill.subtotal | number : 2}}</td>
					<td></td>
				</tr>
				<tr ng-repeat="(key, value) in modalOptions.generateBill.tax">
					<td colspan="5"></td>
					<td class="text-right"><strong>{{key}}</strong></td>
					<td class="text-right">{{ value  | number : 2}}</td>
					<td></td>
					<!-- <td ng-repeat="(key, value) in modalOptions.generateBill.tax">{{ value  | number : 2}}</td> -->
				</tr>
				<tr>
					<td colspan="5"></td>
					<td class="text-right"><strong>Total</strong></td>
					<td class="text-right">{{modalOptions.generateBill.total_amount | number : 2}}</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		
			<label class="col-sm-1">Remark</label>
			<div class="col-sm-8 form-group">
				<textarea rows="3" class="form-control" id="remark" name="remark" ng-model="modalOptions.generateBill.remark"  maxlength="200" placeholder="please Remark here.." required > </textarea>
				<span ng-hide="generateBillForm.remark.$error.maxlength">
					{{ 200 - modalOptions.generateBill.remark.length + " Chars left" }}
				</span>	
				<span class="help-block" ng-show="generateBillForm.remark.$dirty &&  generateBillForm.remark.$invalid">
					<span class="text-danger" ng-show="generateBillForm.remark.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="generateBillForm.remark.$error.required">Remark is required.</span>
				</span>	
			</div>
		</div>
<div class="modal-footer">
	<button type="submit"  class="btn btn-success" ng-disabled="generalForm.$invalid"  ng-click="modalOptions.postData('bill',modalOptions.generateBill); modalOptions.ok()">Generate Bill</button>
	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>
</div>
</div>
