<div class="main-content">
	<div class="modal-header" style="margin-bottom: 14px">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3>Pay Bill</h3>
	</div>
		<form name="payBillForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="payBillForm.$valid">
			<div class="form-group">
				<label  for="pay_date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-9">
						<input type="text" id="pay_date" class="form-control" ng-model="modalOptions.billPayment.pay_date" ng-init="modalOptions.billPayment.pay_date= modalOptions.pay_date" name="pay_date" placeholder="date" readonly>
					</div>						
			</div>
			<div class="form-group">
				<label for="account_no" class="col-sm-2 control-label">Account Name* </label>
					<div class="col-sm-9" ng-init="modalOptions.getData(false,false,'account','accountList', accountParams, modalOptions)">
					<select class="form-control" name="account_no" id="account_no" ng-model="modalOptions.billPayment.account_no"  ng-options="item.id as item.account_name for item in modalOptions.accountList" required>
						<option value="" selected>Select Account Name</option>
					</select>
					<span class="help-block" ng-show="addIncomeForm.account_no.$dirty && addIncomeForm.account_no.$invalid">
						<span ng-show="addIncomeForm.account_no.$error.required" class="text-danger">Account Name is required.</span>
						<span ng-show="(addIncomeForm.account_no.$dirty || submitted)" class="text-danger">Enter Name Only!</span>
					</span>
					</div>
			</div>

			<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
						<select id="payment_type" class="form-control" name="payment_type"  ng-model="modalOptions.billPayment.description.payment_type.type" required>
						<option value="" selected>Select Type</option>
						<option value="Cash" >Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Net Banking">Net Banking</option>
						<option value="DD">DD</option>
						</select>
						<span class="help-block" ng-show="payBillForm.payment_type.$dirty && payBillForm.payment_type.$invalid">
							<span ng-show="payBillForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
						</span>	
					</div>
			</div> 
			
			
				<div class="form-group"  >
				<label  for="due_amount" class="col-sm-2 control-label">Amount</label>
					<div class="col-sm-9" ng-init="modalOptions.getData(false,false,'transaction','transactionList', transactionParams, modalOptions)">
						<input type="text"  id="due_amount" class="form-control"  ng-pattern="/^\d{0,9}[0-9]$/" ng-model="modalOptions.billPayment.account_no" name="due_amount" placeholder="Amount"  ng-options="item.id as item.account_name for item in modalOptions.transactionList" ng-init="modalOptions.billPayment.due_amount = modalOptions.billPayment.due_amount"  required/>
						<span class="help-block" ng-show="payBillForm.amount.$dirty && payBillForm.due_amount.$invalid">
							<span ng-show="payBillForm.due_amount.$error.required" class="text-danger">Amount is required.</span>
							<span ng-show="payBillForm.due_amount.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
					</div>						
			</div>
		</form>
</div>