<div class="main-content">
	<div class="modal-header" style="margin-bottom: 14px">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3>Pay Bill</h3>
	</div>
		<form name="payBillForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="payBillForm.$valid">
			<div class="form-group">
				<label  for="date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-9">
						<input type="text" id="pay_date" class="form-control" ng-model="modalOptions.billPayment.pay_date" ng-init="modalOptions.billPayment.pay_date= modalOptions.pay_date" name="pay_date" placeholder="date" readonly>
					</div>						
			</div>
			<div class="form-group">
				<label for="account_no" class="col-sm-2 control-label">Account Name* </label>
					<div class="col-sm-9" ng-init="modalOptions.getData(false,false,'account','accountList', accountParams, modalOptions)">
					<select class="form-control" name="account_no" id="account_no" ng-model="modalOptions.billPayment.account_no"  ng-options="item.id as item.account_name for item in modalOptions.accountList" required>
						<option value="" selected>Select Account Name</option>
					</select>
					<span class="help-block" ng-show="addIncomeForm.account_no.$dirty && addIncomeForm.account_no.$invalid">
						<span ng-show="addIncomeForm.account_no.$error.required" class="text-danger">Account Name is required.</span>
						<span ng-show="(addIncomeForm.account_no.$dirty || submitted)" class="text-danger">Enter Name Only!</span>
					</span>
					</div>
			</div>
		</form>
</div>