<div class="modal-header">
	<button type="button" class="close buttondistance" ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span></button>
	<button type="button" class="btn btn-primary pull-right buttondistance" ng-click="modalOptions.printDiv(' ViewBill')">Print</button>
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	<h3>Bill</h3>
</div>
<div class="modal-body">{{modalOptions.addBill}}
	<div  id="addBill">
		<div class="panel panel-default"ng-if="modalOptions.addBill">
			<div class="panel-heading text-center">
				<h2>BILL</h2>
			</div>
				<div class="panel-body row">
					<div class="col-xs-6">
						<address class="text-center">
							<strong>{{userDetails.name | uppercase}}</strong><br>
							{{userDetails.address.address}}<br>
							E-Mail : {{userDetails.email}}
						</address>
						<hr>
						<p>To,<br>
							<strong>{{modalOptions.addBill.name | uppercase}}</strong><br>
							{{modalOptions.addBill.address.address}}<br>{{modalOptions.addBill.address.location}}<br>{{modalOptions.addBill.address.city}}<br>{{modalOptions.addBill.address.area}}<br>{{modalOptions.addBill.address.pincode}}<br>				
						</P>
					
					</div>
					<div class="col-xs-6">
						<div class="table-responsive">
						<table class="table table-bordered">
							<tr >
								<td><strong>Bill No.</strong><br>{{modalOptions.addBill.bill_id}}
								</td>
								<td><strong>Dated</strong><br>
								{{modalOptions.addBill.bill_date}}</td>
							</tr>
							
							<tr>
								<td><strong>Bill Month</strong><br> {{modalOptions.addBill.bill_date}}</td>
								<td><strong>Due Date</strong><br>{{modalOptions.addBill.due_date}}</td>
							</tr>
						</table>
					</div>
					</div>
					<div class="table-responsive col-xs-12">
						<table class="table table-bordered">
							<thead>
								<tr class="head">
									<th class=" col-xs-8">Particulars</th>
									<th class=" col-xs-2">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in modalOptions.addBill.particular">
									<td>{{x.particular_name}}</td>
									<td>{{x.amount}}</td>
								
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="text-right"><strong>Total Bill</strong></td>
									<td class="amt text-right" ng-init="modalOptions.totalCalculate(modalOptions); ">{{modalOptions.addBill.total_amount}}</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col-xs-12">
						<p>Amount Chargeable(in words) : 
						<strong><em>{{modalOptions.inWords | uppercase}}</em></strong>
						<p><strong>Remarks:</strong> <span ng-bind-html="modalOptions.addBill.remark"></span></p>
						
						<hr/>
						<p><strong>Company's Service Tax No: </strong>{{modalOptions.accountConfig.service_tax_no}}</p>
						<p><strong>Company's Pan: </strong>{{modalOptions.accountConfig.pan_no}} </strong></p>
						<p class="text-right">For <strong><em>{{userDetails.name}}</em></strong><br><br><br>
						Authorised Signatory</p>
					</div>
				</div>
		</div>	
			<div class="panel panel-default" id="invoice" ng-if="modalOptions.rentList.length <= 0">
				<div class="panel-body">
					<h2> No Data Found </h2>
				</div>
			</div>		
	</div>		
</div>

