<div class="modal-header" ng-init="modalOptions.getData(false,false,'transaction', 'viewreceipt',modalOptions.receiptParams,modalOptions)">
		<button type="button" class="close buttondistance" ng-click="modalOptions.close()">
			<span aria-hidden="true">&times;</span></button>
		<button type="button" class="btn btn-primary pull-right buttondistance" ng-click="modalOptions.printDiv('addBill')">Print</button>
		<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
		<h3>RECEIPT</h3>
</div>

	<br>
	<div class="form-group">
		<label for="bill_date" class="col-sm-2 control-label">Receipt Date</label>
		<div class="col-sm-9">
			<select class="form-control" name="bill_date" id="bill_date" ng-model="receiptData" ng-options="item as item.date for item in modalOptions.viewreceipt">
				<option value="bill_date">Select Date</option>
			</select>
		</div>
	</div>
	{{receiptData}}
	</br>{{modalOptions.receiptData}}
<div class="modal-body">
	<div id="Bill">
	<div class="panel panel-default" ng-if="modalOptions.addBill">
		<div class="panel-heading text-center">
			<h2>Receipt</h2>
		</div>
		<div class="panel-body row">
			<div class="col-xs-6">
				<address class="text-center">
					<strong>{{userDetails.name | uppercase}}</strong><br>
					{{userDetails.address.address}}<br>
					E-Mail : {{userDetails.email}}
				</address>
				<hr>
				<p>To,<br>
					<strong>{{modalOptions.receiptData.name}}</strong><br>
					{{modalOptions.receiptData.address}}<br>{{modalOptions.rentList.address.city}}<br>{{modalOptions.rentList.address.pincode}}<br>				
				</P>
			</div>
			<div class="col-xs-6">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="amt">
							<td><strong>Receipt No.</strong><br>{{receiptData.transaction_id}}
							</td>
							<td><strong>Dated</strong><br>
							{{receiptData.transaction_date}}</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="table-responsive col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr class="head">
							<th class=" col-xs-12">Particulars</th>
							<th class=" col-xs-12">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Paid By <strong>{{modalOptions.rentList.description.payment_type.type}}</strong> Against Invoice No.<strong>{{modalOptions.addBill.id}}</strong>
							<p ng-if="modalOptions.rentList.description.payment_type.type != 'Cash'">
								<span ng-repeat="(key, value) in modalOptions.rentList.description.payment_type">
									<strong>{{key}}</strong><span> {{value}} </span></br>
								</span>
							</p>
							</td>
							<td>{{modalOptions.addBill.paid | number : 2}}</td>
						</tr>
						<tr>
							<td class="text-right"><strong>Received Amount</strong></td>
							<td class="text-right">{{modalOptions.addBill.paid | number : 2}}</td>
						</tr>
						</tbody>
				</table>
			</div>
			<div class="col-xs-12">
				<p>Received Amount (in words):
				<strong><em>{{inWords(receiptData.debit_amount) | uppercase}}</em></strong></p>

				<hr/>
				<p><strong>Company's Service Tax No: </strong>{{modalOptions.accountConfig.service_tax_no}}</p>
				<p><strong>Company's Pan: </strong>{{modalOptions.accountConfig.pan_no}} </strong></p>
				<p class="text-right">For <strong><em>{{userDetails.name}}</em></strong><br><br><br>
				Authorised Signatory</p>
			</div>
		</div>
	</div>
	</div>
</div>