<h3>Purchase Bills</h3>
<div class="row">	 				  
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="payment_status" class="control-label" >Payment Status</label>
				<select id="payment_status" class="form-control" ng-change="filter('payment_status', payment_status)" ng-model="payment_status">
					<option value="" selected>Payment Status</option>
					<option value="0">Unpaid</option>	
					<option value="1">Paid</option>	
					<option value="2">Partial Paid</option>
				</select>
			</div>
		</div>
		
		<div class="col-sm-2">
			<label for="account_no" class="control-label" ng-init="getAccount()">Account Name*</label>
				<select class="form-control" name="account_no" id="account_no" ng-change="filter('account_no', account_no)" ng-model="account_name"  ng-options="item.id as item.account_name for item in accountList" required>
					<option value="" selected>Select Account</option>
				</select>
		</div>
		
		<div class="col-sm-2">
			<label for="party" class="control-label" ng-init="getCustomer()">Party</label>
			<select class="form-control" name="party" id="party" ng-model="party" ng-change="getBills(currentPage,'user_id',party)" ng-options="item.id as item.name for item in customerList | filter: { group_name : 'customer'} "required>
				<option value="">Select Party</option>
			</select>
		</div>
		<div class="col-sm-2">
						<div class="bottomspace">
							<label for="sort" class="control-label">Sort by Bill No</label>
							<select class="form-control" name="sort" ng-model="sort" ng-change="orderBy('name', sort)">
								<option value="">Sort By</option>
								<option value="asc">Ascending</option>
								<option value="desc">Descending</option>
							</select>
						</div>
		</div>
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="sort" class="control-label">Sort by Due Date</label>
					<select id="sort" class="form-control ng-pristine ng-valid" ng-model="due_date" ng-change="orderBy('due_date', due_date, true)">
						<option value="">Select Order</option>	
						<option value="-due_date">Desending</option>
						<option value="due_date">Asending</option>
					</select>
			</div>
		</div>
		
		
	</div>
<div class="table-responsive" ng-init="getData(currentPage,'bill', 'bills' )">
<table class="table  table-hover table-bordered">
	<thead>
	<th>Sr. No.</th>
	<th>Bill No</th>
	<th>Party Name</th>
	<th>Generated Date</th>
	<th>Payment Status</th>
	<th>Amount</th>
	<th>Paid Amount</th>
	<th>Due Amount</th>
	<th>Due Date</th>
	<th>Manage</th>
	</thead>
	<tbody>
	<tr ng-repeat="x in bills | orderBy:sort" ng-class="(x.due_date <= currentDate && x.payment_status == 0) ? 'bg-danger' : ''">
	<td>{{ ((currentPage - 1) * pageItems ) + $index+1 }}</td>
	<td>{{ x.id }}</td>
	<td>{{ x.username }}</td>
	<td>{{ x.generated_date }}</td>
	<td><span ng-if="(x.payment_status == 1)">Paid</span> <span ng-if="(x.payment_status == 0)">Unpaid</span> <span ng-if="(x.payment_status == 2)">Partial Paid</span></td>
	<td class="text-right">{{ x.total_amount | number : 2}}</td>
	<td class="text-right">{{ x.paid | number : 2}}</td>
	<td class="text-right">{{ x.due_amount | number : 2}}</td>
	<td class="text-right">{{ x.due_date}}</td>
	<td>
		<div class="btn-group">
			<button ng-click="openGeneratebill(x)" ng-disabled="x.due_amount <= 0"class="btn btn-warning" type="button" tooltip-animation="true" tooltip="Edit Bill"> <span class="glyphicon glyphicon-pencil"></span></button>
		</div>
	
		<button type="button" tooltip="{{(x.status == 1) ? 'Delete' : 'Active'}}" ng-class="(x.status == 1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="changeCol('status', x.status, x.id)" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
			<span class="glyphicon glyphicon-remove"></span> 
		</button>
		
		<a ng-disabled="x.due_amount <= 0" ng-click="openGeneratebill('modules/bill/paybill.html',x)" class="btn btn-primary"  tooltip-animation="true" tooltip="Pay Bill"><span class="glyphicon glyphicon-usd"></a>
		
		<a ng-click="openGeneratebill('modules/bill/viewbill.html',x)" class="btn btn-primary" type="button" tooltip-animation="true" tooltip="View Bill"><span class="glyphicon glyphicon-eye-open"></span></a>
		
		<a ng-disabled="(x.payment_status == 0)" ng-click="viewReceipt('modules/bill/viewreceipt.html',x)"  class="btn btn-warning" type="button" tooltip-animation="true" tooltip="View Receipt"><span class="glyphicon glyphicon-eye-open"></span></a>
	</td>
	</tr>
	<tr>
		<td colspan="5" class="text-right"><strong>Total</strong></td>
		<td  class="text-right">{{total_amount}}</td>
		<td  class="text-right">{{total_paid}}</td>
		<td class="text-right">{{total_due}}</td>
		<td colspan="3"></td>
	</tr>
	</tbody>
  </table>
</div>
<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(currentPage,'bill', 'bills')"></pagination>
		<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>