{% autoescape false %}
{% if featured_products | length >=4 %}
	{% set break = 0 %}{% set i = 0 %}
	{% for x in featured_products if break == 0 %}
		<div class="col-sm-3">
			<div class="featureprod">
				<img class="img-responsive" src="{{x.product_image.0.file_relative_path}}" />
				<h3>{{x.product_service_name}}</h3>
				<p>{{ x.description|length > 50 ?x.description|slice(start, 50)~ '...' : x.description }}
				<div class="read">
					<a class="btn btn-info" href="product/{{x.id}}">View Details</a>
				</div>
			</div>
		</div>
		{% set i = (i + 1) %}
		{% if i == 4 %}
			{% set break = 1 %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endautoescape %}