<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
	<div class="row">
	    <div class="col-sm-12">
			<h3 class="text-center">{{modalOptions.viewProperty.title}}</h3>
			<div class="content">
				<blockquote>
					<p ng-bind-html="modalOptions.viewProperty.property_description"></p>
				</blockquote>
			</div>			
			<div class="row">
			    <div class="col-sm-4">
					<table class="table table-hover table-responsive">
					<h3>Property Info</h3>
						<tr>
							 <td><b>Property For</b></td>
							 <td><ul>							
									<p>{{modalOptions.viewProperty.property_for}}</p>
								</ul>	
							 </td>	
						</tr>
						<tr>
							<td><b>Property Type</b> </td>
							<td>		{{modalOptions.viewProperty.type}}					</td>					
						</tr>
						<tr>
							<td><b>Location </b></td>
							<td>								
								<p><b>Country :</b>{{modalOptions.viewProperty.country}}
								
								<br><b>State :</b> {{modalOptions.viewProperty.state}}
								
								<br><b>City :</b>								
								{{modalOptions.viewProperty.city}}
								
								<br><b>Address :</b> {{modalOptions.viewProperty.address}}</p>
							</td>					
						</tr>
						<tr>
							<td><b>Area</b> 
							<td>
								 <p><b>Built_up area :</b>
								 {{modalOptions.viewProperty.property_info.buildup_area}}		 {{modalOptions.viewProperty.property_info.build_unit}}</p>
								 
								 <p><b>Plot/ Land Area</b>
								 {{modalOptions.viewProperty.property_info.land_area}}
								 {{modalOptions.viewProperty.property_info.land_unit}}
								 </p>
								 
								 <p><b>Carpet Area</b>							 
								 {{modalOptions.viewProperty.property_info.carpet_area}}
								 {{modalOptions.viewProperty.property_info.carpet_unit}}
								 </p>
							</td>					
						</tr>
						<tr>
							<td><b>Price </b>
							<td>{{modalOptions.viewProperty.price}}</td>			
						</tr>
						<tr>
							<td><b>Contact US! </b> </td> 
							<td>{{modalOptions.viewProperty.contact_details.contact_person}}</td>
						</tr>
					</table>	
				</div>
			<!-- <div class="col-sm-4"> -->
				
				<div class="col-sm-4">
			<h3>Property Details</h3>
			<table class="table table-bordered table-responsive">
				<tbody>
					<tr>
						<th ng-if="modalOptions.viewProperty.optional_property_details.furnished">Furnishing</th>
						<td ng-if="modalOptions.viewProperty.optional_property_details.furnished">{{modalOptions.viewProperty.optional_property_details.furnished}}</td>
					</tr>
					<tr>
						<th ng-if="modalOptions.viewProperty.optional_property_details.transType">Transaction</th>
						<td ng-if="modalOptions.viewProperty.optional_property_details.transType">{{modalOptions.viewProperty.optional_property_details.transType}}</td>
					</tr>
					<tr>	
						<th ng-if="modalOptions.viewProperty.property_info.bedrooms">Bedrooms</th>
						<td ng-if="modalOptions.viewProperty.property_info.bedrooms">{{modalOptions.viewProperty.property_info.bedrooms}}</td>
					</tr>
					<tr>	
						<th ng-if="modalOptions.viewProperty.property_info.bathrooms">Bathrooms</th>
						<td ng-if="modalOptions.viewProperty.property_info.bathrooms">{{modalOptions.viewProperty.property_info.bathrooms}}</td>
					</tr>
					<tr>	
						<th ng-if="modalOptions.propertyData.optional_property_details.parking">Reserved Parking</th>
						<td ng-if="modalOptions.propertyData.optional_property_details.parking">{{modalOptions.propertyData.optional_property_details.parking}}</td>
					</tr>
					<tr>	
						<th ng-if="modalOptions.viewProperty.optional_property_details.floor_no">Floor Number</th>
						<td ng-if="modalOptions.viewProperty.optional_property_details.floor_no">
						{{modalOptions.viewProperty.optional_property_details.floor_no}}</td>
					</tr>
				</tbody>
			</table>
		</div>
				<!-- </div> -->
				<div class="col-sm-4">
				<h3>Property Seller Detail</h3>
				<table class="table table-bordered table-responsive">
					<tbody>
						<tr>
							<td>Contact Person</td>
							<td>{{modalOptions.viewProperty.contact_details.contact_person}}</td>
						</tr>
						<tr>
							<td>Mobile</td>
							<td>{{modalOptions.viewProperty.contact_details.mobile}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{modalOptions.viewProperty.contact_details.email}}</td>
						</tr>
						<tr>
							<td>Contact Address</td>
							<td>{{modalOptions.viewProperty.contact_details.cont_address}}</td>
						</tr>
					</tbody>
				</table>				
				</div>
			</div>
		<hr>
			<table class="table table-hover table-responsive">
				<tbody>
					<h3>Amenities</h3>	
					<tr>
					<ul>
						<li ng-repeat="x in modalOptions.viewProperty.amenities">
							{{x}}
						</li>
					</ul>
					</tr>
				</tbody>
			</table>
	</div>
	</div>
	<div class="property-images">
		<img class="img-responsive" ng-model="modalOptions.viewProperty.imgkey" ng-src="{{appConfig.assetPath + modalOptions.viewProperty.property_images[modalOptions.viewProperty.imgkey].file_relative_path}}" ng-init="modalOptions.viewProperty.imgkey = 0"/>
			<span class="thumbs" ng-repeat="(key, value) in modalOptions.viewProperty.property_images">
				<img class="img-thumbnail imgpropwidth" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.viewProperty.imgkey = key"/>
			</span>
	</div>
</div>

