<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
	<div class="row">
	    <div class="col-sm-12">
			<h3 class="text-center">{{modalOptions.viewProperty.title}}</h3>
			<div class="content">
				<blockquote>
					<p>{{modalOptions.viewProperty.property_description}}</p>
				</blockquote>
			</div>			
			<div class="row">
			    <div class="col-sm-8">
					<table class="table table-hover table-responsive">
					    
						<tr>
							 <td><b>Property For </b></td>
							 <td>						
								<p>{{modalOptions.viewProperty.property_for}}</p>
							 </td>	
						</tr>
						<tr>
							<td><b>Property Type</b> </td>
							<td>		{{modalOptions.viewProperty.type}}					</td>					
						</tr>
						<tr>
							<td><b>Location </b></td>
							<td>								
								<p><b>Country :</b> {{modalOptions.viewProperty.country}}
								
								<br><b>State :</b> {{modalOptions.viewProperty.state}}
								
								<br><b>City :</b>								
								{{modalOptions.viewProperty.city}}
								
								<br><b>Address :</b> {{modalOptions.viewProperty.address}}</p>
							</td>					
						</tr>
						<tr>
							<td><b>Area</b> 
							<td ng-if="modalOptions.viewProperty.property_info">
								 <p ng-if="modalOptions.viewProperty.property_info.buildup_area"><b>Built_up area :</b>
								 {{modalOptions.viewProperty.property_info.buildup_area}}		 {{modalOptions.viewProperty.property_info.build_unit}}</p>
								 
								 <p ng-if="modalOptions.viewProperty.property_info.land_area"><b>Plot/ Land Area</b>
								 {{modalOptions.viewProperty.property_info.land_area}}
								 {{modalOptions.viewProperty.property_info.land_unit}}
								 </p>
								 
								 <p ng-if="modalOptions.viewProperty.property_info.carpet_area"><b>Carpet Area</b>							 
								 {{modalOptions.viewProperty.property_info.carpet_area}}
								 {{modalOptions.viewProperty.property_info.carpet_unit}}
								 </p>
							</td>					
						</tr>
						<tr>
							<td ng-if="modalOptions.viewProperty.price"><b>Price</b>
							<td>{{modalOptions.viewProperty.price}}</td>			
						</tr>
						<tr>
							<td nf-if="modalOptions.viewProperty.contact_details.contact_person"><b>Contact US! </b> </td> 
							<td>{{modalOptions.viewProperty.contact_details.contact_person}}</td>
						</tr>
					</table>	
				</div>
				<div class="col-sm-4">
					<div class="property-images">
						<img class="img-responsive" ng-model="modalOptions.viewProperty.imgkey" ng-src="{{appConfig.assetPath + modalOptions.viewProperty.property_images[modalOptions.viewProperty.imgkey].file_relative_path}}" ng-init="modalOptions.viewProperty.imgkey = 0"/>
							<span class="thumbs" ng-repeat="(key, value) in modalOptions.viewProperty.property_images">
								<img class="img-thumbnail imgpropwidth" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.viewProperty.imgkey = key"/>
							</span>
					</div>
				</div>
			</div>
			<hr>	
			<h3 ng-if="modalOptions.viewProperty.optional_property_details">Property Built Up Details</h3>
				<table class="table table-bordered table-responsive">
					<thead>
						<th ng-if="modalOptions.viewProperty.optional_property_details.furnished">Furnishing
						</th>
						<th ng-if="modalOptions.viewProperty.optional_property_details.transType">Transaction
						</th>
						<th ng-if="modalOptions.viewProperty.property_info.bedrooms">Bedrooms
						</th>
						<th ng-if="modalOptions.viewProperty.property_info.bathrooms">Bathrooms
						</th>
						<th ng-if="modalOptions.viewProperty.optional_property_details.parking">Reserved Parking
						</th>
					</thead>
					<tbody>
						<tr>
						<td ng-if="modalOptions.viewProperty.optional_property_details.furnished">{{modalOptions.viewProperty.optional_property_details.furnished}}</td>
							
						<td ng-if="modalOptions.viewProperty.optional_property_details.transType">{{modalOptions.viewProperty.optional_property_details.transType}}
						</td>
							
						<td ng-if="modalOptions.viewProperty.property_info.bedrooms">
						{{modalOptions.viewProperty.property_info.bedrooms}}
						</td>
							
						<td ng-if="modalOptions.viewProperty.property_info.bathrooms">
						{{modalOptions.viewProperty.property_info.bathrooms}}
						</td>
							
						<td ng-if="modalOptions.viewProperty.optional_property_details.parking">{{modalOptions.viewProperty.optional_property_details.parking}}
						</td>
						</tr>
					</tbody>
				</table>
				
			<hr>
				<table class="table table-hover table-responsive">
					<tbody>
						<h3>Amenities</h3>	
						<tr>
							<ul>
								<li ng-repeat="x in modalOptions.viewProperty.amenities">
									{{x}}
								</li>
							</ul>
						</tr> 
						
				
					<hr>			
						<h3>Property Address</h3>
						<td></td>
						<td>{{modalOptions.viewProperty.contact_details.cont_address}}</td>
					</tbody>
				</table>		
			<hr>			
					<h3>Property Seller Detail</h3>
					<table class="table table-bordered table-responsive">
						<tbody>
							<tr>
								<td>Contact Person</td>
								<td>{{modalOptions.viewProperty.contact_details.contact_person}}</td>
							</tr>
							<tr>
								<td>Mobile</td>
								<td>{{modalOptions.viewProperty.contact_details.mobile}}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>{{modalOptions.viewProperty.contact_details.email}}</td>
							</tr>
							<tr>
								<td>Contact Address</td>
								<td>{{modalOptions.viewProperty.contact_details.cont_address}}</td>
							</tr>
						</tbody>
					</table>				
		</div>
	</div>
</div>

