{% autoescape false %}
{% if featured_products | length >= 2 %}
	{% set break = 0 %}{% set i = 0 %}
	{% for x in featured_products if break == 0 %}
	{% if x.type == "product" %}
		<div class="col-sm-6 div1" style="background-image:url('{{x.product_image.0.file_relative_path}}');">
			<div class="sub-div1">
				<h2>{{x.product_service_name}}</h2>
				<p>{{ x.description|length > 150 ?x.description|slice(start, 150)~ '...' : x.description }}<br>
				<a class="btn btn-info" href="products/{{x.product_service_name}}/{{x.id}}">View Details</a>
			</div>
		</div>
		{% set i = (i + 1) %}
		{% if i == 2 %}
			{% set break = 1 %}
		{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endautoescape %}