.featured_services{
	.data{
	padding:10px;
	}
	background-color:@lightcolor;
	//opacity:0.3;
	.fstitle{
		margin-bottom: 20px;
		padding: 35px 0 0;
		color:@darkcolor;
	
			/*&::before{
				right: 0.5em;
					background-color:@darkbackcolor;
					content: "";
					display: inline-block;
					height: 1px;
					vertical-align: middle;
					width: 43%;
				
			}
			&::after{
						background-color: @darkbackcolor;
						content: "";
						display: inline-block;
						height: 1px;
						vertical-align: middle;
						width: 37%;
						left: 0.5em;
						margin-right:-50%;
					
			}*/
	}
}
.products{
	.thumbnail{
		border-radius:0px;
		padding:0px;
		margin-bottom:50px;
		border : none;
		background :-webkit-gradient(linear, left top, right top, from(@colorwhite), to(@lightcolor));
		.prodimg{	
			height:250px;
			width:100%;
			overflow:hidden;
			margin:0 auto;
			img{
				min-height:250px;
				width:100%;
			
				&:hover{
				background-color:@darkbackcolor;
				
				}
			}
		}
		h3{
			padding-left: 15px;
		}
		.caption{
			padding : 13px;
			.description{
				height : 98px;
				overflow : hidden;
			}
		}
		.sername{
			padding:1px 16px 16px;
			height:50px;
		}
		.readmore{
			bottom:10px;
			left:0;
			right:0;
			margin:0 0 0 15%;
			width:145px;
			.bnt-info{
				color:@colorwhite;
				font-size : 15px;
				padding: 5px 15px;
				&:hover{
						color:@colorwhite;
						background-color:@color;
						text-decoration:none;
				}
			}
		}	
	}
}