@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
.featrtesti {
  background-image: url('../img/bg4.jpg');
}
.featrtesti h3 {
  color: #ffffff;
}
.featrtesti .description {
  animation-name: test1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
.featrtesti .description p {
  color: #ffffff;
}
@keyframes test1 {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.featrGallery .thumbnail {
  width: 200px;
  height: 200px;
}
.featrGallery .thumbnail img {
  width: 100%;
  height: 100%;
}
.infrastructure {
  height: 500px;
}
.infrastructure .thumbnail {
  overflow: hidden;
  height: 450px;
}
.infrastructure .thumbnail .infraImg {
  height: 200px;
}
.infrastructure .thumbnail .infraImg img {
  height: 200px;
  width: 100%;
}
.infrastructure .thumbnail .caption {
  height: 150px;
}
div.infrastructure > div.row > div:nth-child(1) {
  animation-name: abt1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 2s;
}
@keyframes abt1 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(3) {
  animation-name: abt2;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 3s;
}
@keyframes abt2 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(5) {
  animation-name: abt3;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 4s;
}
@keyframes abt3 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(7) {
  animation-name: abt4;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 5s;
}
@keyframes abt4 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(9) {
  display: none;
}
.featuredProperty .sections {
  height: 270px;
}
.featuredProperty .sections .bxslider1 {
  padding-left: 15px;
  list-style: none;
}
.featuredProperty .sections .bxslider1 h4 {
  padding-left: 25px;
}
.featuredProperty .sections .bxslider1 .row {
  padding-bottom: 10px;
}
.featuredProperty .sections .bxslider1 li {
  height: 260px;
}
.featuredProperty .sections .bxslider1 li .verify img {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.featuredProperty .sections .bxslider1 li .sliderImg {
  height: 150px;
  width: 200px;
  overflow: hidden;
  padding: 4px;
  border: 2px solid transparent;
}
.featuredProperty .sections .bxslider1 li .sliderImg img {
  min-height: 150px;
}
.featuredProperty .sections .bxslider1 li .sliderImg:hover {
  border: 2px solid #228b22;
}
.featuredProperty .sections .bxslider1 li a {
  color: #228b22;
  font-weight: bold;
}
.featuredProperty .sections .bxslider1 li a:hover {
  text-decoration: none;
}
.featuredProperty .sections .bxslider1 li a:hover {
  color: #d3eaa2;
}
.featuredProperty .sections .bxslider1 li .head {
  margin-right: 10px;
  margin-left: 10px;
  color: #000000;
}
.featuredProperty .sections .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.property,
.proplist {
  background-color: #6b8e23;
  border: 1px solid #196619;
}
.singleproperty .property {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px 15px;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table {
  background-color: #3a322f;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px dashed #196619;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
}
.singleproperty .property .mainimg img {
  max-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .propDetails ul li {
  padding-left: 10px;
  padding-bottom: 10px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #1F1D01;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #196619;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
}
.propertylist {
  padding: 20px 20px 0px;
}
.propertylist .btn-primary {
  margin-right: 4px;
  margin-bottom: 10px;
  padding: 6px 10px;
}
.propertylist .readmore {
  text-align: center;
}
.propertylist .readmore .viewdtls {
  margin-right: 10px;
}
.propertylist .panel {
  background-color: #3a322f;
}
.propertylist .panel-default {
  border-color: #196619;
}
.propertylist .panel-body {
  padding: 5px 15px 15px;
}
.propertylist .table td {
  border: none;
  padding: 1px 10px;
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 229px;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 229px;
  }
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
}
.carousel-inner .carousel-caption {
  position: absolute;
  background-color: red;
  color: #ffffff;
  height: 100px;
  width: 200px;
}
.carousel-indicators {
  background-color: #ef321f;
  position: absolute;
  bottom: -53px;
  left: 50%;
  z-index: 15;
  width: 60%;
  height: 100px;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  animation-name: carousel;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes carousel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel-caption {
  position: absolute;
  background-color: red;
  color: #ffffff;
}
.contentModule .products {
  background-color: transparent;
}
.contentModule .products .thumbnail {
  background: transparent;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 500px;
  overflow: hidden;
}
.contentModule .products .thumbnail .prodimg {
  height: 250px;
  width: 100%;
  text-align: center;
}
.contentModule .products .thumbnail .prodimg img {
  height: 250px;
  width: 100%;
  text-align: center;
  border: 5px solid transparent;
}
.contentModule .products .thumbnail .prodimg img:hover {
  opacity: 0.5;
}
.contentModule .products .thumbnail p {
  color: #000000;
  text-align: center;
  padding: 20px;
}
.contentModule .products .thumbnail h4 {
  text-align: center;
  color: #000000;
}
.contentModule .products .thumbnail h4:hover {
  color: #ef321f;
}
div.sections > div:nth-child(1) {
  animation-name: serv1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
div.sections > div:nth-child(2) {
  animation-name: serv2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.sections > div:nth-child(3) {
  animation-name: serv3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv3 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
header {
  background-image: url('../img/bg1.png');
  height: 300px;
}
header .logo {
  height: 100px;
  width: 100px;
  margin-top: 18%;
}
header h1 {
  margin-top: -15px;
}
h1,
h2,
h3 {
  color: #000000;
  text-align: center;
}
container-fluid {
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-default {
  background-image: url('../img/bg1.png');
  opacity: 0.9;
  margin-bottom: -1px;
  border: none;
  border-top: 1px solid #ffffff;
}
.navbar-default .navbar-nav > li {
  padding: -5px;
  float: none;
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  padding: 35px;
  padding-right: 10px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  color: #d3eaa2;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #ef321f;
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #ef321f;
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background-color: #ffffff;
  list-style: none;
  display: none;
  color: #ef321f;
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: #ef321f;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background-color: #196619;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.homeAboutus {
  text-align: center;
  background-color: #3a322f;
  margin-top: -20px;
}
.homeAboutus h1 {
  padding: 60px;
}
.homeAboutus .tagline {
  color: #ffffff;
}
.homeAboutus .tagline1 {
  color: #ffffff;
}
.row {
  margin: 0px;
}
.btn-info {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
.bg1 {
  height: 400px;
  width: 100%;
  background-image: url('../img/bg3.jpg');
  background-size: 100% 100%;
}
footer {
  background-image: url('../img/bg1.png');
  height: 100px;
}
footer p {
  padding-top: 4%;
}
footer a {
  color: #000000;
}
.panel-default {
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 386px;
}
.about p {
  text-align: justified;
}
