@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'ArbutusSlab-Regular';
  src: url('../fonts/ArbutusSlab-Regular.ttf');
}
.featrtesti {
  background-image: url('../img/bg4.jpg');
  height: 400px;
}
.featrtesti h3 {
  color: #ffffff;
  padding: 26px;
  font: 400 34px/48px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
}
.featrtesti .description {
  animation-name: test1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
.featrtesti .description p {
  color: #ffffff;
  font: 400 15px/20px "Arbutus Slab", sans-serif;
}
@keyframes test1 {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.featrGallery .thumbnail {
  width: 200px;
  height: 200px;
}
.featrGallery .thumbnail img {
  width: 100%;
  height: 100%;
}
.infrastructure {
  height: 500px;
}
.infrastructure .thumbnail {
  overflow: hidden;
  height: 450px;
}
.infrastructure .thumbnail .infraImg {
  height: 200px;
}
.infrastructure .thumbnail .infraImg img {
  height: 200px;
  width: 100%;
}
.infrastructure .thumbnail .caption {
  height: 150px;
}
div.infrastructure > div.row > div:nth-child(1) {
  animation-name: abt1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 2s;
}
@keyframes abt1 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(3) {
  animation-name: abt2;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 3s;
}
@keyframes abt2 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(5) {
  animation-name: abt3;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 4s;
}
@keyframes abt3 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(7) {
  animation-name: abt4;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
  animation-delay: 5s;
}
@keyframes abt4 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(9) {
  display: none;
}
.services .servdesc {
  padding: 30px;
}
.services .servdesc .description {
  height: 100px;
  overflow: hidden;
}
.services .servdesc h4 {
  margin-top: -18px;
}
.services .servdesc .readmore a {
  border: 1px solid #000000;
  background-color: transparent;
}
.services .servdesc .readmore a:hover {
  background-color: #ef321f;
  color: #ffffff;
  border: 1px solid transparent;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
}
.carousel-inner .carousel-caption {
  position: absolute;
  background-color: red;
  color: #ffffff;
  height: 100px;
  width: 200px;
}
.carousel-indicators {
  background-color: #ef321f;
  position: absolute;
  bottom: -53px;
  left: 50%;
  z-index: 15;
  width: 60%;
  height: 100px;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  animation-name: carousel;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes carousel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel-caption {
  position: absolute;
  background-color: red;
  color: #ffffff;
}
.contentModule .products {
  background-color: transparent;
}
.contentModule .products .thumbnail {
  background: transparent;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 500px;
  overflow: hidden;
}
.contentModule .products .thumbnail .prodimg {
  height: 250px;
  width: 100%;
  text-align: center;
}
.contentModule .products .thumbnail .prodimg img {
  height: 250px;
  width: 100%;
  text-align: center;
  border: 5px solid transparent;
}
.contentModule .products .thumbnail .prodimg img:hover {
  opacity: 0.5;
}
.contentModule .products .thumbnail p {
  color: #000000;
  text-align: center;
  padding: 20px;
}
.contentModule .products .thumbnail h4 {
  text-align: center;
  color: #000000;
  font: 400 22px/36px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
}
.contentModule .products .thumbnail h4:hover {
  color: #ef321f;
}
div.sections > div:nth-child(1) {
  animation-name: serv1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
div.sections > div:nth-child(2) {
  animation-name: serv2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.sections > div:nth-child(3) {
  animation-name: serv3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv3 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
header {
  background-image: url('../img/bg1.png');
  height: 300px;
}
header .logo {
  height: 100px;
  width: 100px;
  margin-top: 18%;
}
header h1 {
  margin-top: -30px;
  font: 400 34px/48px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
header .tagline {
  font: 400 14px/14px "Arbutus Slab", sans-serif;
  color: #d3eaa2;
}
.c1 {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
}
.c1:hover {
  color: #ffffff;
  background-color: #ef321f;
}
h1,
h2,
h3 {
  color: #000000;
  text-align: center;
}
.align {
  text-align: left;
}
container-fluid {
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-default {
  background-image: url('../img/bg1.png');
  opacity: 0.9;
  margin-bottom: -1px;
  border: none;
  border-top: 1px solid #ffffff;
}
.navbar-default .navbar-nav > li {
  padding: -5px;
  float: none;
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  padding: 35px;
  padding-right: 10px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  color: #d3eaa2;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #ef321f;
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #ef321f;
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background-color: #ffffff;
  list-style: none;
  display: none;
  color: #ef321f;
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: #ef321f;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background-color: #196619;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.homeAboutus {
  text-align: center;
  background-color: #3a322f;
  margin-top: -20px;
}
.homeAboutus h1 {
  padding: 85px;
  font: 400 36px/48px "Arbutus Slab", sans-serif;
  color: #ffffff;
}
.homeAboutus .tagline {
  color: #ffffff;
  margin-top: -76px;
}
.homeAboutus .tagline1 {
  color: #ffffff;
}
.row {
  margin: 0px;
}
.btn {
  border-radius: 0px !important;
}
.btn-info {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
.bg1 {
  height: 400px;
  width: 100%;
  background-image: url('../img/bg3.jpg');
  background-size: 100% 100%;
}
footer {
  position: relative;
  background-image: url('../img/bg1.png');
  height: 210px;
}
footer p {
  padding-top: 9%;
}
footer a {
  color: #000000;
}
.panel-default {
  color: #ffffff;
  background-color: #3a322f;
  border: none;
}
.panel-default .form-control {
  background-color: #3a322f;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.panel-default input {
  width: 100%;
  height: 65px;
}
.panel-default textarea {
  height: 246px;
}
.panel-default .form-group {
  display: inline-block;
}
.about {
  margin-top: -1px;
  height: 500px;
  overflow: hidden;
}
.about img {
  height: 200px;
  width: 200px;
  border: 1px solid #000000;
  horizontal-align: center;
}
.sociallinks {
  position: absolute;
  display: inline;
  width: 300px;
  right: 110px;
  padding-top: 7%;
}
.sociallinks li {
  display: inline;
}
.sociallinks .img {
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  height: 58px;
  width: 58px;
  margin: 2px;
}
.sociallinks #img1 {
  background: url('../img/social.png') -58px -1px;
}
.sociallinks #img2 {
  background: url('../img/social.png') -111px -1px;
}
.sociallinks #img3 {
  background: url('../img/social.png') -171px -1px;
}
.sociallinks #img4 {
  background: url('../img/social.png') -517px -1px;
}
.testimonials {
  height: 500px;
  overflow: hidden;
}
.pad {
  padding: 20px;
}
