@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Rokkitt';
  src: url('../fonts/Rokkitt.otf');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf');
}
.testicontainer {
  background-image: url('../img/testi.jpg');
  background-size: 100% 100%;
}
.featrtesti > div:hover blockquote {
  display: block;
}
.featrtesti > div:hover img {
  opacity: 0.5;
  transform: 0.1;
}
.featrtesti h3 {
  color: #ffffff;
  padding: 26px;
  font: 400 30px/35px "pt-sans.narrow" sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.featrtesti img {
  position: relative;
  z-index: 998;
}
.featrtesti blockquote {
  border-left: none !important;
  position: absolute;
  z-index: 999;
  display: none;
}
.featrtesti blockquote .description p {
  color: #ffffff;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
  margin: 50px;
  vertical-align: middle;
}
.featrtesti blockquote footer {
  text-align: center;
  color: #000000;
}
.featrtesti > div {
  padding-left: 0px;
  padding-right: 0px;
}
.featrGallery {
  animation-name: gallery;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.featrGallery h3 {
  color: #ffffff;
  font: 400 36px/35px "pt-sans.narrow" sans-serif;
}
.featrGallery .thumbnail .galleryimage {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.featrGallery .thumbnail .galleryimage img {
  min-height: 200px;
  width: 100%;
}
.featrGallery .thumbnail .caption .description {
  height: 150px;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
  overflow: hidden;
}
@keyframes gallery {
  0% {
    opacity: 0px;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.activity h2 {
  font: 400 36px/48px "Arbutus Slab", sans-serif;
}
.activity .panel {
  background-color: rgba(165, 163, 156, 0.37);
}
.activity .panel-body {
  padding: 0px !important;
}
.activity .panel-body > .row > div {
  padding: 0px !important;
}
.activity .panel-body .testimage {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.activity .panel-body .testimage img {
  width: 100%;
}
.activity h3 {
  text-align: left;
  color: #ffffff;
  font: 400 18px/48px "Arbutus Slab", sans-serif;
}
.activity .btn-info {
  background-color: #464646;
  color: #ffffff;
  padding: 12px;
  margin: 43px;
}
.activity .description {
  height: 100px;
  margin: 10px;
  overflow: hidden;
  color: #ffffff;
}
.jobs .panel {
  background-color: rgba(230, 198, 85, 0.41);
}
.jobs h2 {
  text-align: center;
}
.jobs .description p {
  text-align: justify;
}
.infrastructure {
  height: 500px;
}
.infrastructure .thumbnail {
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  height: 450px;
}
.infrastructure .thumbnail .infraImg {
  height: 200px;
}
.infrastructure .thumbnail .infraImg img {
  height: 200px;
  width: 100%;
}
.infrastructure .thumbnail .caption {
  height: 150px;
}
div.infrastructure > div.row > div:nth-child(1) {
  animation-name: abt1;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
@keyframes abt1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(3) {
  animation-name: abt2;
  animation-duration: 2s;
  aniamtion-iteration-count: 1;
}
@keyframes abt2 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
div.infrastructure > div.row > div:nth-child(5) {
  animation-name: abt3;
  animation-duration: 3s;
  aniamtion-iteration-count: 1;
}
@keyframes abt3 {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
div.infrastructure > div.row > div:nth-child(7) {
  animation-name: abt4;
  animation-duration: 3s;
  aniamtion-iteration-count: 1;
}
@keyframes abt4 {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
div.infrastructure > div.row > div:nth-child(9) {
  display: none;
}
.services {
  margin-top: 120px;
  animation-name: services;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.services .media-object {
  background-color: rgba(249, 186, 46, 0.5);
  padding: 20px;
}
.services .media-left {
  height: 100px;
  width: 100px;
}
.services img {
  height: 100px;
  width: 100%;
}
.services .media-body h4 {
  padding: 10px;
  color: #ffffff;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
}
@keyframes services {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.carousel-inner .item {
  height: 850px;
}
.carousel-inner .item img {
  height: 850px;
  width: 100%;
}
.carousel-inner .carousel-caption {
  color: #ffffff;
  top: 40%;
}
.carousel-inner .carousel-caption h2 {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  animation-name: caro1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.carousel-inner .carousel-caption p {
  animation-name: caro2;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.carousel-inner .btn {
  border-radius: 0px !important;
}
.carousel-inner .btn-info {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px;
}
.carousel-inner .btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
@keyframes caro1 {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes caro2 {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.contentModule {
  background-image: url('../img/products.jpg');
  background-size: 100% 100%;
  padding: 20px;
}
.contentModule .tagline {
  font: 400 34px/40px "Arbutus Slab", sans-serif;
  color: #ffffff;
  text-align: center;
  padding-top: 67px;
  animation-name: tagline1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.contentModule .products {
  background-color: transparent;
  text-align: center;
}
.contentModule .products .thumbnail {
  background: transparent;
  border: none;
  padding: 10px;
  height: 300px;
  overflow: hidden;
  margin-top: 60px;
}
.contentModule .products .thumbnail .prodimg {
  height: 300px;
  width: 100%;
  text-align: center;
}
.contentModule .products .thumbnail .prodimg img {
  height: 300px;
  text-align: center;
  border: 5px solid transparent;
}
.contentModule .products .thumbnail .prodimg img:hover {
  opacity: 0.5;
}
.contentModule .products .thumbnail p {
  color: #ffffff;
  text-align: center;
}
.contentModule .products .thumbnail h4 {
  text-align: center;
  color: #ffffff;
  font: 400 22px/36px "Arbutus Slab", sans-serif;
  text-transform: uppercase;
}
.contentModule .products .thumbnail h4:hover {
  color: #f9ba2e;
}
.contentModule .products .thumbnail hr {
  width: 50px;
}
.contentModule .products .btn-info {
  color: #ffffff;
  background-color: transparent;
  border: none;
  animation-name: btn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes tagline1 {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes btn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
div.sections > div:nth-child(1) {
  animation-name: serv1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
div.sections > div:nth-child(2) {
  animation-name: serv2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.sections > div:nth-child(3) {
  animation-name: serv3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes serv3 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.products {
  margin: 20px;
}
.products h2 {
  text-align: center;
}
.products .thumbnail {
  height: 500px;
}
.products .thumbnail .prodimg {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.products .thumbnail .prodimg img {
  min-height: 200px;
  width: 100%;
}
.products .thumbnail .caption .description {
  height: 150px;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
  overflow: hidden;
}
header .logo {
  height: 150px;
  width: 150px;
  margin-top: 8%;
  border: 1px solid #ffffff;
  background-color: #f9ba2e;
  padding-top: 20px;
}
header .tagline {
  font: 400 34px/40px "pt-sans.narrow" sans-serif;
  color: #ffffff;
  padding-top: 67px;
  animation-name: tagline;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
header .tagline1 {
  color: #ffffff;
  padding: 10px;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
  animation-name: tagline;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes tagline {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  background-image: url('../img/products.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  animation-name: h2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes h2 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn-info {
  color: #000000;
  background-color: #f9ba2e;
  border: none;
  border-top: 3px solid transparent;
  padding: 10px;
}
.btn-info:hover {
  border-top: 3px solid #ffffff;
  background-color: rgba(249, 186, 46, 0.5);
}
#googleMap {
  height: 400px;
  border: 1px solid #000000;
}
.contact h2 {
  text-align: center;
  color: #ffffff;
}
.contact .logo {
  height: 150px;
}
.contact b,
.contact td {
  color: #ffffff;
}
.sociallinks li {
  display: inline;
}
.sociallinks a {
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  height: 58px;
  width: 58px;
  margin: 2px;
  background-color: rgba(8, 8, 8, 0.54);
  padding: 10px;
}
.sociallinks a:hover {
  background-color: rgba(53, 58, 76, 0.52);
}
.sociallinks a img {
  height: 40px;
  width: 40px;
}
.navbar-default {
  background-color: rgba(234, 171, 5, 0.44);
  margin-bottom: -1px;
  border: none;
  border-top: 1px solid #ffffff;
}
.navbar-default .navbar-nav > li {
  padding: -5px;
  float: none;
  margin-bottom: 0px;
  position: relative;
  animation-name: navbar;
  animation-iteration-count: 1;
  animation-duration: 3s;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  padding: 30px 15px;
  padding-right: 10px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  color: #f9ba2e;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: rgba(249, 186, 46, 0.5);
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: rgba(249, 186, 46, 0.5);
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background-color: #ffffff;
  list-style: none;
  display: none;
  color: #ef321f;
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: rgba(249, 186, 46, 0.5);
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background-color: #196619;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.navbar-default .navbar-collapse {
  margin-left: 137px;
  margin-right: 137px;
}
@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateX:20px;
  }
  100% {
    opacity: 1;
    transform: translateY:0px;
  }
}
.homeAboutus {
  background-color: rgba(249, 186, 46, 0.55);
  height: 220px;
  margin-top: -21px;
}
.homeAboutus h1 {
  text-align: center;
  font: 400 30px/35px "pt-sans.narrow" sans-serif;
  color: #ffffff;
  padding: 16px;
}
.homeAboutus p {
  color: #ffffff;
  text-align: center;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
  padding: 10px;
}
.contact {
  animation-name: contact;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.contact table h2 {
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
}
.contact table h4 {
  font: 400 20px/1em "pt-sans.narrow" sans-serif;
}
.contact table address {
  font: 400 20px/1em "pt-sans.narrow" sans-serif;
}
.contact span p {
  font: 400 20px/1empx "pt-sans.narrow" sans-serif;
}
.contact td {
  font: 400 20px/1em "pt-sans.narrow" sans-serif;
}
@keyframes contact {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.panel-default {
  color: #ffffff;
  background-color: rgba(187, 135, 18, 0.47);
  border: none;
}
.panel-default .form-control {
  background-color: rgba(249, 186, 46, 0.14);
  display: inline-block;
  width: 100%;
  margin: 5px;
  vertical-align: middle;
}
.panel-default input {
  width: 100%;
  height: 65px;
}
.panel-default textarea {
  height: 246px;
}
.panel-default .form-group {
  display: inline-block;
}
.panel-default h3 {
  font: 400 36px/40px "pt-sans.narrow" sans-serif;
  color: #ffffff;
  text-align: center;
}
.panel-default .btn {
  border-radius: 0px !important;
}
.panel-default .btn-info {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}
.panel-default .btn-info:hover {
  color: #ffffff;
  background-color: #ef321f;
}
.panel-default .col-xs-12,
.panel-default .col-sm-12,
.panel-default .col-md-12,
.panel-default .col-lg-12 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.row {
  margin: 0px;
}
.about {
  color: #ffffff;
}
.about h2,
.about h3 {
  text-align: center;
  color: #f9ba2e;
  font: 400 36px/40px "pt-sans.narrow" sans-serif;
}
.about strong {
  color: #f9ba2e;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
}
.about p {
  text-align: justify;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
}
.about center {
  text-align: justify;
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
}
.about li {
  font: 400 20px/25px "pt-sans.narrow" sans-serif;
}
footer p,
footer a {
  color: #ffffff;
  font: 400 15px/20px "pt-sans.narrow" sans-serif;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .sociallinks {
    text-align: center;
  }
}
.col-sm-6.col-md-3.thumbnail {
  margin-left: 200px;
}
.col-xs-12.col-sm-12.col-lg-4 {
  text-align: center;
}
@media (min-width: 1024px) {
  .navbar > .container .navbar-brand {
    margin-left: 15% !important;
  }
}
@media (max-width: 320px) {
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #000000;
    border-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
}
.navbar-collapse {
  padding: 0px;
}
.navbar-toggle {
  border: 1px solid rgba(249, 186, 46, 0.5);
  margin-top: 45px;
}
.navbar-toggle .icon-bar {
  background-color: rgba(249, 186, 46, 0.5);
}
