//featured servieces
.services{
	.servdesc{
		.readmore{
			margin-bottom : 30px;
		}
	}
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkcolor;
		}
	}
}
//singleproduct
.products,	.singleproduct{
	.thumbnail{
		border-color: @darkbackcolor;
	}
} 
.products{
	.thumbnail{
		img{
			width : 100%;
		}
		.readmore{
			padding-left : 10px;
		}
	}
}

@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 465px;
			.caption{
				height: 138px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 186px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
			.caption{
				height: 150px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 100px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 415px;
			.caption{
				height: 195px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}