.products,	.singleproduct{
	.thumbnail{
		border-color: @darkbackcolor;
	}
} 

@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 465px;
			img{
				height : 240px;
			}
			.caption{
				height: 138px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 190px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
			img{
				height : 242px;
			}
			.caption{
				height: 142px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 155px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 415px;
			img{
				height : 189px;
			}
			.caption{
				height: 165px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}