//css for featured project slider
.highlight
{
	color:@colorwhite;
}
.bxslider{ 
	li{
		.projimg{
			height : 175px;
			overflow : hidden;
			padding : 6px;
			border : 2px solid @color;
			img{
				min-height: 175px;
			}
			&:hover{
				border : 2px solid @darkcolor;
			}
		}
		p{
			margin-bottom : 0px;
			margin-top : 0px;
		}
		a{
			color:@color;
			font-weight : bold;
			text-decoration:underline;
			&:hover{
				color:@color;
				text-decoration:none;
			}
		}
	}
}
//homeproject
.homeproject{
	margin-bottom: 10px;
	.projectCarousal{
		display : inline-block;
		float : left;
		position : relative;
		.carousel-inner{
			.item{
				height : 342px;
				overflow: hidden;
				img{
					min-height : 415px;width : auto;
				}
			}
			.carousel-caption{
				h2{
					border : none;
				}
			}
		}
		.projsnap{
			width : 0px;
			height : 342px;
			opacity : 0;
			background-color : rgba(115,146,184, 0.7);
			//border : 20px solid @back;
			transform: translateX(530px);
			transition: all 800ms ease-in;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			img{
				height : 110px;
				margin-top: 10px;
				margin-bottom: 10px;
				border : 1px solid @color;
				border-radius : 5px;
				padding :4px;
			}
			p, .viewproperty a {
				color: @colorwhite;
				font-size: 20px;
				text-shadow: 3px 2px 1px #000;
			}
			.viewproperty{
				margin-top: 15px;
				text-align: center;
				a{
					&:hover{
						color : @colorwhite;
					}
				}
			}
		}
	}
	.projectCarousal:hover{
		.projsnap{
			opacity : 1;
			width : 529px;
			transform: translateX(0px);
		}
	}
	.projectnav{
		display : inline-block;
		height : 342px;
		padding:0px 15px 15px;
		background-image: -webkit-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
		background-image: -moz-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
		background-image: linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
		.builderLogo{
			img{
				max-height : 56px;
			}
		}
		.nav-stacked{
			margin: 5px;
			>li{
				padding : 4px;
				border-bottom:1px dotted @lightbackcolor ;
				>a, > a:focus{
					color : @colorwhite;
					padding: 10px 15px;
					padding-top:2px;
				} 
				
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					text-decoration: none;
					background-color: transparent;
					color:@lightcolor;
				}
			}
		}
	}
	
}//css for single project & project list
	.projlist{
		border:1px solid @darkbackcolor;
		background-color:@lightbackcolor;
		padding:10px;
		.project{
			.thumbnail{
				height:385px;
				padding-top : 15px;
				.projectimg{
					width : 190px;
					height : 148px;
					overflow : hidden;
					img{
						min-height : 148px;
					}
				}
				.caption{
					color : @lightcolor;
					a{
						color: @color;
						text-decoration: none;
						&:hover{
							color : @color;
							text-decoration : underline;
						}
					}
				}
				.caption p{
					color:@colorblack;
				}
			}
			
		}
		
	}
	.project{
		.navbar{
			height:50px;
			border: 1px solid @lightbackcolor;
			border-radius: 0;
			margin-top:10px;
			margin-bottom:10px;
			height : 20px;
			width:auto;
		}
		ul.nav.navbar-nav {
			background-color :@darkbackcolor;
			height : 42px;
			>li{
				border-right : 1px solid @lightbackcolor;
				height : 38px;
				>a, > a:focus{
					padding : 9px 14px;
					color : @colorwhite;
					font-weight : bold;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					color : @lightcolor;
					background-color : @darkbackcolor;
				}
			}
		}
		.projImg{
			margin-right: 20px;
			max-height : 175px;
		}
		.projectgallery{ 
			background-color:transparent;
			border : 1px solid @darkbackcolor;
			padding: 20px 20px 0px;
			.thumbnail{
				background-color : @darkbackcolor;
				.projectImags{
				height : 150px;
				width : 182px;
				overflow : hidden;
				img{
					min-height : 150px;
				}
			}
			.caption{
				height: 173px;
				overflow: hidden;
				margin-bottom: 10px;
			}
			}
		}
	}
	
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
		.projectnav{
			width : 242px;
		}
		.projectCarousal{
			width : 620px;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
		.projectnav{
			width: 200px;
		}
		.projectCarousal{
			width: 512px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
		.projectnav{
			width : 200px;
		}
		.projectCarousal{
			width : 529px;
		}
	}