//project
.homeproject{
	.projectCarousal{
		width : 620px;
		display : inline-block;
		float : left;
		.carousel-inner{
			.item.active{
				height : 372px;
				overflow: hidden;
			}
			.carousel-caption{
				h2{
					border : none;
				}
			}
		}
	}
	.projectnav{
		width : 242px;
		height : 372px;
		display : inline-block;
		background-image: -webkit-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
		.nav-stacked{
			margin: 5px;
			>li{
				border-bottom:1px dotted @lightbackcolor ;
				>a, > a:focus{
					color : @colorwhite;
					padding: 10px 15px;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					text-decoration: none;
					background-color: transparent;
					color:@lightcolor;
				}
			}
		}
	}
	
}
.highlight{
	color :@color; 
}
.project{
	.navbar{
		height : 20px;
	}
	
	ul.nav.navbar-nav {
		background-color: @back;
		border-bottom: 4px solid @lightbackcolor;
		height : 42px;
		>li{
			border-right : 1px solid @lightbackcolor;
			height : 38px;
			>a, > a:focus{
				padding : 9px 14px;
				color : @lightcolor;
				font-weight : bold;
			} 
			&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
				background-color: @color ;
				color : @colorblack;
			}
		}
	}
	.projImg{
		margin-right: 20px;
	}
	.projImgs{
		margin-bottom: 20px;
		max-height : 175px;
	}
}
.projectgallery, .projlist{
	//background-color : @back;
	border : 1px solid @lightbackcolor;
	padding: 20px 20px 0px;
	.thumbnail{
		//background-color : @darkbackcolor;
	}
}
//projectlist
.projlist{
	.thumbnail{
		padding-top : 15px;
		height: 350px;
		.caption{
			//color : @lightcolor;
			a{
				color : @color;
				text-decoration : none;
				&:hover{
					color : @color;
					text-decoration : underline;
				}
			}
		}
	}
}
@media (min-width: 320px){
	.projImg{
		float :none;
	}
}
@media (min-width: 992px){
	.projImg{
		float :left;
	}
}
@media (min-width: 1200px){
	.projImg{
		float :left;
	}
}