@font-face{
	font-family:'Acknowledgement';
	src:url('../fonts/Acknowledgement.otf');
}
@font-face{
	font-family:'FengardoNeue_Regular';
	src:url('../fonts/FengardoNeue_Regular.otf');
}
@color :   #337ab7 ;
@lightcolor : #99ccff;
@darkcolor : #23527c;
@back : #337ab7;
@darkbackcolor : #2d4065;
@lightbackcolor : #F5F9FF; 
@colorblack : #000;
@colorwhite	: #fff;
@import "property.less";
@import "project.less";
@import "product.less";
@import "general.less";
*{
	transition : 300ms;
}
.container{
	width : 992px !important;
}
html{
	min-width : 1022px;
}
body{
	font-family : 'FengardoNeue_Regular';
	.sociallinks{
		margin-top: 232px;
		position: fixed;
		z-index : 999;
		ul{
			list-style : none;
			li{
				transform: translateX(-115px);
				padding: 4px 4px 4px 10px;
				background-image: -webkit-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
				background-image: -moz-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
				background-image: linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				a{
					color:@colorwhite;
					&:hover{
						color:@colorwhite;
						text-decoration : underline;
					}
				}
				img{
					width : 50px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	header{
		.nava{padding-right:0px;}
		.caro{
			padding-left:0px;
			.content{
				padding-left : 20px;
			}
		}
		.logo{
			padding:10px 0px;
			border-bottom : 3px solid @darkcolor;
			img{
				height: 100px;
			}
		}
		
		.sidenav{
			background: @darkbackcolor;
			background-image: -webkit-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
			background-image: -moz-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
			background-image: linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
			padding:0px 15px 15px;
			.nav{
				li{
					border-bottom:1px dotted @lightbackcolor ;
					position : relative;
					padding : 2px 4px;
					> a{
						color:@colorwhite;
						padding: 10px 15px;
						&:hover,&:focus,{
							text-decoration : none;
							background-color : transparent;
							color : @lightcolor;
						}
					} 
					&.active a,span{
						background-color: transparent;
						color:@lightcolor;
					}
					.navigation{
						padding:10px;
						font-size:20px;
					}
					ul {
						display: none;
						position :absolute;
						list-style : none;
						background-image: -webkit-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
						padding:15px;
						left: 100%;
						width: 278px;
						top: 0;
						z-index: 999;
						>li{
							border-bottom:1px dotted @lightbackcolor ;
							>a{
								color:@colorwhite;
								padding: 10px 15px;
								display: block;
								&:hover{
									color:@lightcolor;
									text-decoration: underline;
								}
							}
							> ul{
								display: none;
								list-style :none;
								>li{
								border-bottom:1px dotted @lightbackcolor ;
									>a{
										color:@colorwhite;
										padding: 10px 15px;
										display: block;
										&:hover{
											color:@lightcolor;
											text-decoration: underline;
										}
									}
								}
							}
							&:hover > ul {
								display: block;
							}
						}
					}
					&:hover > ul {
						display: block;
					}
				}
			}
		}
	}
	.contentModule, .sidebarModule{
		border:1px solid @darkbackcolor;
		margin-top:10px;
		margin-bottom: 10px;
		.sections{
			padding: 0px 15px;
		}
		h3{
			margin-top:0px;
			font-size:15px;
			color:@colorwhite;
			background-color:@darkbackcolor;
			padding:10px 15px;
		}
	}
	.sidebarModule{
		padding : 15px;
		>h3{
			margin : -15px -15px 10px;
		}
		.panel{
			margin-bottom :0px;
		}
		&.enquiry, &.sidemenu{
			padding-bottom : 0px;
		}
	}
	main{
		margin-top:15px;
		.featured{
			margin-top:10px;
		}
		.container {
		  background-color: @lightbackcolor;
		}
	}
	
	//global css
	a{
		color : @color;
		&:hover{
			color : @darkcolor;
		}
	}
	h1, h2{
		font: 2em/1.5em Acknowledgement;
		margin-top : 10px;
	}
	h1, h2, h3, h4,.tagline, .tagline1{
		color:@darkcolor;
	}
	.thumbnail{
		border-color : @lightcolor;
	}
	.tagline, .tagline1{
		text-align : center;
		font-weight : bold;
		font-size : 18px;
	}
	.btn-info{
		&, &:focus, &:active, &[disabled]{
			background:none;
			border : none;
			border-radius : 0px;
			color:@color;
			font-weight: bold;
			padding-left: 0px;
		}
		&:hover{
			color : @darkcolor;
			background : none;
			text-decoration : underline;
		}
	}
	//hr
	hr{
		border-style : dashed;
		border-color: #333;
		margin :5px 0px;
	}
	.btn-link{
		color : @color;
		font-size: 18px;
		padding-left : 0px;
		&:hover{
			color : @darkcolor;
		}
	}
	
	.sidebarModule{
		.btn-info{
			&, &:focus, &:active, &[disabled]{
				background-color : @back;
				color : @colorwhite;
				border-radius : 0px;
				font-weight : bold;
				padding-left : 12px;
			}
			&:hover{
				background-color : @darkcolor;
			}
		}
		.send{
			margin-right : 8px;
		}
		.sideimg{
			margin-bottom : 10px;
		}
	}
	footer{
		padding : 20px;
		background-image: -webkit-linear-gradient(left,@darkbackcolor,@darkcolor 93%, @darkbackcolor);
		color : @colorwhite;
		p {
			margin : 0;
		}
		a, a:hover{
			color : @colorwhite;
		}
	}
}