
<footer>
	<div class="container">
		<div class="col-xs-6 col-sm-4 col-md-4 text-center ">
			<h4 class="text-center">Contact us</h4>
			<p>{{data.business_name}}:</p>
						<address class="wt">
							{{data.contact_profile.address}}<br>
							{{data.city}}-{{data.pincode}},<br>
							{{data.state|capitalize}},<br>
							{{data.country|capitalize}}.
						</address>
				<p><>{{data.contact_profile.email}}</p>	
				<p>{{data.contact_profile.fax}}	</p>
				<p>{{data.contact_profile.phone}}</p>					
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4 text-center ">
			<h4>Gallery</h4>
			<div class="row gallery">
				{% if data.gallery %}
					{% for key, value in data.gallery %}
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<div class="thumbnail ">
								<div class="imgs">
									<img class="img-responsive top" src="{{value.image.file_relative_path}}" alt="{{key}}" />
								</div>
							</div>
					</div> 
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</footer>