{% autoescape false %}
<div class="container">
			<div class="row">
				<div class="col-md-9">
					<table class="table table-bordered">
						  <tr>
							<th>Name of Previous School/College </th>
							<th>Name of Previous Exams</th>
							<th>Exam Center</th>
							<th>Exam Center and Exam No</th>
							<th>passing year and month </th>
							<th>Total Marks</th>
							<th>Marks Obtained</th>
							<th>Percentage</th>
							<th>Grade</th>
						  </tr>
						  <tr>
							<td>Jill</td>
							<td>Smith</td>		
							<td>50</td>
							<td>Eve</td>
							<td>Jackson</td>		
							<td>94</td>
							<td>Eve</td>
							<td>Jackson</td>		
							<td>94</td>
						  </tr>
					</table>
			</div>
		</div>	
	</div>
{% endautoescape %}