{% autoescape false %}
<div class="container">
			<div class="row">
				<div class="col-md-9">
					<form role="form"  class="form-horizontal" name="myForm"   ng-app="myApp" ng-controller="mycontrole" novalidate>
						<h2>Student Information</h2>
							<div class="form-group">
								 <label for="fname" class="col-sm-2 control-label">Firstname*</label>
								 <div class="col-sm-10">
									<input type="text" class="form-control" name="Firstname" ng-model="student.Firstname" id="fname" placeholder="Firstname"  required>
									 <span style="color:red" ng-show="myForm.Firstname.$dirty && myForm.Firstname.$invalid">
										<span ng-show="myForm.Firstname.$error.required">Firstname is required.</span>
										</span>
								</div>
							</div>
							
							<div class="form-group">
								 <label for="lname" class="col-sm-2 control-label" >Lastname*:</label>
								  <div class="col-sm-10">
									<input type="text" class="form-control" name="Lastname" ng-model="student.Lastname" id="lname" placeholder="Lastname" required>
									 <span style="color:red" ng-show="myForm.Lastname.$dirty && myForm.Lastname.$invalid">
									<span ng-show="myForm.Lastname.$error.required">Lastname is required.</span>
									</span>
								</div>
							</div>
							
							<div class="form-group">
								<label for="gender" class="col-sm-2 control-label">Gender:</label>
								
								<div class="radio-inline">
									<label class=" col-sm-2 control-label" >
									<input type="radio" name="Male" id="gender" >Male</label>
								</div>
								
								<div class="radio-inline">
									<label class=" col-sm-2 control-label" >
									<input type="radio" name="Female" id="gender" >Female</label>
								</div>
							</div>
							
							<div class="form-group">
								 <label for="peramnent_address" class="col-sm-2 control-label" > Permanent Address*:</label>
								 <div class="col-sm-10">
									<textarea type="text"  rows="3" class="form-control" name="P_Address" ng-model="student_permnent_address" id="peramnent_address" placeholder="Permanent Address" required> </textarea>
									 <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
									<span ng-show="myForm.user.$error.required">Username is required.</span>
									</span>
								</div>
							</div>
							
							<div class="form-group ">
								 <label for="postal_code" class="col-sm-2 control-label">Postal Code*:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="Postal_Code" ng-model="student_Postal_Code" id="postal_code" placeholder="Postal Code" required>
									 <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
									<span ng-show="myForm.user.$error.required">Username is required.</span>
									</span>
								</div>
								
								<label for="city" class="col-sm-2 control-label">City*:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="City" ng-model="student_city" id="city"  placeholder="City" required> 
									 <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
									<span ng-show="myForm.user.$error.required">City is required.</span>
										</span>
								</div>
							</div>
							
							<div class="form-group">
								<label for="dist" class="col-sm-2 control-label">Dist:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="Dist" id="dist" ng-model="student_Dist"  placeholder="Dist"> 
									</div>
									<label for="state" class="col-sm-2 control-label">State:</label>
									 <div class="col-sm-4">
										<input type="text" class="form-control" name="State" ng-model="student_state" id="state"  placeholder="State" required> 
									</div>
							</div>
							
							<div class="form-group">
								 <label for="current_address" class="col-sm-2 control-label" > Current Address*:</label>
								 <div class="col-sm-10">
									<textarea type="text"  rows="3" class="form-control" name="C_Address" ng-model="student_current_address" id="current_address" placeholder="Current Address" required> </textarea>
								</div>
							</div>
							
							<div class="form-group ">
								 <label for="postal_code" class="col-sm-2 control-label">Postal Code*:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="Postal_Code" ng-model="student_Postal_Code" id="postal_code" placeholder="Postal Code" required>
								</div>
								<label for="city" class="col-sm-2 control-label">City*:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="City" ng-model="student_city" id="city"  placeholder="City" required> 
								</div>
							</div>
							
							<div class="form-group">
								<label for="dist" class="col-sm-2 control-label">Dist:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="Dist" id="dist" ng-model="student_Dist"  placeholder="Dist"> 
									</div>
									<label for="state" class="col-sm-2 control-label">State:</label>
									 <div class="col-sm-4">
										<input type="text" class="form-control" name="State" ng-model="student_state" id="state"  placeholder="State" required> 
									</div>
							</div>
							
							<div class="form-group">
								<label for="bdate" class="col-sm-2 control-label">Date Of Birth:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="BirthDate" id="bdate" ng-model="student_birthDate"  placeholder="BirthDate"> 
										 <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
											<span ng-show="myForm.user.$error.required">DOB is required.</span>
										</span>
									</div>
									<label for="dob" class="col-sm-2 control-label">DOB in words:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="BirthDate" id="dob" ng-model="student_birthDate"  placeholder="DOB in words"> 
									</div>
							</div>
							
							<div class="form-group">
								<label for="birthplace" class="col-sm-2 control-label">Birth Place:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="BirthPlace" id="birthplace" ng-model="student_birthPlace"  placeholder="BirthPlace"> 
									</div>
									<label for="dist" class="col-sm-2 control-label">Dist:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="Dist" id="dist" ng-model="student_Dist"  placeholder="Dist"> 
									</div>
							</div>
							
							<div class="form-group">
								<label for="state" class="col-sm-2 control-label">State:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="State" ng-model="student_state" id="state"  placeholder="State" > 
									</div>
									<label for="Mobile" class="col-sm-2 control-label">Mobile No:</label>
									<div class="col-sm-4">
										<input type="number" class="form-control" name="MobileNo" id="Mobile" ng-model="student_Mobile"  placeholder="Mobile No"> 
										<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
									<span ng-show="myForm.MobileNo.$error.required">Username is required.</span>
									</span> 
									</div>
							</div>
						
							<div class="form-group">
								<label for="status" class="col-sm-2  control-label">Marital Status:</label>
								<div class="radio-inline">
									<label class=" col-sm-2 control-label" >
									<input type="radio" name="Married" id="status" >Married</label>
								</div>
								<div class="radio-inline">
									<label class=" col-sm-2 control-label" >
									<input type="radio" name="Single" id="status" >Single</label>
								</div>
							</div>
							
							<div class="form-group ">
								 <label for="religion" class="col-sm-2 control-label">Religion:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="Religion" ng-model="student_Religion" id="religion" placeholder="Religion" required>
								</div>
								<label for="cast" class="col-sm-2 control-label">Cast:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="Cast" ng-model="student_cast" id="cast"  placeholder="Cast" required> 
								</div>
							</div>
							<div class="form-group ">
								<label for="subcast" class="col-sm-2 control-label">SubCast:</label>
								 <div class="col-sm-4">
									<input type="text" class="form-control" name="subcast" ng-model="student_subcast" id="subcast"  placeholder="SubCast" required> 
								</div>
							</div>	
							<div class="form-group ">
								<label for="fileupload" class="col-sm-2 control-label">Upload your Photo:</label>
								<div class="col-sm-4">
									<input type="file"  name="Fileupload" ng-model="student_subcast" id="fileupload"  placeholder="Upload Your Photo">
								</div>
							</div>	
								<div class="col-sm-offset-4 col-sm-10" >
									<button type="submit" class="btn btn-success col-sm-offset-2 ">Submit</button>
							  </div>
					</form>
				</div>	
			</div>
</div>
				
	
{% endautoescape %}