{% if sliderData >= 1 %}
  <!-- Wrapper for slides -->
  <ul class="carousslider" id="carousslider">
	{% for key, value in sliderData %}
		<li class="item {{ (key == 0) ? 'active' }}">
			<div class="row">
				<div class="col-md-6">
					<h2>{{value.title}}</h2>
					<p>{{value.description}}</p>
				</div>
				{% if value.title %}
				<div class="col-md-6">
					<img class="img-responsive" src="{{value.image ? value.image : value is iterable ? value.file_relative_path : value}}" alt="{{value.title}}">
				</div>
				{% endif %}
			</div>
		</li>
	{% endfor %}
  </ul>
{% endif %}