<div class="main-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.ok()"><span aria-hidden="true">&times;</span></button>
		<h3 class="text-center" ng-if="!modalOptions.bed.id">Add bed</h3>
		<h3 class="text-center" ng-if="modalOptions.bed.id">Update bed</h3>
	</div>
	<div class="modal-body">
		<form name="addbedForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addbedForm.$valid">{{wardList}}
				 <div class="form-group" ng-init="modalOptions.getData(false,false,'ward','wardList',false,modalOptions)">
					<label for="ward_name" class="col-sm-2 control-label"> Select By Ward Name</label>
					<div class="col-sm-8">
					<select id="ward_id" class="form-control" ng-model="modalOptions.bed.ward_id" ng-options="item.id as item.ward_name for item in modalOptions.wardList" required>
					<option value="">Select Ward</option>
					</select>
					<span class="help-block" ng-show="addbedForm.user_id.$dirty && addbedForm.user_id.$invalid">
						<span ng-show="addbedForm.user_id.$error.required" class="text-danger">User id is required.</span>
						</span>	
					</div>
				</div> 
				<div class="form-group" ng-init="modalOptions.getData(false,false,'ward','wardList',false,modalOptions)">
					<label for="ward_charges" class="col-sm-2 control-label">Ward charges</label>
					<div class="col-sm-8">
					<select id="ward_id" class="form-control" ng-model="modalOptions.bed.ward_id" ng-options="item.id as item.ward_charges for item in modalOptions.wardList" required  disabled>
					<option value="">Select Ward</option>
					</select>
					<span class="help-block" ng-show="addbedForm.user_id.$dirty && addbedForm.user_id.$invalid">
						<span ng-show="addbedForm.user_id.$error.required" class="text-danger">User id is required.</span>
						</span>	
					</div>
				</div> 
				<div class="form-group"> 
					<label  for="bed_room" class="col-sm-2 control-label">Room Number / Name</label>
						<div class="col-sm-8">
							<input type="text" id="bed_room" class="form-control"  ng-model="modalOptions.bed.bed_room" name="bed_room" placeholder="Room Number Or Name" required />
							<span class="help-block" ng-show="addbedForm.bed_room.$dirty && addbedForm.bed_room.$invalid">
								<span ng-show="(addbedForm.bed_room.$dirty)" class="text-danger">Enter  bed name!</span>
							</span>
						</div>						
				</div>
				<div class="form-group">
					<label  for="bed_number" class="col-sm-2 control-label">Bed number</label>
						<div class="col-sm-8">
							<input type="text" id="bed_number" class="form-control"  ng-model="modalOptions.bed.bed_number"ng-pattern="/^\d{0,9}[0-9]$/" name="bed_number" placeholder="Bed Number"required />
							<span class="help-block" ng-show="addbedForm.bed_number.$dirty && addbedForm.bed_number.$invalid">
								<span ng-show="(addbedForm.bed_number.$dirty)" class="text-danger">Enter  be number only!</span>
								<span ng-show="(addbedForm.bed_number.$dirty)" class="text-danger">Enter number only!</span>
							</span>
						</div>						
				</div>
				<div class="form-group">
				<label for="bed_description" class="col-sm-2 control-label">Bed Description*</label>
					<div class="col-sm-8">
						<textarea  class="form-control" id="bed_description" ng-model="modalOptions.bed.bed_description" name="bed_description" placeholder="Enter Bed Description"  ng-maxlength="250" required></textarea>
						<span class="text-danger"  ng-show="addbedForm.bed_description.$error.pattern">Please enter valid bed description</span>
						<span ng-hide="addbedForm.bed_description.$error.maxlength">{{ 250 - modalOptions.bed.bed_description.length + " Chars left"}}</span>
						<span class="help-block" ng-show="addbedForm.bed_description.$dirty &&  addbedForm.bed_description.$invalid">
							<span class="text-danger" ng-show="addbedForm.bed_description.$error.maxlength">Sorry you are exceeding the limit</span>
							<span class="text-danger" ng-show="addbedForm.bed_description.$error.required">Description is required.</span>
						</span>
					</div>
				</div>
				
				<div class="form-group">
				 <label  for="date" class="col-sm-2 control-label">Date* </label>
					<div class="col-sm-8">
						<input type="text" class="form-control" placeholder=" Bed Date" id="bed_date" name="bed_date" ng-model="modalOptions.bed.bed_date" datepicker-popup="dd-MM-yyyy" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.bed.bed_date = modalOptions.date" ng-required="true" close-text="Close" ng-click="opened = !opened" required="required">
						<span class=" text-danger error" ng-show="addbedForm.bed_date.$error.required">
						Required!</span>
						<span class=" text-danger error" ng-show="addbedForm.bed_date.$error.date">
						Not a valid date!</span>
					</div>
				</div> 
				<div class="form-group modal-footer">
					<div class="col-sm-offset-2 col-sm-9">
						<button type="submit" ng-if="!modalOptions.bed.id" class="btn btn-success" ng-disabled="addbedForm.$invalid" ng-click="modalOptions.ok(); modalOptions.postData('bed',modalOptions.bed)">
							<span>Submit</span>
						</button>
						
						<button type="submit" ng-if="modalOptions.bed.id" class="btn btn-success" ng-disabled="addbedForm.$invalid" ng-click="modalOptions.ok(); modalOptions.updateData('bed',modalOptions.bed, modalOptions.bed.id)">
							<span>Update</span>
						</button> 
						<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
					</div>
				</div>
		</form>
	</div>

