<div class="row">
	<div class="col-sm-12 ">
		<div class="pull-right">
			<a ng-if="transactionView" class="btn btn-primary" ng-click="openAddincome('modules/inventory/transaction/addincome.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>  Add Income</a>
			<a ng-if="transactionView" class="btn btn-primary" ng-click="openAddexpense('modules/inventory/transaction/addexpense.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>  Add Expense</a>
			<a ng-if="transactionView" class="btn btn-primary" ng-click="openAddtransaction('modules/inventory/transaction/transfer.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>Transfer</a>
			<a ng-if="account" class="btn btn-primary" ng-click="openAddaccount('modules/account/addaccount.html')">Add Account</a>
			<a ng-if="invoice" class="btn btn-primary" ng-click="openModal('modules/inventory/invoice/addinvoice.html')">Add Invoice</a></span>
			<a ng-if="bill" class="btn btn-primary" ng-click="openGeneratebill('modules/bill/addbill.html')">Add Purchase Bill</a></span>
		</div>
	</div>
</div>