<div class="row border-bottom">
	<div class="col-md-12">
		<nav class="nav navbar navbar-default">
			<div class="container-fluid"> 
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav nav-pills">
						<li><a class="bottomspace" type="button" go-back tooltip="Back"> <!-- created go-back directive for go back one step like back btn on browser -->
							<span class="glyphicon glyphicon glyphicon-arrow-left">	</span>
						</a></li>
						<li><a class=" glyphicon glyphicon-home" href="#/dashboard"><span class="sr-only"></span></a></li>
						<li><a  href="#/dashboard/bill">Purchase Bill</a></li>
						<li><a  href="#/dashboard/invoice">Invoice</a></li>
						<li><a href="#/dashboard/transaction">Transaction</a></li>
						<li><a  href="#/dashboard/stock">Stock</a></li>
						<li><a href="#/dashboard/account">Accounts</a></li>
						<li><a  href="#/dashboard/balance">Balancesheet</a></li>
						<li><a  href="#/dashboard/users">Party List</a></li>
					</ul>
					<ul class="nav navbar-nav nav-pills navbar-right">
						<!-- <li><a type="button" tooltip="Tax Info" class="btn btn-primary glyphicon glyphicon-cog" href="#/dashboard/property/rentsetting/{{x.id}}"></a></li> -->
						<li class="btn-group" dropdown> 
							<a class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled">
								<span class="glyphicon glyphicon-th-large dropdown-toggle"></span>
							</a>
							<ul class="dropdown-menu dropd" role="menu" aria-labelledby="dropdownMenu1">	
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/editprofile">
										<span class="glyphicon glyphicon-pencil"></span> Edit Profile
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/changepass">
										<span class="glyphicon glyphicon-pencil"></span> Change Password
									</a>
								</li>
								<li class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/logout">
										<span class="glyphicon glyphicon-off"></span> Sign Out
									</a>
								</li>
							</ul>
						</li> 
					</ul>
				</div> 
			</div>
		</nav>
	</div>
</div>