
	//aboutus page css
	.sidebar{
		.nav-pills{
			background-color: @back;
			border-bottom: 4px solid @lightbackcolor;
			>li{
				border-right : 1px solid @lightbackcolor;
				height : 38px;
				>a, > a:focus{
					padding-top : 9px;
					padding-bottom : 9px;
					color : @lightcolor;
					font-weight : bold;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					background-color: @color ;
					color : @colorblack;
				}
			}
		}
	}
	.about, .contact, .charges{
		.table{
			tbody{
				tr{
					th,td{
						border-color : @lightbackcolor;
					}
				}
			}
		}
	}
	.about{
		.table{
			margin-top: 20px;
		}
	}
	.infrastructure{
		.thumbnail{
			height: 395px;
			img{
				height : 190px;
			}
			.caption{
				height: 138px;
			}
		}
	}