.featured_services .sections {
  position: relative;
  border: none;
  box-shadow: 0 0 0;
}
.featured_services .servs {
  position: relative;
}
.featured_services .services .servimage {
  background-color: #d8664e;
  height: 200px;
}
.featured_services .services .servdesc {
  height: 200px;
  background-color: #d8664e;
}
.featured_services .services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.featured_services .readmore {
  position: absolute;
  top: 0px;
  left: -240px;
  text-align: center;
  margin-top: 10px;
  width: 482px;
  height: 201px;
  margin: 0 auto;
  opacity: 0;
  background-color: rgba(3, 13, 130, 0.49);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: inherit;
}
.featured_services .servs:hover .readmore {
  background-color: #02071a;
  opacity: 0.7;
}
.products .thumbnail {
  height: 385px;
}
.products .thumbnail .prodimg {
  height: 148px;
  width: 195px;
  overflow: hidden;
  margin: 0 auto;
}
.products .thumbnail .prodimg img {
  min-height: 148px;
  border: 2px solid transparent;
  padding: 4px;
}
.products .thumbnail .caption {
  height: 182px;
  margin-bottom: 10px;
}
.products .thumbnail .caption .description {
  height: 75px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  text-align: center;
}
