	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : #421266;
	@lightcolor : #B478E6;
	@darkcolor : #18012B;
	@back : #8FB902;
	@darkbackcolor : #4A5F0A;
	@lightbackcolor :#A1C31A; 
	@colorblack : #02071A;
	@colorwhite	: #fff;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
section
{
	margin-left:250px !important;

}
	
section>div:nth-child(1)
 {
 background-image: url('../img/m1.png');
 background-size: cover;
 border-radius:50%;
 float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 }
section>div:nth-child(1):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .d2
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .d3
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:40px !important;
 }
 
 section>div:nth-child(2)
 {
 background-image: url('../img/m2.png');
 background-size: cover;
 border-radius:50%;
 float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(2):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .e1
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .e3
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .e4
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:40px !important;
 }
 
section>div:nth-child(3)
 {
 background-image: url('../img/m3.jpg');
 background-size: cover;
 border-radius:50%;
  float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(3):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .f2
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .f4
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
section>div:nth-child(4)
 {
 background-image: url('../img/m4.png');
 background-size: cover;
 border-radius:50%;
 float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(4):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .g3
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .g5
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .g2
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:40px !important;
 }
 
section>div:nth-child(5)
 {
background-image: url('../img/m5.png');
 background-size: cover;
 border-radius:50%;
float: left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(5):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .h4
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .h3
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:30px !important;
 }

.m1{
	left:250px !important;
	top:0px !important;
	-webkit-animation-name: m1 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m1{
	0%{left:150px;top:30px}
	50%{left:450px;top:270px;transform:rotate(360deg)}
	100%{left:250px;top:0px}
}
.m2{
	left:140px !important;
	top:0px !important;
	-webkit-animation-name: m2 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
 
}
@-webkit-keyframes m2{
	0%{left:170px;top:150px}
	50%{left:330px;top:270px;transform:rotate(360deg)}
	100%{left:140px;top:0px}
}
.m3{
	left:0px !important;
	top:0px !important;
	-webkit-animation-name: m3 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
 
}
@-webkit-keyframes m3{
	0%{left:200px;top:240px}
	50%{left:200px;top:240px;}
	100%{left:0px;top:0px;transform:rotate(360deg)}
}
.m4{
	left:-130px !important;
	top:0px !important;
	-webkit-animation-name: m4 !important;
	-webkit-animation-duration: 2s !important; 
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m4{
	0%{left:240px;top:150px}
	50%{left:70px;top:270px;transform:rotate(360deg)}
	100%{left:-130px;top:0px}
}
.m5{
	left:-250px !important;
	top:0px !important;
	-webkit-animation-name: m5 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m5{
	0%{left:250px;top:30px}
	50%{left:-40px;top:270px;transform:rotate(360deg)}
	100%{left:-250px;top:0px}
}
.m11{
	
	-webkit-animation-name: m11 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-direction: reverse !important;
	-webkit-animation-iteration-count: 1 !important;
}
@-webkit-keyframes m11{
	0%{left:150px;top:30px}
	50%{left:450px;top:270px;transform:rotate(360deg)}
	100%{left:250px;top:0px}
}
.m22{
	-webkit-animation-name: m22 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-direction: reverse !important;
	-webkit-animation-iteration-count: 1 !important;
}
@-webkit-keyframes m22{
	0%{left:170px;top:150px}
	50%{left:330px;top:270px;transform:rotate(360deg)}
	100%{left:140px;top:0px}
}
.m33{
	-webkit-animation-name: m33 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-direction: reverse !important;
	-webkit-animation-iteration-count: 1 !important;
}
@-webkit-keyframes m33{
	0%{left:200px;top:240px}
	50%{left:200px;top:240px;}
	100%{left:0px;top:0px;transform:rotate(360deg)}
}
.m44{
	-webkit-animation-name: m44 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-direction: reverse !important;
	-webkit-animation-iteration-count: 1 !important;
}
@-webkit-keyframes m44{
	0%{left:240px;top:150px}
	50%{left:70px;top:270px;transform:rotate(360deg)}
	100%{left:-130px;top:0px}
}
.m55{
	-webkit-animation-name: m55 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-direction: reverse;
	-webkit-animation-iteration-count: 1 !important;
}
@-webkit-keyframes m55{
	0%{left:250px;top:30px}
	50%{left:-40px;top:270px;transform:rotate(360deg)}
	100%{left:-250px;top:0px}
}
nav>div>div>img {
		 
		width:350px;
		 position:relative;
		 left:-220px;
		 top:0px;
	}
	body{
		
		color:white;
		
		-webkit-animation-name: back;
		-webkit-animation-duration: 60s;
		-webkit-animation-iteration-count: infinite;
		}
		@-webkit-keyframes back{
		0%{background-image: url("../img/b7.jpg");background-size: 100%}
		50%{background-image: url("../img/b7.jpg");background-size: 125%}
		100%{background-image: url("../img/b7.jpg");background-size: 100%}
		}
		

	
	.navbar-default{
		background: transparent;
		border:none;
		height: 400px;
						
		.navbar-nav{
			>li:hover{
					transform: rotateZ(360deg);
					transition: transform 1s;
					text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
					text-decoration: underline;
				}
			
			>li {
				border: 5px solid white;
				border-radius:50%;
				font-size:20px;
				background-size:cover;
				position:relative;
				
				&:nth-child(1){
					left:150px;
					top:30px;
					background-image: url('../img/b7.jpg');
					background-size: 100% 150%;
					padding:6% 0% 0% 2%;
					height:110px;
					width:110px;
					-webkit-animation-name: li1;
					-webkit-animation-duration: 3s;
					-webkit-animation-iteration-count: 1;
				}
					@-webkit-keyframes li1{
					0%{left:0px;top:0px}
					10%{background-image: url("../img/b7.jpg");background-size: 100% 150%}
					50%{background-image: url("../img/b7.jpg");background-size: 125% 100%}
					100%{transform:rotateY(360deg);background-image: url("../img/b7.jpg");background-size: 100% 150%}
					}
					
				&:nth-child(2){
					left:170px;
					top:150px;
					background-image: url('../img/b6.jpg');
					background-size: 100% 150%;
					padding:7% 0% 0% 2%;
					height:120px;
					width:120px;
					-webkit-animation-name: li2;
					-webkit-animation-duration: 3s;
					-webkit-animation-iteration-count: 1;
				}
					@-webkit-keyframes li2{
					0%{left:0px;top:0px}
					10%{background-image: url("../img/b6.jpg");background-size: 100% 150%}
					50%{background-image: url("../img/b6.jpg");background-size: 125% 100%}
					100%{transform:rotateX(360deg);background-image: url("../img/b6.jpg");background-size: 100% 150%}
					}
				&:nth-child(3){
					left:200px;
					top:240px;
					background-image: url('../img/b4.jpg');
					background-size: 90% 150%;
					padding:10% 0% 0% 7%;
					height:150px;
					width:150px;
					z-index:3;
					-webkit-animation-name: li3;
					-webkit-animation-duration: 3s;
					-webkit-animation-iteration-count: 1;
				}
					@-webkit-keyframes li3{
					0%{left:0px;top:0px}
					10%{background-image: url("../img/b4.jpg");background-size: 90% 150%}
					50%{background-image: url("../img/b4.jpg");background-size: 100% 50%}
					100%{transform:rotateZ(360deg);background-image: url("../img/b4.jpg");background-size: 90% 150%}
					}
				&:nth-child(4){
					left:240px;
					top:150px;
					background-image: url('../img/b6.jpg');
					background-size: 100% 150%;
					padding:7% 0% 0% 3%;
					height:120px;
					width:120px;
					z-index:0;
					-webkit-animation-name: li4;
					-webkit-animation-duration: 3s;
					-webkit-animation-iteration-count: 1;
				}
					@-webkit-keyframes li4{
					0%{left:0px;top:0px}
					10%{background-image: url("../img/b6.jpg");background-size: 100% 150%}
					50%{background-image: url("../img/b6.jpg");background-size: 125% 100%}
					100%{transform:rotateX(360deg);background-image: url("../img/b6.jpg");background-size: 100% 150%}
					}
				&:nth-child(5){
					left:250px;
					top:30px;
					background-image: url('../img/b7.jpg');
					background-size: 100% 150%;
					padding:6% 0% 5% 0%;
					height:110px;
					width:110px;
					z-index:1;
					-webkit-animation-name: li5;
					-webkit-animation-duration: 3s;
					-webkit-animation-iteration-count: 1;
				}
					@-webkit-keyframes li5{
					0%{left:0px;top:0px}
					10%{background-image: url("../img/b7.jpg");background-size: 100% 150%}
					50%{background-image: url("../img/b7.jpg");background-size: 125% 100%}
					100%{transform:rotateY(360deg);background-image: url("../img/b7.jpg");background-size: 100% 150%}
					}
				
				
		}
	}
}	
div.content
{
	background-image: url("../img/b6.jpg");
	background-size: cover;
	padding: 2%;
	border-radius:2%;
	display: none;

	
}
h1,h2,h3,h4,h5,h6{
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	}

.apna
{
	display: block !important;
	position: absolute !important;
	top:200px !important;
	left:100px !important;
	-webkit-animation-name: apna !important;
	-webkit-animation-duration: 3s !important;

}
@-webkit-keyframes apna{
		0%{opacity:0.5;position:absolute;top:600px}
		50%{background-image: url("../img/b6.jpg")}
		100%{opacity:1;position:absolute;top:200px}
}
.thumbnail
{
	background-image: url("../img/b4.jpg");
	background-size: cover;
	color: white !important;
	-webkit-animation-name: d1;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes d1{
		0%{background-image: url("../img/b4.jpg");background-size: 100% 200%}
		50%{background-image: url("../img/b4.jpg");background-size: 125% 150%}
		100%{background-image: url("../img/b4.jpg");background-size: 100% 200%}
}

.caption
{
	color: white !important;
}
.content>div:nth-child(2)
{
	background-image: url("../img/b5.jpg");
	background-size: cover;
	color: white;
	-webkit-animation-name: d2;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes d2{
		0%{background-image: url("../img/b5.jpg");background-size: 100% 200%}
		50%{background-image: url("../img/b5.jpg");background-size: 125% 150%}
		100%{background-image: url("../img/b5.jpg");background-size: 100% 200%}
}
#service
{
	background-image: url("../img/b6.jpg");
	background-size: cover;
	border-radius:2%;
	display: none;
}
.servicess
{
	display: block !important;
	position: absolute !important;
	top:200px !important;
	left:100px !important;
	-webkit-animation-name: servicess !important;
	-webkit-animation-duration: 3s !important;

}
@-webkit-keyframes servicess{
		0%{opacity:0.5;position:absolute;top:600px}
		50%{background-image: url("../img/b6.jpg")}
		100%{opacity:1;position:absolute;top:200px}
}

img.col-md-12:hover
{
		transition: transform 2s;
		transform: rotateY(360deg);
}

#aboutus
{
	background-image: url("../img/b6.jpg");
	background-size: cover;
	padding: 2%;
	border-radius:2%;
	display: none;
}
.aboutus
{
	display: block !important;
	position: absolute !important;
	top:200px !important;
	left:100px !important;
	-webkit-animation-name: aboutus !important;
	-webkit-animation-duration: 3s !important;

}
@-webkit-keyframes aboutus{
		0%{opacity:0.5;position:absolute;top:600px}
		50%{background-image: url("../img/b6.jpg")}
		100%{opacity:1;position:absolute;top:200px}
}
.panel
{
	border-radius: 10%;
	-webkit-animation-name: panel;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes panel{
		0%{background-image: url("../img/b4.jpg");background-size: 100% 200%}
		50%{background-image: url("../img/b4.jpg");background-size: 125% 150%}
		100%{background-image: url("../img/b4.jpg");background-size: 100% 200%}
}
#contact
{
	background-image: url("../img/b5.jpg");
	background-size: 110%;
	display: none;
}
.contact
{
	display: block !important;
	position: absolute !important;
	top:200px !important;
	left:100px !important;
	-webkit-animation-name: contact !important;
	-webkit-animation-duration: 3s !important;

}
@-webkit-keyframes contact{
		0%{opacity:0.5;position:absolute;top:600px}
		100%{opacity:1;position:absolute;top:200px}
}