	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : #421266;
	@lightcolor : #B478E6;
	@darkcolor : #18012B;
	@back : #8FB902;
	@darkbackcolor : #4A5F0A;
	@lightbackcolor :#A1C31A; 
	@colorblack : #02071A;
	@colorwhite	: #fff;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
section
{
	margin-left:250px !important;
}
	
section>div:nth-child(1)
 {
 background-image: url('../img/m1.png');
 background-size: cover;
 border-radius:50%;
 float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 }
section>div:nth-child(1):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .d2
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .d3
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:40px !important;
 }
 
 section>div:nth-child(2)
 {
 background-image: url('../img/m2.png');
 background-size: cover;
 border-radius:50%;
 float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(2):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .e1
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .e3
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .e4
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:40px !important;
 }
 
section>div:nth-child(3)
 {
 background-image: url('../img/m3.jpg');
 background-size: cover;
 border-radius:50%;
  float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(3):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .f2
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .f4
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
section>div:nth-child(4)
 {
 background-image: url('../img/m4.png');
 background-size: cover;
 border-radius:50%;
 float:left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(4):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .g3
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .g5
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .g2
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:40px !important;
 }
 
section>div:nth-child(5)
 {
background-image: url('../img/m5.png');
 background-size: cover;
 border-radius:50%;
float: left;
 height:100px;
 width:100px;
 position:relative;
 left:100px;
 top:50px;
 
 }
section>div:nth-child(5):hover
 {
	height:150px;
	width:150px;
	transition: height 1s, width 1s, top 1s;
	top:0px;
 }
 .h4
 {
	height:130px !important;
	width:130px  !important;
	transition: height 1s, width 1s, top 1s;
	top:25px !important;
 }
 .h3
 {
	height:110px !important;
	width:110px  !important;
	transition: height 1s, width 1s, top 1s;
	top:30px !important;
 }

.m1{
	left:250px !important;
	top:0px !important;
	-webkit-animation-name: m1;
	-webkit-animation-duration: 2s;
	
}
@-webkit-keyframes m1{
	0%{left:150px;top:30px}
	50%{left:450px;top:270px;transform:rotate(360deg)}
	100%{left:250px;top:0px}
}
.m2{
	left:140px !important;
	top:0px !important;
	-webkit-animation-name: m2;
	-webkit-animation-duration: 2s;
 
}
@-webkit-keyframes m2{
	0%{left:170px;top:150px}
	50%{left:330px;top:270px;transform:rotate(360deg)}
	100%{left:140px;top:0px}
}
.m3{
	left:0px !important;
	top:0px !important;
	-webkit-animation-name: m3;
	-webkit-animation-duration: 2s;
 
}
@-webkit-keyframes m3{
	0%{left:200px;top:240px}
	50%{left:200px;top:240px;}
	100%{left:0px;top:0px;transform:rotate(360deg)}
}
.m4{
	left:-130px !important;
	top:0px !important;
	-webkit-animation-name: m4;
	-webkit-animation-duration: 2s;      
	
}
@-webkit-keyframes m4{
	0%{left:240px;top:150px}
	50%{left:70px;top:270px;transform:rotate(360deg)}
	100%{left:-130px;top:0px}
}
.m5{
	left:-250px !important;
	top:0px !important;
	-webkit-animation-name: m5;
	-webkit-animation-duration: 2s;
	
}
@-webkit-keyframes m5{
	0%{left:250px;top:30px}
	50%{left:-40px;top:270px;transform:rotate(360deg)}
	100%{left:-250px;top:0px}
}
.m11{
	
	-webkit-animation-name: m11;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: reverse;
}
@-webkit-keyframes m11{
	0%{left:150px;top:30px}
	50%{left:450px;top:270px;transform:rotate(360deg)}
	100%{left:250px;top:0px}
}
.m22{
	-webkit-animation-name: m22;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: reverse;
}
@-webkit-keyframes m22{
	0%{left:170px;top:150px}
	50%{left:330px;top:270px;transform:rotate(360deg)}
	100%{left:140px;top:0px}
}
.m33{
	-webkit-animation-name: m33;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: reverse;
}
@-webkit-keyframes m33{
	0%{left:200px;top:240px}
	50%{left:200px;top:240px;}
	100%{left:0px;top:0px;transform:rotate(360deg)}
}
.m44{
	-webkit-animation-name: m44;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: reverse;
}
@-webkit-keyframes m44{
	0%{left:240px;top:150px}
	50%{left:70px;top:270px;transform:rotate(360deg)}
	100%{left:-130px;top:0px}
}
.m55{
	-webkit-animation-name: m55;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: reverse;
}
@-webkit-keyframes m55{
	0%{left:250px;top:30px}
	50%{left:-40px;top:270px;transform:rotate(360deg)}
	100%{left:-250px;top:0px}
}
img {
		 
		width:350px;
		 position:relative;
		 left:-220px;
		 top:0px;
	}
	.container{
		
	}
	body{
		
		color:white;
		
		-webkit-animation-name: back;
		-webkit-animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		}
		@-webkit-keyframes back{
		0%{background-color:#5649A7}
		50%{background-color:#8465C5}
		80%{background-color:#A98DE2}
		100%{background-color:#5649A7}
		}
		

	
	.navbar-default{
		background: transparent;
		border:none;
		height: 400px;
						
		.navbar-nav{
			li:hover{
					transform: rotateZ(360deg);
					transition: transform 1s;
					text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
					text-decoration: underline;
				}
			
			li {
				border: 5px solid white;
				border-radius:50%;
				font-size:20px;
				background-size:cover;
				position:relative;
				
				&:nth-child(1){
					left:150px;
					top:30px;
					background-image: url('../img/m1.png');
					padding:6% 0% 0% 2%;
					height:110px;
					width:110px;
				}	
				&:nth-child(2){
					left:170px;
					top:150px;
					background-image: url('../img/m2.png');
					padding:7% 0% 0% 2%;
					height:120px;
					width:120px;
				
				}
				&:nth-child(3){
					left:200px;
					top:240px;
					background-image: url('../img/m3.jpg');
					padding:10% 0% 0% 7%;
					height:150px;
					width:150px;
					z-index:3;
				
				}
				&:nth-child(4){
					left:240px;
					top:150px;
					background-image: url('../img/m4.png');
					padding:7% 0% 0% 3%;
					height:120px;
					width:120px;
					z-index:0;
				
				}
				&:nth-child(5){
					left:250px;
					top:30px;
					background-image: url('../img/m5.png');
					padding:6% 0% 5% 0%;
					height:110px;
					width:110px;
					z-index:1;
				
				}
				
				
		}
	}
}	