//featured property
	.bxslider1{
		padding-left: 15px;
		list-style :none;
		h4{
			padding-left:25px;
		}
		.row{
			padding-bottom : 10px;
		}
		li{
			height : 200px;
			.sliderImg{
				height :150px;
				width : 200px;
				overflow : hidden;
				padding : 4px;
				border : 2px solid transparent;
				img{
					min-height: 150px;
				}
				&:hover{
					border : 2px solid @color;
				}
			}
			a{
				color:@color;
				font-weight : bold;
				&:hover{
					text-decoration : none;
				}
				&:hover{
					color : @lightcolor;
				}
			}
			.head{
				margin-right : 10px;
				margin-left : 10px;
				color : @colorblack;
			}
			.table{
				tbody{
					tr{
						td{
							border :none;
							padding: 3px 10px;
						}
					}
				
				}
			}
		}
	}
//Property
.property,.proplist{
	background-color : @back;
	border : 1px solid @lightbackcolor;
}

.singleproperty{
	.property{
		margin-bottom : 15px;
		margin-top : 15px;
		padding: 10px 15px;
		h3{
			border :none;
		}
		.table{
			background-color : @darkbackcolor;
			tbody{
				tr{
					td{
						border-top : 1px dashed @lightbackcolor;
					}
				}
			}
		}
		.mainimg {
			img{
				max-height: 180px;
			}
		}
		.subimg{
			margin-top: 10px;
			
			img{
				height: 20px;
				display : inline-block;
				cursor : pointer;
				margin-right : 10px;
			}
		}
	}
	.propDetails{
		ul{
			li {
				padding-left: 10px;
				padding-bottom: 10px;
			}
		}
		span{
			height : 20px;
			width :20px;
			margin-right: 6px;
		}
		.amenity{
			background: url("../img/sprite_icons.png") transparent;
			display: inline-block;
			vertical-align: middle;
		} 
		span.amenity.power_backup {
			background-position: 1px -24px;
		}
		span.amenity.water_storage {
			background-position: -314px -24px;
		}
		span.amenity.lift {
			background-position: -644px -22px;
		}
		span.amenity.reserve_parking {
			background-position: -193px -22px;
		}
		span.amenity.security {
			background-position: -97px -22px;
		}
		span.amenity.maintenance_staff {
			background-position:-361px -22px;
		}
		span.amenity.gym {
			background-position: -432px -22px;
		}
		span.amenity.park {
			background-position: -385px -22px;
		}
		span.amenity.private_terrace {
			background-position: -168px -22px;
		}
		span.amenity.swimming_pool {
			background-position: -288px -22px;
		}
		span.amenity.club_house {
			background-position: -74px -49px;
		}
		span.amenity.hospital {
			background-position: -541px -4px;
		}
		span.amenity.airport {
			background-position: 1px -2px;
		}
		span.amenity.railway {
			background-position: -18px -1px;
		}
		span.amenity.school {
			background-position: -60px -1px;
		}
		.table{
			tbody{
				tr{
					th{
						background-color : #1F1D01;
					}
					td, th{
						border: 1px solid @lightbackcolor;
					}
				}
			}
		}
	}
	.btn-primary{
		margin-bottom : 10px;
	}
}	
	//propertyList 
	.propertylist{
			padding: 20px 20px 0px;
			.btn-primary{
				margin-right : 3px;
				margin-bottom: 10px;
			}
			.readmore{
				text-align : center;
				.viewdtls{
					margin-right : 10px;
				}
			}
			.panel{
				background-color : @darkbackcolor;
			}
			.panel-default{
				border-color : @lightbackcolor;
			}
			.panel-body {
				padding: 5px 15px 15px;
			}
			.table{
				td{
					border : none;
					padding: 1px 10px;
				}
			}
	}
	@media (min-width: 992px){
		.propDetails{
			ul{
				li{
					width: 229px;
				}
			}
		}
	}
	@media (min-width: 1200px){
		.propDetails{
			ul{
				li{
					width: 229px;
				}
			}
		}
	}