@color : #bccb3d;
@lightcolor : #BBBBBB;
@darkcolor : #000;
@back : #272600;
@darkbackcolor : #171600;
@lightbackcolor :#2F3826; 
@colorblack : #000;
@colorwhite	: #fff;
@import "property.less";
@import "project.less";
@import "product.less";
@import "general.less";
	body{
		background-image: url('../img/back.jpg');
		//background-color : 
		background-repeat  : repeat;
		color : @lightcolor;
		position : relative;
	}
	.sociallinks{
		border : 2px solid #fff;
		margin-top: 232px;
		position: absolute;
		span{
			height : 60px;
			width : 60px;
			.social.fb{
				background-position: 1px -24px;
			}
		}
		.social{
			background: url("../img/sprite_icons.png") transparent;
		}
		
	}
	.logo {
		height: 80px;
		margin-top: 25px;
		margin-left: 15px;
		max-height: 100px;
	}
	.contactinfo{
		color:@color;
		font-weight : bold;
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	.navbar-default {
		background-image: linear-gradient(@darkbackcolor, @back);
		border: 1px solid @lightbackcolor;
		.navbar-nav{
			> li{
				position : relative;
				margin-right: 10px;
				padding-left: 15px;
				&:first-child{
					padding-left: 0;
				}
				> a, > a:focus {
					color :@lightcolor;
					font: bold 16px/1em Arial, Helvetica, sans-serif;
					position: relative;
					padding : 25px 15px 15px 20px;
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background-color : @color;
					color : @colorblack;
					border-bottom-left-radius : 8px;
					border-bottom-right-radius : 8px;
					top: -10px;
					padding-top: 34px;
					height: 65px;
				}
				&.active > a::after, &.active:hover > a::after, &.active > a:focus::after, &:hover > a::after, &:hover > a:focus::after
				{
					content: '';
					position: absolute;
					right: -8px;
					top: 0px;
					border-bottom: 6px solid @lightcolor;
					border-left: 4px solid @lightcolor;
					border-right: 4px solid transparent;
					border-top: 4px solid transparent;
				}
				
				> a::before{
					content:url('../img/bullet.png');
					position : absolute;
					top: 23px;
					left: 0px;
				}
				&:hover a::before, &:first-child a::before, &.active > a::before{
					display : none;
				}
				
				> ul {
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @color;
					padding: 15px;
					list-style: none;
					text-align: left;
					top : 49px;
					border-radius: 7px;
					border-top-left-radius: 0px;
					transition : all 500ms ease-in-out;
					>li{
						border-bottom: 1px solid @lightbackcolor;
						padding: 7px;
						>a{
							color:@colorblack;
							&:hover{
								 text-decoration: underline;
							}
						}
						> ul{
							list-style : disc;
							>li{
								>a{
									color:@colorblack;
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	.content{
		background-color : @darkbackcolor;
		border-radius : 7px;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1,h2,h3{
		font-family: "Georgia", "Times New Roman", "Times", serif;
	}
	h1,h2,h3,h4{
		color :@color; 
	}
	h1,h2{
		font-size: 2.3em;
		border-bottom: 1px solid @lightbackcolor;
	}
	.subhead{
		font-family: "Carter One";
		font-size: 20px;
		font-weight: bold;
		background-image: linear-gradient(@darkbackcolor -82%,@lightcolor 40%,@lightcolor 60%,@back 147%);
		border-radius : 7px;
		color : @colorblack;
		padding: 8px 40px;
		position : relative;
		&::after{
			background: url(../img/sprites_image.png) -37px -24px;
			content: "";
			display: inline-block;
			height: 22px;
			left: 15px;
			position: absolute;
			top: 10px;
			width: 22px;
		}
	}
	h3{
		border-bottom: 1px solid @lightbackcolor;
		padding-bottom: 8px;
	}
	.sections{
		background-color:@back;
		border : 1px solid @lightbackcolor;
		padding: 15px;
		border-radius: 10px;
	}
	.thumbnail{
		background : none;
		border-color : @lightbackcolor;
		.caption{
			color : @lightcolor;
			a{
				color : @color;
				text-decoration : underline;
				&:hover{
					color: @color;
					text-decoration :none;
				}
			}
		}
	}
	.bxslider{
		li{
			width:100px;
			img{
				border : 7px solid @lightcolor;
				min-height: 190px;
			}
			a{
				color:@color;
				font-weight : bold;
				text-decoration:underline;
				&:hover{
					color:@color;
					text-decoration:none;
				}
			}
			p{
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
	}
	.btn-link{
		color : @color;
		padding-left : 0px;
		&:hover{
			color : @color;
		}
	}
	.btn-info{
		border-radius : 5px;
		&, &:focus, &:active, &[disabled]{
			background-color : @color;
			color :@colorblack;
			font-weight: bold;
			border : 2px solid @color;
		}
		&:hover{
			background-color : @darkbackcolor;
			transition: all 0.3s ease;
			border : 2px solid @color;
			color :@color;
		}
	}
	.panel{
		background-color : @back;
	}
	.panel-default {
		border-color: @lightbackcolor;
	}
	.form-control,.form-control[disabled], .form-control[readonly]{
		color: @lightcolor;
		background-color: @darkbackcolor;
		border: 1px solid @lightbackcolor;
	}
	.sidebarModule{
		.send{
			margin-right : 8px;
		}
		.sideimg{
			margin-top: 20px;
		}
		.email{
			color :@lightcolor;
			text-decoration : underline;
			&:hover{
				text-decoration : none;
				color :@lightcolor;
			}
		}
	}
	//hr
	hr{
		border-style : dashed;
		border-color: @lightbackcolor;
		margin :5px 0px;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
	{
		background-color : @darkbackcolor;
		color : @color;
		border : 1px solid @darkbackcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a{
		background-color : @lightbackcolor;
		border : 1px solid @darkbackcolor;
		color : @color;
	}
	footer{
		margin-top : 10px;
		color:@lightcolor;
		font-weight : bold;
		a, a:hover{
			color:@lightcolor;
		}
	}
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.contactinfo{
			display : none;
		}
		.navbar{
			min-height: 0px;
			margin-top: 10px;
		}
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.contactinfo{
			display : block;
		}
		.navbar{
			min-height: 70px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.contactinfo{
			display : block;
		}
		.navbar{
			min-height: 70px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
	}