{% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/style.css">
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/bootstrap.min.js"></script>
		<script src="{{ path }}js/jquery.bxslider.min.js"></script>
		<link rel="stylesheet" type="text/css"  href="{{ path }}css/jquery.bxslider.css"/>
		<script src="{{ path }}js/angular.min.js"></script>
		<script src="{{ path }}js/angular-route.min.js"></script>
		<script src="{{ path }}js/script.js"></script>
		<title>{{seo.title}} | {{data.business_name}}</title>
		<meta name="description" content="{{ seo.description }}">
		<meta name="keywords" content="{{ seo.keywords }}">
		<!-- {% if data.template_params %}
			<style>
				.bxslider li a,.bxslider li a:hover,.homeproject .projectCarousal .projsnap img, .featrtesti img:hover,body a,body .btn-info,body .btn-info:focus,body .btn-info:active,body .btn-info[disabled],body .btn-link{
					color : {{data.template_params.color}};
				}
				.propertylist .btn-primary, .singleproperty .btn-primary,body .sidebarModule .btn-info,body .sidebarModule .btn-info:focus,body .sidebarModule .btn-info:active,body .sidebarModule .btn-info[disabled]{
					background-color : {{data.template_params.background_color}};
				}
				.project ul.nav.navbar-nav > li.active > a,.project ul.nav.navbar-nav > li.active:hover > a,.project ul.nav.navbar-nav > li.active > a:focus,.project ul.nav.navbar-nav > li:hover > a,.project ul.nav.navbar-nav > li:hover > a:focus,.project ul.nav.navbar-nav > li > a:hover,.project ul.nav.navbar-nav > li > a:focus,.sidebar .nav-pills > li.active > a,.sidebar .nav-pills > li.active:hover > a,.sidebar .nav-pills > li.active > a:focus,.sidebar .nav-pills > li:hover > a,.sidebar .nav-pills > li:hover > a:focus,.sidebar .nav-pills > li > a:hover,.sidebar .nav-pills > li > a:focus,body header .sidenav .nav li ul > li > a:hover,body header .sidenav .nav li ul > li > ul > li > a:hover{
					color : {{data.template_params.light_color}};
				}
				.featrtesti img{
					border-color : {{data.template_params.light_color}};
				}
				.testimonial blockquote footer cite,.featrtesti blockquote footer cite,body .featured_services h3,body a:hover,body h1,body h2,body h3,body h4,body .tagline,body .tagline1,body .btn-info:hover,body .btn-link:hover{
					color : {{data.template_params.dark_color}};
				}
				body .sidebarModule .btn-info:hover,.navbar-toggle,.featuretab .nav-tabs li a:hover,.featuretab .nav-tabs li.active > a,.featuretab .nav-tabs li.active > a:hover,.featuretab .nav-tabs li.active > a:focus{
					background-color : {{data.template_params.dark_color}};
				}
				.featuredProperty .bxslider1 li .sliderImg:hover,.bxslider li .projimg:hover,.services .servimage:hover{
					border-color : {{data.template_params.dark_color}};
				}
				body header .sidenav .nav li,body header .sidenav .nav li ul > li > ul > li,.propertylist,.homeproject .projectnav .nav-stacked > li,.project .navbar,.project ul.nav.navbar-nav > li,.sidebar .nav-pills > li {
					border-color : {{data.template_params.background_color_light}};
				}
				body main .container{
					background-color : {{data.template_params.background_color_light}};
				}
				.propertylist .btn-primary:hover, .singleproperty .propDetails .table tbody tr th, .singleproperty .btn-primary:hover, .project ul.nav.navbar-nav, .project ul.nav.navbar-nav > li.active > a, .project ul.nav.navbar-nav > li.active:hover > a, .project ul.nav.navbar-nav > li.active > a:focus, .project ul.nav.navbar-nav > li:hover > a, .project ul.nav.navbar-nav > li:hover > a:focus, .project ul.nav.navbar-nav > li > a:hover, .project ul.nav.navbar-nav > li > a:focus, .sidebar .nav-pills, .sidebar .nav-pills > li.active > a, .sidebar .nav-pills > li.active:hover > a, .sidebar .nav-pills > li.active > a:focus, .sidebar .nav-pills > li:hover > a, .sidebar .nav-pills > li:hover > a:focus, .sidebar .nav-pills > li > a:hover, .sidebar .nav-pills > li > a:focus, .about .table tbody tr th, .contact .table tbody tr th, .about .table tbody tr td, .contact .table tbody tr td,body header .sidenav, body .contentModule h3, body .sidebarModule h3, .propertylist .btn-primary:hover{
					background-color : {{data.template_params.background_color_dark}};
				}
				.propertylist .panel-default, .singleproperty .property, .singleproperty .property .table tbody tr td, .singleproperty .propDetails .table tbody tr td, .singleproperty .propDetails .table tbody tr th, .products .thumbnail, .singleproduct .thumbnail, .featuretab .tab-content, .featuretab .nav-tabs, .featuretab .nav-tabs li a,.featuretab .nav-tabs li a:hover,.featuretab .nav-tabs li.active > a,.featuretab .nav-tabs li.active > a:hover, .featuretab .nav-tabs li.active > a:focus, .gallery .thumbnail,body .contentModule, body .sidebarModule, body .thumbnail{
					border-color : {{data.template_params.background_color_dark}};
				}
				body .sociallinks ul li, body header .sidenav, body header .sidenav .nav li ul,body footer,.homeproject .projectnav{
					background-image: -webkit-linear-gradient(left, {{data.template_params.background_color_dark}}, {{data.template_params.dark_color}} 93%,{{data.template_params.background_color_dark}});
					background-image: -moz-linear-gradient(left, {{data.template_params.background_color_dark}}, {{data.template_params.dark_color}} 93%, {{data.template_params.background_color_dark}});
					background-image: linear-gradient(left,{{data.template_params.background_color_dark}}, {{data.template_params.dark_color}} 93%, {{data.template_params.background_color_dark}});
				}
				body header .sidenav .nav li > a:hover, body header .sidenav .nav li > a:focus{
					background-image: -webkit-linear-gradient(left, {{data.template_params.background_color}}, #ffffff 93%, {{data.template_params.background_color}});
					background-image: -moz-linear-gradient(left,{{data.template_params.background_color}}, #ffffff 93%, {{data.template_params.background_color}});
					background-image: -linear-gradient(left, {{data.template_params.background_color}}, #ffffff 
					93%, {{data.template_params.background_color}});
				}
				.homeproject .projectnav .nav-stacked > li > a:hover,.homeproject .projectnav .nav-stacked > li > a:focus:hover{
					background-image: -webkit-linear-gradient(right, {{data.template_params.background_color}}, #ffffff 93%, {{data.template_params.background_color}});
					background-image: -moz-linear-gradient(right,{{data.template_params.background_color}}, #ffffff 93%, {{data.template_params.background_color}});
					background-image: -linear-gradient(right, {{data.template_params.background_color}}, #ffffff 
					93%, {{data.template_params.background_color}});
				}
			</style>
		{% endif %} -->
	</head>
	<body>
		<div class="sociallinks">
			<ul>
				{% if data.website_config.sociallinks.facebook %}
					<li>
						<a href="{{data.website_config.sociallinks.facebook}}" target="_blank">Facebook<img src="{{path}}img/facebook.jpg" class="img-circle"><span class="social fb"></span></a>
					</li>
				{% endif %}
				{% if data.website_config.sociallinks.google %}
					<li>
						<a href="{{data.website_config.sociallinks.google}}" target="_blank">Google<img src="{{path}}img/google.jpg" class="img-circle"><span class="social lkdin"></span></a>
					</li>
				{% endif %}
				{% if data.website_config.sociallinks.twitter %}
					<li>
						<a href="{{data.website_config.sociallinks.twitter}}" target="_blank">Twitter<img src="{{path}}img/twitter.jpg" class="img-circle"><span class="social gplus"></span></a>
					</li>
				{% endif %}
				{% if data.website_config.sociallinks.linkedin %}
					<li>
						<a href="{{data.website_config.sociallinks.linkedin}}" target="_blank">Linkedin<img src="{{path}}img/linkedin.jpg" class="img-circle"><span class="social twit"></span></a>
					</li>
				{% endif %}
			</ul>
		</div>
		<header>
				<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 weblogo">
						{% if data.website_config.website_logo %}
							<img class="logo" src="{{data.website_config.website_logo.file_relative_path}}">
						{% endif %}
					</div>
					<div class="col-xs-12 col-sm-4 text-center">
						{% if data.website_config.website_logo1 %}
							<img class="logo" src="{{data.website_config.website_logo1.file_relative_path}}">
						{% else %}
							<img class="logo" src="{{data.business_logo.file_relative_path}}">
						{% endif %}
					</div>
					<div class="col-xs-12 col-sm-4 text-right cntdtl">	
						<p><strong>Mobile :</strong>{{data.contact_profile.mobile}}{{(data.contact_profile.alternate_mobile) ? " / " ~ data.contact_profile.alternate_mobile}}</p>
						<p>
						<p><strong>E-mail ID :</strong>{{data.contact_profile.email}}{{(data.contact_profile.alternate_email) ? ", " ~ data.contact_profile.alternate_email}}</p>
						<p>
					</div>
				</div>
		
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4 col-lg-3 nava">
						<div class="sidenav">
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav nav-pills nav-stacked">
									{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}
								</ul>
							</div>
						</div>
						{%if modules.sidebarModule.searchProp %}
							{% include [templatePath ~ '/includes/searchProp.html', 'default/default/includes/searchProp.html'] %}
						{%endif%}
						{%if modules.sidebarModule.contact %}
							{% include [templatePath ~ '/includes/contact.html', 'default/default/includes/contact.html'] %}
						{%endif%}
						{%if modules.sidebarModule.enquiry %}
							{% include [templatePath ~ '/includes/enquiry.html', 'default/default/includes/enquiry.html'] with {enquiry : { user_id : data.user_id, owner_email : data.owner_email}} %}
						{%endif%}
						{%if modules.sidebarModule.sidemenu %}
							{% include [templatePath ~ '/includes/sidemenu.html', 'default/default/includes/sidemenu.html'] %}
						{%endif%}
					</div>
					<div class="col-xs-12 col-md-8 col-lg-9 caro">
						<div class="clearfix">
							{%if modules.headerModule.carousal %}
							{% include [templatePath ~ '/includes/carousal.html', 'default/default/includes/carousal.html'] with {sliderData : data.template_params.slider} %}
							{%endif%}
							{%if modules.headerModule.homeproject %}
							{% include [templatePath ~ '/includes/homeproject.html', 'default/default/includes/homeproject.html'] with {sliderData : data.template_params.slider} %}
							{%endif%}
						</div>
						<div class="content clearfix">
							{% include contentPath %}
							
							{%if modules.contentModule.featured_products %}
								{% include [templatePath ~ '/includes/featured_products.html', 'default/default/includes/featured_products.html'] %}
							{%endif%}
							
							{%if modules.contentModule.featured_properties %}
								{% include [templatePath ~ '/includes/home_properties.html', 'default/default/includes/home_properties.html'] %}
								
								{% include [templatePath ~ '/includes/featured_properties.html', 'default/default/includes/featured_properties.html'] %}
							{%endif%}
							
							{%if modules.contentModule.featured_projects %}
								{% include [templatePath ~ '/includes/featured_projects.html', 'default/default/includes/featured_projects.html'] %}
							{%endif%}
							
							{% if (modules.contentModule.featured_services)%}
								<div class="featuretab">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										{%if modules.contentModule.featured_services %}
										<li role="presentation" class="active">
											<a href="#featrserv" aria-controls="home" role="tab" data-toggle="tab">Featured Services</a>
										</li>
										{%endif%}
										<li role="presentation">
											<a href="#featrtesti" aria-controls="profile" role="tab" data-toggle="tab">Testimonials</a>
										</li>
										<li role="presentation">
											<a href="#ourassoc" aria-controls="profile" role="tab" data-toggle="tab">Our Associates</a>
										</li>
									</ul>
									<!-- Tab panes -->
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="featrserv">
										{%if modules.contentModule.featured_services %}
											{% include [templatePath ~ '/includes/featured_services.html', 'default/default/includes/featured_services.html'] %}
										{%endif%}
										</div>
										<div role="tabpanel" class="tab-pane" id="featrtesti">
										{% include [templatePath ~ '/includes/featured_testimonials.html', 'default/default/includes/featured_testimonials.html'] %}
										</div>
										<div role="tabpanel" class="tab-pane" id="ourassoc">
											{% include [templatePath ~ '/includes/our_associates.html', 'default/default/includes/our_associates.html'] %}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</header>
	</body>
	{% include [templatePath ~ '/includes/footer.html', 'default/default/includes/footer.html'] %}
</html>
{% endspaceless %}