<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css"  href="css/jquery.bxslider.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.bxslider.min.js"></script>
		<script src="js/myscript.js"></script>
	</head>
<body>
	<header>
	<div class="container">
		<div class="logo">
			<img src="img/logo.jpg"/>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 nava">
				<div class="sidenav">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><span class="navigation">NAVIGATION</span></li>
						<li role="presentation" class="active"><a href="#">Home</a></li>
						<li role="presentation"><a href="#">About Us</a></li>
						<li role="presentation"><a href="#">Property Classifieds</a></li>
						<li role="presentation"><a href="#">Projects</a></li>
						<li role="presentation"><a href="#">Services</a></li>
								<ul class="nav nav-pills nav-stacked" style="display:none">
									<li><a href="#">Buy Sell Rent Lease Property</a></li>
									<li><a href="#">Pre Lease Properties</a></li>
									<li><a href="#">Joint Ventures in Real Estate</a></li>
									<li><a href="#">Buy Sell Rent Lease Property</a></li>
									<li><a href="#">Pre Lease Properties</a></li>
									<li><a href="#">Joint Ventures in Real Estate</a></li>
								</ul>
						<li role="presentation"><a href="#">Charges</a></li>
						<li role="presentation"><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9 caro">
				<div>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
						<div class="item active">
						  <img src="img/slider1.jpg" alt="...">
						  <div class="carousel-caption">
						  </div>
						</div>
						<div class="item">
						  <img src="img/slider2.jpg" alt="...">
						  <div class="carousel-caption">
						  </div>
						</div>
						<div class="item">
						  <img src="img/slider3.jpg" alt="...">
						  <div class="carousel-caption">
						  </div>
						</div>
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					  </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading" style="height:394px">
					<h1>Our Associates</h1>
					<ul class="bxslider">
					<li>
						<div class="slide slide1">
							<p class="text-center slidehead"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
							<div class="sliderimg">
								<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
								<img class="slideimg" src="img/slider14.jpg" alt="Selling Properties" title="Selling Properties"></a>
							</div>
							<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
							<div class="text-center readmore">
							<a class="readmore"href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a>
							</div>
						</div>
					</li>
					<li>
					<div class="slide slide1">
					<p class="text-center slidehead"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
					<div>
					<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
					<img class="slideimg" src="img/slider13.gif" alt="Selling Properties" title="Selling Properties"></a>
					</div>
					<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
					<div class="text-center">
					<a class="readmore" href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a>
					</div>
					</div>
					</li>
					<li>
					<div class="slide slide1">
						<p class="text-center slidehead"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
						<div>
						<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
						<img class="slideimg" src="img/slider12.jpg" alt="Selling Properties" title="Selling Properties"></a>
						</div>
						<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
						<div class="text-center">
						<a class="readmore" href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a>
						</div>
					</div>
					</li>
					<li>
					<div class="slide slide1">
					<p class="text-center slidehead"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
					<div>
					<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
					<img class="slideimg" src="img/slider11.jpg" alt="Selling Properties" title="Selling Properties"></a>
					</div>
					<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
					<div class="text-center">
					<a href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a>
					</div>
					</div>
					</li>
				</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
				<div class="description">
					<h1>Welcome to Jaidev Landmarks</h1>
						<p>
							<img src="img/slider1.jpg">
							Skyline Builders & Developers introduces itself as a leading Real Estate Consultant in Rajasthan. We provide the finest quality services for Residential, Commercial, Industrial and Agricultural properties. Again, we are a prominent Builder in Jaipur offering the best services for construction. Apart from all this, we provide services for buying, selling and renting property, real estate consultancy. Our experience of several years in this real estate industry has been immensely satisfying and rewarding pertaining to all aspects of real estate.
							Our experience has taught us all the ropes of this industry and also the ways the highs and lows in the market are to be dealt. We cater to our clients in the whole of Jaipur. Our team has vast knowledge and understanding of the real estate market. Leveraging on this knowledge and understanding, the team provides the most extensive real estate solutions to the clients.
						</p>
					</div>
				<div class="heading">
					<h1>Our Services</h1>
					<div class="row">
						<div class="col-sm-6">
						<div class="service">
							<div class="row">
								<div class="col-sm-4">
									<a href="#"><img src="img/slider1.jpg"></a>
								</div>
								<div class="col-sm-8">
									<h1>Real Estate Consultant</h1>
									<p>Skyline Builders & Developers offers the services of a Real Estate Consultant in Jaipur. We are specialized in providing these services for the Buying...<a>Read More</a></p>
								</div>
							</div>
						</div>
						</div>
						<div class="col-sm-6">
						<div class="service">
							<div class="row">
									<div class="col-sm-4">
										<a href="#"><img src="img/slider1.jpg"></a>
									</div>
									<div class="col-sm-8">
										<h1>Construction Services</h1>
										<p>Skyline Builders & Developers offers the services of a Real Estate Consultant in Jaipur. We are specialized in providing these services for the Buying...<a>Read More</a></p>
									</div>
									</div>
							</div>
					</div>
					</div>
				</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="heading">
								<h1>SEND ENQUIRY</h1>
								<div class="search">
									<form>
									  <div class="form-group">
										<label for="firstname">First Name</label>
										<input type="text" class="form-control" id="firstname" name="firstname">
									  </div>
									  <div class="form-group">
										<label for="lastname">Last Name</label>
										<input type="text" class="form-control" id="lastname" name="lastname">
									  </div>
									  <div class="form-group">
										<label for="email">Email</label>
										<input type="email" class="form-control" id="email" name="email">
									  </div>
									  <div class="form-group">
										<label for="mobile">Mobile:</label>
										<input type="mobile" class="form-control" id="mobile" name="mobile">
									  </div>
									  <div class="form-group">
										<label for="companyname">Company Name:</label>
										<input type="companyname" class="form-control" id="companyname" name="companyname">
									  </div>
									  <div class="form-group">
										<label for="address">Address:</label>
										<input type="address" class="form-control" id="address" name="address">
									  </div>
									  <div class="form-group">
										<label for="message">Message:</label>
										<input type="message" class="form-control" id="message" name="message">
									  </div>
									  <button type="submit" class="btn btn-primary">Send Enquiry</button>
								</form>
							</div>
							</div>
						</div>
						<div class="col-sm-9">
							<div class="heading">
								<h1>Featured Properties</h1>
								<ul class="bxslidervertical">
					<li class="slide">
					<div class="row">
					<div class="col-sm-4">
					<div class="text-center">
					<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
					<img class="slideimg1" src="img/slider11.jpg" alt="Selling Properties" title="Selling Properties"></a>
					</div>
					</div>
					<div class="col-sm-8">
					<p class="text-center"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
					<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
					<p class="text-center readmore"><a class=""href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a></p>
					</div>
					</div>
					</li>
					<li class="slide">
					<div class="row">
					<div class="col-sm-4">
					<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
					<img class="slideimg1" src="img/slider12.jpg" alt="Selling Properties" title="Selling Properties"></a>
					</div>
					<div class="col-sm-8">
					<p class="text-center"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
					<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
					<p class="text-center readmore"><a class=""href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a></p>
					</div>
					</div>
					</li>
					<li class="slide">
					<div class="row">
					<div class="col-sm-4">
					<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
					<img class="slideimg1" src="img/slider13.gif" alt="Selling Properties" title="Selling Properties"></a>
					</div>
					<div class="col-sm-8">
					<p class="text-center"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
					<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
					<p class="text-center readmore"><a class=""href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a></p>
					</div>
					</div>
					</li>
					<li class="slide">
						<div class="row">
							<div class="col-sm-4">
								<a href="http://www.jaidevlandmarks.com" title="Selling Properties">
								<img class="slideimg1" src="img/slider14.jpg" alt="Selling Properties" title="Selling Properties"></a>
							</div>
							<div class="col-sm-8">
								<p class="text-center"><a href=http://www.jaidevlandmarks.com.htm" title="Selling Properties"><b>Selling Properties</b></a></p>
								<p class="slidepara">Finding the right buyer for your Property on Sale in Ahmedabad is not an easy task. If you...</p>
								<p class="text-center readmore"><a class=""href="http://www.jaidevlandmarks.com.htm"><strong>Read More</strong></a></p>
							</div>
						</div>
					</li>
				</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
				<div class="heading">
					<h1>Search Property</h1>
						<div class="search">
							<form>
							  <div class="form-group">
								<label for="exampleInputEmail1">I want to:</label><br>
								<label class="radio-inline">
								  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0">Sale
								</label>
								<label class="radio-inline">
								  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">Rent
								</label>
								<label class="radio-inline">
								  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2">PG
								</label>
							  </div>
							  <div class="form-group">
								<label for="propertytype">Property Type:</label>
								<select class="form-control" id="propertytype">
								  <option value="">Select Category</option>
									  <option value="Residential Property">Residential Property</option>
									  <option value="Commercial Property">Commercial Property</option>
									  <option value="Agricultural land">Agricultural land</option>
									  <option value="Industrial Property">Industrial Property</option>
								</select>
							  </div>
							  <div class="form-group">
								<label for="city">City</label>
								<input type="text" class="form-control" id="city" value="pune">
							  </div>
							  <div class="form-group">
								<label for="budget">Budget</label>
								<input type="text" class="form-control" id="budget" value="0">
							  </div>
							  <button type="submit" class="btn btn-default">Search</button>
						</form>
					</div>
				</div>
				<div class="heading">
					<h1>Search By Locality</h1>
					<p>Property in Pune</p>
				</div>
				<div class="menu">
					<a href="#"><img src="img/area_converter.png"></a>
					<a href="#"><img src="img/buy_property.png"></a>
					<a href="#"><img src="img/emi_calculator.png"></a>
					<a href="#"><img src="img/sell_property.png"></a>
					
				</div>
				</div>
		
	</main>
	<footer>
		<div class="foot">
			<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<h1>OUR SERVICES</h1>
							<ul>
								<li><a href="#">Real Estate Consultant</a></li>
								<li><a href="#">Construction Services</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<h1>GENERAL LINKS</h1>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Property Classifieds</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Projects</a></li>
								<li><a href="#">Charges</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<h1>CONTACT US</h1>
							<ul>
								<li>E-206, Near Bank of Maharashtra, Gautam Marg, Vaishali Nagar, Jaipur, Rajasthan - 302021, India</li>
								<li><strong>Mobile :</strong>+91-9414047228,+91-9929101777</li>
								<li><strong>Phone :</strong> +91-141-4029276</li>
								<li><strong>Call Us :</strong> 08049672433</li>
								<li><strong>E-mail :</strong> skylinerealtor@yahoo.com</li>
							</ul>
						</div>
					</div>
				</div>
		</div>
	</footer>
</body>
</html>