//featured servieces
.services{
	.servdesc{
		height : 200px;
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			margin-top: 10px;
		}
	}
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkcolor;
		}
	}
}
//singleproduct
.products,	.singleproduct{
	.thumbnail{
		border-color: @darkbackcolor;
	}
} 
.products{
	.thumbnail{
		.prodimg{
			width : 100%;
			height : 148px;
			overflow : hidden;
			img{
				min-height : 148px;
			}
		}
		.caption{
				height: 190px;
			.description{
				height : 75px;
				overflow : hidden;
			}
		}
		.readmore{
			padding-left : 10px;
		}
	}
}

@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 465px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 186px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 100px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 400px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}