{% autoescape false %}
{% if featured_products | length >= 1 %}
	<div class="row sidesec1">	
		<div class="slogan">
			<p class="text-center">Our Services</p>
		</div>
	</div>
	<div class="row">
	<div class="content">
		{% set break = 0 %}{% set i = 0 %}
		{% for x in featured_products if break == 0 %}
		{% if x.type == 'service' %}
			<div class="features">
				<h3>{{x.product_service_name}}</h3>
				<p>{{ x.description |length > 200 ?x.description|slice(start, 200)~ '...' : x.description}}</p>
				<a class="read" href="service/{{x.id}}">View Details</a>
			</div>
			{% set i = (i + 1) %}
			{% if i == 3 %}
				{% set break = 1 %}
			{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	</div>
{% endif %}
{% endautoescape %}