{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699;
			}
    </style>
{% endblock %}
{% block content %}
{% autoescape false %}
	<div class="important">
		<h2>{{ data.product_service_name }}</h2>
		<hr>
		<div class="media">
			<div class="media-left col-sm-3">
				<a href="#">
					{% for key, value in data.product_image %}
						<img class="img-responsive" src="{{value.file_relative_path}}">
					{% endfor %}
				</a>
			</div>
			<div class="media-body">
				<p class="media-heading">{{data.description}}</p>
			</div>
		</div> 
	</div>
{% endautoescape %}
{% endblock %}