{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
{% autoescape false %}
	<h2 class="text-center">Products</h2>
	{% for x in data %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="product/{{x.id}}"><h1 class="panel-title">{{ x.product_service_name }} </h1></a>
			</div>
			<div class="panel-body">
				<div class="important">
					<div class="media">
						<div class="media-left col-sm-2">
						{% for key, value in x.product_image %}
							<span>
								<img class="img-responsive" src="{{value.file_relative_path}}">  <!--ng-click="x.images=key" -->
							</span>
						{% endfor %}
						<!-- <img class="img-responsive col-sm-3" src="value.file_relative_path" ng-init="x.images = 0"/>-->
						</div> 
						<div class="media-body">
							<p class="media-heading">{{x.description}}</p>
							<a href="product/{{x.id}}" class="btn btn-default">Interested in this Product</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{% endautoescape %}
{% endblock %}