	body{
		background-color:#F8E7BA;		
	}
	#googleMap{
		height:350px;
	}
	.header, .content,.text{
		background-color:#fff;
	}
	.text{
		padding : 0px 50px 50px;
	}
	.header{
		padding: 30px 75px 0px;
		margin-top:30px;
	}
	.logo{
		margin-bottom: 20px;
	 }
	address, .nav>li>a.dropdown-caret + .dropdown-toggle, .navbar-default .navbar-nav > li > a, .navbar a, p, footer, blockquote a, footer a{
		color:#77746C;
	}
	address{
		font-size:18px;
	}
	.nav>li>a.dropdown-caret {
		padding-right: 35px;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 100%;
		display: block;
		text-align: center;
		padding-top: 15px;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle:hover .caret {
		border-top-color: rgb(236, 236, 236);
	}
	.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
	}
	.navbar-default {
		border: 0px;
		background:none;
	}
	.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav li .dropdown-menu, body .navbar-default .navbar-nav li .dropdown-menu > li > a ,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,.nav>li>a.dropdown-caret + .dropdown-toggle:hover,.ftrlink3, .sidesec1{
		background-color: #CF6021;
	}
	.sub-div1 p,.sub-div1 h2,.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,body .navbar-default .navbar-nav li .dropdown-menu > li > a, .nav>li>a.dropdown-caret + .dropdown-toggle:focus, .nav>li>a.dropdown-caret + .dropdown-toggle:hover, .slogan p , .arrowimg:hover,.ftrlink2,.ftrlink3 p,.jobs h3, .jobs p{
		color:#fff;
	} 
	.navbar li{
		padding:0px 2px;
	}
	.div1{
		height:250px;
		background-repeat:no-repeat;
		background-size: 100% 100%;
	}
	.div1:nth-child(odd){
		background-color:#85933d;
	}
	.div1:nth-child(even){
		background-color:#c8b548;
	}
	/* .div1{
		background-repeat:no-repeat;
	}
	.div1:hover{
		background-position: -40px 0px;
	} */
	.sub-div1{
		padding:20px 20px 20px 50px;
	}
	.schoolinfo{
		padding-left:50px;
	}
	.slogan{
		padding:10px 20px 20px 50px;
	}
	.slogan p{
		font-size: 35px;
		letter-spacing: 2px;
	}
	.arrowimg{
		color:#F8E7BA;
	}
	.features{
		padding: 15px 20px 15px 50px;
	}
	.features h3 {
		font: 30px/34px 'Roboto Slab', Arial, sans-serif;
	}
	h1, h2, h3, h4, .read, .read:hover, .read:focus, .btn-link, .btn-link:hover, .btn-link:focus ,li>a ,blockquote a:hover{
		color:#CF6021;
	}
	.btn-link:focus{
		border:none; 
	}
	.arrowimg{
		line-height:2px;
		font: 100 20px/50px "Roboto Slab",Arial,sans-serif;
	}
	.arrowimg, .read:hover, .read:focus,.btn-link:hover, .btn-link:focus,.arrowimg:hover,.ftrlink2,.ftrlink3 p, blockquote a:hover,li>a:hover{
		text-decoration:none;
	}
	.read{
		font-size:17.5px;
	}
	 .btn-link{
		font-size:25px;
	}
	.arrowimg::before,.ftrlink3 p::after{
		content:url('../img/arr2.png');
		border:1px solid #F8E7BA;
		padding:15px 20px;
		border-radius:50%;
	}
	.arrowimg:hover::before ,.ftrlink3 p:hover::after{
		background-color:#E4936A;
	}
	.ftrlink1{
		background-color:#C8B548;
	}
	.ftrlink1:hover{
		background-color:#726F68;
	}
	.ftrlink1 img{
		padding-top:25px;
		padding-bottom:25px;
	}
	.ftrlink2{
		background-color:#85933d;
		font-size:50px;
	}
	.ftrlink2:hover{
		background-color:#414722;
	}
	.ftrlink3{
		padding-top:23px;
		padding-bottom:10px;
	}	
	.ftrlink1,.ftrlink2,.ftrlink3{
		text-align:center;
	}
	.ftrlink3 p{
		font-size:20px;
	}
	blockquote{
		border:none;
	}
	blockquote p{
		font-size: medium;
	}
	footer{
		font-size: initial;
	}
	footer .container{
		padding-top:20px;
		padding-bottom:20px;
	}
	.jobs:nth-child(odd){
		background-color:#85933d;
	}
	.jobs:nth-child(even){
		background-color:#CF6021;
	}
	.jobs{
		height:250px;
	}
	.mycarous {
	  bottom: -30px;
	}
	.mycarous li {
	  background-color: #CF6021;
	}
	.mycarous .active {
	  background-color: #85933d;
	}