  body{
		background-color:#F3F0EB;		
	}
	header{
		background-color:#F0F0F0;
	}
	.heading{
		background-color:#943E59;
		padding-top:20px;
		padding-bottom:20px;
	}
	.heading{
		font-size: 50px;
		letter-spacing: 2px;
	}
	.read ,.heading{
		color: #FFF;
	}
	.eventimg,.wcmsg,.feature,footer,.aboutus ,.featureservice{
		margin-top:40px;
	}
	.events{
		border: 10px solid rgba(232, 224, 217, 0.99);
		background: transparent;
	}
	.wcmsg, .homeabout{
		padding :30px 80px;
	}
	.wcmsg p, .wcmsg a, .homeabout p, .homeabout a{
		font-family: 'Open Sans';
		font-size: 16px;
		color: #b89b95;
	}
	h2{
		font-family: 'Junge';
		font-size: 40px;
		color: #b2807a;
	}
	.wcmsg a, .read, .homeabout a{
		text-decoration : none;
	}
	footer,.wcmsg,.feature, .aboutus, .homeabout, .featureservice{
		background-color:#fff;
	}
	.feature, .aboutus, .featureservice{
		padding : 20px;
	}
	.feature,.aboutus, .featureservice,.wcmsg, .homeabout{
		border-top:10px solid #BB7EB0;
	}
	.read{
		background-color : #BB7EB0;
		padding: 15px;
		text-align : right;
	}
	.read :hover {
		background-color : #C8B548;
	}
	.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav li .dropdown-menu, body .navbar-default .navbar-nav li .dropdown-menu > li > a ,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
		background: none;
	}
	.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,body .navbar-default .navbar-nav li .dropdown-menu > li > a{
		color:#1b1b1b;
	}
	.navbar a,p,footer {
		color:#77746C;
	} 
	.navbar li{
		padding:0px 5px;
	}
	.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
	}
	.navbar-default {
		border: 0px;
		margin-top:20px;
		background:none;
	}
	p{
		text-align : justify;
	}
	footer{
		font-size: initial;
		padding-top:20px;
		padding-bottom:20px;
	}
	h2{
		text-transform : uppercase;
	}
