<div class="col-md-12">
	<div class="pull-right toolbar">
			<a class="btn btn-default" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon glyphicon-arrow-left">
					</span>
				</a>
				<a class="btn btn-default" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon-envelope">
					</span>
				</a>
				<a class="btn btn-default" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon-refresh">
					</span>
				</a>
				<a class="btn btn-default" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon-trash">
					</span>
				</a>
				<a class="btn btn-default" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon-pencil">
					</span>
				</a>
				<a class="btn btn-default" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon-cog">
					</span>
				</a>
				<a type="file" class="glyphicon glyphicon-paperclip btn btn-default" aria-hidden="true" ng-click="newPage()"></a>
						<div class="btn-group" dropdown>
							<a class="btn btn-default dropdown-toggle"><span class="glyphicon glyphicon-cog dropdown-toggle"></span></a>
							<a class="btn btn-default dropdown-toggle" dropdown-toggle>
								<span class="caret"></span>
								<span class="sr-only">Split button!</span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">From</a></li>
									<li><a href="#">To</a></li>
									<li><a href="#">Cc</a></li>
									<li><a href="#">Reply</a></li>
									<li><input type="checkbox" value="from">From</input></li>
								</ul>
						</div>
				<form class="form-inline">
					<div class="input-group">
						<input type="text" class="form-control iconback" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search iconsearch"></span></button>
							</span>
					</div>
				</form>
	</div>
</div>
			