<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	
	<h3 ng-if="!modalOptions.addstock.id" class="text-center">Add stock</h3>
	<h3 ng-if="modalOptions.addstock.id" class="text-center" >Update stock</h3>
</div>

<div class="modal-body">
	<form name="generalForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit=	"generalForm.$valid" id="generalForm">
		<div class=" form-group">
				<label for="type" class="col-sm-2 control-label"> Select stock Type </label>
				<div class="col-sm-10">
					<select class="form-control" name="type" id="type" ng-model="modalOptions.addstock.type" required>
						<option value="">Select Type</option>
						<option value="1">Equipment</option>
						<option value="2">Stationary</option>
						<option value="3">Book</option>
					</select>	
				</div>
		</div>
		<div class=" form-group">
			<div ng-init="modalOptions.getData(false,false,'vendor', 'vendorList',vendorParams,modalOptions)">
			<label for="vendor_id" class="col-sm-2 control-label"> Select Vendor * </label>
			<div class="col-sm-4">
				<select class="form-control" name="vendor_id" id="vendor_id" ng-model="modalOptions.addstock.vendor_id" ng-options="item.id as item.name for item in modalOptions.vendorList" required>
					<option value="">Select Vendor</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>	
			</div>
			</div>
			<!-- <label  for="stock_date" class="col-sm-2 control-label">stock Date *</label>
			<div class="col-sm-4">
			<input type="text" class="form-control " placeholder=" stock Date" id="stock_date" name="stock_date" ng-model="modalOptions.addstock.stock_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-init="modalOptions.addstock.stock_date = modalOptions.date"  ng-required="true" close-text="Close" ng-click="opened = !opened"/>
			</div> -->
		</div>
	</form>

<div class="row">
	
<div class="col-sm-12" ng-init="modalOptions.addstock.particular = (modalOptions.addstock.particular) ? modalOptions.addstock.particular : []">
		<form name="addstockForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addstockForm.$valid" id="addstockForm">		
			<div class="table-responsive" ng-if="modalOptions.addstock.vendor_id && (modalOptions.addstock.type == 1 || modalOptions.addstock.type == 2 )">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Particular Name</th>
							<th>Type</th>
							<th>Category</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" id="particular" name="particular" ng-model="modalOptions.singleparticular.particular_name" required 
								ng-change=""  placeholder="particulars Name"/>
								<span class="help-block" ng-show="addstockForm.particular.$dirty && addstockForm.particular.$invalid">
									<span ng-show="addstockForm.particular.$error.required" class="text-danger">Particulars Name is necessary.</span>
								</span> 
							</td>
							<td>
								<select id="goods_type" class="form-control" name="goods_type"  ng-model="modalOptions.singleparticular.goods_type"  required>
									<option value="" selected>Select Type</option>
									<option value="type1" >Type1</option>
									<option value="type2">Type2</option>
									<option value="type3">Type3</option>
									<option value="type4">Type4</option>
								</select>
								<span class="help-block" ng-show="addstockForm.goods_type.$dirty && addstockForm.goods_type.$invalid">
								<span ng-show="addstockForm.goods_type.$error.required" class="text-danger">Required field.</span>
								</span>	
							</td>
							<td>					
								<select id="category" class="form-control" name="category"  ng-model="modalOptions.singleparticular.category" required>
									<option value="" selected>Select Category</option>
									<option value="category1">Category1</option>
									<option value="category2">Category2</option>
									<option value="category3">Category3</option>
									<option value="category4">Category4</option>
								</select>
								<span class="help-block" ng-show="addstockForm.category.$dirty && addstockForm.category.$invalid">
								<span ng-show="addstockForm.category.$error.required" class="text-danger">Required field.</span>
								</span>	
							</td>
							
							<td>
								<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="modalOptions.singleparticular.quantity" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/" required />
								<span class="help-block" ng-show="addstockForm.quantity.$dirty && addstockForm.quantity.$invalid">
									<span ng-show="addstockForm.quantity.$error.required" class="text-danger">Quantity Required</span>
									<span ng-show="addstockForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="addstockForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addstock.particular, 'singleparticular', modalOptions);modalOptions.totalCalculate(modalOptions);">	+Add This stock
				</button>
				<br/>
			</div>	


			<div class="table-responsive" ng-if="modalOptions.addstock.vendor_id && modalOptions.addstock.type == 3">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Book Name</th>
							<th>Author</th>
							<th>Publisher</th>
							<th>Edition</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" id="book_name" name="book_name" ng-model="modalOptions.singleparticular.book_name" required 
								ng-change=""  placeholder="Book Name"/>
								<span class="help-block" ng-show="addstockForm.book_name.$dirty && addstockForm.book_name.$invalid">
									<span ng-show="addstockForm.book_name.$error.required" class="text-danger">Book Name is necessary.</span>
								</span> 
							</td>
							<td>
								<input type="text" class="form-control" id="author" name="author" ng-model="modalOptions.singleparticular.author" required 
								ng-change=""  placeholder="Author Name"/>
								<span class="help-block" ng-show="addstockForm.author.$dirty && addstockForm.author.$invalid">
									<span ng-show="addstockForm.author.$error.required" class="text-danger">Author Name is necessary.</span>
								</span> 
							</td>
							<td>
								<input type="text" class="form-control" id="publisher" name="publisher" ng-model="modalOptions.singleparticular.publisher" required 
								ng-change=""  placeholder="Publisher Name"/>
								<span class="help-block" ng-show="addstockForm.publisher.$dirty && addstockForm.publisher.$invalid">
									<span ng-show="addstockForm.publisher.$error.required" class="text-danger">Publisher Name is necessary.</span>
								</span> 
							</td>
							<td>
								<input type="text" class="form-control" id="edition" name="edition" ng-model="modalOptions.singleparticular.edition" required 
								ng-change=""  placeholder="Edition Name"/>
								<span class="help-block" ng-show="addstockForm.edition.$dirty && addstockForm.edition.$invalid">
									<span ng-show="addstockForm.edition.$error.required" class="text-danger">Edition Name is necessary.</span>
								</span> 
							</td>
						

							<td>
								<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="modalOptions.singleparticular.quantity" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/"  
								 required />
								<span class="help-block" ng-show="addstockForm.quantity.$dirty && addstockForm.quantity.$invalid">
									<span ng-show="addstockForm.quantity.$error.required" class="text-danger">Quantity Required</span>
									<span ng-show="addstockForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>	
						</tr>
					</tbody>
				</table>
				<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="addstockForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addstock.particular, 'singleparticular', modalOptions);modalOptions.totalCalculate(modalOptions);">	+Add This Book
				</button>
				<br/>
			</div>				
		</form>
	</div>
</div>

	<div class="table-responsive" ng-if="modalOptions.addstock.vendor_id && (modalOptions.addstock.type == 1 || modalOptions.addstock.type == 2 || modalOptions.addstock.type == 3)">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th class="col-sm-2">Sr.No.</th>
					<th class="col-sm-2" ng-if="modalOptions.addstock.type != 3">Particular Name</th>
					<th class="col-sm-2" ng-if="modalOptions.addstock.type != 3">Goods_type</th>
					<th class="col-sm-2"ng-if="modalOptions.addstock.type != 3">Category </th>
					<th class="col-sm-2" ng-if="modalOptions.addstock.type == 3">Book Name</th>
					<th class="col-sm-2" ng-if="modalOptions.addstock.type == 3">Author Name</th>
					<th class="col-sm-2" ng-if="modalOptions.addstock.type == 3">Publisher Name</th>
					<th class="col-sm-2" ng-if="modalOptions.addstock.type == 3">Edition</th>
					<th class="col-sm-2">Quantity</th>
					<th >Remove</th>
				</tr> 
			</thead>
			
			<tbody >
				<tr ng-repeat="x in modalOptions.addstock.particular">
					<td>{{$index + 1}}</td>
					<td ng-if="modalOptions.addstock.type != 3">{{x.particular_name}}</td>
					<td ng-if="modalOptions.addstock.type != 3">{{x.goods_type}}</td>
					<td ng-if="modalOptions.addstock.type != 3">{{x.category}}</td>
					<td ng-if="modalOptions.addstock.type == 3">{{x.book_name}}</td>
					<td ng-if="modalOptions.addstock.type == 3">{{x.author}}</td>
					<td ng-if="modalOptions.addstock.type == 3">{{x.publisher}}</td>
					<td ng-if="modalOptions.addstock.type == 3">{{x.edition}}</td>
					<td>{{x.quantity}}</td>
					<td><button ng-click="modalOptions.removeObject(modalOptions.addstock.particular, $index);">X</button></td>
		</table>
		
			<label class="col-sm-1">Remark</label>
			<div class="col-sm-8 form-group">
				<textarea rows="3" class="form-control" id="remark" name="remark" ng-model="modalOptions.addstock.remark"  maxlength="200" placeholder="please Remark here.." required > </textarea>
				<span ng-hide="addstockForm.remark.$error.maxlength">
					{{ 200 - modalOptions.addstock.remark.length + " Chars left" }}
				</span>	
				<span class="help-block" ng-show="addstockForm.remark.$dirty &&  addstockForm.remark.$invalid">
					<span class="text-danger" ng-show="addstockForm.remark.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="addstockForm.remark.$error.required">Remark is required.</span>
				</span>	
			</div>
		</div>
<div class="modal-footer">
	
	<button type="submit"  class="btn btn-success" ng-disabled="generalForm.$invalid"  ng-if="!modalOptions.addstock.id" ng-click="modalOptions.postData('stock',modalOptions.addstock); modalOptions.ok()">Add stock</button>
	
	<button type="submit" ng-if="modalOptions.addstock.id"  class="btn btn-success" ng-click="modalOptions.updateData('stock',modalOptions.addstock,modalOptions.addstock.id); modalOptions.ok()">Update Stock LIst</button>
	
	
	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>
</div>
</div>
