<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	
	<h3 ng-if="!modalOptions.addstock.id" class="text-center">Add stock</h3>
	<h3 ng-if="modalOptions.addstock.id" class="text-center" >Update stock</h3>
</div>

<div class="modal-body">
	<form name="addstockForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addstockForm.$valid" id="addstockForm">
		<div class=" form-group">
				<label for="stock_type" class="col-sm-2 control-label">stock Type </label>
				<div class="col-sm-9">
					<select class="form-control" name="stock_type" id="stock_type" ng-model="modalOptions.addstock.stock_type" required>
						<option value="" selected>Select Type</option>
						<option value="Equipment">Equipment</option>
						<option value="Stationary">Stationary</option>
					</select>	
				</div>
		</div>
		<div class="form-group">
			<div ng-init="modalOptions.getData(false,false,'vendor', 'vendorList',false,modalOptions)">
				<label for="vendor_id" class="col-sm-2 control-label">Vendor * </label>
				<div class="col-sm-9">
					<select class="form-control" name="vendor_id" id="vendor_id" ng-model="modalOptions.addstock.vendor_id" ng-options="item.id as item.name for item in modalOptions.vendorList" required>
						<option value="">Select Vendor</option>
					</select>	
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="goods_name" class="col-sm-2 control-label">Goods Name * </label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="goods_name" name="goods_name" ng-model="modalOptions.addstock.goods_name" required 
				ng-change=""  placeholder="Good Name"/>
				<span class="help-block" ng-show="addstockForm.goods_name.$dirty && addstockForm.goods_name.$invalid">
				<span ng-show="addstockForm.goods_name.$error.required" class="text-danger">Good Name is necessary.</span>
				</span> 
			</div>
	</div>
		
		<div class="form-group">
				<label for="goods_type" class="col-sm-2 control-label">Goods Type * </label>
			<div class="col-sm-9">
				<select id="goods_type" class="form-control" name="goods_type"  ng-model="modalOptions.addstock.goods_type"  required>
				<option value="" selected>Select Type</option>
				<option value="type1" >Type1</option>
				<option value="type2">Type2</option>
				<option value="type3">Type3</option>
				<option value="type4">Type4</option>
				</select>
				<span class="help-block" ng-show="addstockForm.addstock.$dirty && addstockForm.addstock.$invalid">
				<span ng-show="addstockForm.addstock.$error.required" class="text-danger">Required field.</span>
				</span>	
			</div>
		</div>
		<div class="form-group">
		<label for="category" class="col-sm-2 control-label">Category * </label>
			<div class="col-sm-9">
				<select id="category" class="form-control" name="category"  ng-model="modalOptions.addstock.category" required>
				<option value="" selected>Select Category</option>
				<option value="category1">Category1</option>
				<option value="category2">Category2</option>
				<option value="category3">Category3</option>
				<option value="category4">Category4</option>
				</select>
				<span class="help-block" ng-show="addstockForm.category.$dirty && addstockForm.category.$invalid">
				<span ng-show="addstockForm.category.$error.required" class="text-danger">Required field.</span>
				</span>	
			</div>
		</div>
		<div class="form-group">
		<label for="quantity" class="col-sm-2 control-label">Quantity  * </label>
				<div class="col-sm-9">
					<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="modalOptions.addstock.quantity" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/" required />
					<span class="help-block" ng-show="addstockForm.quantity.$dirty && addstockForm.quantity.$invalid">
					<span ng-show="addstockForm.quantity.$error.required" class="text-danger">Quantity Required</span>
					<span ng-show="addstockForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
					</span>
			</div>
		</div>
	</form>
	
	
	
	
	<button type="submit"  class="btn btn-success" ng-disabled="addstockForm.$invalid"  ng-if="!modalOptions.addstock.id" ng-click="modalOptions.postData('stock',modalOptions.addstock);">Add stock</button>
	
	<button type="submit" ng-if="modalOptions.addstock.id"  class="btn btn-success" ng-click="modalOptions.updateData('stock',modalOptions.addstock,modalOptions.addstock.id); modalOptions.ok()">Update Stock LIst</button>
	
	
	<button type="button" class="btn btn-warning" ng-click="modalOptions.close()">Cancel</button>

</div>
