<div class="table-responsive" ng-if="modalOptions.addstock.vendor_id && (modalOptions.addstock.type == 1 || modalOptions.addstock.type == 2 )">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th>Particular Name</th>
							<th>Type</th>
							<th>Category</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" id="particular_name" name="particular_name" ng-model="modalOptions.singleparticular.particular_name" required 
								ng-change=""  placeholder="particulars Name"/>
								<span class="help-block" ng-show="addstockForm.particular_name.$dirty && addstockForm.particular_name.$invalid">
									<span ng-show="addstockForm.particular_name.$error.required" class="text-danger">Particulars Name is necessary.</span>
								</span> 
							</td>
							<td>
								<select id="goods_type" class="form-control" name="goods_type"  ng-model="modalOptions.singleparticular.goods_type"  required>
									<option value="" selected>Select Type</option>
									<option value="type1" >Type1</option>
									<option value="type2">Type2</option>
									<option value="type3">Type3</option>
									<option value="type4">Type4</option>
								</select>
								<span class="help-block" ng-show="addstockForm.goods_type.$dirty && addstockForm.goods_type.$invalid">
								<span ng-show="addstockForm.goods_type.$error.required" class="text-danger">Required field.</span>
								</span>	
							</td>
							<td>					
								<select id="category" class="form-control" name="category"  ng-model="modalOptions.singleparticular.category" required>
									<option value="" selected>Select Category</option>
									<option value="category1">Category1</option>
									<option value="category2">Category2</option>
									<option value="category3">Category3</option>
									<option value="category4">Category4</option>
								</select>
								<span class="help-block" ng-show="addstockForm.category.$dirty && addstockForm.category.$invalid">
								<span ng-show="addstockForm.category.$error.required" class="text-danger">Required field.</span>
								</span>	
							</td>
							
							<td>
								<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="modalOptions.singleparticular.quantity" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/" required />
								<span class="help-block" ng-show="addstockForm.quantity.$dirty && addstockForm.quantity.$invalid">
									<span ng-show="addstockForm.quantity.$error.required" class="text-danger">Quantity Required</span>
									<span ng-show="addstockForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="addstockForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addstock.particular, 'singleparticular', modalOptions);modalOptions.totalCalculate(modalOptions);">	+Add This stock
				</button>
				<br/>
			</div>	