
.gridblock{
			border:1px solid black;
			margin-top:20px;
			height:160px;
			.btn{
				margin-top:10px;
				width:150px;
				border-radius:0px;
				border:1px solid transparent;
				background-color:@darkbackcolor;
				display: inline-block;
				background:@darkbackcolor;
					&:hover, &:focus,&:active
					{
						color: white;
						background-color:@darkbackcolor;
						border-color:transparent;	
					}
			}					
			.dashimg{
					height:75px;
					max-width:75px;
			}	
			.desc {
				height: 65px;
				overflow: hidden;
				text-align:justify;
				padding:10px;
			}	
}
.dashboard{
				background:linear-gradient(@darkbackcolor ,@lightbackcolor );
				text-align:center;
				//margin-top: 25px;
				padding-top:1px;
				padding-bottom:5px;
				h2{
					margin-top:15px;
				}
					
}
.img-circle{
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
