
.gridblock{
	border:1px solid black;
	margin-top:20px;
	height:175px;
	padding : 10px;
	.readmore{
		text-align: center;
		.btn{
			margin-top:10px;
			width:150px;
			border-radius:0px;
			border:1px solid transparent;
			background-color:@darkbackcolor;
			display: inline-block;
			background:@darkbackcolor;
			&:hover, &:focus,&:active
			{
				color: white;
				background-color:@darkbackcolor;
				border-color:transparent;	
			}
		}
	}				
	.dashimg{
		height:65px;
		max-width:65px;
		float : left;
		margin-right : 10px;
	}	
	.desc{
		height: 70px;
		overflow: hidden;
	}	
}
.dashboard{
	background:linear-gradient(@darkbackcolor ,@lightbackcolor );
	text-align:center;
	//margin-top: 25px;
	padding-top:1px;
	padding-bottom:5px;
	h2{
		margin-top:15px;
	}			
}
.img-circle{
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
