#map_canvas {
	height: 400px;
	position: relative;
}

.map-search-box{
	width: 33% !important;
	top : 30px !important;
}

.angular-google-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}