<h3>Custom Templates</h3>
	<div class="row">
		<div class="col-sm-3"> 
			<div class="bottomspace">
				<label for="search" class="control-label">Search </label>		
				<input id="search" type="text" class="form-control" ng-model="searchProp" placeholder="search"/>
			</div>
		</div>			 				  
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="sort" class="control-label">Sort by Order</label>
					<select id="sort" class="form-control" ng-model="id"> 
						<option value="">Select Order</option>		<!-- added value & selected attr -->	
						<option value="-id">Desending</option>
						<option value="id">Asending</option>  
					</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="status" class="control-label">Development Status</label>
					<select id="status" class="form-control" ng-model="status">
						<option value="" selected>Select Status</option> <!-- add value attribute empty & selected for initial selected option -->
						<option value="1">Active</option>
						<option value="0">Deleted</option>  
						<option value="0">Pending</option> 
						<option value="0">Rejected</option> 
					</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="status" class="control-label">Select Status</label>
					<select id="status" class="form-control" ng-model="featured">
						<option value="" selected>Select status</option> <!-- added value & selected attr -->
						<option value="1" >Active</option>
						<option value="0">Deleted</option> 
					</select>
			</div>
		</div>
	</div>
	<div class="table-responsive">	
			<table class="table table-bordered">
				<thead>
					<th>Sr.No.</th>
					<th>Template Name</th>
					<th>Status</th>
					<th>Create Date</th>
					<th>Modified Date</th>
					<th>Manage</th>
				</thead>
					<tbody>
						<tr ng-repeat="x in templates">
							<td>{{((customTempCurrentPage - 1) * pageItems) + $index + 1 }}</td>
							<td>{{x.template_name}}</td>
							<td>{{x.status}}</td>
							<td>{{x.date | date:'MM/dd/yyyy'}}</td>
							<td>{{x.modified_date}}</td>
							<td><a href="#" class="btn btn-default">Renew</a></td>
						</tr>		
					</tbody>					
			</table>
	</div>
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="customTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(customTempCurrentPage,type,status,user_id)"></pagination>
		Records:{{totalRecords}}
		<pre>Page: {{customTempCurrentPage}} / {{numPages}}</pre>
	</div>		

