<div class="row">		
	<div class="col-md-12 main-content">	
		<div class="row border-bottom">
			<div class="col-md-10" ng-include="'modules/component/breadcrumb.html'"></div>
			<div class="col-md-2" ng-include="'modules/component/menu-back.html'"></div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right">
				<a href="#/dashboard/templates" class="btn btn-default">List of Templates</a>
				<a href="#/dashboard/mytemplates" class="btn btn-default">My Templates</a>
				<a href="#/dashboard/requestnewtemplate" class="btn btn-default">Request Custom Template</a>
				<a href="#/dashboard/customtemplates" class="btn btn-default">Custom Templates</a>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered table-hover table-responsive">
					<thead>
						<th>Sr.No.</th>
						<th>Template Name</th>
						<th>Create Date</th>
						<th>Exp Date</th>
						<th>Status</th>
						<th>Manage</th>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Template 1</td>
							<td>01/01/014</td>
							<td>31/12/020</td>
							<td>1) Pending 2) In Progress 3) Active 4) Rejected
								<button name="">
							</td>
							<td><a href="#" class="btn btn-default">Renew</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Template 2</td>
							<td>01/01/014</td>
							<td>31/12/020</td>
							<td><a href="#" class="btn btn-default">Renew</a></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Template 3</td>
							<td>01/01/014</td>
							<td>31/12/020</td>
							<td><a href="#" class="btn btn-default">Renew</a></td>
						</tr>						
					</tbody>					
				</table>
			</div>
		</div>
	</div>
</div>