<table class="table table-bordered table-hover table-responsive">
	<thead>
		<th>Sr.No.</th>
		<th>Template Name</th>
		<th>Create Date</th>
		<th>Exp Date</th>
		<th>Manage</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Template 1</td>
			<td>01/01/014</td>
			<td>31/12/020</td>
			<td><a href="#" class="btn btn-default">Renew</a></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Template 2</td>
			<td>01/01/014</td>
			<td>31/12/020</td>
			<td><a href="#" class="btn btn-default">Renew</a></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Template 3</td>
			<td>01/01/014</td>
			<td>31/12/020</td>
			<td><a href="#" class="btn btn-default">Renew</a></td>
		</tr>						
	</tbody>					
</table>
			