<h3 class="col-sm-offset-2 col-sm-9">Request For Custom Template</h3>
<form name="myForm" class="form-horizontal" role="form" novalidate="novalidate">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Template Name</label>		
		<div class="col-sm-9">
            <input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-model="name" required >
			<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
				<span ng-show="myForm.name.$error.required">Template Name is required.</span>
			</span>
		</div>						
	</div>
	<div class="form-group">	
		<label  for="domain" class="col-sm-2 control-label">Domain Name</label>
		<div class="col-sm-9">
			<input type="url" class="form-control" id="domain" ng-model="domain" name="domain" placeholder="Enter Domain " required>
			<span style="color:red" ng-show="myForm.domain.$dirty && 	myForm.domain.$invalid">
				<span ng-show="myForm.domain.$error.required">Domain  is required.</span>
				<span ng-show="myForm.domain.$error.url">Invalid Web Site.</span>
			</span>
			<span>e.g http://www.google.com</span>
		</div>						
	</div>	
	<div class="form-group">
		<label for="contactno" class="col-md-2 control-label">Contact Number</label>
		<div class="col-md-9">
			<input type="text" id="contactno" name="contactno" class="form-control" ng-model="reg.contactno" placeholder="Your Contact No" ng-pattern="/^[799]\d{9}$/" maxlength="10" required>
			<span style="color:red" ng-show="myForm.contactno.$dirty && myForm.contactno.$invalid">
				<span ng-show="myForm.contactno.$error.pattern && (myForm.contactno.$dirty || submitted)" class="help-block">Enter a valid contactno.</span>
			</span>
		</div>						
	</div>
	<div class="form-group">
		<label for="requirement" class="col-sm-2 control-label">Custom Requirement</label>	
		<div class="col-sm-9">
			<div ng-hide="myForm.requirement.$error.maxlength">{{ 20 - requirement.length + " Chars left" }}
			</div>
				<textarea id="requirement" name="requirement" class="form-control ng-model="requirement" maxlength="20" placeholder="Your Custom Requirement" rows="2"></textarea>
				<span style="color:red" ng-show="myForm.requirement.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
		</div>  
		
			<!--textarea  class="form-control" id="requirement" ng-model="requirement" name="requirement" placeholder="Your Custom Requirement" rows="2" maxlength="20" ui-tinymce required>
			</textarea>
			<div>{{ 20 - requirement.length + " Chars left" }}</div>
			<span style="color:red" ng-show="myForm.requirement.$dirty && myForm.requirement.$invalid">
				<span ng-show="myForm.requirement.$error.required">Custom Requirement are Required.</span>
				<span ng-show="myForm.requirement.$error.minlength">Plz Enter minimum 10 character</span>
				<span ng-show="myForm.requirement.$error.maxlength">You have exceed limit</span>
			</span-->
		</div>					
	</div>
	<div class="form-group">
		<label for="custom" class="col-sm-2 control-label">Sketch</label>
		
		<div class="col-sm-9">
			<input type="file" id="sketch" name="sketch"><img src="">	
		</div>
	</div>					
	<div class="form-group">
		<label for="custom" class="col-sm-2 control-label">Make it</label>
		<div class="col-sm-9">
			<label class="radio-inline">
				<input type="radio" name="radio" id="Public" value="Public" checked>Public
			</label>
			<label class="radio-inline">
				<input type="radio" name="radio" id="Private" value="Private">Private
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-success" tooltip="Send Request">Send Request</button>
			<button type="reset" class="btn btn-danger" tooltip="Cancle">Reset</button>
		</div>
	</div>					
</form>
			