<h3 class="col-sm-offset-2 col-sm-9">Submit Template</h3>{{submittemp | json}}
	<form name="submittempForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="submittempForm.$valid">
	<div class="form-group">
						<label for="template" class="col-sm-2 control-label" name="template" >Template</label>
						<div class="col-sm-3">
							<select class="form-control" id="template" name="template" ng-model="submittemp.template" required ng-change="getState(submittemp.template)" ng-options="item.country_name as item.country_name for item in contries">		
								<option value="">Select Template</option>
							</select>{{submittemp.template}}
							<span class="help-block" ng-show="submittempForm.template.$dirty && submittempForm.template.$invalid">
								<span class="text-danger" ng-show="submittempForm.template.$error.required">Country is required.</span>
							</span>				
						</div>
						<div class="col-sm-3">
							<select class="form-control" id="catagory" name="catagory" ng-model="submittemp.catagory" ng-change="getTemplate(submittemp.catagory)" required ng-options="item.catagory_name as item.catagory_name for item in catagories">		
								<option value="">Select Catagory</option>
							</select>
							<span class="help-block" ng-show="submittempForm.catagory.$dirty && submittempForm.catagory.$invalid">
								<span class="text-danger" ng-show="submittempForm.catagory.$error.required">Catagory is required.</span>
							</span>				
						</div>
						<div class="col-sm-3">
							<select class="form-control" id="template_name" name="template_name" ng-model="submittemp.address.template_name" required ng-options="item.template_name as item.template_name for item in templates">		
								<option value="">Select template_name</option>
							</select>
							<span class="help-block" ng-show="submittempForm.template_name.$dirty && submittempForm.template_name.$invalid">
								<span class="text-danger" ng-show="submittempForm.template_name.$error.required">Template Name is required.</span>
							</span>				
						</div>
	</div>				
		<div class="form-group">	
		<label  for="date" class="col-sm-2 control-label">Date</label>
		<div class="col-sm-9">
				  <input type="date" id="date" class="form-control" name="dateInput" ng-model="submittemp.custome_requirement.date" required  placeholder="date" ng-model="date">(yyyy/mm/dd)
		</div>						
		</div>
		<div class="form-group">	
			<label  for="domain" class="col-sm-2 control-label">Domain Name</label>
				<div class="col-sm-9">
					<input type="text" id="domain" class="form-control" name="domain" placeholder="Domain Name" ng-model="submittemp.custome_requirement.domain" required >
					<span class="text-danger" ng-show="reqCustTemplate.domain.$dirty && reqCustTemplate.domain.$invalid">
					<span ng-show="reqCustTemplate.domain.$error.required">Domain Name is required.</span>
					</span>
				</div>						
		</div>	
		<div class="form-group">
			<label for="contact" class="col-md-2 control-label">Contact Number </label>
			<div class="col-md-9">
				<input type="text" id="contact" name="contact" class="form-control" ng-model="submittemp.custome_requirement.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
					<span class="help-block" ng-show="submittempForm.contact.$dirty && submittempForm.contact.$invalid">
						<span ng-show="submittempForm.contact.$error.pattern && (submittempForm.contact.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
					</span>
			</div>						
		</div>
		<div class="form-group">
			<label for="requirement" class="col-sm-2 control-label">Custom Requirement</label>	
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="custome_requirement" name="custome_requirement" ng-model="submittemp.custome_requirement.requirement" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Product Description" ui-tinymce required></textarea>
				<p ng-hide="submittempForm.custome_requirement.$error.maxlength">{{ 256 - custome_requirement.length + " Chars left" }}
				</p>
				<span class="help-block" ng-show="submittempForm.custome_requirement.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="submittempForm.custome_requirement.$dirty && submittempForm.custome_requirement.$invalid">
					<span class="text-danger" ng-show="submittempForm.custome_requirement.$error.required">Product Description is required.</span>
					</span>
			</div>  
		</div>	
		
		
		<div class="form-group">
			<label for="tempImages" class="col-sm-2 control-label">Scrible</label>
			<div class="col-sm-9">
				<input type="file" id="tempImages" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="tempImages">
				<!-- This will show thumbnails & progress of images -->
						<file-preview url="tempImages"></file-preview>
						<!-- This button will show if file/s selected -->
						<button ng-show="tempImages" ng-click="upload(tempImages,path,userinfo)" type="button">Upload</button>
						<!-- This hidden input will store image path in array after successful uploading -->
						<input type="hidden" ng-model="submittemp.scrible">
			</div>
		</div>	
<div>
	<input type="hidden" ng-model="submittemp.user_id">
</div>		
		<div class="form-group">
			<label for="custom" class="col-sm-2 control-label">Make it</label>
			<div class="col-sm-9">
				<label class="radio-inline">
					<input type="radio" name="radio" id="Public" value="Public" ng-model="submittemp.template_type" checked >Public
				</label>
				<label class="radio-inline">
					<input type="radio" name="radio" id="Private" value="Private" ng-model="submittemp.template_type">Private
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-success" ng-disabled="submittempForm.$dirty && submittempForm.$invalid" ng-click="postData(reqtemp)">Submit</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</div>					
	</form>
			