
		<div class="main-content">
		<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-md-12 text-right bottomspace">
				<a href="#/dashboard/templates" class="btn btn-default">List of Templates</a>
				<a href="#/dashboard/templates/mytemplates" class="btn btn-default">My Templates</a>
				<a href="#/dashboard/templates/requestcustomtemplates" class="btn btn-default">Request Custom Template</a>
				<a href="#/dashboard/templates/custometemplates" class="btn btn-default">Custom Templates</a>
			</div>
			<div class="col-md-12">
				<ng-include ng-if="tempPart=='listoftemplates'" src="'modules/templates/listoftemplates.html'"></ng-include>	
				<ng-include ng-if="tempPart=='mytemplates'" src="'modules/templates/mytemplates.html'"></ng-include>	
				
				<ng-include ng-if="tempPart=='requestcustomtemplates'" src="'modules/templates/requestcustomtemplates.html'"></ng-include>	
				
				<ng-include ng-if="tempPart=='custometemplates'" src="'modules/templates/custometemplates.html'"></ng-include>	
			</div>
		</div>
	</div>
