<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	
	<form name="applyTemplateForm" class="form-horizontal" role="form" novalidate="novalidate" 	ng-submit="applyTemplateForm.$valid">
		<div class="modal-body">{{modalOptions.tempList|json}}<h1>Website Details</h1>
			<div class="form-group">	
				<label  for="template_name" class="col-sm-2 control-label">Template Name</label>
					<div class="col-sm-9">
						<input type="text" id="template_name" class="form-control" name="template_name" ng-model="modalOptions.tempList.template_name">
					</div>						
			</div>	
			<div class="form-group">	
				<label  for="date" class="col-sm-2 control-label"> Date</label>
					<div class="col-sm-9">
						<input type="text" id="date" class="form-control" name="date" ng-model="modalOptions.tempList.date">
					</div>						
			</div>	
			<div class="form-group">	
				<label  for="modified_date" class="col-sm-2 control-label">Modified Date</label>
					<div class="col-sm-9">
						<input type="text" id="modified_date" class="form-control" name="modified_date" ng-model="modalOptions.tempList.modified_date">
					</div>						
			</div>	
			<div class="form-group">	
				<label  for="category" class="col-sm-2 control-label">Template Category </label>
					<div class="col-sm-9">
						<input type="text" id="category" class="form-control" name="category" ng-model="modalOptions.tempList.category">
					</div>		
					<input type="hidden" ng-model="modalOptions.tempList.user_id" >
					
					<input type="hidden" ng-model="modalOptions.tempList.created_by" />
					<input type="hidden" ng-model="modalOptions.tempList.status" />
					
			</div>	
			<div class="form-group">	
				<label  for="website_id" class="col-sm-2 control-label">Website name </label>
				<div class="col-sm-9">
					<select id="website_id" name="website_id" class="form-control" ng-change="changeScope(selectDomain)" ng-model="modalOptions.tempList.website_id" ng-options="item.id as item.domain_name for item in modalOptions.websiteList" > 
							<option value="">Select Website</option>
					</select>
					<span class="help-block" ng-show="applyTemplateForm.website_id.$dirty && applyTemplateForm.website_id.$invalid">
						<span ng-show="applyTemplateForm.website_id.$error.required" class="text-danger">Please select website.</span>
					</span>	
					<input type="hidden" ng-model="applyTemplate.config" ng-init ="applyTemplate.config = modalOptions.tempId"/>
				
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" ng-disabled="applyTemplateForm.$invalid" class="btn btn-primary" ng-click=" addMytemplate(modalOptions);modalOptions.ok()">OK</button>
		</div>
	</form>
</div>			


