<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<tabset>
					<tab heading="Scrible Info" title="Scrible Info">
						<table class="table table-bordered table-hover">
						<tr><th>SCRIBLE DETAILS</th></tr>
						<tr>
							<td>
								<table class="table table-responsive">
									<tr><th>ID</th>
									<td>{{modalOptions.tempList.id}}</td></tr>
									<tr><th>Template Name</th><td>{{modalOptions.tempList.template_name}}</td></tr>
									<tr><th>Template Type</th><td>{{modalOptions.tempList.template_type}}</td></tr>
									<tr><th>Development Status</th><td>{{modalOptions.tempList.development_status}}</td></tr>
									<tr><th>Category</th><td>{{modalOptions.tempList.category}}</td></tr>
									<tr><th>Create Date</th><td>{{modalOptions.tempList.date}}</td></tr>
								</table>
							</td>
							
							<td>
								<table class="table table-responsive">
								<tr><th>Custome Requirements</th></tr>
									<tr><th>Domain</th><td>{{modalOptions.tempList.custome_requirement.domain}}</td></tr>
									<tr><th>Contact</th><td>{{modalOptions.tempList.custome_requirement.contact}}</td></tr>
									<tr><th>Requiremwnt</th><td>{{modalOptions.tempList.custome_requirement.requirement}}</td></tr>
								</table>
							</td>
							
						</tr>
						</table>
					</tab>
					<tab heading="Template Image" title="Template Image">
						<div class="table-responsive">
						<table class="table table-bordered">
						<tr "modalOptions.templates">
							<td>
							<span class="thumbs" ng-repeat="(key, value) in modalOptions.tempList.template_image">
								<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.tempList.imgkey = key"/>
							</span>
							<img class="img-responsive" ng-model="modalOptions.tempList.imgkey" ng-src="{{appConfig.assetPath + modalOptions.tempList.template_image[modalOptions.tempList.imgkey].file_relative_path}}" ng-init="modalOptions.tempList.imgkey = 0"/>
							</td>
						</tr>		
						</table>
						</div>
					</tab>
					<tab heading="Scrible" title="Scrible">
					<div class="table-responsive">
						<table class="table table-bordered">
							<tr "modalOptions.templates">
								<td>
									<span class="thumbs" ng-repeat="(key, value) in modalOptions.tempList.scrible">
									<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.tempList.imgkey = key"/>
									</span>
									<img class="img-responsive" ng-model="modalOptions.tempList.imgkey" ng-src="{{appConfig.assetPath + modalOptions.tempList.scrible[modalOptions.tempList.imgkey].file_relative_path}}" ng-init="modalOptions.tempList.imgkey = 0"/>
								</td>
						</tr>		
						</table>
						</div>
					</tab>
				</tabset>											
			</div>
		</div>
	</div>
</div>			
