
<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
						<h1>Template</h1>
						
						<!--<div class="table-responsive">		
		<table class="table table-bordered table-hover">
			<thead>
				<th>Sr.No.</th>
				<th>Site Names</th>
				<th>Start Date</th>
				<th>Exp Date</th>
				<th>registered_date</th>
				<th>validity</th>
				<th>description</th>
			</thead>
				<tbody>
					<tr ng-repeat="x in website | orderBy:sort ">
					<td>{{((webListCurrentPage - 1) * pageItems) + $index + 1 }}</td>
					<td>{{x.domain_name}} 
					<button type="button" class="btn btn-warning glyphicon glyphicon-pencil pull-right" tooltip="Edit">
					</button>
					</td>
					<td>{{x.registered_date}}</td>
					<td>{{x.expiry_date}}</td>
					
					</tr>
				</tbody>					
		</table>
	</div>-->
	
						<!-- <div ng-repeat="abc in modalOptions.tempList">
							{{abc + " img"}}
						</div> -->
						<p>{{modalOptions.tempList | json}}</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
				<button class="btn btn-primary" ng-click="modalOptions.ok()">OK</button>
	</div>
</div>			
