.featured_services{
		h4{
			font-size:15px;
			color:@darkcolor;
		}
		.servimage{
			.img-responsive{
			 height: 200px;
			}
		}	
		.servdesc{
				height: 240px;
				.description {
					height: 125px;
					overflow: hidden;
				}
		}	
}	
.feature {
		> h1{
				background: linear-gradient(90deg, @colorblack , @colorwhite);
				color:@lightcolor;
				font-size:30px;
				padding:2px 4px 2px 4px;
				font-family:Amarnath;
				margin-top: -90px;
			   padding-left: 100px;
			}
			&::before{
				position : absolute;
				content: '';
				width: 500px;
				height:60px;
				top: -90px;
				left :20px;
				background:url(../img/head_icon2.png) no-repeat;	
			}
	}		

//multiple products
.products{
		
	.thumbnail{
	
		.prodimg{
			width: 200px;
			height: 173px;
			overflow: hidden;
			margin: auto;
			padding: 25px;

			img{
				min-height : 148px;
				border: 1px solid @darkcolor;
				&:hover{
				opacity:0.8;
				border: 3px solid @colorblack;
				}
			}
		}
		.caption{
			height: 190px;
			> h4{
				font-size:25px;
				color:@darkcolor;
				text-transform:uppercase;
					&:hover{
						color:@colorblack;
					}
			}
			.description{
				height : 75px;
				overflow : hidden;
			}
		}
		.readmore{
			margin-top : 130px;
			text-align : center;
			a{
				background-color : @darkcolor;
				color : @lightbackcolor;
				padding : 6px 12px;
				border : 2px solid transparent;
				border-radius : 0px;
				font: 16px 'Cinzel-Regular', cursive;
				&:hover{
					color : @darkcolor;
					background-color : @back;
					border : 2px solid @darkcolor;
				}
			}
		}
	}
}
.row.singleproduct {
		padding: 66px;
		.thumbnail{
			border:1px solid @lightcolor;
				>img {
					height: 200px;
				}
				&:hover{
				border:4px solid @lightcolor;
				}
		}
}

@media (max-width: 320px){
	.products .thumbnail .readmore {
				margin-top: -35px;
				text-align: center;
	}
	.feature {
			&::before{
				position : absolute;
				content: '';
				width: 500px;
				height:70px;
				top: 0px;
				left :20px;
				background:url(../img/head_icon2.png) no-repeat;	
			}
	}
}

@media (min-width: 321px) and(max-width: 768px){
	.products .thumbnail .readmore {
		margin-top: -20px;
		text-align: center;
	}
	.feature {
			&::before{
				position : absolute;
				content: '';
				width: 500px;
				height:40px;
				top: -2px;
				left :20px;
				background:url(../img/head_icon2.png) no-repeat;	
			}
	}
}













/**************************************************/

/*//featured servieces
.services{
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkcolor;
		}
	}
	.servdesc{
		height : 250px;
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			margin-top: 10px;
			a{
				background-color : @darkcolor;
				color : @lightbackcolor;
				padding : 6px 12px;
				border : 2px solid transparent;
				border-radius : 0px;
				font: 16px 'Cinzel-Regular', cursive;
				&:hover{
					color : @darkcolor;
					background-color : @back;
					border : 2px solid @darkcolor;
				}
			}
		}
	}
}


@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 465px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 186px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 100px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 400px;
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}*/