<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
				<div class="col-md-12">
					<ng-include src="'modules/hospital/general_entities/nav.html'"></ng-include>
				</div>
		</div>

			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" ng-repeat="x in GeneraldashboardList">
					<div class="gridblock">
						<div class="row">
							<div class="col-md-4"> 
								<img ng-if="x.moduleIcon" class="dashimg" ng-src="modules/{{x.moduleIcon}}">
							</div>
							<div class="title col-md-8"> 
									<h4>{{x.title}}	{{x.path}}</h4>
									<span>{{x.description}}</span>
							</div>
						</div>
						<div class="row text-center">
							<a class="btn btn-warning center-block" name="btn1" href="#/dashboard/{{x.path}}">{{x.title}}</a>
						</div>
					</div>	
				</div>
			</div>
		<div class="text-center">				
			<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'patient','patient',patientParams)"></pagination>
			<pre>Page: {{currentPage}} / {{numPages}}</pre>
		</div>	
</div>
		

