<div class="modal-header">
	<h3  ng-if="!modalOptions.addequipment.id" class="text-center">Add New Equipment</h3>
	<h3  ng-if="modalOptions.addequipment.id" class="text-center">Edit Equipment</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="addequipmentForm" role="form" ng-submit="addequipmentForm.$valid" novalidate="novalidate"><!--{{modalOptions.addpatient}}-->	 
		<div class="form-group">
			<label  for="equipment_date" class="col-sm-2 control-label">Date * </label>
			<div class="col-sm-9">
				<input type="text" class="form-control" placeholder="Equipment Date" id="equipment_date" name="equipment_date" ng-model="modalOptions.addequipment.equipment_date" datepicker-popup="dd-MM-yyyy" is-open="opened"  max-date="maxDate" datepicker-options="dateOptions" close-text="Close" ng-click="opened = !opened" required>
				<span class=" text-danger error" ng-show="addequipmentForm.equipment_date.$error.required">
				Required!</span>
				<span class=" text-danger error" ng-show="addequipmentForm.equipment_date.$error.date">
				Not a valid date!</span>
			</div>
		</div>		
		<div class="form-group">
			<label for="equipment_name" class="col-sm-2 control-label">Equipment Name *</label>
			<div class="col-sm-9">					
				<input type="text" id="equipment_name" class="form-control" name="equipment_name" placeholder="Equipment Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addequipment.equipment_name"required>
				 <span class="text-danger"  ng-show="addequipmentForm.equipment_name.$error.pattern">Please enter valid name</span>
				<span class="help-block" ng-show="addequipmentForm.equipment_name.$dirty && addequipmentForm.equipment_name.$invalid">
					<span class="text-danger" ng-show="addequipmentForm.equipment_name.$error.required">Name is required.</span>
				</span>
			</div>
		</div>	
		<div class="form-group">
			<label for="quantity" class="col-sm-2 control-label">Quantity *</label>
			<div class="col-sm-4">
				<input type="text" required name="quantity" class="form-control" id="quantity" ng-model="modalOptions.addequipment.quantity" placeholder="Enter Quantity" ng-pattern="/^\d{0,9}[0-9]$/" required>
				<span class="text-danger"  ng-show="addequipmentForm.quantity.$error.pattern">Please enter valid quantity</span>
				<span class="help-block" ng-show="addequipmentForm.quantity.$dirty && addequipmentForm.quantity.$invalid">
					<span ng-show="addequipmentForm.quantity.$error.required"class="text-danger">Quantity is required.</span>
				</span>				
			</div>	
			<label for="price" class="col-sm-1 control-label">Price *</label>
			<div class="col-sm-4">
			<input type="text" id="price" name="price" class="form-control" ng-model="modalOptions.addequipment.price" placeholder="Enter Price"ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"required>
			<span class="text-danger"  ng-show="addequipmentForm.price.$error.pattern">Please enter valid price</span>
				<span class="help-block" ng-show="addequipmentForm.price.$dirty && addequipmentForm.price.$invalid">
					<span ng-show="addequipmentForm.price.$error.required" class="text-danger">Price is required.</span>
				</span>				
			</div>
		</div>
		<div class="form-group">
		<label for="unit" class="col-sm-2 control-label">Unit *</label>
			<div class="col-sm-4">
				<input type="text" required name="unit" class="form-control" id="unit" ng-model="modalOptions.addequipment.unit" placeholder="Enter Unit"  ng-pattern="/^[a-zA-Z/ ]*$/"required>
				<span class="text-danger"  ng-show="addequipmentForm.unit.$error.pattern">Please enter valid unit</span>
				<span class="help-block" ng-show="addequipmentForm.unit.$dirty && addequipmentForm.unit.$invalid">
					<span ng-show="addequipmentForm.unit.$error.required"class="text-danger">Unit is required.</span>
				</span>				
			</div>	
			<label for="equipment_charges" class="col-sm-1 control-label">Charges*</label>
			<div class="col-sm-4">
				<input type="text" required name="equipment_charges" class="form-control" id="equipment_charges" ng-model="modalOptions.addequipment.equipment_charges" placeholder="Enter  Equipment Charges" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
				<span class="text-danger"  ng-show="addequipmentForm.equipment_charges.$error.pattern">Please enter valid equipment charges</span>
				<span class="help-block" ng-show="addequipmentForm.equipment_charges.$dirty && addequipmentForm.equipment_charges.$invalid">
					<span ng-show="addequipmentForm.equipment_charges.$error.required"class="text-danger">Equipment charges is required.</span>
				</span>				
			</div>	
		</div>
		<div class="form-group">
			<label for="equipment_description" class="col-sm-2 control-label">Description *</label>
			<div class="col-sm-9">
				<textarea  type="text" required name="equipment_description" class="form-control" id="equipment_description" ng-model="modalOptions.addequipment.equipment_description" placeholder="Enter Description for Equipment" ></textarea>
				<span class="text-danger"  ng-show="addequipmentForm.equipment_description.$error.pattern">Please enter valid equipment description</span>
					<span ng-hide="addequipmentForm.equipment_description.$error.maxlength">{{ 250 - modalOptions.addequipment.equipment_description.length + " Chars left"}}</span>
					<span class="help-block" ng-show="addequipmentForm.equipment_description.$dirty &&  addequipmentForm.equipment_description.$invalid">
						<span class="text-danger" ng-show="addequipmentForm.equipment_description.$error.maxlength">Sorry you are exceeding the limit</span>
						<span class="text-danger" ng-show="addequipmentForm.equipment_description.$error.required">Description is required.</span>
					</span>		
			</div>
		</div>
	</form>
</div>
<div class="modal-footer" >
	<div class="col-sm-offset-3 col-sm-9">
	 <button type="submit" class="btn btn-success" ng-if="!modalOptions.addequipment.id" ng-disabled="addequipmentForm.$invalid" ng-click="modalOptions.postData('equipment',modalOptions.addequipment);modalOptions.ok()">Add Equipment</button>
		
		<button type="submit" ng-if="modalOptions.addequipment.id" class="btn btn-success" ng-disabled="addequipmentForm.$invalid" ng-click="modalOptions.updateData('equipment',modalOptions.addequipment,modalOptions.addequipment.id);modalOptions.ok()">Update Equipment</button>
		
		<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
	</div>
</div>



