.products,	.singleproduct{
	.thumbnail{
		background-color: @back;
		img{
			max-height:180px;
		}
	}
	.readmore{
		margin-top : 10px;
	}
}
.services{
	.servdesc{
		height : 200px;
	}
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkcolor;
		}
	}
	.servdesc{
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			text-align : center;
			margin-top : 10px;
			a{
				background-color : @darkbackcolor;
				color : @colorwhite;
				padding : 6px 12px;
				border : 2px solid transparent;
				border-radius : 0px;
				
				&:hover{
					color : @darkcolor;
					background-color : @back;
					border : 2px solid @darkbackcolor;
				}
			}
		}
	}
}

.contentModule .sections{
		background-color: @lightbackcolor;
		border:1px solid @darkbackcolor;
		box-shadow:2px 2px 2px @lightcolor;
		border-radius : 4px;
		.readmore .btn-info{
			background-color:@darkbackcolor;
		}
}
.products{
	margin-bottom : 10px;
	.thumbnail{
		border:1px solid @lightbackcolor;
		img{
			border : 4px solid transparent;
			padding : 6px;
			&:hover{
				border : 4px solid @darkbackcolor;
			}
		}
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			text-align : center;
		}
	}
	
}
@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 430px;
			img{
				min-height : 240px;
			}
			.caption{
				height: 138px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 186px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
			img{
				min-height : 242px;
			}
			.caption{
				max-height: 142px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 100px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 400px;
			img{
				min-height : 148px;
			}
			.caption{
				max-height: 190px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 190px;
		}
	}
}