//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		width:100px;
		img{
			border : 1px solid #444444;
			min-height: 190px;
		}
		a{
			color:@color;
			font-weight : bold;
			text-decoration:underline;
			&:hover{
				color:@color;
				text-decoration:none;
			}
		}
	}
}

.homeproject {
	margin-top:10px;
	.projectnav,.projsnap {
		background-color: @colorwhite;
		border-radius : 4px;
		padding:5px;
		min-height:312px;
		a{
			color: @colorblack;
			&:hover{
				color: @color;
				text-decoration:none;
			}
		}
	}
	#carousel {
		background-color: #ccc;
		transform: scale(1.04);
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
		.carousel-inner {
			transform: rotate(-3deg);
			border: 2px solid #F9F5F5;
			border-top-left-radius: 15px;
			border-bottom-right-radius: 15px;
			.item{
				height: 312px;
				overflow: hidden;
				>img{
					width :100%;
					min-height : 310px;
				}
			}
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}

//css for single project & project list
	.projlist{
		.project{
			.thumbnail{
				height:430px;
				padding-top : 15px;
				.caption{
					color : @lightcolor;
					a{
						color : @color;
						text-decoration : underline;
						&:hover{
							color : @color;
							text-decoration : none;
						}
					}
				}
			}
			.navbar{
				margin-top:10px;
				margin-bottom:10px;
				height : 20px;
				width:auto;
			}
			ul.nav.navbar-nav {
				background-color: @darkbackcolor;
				color:@lightbackcolor;
				border-bottom: 4px solid @lightbackcolor;
				height : 42px;
				>li{
					border-right : 1px solid @lightbackcolor;
					height : 38px;
					>a, > a:focus{
						padding : 9px 14px;
						color : @lightcolor;
						font-weight : bold;
					} 
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
						background-color: @back ;
						color : @lightbackcolor;
					}
				}
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			.projImgs{
				margin-bottom: 20px;
				max-height : 175px;
			}
			
		}
		.projectgallery{ 
			background-color : @back;
			border : 1px solid @lightbackcolor;
			padding: 20px 20px 0px;
			.thumbnail{
				background-color : @darkbackcolor;
			}
		}
	}
	
	@media (min-width: 320px){
		.projImg{
			float :none;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float :left;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
		}
	}