//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		width:100px;
		img{
			border : 1px solid @darkcolor;
			min-height: 190px;
		}
		a{
			color:@color;
			font-weight : bold;
			text-decoration:underline;
			&:hover{
				color:@color;
				text-decoration:none;
			}
		}
	}
}

.homeproject {
	margin-top:10px;
	.projectnav,.projsnap {
		background-color: @lightbackcolor;
		border:1px solid @darkbackcolor;
		box-shadow: 3px 3px 6px #ADADAD;
		border-radius : 4px;
		padding:5px;
		min-height:312px;
		a{
			color: @colorblack;
			&:hover{
				color: @color;
				text-decoration:none;
			}
		}
		img{
			height : 110px;
			margin-top: 10px;
			margin-bottom: 10px;
			border : 1px solid @lightbackcolor;
			border-radius : 5px;
			padding :4px;
		}
	}
	
	#carousel {
		background-color: @lightbackcolor;
		transform: scale(1.04);
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
		.carousel-inner {
			transform: rotate(-3deg);
			border: 2px solid @lightbackcolor;
			border-top-left-radius: 15px;
			border-bottom-right-radius: 15px;
			.item{
				height: 312px;
				overflow: hidden;
				>img{
					width :100%;
					min-height : 310px;
				}
			}
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}

// single project nav css
.project{
	.navbar{
		background-color: @darkbackcolor;
		border-bottom: 4px solid @lightbackcolor;
		border-radius: 0;
		margin-bottom:10px;
		width:auto;
	}
	ul.nav.navbar-nav {
		color:@colorwhite;
		background-color: @darkbackcolor;
		>li{
			border-right : 1px solid @lightbackcolor;
			height : 38px;
			>a, > a:focus{
				padding : 10px;
				color : @colorwhite;
				font-weight : bold;
			} 
			&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
				background-color: @back ;
				color : @colorwhite;
			}
		}
	}
}

//css for single project & project list
	.projlist{
		.panel-default{
			.panel-body{
				img:hover{
					border:4px solid #lightbackcolor; 
				}
			}
		}
		border:1px solid @darkbackcolor;
		box-shadow: 3px 3px 6px #ADADAD;
		background-color:@lightbackcolor;
		padding:10px;
		.project{
			
			.thumbnail{
				height:430px;
				padding-top : 15px;
				.caption{
					color : @lightcolor;
					a{
						color: @color;
						text-decoration: none;
						&:hover{
							color : @color;
							text-decoration : underline;
						}
					}
				}
				
				.caption p{
					color:@colorblack;
				}
			}
			.navbar{
				height:50px;
				
				border: 1px solid @lightbackcolor;
				border-radius: 0;
				margin-top:10px;
				margin-bottom:10px;
				height : 20px;
				width:auto;
				
			}
			ul.nav.navbar-nav {
				color:@lightbackcolor;
				
				border-bottom: 4px solid @lightbackcolor;
				height : 42px;
				>li{
					border-right : 1px solid @lightbackcolor;
					height : 38px;
					>a, > a:focus{
						padding : 9px 14px;
						color : @lightcolor;
						font-weight : bold;
					} 
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
						background-color: @back ;
						color : @lightbackcolor;
					}
				}
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			
		}
		.projectgallery{ 
			background-color : @back;
			border : 1px solid @lightbackcolor;
			padding: 20px 20px 0px;
			.thumbnail{
				background-color : @darkbackcolor;
			}
		}
		
		//pagination css
		nav {
			.pagination{
				li,.disabled{
					a{
						background-color: @back;
						border-color : @darkbackcolor;
						color:@colorblack;
						&:hover{
							background-color:@color;
							color:@colorblack;
						}
					}
				}
				>.active>a{
					background-color:@color;
					color:@colorblack;
				}
			}
			
		} 
		
	}
	
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}