	@color : #ffa366;
	@lightcolor : #BBBBBB;
	@darkcolor : #000;
	@back : #272600;
	@darkbackcolor : #171600;
	@lightbackcolor :#2F3826; 
	@sublinkcolor :#b34800;
	@linkcolor:#cfc;
	@colorblack : #000;
	@colorwhite	: #fff;
	@contentlink:#6ba72b;
	@contentback: #F9F5F5;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "service.less";
	body{
		background-color : #ede9d7;
	}
	
	.logo {
		height: 80px;
		margin-top: 25px;
		margin-left: 15px;
		max-height: 100px;
	}
	.cnctinfo{
		
		margin: 40px 15px 40px 0;
		p{
			a{
				color:#5f9429;
			}
			a:hover{
				text-decoration:none;
				color:#000;
			}
		}
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	.navbar-default {
		height:50px;
		background-color:#5f9429;
		border: 1px solid @lightbackcolor;
		border-radius: 0;
		.navbar-nav{
			> li{
				
				margin-bottom:0px;
				position : relative;
				margin-right: 10px;
				a{
					top: 10px;
					text-transform:uppercase;
					padding: 20px 20px;
					
				}
				> a, > a:focus {
					color:@linkcolor;
					font: bold 15px/1em Arial, Helvetica, sans-serif;
					position: relative;
					padding : 10px 10px 10px;
					border:1px solid transparent;
					
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					-webkit-transition: all 0.4s;
					background-color : @color;
					padding-top: 20px;
					padding-bottom: 20px;
					top: -10px;
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @color;
					padding: 2px;
					list-style: none;
					text-align: left;
					top : 48px;
					transition : all 500ms ease-in-out;
					>li{
						border-bottom: 1px solid @linkcolor;
						padding: 5px;
						>a{
							top:0px;
							color:@linkcolor;
							font-size:10px;
							&:hover{
								text-decoration: underline;
							}
						}
						&:hover{
							background-color:@sublinkcolor;
							-webkit-transition: all 0.4s;
						}
						ul{
							list-style: none;
							li{
								font-size:10px;
								a{
									text-transform:lowercase;
								}
							}
						
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	.content{
		background-color : @darkbackcolor;
		border-radius : 7px;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1 {
	  font-size: 2.3em;
	  border-bottom: 1px solid #2f3826;
	}
	h1, h3, h4 {
	  color: #360;
	}
	h1, h2, h3 {
	  font: 2em/1.2em Playball,cursive;
	  letter-spacing: 1px;
	}
	.subhead{
		font-family: "Carter One";
		font-size: 14px;
		font-weight: bold;
		background-color: @contentlink;
		border-radius : 7px;
		color : @colorwhite;
		padding: 8px 40px;
		position : relative;
		
	}
	
	.contentModule .sections,.sidebarModule .sections{
		background-color:@contentback;
		padding:10px;
	}
	footer{
		margin-top : 15px;
		border-top:1px dashed #ccc;
		padding: 15px 0;
	}
	.proplink{
		background-color: @contentback;
		border-radius : 7px;
		padding:10px;
		padding-left:0px;
		ul{
			list-style: none;
			li{
				color:@colorblack;
				span {
					color:#CAB48E;
				}
				a{
					padding-left:10px;
					text-decoration:none;
					color:#817C7C;
				}
				a:hover{
					color:@colorblack;
				}
			}
		}
		marquee{
			ul{
				li{
					a{
						color:#360;
					}
				}
			}
		}
		form{
			.form-group{
				input,textarea,select{
					background-color:#f9f6e6;
				}
			}
			img,label,input,textarea,select{
				margin-left:5px;
			}
			button{
				margin-left:10px;
				margin-top:10px;
				
			}
		}
	}
	
	.bxslider{
		li{
			width:120px;
			img{
				border : 1px solid #444444;
				min-height: 190px;
			}
			a{
				color:#ffa366;
				font-weight : bold;
				text-decoration:underline;
				&:hover{
					color:#ffa366;
					text-decoration:none;
				}
			}
		}
	}
	.bxslider1{
		padding:0px;
		li{
			.thumbnail {
				margin-bottom : 0px;
				img{
					max-height: 165px;
				}
			}
			.head{
				color:@color;
				font-weight : bold;
				&:hover{
					color:@color;
					text-decoration:none;
				}
			}
		}
	}
	
	//aboutus page css
	.sidebar{
		.nav-pills{
			background-color: @back;
			border-bottom: 4px solid @lightbackcolor;
			>li{
				border-right : 1px solid @lightbackcolor;
				height : 38px;
				>a, > a:focus{
					padding-top : 9px;
					padding-bottom : 9px;
					color : @lightcolor;
					font-weight : bold;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					background-color: @color ;
					color : @colorblack;
				}
			}
		}
	}
	.about, .contact, .charges{
		.table{
			tbody{
				tr{
					th,td{
						border-color : @lightbackcolor;
					}
				}
			}
		}
	}
	.about{
		background-color:@contentback;
		padding:10px;
		.table{
			margin-top: 20px;
		}
	}
	.infrastructure{
		.thumbnail{
			height: 395px;
			img{
				height : 190px;
			}
			.caption{
				height: 138px;
			}
		}
	}
	//Common effect
	.contact, .myjobs{
		
		.panel-default {
			border-color: @lightbackcolor;
		}
		.panel{
			background-color : @contentback;
		}
	}
	
	
	//contactus page css
	.contact{
	background-color:@contentback;
		img{
			max-height: 110px;
		}
	}
	#googleMap{
		height:325px;
	}
	
	//gallery
	.mygallery{
		.thumbnail{
			height:400px;
		}
	}
	
	//testimonials
	.mytesti{
		blockquote{
			font-size : inherit;
			border-left: 3px solid @lightbackcolor;
			img{
				max-height : 70px;
				display : inline-block;
				margin-right : 10px;
			}
			a{
				color : @color;
				font-size : 17.5px;
			}
		}
	}
	
	//charges
	.highlight{
		color :@color;
	}
	
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
		
		.item.active, .projnav{
			height: 120px;
			overflow: hidden;
		}
		
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
		.projnav{
			height: 322px;
		}
		.item.active{
			height: 312px;
			overflow: hidden;
		}
		
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
		.projnav{
			height: 322px;
		}
		.item.active,{
			height: 312px;
			overflow: hidden;
		} 
		
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
	}