@font-face{
	font-family:'QumpellkaNo12';
	src:url('../fonts/QumpellkaNo12.otf');
}

//text color shade
	@color : #F4B993; // orange
	@lightcolor : #B8F9B8; // light gray
	@darkcolor : #930616; // dark red
	 
//background color shade
	@back : #ede9d7; // use body background color
	@darkbackcolor : #6ba72b; // use green background
	@lightbackcolor :#f9f5f5;  // light bg (light yellow)
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	
	@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	body{
		background-color : @back;
	}
	
	.logo {
		height: 80px;
		margin-top: 25px;
		margin-left: 15px;
		max-height: 100px;
	}
	a, .btn.btn-link{
		color: @darkbackcolor;
	}
	a:hover, .btn.btn-link:hover{
		text-decoration : none;
		color: @color;
	}
	.cnctinfo{
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	.navbar-default {
		height:50px;
		background-color:#5f9429;
		border: 1px solid @lightbackcolor;
		border-radius: 0;
		.navbar-nav{
			> li{
				padding:10px;
				margin-bottom:0px;
				position : relative;
				margin-right: 10px;
				a{
					padding:5px;
					text-transform: uppercase;
				}
				> a, > a:focus {
					color: @lightcolor;
					font: bold 15px/1em Arial, Helvetica, sans-serif;
					position: relative;
					border:1px solid transparent;
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background-color: @color;
					border:1px solid @colorwhite;
					border-radius:4px;
				}
				> ul{
					margin-top:10px;
					display: none;
					border:1px solid @colorwhite;
					border-radius:5px;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @color;
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						border-bottom: 1px solid @lightbackcolor;
						padding: 5px;
						text-transform:uppercase;
						font-size:10px;
						>a{
							color:@colorblack;
							top:0px;
							font-size:14px;
							&:hover{
								text-decoration: underline;
							}
						}
						&:hover{
							background-color: @darkcolor;
							-webkit-transition: all 0.4s;
						}
						ul{
							
							list-style: none;
							li{
								font-size:12px;
								a{
									text-transform:lowercase;
								}
							}
						
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	
	.content{
		background-color : @darkbackcolor;
		border-radius : 7px;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1 {
	  font-size: 2.3em;
	  border-bottom: 1px solid @darkbackcolor;
	  font-weight:bold;
	  letter-spacing: 1px;
	}
	h1, h3, h4 {
	  color: @darkbackcolor;
	}
	 h2, h3 {
	  font: 1.5em/1.2em QumpellkaNo12;
	  font-weight:bold;
	  letter-spacing: 1px;
	}
	.sidebarModule .panel,.sidebarModule .sections{
		background-color: @lightbackcolor;
		border:1px solid @darkbackcolor;
		box-shadow: 3px 3px 6px #ADADAD;
		border-radius : 4px;
	}
	.btn-info, .propertylist .btn-primary{
		background-color: @darkbackcolor;
		border-color : @darkbackcolor;
	}
	.btn-info:hover, .propertylist .btn-primary:hover{
		background-color: @lightbackcolor;
		border-color : @darkbackcolor;
		color : @color;
	}
	.btn.send{
		margin-right : 10px;
	}
	.subhead{
		font-family: "Carter One";
		font-size: 14px;
		font-weight: bold;
		background-color: @darkbackcolor;
		border-radius : 7px;
		color : @colorwhite;
		padding: 8px 40px;
		position : relative;
	}
	.contentModule {
		.sections{
			padding-top:10px;
			padding-right:10px;
			border:1px solid @darkbackcolor;
			box-shadow:2px 2px 2px @lightcolor;
			border-radius : 4px;
			background-color:@lightbackcolor;
			img{
				max-height: 215px;
				width : 100%;
				padding : 4px;
				border : 3px solid transparent;
				&:hover{ 
					border : 3px solid @color;
				}
			}
			.readmore{
				margin-bottom :10px;
				margin-top:10px;
				a{
					font: 16px 'Alex Brush', cursive;
					background-color : @darkbackcolor;
					color : @color;
					padding : 5px 15px;
					transition : padding 250ms;
					&:hover{
						background-color : @color;
						color:@colorblack;
						padding : 5px 30px;
					}
				}
			}
		}
		
	}
	hr{
		border-style:dashed;
		border-color:#5f9429;
		margin:5px 0px;
	}
	.sidebarModule{
		.sections{
			
			padding:10px;
		}
	}
	footer{
		margin-top : 15px;
		border-top:1px dashed @darkcolor;
		padding: 15px 0;
	}
	*{
		transition:300ms;
	}
	
	//for responsive
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
		
		
		
		/*.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}*/
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
		/*.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}*/
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
		
		
		/*.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}*/
	}