//text color shade
	@color : #ffa366; // orange
	@lightcolor : #B8F9B8; // light gray
	@darkcolor : #BBBBBB; // vacant
	 
//background color shade
	@back : #ede9d7; // use body background color
	@darkbackcolor : #6ba72b; // use green background
	@lightbackcolor :#f9f5f5;  // light bg
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	
	//@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	body{
		background-color : @back;
	}
	
	.logo {
		height: 80px;
		margin-top: 25px;
		margin-left: 15px;
		max-height: 100px;
	}
	
	.cnctinfo{
		margin: 40px 15px 40px 0;
		p{
			a{
				color: @darkbackcolor;
			}
			a:hover{
				text-decoration:none;
				color: @colorblack;
			}
		}
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	.navbar-default {
		height:50px;
		background-color:#5f9429;
		border: 1px solid @lightbackcolor;
		border-radius: 0;
		.navbar-nav{
			> li{
				
				margin-bottom:0px;
				position : relative;
				margin-right: 10px;
				a{
					top: 10px;
					text-transform: uppercase;
					padding: 20px 20px;
					
				}
				> a, > a:focus {
					color: @lightcolor;
					font: bold 15px/1em Arial, Helvetica, sans-serif;
					position: relative;
					padding : 10px 10px 10px;
					border:1px solid transparent;
					
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					-webkit-transition: all 0.4s;
					background-color : @color;
					padding-top: 20px;
					padding-bottom: 20px;
					top: -10px;
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @color;
					padding: 2px;
					list-style: none;
					text-align: left;
					top : 48px;
					transition : all 500ms ease-in-out;
					>li{
						border-bottom: 1px solid @color;
						padding: 5px;
						>a{
							top:0px;
							color:@color;
							font-size:10px;
							&:hover{
								text-decoration: underline;
							}
						}
						&:hover{
							background-color: @color;
							-webkit-transition: all 0.4s;
						}
						ul{
							list-style: none;
							li{
								font-size:10px;
								a{
									text-transform:lowercase;
								}
							}
						
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	.content{
		background-color : @darkbackcolor;
		border-radius : 7px;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1 {
	  font-size: 2.3em;
	  border-bottom: 1px solid @darkbackcolor;
	}
	h1, h3, h4 {
	  color: @darkbackcolor;
	}
	h1, h2, h3 {
	  font: 2em/1.2em Playball,cursive;
	  letter-spacing: 1px;
	}
	.subhead{
		font-family: "Carter One";
		font-size: 14px;
		font-weight: bold;
		background-color: @darkbackcolor;
		border-radius : 7px;
		color : @colorwhite;
		padding: 8px 40px;
		position : relative;
		
	}
	.contentModule .sections,.sidebarModule .sections{
		background-color: @lightbackcolor;
		padding:10px;
	}
	footer{
		margin-top : 15px;
		border-top:1px dashed @darkcolor;
		padding: 15px 0;
	}
	//for responsive
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
		
		
		
		/*.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}*/
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
		/*.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}*/
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
		
		
		/*.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}*/
	}