.parallax {
	line-height:27px;
	font-size:15px;
	margin-bottom:30px;
	color:#fff;
}
.parallax>div.link {
	cursor:pointer
}
.parallax>div {
	position:relative;
	padding: 8.2% 0 7.5%;
	color:#fff;
	background-position:top;
	background-repeat:no-repeat;
	background-size:cover;
}
.parallax p {
	position:relative;
	display:block;
}
.parallax h1 {
	position: relative;
	font-size: 103px;
	line-height: 103px;
	font-weight: 700;
	color: #fff;
	z-index: 1;
	transition: all .5s ease;
}
.parallax h1 span {
	display: block;
	font-size: 53px;
	line-height: 53px;
	margin-top: -4px;
}

.parallax a + img {
	position: absolute;
	bottom: -278px;
	right: -18px;
}
.parallax a:hover h1 {
	color: #e6b244;
} 

.parallax-1 {
	overflow: hidden;
}

@media (max-width: 991px) {
	.parallax a + img {
		width: 400px;
		bottom: -182px;
	}
	.parallax h1 {
		font-size: 70px;
		line-height: 72px;
	}
	.parallax h1 span {
		font-size: 35px;
		line-height: 40px;
	}
}
@media (max-width: 689px) {
	.parallax a + img {
		width: 300px;
		bottom: -182px;
	}
	.parallax h1 {
		font-size: 50px;
		line-height: 52px;
	}
	.parallax h1 span {
		font-size: 25px;
		line-height: 30px;
	}
}
@media (max-width: 449px) {
	.parallax a + img {
		width: 200px;
		bottom: -122px;
		right: -20px;
	}
}
