//aboutus page css
	
	.about, .contact{
		.table{
			tbody{
				tr{
					th,td{
						border-color : transparent;
					}
				}
			}
		}
	}
	.about{
		.table{
			margin-top: 20px;
		}
	  }
		
			.thumbnail{
					background-color: transparent !important;
					border: 1px solid transparent;
					height:432px;
					
				.infraImg{
						height: 211px;
						width: 317px;
						overflow : hidden;
						margin : 0 auto;
						img{
							min-height :211px;
							width:100%;
							border : 2px solid transparent;
							padding : 4px;
							&:hover{
							         opacity:0.6;
								
								   
							}
						}
				}
				.caption{
					height: 138px;
					color:@colorwhite;
				}
			}
		
	
	//contactus page css
	.contact{
	     >b{
		        font-size: 40px;
		 }
		img{
			max-height: 125px;
		}
		h4{
			margin-top : 0px;
		}
	}
	#googleMap{
	margin-top:10px;
		height:395px;
	}
	.panel-default, .form-control{
           color: @colorwhite !important;
        background-color: @darkcolor;
		
		
	}
	//testimonials
	.testimonial{
		blockquote{
			font-size : inherit;
			border-left: none;
			
			img{
					max-height : 20px;
					margin-right : 10px;
				}
				cite{
					font-size : 17px;
					color : @back;
				}
			
		}
	}
	.gallery{
			.thumbnail{
				height:232px;
				
			    //border:3px solid @colorwhite;
				.glry{
				       background-color:@colorwhite;
				       height: 246px;
						width: 344px;
						overflow : hidden;
						margin : 0 auto;
				 img{
					        min-height :211px;
							width:100%;
							border : 2px solid transparent;
							padding : 4px;
					}
				}
				
			}
		}
