@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@font-face{
		font-family:'Aramis Italic';
		src:url('../fonts/Aramis Italic.ttf');
	}

	
	
	@color : #566A7A;
	@darkcolor : #0E1E2E;
	@back:#021223;
	@colorblack : #02071A;
	@colorwhite	: #fff;
	@lightbackcolor:#004E89;
	@darkbackcolor:#1C3D5C;
	
	@import "product.less";
	//@import "property.less";
	//@import "general.less";
	body{
	    background-color:@darkbackcolor;
		color:@colorwhite;
	}
	.navbar-default .navbar-nav>.active>a{
		background-color: transparent !important;
		color : @colorwhite !important;
		border-radius:none !important;
	}
	
	.navbar-default {
	    border-radius: 0px !important;
		background-color:@darkbackcolor;
		.navbar-nav{
			> li{
				  border-right: 1px solid @color;
				  float:none;
				  font-size: 20px;
				  text-transform: uppercase;
				
			  a {
				    color :@colorwhite;
					font-size: 19px;
					font-weight: bold;
					padding-top: 40px;
					padding-bottom: 40px;
				&:hover{
					    background-color: @lightbackcolor ;
						color : @colorwhite !important;	
					}
				}
				
				> ul {
				        
						display: none;
						position: absolute;
						width: 280px;
						z-index: 999;
						list-style-type: none;
						text-align: left;
						top: 100px;
						left: -36px;
						transition : all 500ms ease-in-out;
					>li{	
							padding-top:11px;
                            background-color:@back;
							
							>a{
							    font-size:12px;
								margin-left:10px;
								color:@colorwhite;
								&:hover{
									text-decoration: none;
								}
							}
						
					}
					
				}
				
				&:hover > ul {
					display: block;	
				}
			}
			>li:nth-child(4)::after  {
									 content: "";
									 width: 5px;
									 height: 5px;
									 display: inline-block;
									 background: transparent;
									 position: absolute;
									 top: 70%;
									 right: 112px;
									 border-top: 10px solid white;
									 border-left: 5px solid transparent;
									 border-right: 5px solid transparent;
									 border-bottom: 0px solid transparent;
									 }
			>li:last-child {
							border: none;
						}
	    }
		.navbar{
				height:90px;
				border-radius:none !important;
			}
			.navbar-toggle {
				border : 1px solid ;
				margin-top : 45px;
			}
			.navbar-toggle .icon-bar {
					background-color: @darkbackcolor;
				}
	}
.carousel-inner>.item{
				height:600px;
			img{
			     min-height:450px;
				 width: 100%;
				}
			.carousel-caption{
					height: 300px;
					width: 300px;
					border-radius: 146px;
					background-color:@darkcolor;
				    padding-top: 73px;
					left: 2%;
			}
		.ctrl{
				left.carousel-control{
					
					left: 100px;
					top: 400px;
					color:@colorblack;
					
					}
				right.carousel-control{
					
					right:200px;
					top: 400px;
					color:@colorblack;
					
				}
			}
   
.carousel-indicators li {
					display: none;
		}
	}
.soc{
      background-color: @back;
}
.sociallinks{
            padding-left: 25px;
			
			margin-bottom: -10px;
		ul{
		   
			list-style-type: none;
			padding-left : 0px;
		li{
		    display: inline;
		    padding:5px;
			a{
			   font-size:12px;
			   color:@color;
			   &:hover{
			        color:@colorwhite;
			   }
			}			
		}
	}
}
footer{
	   margin-top:65px;
       height:200px;
	   background-color:@darkcolor;
       color:@colorwhite;
	   .aa{
	       margin-top:60px;
	   }
	  .bb{
	           margin-top: 45px;
				padding-left: 360px;
	   }
   
}
.homeAboutus{
			display:none;
}
