<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
	<button type="button" class="btn btn-primary pull-right buttondistance" ng-click="modalOptions.printDiv('bill')">Print</button>
		<h3 class="text-center">BILL</h3>
</div>
<!--  {{modalOptions.admission[0]}}  -->
<div class="modal-body"  ng-init="modalOptions.getData(false, false,'opd_view', 'opd', modalOptions.opdParams, modalOptions)">
	<label>Patient Details:</label><br><br>
	<table class="table table-hover table-responsive table-bordered">
			<tbody>
			<tr>
					
				  <td><b>Admission Date</b></td>
				 <td colspan='4'>						
					{{modalOptions.opd[0].admission_date}}
				 </td>	
			</tr>
			<tr>
				 <td><b>Name </b></td>
				 <td>						
					{{modalOptions.opd[0].patient_name}}
				 </td>	
				 <td><b>Gender</b></td>
				 <td>						
					{{modalOptions.opd[0].gender}}
				 </td>	
			</tr>
			<tr>
				 <td><b>Mobile</b></td>
				 <td>						
					{{modalOptions.opd[0].mobile}}
				 </td>	
				 <td><b>Address</b></td>
				 <td>						
					{{modalOptions.opd[0].address}}
				 </td>	
			</tr>
			<tr>
				 <td><b>Date of Birth</b></td>
				 <td>						
					{{modalOptions.opd[0].dob}}
				 </td>	
				  <td><b>Age</b></td>
				 <td>						
					{{modalOptions.opd[0].age}}
				 </td>	
			</tr>
			<tr>
				 <td><b>Ward</b></td>
				 <td>						
					{{modalOptions.opd[0].ward_name}}
				 </td>	
				  <td><b>Bed No</b></td>
				 <td>						
					{{modalOptions.opd[0].bed_number}}
				 </td>	
			</tr>
			<tr>
				 <td><b>Consultant Dr.</b></td>
				 <td colspan='3'>						
					{{modalOptions.opd[0].name}}
				 </td>	
			</tr>
		</tbody>
	</table>	
	<table class="table table-hover table-responsive table-bordered">
		<thead>
			<th>Sr.No</th>
			<th>Date</th>
			<th>Description</th>
			<th>Doctor fees</th>
			<th>Net Amount</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>{{modalOptions.opd[0].admission_date}}</td>
				<td>Bed Charges</td>
				<td>{{modalOptions.opd[0].charges}}</td>
				<td></td>
			</tr>
			<tr>
				<th colspan='4' class="text-right">Total</th>
				<td></td>
			</tr>
		</tbody>
	</table>
<label>Medicine Details:</label><br><br>
<table class="table table-hover table-responsive table-bordered">
<thead>
			<th>Sr.No</th>
			<th>Date</th>
			<th>Medicine Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Net Amount</th>
		</thead>
		<tbody>
			<tr>   <!-- ng-repeat -->
				<td>1</td>
				<td>{{}}</td>
				<td></td>
				<td>{{}}</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th colspan='5' class="text-right">Total</th>
				<td></td>
			</tr>
		</tbody>
</table>

<div class="row">
	<div class="col-sm-12">
		<p><strong>Please Note :</strong></p>
		<ul>
			<li>1. The above charges are approximate for the length of stay mentioned.</li>
			<li>2. There may be increase in the net charges depending on the length of stay and services availed.</li>
		</ul>
		<p class="text-center"><strong>"Incase you have any queries please contact IP Billing @ Ext : 7682."</strong></p>
	</div>
</div>
</div>