<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-md-12">
				<div class="row bottomspace">
					<div class="col-sm-3">
						<input id="search" type="text" class="form-control" ng-if="userViews=='userslist'" ng-change="filter('name', searchUser, 'user', 'userList', true)" ng-model="searchUser" placeholder="Search">
						<input id="search" type="text" class="form-control" ng-if="userViews=='usersgroup'" ng-change="searchFilter('group_name', searchUserGroup)" ng-model="searchUserGroup" placeholder="Search">
					</div>
				</div>
			</div> 
			<div class="col-sm-2">
				<div class="bottomspace">
					<label for="select_no_records" class="control-label" >Select Records</label>
					<select id="select_no_records" class="form-control" ng-change="getData(false, currentPage,'opd_view', 'opdList', opdParams)" ng-model="pageItems">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
					</select>
				</div>
			</div>
		</div>
		<div class="table-responsive" ng-init="getData(false, currentPage, 'opd_view','opdList',opdParams)">
			<div ui-grid="opdList"></div>
		</div>
		<div class="text-center">				
			<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'opd_view','opdList',opdParams)"></pagination>
			<pre>Page: {{currentPage}} / {{numPages}}</pre>
		</div>	
</div>
		

