<div class="modal-body">
	<div class="form-group" ng-init="modalOptions.getData(false,false,'patient','patient',modalOptions.patientParams,modalOptions)">
		<label for="patient_id" class="col-sm-2 control-label"> Patient Name * </label>
		<div class="col-sm-8">{{modalOptions.addopdpatient.patient_id}}
			<input id="patient_name" class="form-control" typeahead-template-url="customTemplate.html" ng-model="patient_name" typeahead="item.patient_name for item in modalOptions.getTypeaheadData('patient','patient_name', $viewValue)" typeahead-on-select="modalOptions.assignData($item, modalOptions.addopdpatient)" 
				typeahead-loading="locationLoading" typeahead-editable="false" autocomplete="off" required />
				
				<script type="text/ng-template" id="customTemplate.html">
					<a>
						<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
						<!-- <span><small> ({{match.model.patient_name}})</small></span> -->
					</a>
				</script>
							
				<span class="help-block" ng-show="addopdpatientForm.id.$dirty && addopdpatientForm.id.$invalid">
				<span ng-show="addopdpatientForm.id.$error.required" class="text-danger">Required Field.</span>
				</span>
		</div>
	</div>
	<div class="form-group">
	 <label  for="checkup_date" class="col-sm-2 control-label"> Check Up Date * </label>
		<div class="col-sm-8">
			<input type="text" class="form-control" placeholder="Date" id="checkup_date" name="checkup_date" ng-model="modalOptions.addopdpatient.checkup_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" ng-click="opened = !opened" ng-required="true" required/>
		</div>
	</div>
	<div class="form-group">
		<label for="emergency_contact" class="col-sm-2 control-label">Emergency Contact*</label>
		<div class="col-sm-3">
			<input type="text" id="emergency_contact" name="emergency_contact" class="form-control" ng-model="modalOptions.addopdpatient.emergency_contact" placeholder="Enter your Phone Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
			<span class="help-block" ng-show="addopdpatientForm.emergency_contact.$dirty && addopdpatientForm.emergency_contact.$invalid">
				<span ng-show="addopdpatientForm.emergency_contact.$error.required" class="text-danger">Phone number is required.</span>
				<span class="text-danger" ng-show="addopdpatientForm.emergency_contact.$error.pattern && (addopdpatientForm.emergency_contact.$dirty || submitted)">Enter a valid contact number</span>
			</span>
		</div>
		<label for="mobile" class="col-sm-2 control-label">Mobile</label>
		<div class="col-sm-3">
		<input type="text" id="mobile" name="mobile" class="form-control" ng-model="modalOptions.addopdpatient.mobile" placeholder="Enter your Phone Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" />
				<span class="help-block" ng-show="addopdpatientForm.mobile.$dirty && addopdpatientForm.mobile.$invalid">
			<span class="help-block" ng-show="addopdpatientForm.emergency_contact.$error.pattern && addopdpatientForm.mobile.$dirty && addopdpatientForm.mobile.$invalid">Enter a valid contact number
				</span>
			</div>
	</div>
	<div class="form-group" ng-init="modalOptions.getData(false,false,'staff','staff',modalOptions.staffParams,modalOptions)">
		<label for="staff_id" class="col-sm-2 control-label"> Consultant Dr </label>
		<div class="col-sm-8">
			<select id="staff_id" class="form-control" ng-model="modalOptions.addopdpatient.staff_id" ng-options="item.id as item.name for item in modalOptions.staff | filter :{staff_type: 'doctor'}" required>
				<option value="">Select Dr</option>
			</select>
			<span class="help-block" ng-show="addopdpatientForm.user_id.$dirty && addopdpatientForm.user_id.$invalid">
			<span ng-show="addopdpatientForm.user_id.$error.required" class="text-danger"></span>
			</span>	
		</div>
	</div>
</div>		