<div class="modal-body" ng-init="modalOptions.addopdpatient.patient_history = (modalOptions.addopdpatient.patient_history) ? modalOptions.addopdpatient.patient_history : []">
	<div class="form-group" ng-init="modalOptions.getData(false,false,'history','history',modalOptions.historyParams,modalOptions)">
	<label for="History" class="col-sm-2 control-label">History Title*</label>
		<div class="col-sm-9">
			<input type="text" id="history_title" name="history_title" class="form-control" ng-model="modalOptions.patient_history.history_title" placeholder="Enter your Phone Number" required />
		</div>
	</div>		
	<div class="form-group">
		<label for="history_description" class="col-sm-2 control-label">Description *</label>
		<div class="col-sm-9">
			<textarea  type="text" required name="history_description" class="form-control" id="history_description" ng-model="modalOptions.patient_history.history_description" placeholder="Enter Your Complaints Description" ng-maxlength="250" ></textarea>
			<span ng-hide="addopdpatientForm.patient_history.history_description.$error.maxlength">{{ 250 - modalOptions.patient_history.history_description.length + " Chars left"}}</span>
			<span class="help-block" ng-show="addopdpatientForm.history_description.$dirty && addopdpatientForm.history_description.$invalid">
				<span ng-show="addopdpatientForm.history_description.$error.required"class="text-danger">Description is required.</span>
			</span>				
		</div>
	</div> 
	<div class="form-group">			
		<div class="col-sm-offset-2 col-sm-2">
			<button type="submit" class=" col-sm-offset-2 btn btn-success" ng-click="modalOptions.addToObject(modalOptions.addopdpatient.patient_history, 'patient_history', modalOptions)" >	+Add 
			</button>
		</div>
	</div>
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th class="col-sm-1">Sr.No.</th>
					<th class="col-sm-4">History Name</th>
					<th class="col-sm-5">History Description</th>
					<th class="col-sm-2">Remove</th>
				</tr> 
			</thead>
			<tbody >
				<tr ng-repeat="x in modalOptions.addopdpatient.patient_history">
					<td>{{$index + 1}}</td> 
					<td>{{x.history_title}}</td>
					<td>{{x.history_description}}</td>
					<td><button ng-click="modalOptions.removeObject(modalOptions.addopdpatient.patient_history, $index)">X</button></td>
				</tr>
			</tbody >
		</table>
		<div class="form-group modal-footer">
				<div class="col-sm-offset-9  col-sm-2  ">
				 <button type="submit" class="btn btn-primary" title="submit" ng-click="modalOptions.showFormPart('generalExamination',modalOptions)">Next</button> 
				</div>
			</div>
</div>	