<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<div class="row">
				<div class="col-sm-6">
					<h3>Stock Available</h3>
				</div>
				<div class="col-sm-2 pull-right text-right">
					<button class="btn btn-primary" ng-click="isCollapsed=!isCollapsed"tooltip-animation="true" tooltip="Add stock"><span ng-class="(isCollapsed)?'glyphicon glyphicon-minus':'glyphicon glyphicon-plus'"></span></button>
				</div>
			</div>
	<div class="row collapse" collapse="!isCollapsed" style="height: auto;">
		<div class="col-sm-12">
			<div class="bottomspace">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
								<h5 ng-if="!addstock.id">Add Stock</h5>
								<h5 ng-if="addstock.id">Update Stock</h5>
								<form name="addavailablestockForm" class="form-inline" role="form" novalidate="novalidate"ng-submit="addavailablestockForm.$valid" id="addavailablestockForm">
									<div class="form-group">
										<label  for="goods_name">Goods Name</label><br/>
										<input type="text" typeahead-template-url="stockList" class="form-control" id="particular" name="particular" ng-model="addstock.goods_name" typeahead-on-select="assignData($item,addstock)" typeahead="stock_items.goods_name for stock_items in getTypeaheadData('stock_items','goods_name', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" autocomplete="off" required 
											ng-change="addstock.quantity = 1;"  placeholder="particulars Name"/>
											<span class="help-block" ng-show="addavailablestockForm.particular.$dirty && addavailablestockForm.particular.$invalid">
												<span ng-show="addavailablestockForm.particular.$error.required" class="text-danger">Particulars Name is necessary.</span>
											</span> 			
									</div>
									<script type="text/ng-template" id="stockList">
										<a>
											<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
											<span><small> ({{match.model.goods_name}} - {{match.model.category}})</small></span>
										</a>
									</script>
									<div class="form-group">
										<label  for="goods_name">Price</label><br/>
										<input type="text" class="form-control" id="price" name="price" ng-model="addstock.price"  placeholder="Price" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required />
											<span class="help-block" ng-show="addavailablestockForm.price.$dirty && addavailablestockForm.price.$invalid">
												<span ng-show="addavailablestockForm.price.$error.required" class="text-danger">Price Required.</span>
												<span ng-show="addavailablestockForm.price.$error.pattern" class="text-danger">Enter number only</span>
											</span>			
									</div>
									<div class="form-group">
										<label  for="goods_name">Quantity</label><br/>
										<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="addstock.quantity" ng-init="addstock.quantity = 1" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/"required />
										<span class="help-block" ng-show="addavailablestockForm.quantity.$dirty && addavailablestockForm.quantity.$invalid">
											<span ng-show="addavailablestockForm.quantity.$error.required" class="text-danger">Quantity Required</span>
											<span ng-show="addavailablestockForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
										</span>		
									</div>
									<div class="form-group">
											<br/>
											<button type="submit" ng-if="!addstock.id" class="btn btn-success" ng-disabled="addavailablestockForm.$invalid" ng-click="postData('stock',addstock)">
												<span>Submit</span>
											</button>
											<button type="submit" ng-if="addstock.id" class="btn btn-success" ng-disabled="addavailablestockForm.$invalid" ng-click=" updateData('stock',addstock, addstock.id)">
												<span>Update</span>
											</button> 
									</div>
								</form>
							<!-- <form name="addstockForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addstockForm.$valid" id="addstockForm">
								<div class="table-responsive">
									<table class="table table-bordered" >
										<thead>
											<tr>
												<th>Particular Name</th>
												<th>Price</th>
												<th>Quantity</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<input type="text" typeahead-template-url="stockList" class="form-control" id="particular" name="particular" ng-model="addstock.goods_name" typeahead-on-select="assignData($item,addstock)" typeahead="stock_items.goods_name for stock_items in getTypeaheadData('stock_items','goods_name', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" autocomplete="off" required 
													ng-change="addstock.quantity = 1;"  placeholder="particulars Name"/>
													<span class="help-block" ng-show="addstockForm.particular.$dirty && addstockForm.particular.$invalid">
														<span ng-show="addbillForm.particular.$error.required" class="text-danger">Particulars Name is necessary.</span>
													</span> 
												</td>
												
												<script type="text/ng-template" id="stockList">
													<a>
														<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
														<span><small> ({{match.model.goods_name}} - {{match.model.category}})</small></span>
													</a>
												</script>
									
												<td>						
													<input type="text" class="form-control" id="price" name="price" ng-model="addstock.price"  placeholder="Price" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/" required 
													/>
														
													<span class="help-block" ng-show="addstockForm.price.$dirty && addstockForm.price.$invalid">
														<span ng-show="addstockForm.price.$error.required" class="text-danger">Price Required.</span>
														<span ng-show="addstockForm.price.$error.pattern" class="text-danger">Enter number only</span>
													</span>
												</td>
												<td>
													<input type="number" class="form-control" id="quantity" placeholder="Quantity"  name="quantity" ng-model="addstock.quantity" ng-init="addstock.quantity = 1" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,3}){0,1}$/"required />
													<span class="help-block" ng-show="addstockForm.quantity.$dirty && addstockForm.quantity.$invalid">
														<span ng-show="addstockForm.quantity.$error.required" class="text-danger">Quantity Required</span>
														<span ng-show="addstockForm.quantity.$error.pattern" class="text-danger">Enter number only</span>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
											<br/>
											<button type="submit" ng-if="!stock.id" class="btn btn-success" ng-disabled="addStockForm.$invalid" ng-click="postData('stock',addstock)">
												<span>Submit</span>
											</button>
											<button type="submit" ng-if="stock.id" class="btn btn-success" ng-disabled="addStockForm.$invalid" ng-click=" updateData('stock',addstock, addstock.id)">
												<span>Update</span>
											</button> 
									</div>
								</div>													
							</form> -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
			<div class="row">
				 <div class="col-sm-2">
					<div class="bottomspace">
						<label for="page_item" class="control-label" >Page Item</label>
						<select id="page_item" class="form-control" ng-change="getData(false, currentPage,'stock', 'stockList',false)" ng-model="pageItems" ng-options="item as item for item in [10,20,30]">
							<option value="" selected>Select type</option>
						</select>
					</div>
				</div>
			</div> 
			<div class="table  table-hover table-bordered" ng-init="getData(false, currentPage, 'stock','stockList',false);getData(false, false, 'party','partyList')">
			  <div ui-grid="stockList"></div>
			 </div>
			<div class="text-center">				
				<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'stock','stockList',false)"></pagination>
				<pre>Page: {{currentPage}} / {{numPages}}</pre>
			</div>
		</div>
	</div>
</div>