{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
	

{% block content %}
{% autoescape false %}
	<div class="row content">
		<div class="col-sm-8">
			<div class="row">
				{% include 'includes/carousal.html' ignore missing %}
			</div>
			<div class="row">
				{% include 'includes/featured_products.html' ignore missing %}
			</div>
			<div class="row ">
				<div class="col-sm-12 schoolinfo">
					<h1>Welcome to {{ data.business_name }}</h1>
				</div>
				<div class="col-sm-9 schoolinfo">
					{{ data.business_info.description|length >500 ? data.business_info.description|slice(start,500)~ '...' : data.business_info.description}}
					<br>
					<a href="about" class="read">Read More..</a>
				</div>
				<div class="col-sm-3">
					<ul type="none">
					<h4>Our Products</h4>
					{% for x in featured_products %}
						<li><a href="product/{{x.id}}">{{ x.product_service_name }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row sidesec1">	
				<div class="slogan">
					<p>Pretty attracts us.<br>Beauty changes us. 
					<br>Be a force of beauty.</p><br>
					<a href="#" class="arrowimg">view our timetable</a>
				</div>
			</div>
			<div class="row">
				{% include 'includes/featured_services.html' ignore missing %}
			</div>
		</div>
	</div> 
{% endautoescape %}
{% endblock %}