{% spaceless %}
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<title>MySchool</title>
			<link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
			<link rel="stylesheet" href="{{ path }}css/style.css">
			<script src="{{ path }}js/jquery.min.js"></script>
			<script src="{{ path }}js/bootstrap.min.js"></script>
			<script src="{{ path }}js/angular.min.js"></script>
			<script src="{{ path }}js/angular-route.min.js"></script>
			<script src="{{ path }}js/script.js"></script>
			<title>{% block title %}{{title}}{% endblock %}</title>
			<meta name="fragment" content="!"/>
			<meta name="description" content="">
			<meta name="keywords" content="">
		{% endblock %}
	</head>
	<body >
		{% block carousal %}
		{% endblock %}
		<div class="container header">
			{% include 'includes/navbar.html' ignore missing %}
		</div>
		<div class="container">
			{% block content %}{% endblock %}
		
			<div class="row">
				<a href="#" class="ftrlink"><div class="col-sm-1 ftrlink1"><img src="{{ path }}img/arr2.png"/></div></a>
				<a href="activities" class="ftrlink"><div class="col-sm-7 ftrlink2">ACTIVITES</div></a>
				<a href="contact" class="ftrlink"><div class="col-sm-4 ftrlink3"><p>GET IN TOUCH WITH US</p></div>
				</a>
			</div>
		</div>
		<footer>
			<div class="container">
				{% block footer %}
				<div class="row">
					<div class="col-sm-4">
						<a href="#"><img class="logo img-responsive" src="{{data.business_logo.file_relative_path}}"></a>
						<p>&copy; Copyright 2015 by <a href="http://apnasite.in">apnasite.in</a><br>
						<a href="/sitemap.xml">SITEMAP</a></p>
					</div>
					<div class="col-sm-4">
						<h4>CONTACT US</h4>
						<p>Telephone:{{data.contact_profile.telephone}}
						<p>Mobile: {{data.contact_profile.mobile}}
						<p>E-mail: {{data.contact_profile.email}}<br>
						{{data.contact_profile.alternate_email}}
					</div>
					<div class="col-sm-4">
						<h4>LOCATION</h4>
						{{data.contact_profile.address}}<br>
						{{data.contact_profile.City}}<br>
						{{data.contact_profile.State}}<br>
						{{data.contact_profile.Country}}<br>
						{{data.contact_profile.ZIP_Code}}<br>
						
					</div>
				</div>
				{% endblock %}
			</div>
		</footer>
	</body>
</html>
{% endspaceless %}