{% spaceless %}
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
			<link rel="stylesheet" href="{{ path }}css/style.css">
			<script src="{{ path }}js/jquery.min.js"></script>
			<script src="{{ path }}js/bootstrap.min.js"></script>
			<script src="{{ path }}js/angular.min.js"></script>
			<script src="{{ path }}js/angular-route.min.js"></script>
			<script src="{{ path }}js/script.js"></script>
			<title>{{data.seo.title}} | {{title}}</title>
			<meta name="description" content="{{data.seo.description}}">
			<meta name="keywords" content="{{data.keywords | join(',')}}">
		{% endblock %}
	</head>
	<body>
		{% block carousal %}
		{% endblock %}
		<header>
			<div class="container">	
				{% include 'includes/navbar.html' ignore missing %}
				<div class="row">
					<div class="heading">JOVEES COSMETICS</div>
				</div>
			</div>
		</header>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		<footer>
			<div class="container">
				<p class="text-center">&copy;Copyright 2015 by <a href="apnasite.in">apnasite.in</a></p>
			</div>
		</footer>
	</body>
</html>
{% endspaceless %}