<div class="modal-content">		
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<button type="button" class="close" ng-click="modalOptions.close()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3>Infrasture Details</h3>
				<div class="media">
					{% for key, value in data.infrastructure %}
					<div class="media-left">
						<a href="#">
							<img class="img-responsive " src="{{value.image.file_relative_path}}"/>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{key}}</h4>
						<p>{{value.description}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>