
{% extends "index.html" %}

{% block title %}{{data.business_name}}{% endblock %}

{% block content %}
{% autoescape false %}
{% if data.testimonials %}
<div class="row">
	<div class="col-sm-12">
		<h2>Testimonials</h2>
		{% for key, value in data.testimonials if break == 0 %}
		<blockquote>
			<div class="media row">
				<div class="media-left col-sm-3">
					<a href="#">
						<img class="img-rounded img-responsive" src="{{value.image.file_relative_path}}">
					</a>
				</div>
				<div class="media-body col-sm-9">
					<h3 class="media-heading">{{key}}</h3>
					<p>{{ value.description }}</p>
					<footer><cite title="key">{{key}}</cite></footer>
				</div>
			</div>
		</blockquote>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endautoescape %}
{% endblock %}
