@font-face {
  font-family: 'Amaranth-Regular';
  src: url('../fonts/Amaranth-Regular.otf');
}
@font-face {
  font-family: 'QumpellkaNo12';
  src: url('../fonts/QumpellkaNo12.otf');
}
@font-face {
  font-family: 'signika';
  src: url('../fonts/signika/Signika-Bold.otf');
}
/*@import "property.less";
	@import "project.less";*/
.services .servimage {
  border-radius: 2px;
  padding: 6px;
}
.services .servimage:hover {
  animation-name: ani;
}
.services .sections clearfix services > ul {
  list-style-type: none;
}
.services .servdesc {
  height: 225px;
  background-color: white;
  padding: 5px;
}
.services .servdesc h4 {
  height: 50px;
}
.services .servdesc .description {
  height: 75px;
  overflow: hidden;
  padding: 10px;
}
.services .servdesc .readmore {
  text-align: center;
  margin-top: 10px;
}
.services .servdesc .readmore {
  text-align: center;
  margin-top: 10px;
}
.services .servdesc .readmore:active {
  text-align: center;
  margin-top: 10px;
}
.services .servdesc h4 {
  text-align: center;
}
.animation {
  animation-duration: 1s;
  animation-name: amar;
}
.animation .prodimage {
  min-height: 230px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #baa304;
}
.animation .prodimage h4:hover {
  color: #361560;
}
.animation .prodimage .description {
  padding: 10px;
}
.animation .prodimage img {
  min-height: 148px;
  padding: 5px;
}
.animation .prodimage img:hover {
  animation-name: ani;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes ani {
  0% {
    -webkit-transform: rotate(-200deg);
  }
  100% {
    transform: rotate(0);
    transition-transform: 2s;
  }
}
@-webkit-keyframes amar {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-120deg);
    translate: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    translate: translate(0);
    opacity: 1;
  }
}
.products .caption {
  height: 190px;
  margin-bottom: 10px;
}
.products .caption .description {
  height: 75px;
  overflow: hidden;
}
.products .readmore {
  text-align: center;
}
.container {
  max-width: 992px !important;
}
* {
  border-radius: 0px !important;
}
body {
  background-image: url('../img/img1.jpg');
  color: #ffffff;
}
.training {
  margin-top: 60px;
}
.training .parent {
  background-color: #361560;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 10px #ffffff;
  margin-top: 10px;
}
.training img {
  height: 150px;
}
.training h2 {
  text-shadow: 1px 5px 6px #000;
  font-size: 60px;
  font-style: italic;
}
.training h3 {
  text-shadow: 1px 5px 6px #000;
  font-size: 35px;
  font-style: italic;
}
.btn-info {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 7px 21px !important;
  color: #02071a;
  vertical-align: middle;
  font: 14px/18px Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  background: #baa304;
  color: #color;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #b19e1a;
  border-color: #ffffff;
  transform: translateY(0);
}
.btn {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  margin-right: 20px;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #777070;
}
.modal-content .btn-success {
  color: #ffffff;
  background-color: #baa304;
  border-color: #ffffff;
}
.modal-content .btn-info {
  color: #fff;
  background-color: #b19e1a;
  border-color: #ffffff;
  width: 201px;
}
.modal-content .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 245, 0.03);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: 20px;
  border-radius: 5px;
}
.modal-content ul {
  list-style-type: none;
}
.modal-content ul li {
  display: inline-block;
}
.modal-content h3 {
  text-shadow: 1px 3px 4px #02071a;
  font: 1.8em/1.2em signika;
  text-align: center;
}
.modal-content .modal-header {
  border-bottom: 1px solid #b19e1a;
}
.modal-content .modal-footer {
  border-top: 1px solid #b19e1a;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #361560;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.text-danger {
  color: #FF0D0D;
}
.panel {
  background-color: transparent;
}
.panel h3 {
  text-align: center;
}
.modal-header .close {
  margin-top: -34px;
  color: #FDFDFE;
  background-color: #D80000;
  border-color: #ac2925;
  padding: 10px 15px;
}
.nav-tabs {
  border-bottom: 1px solid #b19e1a;
}
.nav-tabs li a {
  color: #ffffff;
  border: 1px solid #b19e1a;
  font: 16px 'Alex Brush', Amaranth-Regular;
  font-size: 16px;
  background-color: #b19e1a;
  border-radius: 4px 4px 0 0 !important;
}
.nav-tabs li a:hover {
  color: #ffffff;
  background-color: #361560;
  border: 1px solid #b19e1a;
  border-radius: 4px 4px 0 0;
}
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
  color: #ffffff;
  background-color: #361560;
  border: 1px solid #b19e1a;
  border-radius: 4px 4px 0 0;
}
.abc {
  margin-top: 10px;
}
