@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/WorkSans-Regular.otf');
}
.featured_services {
  background-color: #c3440f;
}
.featured_services h3 {
  text-align: center;
}
.featured_services .bxslider .servimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
}
.featured_services .bxslider .servimg img {
  min-height: 175px;
  border-radius: 5px;
}
.featured_services .bxslider .servimg .readmore a {
  text-decoration: underline;
  color: #fcc200;
}
.featured_services .bxslider .servdesc .description p {
  display: none;
}
.prod .featured_product .product_div {
  border: 2px dotted #c3440f;
  margin-bottom: 10px;
}
.prod .featured_product .product_div h4 {
  text-align: center;
}
.prod .featured_product .product_div a {
  margin-left: 10px;
  color: #fcc200;
}
.prod .featured_product .product_div .servimage {
  padding: 5px;
}
.prod .featured_product .product_div .caption {
  height: 65px;
  overflow: hidden;
  margin-left: 5px;
  text-align: center;
  padding: 1px;
}
.carousel-indicators {
  display: none;
}
.left {
  display: none;
}
.right {
  display: none;
}
.carousel-inner > .item {
  height: 440px;
  overflow: hidden;
}
.carousel-inner > .item img {
  min-height: 440px;
  width: 100%;
}
.gallery .thumbnail {
  /*height:232px;
				margin-bottom: 60px !important;*/
}
.gallery .thumbnail .glry {
  background-color: #ffffff;
  height: 225px;
  width: 225px;
  overflow: hidden;
  margin: 0 auto;
}
.gallery .thumbnail .glry img {
  min-height: 211px;
  width: 100%;
  border: 2px solid transparent;
  padding: 4px;
  float: left;
  -webkit-transition-duration: 0.5s;
}
.gallery .thumbnail .glry img:hover {
  -webkit-transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 60px #c3440f;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer img,
.featrtesti blockquote footer img {
  width: 100%;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #8f6d48;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-size: 55px;
}
.testimonial blockquote .description p,
.featrtesti blockquote .description p {
  color: #8f6d48;
}
.testimonial blockquote .description .caption p,
.featrtesti blockquote .description .caption p {
  color: #8f6d48;
}
.jobs .panel-default {
  background-color: #fcc200;
}
.jobs .panel-default .description p {
  color: #ffffff;
}
.products .prodimg .caption {
  position: absolute;
  display: none;
  z-index: 999;
  overflow: hidden;
  height: 90px;
  padding: 5px;
  color: #6a0701;
  opacity: 0.3;
}
.products .prodimg img {
  position: relative;
  z-index: 998;
}
.products .prodimg .readmore {
  position: absolute;
  z-index: 999;
  text-align: center;
  margin-top: 100px;
  margin-left: 70px;
  display: none;
}
.products .prodimg .readmore a {
  background-color: #fcc200;
  border-color: #fcc200;
}
.products .prodimg:hover .caption,
.products .prodimg:hover .readmore {
  display: block;
}
.enquiry .panel-default {
  background-color: #fcc200;
}
body {
  background-image: url('../img/honey_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6a0701;
}
.navbar-default {
  background: linear-gradient(90deg, #a41a00, #6a0701, #a41a00, #6a0701, #a41a00, #6a0701, #a41a00);
  margin-top: 35px;
  margin-bottom: 0px;
  height: 78px;
}
.navbar-default::before {
  position: absolute;
  z-index: 99;
  background-image: url('../img/nav_before.png');
  height: 100px;
  width: 15px;
  left: -14px;
  content: '';
  image-repeat: no-repeat;
  margin-top: -1px;
}
.navbar-default::after {
  position: absolute;
  z-index: 99;
  background-image: url('../img/nav_after.png');
  height: 100px;
  width: 15px;
  right: -13px;
  image-repeat: no-repeat;
  margin-top: -73px;
}
.navbar-default .navbar-nav {
  z-index: 10000;
  position: relative;
  background: linear-gradient(50deg, #a41a00, #6a0701, #a41a00, #6a0701, #a41a00, #6a0701, #a41a00);
}
.navbar-default .navbar-nav > li {
  position: relative;
  margin-top: 10px;
  padding-left: 8px;
  font-size: 100%;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li a {
  color: #fcc200;
  font-family: 'Georgia';
  font-size: 15px;
}
.navbar-default .navbar-nav > li a:hover {
  background-color: #fcc200 !important;
  color: #ffffff !important;
  font-family: 'Georgia';
  border-radius: 20px 0px 20px 0px;
  padding-bottom: 9px;
  padding-top: 12px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a {
  background-color: #fcc200 !important;
  border-radius: 20px;
  padding-bottom: 9px;
  padding-top: 12px;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  z-index: 999;
  background-color: #6a0701;
  padding: 12px 0px 0px 0px;
  list-style: none;
  text-align: center;
  top: 49px;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul > li {
  padding-top: 11px;
  height: 43px;
  background-color: #6a0701;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #fcc200 !important;
  color: #ffffff !important;
  font-family: 'Georgia';
  font-size: 15px;
  border-radius: 5px;
}
.navbar-default .navbar-nav > li > ul > li:hover > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover > a:hover {
  text-decoration: none;
}
.navbar-default .navbar-nav > li > ul > li > ul {
  display: none;
  list-style: none;
  left: 70%;
  top: 10px;
  border-top-left-radius: 0px;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a:hover {
  color: #02071a;
  background-color: #fcc200 !important;
  color: #ffffff !important;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.content {
  position: relative;
  margin-top: -15px;
}
.content_container {
  background-color: #eef0ed;
  padding: 10px;
}
.cont {
  background-color: #ffffff;
  border: 1px solid #eef0ed;
  border-radius: 10px;
  margin-top: 25px;
  padding: 15px;
}
.main_foter {
  background-color: #a41a00;
  position: relative;
  margin-top: -40px;
  z-index: -90;
  padding-top: 105px;
  padding-bottom: 25px;
}
.main_foter .small_foter {
  position: relative;
  background-color: #6a0701;
}
.main_foter footer {
  text-align: left;
  padding-top: 15px;
}
.main_foter footer p a {
  color: #ffffff;
}
.main_foter .sociallinks {
  float: right;
  margin-right: 115px;
  padding-top: 5px;
}
.main_foter .sociallinks li {
  display: inline;
}
.main_foter .sociallinks a {
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 2px;
  padding: 0px;
}
.main_foter .sociallinks a:hover {
  background-color: #416ea9;
  border: 2px solid #02071a;
}
