@font-face {
  font-family: 'DensiaSans';
  src: url('../fonts/DensiaSans.otf');
}
.featured_services {
  background-color: #eef0ed;
}
.featured_services h3 {
  text-align: center;
}
.featured_services .bxslider .servimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
}
.featured_services .bxslider .servimg img {
  min-height: 175px;
  border-radius: 5px;
}
.featured_services .bxslider .servimg .readmore a {
  text-decoration: underline;
  color: #fcc200;
}
.featured_services .bxslider .servdesc .description p {
  display: none;
}
.featured_product .product_div .caption {
  height: 65px;
  overflow: hidden;
}
.carousel-indicators {
  display: none;
}
.left {
  display: none;
}
.right {
  display: none;
}
.carousel-inner > .item {
  height: 440px;
  overflow: hidden;
}
.carousel-inner > .item img {
  min-height: 440px;
  width: 100%;
}
.gallery .thumbnail img {
  width: 100%;
  border: 2px dotted #eef0ed;
  padding: 10px;
}
.gallery .thumbnail .caption .description {
  overflow: hidden;
  height: 160px;
  display: none;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #eef0ed;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-size: 55px;
}
.testimonial blockquote .description p,
.featrtesti blockquote .description p {
  color: #eef0ed;
}
.testimonial blockquote .description .caption p,
.featrtesti blockquote .description .caption p {
  color: #eef0ed;
}
.jobs .panel-default {
  background-color: #02071a;
}
.jobs .panel-default h3 {
  color: rgba(159, 24, 2, 0.8);
}
.jobs .panel-default .description p {
  color: #ffffff;
}
body {
  background-image: url('../img/honey_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navbar {
  border-radius: 1px;
}
.container .navbar-default {
  border-radius: 20px 20px 5px 5px;
  background: linear-gradient(90deg, rgba(159, 24, 2, 0.8), rgba(109, 8, 0, 0.9), rgba(159, 24, 2, 0.8), rgba(159, 24, 2, 0.8), rgba(109, 8, 0, 0.9), rgba(159, 24, 2, 0.8));
  margin-top: 35px;
  margin-bottom: 0px;
}
.container .navbar-default .navbar {
  height: 50px;
}
.container .navbar-default .navbar-nav > li {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 100%;
  text-transform: uppercase;
}
.container .navbar-default .navbar-nav > li a {
  color: #fcc200;
  font-family: 'Georgia';
  font-size: 15px;
}
.container .navbar-default .navbar-nav > li a:hover {
  background-color: #fcc200 !important;
  color: #ffffff !important;
  font-family: 'Georgia';
  font-size: 15px;
  border-radius: 5px;
}
.container .navbar-default .navbar-nav > li.active > a,
.container .navbar-default .navbar-nav > li.active:focus > a {
  background-color: #8f6d48;
  border-radius: 20px;
}
.container .navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  z-index: 999;
  background-color: #02071a;
  padding: 12px 0px 0px 0px;
  list-style: none;
  text-align: center;
  top: 49px;
  transition: all 500ms ease-in-out;
}
.container .navbar-default .navbar-nav > li > ul > li {
  padding-top: 11px;
  height: 43px;
  background-color: #02071a;
}
.container .navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #c3440f;
}
.container .navbar-default .navbar-nav > li > ul > li:hover > a {
  color: #ffffff;
}
.container .navbar-default .navbar-nav > li > ul > li:hover > a:hover {
  text-decoration: none;
}
.container .navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.content_container {
  background-color: #eef0ed;
  width: 1120px;
}
.cont {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-left: 0px;
  border-radius: 10px;
  margin-top: 50px;
}
.main_foter {
  background-color: rgba(109, 8, 0, 0.9);
}
.main_foter footer {
  text-align: left;
  padding-top: 15px;
  padding-left: 115px;
}
.main_foter footer p a {
  color: #ffffff;
}
.main_foter .sociallinks {
  float: right;
  margin-right: 115px;
}
.main_foter .sociallinks li {
  display: inline;
}
.main_foter .sociallinks a {
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 2px;
  padding: 0px;
}
.main_foter .sociallinks a:hover {
  background-color: #416ea9;
  border: 2px solid #02071a;
}
