{% extends "index.html" %}

{% block content %}
{% autoescape false %}
{% if data.news_coverage %}
	<div class="row text">
		<h2 class="text-center">{{title}}</h2>
		<hr>
		{% for key, value in data.news_coverage if break == 0 %}
		<div class="col-sm-6">
			<div class="media row">
				<div class="media-left col-sm-4">
					<a href="#">
						<img class="img-rounded img-responsive" src="{{value.image.file_relative_path}}">
					</a>
				</div>
				<div class="media-body col-sm-8">
					<h4 class="media-heading">{{key}}</h4>
					<p>{{ value.newsdetails }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endif %}
{% endautoescape %}
{% endblock %}
