{% autoescape false %}
<h2>Our Properties</h2>
<div class="proplist">
	{% if prop_category %}
	<div class="text-center">
		{% for x in prop_category %}
			<a href="/properties/{{x}}" class="btn btn-primary">{{x}}</a>
		{% endfor %}
	</div>
	{% endif %}
	
	{% for key, x in properties %}
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>{{x.title}}</h4>
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<img class="img-responsive" src="{{x.property_images.0.file_relative_path}}" alt="...">
				</div>
				<div class="col-sm-12 col-md-9">
					<div class="table-responsive">
						<table class="table">
							<tr>
								<td>Property Type :</td>
								<td>{{x.type}}&nbsp;=> &nbsp;<b>{{x.property_for}}</b></td>
							</tr>
							<tr>
								<td>Built Up Area :</td>
								<td>{{x.property_info.buildup_area}}{{x.property_info.build_unit}}</td>					
							</tr>
							<tr>
								<td>Location :</td>
								<td>{{x.location}}</td>
							</tr>
							<tr>
								<td>Price :</td>
								<td>{{x.price}}</td>
							</tr>
							<tr>
								<td><a href="properties/{{x.title}}/{{x.id}}" class="btn btn-info">View Details</a></td>
								<td><a href="#" class="btn btn-info">Send Enquiry</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endautoescape %}