{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
{% autoescape false %}
    <!--<h1>{{heading}}</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p> -->	
	{% for x in data %}
	<div class="panel panel-default">
			<div class="panel-heading">
				<a href="#"><h1 class="panel-title">{{ x.product_service_name }} </h1></a>
			</div>
			<div class="panel-body">
				<div class="important">
					<div class="media">
						<div class="media-left col-sm-2">
						{% for key, value in x.product_image %}
							<img class="img-responsive" src="{{value.file_relative_path}}">
						{% endfor %}
						</div>
						<div class="media-body">
							<p class="media-heading">{{x.description}}</p>
							<a href="service/{{x.id}}" class="btn btn-info">Interested in this Service</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endautoescape %}
{% endblock %}