{% spaceless %}
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
			<link rel="stylesheet" href="{{ path }}css/style.css">
			<script src="{{ path }}js/jquery.min.js"></script>
			<script src="{{ path }}js/bootstrap.min.js"></script>
			<script src="{{ path }}js/angular.min.js"></script>
			<script src="{{ path }}js/angular-route.min.js"></script>
			<script src="{{ path }}js/script.js"></script>
			<title>{{data.seo.title}} | {{title}}</title>
			<meta name="description" content="{{data.seo.description}}">
			<meta name="keywords" content="{{data.keywords | join(',')}}">
			{%if template.template_params%}
			<style>	
			background-color: {{template.template_params.color}};
			</style>
			{%endif%}
		{% endblock %}
	</head>
	<body>
		{% block carousal %}
		{% endblock %}
		<div class="container">
			{% include 'includes/navbar.html' ignore missing %}
			{% block content %}{% endblock %}
			<footer>
			{% block footer %}
				<div class="row">
					<div class="col-sm-12">
						<p class=" text-center">&copy;Copyright 2015 by <a href="apnasite.in">apnasite.in</a></p>
					</div>
				</div>
			{% endblock %}
			</footer>
		</div>
	</body>
</html>
{% endspaceless %}