@font-face {
  font-family: 'Amaranth-Regular';
  src: url('../fonts/Amaranth-Regular.otf');
}
@font-face {
  font-family: 'QumpellkaNo12';
  src: url('../fonts/QumpellkaNo12.otf');
}
@font-face {
  font-family: 'GandhiSans-Bold';
  src: url('../fonts/GandhiSans-Bold.otf');
}
@font-face {
  font-family: 'Kirsty';
  src: url('../fonts/Kirsty.ttf');
}
.featuredProperty .bx-viewport {
  padding-left: 10px;
}
.featuredProperty .bxslider1 {
  padding-left: 10px;
  list-style: none;
}
.featuredProperty .bxslider1 li .sliderImg {
  height: 150px;
  width: 200px;
  overflow: hidden;
  border: 2px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg .slimg {
  min-height: 150px;
}
.featuredProperty .bxslider1 li .sliderImg:hover {
  border: 2px solid #cc0000;
}
.featuredProperty .bxslider1 li .verify {
  width: 55%;
  border: none;
  position: absolute;
  right: -30px;
  bottom: -30px;
  z-index: 999;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.propertylist .btn-primary {
  margin-bottom: 10px;
}
.propertylist .panel-default {
  border-color: transparent;
  border-bottom-color: #e4e6e7;
  margin-bottom: 0px;
}
.propertylist .panel-default h4:hover {
  color: #cc0000;
}
.propertylist .panel-default .sliderImg {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.propertylist .panel-default .sliderImg img {
  min-height: 150px;
  padding: 4px;
  border: 3px solid transparent;
}
.propertylist .panel-default .sliderImg img:hover {
  border: 3px solid #006600;
}
.propertylist .table td {
  border: none;
  padding: 1px 1px;
}
.propertylist nav .pagination li a,
.propertylist nav .pagination .disabled a {
  background-color: #ffffff;
  border-color: #000066;
}
.propertylist nav .pagination li a:hover,
.propertylist nav .pagination .disabled a:hover {
  background-color: #006600;
  color: #ffffff;
}
.propertylist nav .pagination > .active > a {
  background-color: #006600;
  color: #ffffff;
  border-color: #02071a;
}
.singleproperty .property {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #000066;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px solid #000066;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
  margin: 0 auto;
}
.singleproperty .property .mainimg img {
  max-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .property .mainimg img {
  height: 130px;
  border: 1px solid #ffffff;
}
.singleproperty .propDetails ul li {
  padding: 3px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #0c4204;
  color: #ffffff;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #0c4204;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
  background-color: #006600;
  color: #ffffff;
  border-radius: 0px;
  font-weight: bold;
}
.singleproperty .btn-primary:hover {
  background-color: #0c4204;
}
@media (min-width: 320px) {
  .propDetails ul li {
    width: 224px;
  }
  .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 310px;
  }
  .property .mainimg img {
    height: 130px;
    border: 1px solid #ffffff;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 239px;
  }
  .property .mainimg img {
    max-height: 180px;
    max-width: 100%;
  }
}
.bxslider {
  padding: 5px;
}
.bxslider li {
  width: 100px;
}
.bxslider li .projimg {
  height: 150px;
  overflow: hidden;
}
.bxslider li img {
  max-height: 140px;
  width: 100%;
  padding: 4px;
  border: 3px solid transparent;
}
.bxslider li .readmore {
  margin-bottom: 10px;
  margin-top: 10px;
}
.bxslider li .readmore a h4 {
  font: 2em/1.2em Amaranth-Regular;
  font-size: 16px;
  font-weight: bold;
  /*font: 16px 'Alex Brush', cursive;*/
  color: #ffffff;
  padding: 5px 15px;
  text-decoration: none;
}
#carousel .carousel-inner .item {
  max-height: 298px;
  overflow: hidden;
  height: 200px;
}
#carousel .carousel-inner .item > img {
  width: 100%;
  min-height: 200px;
}
#carousel a.left.carousel-control,
#carousel a.right.carousel-control {
  background: none;
}
.homeproject {
  margin-top: 20px;
  position: relative;
  /*margin-bottom:10px;*/
}
.homeproject .bx-wrapper {
  box-shadow: 0px 0px 10px 0px #006600;
  border-radius: 4px;
}
.homeproject .bx-viewport {
  min-height: 313px !important;
}
.homeproject .bx-viewport .carousslider {
  padding-left: 0px;
}
.homeproject .bx-viewport .carousslider li {
  padding: 4px;
  min-height: 300px;
  min-width: 100% !important;
}
.homeproject .bx-viewport .carousslider li img {
  width: 100%;
  min-height: 305px;
}
.homeproject .bx-viewport .carousslider li.item {
  overflow: hidden;
  height: 305px;
}
.homeproject .bx-viewport img {
  height: 400px;
  min-width: 100%;
}
.homeproject .projectnav {
  box-shadow: 0px 0px 10px 0px #006600;
  border: 5px solid #ffffff;
  border-radius: 4px;
  height: 312px;
}
.homeproject .projectnav .nav-stacked > li > a {
  position: relative;
  display: block;
  border: 1px solid #006600;
  margin: 8px 5px;
  font: 16px GandhiSans-Bold;
  font-weight: bold;
}
.homeproject .projectnav .nav-stacked > li:hover {
  text-decoration: none;
}
.homeproject .projectnav .nav-stacked > li:hover a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0c4204;
}
.homeproject .projsnap {
  box-shadow: 0px 0px 10px 0px #006600;
  border: 5px solid #ffffff;
  text-align: center;
  border-radius: 4px;
  height: 312px;
}
.homeproject .projsnap img {
  max-height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #d2ffb7;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty {
  margin-top: 25px;
}
.homeproject .projsnap .viewproperty a {
  color: #006600;
  margin-top: 10px;
}
.homeproject .projsnap .viewproperty a:hover {
  color: #006600;
  text-decoration: underline;
}
.homeproject .projsnap p {
  margin: 5px;
  padding: 4px;
  border: 1px solid #006600;
  color: #006600;
}
.homeproject #carousel {
  height: 312px;
  margin-top: 5px;
  background-color: #d2ffb7;
}
.homeproject #carousel .carousel-inner .item {
  min-height: 303px;
  overflow: hidden;
}
.homeproject #carousel .carousel-inner .item > img {
  width: 100%;
  min-height: 312px;
}
.homeproject #carousel a.left.carousel-control,
.homeproject #carousel a.right.carousel-control {
  background: none;
}
.homeproject::after {
  position: absolute;
  content: "";
  background-image: url('../img/home.png');
  background-size: 100% 100%;
  left: 200px;
  top: 120px;
  z-index: 999;
  height: 197px;
  width: 120px;
}
.projlist .panel-default {
  background-color: #006600;
}
.projlist .panel-default img {
  border: 2px solid #d2ffb7;
}
.projlist .panel-default img:hover {
  border: 4px solid #000066;
}
.projlist .project .thumbnail {
  height: 400px;
}
.projlist .project .thumbnail .btn-info {
  background-color: #006600;
}
.projlist .project .thumbnail img {
  max-height: 183px;
  overflow: hidden;
  border: 0 solid #333239;
  text-align: center;
  transition: all 0.2s ease;
}
.projlist .project .thumbnail img:hover {
  transition: all 0.2s ease;
}
.projlist .project .thumbnail .caption {
  height: 190px;
}
.projlist .project .thumbnail .caption p {
  color: #02071a;
}
.projlist .project .projImg {
  margin-right: 20px;
  max-height: 175px;
}
.project .navbar {
  background-color: #0c4204;
  border: 1px solid #0c4204;
  border-radius: 0;
  margin-bottom: 10px;
  width: auto;
}
.project ul.nav.navbar-nav {
  color: #ffffff;
  background-color: #0c4204;
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #d2ffb7;
  height: 38px;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 6px 9px 5px;
  color: #ffffff;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background-color: #ffffff;
  color: #0c4204;
  text-align: center;
}
.project .projectgallery {
  /*background-color : @back;*/
  border: 1px solid #006600;
  padding: 20px 20px 0px;
}
.project .projectgallery .thumbnail .projectImags {
  width: 190px;
  height: 148px;
  overflow: hidden;
  margin: 0 auto;
}
.project .projectgallery .thumbnail .projectImags img {
  min-height: 148px;
}
.project nav .pagination li a,
.project nav .pagination .disabled a {
  background-color: #006600;
  border-color: #02071a;
}
.project nav .pagination li a:hover,
.project nav .pagination .disabled a:hover {
  background-color: #006600;
  color: #ffffff;
}
.project nav .pagination > .active > a {
  background-color: #006600;
  color: #ffffff;
  border-color: #02071a;
}
@media (max-width: 768px) {
  .homeproject::after {
    display: none;
    width: 0px;
  }
  .projectnav,
  .projsnap,
  .bx-wrapper {
    margin-bottom: 10px !important;
  }
}
@media (min-width: 320px) {
  .projImg {
    float: none;
    max-height: 175px;
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .projImg {
    float: left;
    max-height: 175px;
    margin-right: 10px;
  }
}
.services .servdesc {
  height: 220px;
  margin-bottom: 10px;
}
.services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.services .servdesc .readmore {
  text-align: center;
  margin-top: 20px;
}
.products .thumbnail .prodimg {
  width: 200px;
  height: 150px;
  overflow: hidden;
  margin: 0px auto;
}
.products .thumbnail .prodimg img {
  min-height: 150px;
  border: 3px solid transparent;
  padding: 6px;
}
.products .thumbnail .prodimg img:hover {
  border: 3px solid #006600;
}
.products .thumbnail .caption {
  height: 180px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  margin-top: 20px;
  text-align: center;
}
.services .thumbnail,
.singleservice .thumbnail {
  background-color: #006600;
}
@media (min-width: 320px) {
  .services .thumbnail {
    height: 465px;
  }
  .services .thumbnail img {
    height: 240px;
  }
  .services .thumbnail .caption {
    height: 138px;
  }
  .singleservice .thumbnail {
    height: 190px;
  }
}
@media (min-width: 992px) {
  .services .thumbnail {
    height: 450px;
  }
  .services .thumbnail img {
    height: 260px;
  }
  .services .thumbnail .caption {
    height: 138px;
  }
  .singleservice .thumbnail {
    height: 155px;
  }
}
@media (min-width: 1200px) {
  .services .thumbnail {
    height: 465px;
  }
  .services .thumbnail img {
    height: 260px;
  }
  .services .thumbnail .caption {
    height: 138px;
  }
  .singleservice .thumbnail {
    height: 192px;
  }
}
.featuretab {
  margin-top: 10px;
}
.featuretab .tab-content {
  border: 1px solid #0c4204;
  border-top: none;
  position: relative;
  margin-bottom: 25px;
  padding: 1px 30px;
  padding: 10px;
}
.featuretab .nav-tabs {
  border-bottom: 1px solid #0c4204;
}
.featuretab .nav-tabs li a {
  border: 1px solid #0c4204;
  font: 16px 'Alex Brush', cursive;
}
.featuretab .nav-tabs li a:hover {
  color: #ffffff;
  background-color: #006600;
}
.featuretab .nav-tabs li.active > a,
.featuretab .nav-tabs li.active > a:hover,
.featuretab .nav-tabs li.active > a:focus {
  color: #ffffff;
  background-color: #006600;
  border: 1px solid #0c4204;
}
.mailSentMsg {
  font: 1.2em/2.5em QumpellkaNo12;
  border: 1px solid #e4e6e7;
  padding: 10px;
}
.sidebarModule .panel-default {
  border: none;
}
.sidebarModule.sidemenu {
  padding: 15px 15px 0px;
  border: 1px solid #0c4204;
}
.sidebarModule.sidemenu ul {
  padding: 0;
  list-style: none;
}
.sidebarModule.sidemenu ul li {
  margin-bottom: 10px;
}
.sidebarModule.sidemenu a {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
.sidebarModule.sidemenu a.area_converter {
  background-image: url('../img/area-converter.png');
}
.sidebarModule.sidemenu a.emi_calculator {
  background-image: url('../img/emi-calculator.png');
}
.sidebarModule.sidemenu a.post_your_property {
  background-image: url('../img/post-your-property.jpg');
}
.sidebarModule.sidemenu a.post_your_requirement {
  background-image: url('../img/post-your-requirement.jpg');
}
.sidebar .nav-pills {
  background-color: #0c4204;
}
.sidebar .nav-pills > li {
  border-right: 1px solid #d2ffb7;
}
.sidebar .nav-pills > li > a,
.sidebar .nav-pills > li > a:focus {
  color: #ffffff;
  font-weight: bold;
}
.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active:hover > a,
.sidebar .nav-pills > li.active > a:focus,
.sidebar .nav-pills > li:hover > a,
.sidebar .nav-pills > li:hover > a:focus,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
  color: #e4e6e7;
  background-color: #0c4204;
}
.about .table tbody tr th,
.contact .table tbody tr th,
.about .table tbody tr td,
.contact .table tbody tr td {
  border-color: #0c4204;
}
.about .table {
  margin-top: 20px;
}
.infrastructure .thumbnail {
  background-color: #d2ffb7;
  border: 1px solid #0c4204;
  /*box-shadow: 3px 3px 6px #ADADAD;*/
  background-color: #ffffff;
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
}
.infrastructure .thumbnail .caption {
  height: 155px;
  color: #02071a;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
}
#googleMap {
  height: 395px;
}
.radio-inline + .radio-inline {
  margin-left: 5px;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #cc0000;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-family: Times New Roman,Serif;
  font-size: 55px;
}
.testimonial blockquote {
  padding-left: 15px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
  border: 3px solid #732C7B;
}
.gallery {
  border-radius: 5px;
  border: 1px solid #000066;
  padding: 10px;
  margin: 1px;
}
.gallery .thumbnail {
  border-color: #000066;
  /*background-color:@back;*/
}
.gallery .thumbnail .caption .description {
  overflow: hidden;
  height: 160px;
  color: #02071a;
}
@media (min-width: 320px) {
  .gallery .thumbnail {
    height: 390px;
  }
}
@media (min-width: 992px) {
  .gallery .thumbnail {
    height: 390px;
  }
  .gallery .thumbnail img {
    max-height: 155px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    height: 390px;
  }
  .gallery .thumbnail img {
    max-height: 200px;
    width: 100%;
  }
}
body {
  background-color: #d2ffb7;
  color: #000066;
  /*background-image:-webkit-linear-gradient(@lightbackcolor 50%);*/
  /*background-image:-moz-linear-gradient(@lightbackcolor 50%);*/
  /*background-image:linear-gradient(@lightbackcolor 50%);*/
}
.container {
  max-width: 992px !important;
}
* {
  transition: 300ms;
}
.sociallinks {
  top: 50%;
  position: fixed;
  z-index: 999;
  width: 5px;
}
.sociallinks ul {
  list-style: none;
}
.sociallinks ul li {
  transform: translateX(-123px);
  padding: 4px 0px 4px 10px;
  background-color: #0c4204;
  margin: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: right;
  width: 125px;
}
.sociallinks ul li a {
  color: #ffffff;
}
.sociallinks ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.sociallinks ul li img {
  width: 35px;
  margin-left: 10px;
  border: 2px solid #ffffff;
}
.sociallinks ul li span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.sociallinks ul li:hover {
  transform: translateX(-45px);
}
header {
  background-color: #006600;
}
.content {
  background-color: #ffffff;
}
*,
hr {
  border-color: #006600;
}
.logo {
  height: 80px;
  margin-top: 5px;
  max-width: 100%;
}
.btn-info,
.btn-info[disabled],
.btn-primary,
.readmore a,
.readmore a h4,
.btn-info:focus {
  background-color: #006600;
}
.btn-info:hover,
.btn-info[disabled]:hover,
.readmore a:hover,
.readmore a h4:hover,
.btn-primary:hover {
  background-color: #0c4204;
}
a {
  color: #006600;
}
.btn {
  border-radius: 0px;
}
.btn.send {
  margin-right: 8px;
}
.btn + .btn {
  margin-left: 10px;
}
.btn-info,
.btn-primary {
  font-family: Amaranth-Regular;
}
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info .open > .dropdown-toggle.btn-info {
  border: none;
  color: #ffffff;
  font-weight: bold;
}
.cnctinfo {
  color: #000066;
  font-weight: bold;
  margin: 40px 15px 40px 0;
}
.navbar-collapse {
  padding: 0px;
}
.navbar-toggle {
  border: 1px solid #e4e6e7;
  margin-top: 45px;
}
.navbar-toggle .icon-bar {
  background-color: #e4e6e7;
}
.navbar {
  border: none;
  min-height: 50px;
  height: 40px;
}
.navbar-default {
  background-image: linear-gradient(#0c4204, #006600);
  margin-bottom: 0px;
  border-radius: 0;
}
.navbar-default .navbar-nav > li {
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  padding: 10px 25px;
  border-right: 1px solid white;
  font: bold 14px/1.5em Arial, Helvetica, sans-serif;
  position: relative;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active:hover > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background-color: #ffffff;
  color: #0c4204;
}
.navbar-default .navbar-nav > li > ul {
  transition: all 300ms ease-in;
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background-color: #0c4204;
  padding: 15px;
  list-style: none;
  text-align: left;
  top: 40px;
  border-top-left-radius: 0px;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul > li {
  border-bottom: 1px solid #d2ffb7;
  padding: 7px;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover a {
  color: #006600;
}
.navbar-default .navbar-nav > li > ul > li:focus {
  background-color: #ffffff;
  color: #0c4204;
}
.navbar-default .navbar-nav > li > ul > li ul {
  list-style: none;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  font-size: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  text-transform: lowercase;
  font-size: 17px;
  color: #fff;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.subhead {
  font: 2em/1.2em Amaranth-Regular;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #0c4204;
  /*box-shadow:2px 2px 2px @lightcolor;*/
  text-align: center;
  background-color: none;
  /*background: -webkit-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
  /*background: -moz-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
  /*background: linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
  border-radius: 7px;
  padding: 4px 10px;
  position: relative;
  color: #006600;
}
h1 {
  color: #006600;
  font: 2em/1.2em Amaranth-Regular;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
}
h2,
h3,
h5 {
  color: #0c4204;
}
h3 {
  color: #0c4204;
  font: 1.5em/1em Amaranth-Regular;
}
h2,
h5 {
  font: 2em/1.2em Amaranth-Regular;
}
h4 {
  padding-bottom: 8px;
  font: 1.5em/1.2em Amaranth-Regular;
}
.btn-link {
  padding-left: 0px;
  color: #006600;
}
.sections {
  padding: 10px;
  border-radius: 5px;
}
.contentModule .sections {
  border-radius: 5px;
  border: 1px solid #006600;
}
.contentModule .sections img {
  width: 100%;
  padding: 4px;
  border: 3px solid transparent;
  max-height: 138px;
  min-height: 138px;
}
.contentModule .sections .readmore {
  margin-bottom: 10px;
  margin-top: 10px;
}
.contentModule .services {
  border: none;
}
hr {
  margin: 5px 0px;
}
.service {
  margin-bottom: 10px;
  margin-top: 10px;
}
.service img {
  max-height: 180px;
}
.service h3 {
  padding-bottom: 0px;
  border: none;
  margin-top: 0px;
  font-size: 18px;
}
.searchProperty,
.sections,
.enquiry .panel-default,
.searchProp .panel-default,
.form-control {
  border: 1px solid #000066;
}
.thumbnail {
  border-color: #0c4204;
}
.services {
  border: none;
}
.email:hover {
  text-decoration: none;
  color: #0c4204;
  text-decoration: underline;
}
.bx-wrapper .bx-controls-direction a {
  margin-top: -35px;
}
footer {
  margin-top: 10px;
  color: #e4e6e7;
  font-weight: bold;
  background-color: #0c4204;
  padding: 5px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
@media (min-width: 320px) {
  .logo {
    float: left;
  }
  .cnctinfo {
    display: none;
  }
  .navbar {
    min-height: 0px;
  }
  .item.active,
  .projnav {
    height: 120px;
    overflow: hidden;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
  .homeimg {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .logo {
    float: none;
  }
  .cnctinfo {
    display: block;
  }
  .projnav {
    height: 322px;
  }
  .item.active {
    height: 312px;
    overflow: hidden;
  }
  .carousel-inner > .item > img {
    width: 100%;
    min-height: 310px;
  }
  .homeimg {
    float: right;
    margin-left: 25px;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .logo {
    float: none;
  }
  .cnctinfo {
    display: block;
  }
  .projnav {
    height: 322px;
  }
  .item.active {
    height: 312px;
    overflow: hidden;
  }
  .carousel-inner > .item > img {
    width: 100%;
    min-height: 312px;
  }
  .homeimg {
    float: right;
    margin-left: 25px;
    max-height: 210px;
  }
  .slider {
    max-width: 802px;
  }
}
.navbar-toggle {
  background-color: #cc0000;
  border-color: #ffffff;
}
.navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.projdtls {
  color: #ffffff;
  background-color: #0c4204;
}
@media (max-width: 540px) {
  header .navbar {
    min-height: 1px;
  }
  .navbar-nav {
    margin: 0px;
  }
}
