@font-face {
  font-family: 'CreditValley';
  src: url('../fonts/CreditValley.ttf');
}
.sidebar .nav-pills > li > a {
  color: #ffffff;
  font-size: 19px;
}
.thumbnail {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
.thumbnail .infraImg {
  border-radius: 200px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
.thumbnail .infraImg::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(216, 66, 66, 0.42);
  border-radius: 100%;
  animation-direction: reverse;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.thumbnail .infraImg:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.thumbnail .infraImg img.img-responsive {
  min-height: 165px;
  width: 345px;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
  height: 100px;
  padding: 0px;
}
.thumbnail h4 {
  height: 23px;
}
.thumbnail .prodimg {
  height: 170px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
.thumbnail .prodimg::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(216, 66, 66, 0.42);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.thumbnail .prodimg:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.thumbnail .prodimg img.img-responsive.center-block {
  min-height: 170px;
  width: 100%;
}
.thumbnail .caption {
  height: 131px;
  padding: 4px;
  overflow: hidden;
}
.thumbnail .description {
  height: 130px;
  overflow: hidden;
}
.thumbnail .readmore {
  text-align: center;
  margin-bottom: 10px;
}
.thumbnail a {
  background-color: #bbbbbb;
  border-radius: 0px;
  border-color: #bbbbbb;
  text-align: center;
}
body {
  width: 100%;
  background-image: url('../img/b1.jpg');
  background-repeat: no-repeat;
  animation-name: back;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes back {
  0% {
    background: url('../img/b1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background: url('../img/b2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.col1 {
  background-color: rgba(8, 8, 8, 0.6);
  height: 766px;
}
.navbar-default {
  margin-top: 80px;
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav .active > a {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-nav .active:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > li {
  font-size: 50%;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li a {
  font-family: 'CreditValley';
  font-size: 20px;
}
.navbar-default .navbar-nav > li a:hover {
  color: #ffffff !important;
  font-family: 'CreditValley';
  font-size: 20px;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  width: 160px;
  z-index: 999;
  background-color: rgba(8, 8, 8, 0.6);
  list-style: none;
  text-align: center;
  transition: all 500ms ease-in-out;
}
.navbar-default .navbar-nav > li > ul:hover > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul:hover > a:hover {
  text-decoration: none;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.sociallinks {
  margin: 13px;
  padding-top: 25px;
}
.sociallinks ul {
  list-style-type: none;
  padding-left: 0px;
}
.sociallinks ul li {
  display: inline;
}
.sociallinks ul li a {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-left: 10px;
}
img.logo.img-responsive {
  margin-top: 50px;
}
.soc {
  background-color: #bbbbbb;
}
.mid-content {
  background-color: rgba(8, 8, 8, 0.6);
  color: #ffffff;
  height: 766px;
  overflow: auto;
  animation-name: cont;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes cont {
  0% {
    position: relative;
    left: 500px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
.head {
  border-radious: 50%;
}
-----for gallery---- .thumbnail > img,
.thumbnail a > img {
  border-radius: 200px;
  height: 150px;
}
