{% autoescape false %}
		<!-- Overview -->
		<div class="row">
			<div class="col-md-12">
				<img src="img/proj_logo.jpg" class="projImg img-responsive"/>
				<p class="projHead">
					<b class="highlight">Residential Township - Jaipur</b><br>
					<span class="highlight">Project Type : </span>Residential Property - Flats & Apartments<br>
					<span class="highlight">Project Location : </span>Sikar Road, Sikar Road, Jaipur, Rajasthan, India
				</p>
			</div>
			<div class="col-md-12">
				<h3>Overview</h3>
				<p class="info">A complete township, spread over approx. 400 acres, with a unique blend of contemporary and traditional architecture is truly a gateway to experience and live our heritage, discovering a world-class living experience. Anyone would fall in love with the inviting beauty of Suncity Jaipur, reviving the majestic heritage of erstwhile royal Jaipur. The architecture in the city is a fusion of the art and aesthetics of the city of Jaipur, which is well blended with state of the art modern facilities, offering you the most upbeat style of living.

				<p class="info">The finest architects and craftsmen give reality to this fantastic vision for the township. From breathtaking landscapes to the built form, even the most delicate and smallest of the details are taken care of, bringing you a magnificent living. Suncity Jaipur is not only a treat for your senses with its captivating beauty, fine, stylish & upbeat comfort, it is a treat for those who have always wanted to live a royal life.
			</div>
			<div class="col-md-12">
				<h3>Photo Gallery</h3>
				<div class="projectgallery">
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<img src="img/proj_img-849_1-small.jpg" class="center-block projImgs" alt="...">
						</div>
						<div class="col-sm-12 col-md-4">
							<img src="img/Tulips.jpg" class="center-block projImgs" alt="...">
						</div>
						<div class="col-sm-12 col-md-4">
							<img src="img/Tulips.jpg" class="center-block projImgs" alt="...">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<img src="img/proj_img-849_1-small.jpg" class="center-block projImgs" alt="...">
						</div>
						<div class="col-sm-12 col-md-4">
							<img src="img/proj_img-5575_1-small.jpg" class="center-block projImgs" alt="...">
						</div>
						<div class="col-sm-12 col-md-4">
							<img src="img/proj_img-5648_1-small.jpg" class="center-block projImgs" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
{% endautoescape %}
<!-- <!-- Site Plan - ->
		<div class="col-md-12">
			<h3>Site Plan</h3>
			<div class="thumbnail">
				<img src="img/Location Map.jpg" class="img-responsive" alt="...">
			</div>
		</div> -->