.products{
			.thumbnail{
				height:500px;
					.prodimg{
							height:200px;
							width:100%;
							overflow:hidden;
									img{
										min-height:200px;
										width:100%;
										}	
							}
							.caption{
										.description{
											height:150px;
											font: 400 20px/25px "pt-sans.narrow" sans-serif;
											overflow:hidden;
											}
							}
					}
					
					
		}