.carousel-inner {
				.item{
						height:850px;
						img{
								height:850px;
								width:100%;
						}
				}
			.carousel-caption{
						color:@colorwhite;
						h2{
								color:@colorwhite;
						}
				}
				.btn{
							border-radius:0px !important; 
					}
			.btn-info{
						border:1px solid @colorwhite;
						color:@colorwhite;
						background-color:transparent;
						text-transform:uppercase;
						padding:10px;
						&:hover{
								color:@colorwhite;
								background-color:@darkcolor;
						}
				}
	}
	
	
