.services{
			margin-top:120px;
				.media-object{
					background-color:@lightcolor;
					//margin:10px;
					padding:20px;
				}
				.media-left{
						height:100px;
						width:100px;
				}
				img{
						height:100px;
						width:100%;
				}
				.media-body{
							h4{
								padding:10px;
								color:@colorwhite;
							}
				}
}
	