.services{
			margin-top:120px;
				.media-object{
					background-color:@lightcolor;
					//margin:10px;
					padding:20px;
				}
				.media-left{
						height:100px;
						width:100px;
				}
				img{
						height:100px;
						width:100%;
				}
				.media-body{
							h4{
								padding:10px;
								color:@colorwhite;
							}
				}
				
				animation-name:services;
				animation-duration:3s;
				animation-iteration-count:1;
				
}
@keyframes services{
					0%{opacity:0;transform:translateX(-100px);}
					100%{opacity:1;transform:translateX(0px);}
}
	