@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}
@font-face{
		font-family:'pt-sans.narrow';
		src:url('../fonts/pt-sans.narrow.ttf');
}
//text color shade
	 @color:#f9ba2e; // orange#C4DE9B green
	 @lightcolor :rgba(249,186,46,0.5); //light orange
	 @darkcolor : #EF321F; //red

	@back : #464646; // green color
	@darkbackcolor :#ffa64d;   //dark cof color
	@lightbackcolor :#196619;   //faint pink color
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	@import "general.less";
	@import "service.less";
	@import "project.less";
	@import "product.less";
	
header{
			//background-image:url('../img/header.jpg');
			//background-size:100% 100%;
			//height:850px;
			.logo{
					height:150px;
					width:150px;
					margin-top:8%;
					border:1px solid @colorwhite;
					background-color:@color;
					padding-top:20px;
			}
			.tagline{
					font: 400 34px/40px "pt-sans.narrow" sans-serif;
					color:@colorwhite;
					padding-top:67px;
					
					animation-name:tagline;
					animation-duration:3s;
					animation-iteration-count:1;
					}
			.tagline1{
					color:@colorwhite;
					padding:10px;
					font: 400 20px/25px "pt-sans.narrow" sans-serif;
					animation-name:tagline;
					animation-duration:3s;
					animation-iteration-count:1;
					}
}
@keyframes tagline{
					0%{opacity:0;transform:translateY(-200px);}
					100%{opacity:1;transform:translateY(0px);}
}
body{
			background-image:url('../img/products.jpg');
			background-size:100% 100%;
			background-attachment:fixed;
}
.btn-info {
		color: @colorblack; 
		background-color:@color;
		border:none;
		border-top:3px solid transparent;
		padding:10px;
		
		
		&:hover{
				border-top:3px solid @colorwhite;
				background-color:@lightcolor;
		}
}
	#googleMap{
			height:400px;
			border:1px solid @colorblack;
			
	}
	
	.contact{
					h2{
							text-align:center;
							color:@colorwhite;
					}
					.logo{
					height:150px;
					
					}
					b,td{
							color:@colorwhite;
					}
	}
	.sociallinks{
			li{
					display:inline;
					}
				a{
				border-radius:50%;
				border:1px solid transparent;
				display:inline-block;
				height:58px;
				width:58px;
				margin:2px;
				background-color:rgba(8, 8, 8, 0.54);
				padding:10px;
				&:hover{
				background-color:rgba(53, 58, 76, 0.52);
				}
				img{
					height:40px;
					width:40px;	
				}
				}
				
}
.navbar-default {
		background-color:rgba(234, 171, 5, 0.44);
		
		margin-bottom:-1px;
		border:none;
		border-top:1px solid @colorwhite;
		
		.navbar-nav{
			> li{
				padding:-5px;
				
				float:none;
				margin-bottom:0px;
				position : relative;
				> a {
					color : @colorwhite;
					font : bold 15px/1em Arial, Helvetica, sans-serif;
					position : relative;
					text-transform : uppercase;
					padding:30px 15px;
					padding-right:10px;
					
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					background:none;
					color : @color;
					
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @lightcolor;
					//margin-top:22px;
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
							}
						}
						&:hover{
						background-color:@lightcolor;
							-webkit-transition: all 0.4s;
						}
						ul{
							display:none;
							//background : linear-gradient(@back, @color);
							background-color: @colorwhite;
							list-style: none;
							display : none;
							color:@darkcolor;
							position : absolute;
							left: 150px;
							width: 180px;
							padding : 2px;
							li{
								padding : 10px;
								a{
									color : @lightcolor;
								}
								&:hover{
									a{
										color : @colorwhite;
									}
									background-color:@lightbackcolor;
									
								}
							}
						}
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
		.navbar-collapse{
				margin-left: 137px;
					margin-right: 137px;
		}
	}
 .homeAboutus{
					background-color:rgba(249, 186, 46, 0.55);
					height:220px;
					margin-top:-21px;
					h1{
								text-align:center;
								font: 400 30px/35px "pt-sans.narrow" sans-serif;
								color:@colorwhite;
								padding:16px;
					}
					p{
						color:@colorwhite;
						text-align:center;
						font: 400 20px/25px "pt-sans.narrow" sans-serif;
						padding:10px;
					}
	 }
 .contact{
		table{
				h2{
							font: 400 20px/25px "pt-sans.narrow" sans-serif;
				}
				h4{
							font: 400 20px/1em "pt-sans.narrow" sans-serif;
				}
				address {
							font: 400 20px/1em "pt-sans.narrow" sans-serif;
					}
				}
				span{
						p{
							font: 400 20px/1empx "pt-sans.narrow" sans-serif;
						}
				}
				td{
							font: 400 20px/1em "pt-sans.narrow" sans-serif;
				}
				animation-name:contact;
				animation-duration:3s;
				animation-iteration-count:1;
				
}
@keyframes contact{
				0%{opacity:0;transform:translateX(-50px);}
				100%{opacity:1;transform:translateX(0px);}

}
.panel-default{
				color:@colorwhite;
				background-color:rgba(187, 135, 18, 0.47);;
				border:none;
				.form-control{
							background-color:rgba(249, 186, 46, 0.14);;
						    display: inline-block;
							width:100%;
							margin:5px;
							vertical-align: middle;
				}
				input{
						width:100%;
						height:65px;
				}
				textarea{
							height:246px;
				}
				.form-group{
							display:inline-block;
				}
				h3{
						font: 400 36px/40px "pt-sans.narrow" sans-serif;
						color:@colorwhite;
						text-align:center;
				}
				.btn{
							border-radius:0px !important; 
					}
			.btn-info{
						border:1px solid @colorwhite;
						color:@colorwhite;
						background-color:transparent;
						text-transform:uppercase;
						padding:15px;
						margin:10px;
						&:hover{
								color:@colorwhite;
								background-color:@darkcolor;
						}
			
			}
			.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
				padding-right: 10px !important;
				padding-left: 10px !important;
			}						
}
.row{
		margin:0px;
}
.about{
			color:@colorwhite;
			h2,h3{
					text-align:center;
					color:@color;
					font: 400 36px/40px "pt-sans.narrow" sans-serif;
			}
			strong{
					color:@color;
					font: 400 20px/25px "pt-sans.narrow" sans-serif;
			}
			p{
					text-align:justify;
					font: 400 20px/25px "pt-sans.narrow" sans-serif;
			}
			center{
					text-align:justify;
					font: 400 20px/25px "pt-sans.narrow" sans-serif;
			}
			li{
						font: 400 20px/25px "pt-sans.narrow" sans-serif;
			}
}
footer{
			p,a{
				color:@colorwhite;
				font: 400 15px/20px "pt-sans.narrow" sans-serif;
				padding-top:10px;
			}
		
}

@media (min-width: 768px){
	.sociallinks {
			text-align: center;
			}
			
	}
.col-sm-6.col-md-3.thumbnail {
			
							margin-left: 200px;
		}
.col-xs-12.col-sm-12.col-lg-4 {
		text-align: center;
}

