@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}
@font-face{
		font-family:'ArbutusSlab-Regular';
		src:url('../fonts/ArbutusSlab-Regular.ttf');
}
//text color shade
	 @color:#f9ba2e; // orange#C4DE9B green
	 @lightcolor :rgba(249,186,46,0.5); //light orange
	 @darkcolor : #EF321F; //red

	@back : #464646; // green color
	@darkbackcolor : #3a322f;   //dark cof color
	@lightbackcolor :#196619;   //faint pink color
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	@import "general.less";
	@import "service.less";
	@import "project.less";
	@import "product.less";
	
header{
			background-image:url('../img/header.jpg');
			background-size:100% 100%;
			height:950px;
			.logo{
					height:150px;
					width:150px;
					margin-top:18%;
					border:1px solid @colorwhite;
			}
			.tagline{
					font: 400 34px/40px "Arbutus Slab", sans-serif;
					color:@colorwhite;
					padding-top:67px;
					
					animation-name:tagline;
					animation-duration:3s;
					animation-iteration-count:1;
					}
			.tagline1{
					color:@colorwhite;
					animation-name:tagline;
					animation-duration:3s;
					animation-iteration-count:1;
					}
}
@keyframes tagline{
					0%{opacity:0;transform:translateY(-200px);}
					100%{opacity:1;transform:translateY(0px);}
}
.btn-info {
		color: @colorblack; 
		background-color:@color;
		border:none;
		border-top:3px solid transparent;
		padding:10px;
		
		
		&:hover{
				border-top:3px solid @colorwhite;
				background-color:@lightcolor;
		}
}
	#googleMap{
			height:300px;
			border:1px solid @colorblack;
			margin:20px;
	}
	
	.contact{
					h2{
							text-align:center;
					}
					.logo{
					height:150px;
					
			}
	}
	.sociallinks{
			li{
					display:inline;
					}
				a{
				border-radius:50%;
				border:1px solid transparent;
				display:inline-block;
				height:58px;
				width:58px;
				margin:2px;
				background-color:rgba(85, 85, 85, 0.25);
				padding:10px;
				&:hover{
				background-color:rgba(8, 8, 8, 0.54);
				}
				img{
					height:40px;
					width:40px;	
				}
				}
				
}