<div class="row">
	<div class="col-md-12">
		<div class="main-content">
		<ng-include src="'modules/component/toolbar.html'"></ng-include>
		 <div class="row">
				 <div class="col-sm-2">
					<div class="bottomspace">
						<label for="page_item" class="control-label" >Page Item</label>
						<select id="page_item" class="form-control" ng-change="getData(false, currentPage,'fees_view', 'feesList', feesParams)" ng-model="pageItems" ng-options="item as item for item in [10,20,30]">
							<option value="" selected>Select type</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="bottomspace">
						<label for="department" class="control-label" >Select Department</label>
						<select id="department" class="form-control">
							<option value="" selected>Select Department</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="bottomspace">
						<label for="class" class="control-label" >Select Class</label>
						<select id="class" class="form-control">
							<option value="" selected>Select Class</option>
						</select>
					</div>
				</div>
			</div> 
			<div class="table  table-hover table-bordered" ng-init="getData(false, currentPage,'fees_view', 'feesList', feesParams);getData(false, currentPage,'department', 'departmentList', deptParams);getData(false, currentPage,'class', 'classList', classParams);">
			  <div ui-grid="feesList"></div>
			 </div>
			<div class="text-center">				
				<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage,'fees_view', 'feesList', feesParams)"></pagination>
				<pre>Page: {{currentPage}} / {{numPages}}</pre>
			</div>
		</div>
	</div>
</div>