
@font-face {
  font-family: 'CinzelDecorative-Black';
  src:url('../fonts/CinzelDecorative-Black.ttff');
}

@color : #fa6903; //dark chocalate
@lightcolor :#e5e5e5; // enquiryborder color
@darkcolor : #EA5B4B;// nav color
@back : #fffadc; //enquiry back
@darkbackcolor : #f7edb4; //footer
@lightbackcolor :#a84034;//border top
@colorblack : #000000;
@colorwhite	: #ffffff;
@import "property.less";
@import "project.less";
@import "product.less";
@import "general.less";
body{
	font-family:CinzelDecorative-Black;
	.homeAboutus{
		padding: 0px 20px 25px 0px;
		text-align:center;
	}
	.logo{
		height:80px;
		}
	}
	h1,h2,h3,h4{
		font-family:CinzelDecorative-Black;
	}
header{
	background:url(../img/header-bg.jpg) repeat-x;
	.container{
		padding:0px;
	}
}
.navbar-default {
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		background-color:transparent;
		border:none;
		margin-bottom:0px;
		min-height: 80px;
		max-width: 100%;
		.navbar-nav{
			>li{
				position :relative;
				>a{
					color: @colorwhite;
					font-family:CinzelDecorative-Black;
					text-transform: uppercase;
					padding:29px 18px;
					font-size:16px;
					text-shadow: 2px 2px 0px rgba(0, 0, 0,.2);
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					color: @colorwhite;
					cursor: pointer;
					font-size:16px;
					border-top: 4px @lightbackcolor  solid;
					background: @darkcolor;
					padding:29px 18px;
				}
				ul{
					display : none;
					position : absolute;
					width : 270px;
					z-index : 999;
					background-color:#e3161d; ;
					padding:28px 18px;
					list-style : none;
					text-align : left;
					padding: 5px;
					line-height: 26px;
					font-weight: 600;
					>li{
						padding : 10px;
						position : relative;
						&:hover{
								border-top: 5px @lightbackcolor  solid;
								background: @darkcolor;
								border-bottom:1px solid @colorblack;
						}
						>a{
							text-decoration:none;
							color:@colorwhite;
						}
						&:hover{
							a{
								color :@colorblack ;
							}
						}
						> ul{
							display: none;
							list-style :none;
							left: 70%;
							top: 10px;
							border-top-left-radius: 0px;
							>li{
								>a{
									text-decoration:none;
									color:@colorwhite;
									&:hover{
										color:@colorblack;
									}
								}
							}
						}
						&:hover > ul {
							display: block;
						}
					}
				}
				&:hover{
					>ul{
						display:block;
					}
				}
			}
		}
	}
@media(max-width: 320px){
	.nav-footer{
		background:none;
		display:none;	
	}
	footer{
		.logo{
			display:none;
			}
		.wt{
			margin: 0px 0 0 0;
			}
	}
	 .carousel-indicators {
		display:none;
		width:0px;
	}
}
// media query
@media (max-width: 768px){
		body .navbar-default .navbar-nav > li.active > a, body .navbar-default .navbar-nav > li.active:hover > a, body .navbar-default .navbar-nav > li.active > a:focus, body .navbar-default .navbar-nav > li:hover > a, body .navbar-default .navbar-nav > li:hover > a:focus{ 
			background:none;
			padding: 17px 15px;
			border:0px;
		}
		body .navbar-default .navbar-nav > li> a{ 
			background:none;
			border:0px;
			background:url('../img/header-bg.jpg') repeat-x;
		}
		body .navbar-default {
			background:url('../img/header-bg.jpg') repeat-x;
		}
	}
	.about{
		padding:15px;
		strong{
			font-family : 'FeFCrm2';
		}
	}	
	strong{
		font-weight:900;
		font-size:16px;
	}
.btn-info{
		padding: 10px 10px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		color: @colorwhite;
		border:none;
		}

.sociallinks{
	background-color:@colorwhite;
	box-shadow:5px 5px 5px @lightcolor;
	margin-top: 35px;
    border-radius: 10px;
	ul{
		list-style:none;
			li{
				display:inline;
				padding: 10px 15px;
				a{
					color:@colorblack;
					font-weight:bold;
					&:hover{
						color:@colorblack;
						font-weight:bold;
					}
				}
				&:last-child{
					border:none;
				}
			}	
			}
	}
.img-circle {
    border-radius: 50%;
    width: 20%;
	}
footer{
		color:@colorblack;
		padding:15px;
		background-color:@darkbackcolor;
		a{
			color:@colorblack;
			&:hover{
				color:@colorblack;
				text-decoration:none;
			}
		}
		.wt{
			margin: 50px 0 0 0;
			color:@colorblack;
			&:hover{
				color:@colorblack;
			}				
		}
		.logo{
			margin-top:20px;
		}
	}
.nav-footer{
	background:url(../img/header-bg.jpg) repeat-x;
	margin-bottom:0px;
		.navbar-nav{
		
				>li{
					position :relative;
					>a{
						color: @colorwhite;
						font: 16px Cinzel Decorative, Arial, Helvetica, sans-serif;
						text-transform: uppercase;
						text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
						}
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
						color: @colorwhite;
						cursor: pointer;
						background-color:transparent;
						font: 16px Cinzel Decorative, Arial, Helvetica, sans-serif;
						}
					ul{
					display:none;
					}	
					
				}
			}
		
}

