	<div class="modal-body">
		<div class="form-group">
			<label  for="admission_date" class="col-sm-2 control-label"> Admission Date * </label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="Date" id="admission_date" name="admission_date" ng-model="modalOptions.addadmission.admission_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" ng-click="opened = !opened" />
			</div>
		</div>
		<div class="form-group" >
			<label for="patient_id" class="col-sm-2 control-label"> Patient Name * </label>
			<div class="col-sm-8">{{modalOptions.addadmission.patient_id}}
				<input id="patient_id"  name="patient_id" class="form-control" typeahead-template-url="customTemplate.html" ng-model="patient_name" typeahead-on-select="modalOptions.assignData($item, modalOptions.addadmission)" typeahead="item.patient_name for item in modalOptions.getTypeaheadData('patient','patient_name', $viewValue)" 
				typeahead-loading="locationLoading" typeahead-editable="false" autocomplete="off" required />
				<script type="text/ng-template" id="customTemplate.html">
					<a>
						<span><small> {{match.model.patient_name}}</small></span>
					</a>
				</script>
				<span class="help-block" ng-show="addnew_admissionForm.patient_id.$dirty && addnew_admissionForm.patient_id.$invalid">
				<span ng-show="addnew_admissionForm.patient_id.$error.required" class="text-danger">Patient name is required.</span>
				</span>	
			</div>
		</div>
		<div class="form-group">
			<label for="mobile" class="col-sm-2 control-label">Mobile*</label>
			<div class="col-sm-3">
				<input type="text" id="mobile" name="mobile" class="form-control" ng-model="modalOptions.addadmission.mobile" placeholder="Enter Your Mobile Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" required/>
				<span class="help-block" ng-show="addnew_admissionForm.mobile.$dirty && addnew_admissionForm.mobile.$invalid">
					<span ng-show="addnew_admissionForm.mobile.$error.required" class="text-danger">Mobile Number is required.</span>
					<span class="text-danger" ng-show="addnew_admissionForm.mobile.$error.pattern">Enter valid Contact Number</span>
				</span>
			</div>	
			<label for="emergency_contact" class="col-sm-2 control-label">Emergency Contact*</label>
			<div class="col-sm-3">
				<input type="text" id="emergency_contact" name="emergency_contact" class="form-control" ng-model="modalOptions.addadmission.emergency_contact" placeholder="Enter Your Contact Number" ng-pattern="/^[789]\d{9}$/" maxlength="10" required/>
				<span class="help-block" ng-show="addnew_admissionForm.emergency_contact.$dirty && addnew_admissionForm.emergency_contact.$invalid">
					<span ng-show="addnew_admissionForm.emergency_contact.$error.required" class="text-danger">Contact Number is required.</span>
					<span class="text-danger" ng-show="addnew_admissionForm.emergency_contact.$error.pattern">Enter valid Contact Number</span>
				</span>
			</div>	
		</div>	
		<div class="form-group">	
			<label  for="email" class="col-sm-2 control-label">Email *</label>
			<div class="col-sm-3">
				<input type="Email" class="form-control" id="email" ng-model="modalOptions.addadmission.email" name="email"  ng-pattern="/^[\.\w]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" placeholder="Enter Your Email"  required/>
				<span class="help-block" ng-show="addnew_admissionForm.email.$dirty && addnew_admissionForm.email.$invalid">
				<span ng-show="addnew_admissionForm.email.$error.pattern && (addnew_admissionForm.email.$dirty || submitted)" class="text-danger">Enter a valid email</span>
					<span ng-show="addnew_admissionForm.email.$error.required" class="text-danger">Required Field.</span>
				</span>
			</div>	
			<label  for="deposit" class="col-sm-2 control-label">Deposit</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="deposit" ng-model="modalOptions.addadmission.deposit" name="deposit" placeholder="Enter Deposit Amount" ng-pattern="/^\d{0,9}(\.\d{0,2}){0,1}$/"/>
				<span class="help-block" ng-show="addnew_admissionForm.deposit.$dirty && addnew_admissionForm.deposit.$invalid">		
					<span class="text-danger" ng-show="addnew_admissionForm.deposit.$error.pattern">Enter a valid format</span>
				</span>
			</div>
		</div> 			
		<div class="form-group" ng-init="modalOptions.getData(false,false,'ward','ward',modalOptions.wardParams,modalOptions)">
			<label for="ward_id" class="col-sm-2 control-label">Ward name*</label>
			<div class="col-sm-3">
			<select id="ward_id" class="form-control" ng-model="modalOptions.addadmission.ward_id" ng-options="item.id as item.ward_name for item in modalOptions.ward"  ng-change="modalOptions.bedParams.where.ward_id = modalOptions.addadmission.ward_id;modalOptions.getData(false, false,'bed', 'bed',modalOptions.bedParams, modalOptions)"required>
			<option value="">Select Ward </option></select>
			<span class="text-danger"  ng-show="addnew_admissionForm.ward_id.$error.pattern">please enter valid format</span>
				<span class="help-block" ng-show="addnew_admissionForm.ward_id.$dirty && addnew_admissionForm.ward_id.$invalid">
					<span ng-show="addnew_admissionForm.ward_id.$error.required" class="text-danger">Ward name is required.</span>
				</span>				
			</div>
			<label for="bed_id" class="col-sm-2 control-label">Bed No*</label>
			<div class="col-sm-3" ng-init="modalOptions.getData(false,false,'bed','bed',modalOptions.bedParams,modalOptions)">
				<select id="bed_id" class="form-control" ng-model="modalOptions.addadmission.bed_id" ng-options="item.id as item.bed_number for item in modalOptions.bed" required>
			<option value="">Select BED </option></select>
				<span class="text-danger"  ng-show="addnew_admissionForm.bed_id.$error.pattern">Please Enter Valid Bed Number</span>
				<span class="help-block" ng-show="addnew_admissionForm.bed_id.$dirty && addnew_admissionForm.bed_id.$invalid">
					<span ng-show="addnew_admissionForm.bed_id.$error.required"class="text-danger">Bed no is required.</span>
				</span>				
			</div>
		</div> 	
		<div class="form-group" ng-init="modalOptions.getData(false,false,'staff','staff',modalOptions.staffParams,modalOptions)">
			<label for="staff_id" class="col-sm-2 control-label"> Consultant Dr* </label>
			<div class="col-sm-8">
				<select id="staff_id" class="form-control" ng-model="modalOptions.addadmission.staff_id" ng-options="item.id as item.name for item in modalOptions.staff | filter :{staff_type :'doctor'}" required>
					<option value="">Select Consultant Dr</option>
				</select>
				<span class="help-block" ng-show="addnew_admissionForm.staff_id.$dirty && addnew_admissionForm.staff_id.$invalid">
				<span ng-show="addnew_admissionForm.staff_id.$error.required" class="text-danger">Staff is required.</span>
				</span>	
			</div>
		</div>
	</div> 
			