
<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
		<h3 class="text-center">Casesheet</h3>
</div>
<div class="modal-body">{{modalOptions.casesheet}}
	<label>Patient Details:</label>
	<table class="table table-hover table-responsive table-bordered">
		<tbody>
			<tr>
				<td><b>Patient Name</b></td>
				<td colspan='3'>						
					{{modalOptions.addadmission.salary}}
				</td>			 
			</tr>
			<tr>
				<td><b>Ward Name</b></td>
				<td>						
					{{modalOptions.addadmission.staff_type}}
				</td>	
				<td><b>Bed No</b></td>
				<td>						
					{{modalOptions.addadmission.staff_type}}
				</td>	
			</tr>
			<tr>
				 <td><b>Consultant Dr.</b></td>
				 <td>						
					{{modalOptions.addadmission.staff_type}}
				 </td>	
				 <td><b>Complaints</b></td>
				 <td>						
					{{modalOptions.addadmission.staff_type}}
				 </td>	
			</tr>
		</tbody>
	</table>
	<form class="form-horizontal" name="addcasesheetForm" role="form" ng-submit="addcasesheetForm.$valid" novalidate="novalidate">
		<div class="form-group">
			<label  for="date" class="col-sm-2 control-label">Date*</label>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="text" class="form-control " placeholder="Date" id="casesheet_date" name="casesheet_date" ng-model="modalOptions.addcasesheet.casesheet_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"   ng-required="true" close-text="Close" ng-click="opened1= !opened" ng-change="modalOptions.setDate(modalOptions.addcasesheet.staff_date,10); modalOptions.sqlDateFormat(modalOptions.addcasesheet.staff_date, modalOptions.addcasesheet.staff_date)"/>	
					
					<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="opened1= !opened" ><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label  for="date" class="col-sm-2 control-label">Diagnostic Test</label>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test1"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test2"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.tes3"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test4"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test5"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test6"checklist-value="x"/> test
				</label>
			</div>
			<div class="checkbox col-sm-1">
				<label>
				<input type="checkbox" ng-model="modalOptions.test7"checklist-value="x"/> test
				</label>
			</div>

		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 ">
				<button type="submit" class="btn btn-success" ng-click="" >+Add Prescription
				</button>
			</div>
		</div>
		<div class="form-group">
			<label for="medicine_name" class="col-sm-2 control-label">Medicine Name *</label>
			<div class="col-sm-8">					
				<input type="text" id="medicine_name" class="form-control" name="medicine_name" placeholder="Medicine Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addadmedicine.medicine_name"required>
				 <span class="text-danger"  ng-show="addmedicineForm.medicine_name.$error.pattern">please Enter Valid Name</span>
				<span class="help-block" ng-show="addmedicineForm.medicine_name.$dirty && addmedicineForm.medicine_name.$invalid">
					<span class="text-danger" ng-show="addmedicineForm.medicine_name.$error.required">Name is required.</span>
				</span>
			</div>
		</div>	
		<div class="form-group">
			<label for="quantity" class="col-sm-2 control-label">Quantity</label>
			<div class="col-sm-3">
				<input type="text" required name="quantity" class="form-control" id="quantity" ng-model="modalOptions.addadmedicine.quantity" placeholder="Enter Your quantity" ng-pattern="/^[a-zA-Z]*$/" required/>
				<span class="text-danger"  ng-show="addmedicineForm.quantity.$error.pattern">please Enter Valid quantity</span>
				<span class="help-block" ng-show="addmedicineForm.quantity.$dirty && addmedicineForm.quantity.$invalid">
					<span ng-show="addmedicineForm.quantity.$error.required"class="text-danger">Quantity is required.</span>
				</span>				
			</div>
			<label for="unit" class="col-sm-2 control-label">Unit*</label>
			<div class="col-sm-3">
			<input type="text" id="unit" name="unit" class="form-control" ng-model="modalOptions.addadmedicine.unit" placeholder="Enter unit" ng-pattern="/^[a-zA-Z]*$/" required>
			<span class="text-danger"  ng-show="addmedicineForm.unit.$error.pattern">please Enter Valid state</span>
				<span class="help-block" ng-show="addmedicineForm.unit.$dirty && addmedicineForm.unit.$invalid">
					<span ng-show="addmedicineForm.unit.$error.required" class="text-danger">unit is required.</span>
				</span>				
			</div>
		</div>
		<div class="form-group">
			<label for="dose_time" class="col-sm-2 control-label">Dose Time</label>
			<div class="checkbox col-sm-3">
				<label>
				<input type="checkbox" ng-model="modalOptions.morning"checklist-value="morning"/> Morning
				</label>
				<label>
				<input type="checkbox" ng-model="modalOptions.afternoon"checklist-value="afternoon"/> Afternoon
				</label>
				<label>
				<input type="checkbox" ng-model="modalOptions.evening"checklist-value="evening"/>Evening
				</label>
				<label>
				<input type="checkbox" ng-model="modalOptions.night"checklist-value="night"/>Night
				</label>
			</div>
			<label for="days" class="col-sm-2 control-label">Days</label>
			<div class="col-sm-3">
			<input type="text" id="days" name="days" class="form-control" ng-model="modalOptions.addadmedicine.days" placeholder="Enter days" ng-pattern="/^[a-zA-Z]*$/" required>
			<span class="text-danger"  ng-show="addmedicineForm.days.$error.pattern">please Enter Valid state</span>
				<span class="help-block" ng-show="addmedicineForm.days.$dirty && addmedicineForm.days.$invalid">
					<span ng-show="addmedicineForm.days.$error.required" class="text-danger">days is required.</span>
				</span>				
			</div>
		</div>
	</form>	
	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>sr.no</th>
				<th>Medicine</th>
				<th>Quantity</th>
				<th>DoseTime</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{{modalOptions.addpatient.salary}}
				</td>
				<td>						
					{{modalOptions.addpatient.salary}}
				</td>
				<td>
					{{modalOptions.addpatient.salary}}
				</td>
				<td>
					{{modalOptions.addpatient.salary}}
				</td>	
				<td>
					<button ng-click="modalOptions.removeObject(modalOptions.addstaff.qualification, $index);">X</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="form-group">
		<div class="col-sm-offset-2 ">
			<button type="submit" class="btn btn-success" ng-click="" >Add 
			</button>
			<button type="submit" class="btn btn-danger" ng-click="" >Cancel 
			</button>
		</div>
	</div>
	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>sr.no</th>
				<th>Date</th>
				<th>Consulting</th>
				<th>Prescription</th>
				<th>Remark</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{{modalOptions.addpatient.sr.no}}
				</td>
				<td>
					{{modalOptions.addpatient.Date}}
				</td>
				<td>						
					{{modalOptions.addpatient.Consulting}}
				</td>
				<td>
					{{modalOptions.addpatient.Prescription}}
				</td>
				<td>
					{{modalOptions.addpatient.Remark}}
				</td>	
				<td>
					<button ng-click="modalOptions.removeObject(modalOptions.addstaff.qualification, $index);">X</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer" >
	<div class="col-sm-offset-2 col-sm-9">
		<button type="submit" class="btn btn-success" ng-if="!modalOptions.addpatient.id" ng-disabled="addpatientForm.$invalid" ng-click="modalOptions.postData('patient',modalOptions.addpatient);modalOptions.ok()">Save Casesheet</button>
		
		<button type="submit" ng-if="modalOptions.addpatient.id" class="btn btn-success" ng-disabled="addpatientForm.$invalid" ng-click="modalOptions.updateData('patient',modalOptions.addpatient,modalOptions.addpatient.id);modalOptions.ok()">Update Casesheet</button>
		<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
	</div>
</div>