		<div class="modal-body">
				
			<div class="form-group">
				<label for="complaints_name" class="col-sm-2 control-label">complaints_name *</label>
				<div class="col-sm-8">
				<input type="text" id="complaints_name" name="complaints_name" class="form-control" ng-model="modalOptions.addadmission.patient_history.complaints_name" placeholder="Enter complaints_name" ng-pattern="/^[a-zA-Z]*$/" required />
					<span class="help-block" ng-show="addnew_admissionForm.complaints_name.$dirty && addnew_admissionForm.complaints_name.$invalid">
						<span ng-show="addnew_admissionForm.complaints_name.$error.required" class="text-danger">complaints_name is required.</span>
					</span>				
				</div>
				
			</div>
			<div class="form-group">
				<label for="complaints_description" class="col-sm-2 control-label">Description *</label>
				<div class="col-sm-8">
					<textarea  type="text" required name="complaints_description" class="form-control" id="complaints_description" ng-model="modalOptions.addadmission.patient_history.complaints_description" placeholder="Enter Your complaints_description" ng-pattern="/^[a-zA-Z]*$/" ></textarea>
					<span class="help-block" ng-show="addnew_admissionForm.complaints_description.$dirty && addnew_admissionForm.complaints_description.$invalid">
						<span ng-show="addnew_admissionForm.complaints_description.$error.required"class="text-danger">Description is required.</span>
					</span>				
				</div>
			</div> 
			<div class="form-group">			
				<div class="col-sm-offset-2 col-sm-2">
					<button type="submit" class=" col-sm-offset-2 btn btn-success"ng-disabled="addnew_admissionForm.$invalid" ng-click="modalOptions.addToObject(modalOptions.addadmission.patient_history, 'patient_history', modalOptions)" disabled="disabled">	+Add 
					</button>
				</div>
			</div>
			<table class="table table-bordered" >
				<thead>
					<tr>
						<th class="col-sm-2">Sr.No.</th>
						<th class="col-sm-2">Complaints Name</th>
						<th class="col-sm-2">Complaints Description</th>
						<th >Remove</th>
					</tr> 
				</thead>
				<tbody >
					<tr ng-repeat="x in modalOptions.addadmission">
						<td>{{$index + 1}}</td>
						<td>{{x.complaints_name}}</td>
						<td>{{x.complaints_description}}</td>
						<td><button ng-click="modalOptions.removeObject(modalOptions.addadmission, $index)">X</button></td>
					</tr>
				</tbody >
			</table>
		</div>	
			
		
			