<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3 class="text-center">Diagnostic Test</h3>
</div>
<div class="modal-body">{{modalOptions.diagnostic}}
	<label><b>Patient Details</b></label>
	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>Patient Name</th>
				<th>Ward Name</th>
				<th>Bed no</th>
				<th>Consultant Dr.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{{modalOptions.addpatient.salary}}
				</td>
				<td>						
					{{modalOptions.addpatient.salary}}
				</td>
				<td>
					{{modalOptions.addpatient.salary}}
				</td>
				<td>
					{{modalOptions.addpatient.salary}}
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal-body">{{modalOptions.diagnostic}}
		<form class="form-horizontal" name="adddrugsheetForm" role="form" ng-submit="adddrugsheetForm.$valid" novalidate="novalidate">
			<div class="form-group">
				<label  for="date" class="col-sm-2 control-label">Date*</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control " placeholder="Date" id="casesheet_date" name="drugsheet_date" ng-model="modalOptions.addadmission.drugsheet.drugsheet_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"   ng-required="true" close-text="Close" ng-click="opened1= !opened" ng-change="modalOptions.setDate(modalOptions.drugsheet_date.staff_date,10); modalOptions.sqlDateFormat(modalOptions.drugsheet.staff_date, modalOptions.addcasesheet.staff_date)"/>	
						
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opened1= !opened" ><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="test_type" class="col-sm-2 control-label">Test Type</label>
				<div class="col-sm-8">					
					<select id="test_type" name="test_type" class="form-control" 
					ng-model="modalOptions.addadmission.drugsheet.test_type">
						<option value="" selected>select category</option>
						<option value="category">Pay by category</option>
						<option value="category">Pay for category</option>
					</select>
				</div>
			</div>	
			<div class="form-group">
				<label for="test_name" class="col-sm-2 control-label">Test Name</label>
				<div class="col-sm-8">
					<input type="text" required name="test_name" class="form-control" id="test_name" ng-model="modalOptions.addadmedicine.test_name" placeholder="Enter Your test_name" ng-pattern="/^[a-zA-Z]*$/" required/>
					<span class="text-danger"  ng-show="addmedicineForm.test_name.$error.pattern">please Enter Valid test_name</span>
					<span class="help-block" ng-show="addmedicineForm.test_name.$dirty && addmedicineForm.test_name.$invalid">
						<span ng-show="addmedicineForm.test_name.$error.required"class="text-danger">test_name is required.</span>
					</span>				
				</div>
			</div>
			<div class="form-group">
				<label for="upload_report" class="col-sm-2 control-label">upload_report</label>
				<div class="col-sm-8">
				<textarea type="text" id="upload_report" name="upload_report" class="form-control" ng-model="modalOptions.addadmedicine.upload_report" placeholder="Enter upload_report" ng-pattern="/^[a-zA-Z]*$/" required> </textarea>
				<span class="text-danger"  ng-show="addmedicineForm.upload_report.$error.pattern">please Enter Valid state</span>
					<span class="help-block" ng-show="addmedicineForm.upload_report.$dirty && addmedicineForm.upload_report.$invalid">
						<span ng-show="addmedicineForm.upload_report.$error.required" class="text-danger">days is required.</span>
					</span>				
				</div>
			</div>
			<div class="form-group">
				<label for="upload_report" class="col-sm-2 control-label">Upload Report</label>
				<div class="col-sm-3">
				<input type="file" id="upload_report" name="upload_report" class="form-control" ng-model="modalOptions.addadmedicine.upload_report"  ng-pattern="/^[a-zA-Z]*$/" >
				<span class="text-danger"  ng-show="addmedicineForm.upload_report.$error.pattern">please Enter Valid state</span>
					<span class="help-block" ng-show="addmedicineForm.upload_report.$dirty && addmedicineForm.upload_report.$invalid">
						<span ng-show="addmedicineForm.upload_report.$error.required" class="text-danger">days is required.</span>
					</span>				
				</div>
			</div>
		</form>	
		<div class="form-group">
			<div class="col-sm-offset-2 ">
				<button type="submit" class="btn btn-success" ng-click="" >Add 
				</button>
			</div>
		</div>
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th>sr.no</th>
					<th>Test Type</th>
					<th>Test Name</th>
					<th>Description</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{{modalOptions.addpatient.salary}}
					</td>
					<td>						
						{{modalOptions.addpatient.salary}}
					</td>
					<td>
						{{modalOptions.addpatient.salary}}
					</td>
					<td>
						{{modalOptions.addpatient.salary}}
					</td>
					<td>
						<button ng-click="modalOptions.removeObject(modalOptions.addstaff.qualification, $index);">X</button>
					</td>
				</tr>
			</tbody>
		</table>
	<div class="modal-footer" >
		<div class="col-sm-offset-2 col-sm-8">
			<button type="submit" class="btn btn-success" ng-if="!modalOptions.addpatient.id" ng-disabled="addpatientForm.$invalid" ng-click="modalOptions.postData('patient',modalOptions.addpatient);modalOptions.ok()">Save </button>
			
			<button type="submit" ng-if="modalOptions.addpatient.id" class="btn btn-success" ng-disabled="addpatientForm.$invalid" ng-click="modalOptions.updateData('patient',modalOptions.addpatient,modalOptions.addpatient.id);modalOptions.ok()">Update</button>
			<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
		</div>
	</div>
</div>