<div class="modal-header">
	<button type="button" class="btn btn-danger pull-right buttondistance" ng-click="modalOptions.close()">Close</button>
		<h3 class="text-center">Dishcharge Card</h3>
</div><!-- {{modalOptions.view_admission}} -->{{modalOptions.addadmission.discharge_details}}
<div class="modal-body">
        <!-- Name : {{modalOptions.view_admission.patient_name}} <br>
		Admitted : {{modalOptions.view_admission.admission_date}}<br>
		Discharge :<input  ng-model="modalOptions.addadmission.discharge_date" ng-init="modalOptions.addadmission.discharge_date= modalOptions.admission_date" datepicker-options="dateOptions"/>	 -->

	<div class="modal-body">
		<form class="form-horizontal" name="dischargeForm" role="form" ng-submit="dischargeForm.$valid" novalidate="novalidate">
			<div class="form-group">
				<label  for="discharge_date" class="col-sm-2 control-label">Date*</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control " placeholder="Date" id="discharge_date" name="assign_date" ng-model="modalOptions.addadmission.discharge_details.discharge_date" ng-init="modalOptions.addadmission.discharge_details.discharge_date= modalOptions.admission_date" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"   ng-required="true" close-text="Close" ng-click="opened1= !opened" ng-change="modalOptions.setDate(modalOptions.assign_date.discharge_date,10); modalOptions.sqlDateFormat(modalOptions.addadmission.discharge_date, modalOptions.addadmission.discharge_date)"/>	
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="opened1= !opened" ><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
					</div>
				</div>
			</div>	
		<div class="form-group">
		<label for="diagnosis" class="col-sm-2 control-label">Diagnosis *</label>
		<div class="col-sm-8">
			<textarea  class="form-control" id="diagnosis" ng-model="modalOptions.addadmission.discharge_details.diagnosis" name="diagnosis" placeholder="Enter diagnosis"  ng-maxlength="250" required></textarea>
			<span class="text-danger help-block"  ng-show="dischargeForm.diagnosis.$error.pattern">Please Enter Valid Address</span>
					<span ng-hide="dischargeForm.diagnosis.$error.maxlength">{{ 250 - modalOptions.addadmission.discharge_details.diagnosis.length + " Chars left"}}</span>
					<span class="help-block" ng-show="dischargeForm.diagnosis.$dirty &&  dischargeForm.diagnosis.$invalid">
						<span class="text-danger" ng-show="dischargeForm.diagnosis.$error.maxlength">Sorry you are exceeding the limit</span>
						<span class="text-danger" ng-show="dischargeForm.diagnosis.$error.required">Required Field.</span>
					</span>
		</div>
	</div> 
		</form>
	</div>
	
	<div class="modal-footer" >
		<div class="col-sm-offset-2 col-sm-8">
			<!-- <button type="submit" class="btn btn-success" ng-if="!modalOptions.addadmission.id" ng-click="modalOptions.postData('admission',modalOptions.addadmission);modalOptions.ok()">Save </button> -->
			
			<button type="submit" class="btn btn-success" ng-disabled="dischargeForm.$invalid" ng-click="modalOptions.updateData('admission',modalOptions.addadmission,modalOptions.addadmission.id);modalOptions.ok()">Update</button>
			<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</a>
		</div>
	</div>
</div>