<div class="modal-body">
  <div class="form-group">
	<label for="temprature" class="col-sm-2 control-label">Temprature </label>
		<div class="col-sm-3">
			<input type="text" name="temprature" id="temprature" ng-model="modalOptions.addadmission.temprature" placeholder="Enter your temprature" ng-pattern="/^[a-zA-Z0-9]*$/" class="form-control" required>
			<span class="text-danger"  ng-show="addnew_admissionForm.temprature.$error.pattern">please Enter Valid Temprature</span>
			<span class="help-block" ng-show="addnew_admissionForm.temprature.$dirty && addnew_admissionForm.temprature.$invalid">
				<span ng-show="addnew_admissionForm.temprature.$error.required" class="text-danger">Location is required.</span>
			</span>
		</div>		
		<label for="Pulse" class="col-sm-2 control-label">Pulse </label>
		<div class="col-sm-3">
			<input type="text" name="Pulse" id="Pulse" ng-model="modalOptions.addadmission.Pulse" placeholder="Enter your Pulse" ng-pattern="/^[a-zA-Z0-9]*$/" class="form-control" required>
			<span class="text-danger"  ng-show="addnew_admissionForm.Pulse.$error.pattern">please Enter Valid Area</span>
			<span class="help-block" ng-show="addnew_admissionForm.Pulse.$dirty && addnew_admissionForm.Pulse.$invalid">
			</span>
		</div>
	</div> 
	<div class="form-group">
		<label for="Height" class="col-sm-2 control-label">Height </label>
		<div class="col-sm-3" >
			<input type="text" id="Height" name="Height" class="form-control" ng-model="modalOptions.addadmission.Height" placeholder="Enter Height" ng-pattern="/^[a-zA-Z]*$/" required>
			<span class="text-danger"  ng-show="addnew_admissionForm.Height.$error.pattern">please Enter Valid City</span>
			<span class="help-block" ng-show="addnew_admissionForm.Height.$dirty && addnew_admissionForm.bp.$invalid">
				</span>						
		</div>
		<label for="weight" class="col-sm-2 control-label">weight </label>
		<div class="col-sm-3">
			<input type="text" id="weight" name="weight" class="form-control" ng-model="modalOptions.addadmission.weight" placeholder="Enter weight " ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" required>
			<span class="help-block" ng-show="addnew_admissionForm.weight.$dirty && addnew_admissionForm.weight.$invalid">
				<span ng-show="addnew_admissionForm.weight.$error.pattern && (addnew_admissionForm.weight.$dirty || submitted)" class="text-danger">please enter number</span>
			</span>
		</div>						
	</div>
	<div class="form-group">
		<label for="bp" class="col-sm-2 control-label">BP </label>
		<div class="col-sm-3">
			<input type="text" id="bp" name="bp" class="form-control" ng-model="modalOptions.addadmission.bp" placeholder="Enter blood pressure" ng-pattern="/^[a-zA-Z]*$/" required>
			<span class="text-danger"  ng-show="addnew_admissionForm.bp.$error.pattern">please Enter Valid bp</span>
			<span class="help-block" ng-show="addnew_admissionForm.bp.$dirty && addnew_admissionForm.bp.$invalid">
				<span ng-show="addnew_admissionForm.bp.$error.required" class="text-danger">State is required.</span>
			</span>				
		</div>
		<label for="RR" class="col-sm-2 control-label">RR </label>
		<div class="col-sm-3">
			<input type="text" required name="RR" class="form-control" id="RR" ng-model="modalOptions.addadmission.RR" placeholder="Enter Your RR" ng-pattern="/^[a-zA-Z]*$/" required>
			<span class="text-danger"  ng-show="addnew_admissionForm.RR.$error.pattern">please Enter Valid RR</span>
			<span class="help-block" ng-show="addnew_admissionForm.RR.$dirty && addnew_admissionForm.RR.$invalid">
				<span ng-show="addnew_admissionForm.RR.$error.required"class="text-danger">RR is required.</span>
			</span>				
		</div>
	</div> 			
	
	<div class="form-group">
		<label for="pallor" class="col-sm-2 control-label">PALLOR</label>
		<div class="col-sm-3">
			<input type="text" id="pallor" name="pallor" class="form-control" ng-model="modalOptions.addadmission.pallor" placeholder="Enter PALLOR" ng-pattern="/^[789]\d{9}$/" maxlength="10" />
		</div>	
		<label for="ENT" class="col-sm-2 control-label">ENT</label>
		<div class="col-sm-3">
			<input type="text" id="ENT" name="ENT" class="form-control" ng-model="modalOptions.addadmission.ENT" placeholder=" Enter ENT" />
		</div>						
							 
	</div>
	<div class="form-group">
		<label for="ICTERUS" class="col-sm-2 control-label">ICTERUS</label>
		<div class="col-sm-3">
			<input type="text" id="ICTERUS" name="ICTERUS" class="form-control" ng-model="modalOptions.addadmission.ICTERUS" placeholder=""  />
		</div>	
		<label for="CLUBBING" class="col-sm-2 control-label">CLUBBING</label>
		<div class="col-sm-3">
			<input type="text" id="CLUBBING" name="CLUBBING" class="form-control" ng-model="modalOptions.addadmission.CLUBBING" placeholder=" ENTER CLUBBING " />
		</div>						
							 
	</div>
	<div class="form-group">
		<label for="OEDEMA" class="col-sm-2 control-label">OEDEMA</label>
		<div class="col-sm-3">
			<input type="text" id="OEDEMA" name="OEDEMA" class="form-control" ng-model="modalOptions.addadmission.OEDEMA" placeholder="ENTER OEDEMA"  />
		</div>	
		<label for="JVP" class="col-sm-2 control-label">JVP</label>
		<div class="col-sm-3">
			<input type="text" id="JVP" name="JVP" class="form-control" ng-model="modalOptions.addadmission.JVP" placeholder="ENTER JVP" />
		</div>						
							 
	</div>
	
	<div class="form-group">
		<label for="CYANOSIS" class="col-sm-2 control-label">CYANOSIS</label>
		<div class="col-sm-3">
			<input type="text" id="CYANOSIS" name="CYANOSIS" class="form-control" ng-model="modalOptions.addadmission.CYANOSIS" placeholder="Enter CYANOSIS"  />
		</div>	
		<label for="LYMPHADENOPATHY" class="col-sm-2 control-label">LYMPHADENOPATHY</label>
		<div class="col-sm-3">
			<input type="text" id="LYMPHADENOPATHY" name="LYMPHADENOPATHY" class="form-control" ng-model="modalOptions.addadmission.LYMPHADENOPATHY" placeholder="Enter LYMPHADENOPATHY" />
		</div>						
							 
	</div>
	<label  class="control-label">Systematic Examination</label>
	<div class="form-group">
		<label for="R.S" class="col-sm-2 control-label">R.S</label>
		<div class="col-sm-3">
			<input type="text" id="R.S" name="R.S" class="form-control" ng-model="modalOptions.addadmission.R.S" placeholder="Enter R.S "  />
		</div>	
		<label for="C.V.S" class="col-sm-2 control-label">C.V.S</label>
		<div class="col-sm-3">
			<input type="text" id="C.V.S" name="C.V.S" class="form-control" ng-model="modalOptions.addadmission.C.V.S" placeholder="Enter C.V.S" />
		</div>						
							 
	</div>
	<label  class="control-label">Abdominal System</label>
	<div class="form-group">
		<label for="C.N.S" class="col-sm-2 control-label">C.N.S</label>
		<div class="col-sm-8">
			<input type="text" id="C.N.S" name="C.N.S" class="form-control" ng-model="modalOptions.addadmission.C.N.S" placeholder="Enter C.N.S"  />
		</div>								 
	</div>
	<label  class="control-label">Provisional Diagnosis</label>
	<div class="form-group">
		<label for="ProvisionalDiagnosis" class="col-sm-2 control-label">Provisional Diagnosis</label>
		<div class="col-sm-8">
			<textarea type="text" id="ProvisionalDiagnosis" name="ProvisionalDiagnosis" class="form-control" ng-model="modalOptions.addadmission.ProvisionalDiagnosis" placeholder="Enter your Provisional Diagnosis Details" ></textarea>
		</div>								 
	</div>	
</div> 
	<div class="modal-footer" >
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-success" ng-if="!modalOptions.addadmission.id" ng-disabled="addnew_admissionForm.$invalid" ng-click="modalOptions.postData('admission',modalOptions.addadmission);modalOptions.ok()">Add new IPD Patient</button>
			
			<button type="submit" ng-if="modalOptions.addadmission.id" class="btn btn-success" ng-disabled="addnew_admissionForm.$invalid" ng-click="modalOptions.updateData('admission',modalOptions.addadmission,modalOptions.addadmission.id);modalOptions.ok()">Update IPD Patient</button>
			
			<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
		</div>
	</div>
		