header
{
    background-color:#8ac249;
	height:150px;
}
.hcolor
{
	background-color:#8ac249;
	height:30px;
	border-radius:5px;
	color:#fff
}

.im
{
	border-radius:20px;
}
.imgproductheight
{
	height:200px;
}
.imgradious
{
	
	border-radius:10px;
}

.margintop
{
	margin-top:20px;
}
.divheigth
{
	height:30px;
	background-color:#8ac249;
}

.divheader
{
	height:40px;
	background-color:#929da5;
}

.borderbottom
{
	border-bottom:5px;
	color:#8ac249;
	height:5px;
}
.gridblock
{	
	padding:10px;
	margin-bottom:20px;
	border: 1px solid #C2C2C2;
	/* box-shadow: 2px 2px 5px #bbb; */
	/* background-color:#EAEAEA; */
	/* border-radius: 5px; */
}
.border-bottom 
{ 
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left:-15px;
	border-bottom-color:#8ac249;
}

.btncolor
{
	background-color:#B9BABC;
}
.carousel-control
{
	border-radius:20px;
}
.footerbackground
{
	background-color:#8ac249;
}
.footerdiv
{
	background-color :#ffffff;
}