{% autoescape false %}

<div class="sidebarModule enquiry">
	<h3 class="subhead">Still need help?
	{% if enquiry.property_category %}
		<span style="font-size:75%">- ({{enquiry.property_title}})</span>
	{% endif %}
	</h3>
	
	<div class="panel panel-default">
		<div class="panel-body" ng-controller="enquiryController">
			<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-hide="mailSent" novalidate>
				<div class="form-group">
					<div class="col-xs-12 col-md-12 cont">
						<input type="hidden" class="form-control" id="user_id" ng-init="enquiry.user_id={{enquiry.user_id}}" ng-model="enquiry.user_id" name="user_id">
						
						<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
						
						<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to='{{enquiry.owner_email}}'">
						
						<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc = 'admin@apnasite.in'">
				
						<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject" {{ (enquiry.subject) ? 'ng-init="enquiry.subject=\''~enquiry.subject~'\'"' : 'ng-init="enquiry.subject=\'Website Enquiry\'"'}}>
						
						{% if enquiry.property_category %}
							<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.message.property_category" {{ (enquiry.property_category) ? 'ng-init="enquiry.message.property_category=\''~enquiry.property_category~'\'"' : 'ng-init="enquiry.message.property_category=\'Website Enquiry\'"'}}>
						{% endif %}
						
						
						
						{% if enquiry.property_link %}
							<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.message.property_link" 
							ng-init="enquiry.message.property_link={params : {property_title : '{{enquiry.property_title}}', property_category : '{{property_category}}', property_id : '{{property_id}}' }}">
						{% endif %}
						
						<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
							<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
					</div>	
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-md-12">
						<input type="hidden" class="form-control" id="from" name="from" ng-model="enquiry.from_email.from" ng-init="enquiry.from_email.from = 'admin@apnasite.in'">
						<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.to_email.replyTo" required>
						<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
							<span class="text-danger" ng-show="enquiryForm.from.$error.required">E-mail ID is required.</span>
							<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-md-12">
						<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
						<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
					</div>						
				</div>	
				<div class="form-group">
					<div class="col-xs-12 col-md-12">
						<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlength="2" ng-maxlength="356" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-md-12">
						<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlength="2" ng-maxlength="356" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-md-12 text-center">
						<button type="submit" class="btn btn-info send" ng-click="postData(enquiry)" ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent">Send</button>
						<button type="reset" class="btn btn-danger" title="Cancel Sending">Clear</button>
					</div>
				</div>
			</form>
			<div ng-if="loading" style="display: block; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.05);z-index: 10000;">
				<div style="margin: 0 auto;font-size: 26px;color: transparent;width: 128px;text-align: center;margin-top: 10%;font-family: arial, helvetica, sans-serif;background: url({{path}}/img/loader-leaf-purple.gif) no-repeat center center;height: 128px;">Loading...
				</div>
			</div>
			<div ng-show="mailSent" class="text-center mailSentMsg" style="clear:both;">
				Your enquiry has been sent successfully. Our representative call you shortly.
			</div>
			<div ng-show="mailError" class="text-center mailSentMsg" style="clear:both;">
				{{errorMessage}} fsdfsaf 
			</div>
		</div>
	</div>
</div>

{% endautoescape %}