//project
//css for featured project slider
.bxslider{ 
	padding:5px;
	li{
		width:100px;
		.projimg{
			height:150px;
			overflow:hidden;
		}
		img{
			max-height: 140px;
			width : 100%;
			padding : 4px;
			border : 3px solid transparent;
			&:hover{ 
				border : 3px solid @color;
			}
		}
		.readmore{
			margin-bottom :10px;
			margin-top:10px;
			a{
				h4
				{ 
					margin-right:10px;
					font: 2em/1.2em Amaranth-Regular;
					font-size:16px;
					font-weight:bold;
					/*font: 16px 'Alex Brush', cursive;*/
					
					color : @colorwhite;
					padding : 5px 15px;
					text-decoration:none;
					border-color : @colorwhite;
				}
				
			}
		}
		
	}
}
.projlist .readmore a{
		background-color : transparent;
	&:hover{
		background-color :transparent;
	}
}
#carousel {
		background-color: @lightbackcolor;
		.carousel-inner {
			.item{
				max-height: 298px;
				overflow: hidden;
				height:200px;
				>img{
					width :100%;
					min-height : 200px;
				}
				&:hover{
				}
			}
			
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
	
.homeproject {
	margin-top : 20px;
	position : relative;
	#carousel
	{
		box-shadow : 0px 0px 10px 0px black;
		border : 5px solid @colorwhite;
	}
	.bx-wrapper{
		box-shadow : 0px 0px 10px 0px black;
		border : 5px solid @colorwhite;
		margin-top : 5px !important;
		border-radius : 4px;
	}
	.bx-viewport{
		min-height : 300px !important;
		.carousslider{
			padding-left: 0px;
			li{
				border: 3px solid #f9f4da;
				min-height : 300px;
				min-width : 100% !important;
				img{
					width : 100%;
					min-height : 305px;
				}
				&.item{
					overflow : hidden;
					height : 305px;
				}
			}
		}
		img{
			height:400px;
			min-width : 100%;
		}
	}
	
	/*margin-bottom:10px;*/
	.projectnav {
		.nav-stacked>li>a {
		  position: relative;
		  display: block;
		  padding: 10px 8px;
		}
	
		box-shadow : 0px 0px 10px 0px black;
		border : 5px solid @colorwhite;
		margin-top : 5px;
		border-radius : 4px;
		padding:5px;
		height:312px;
		a, a:focus{
			background : none;
			/*background-color : black;*/
			border: 1px solid @back;
			margin : 5px;
			font:2em/1.2em GandhiSans-Bold;
			font-size:16px;
			font-weight:bold;
			/*font: bold 14px/1.5em Arial, Helvetica, sans-serif;*/
			color: @back;
			&:hover{
				color: @colorwhite;
				text-decoration:none; 
				background-color : @back;
				/*background: -webkit-linear-gradient(right,#ccc,#0D8375);*/
				/*background: -moz-linear-gradient(right,#ccc,#0D8375);*/
				/*background: linear-gradient(right,#ccc,#0D8375);*/
			}
		}
		
	}
	
	.projsnap{
		box-shadow : 0px 0px 10px 0px black;
		border : 5px solid @colorwhite;
		text-align : center;
		margin-top : 5px;
		border-radius : 4px;
		padding : 5px;
		height : 312px;
		
		img{
			max-height : 110px;
			margin-top: 10px;
			margin-bottom: 10px;
			border : 1px solid @lightbackcolor;
			border-radius : 5px;
			padding :4px;
		}
		.viewproperty{
			margin-top : 25px;
			a{
				color : @back;
				margin-top : 10px;
				&:hover{
					color : @back;
					text-decoration : underline;
				}
			}
		}
		p{
			margin: 5px 5px;
			padding: 1px;
			border : 1px solid @back;
			color : @back;
		}
	}
	
	#carousel { 
		height:312px;
		margin-top : 5px;
		background-color: @lightbackcolor;
		.carousel-inner {
			.item{
				min-height: 303px;
				overflow: hidden;
				>img{
					width :100%;
					min-height : 312px;
				}
				&:hover{
				}
			}
			
		}
		a.left.carousel-control, a.right.carousel-control {
			background: none;
		}
	}
}
.homeproject::after{
	position : absolute;
	content : "";
	background-image : url('../img/home.png');
	background-size: 100% 100%;
	left :200px;
	top : 143px;
	z-index: 999;
	height : 197px;
	width : 120px;
}
//css for single project & project list
	.projlist{
		.panel-default{
			background-color:@back;
			img{
				border:2px solid @lightbackcolor;
			}
			img:hover{
				border:4px solid @color; 
			}
		}
		border:1px solid @border;
		border-radius : 5px;
		/*background-color:@back;*/
		padding:10px;
		.project{
			.thumbnail{
				background-color:@colorwhite;
				height:400px;
				padding-top : 15px;
				
				border-color : @border;
				.btn-info
				{
					background-color:@back;
				}
				img{  
					max-height : 183px;
					overflow: hidden;
					border: 0 solid #333239;
					text-align: center;
					transition: all 0.2s ease;
					&:hover{
						transition: all 0.2s ease;
					}
				}
				
				.caption {
					height : 190px;
					p{
						color:@colorblack;
					}
				}
			}
			.pagination{
				align:center;
				
			}
			.projImg{
				margin-right: 20px;
				max-height : 175px;
			}
			
		}
		
	}
		
		
	.project{
		.projectgallery{ 
			/*background-color : @back;*/
			border : 1px solid @back;
			padding: 20px 20px 0px;
			.thumbnail{
			.projectImags{
					width: 190px;
					height: 148px;
					overflow: hidden;
					margin : 0 auto;
					img{
						min-height : 148px;
					}
				}
				background-color : @darkbackcolor;
			}
		}
		nav {
			.pagination{
				li,.disabled{
					a{
						background-color: @colorwhite;
						border-color : @border;
						
						&:hover{
							background-color:@back;
							color:@colorwhite;
						}
					}
				}
				>.active>a{
					background-color:@back;
					color:@colorwhite;
					border-color : @colorblack;
				}
			}
			
		} 
	}
	@media (max-width: 768px){
		.homeproject::after{
			display : none;
			width : 0px;
		}
		.projectnav, .projsnap, .bx-wrapper{
			margin-bottom : 10px !important;
		}
	}
	@media (min-width: 320px){
		.projImg{
			float :none;
			max-height : 175px;
			margin-right:10px;
		}
	}
	@media (min-width: 992px){
		.projImg{
			float : left;
			max-height : 175px;
			margin-right : 10px;
		}
	}
	@media (min-width: 1200px){
		.projImg{
			float :left;
			max-height : 175px;
			margin-right:10px;
		}
	}
	