	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@font-face{
		font-family:'GandhiSans-Bold';
		src:url('../fonts/GandhiSans-Bold.otf');
	}
	
	@font-face{
		font-family:'Kirsty';
		src:url('../fonts/Kirsty.ttf');
	}
	@color :#900;
	@lightcolor : #FFC;
	@darkcolor :#08c ;
	
	@back :#F90;
	@darkbackcolor :#300;
	@lightbackcolor :#D6D6D6; 
	 
	@colorblack : #000;
	@colorwhite	:#FFF;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	@import "general.less";
	
	body{
		background-color :@lightbackcolor;
	}
	.sociallinks{
		top: 50%;
		position: fixed;
		z-index : 999;
		width : 5px;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				background-color: @darkbackcolor;
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color:@colorwhite;
					&:hover{
						color:@colorwhite;
						text-decoration : underline;
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	.container{
		max-width:992px !important;
	}
	.content
	{
		background-color :@lightcolor;
		border:2px solid @darkbackcolor;
		padding : 10px;
		margin-top : 10px;
	}
	
	*, hr{
		border-color : @darkbackcolor;
	}
	*{
		transition:300ms;
	}
	
	header{
		margin-bottom : 10px;
		.logo{
			max-width: 100%;
			height : 100px;
		}
		.cntdtl{
			padding-top: 15px;
		}
	}
	.thumbnail{
		background-color:transparent;
		border: 1px solid @darkbackcolor;
	}
	a
	{
		color:@back;
	}
	.cnctinfo{
		color:@color;
		font-weight : bold;
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	.navbar
	{
		border:none;
		min-height : 50px;
	}
	
	.btn-info, .btn-primary, .btn-info[disabled]{
		background-color:@darkbackcolor;
		font-family: Amaranth-Regular;
		border-radius : 0px;
		border : none;
	}
	.btn-info:hover, .btn-primary:hover, .btn-info[disabled]:hover{
		background-color: @back;
		color:@darkbackcolor;
	}
	.btn + .btn{
		margin-left : 5px;
	}
	.navbar-default {
		background-color: @darkbackcolor;
		margin-bottom :0px;
		border-radius: 0;
		.navbar-nav{
			> li{
				float:none;
				text-transform:uppercase;
				position : relative;
				
				> a, > a:focus {
					color :@colorwhite;
					border-right: 1px solid white;
					font:bold 14px/1.5em Arial, Helvetica, sans-serif;
					position: relative;
				}
				&.active > a
				{
					background-color :@back;
					color: @darkbackcolor;
				}
				&.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					color : @darkbackcolor;
					background-color:@back;
				}
				> ul {
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					background-color: @back;
					padding: 5px;
					list-style: none;
					text-align: left;
					top : 50px;
					transition : all 500ms ease-in-out;
					>li{
						padding: 10px;
						>a{
							color:@darkbackcolor;
						}
						ul{
							list-style: none;
							display : none;
							li{
								font-size:10px;
								a{
									text-transform : lowercase;
									font-size: 17px;
									color: #fff;
								}
							}
						
						}
						&:hover{
							background-color : @darkbackcolor ;
							a{
								color : @colorwhite;
								text-decoration : none;
							}
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	
	.subhead {
		font: 2em/1.2em Amaranth-Regular;
		font-size:18px;
		font-weight:bold;
		border:1px solid @darkbackcolor;
		/*box-shadow:2px 2px 2px @lightcolor;*/
		text-align: center;
		background-color :@darkbackcolor;
		/*background: -webkit-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
		/*background: -moz-linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
		/*background: linear-gradient(right, #02071A -16%, @lightbackcolor, #02071A 110%);*/
		border-radius: 7px;
		padding: 4px 10px;
		position: relative;
		color: @colorwhite;
	}
	h1, h2, h3{
		color: @color;
	}
	h1, h2, h3{
		font-family : Amaranth-Regular;
	}
	h1{
		font: 2em/1.2em Amaranth-Regular;
		border-bottom: 1px solid @darkbackcolor;
	}
	h5, h4{
		color : @back;
	}
	h4{
		border-bottom : 1px solid @darkbackcolor;
		padding-bottom: 8px;
		margin-top : 0px;
		font: 1.5em/1.2em Amaranth-Regular;
	}
	a:hover{
		text-decoration:none;
	}
	h4:hover{
		color:@darkbackcolor;
	}
	.btn-link{
		padding-left : 0px;
		color : @colorwhite;
	}
	.panel{
		background-color:transparent;
	}
	.sections
	{
		padding:10px;
	}
	.contentModule {
		.sections{		
			border-radius : 5px;
			img{
				width : 100%;
				padding : 4px;
				border : 3px solid @darkbackcolor;
			}
		}
		
	}
	.form-control{
		background-color:transparent;
		border:1px solid @darkbackcolor;
	}
	.contactus{
		h4{
			border : none;
			padding-bottom : 0px;
		}
	}
	nav {
		.pagination{
			li,.disabled{
				a{
					background-color: @darkbackcolor;
					border-color : @darkbackcolor;
					color:@colorwhite;
					&:hover{
						background-color:@back;
						color:@darkbackcolor;
						border-color : @darkbackcolor;
					}
				}
			}
			>.active>a{
				background-color:@back;
				color:@darkbackcolor;
				border-color : @colorblack;
			}
			.active>a:hover{
				background-color:@back;
				color:@darkbackcolor;
				border-color : @darkbackcolor;
			}
		}
		
	} 
	hr{
		margin :5px 0px;
	}
	footer{
		background-color : @darkbackcolor;
		padding : 10px 10px 0px;
		margin-top : 10px;
		color:@lightcolor;
		font-weight : bold;
		a{
			color:@back;
		}
		.footlink{
			ul{
				color :@darkbackcolor;
				list-style: none;
				li{
					display:inline;
					border-right:1px solid #ccc;
					padding:5px;
					a{
						color :@colorwhite;
						font-size:10px;
					}
				}
			}
		}
	}
	.service{
		margin-bottom: 10px;
		margin-top: 10px;
		img{
			max-height : 180px;
		}
		h3{
			padding-bottom:0px;
			border : none;
			margin-top : 0px;
			font-size : 18px;
		}
	}
	
	.searchProperty,.sections{
		border : 1px solid @darkbackcolor;
		background-color : transperent;
		input,textarea{
			color:@colorblack;
		}
		
	}
	.panel-default{
		border-color : @darkbackcolor;
	}
	.services{
		border : none;
	}
	.formsec{
		color : #E5DFDF;
		border-bottom: 1px solid @darkbackcolor;
		margin-bottom:10px;
		.form-control{
			background-color: blue ;
			/*!important*/
		}
		
	}
	.sideimg{
		margin-top: 20px;
	}
	.email{
		&:hover{
			text-decoration : none;
			color :@darkbackcolor;
			text-decoration : underline;
		}
	}
	
	.bx-wrapper .bx-controls-direction a {
		margin-top:-35px;
	}
	//aboutus page css
	.sidebar{
		.nav-pills{
			background-color: @darkbackcolor;
			border-bottom: 4px solid @darkbackcolor;
			>li{
				border-right : 1px solid @darkbackcolor;
				height : 38px;
				>a, > a:focus{
					padding-top : 9px;
					padding-bottom : 9px;
					color : @colorwhite;
					font-weight : bold;
					border:1px solid @darkbackcolor;
				} 
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus, >a:hover, >a:focus{
					background-color : @back;
					color : @colorwhite;
					/*border:1px solid @darkbackcolor;*/
				}
			}
		}
	}
	.about, .contact, .charges{
		.table{
			tbody{
				tr{
					th,td{
						border-color : @darkbackcolor;
					}
				}
			}
		}
	}
	.about{
		.table{
			margin-top: 20px;
		}
	}
	.modal-body	{
		p{
			color:@colorblack;
		}
	}
	
	//contactus page css
	.contact{
		img{
			max-height: 110px;
		}
	}
	#googleMap{
		height:325px;
	}
	
	//gallery
	.mygallery{
		.thumbnail{
			height:400px;
		}
	}
	
	//testimonials
	.mytesti{
		blockquote{
			font-size : inherit;
			border-left: 3px solid @lightbackcolor;
			img{
				max-height : 70px;
				display : inline-block;
				margin-right : 10px;
			}
			a{
				color : @color;
				font-size : 17.5px;
			}
		}
	}
	
	//charges
	.highlight{
		color :@back;
	}
	@media (min-width: 320px){
		.item.active, .projnav{
			height: 120px;
			overflow: hidden;
		}
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px){
		.projnav{
			height: 322px;
		}
		.item.active{
			height: 312px;
			overflow: hidden;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.projnav{
			height: 322px;
		}
		.item.active,{
			height: 312px;
			overflow: hidden;
		} 
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
	}
	.navbar-toggle{
		background-color : @darkbackcolor;
		border-color : @colorwhite;
		margin-top : 10px;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}
	.projdtls{
		color : @colorwhite;
		background-color: @darkbackcolor;
		
	}
	@media (max-width: 480px){
		.weblogo, .cntdtl{
			text-align : center;
		}
		.logo{
			margin-bottom : 0px;
		}
	}
	.enquir{
		display : none;
		position : fixed;
		bottom : 10px;
		right : 10px;
	}
	@media (max-width: 540px){
		header{
			.weblogo, .cntdtl{
				text-align :center;
			}
			.navbar{
				min-height : 1px;
			}
		}
		.navbar-nav {
			margin: 0px;
		}
		.enquir{
			display : block;
		}
	}