{% autoescape false %}
<h2>{{title}}</h2>
<div class="row products">
	{% for key, x in products %}
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="thumbnail product">
					<h3 class="text-center">{{ x.product_service_name }}</h3>
				<div class="prodimg"> 
					<img src="{{x.product_image.0.file_relative_path}}" class="img-responsive center-block" alt="{{key}}"/>
				</div>
				<div class="caption">
					
					<div class="description">
					{{ x.description }}
					</div>
				</div>
				<div class="readmore1">
					{% if x.type == 'service' %}
						<a href="/services/{{x.product_service_name| replace({' ':'-', '/':'_'})}}/{{x.id}}" class="btn btn-info">Read More..</a>
					{% endif %}
					{% if x.type == 'product' %}
						<a href="/products/{{x.product_service_name| replace({' ':'-', '/':'_'})}}/{{x.id}}" class="btn btn-info">Read More..</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	
	{% include [templatePath ~ '/includes/pagination.html', 'default/default/includes/pagination.html'] %}
</div>
{% endautoescape %}