	<div class="row">
		<div class="col-sm-12 text-right">
			<button ng-if="!infra" type="button" class="btn btn-default btn-primary" title="next" ng-click="update(businessData)">Save Details</button>
			<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra', 'custompage')">Add Custom Details</button>
		</div>
	</div>
	 
	<form name="custompageForm" ng-if="infra" role="form" class="form-horizontal" ng-submit="custompageForm.$valid" novalidate="novalidate"> 
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<button ng-if="infra && !headingDisabled" class="btn btn-default btn-primary" ng-click=	"addToObject(custompage, businessData.custompage, 'custompage')" ng-disabled="custompageForm.$invalid">Add Custom Details</button>
				
				<button ng-if="infra && headingDisabled" class="btn btn-default btn-info" ng-click="addToObject(custompage, businessData.custompage, 'custompage')">Edit Details</button>
				
				<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra')">
					<span ng-show="infra">Cancel</span>
				</button>
			</div>
		</div>
		

		<div class="form-group">
			<label for="customHeading" class="col-sm-3 control-label" name="customHeading" >Infrastucture Heading*</label>
			<div class="col-sm-9">
				<select class="form-control" name="customHeading" id="customHeading"  ng-model="custompage.heading" required ng-options="item as item for item in biz.custompage" ng-disabled="headingDisabled">
					<option value="">Select Heading</option>					
				</select>
				
				<span class="help-block" ng-show="custompageForm.customHeading.$dirty && custompageForm.customHeading.$invalid">
			<span ng-show="custompageForm.customHeading.$error.required" class="text-danger">Custom Details required.</span>
				</span>				
			</div>
		</div>	

		<div class="form-group">
			<label for="Desc" class="col-sm-3 control-label">Description*</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="Desc" name="Desc" ng-model="custompage.desc.description" cols="30" rows="4" ng-maxlength="1500" placeholder="Enter custompage Description" ui-tinymce required></textarea>
				<p ng-hide="custompageForm.Desc.$error.maxlength">
					{{ 1500 - custompage.desc.description.length + " Chars left" }}	
				</p>
				
				<span class="help-block" ng-show="custompageForm.Desc.$dirty && custompageForm.Desc.$invalid">
					<span class="text-danger" ng-show="custompageForm.Desc.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="custompageForm.Desc.$error.required" class="text-danger">custom details is required.</span>
				</span>	
			</div>
		</div>
		<div>
			<input type="hidden" name="custompage" ng-model="addbusiness.custompage" />
			<span class="help-block" ng-show="custompageForm.custompage.$dirty && custompageForm.custompage.$invalid">
				<span ng-show="custompageForm.custompage.$error.required" class="text-danger">Details is required.</span>
			</span>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-responsive " ng-if="businessData.custompage">
				<tr>
					<th>Custom Detail Heading</th>
					<th>Custom DetailDescription</th>
					<th>Remove</th>
				</tr>
				<tr ng-repeat="(key, value) in businessData.custompage">
					<td>{{key}}</td>
					<td class="tdwidth">
						<div class="pull-left" ng-bind-html="value.description"></div>
						<img class="pull-right" ng-src="{{appConfig.assetPath + '/' + value.image.file_relative_path}}" width="150px" />
					</td>
					<td>
						<button class="btn btn-success glyphicon glyphicon-pencil" ng-click="editObject(key,businessData.custompage, custompage); showForm('infra')" tooltip="Edit Details"></button>
						
						<button class="btn btn-warning glyphicon glyphicon-trash" ng-click="removeObject(key,businessData.custompage)" tooltip="Remove"></button>			
					</td>
				</tr>
			</table>
		</div>
	</div>
