<div class="row">	
	<div class="col-sm-12">
		<div class="main-content" ng-init="user_id = (userDetails.group_name == 'customer') ? userDetails.id : ''">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>	
			<div ng-if="userDetails.group_name != 'customer'" class="col-sm-2" ng-init="getCustomers()">
					<label for="featured" class="control-label">Select Customer</label>
						<select id="featured" class="form-control" ng-change="getProject(CurrentPage,user_id); changeUserId(user_id); getWebsitelist(user_id)" ng-model="user_id" ng-options="item.id as item.name for item in customerList | filter :{ group_name : 'customer' }">
							<option value="" selected>Select Customer</option>
						</select>
			</div>
			<span ng-if="userDetails.group_name == 'customer'" >
				<input type="hidden" ng-model="user_id" ng-init="getProject(CurrentPage,userDetails.id); getWebsitelist(user_id)"/>
			</span>	
			<div class="col-sm-2"> 
				<label class="control-label"> </label><br>
				<a href="#/dashboard/project/addproject" class="btn btn-primary" title="Add new project">Add New Project</a>
			</div>		
			<div ng-if="user_id" class="row bottom-space">
				<div class="col-sm-2"> 
					<label class="control-label" for="search">Search</label>		
					<div class="input-group">
						 <input type="text" class="form-control" id="search" ng-model="searchProper" ng-change="searchFilter('title', searchProper,user_id)" placeholder="search"/>
					</div>
				</div>			 				  
				<div class="col-sm-2">
					<label for="sort" class="control-label">Sort by Order</label>
					<select id="sort" class="form-control" ng-model="title"> 
						<option value="">Select Order</option>	
						<option value="-title">Desending</option>
						<option value="title">Asending</option>  
					</select>
				</div>
				<div class="col-sm-2">
					<label for="status" class="control-label">Filter By Status</label>
					<select id="status" class="form-control" 
					ng-change="changeStatus('status',showStatus,user_id)" ng-model="showStatus">
					<option value="">Select Status</option>	
						<option value="1">Active</option>
						<option value="0">Deleted</option>
					</select>
				</div>
				<div class="col-sm-2">
					<label for="featured" class="control-label">Filter By Featured</label>
						<select id="featured" class="form-control" ng-change="changeStatus('featured',showFeatured,user_id)" ng-model="showFeatured">
							<option value="" selected>Select Featured</option>
							<option value="1" >Featured</option>
							<option value="0">Not Featured</option> 
						</select>
				</div>
				<div class="col-sm-2">
					<label for="domain_name" class="control-label">Select Domain :</label>
					<select class="form-control" id="domain_name" name="domain_name" ng-change="searchFilter('domain',showDomain,user_id)" ng-model="showDomain" ng-required="true" ng-options="item.domain_name as item.domain_name for item in domains">
					  <option value="">Select Websites</option> 
					</select>
				</div>
			</div> 
			<h3 class="text-center"> Project Details</h3>
			<div class="row" ng-if="user_id">
				<div class="col-sm-12">
					<div class="table-responsive">
							<table class="table table-bordered ">
							<thead>
								<tr>
									<th>Sr.No.</th>
									<th>Image</th>
									<th>Project Title</th>
									<th>Project Details</th>
									<th>Other Domains</th>
									<th>Manage</th>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="x in projects | orderBy:title ">
									<td>{{((CurrentPage - 1) * pageItems) + $index + 1}}</td>
									<td class="col-sm-2">
									<div class="media-left">
									<div class="media-object text-center">
										<img class="imgwidths"  ng-model="x.imgkey" ng-src="{{appConfig.assetPath + x.project_images[x.imgkey].file_relative_path}}" ng-init="x.imgkey = 0"/>
										<span class="thumbs" ng-repeat="(key, value) in x.project_images">
											<img class="img-thumbnail" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="x.imgkey = key"/>
										</span>
									</div>
									</div>
									</td>
									<td>{{x.title}}</td>
									<td>
										<table class="table table-bordered table-responsive">
											<tr>
												<td>Created Date</td>
												<td>{{x.created_date}}</td>
											</tr>
											<tr>
												<td>Modified Date</td>
												<td>{{x.modified_date}}</td>
											</tr>
											<tr>
												<td>Category</td>
												<td>{{x.category}}</td>
											</tr>
											<tr>
												<td>Type</td>
												<td>{{x.type}}</td>		
											</tr>
											<tr>
												<td>Address</td>
												<td>{{x.location}}</td>
											</tr>
										</table>
									</td>	
									<td class="col-sm-2">
									<ul class="list-unstyled">
										<li ng-repeat="domain in domains">
											<label>
												<input type="checkbox" ng-change="domainUpdate(x.id, x.domain,user_id)" checklist-model="x.domain" checklist-value="domain"/ required>
													{{domain.domain_name}}
											</label>
										</li>
									</ul>
									</td>				
									<td class="col-sm-3">
									<button type="button" tooltip="{{dynamicTooltip(x.status, 'Delete This','Make It Active')}}" ng-class="(x.status==1) ? 'btn btn-success glyphicon glyphicon-ok' : 'btn btn-danger glyphicon glyphicon-remove'" ng-model="x.status" ng-change="deleted( x.id,x.status,user_id)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'">
									</button>
									
									<div class="btn-group">
										<button type="button" tooltip="{{dynamicTooltip(x.featured, ' Featured', 'Non Featured')}}" ng-class="(x.featured==1) ? 'btn btn-warning glyphicon glyphicon-star' : 'btn btn-danger glyphicon glyphicon-star-empty'" ng-model="x.featured" ng-change="feature(x.id, x.featured,user_id)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"></button>
									</div> 
									
									<div class="btn-group">
										<button type="button" tooltip="{{dynamicTooltip(x.verified, 'No Verify', 'Make Verify')}}" ng-class="(x.verified==1) ? 'btn btn-primary' : 'btn btn-warning'" ng-model="x.verified" ng-change="verify(x.id, x.verified,user_id)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'"><span class="glyphicon glyphicon-ok"></span></button>
									</div>
									
									<div class="btn-group">	
										<a class="btn btn-success" href="#/dashboard/project/addproject/{{x.id}}" tooltip="Edit Project Details">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									</div>										
									<div class="btn-group">	
										<a ng-click="open('modules/project/viewproject.html', x.id)" class="btn btn-primary glyphicon glyphicon-eye-open" tooltip="View Project Details"></a>
									</div>	
									</td>
								</tr>				
							</tbody>
						</table>
					</div>
				<div class="text-center">				
					<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="CurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getProject(CurrentPage,user_id,projectParam)"></pagination>
					<pre>Page: {{CurrentPage}} / {{numPages}}</pre>
				</div>	
				</div>
			</div>
		</div>		
	</div>
</div>