<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
	<div class="row">
	    <div class="col-sm-12">
			<h3 class="text-center">{{modalOptions.project.title}}</h3>		
			<div class="row">
			    <div class="col-sm-6">
					<table class="table table-hover table-responsive panel panel-default">
						<tr>
							<td ng-if="modalOptions.project.category"><b>Category </b></td>
							<td ng-if="modalOptions.project.category">						
								<p>{{modalOptions.project.category}}</p>
							</td>
						</tr>
						<tr>
							<td ng-if="modalOptions.project.type"><b>Type </b></td>
							<td ng-if="modalOptions.project.type">						
								<p>{{modalOptions.project.type}}</p>
							</td>
						</tr>
						<tr>
							<td ng-if="modalOptions.project.address"><b>Address</b></td>
							<td ng-if="modalOptions.project.address">						
								<p>{{modalOptions.project.address}}</p>
							</td>								 
						</tr>
						<tr>
							<td ng-if="modalOptions.project.other_domains"><b>Other Domains</b></td>
							<td ng-if="modalOptions.project.other_domains">						
								<p>{{modalOptions.project.other_domains}}</p>
							</td>								 
						</tr>
						<tr>
							<td><b>Location </b></td>
							<td>
								<p><b>Location :</b> {{modalOptions.project.location}}</p>
								<p><b>Area :</b> {{modalOptions.project.area}}</p>
								<p><b>City :</b>								
								{{modalOptions.project.city}}</p>
								<p><b>State :</b> {{modalOptions.project.state}}</p>
								<p><b>Country :</b> {{modalOptions.project.country}}</p>
								<p><b>Pincode :</b> {{modalOptions.project.pincode}}</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-sm-6">
					<div class="property-images">
						<img class="img-responsive" ng-model="modalOptions.project.imgkey" ng-src="{{appConfig.assetPath + modalOptions.project.project_images[modalOptions.project.imgkey].file_relative_path}}" ng-init="modalOptions.project.imgkey = 0"/>
							<span class="thumbs" ng-repeat="(key, value) in modalOptions.project.project_images">
								<img class="img-thumbnail imgpropwidth" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.project.imgkey = key"/>
							</span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Overview</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.project.overview.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.overview.description"></p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Specifications</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.project.specifications.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.specifications.description"></p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Location Map</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.location_map.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.location_map.description"></p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Layout Map</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.layout_map.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.layout_map.description"></p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Floor Plan</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.project.floor_plan.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.floor_plan.description"></p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Gallery</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.project.gallery.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.gallery.description"></p>
								<p><b>Image</b></p>
								<div class="property-images">
									<img class="img-responsive" ng-model="modalOptions.gallery.imgkey" ng-src="{{appConfig.assetPath + modalOptions.gallery.project_images[modalOptions.project.imgkey].file_relative_path}}" ng-init="modalOptions.gallery.imgkey = 0"/>
										<span class="thumbs" ng-repeat="(key, value) in modalOptions.gallery.image">
											<img class="img-thumbnail imgpropwidth" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.gallery.imgkey = key"/>
										</span>
								</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Amenities</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Title:</b>{{modalOptions.project.amenities.title}}</p>
								<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.amenities.description"></p>	
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title"><b>Contact Details</b></h3>
						</div>
						<div class="panel-body">
								<p><b>Contact Person:</b>{{modalOptions.project.contact_details.name}}</p>
								<p><b>Mobile:</b>{{modalOptions.project.contact_details.phone}}</p>
								<p><b>Email:</b>{{modalOptions.project.contact_details.email}}</p>
								<p><b>Contact Address:</b>{{modalOptions.project.contact_details.address}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

