<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
	<div class="row">
	    <div class="col-sm-12">
			<h3 class="text-center">{{modalOptions.project.title}}</h3>	
			<tabset>
			<tab heading="Project Info" title="Project Info">
			<div class="col-sm-12">
				<div class="col-sm-6">
				<h4><b>Information</b></h4>
				<table class="table table-hover table-responsive panel panel-default">
						<tr>
							<td ng-if="modalOptions.project.created_date"><b>Created Date </b></td>
							<td ng-if="modalOptions.project.created_date">						
								<p>{{modalOptions.project.created_date}}</p>
							</td>
						</tr>
						<tr>
							<td ng-if="modalOptions.project.modified_date"><b>Modified Date </b></td>
							<td ng-if="modalOptions.project.modified_date">						
								<p>{{modalOptions.project.modified_date}}</p>
							</td>
						</tr>
						<tr>
							<td ng-if="modalOptions.project.category"><b>category</b></td>
							<td ng-if="modalOptions.project.category">						
								<p>{{modalOptions.project.category}}</p>
							</td>
						</tr>
						<tr>
							<td ng-if="modalOptions.project.type"><b>Type </b></td>
							<td ng-if="modalOptions.project.type">						
								<p>{{modalOptions.project.type}}</p>
							</td>
						</tr>
				</table>
				</div>
				<div class="col-sm-6">
				<h4><b>Builder Details</b></h4>
				<table class="table table-hover table-responsive panel panel-default">
					<tr>
						<td ng-if="modalOptions.project.builder.builder_name"><b>Builder Name</b></td>
						<td ng-if="modalOptions.project.builder.builder_name">						
							<p>{{modalOptions.project.builder.builder_name}}</p>
						</td>
					</tr>
					<tr>
						<td ng-if="modalOptions.project.builder.owner_name"><b>Owner Name</b></td>
						<td ng-if="modalOptions.project.builder.owner_name">						
							<p>{{modalOptions.project.builder.owner_name}}</p>
						</td>
					</tr>
				</table>
				</div>
			</div>
			<div class="col-sm-12 well well-lg">
			<div class="property-images">
				<img class="img-responsive" ng-model="modalOptions.project.imgkey" ng-src="{{appConfig.assetPath + modalOptions.project.project_images[modalOptions.project.imgkey].file_relative_path}}" ng-init="modalOptions.project.imgkey = 0"/>
					<span class="thumbs" ng-repeat="(key, value) in modalOptions.project.project_images">
						<img class="img-thumbnail imgpropwidth" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="modalOptions.project.imgkey = key"/>
					</span>
			</div>
			</div>
			<div class="col-sm-12">
			<h4><b>Overview</b></h4>
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title"><b>Overview</b></h3>
					</div>
					<div class="panel-body">
							<p><b>Title:</b>{{modalOptions.project.overview.title}}</p>
							<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.overview.description"></p>
							
					</div>
				</div>
			</div>
			</tab>
			<tab heading="Location" title="Location">
				<h4><b>Location</b></h4>
				<table class="table table-hover table-responsive panel panel-default">
						<tr>
							<td ng-if="modalOptions.project.address"><b>Address</b></td>
							<td ng-if="modalOptions.project.address">						
								<p>{{modalOptions.project.address}}</p>
							</td>								 
						</tr>
						<tr>
							<td ng-if="modalOptions.project.other_domains"><b>Other Domains</b></td>
							<td ng-if="modalOptions.project.other_domains">						
								<p>{{modalOptions.project.other_domains}}</p>
							</td>								 
						</tr>
						<tr>
							<td><b>Location </b></td>
							<td>
								<p><b>Location :</b> {{modalOptions.project.location}}</p>
								<p><b>Area :</b> {{modalOptions.project.area}}</p>
								<p><b>City :</b>								
								{{modalOptions.project.city}}</p>
								<p><b>State :</b> {{modalOptions.project.state}}</p>
								<p><b>Country :</b> {{modalOptions.project.country}}</p>
								<p><b>Pincode :</b> {{modalOptions.project.pincode}}</p>
							</td>
						</tr>
				</table>
				<h4><b>Location Map</b></h4>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Location Map</b></h3>
					</div>
					<div class="panel-body" ng-repeat="x in modalOptions.project.location_map">
						<tr>
							<td><b>Title:</b>{{x.title}}</td>
							<td><p><b>Description:</b></p><p ng-bind-html="x.description"></p></td>
							<td>
								<div class="property-images">
									<img class="img-responsive" ng-src="{{appConfig.assetPath + x.image}}" />
								</div>
							</td>
						</tr>
					</div>
				</div>
			</tab>
			
			
			<tab heading="Specification" title="Specification">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Specifications</b></h3>
					</div>
					<div class="panel-body">
						<p><b>Title:</b>{{modalOptions.project.specifications.title}}</p>
						<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.specifications.description"></p>
					</div>
				</div>
				<h4><b>Amenities</b></h4>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Amenities</b></h3>
					</div>
					<div class="panel-body">
							<p><b>Title:</b>{{modalOptions.project.amenities.title}}</p>
							<p><b>Description:</b></p><p ng-bind-html="modalOptions.project.amenities.description"></p>	
					</div>
				</div>
			</tab>
			
			<tab heading="Layout Map" title="Layout Map">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title"><b>Layout Map</b></h3>
					</div>
					<div class="panel-body" ng-repeat="x in modalOptions.project.layout_map">
						<tr>
							<td><b>Title:</b>{{x.title}}</td>
							<td><p><b>Description:</b></p><p ng-bind-html="x.description"></p></td>
							<td>
								<div class="property-images">
									<img class="img-responsive" ng-src="{{appConfig.assetPath + x.image}}" />
								</div>
							</td>
						</tr>
					</div>
				</div>
			</tab>
			<tab heading="Floor Plan" title="Floor Plan">
			<div class="col-sm-12">
			<div class="panel panel-default">
				<h5 class="text-center border-bottom"><b>Floor Plan</b></h5>
				<div  ng-model="modalOptions.project.floor_plan">
					<div ng-repeat="value in modalOptions.project.floor_plan" >
						<div class="clearfix border-bottom infras">
								
								<div class="pull-right">
								<div class="btn-group">
								<button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed" tooltip="View Details">
									<span class="caret"></span></button>
								</div>
								</div>
								<p>{{value.title}}
								</p>
						</div>
							<div collapse="!isCollapsed">
								<div class="well well-lg clearfix">
								<img class="img-responsive" ng-src="{{appConfig.assetPath + value.image}}" width="150px" />
								<p ng-bind-html="value.description"></p>
								</div> 
							</div>
					</div>
					</div>
				</div>
			</div>
			</tab>
			<tab heading="Gallery" title="Gallery">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Gallery</b></h3>
					</div>
					<div class="panel-body" ng-repeat="x in modalOptions.project.gallery">
						<tr>
							<td><b>Title:</b>{{x.title}}</td>
							<td><p><b>Description:</b></p><p ng-bind-html="x.description"></p></td>
							<td>
								<div class="property-images">
									<img class="img-responsive" ng-src="{{appConfig.assetPath + x.image}}" />
								</div>
							</td>
						</tr>
					</div>
				</div>
			</tab>
			
			<tab heading="Contact Details" title="Contact Details">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Contact Details</b></h3>
					</div>
					<div class="panel-body">
						<p><b>Contact Person:</b>{{modalOptions.project.contact_details.name}}</p>
						<p><b>Mobile:</b>{{modalOptions.project.contact_details.phone}}</p>
						<p><b>Email:</b>{{modalOptions.project.contact_details.email}}</p>
						<p><b>Contact Address:</b>{{modalOptions.project.contact_details.address}}</p>
					</div>
				</div>
			</tab>
			</tabset>
		</div>
	</div>
</div>