<form class="form-horizontal" name="amenitiesForm" ng-submit="amenitiesForm.$valid" novalidate="novalidate">
<h3>Amenities</h3>	
<div>
	<input type="hidden" required name="amenities" ng-model="project.amenities" />
	<span class="help-block" ng-show="amenitiesForm.amenities.$dirty && amenitiesForm.amenities.$invalid">
		<span ng-show="amenitiesForm.amenities.$error.required" class="text-danger">Required Field.</span>
	</span>
</div>

<div class="form-group">
	<label  for="amenitiesTitle" class="col-sm-2 control-label">Title *</label>
	<div class="col-sm-9">
		<input type="text"  id="amenitiesTitle" class="form-control" name="amenitiesTitle" ng-model="project.amenities.title"  cols="20" rows="4" required />
			<span class="text-danger" ng-show="amenitiesForm.amenitiesTitle.$error.maxlength">
			Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="amenitiesForm.amenitiesTitle.$dirty && amenitiesForm.amenitiesTitle.$invalid">
				<span ng-show="amenitiesForm.amenitiesTitle.$error.required">Required Field</span>
	</div>
</div>

<div class="form-group"> 
	<label for="amenitiesDiscription" class="col-sm-2 control-label">Description *</label> 
	<div class="col-sm-9">
		<textarea class="form-control" id="amenitiesDiscription"  name="amenitiesDiscription" ng-model="project.amenities.description" cols="20" rows="4" ng-maxlength="5000" required ui-tinymce></textarea>
		<p ng-hide="amenitiesForm.amenitiesDiscription.$error.maxlength">{{ 5000 - project.amenities.description.length + " Chars left" }}</p>
		<span class="text-danger" ng-show="amenitiesForm.amenitiesDiscription.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
		<span class="text-danger" ng-show="amenitiesForm.amenitiesDiscription.$dirty && amenitiesForm.amenitiesDiscription.$invalid">
				<span ng-show="amenitiesForm.amenitiesDiscription.$error.required"> Required Field.</span>
		</span>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-9">
		<button type="submit" ng-if="project.id" ng-click="update(project)"  class="btn btn-success text-center ">Update Project</button>
		<button type="submit" class="btn btn-primary" ng-disabled="amenitiesForm.$invalid" ng-click="showFormPart('locationmap',1)">Next</button>
	</div>
</div>
</form>