<h3>Floor Plan</h3>	
	<div class="row">
		<div class="col-sm-12 text-right">
			<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra','floorplan')">Add Floor Plan</button>
		</div>
	</div>
<form ng-if="infra" class="form-horizontal" name="locationmapForm" ng-submit="layoutmapForm.$valid" novalidate="novalidate">
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<button ng-if="infra && !edit" class="btn btn-default btn-primary" ng-click=	"addToObject(floor_plan, project.floor_plan, 'floor_plan')" ng-disabled="locationmapForm.$invalid">Add Floor Plan</button>
			
			<button ng-if="infra && edit" class="btn btn-default btn-info" ng-click="addToObject(floor_plan, project.floor_plan, 'floor_plan')" title="Add floor_plan">Edit Details</button>
			
			<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra', 'floor_plan')">
				<span ng-show="infra">Cancel</span>
			</button>
		</div>
	</div>
		
	<div class="form-group">
		<label  for="LocationTitle" class="col-sm-2 control-label">Title *</label>
		<div class="col-sm-9">
			<input type="text"  id="LocationTitle" class="form-control" name="LocationTitle" ng-model="floor_plan.title"  cols="20" rows="4" required />
				 <span class="text-danger" ng-show="locationmapForm.LocationTitle.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="locationmapForm.LocationTitle.$dirty && locationmapForm.LocationTitle.$invalid">
				  <span ng-show="locationmapForm.LocationTitle.$error.required">Required Field.</span>
		</div>
	</div>

	<div class="form-group"> 
		<label for="LocDiscription" class="col-sm-2 control-label">Description *</label> 
		<div class="col-sm-9">
				<textarea class="form-control" id="LocDiscription"  name="LocDiscription" ng-model="floor_plan.description" cols="20" rows="4" ng-maxlength="1000" required></textarea>
			<p ng-hide="locationmapForm.LocDiscription.$error.maxlength">{{ 1000 - floor_plan.description.length + " Chars left" }}</p>
			 <span class="text-danger" ng-show="locationmapForm.LocDiscription.$error.maxlength">
					Sorry You are Exceeding the Limit</span>
			<span class="text-danger" ng-show="locationmapForm.LocDiscription.$dirty && locationmapForm.LocDiscription.$invalid">
					<span ng-show="locationmapForm.LocDiscription.$error.required">Required Field.</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="image" class="col-sm-2 control-label">Images</label>
		<div class="col-sm-9">
			<input type="file" id="image" name="image" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="upload(image,project.user_id + path,userinfo, 'floor_plan')" ng-model="image">
			<input type="hidden" ng-model="floor_plan.image">
		</div>
	</div>
	
	<div class="form-group">						 
		<div class="col-sm-9 col-sm-offset-2">
				<img ng-if="floor_plan.image" class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + floor_plan.image}}" ng-click="floor_plan.imgkey = key; "/>
		</div>
	</div>
</form>
		<div class="table-responsive">
			<table class="table table-bordered table-responsive">
				<tr>
					<th>Infrastucture Heading</th>
					<th>Infrastucture Description</th>
					<th>Remove </th>
				</tr>
				<tr ng-repeat="value in project.floor_plan">
					<td>{{value.title}}</td>
					<td class="tdwidth">
						<div class="pull-left" ng-bind-html="value.description"></div>
						<img class="pull-right" ng-src="{{appConfig.assetPath + '/' + value.image}}" width="150px" />
					</td>
					<td>
						<button class="btn btn-success glyphicon glyphicon-pencil" ng-click="editObject(value, 'floor_plan'); showForm('infra')" tooltip="Edit Details"></button>
						
						<button class="btn btn-warning glyphicon glyphicon-trash" ng-click="removeObject($index,project.floor_plan)" tooltip="Remove"></button>				
					</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
		<button type="submit" ng-if="project.id" ng-click="update(project)" class="btn btn-success text-center ">Update Project</button>
		<button type="submit" class="btn btn-primary" title="Save" ng-disabled="project.floor_plan.length <= 0" ng-click="showFormPart('gallery',1)">Next</button>
		</div>
		</div>