<form class="form-horizontal" name="layoutmapForm" ng-submit="layoutmapForm.$valid" novalidate="novalidate">
<h3>Layout Map</h3>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="button" class="btn btn-default btn-primary pull-right" ng-click="addToObject(layout_map, project.layout_map)" title="Add Layout map">Add Layout map</button>
	</div>
</div>

<div>
	<input type="hidden" required name="layout_map" ng-model="project.layout_map" />
	<span class="help-block" ng-show="layoutmapForm.layout_map.$dirty && layoutmapForm.layout_map.$invalid">
		<span ng-show="layoutmapForm.layout_map.$error.required" class="text-danger">location_map Description is required.</span>
	</span>
</div>

<div class="form-group">
	<label  for="layoutTitle" class="col-sm-2 control-label">Title *</label>
	<div class="col-sm-9">		
		<input type="text"  id="layoutTitle" class="form-control" name="layoutTitle" ng-model="project.layout_map.title"    cols="20" rows="4" required />
			 <span class="text-danger" ng-show="layoutmapForm.layoutTitle.$error.maxlength">
			Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="layoutmapForm.layoutTitle.$dirty && layoutmapForm.layoutTitle.$invalid">
			  <span ng-show="layoutmapForm.layoutTitle.$error.required"> title is required .</span>
	</div>
</div>

<div class="form-group">
	<label for="layout_image" class="col-sm-2 control-label">Layout Image *</label>
	<div class="col-sm-9">
			<input type="file" id="layout_image" name="layout_image" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="layout_image">	
		<!-- This will show thumbnails & progress of images -->
			<file-preview url="layout_image"></file-preview>
			<!-- This button will show if file/s selected -->
			<button ng-show="layout_image" ng-click="upload(layout_image,path,userinfo, layout_map.description.layout_image)" type="button">Upload</button>
			<!-- This hidden input will store image path in array after successful uploading -->
			<input type="hidden" ng-model="project.layout_map.description.image">
	</div>
</div>	

<div class="form-group"> 
	<label for="layoutDiscription" class="col-sm-2 control-label">Description *</label> 
	<div class="col-sm-9">
			<textarea class="form-control" id="layoutDiscription"  name="layoutDiscription" ng-model="project.layout_map.description" cols="20" rows="4" ng-maxlength="500" required ></textarea>
		<p ng-hide="layoutmapForm.layoutDiscription.$error.maxlength">{{ 500 - project.layout_map.description.length + " Chars left" }}</p>
		 <span class="text-danger" ng-show="layoutmapForm.layoutDiscription.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
		<span class="text-danger" ng-show="layoutmapForm.layoutDiscription.$dirty && layoutmapForm.layoutDiscription.$invalid">
				<span ng-show="layoutmapForm.layoutDiscription.$error.required"> Description is required .</span>
		</span>
	</div>
</div>	

<button type="submit" class="col-sm-offset-2 btn btn-primary" title="Save" ng-disabled="layoutmapForm.$invalid" ng-click="showFormPart('floorplan',1)">Next</button>

	<div class="table-responsive">{{project.layout_map}}
		<table class="table table-bordered " >
			<tr>
				<th>Layout Map Heading</th>
				<th>Layout Map Description</th>
				<th>Layout Map Image</th>
				<th>Remove </th>
			</tr>
			<tr ng-model="project.layout_map">
				<td>{{project.layout_map.title}}</td>
				<td>{{project.layout_map.description}}</td>
				<td>
					<img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + project.layout_map.image.file_relative_path}}" width="150px" />
				</td> 
				<td><button ng-click="removeObject(key,project.layout_map)">Remove</button></td>
			</tr>
		</table>
	</div>

</form>