<form class="form-horizontal" name="locationForm" ng-submit="locationForm.$valid" novalidate="novalidate">
 <h3>Project Location:</h3>		
		<div class="form-group">
			<label for="address" class="col-sm-2 control-label">Address *</label>
			<div class="col-sm-9">
				<textarea type="text" id="address" class="form-control" name="address" ng-model="project.address" cols="30" rows="4" ng-maxlength="160" required></textarea>
				<p ng-hide="locationForm.address.$error.maxlength">{{ 160 - project.address.length + " Chars left" }}</p>
				 <span class="text-danger" ng-show="addProperty.address.$error.maxlength">
					Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="addProperty.address.$dirty && addProperty.address.$invalid">
				  <span ng-show="addProperty.address.$error.required">Required Field.</span>	 
			</div>				
	  </div>
	  
	<script type="text/ng-template" id="customTemplate.html">
		<a>
			<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
			<span><small> ({{match.model.area}} - {{match.model.pincode}})</small></span>
		</a>
	</script>
<div class="form-group">
	<label for="location" class="col-sm-2 control-label">Location*</label>
	<div class="col-sm-9">
		<input typeahead-template-url="customTemplate.html" type="text" required name="location" id="location" ng-model="project.location" typeahead-on-select="getData($item)" placeholder="Location" typeahead="address.location for address in getTypeaheadData('locations','location', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control" autocomplete="off">
		<i ng-show="locationLoading" class="glyphicon glyphicon-refresh"></i>
	</div>						
</div>
<div class="form-group">
	<label for="area" class="col-sm-2 control-label">Area</label>
	<div class="col-sm-9">
		<input ng-disabled="readOnly" type="text" id="area" name="area" class="form-control" ng-model="project.area" placeholder="Enter area">
	</div>						
</div>			
<div class="form-group">
	
	<label for="state" class="col-sm-2 control-label">City</label>
	<div class="col-sm-4">
		<input type="text" required name="City" id="City" ng-model="project.city" placeholder="Enter Your City"  ng-disabled="readOnly" class="form-control" autocomplete="off">	
		<i ng-show="cityLoading" class="glyphicon glyphicon-refresh"></i>	
	</div>
	
	<label for="state" class="col-sm-1 control-label">State</label>
	<div class="col-sm-4">
	<input ng-disabled="readOnly" type="text" id="state" name="state" class="form-control" ng-model="project.state" placeholder="Enter state">	
	</div>
</div>
<div class="form-group">
	<label for="Country" class="col-sm-2 control-label">Country</label>
	<div class="col-sm-4">
		<input type="text" required name="Country" id="Country" ng-model="project.country" placeholder="Enter Your Country" ng-disabled="readOnly" class="form-control" autocomplete="off">			
	</div>
	<label for="pincode" class="col-sm-1 control-label">Pin Code</label>
	<div class="col-sm-4">
		<input ng-disabled="readOnly" type="text" id="pincode" name="pincode" class="form-control" ng-model="project.pincode" placeholder="Enter Pin Code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6"  ng-minlength="6">
	</div>		
</div>
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-9">
		<button type="submit" ng-if="project.id" ng-click="update(project)" class="btn btn-success text-center ">Update Project</button>				
		<button type="button" class="btn btn-primary" title="Save" ng-disabled="locationForm.$invalid" ng-click="showFormPart('specification',1)">Next</button>
	</div>
	</div>
</form>