<form class="form-horizontal" name="projectForm" ng-submit="projectForm.$valid" novalidate="novalidate">
<h3>Project Information</h3>
	<div class="form-group" ng-if="userDetails.group_name != 'customer'" ng-init="getUsers()">
		<label for="customer" class="col-sm-2 control-label">Customer *</label>
		<div class="col-sm-7">
				<select class="form-control" name="customer" id="customer" ng-model="project.user_id" ng-change="getWebsite(project.user_id)" ng-options="item.id as item.name for item in customerList | filter: { group_name : 'customer'} " required>
					<option value="">Select Customer</option>
				</select>
			<span class="help-block" ng-show="projectForm.customer.$dirty && projectForm.customer.$invalid">
				<span ng-show="projectForm.customer.$error.required" class="text-danger">Required Field.</span>
			</span>	
		</div>
		<div class="col-sm-3">
			<a href="#/dashboard/users/adduser" class="btn btn-default">Add New User</a>
		</div> 
	</div>
	<span ng-if="userDetails.group_name == 'customer'">
		<input type="hidden" class="form-control" ng-model="project.user_id"  ng-init="project.user_id = userDetails.id" readonly/>
	</span> 
	
	<div class="form-group">
		<label  for="projectTitle" class="col-sm-2 control-label">Project Title *</label>
		<div class="col-sm-9">		
			<input type="text" id="projectTitle" class="form-control" name="projectTitle" ng-model="project.title" cols="20" rows="4" required />
				<span class="text-danger" ng-show="projectForm.projectTitle.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="projectForm.projectTitle.$dirty && projectForm.projectTitle.$invalid">
				<span ng-show="projectForm.projectTitle.$error.required">Required Field.</span>
		</div>
		<input type="hidden" ng-model="project.status">
		<input type="hidden" ng-model="project.date">
	</div>
	
	<div class="form-group">
		<label for="Category" class="col-sm-2 control-label">Category *</label>
		<div class="col-sm-4">
			<select class="form-control" id="Category" name="Category" ng-model="project.category" required ng-change="getTypes(project.category)" ng-options="item.category_name as item.category_name for item in projectConfig.category">	
				<option value="">Select Category</option>
			</select>
			<span class="help-block" ng-show="projectForm.Category.$dirty && projectForm.Category.$invalid">
				<span class="text-danger" ng-show="projectForm.Category.$error.required">Required Field.</span>
			</span>				
		</div>
		<label for="projectType" ng-if="project.category" class="col-sm-1 control-label">* Type</label>
			<div class="col-sm-4">
				<select class="form-control" ng-if="project.category"id="projectType" name="projectType" ng-model="project.type" required ng-options="item.type as item.type for item in projectConfig.types | filter : {'category_name' : project.category}">	{{item.types}}	
					<option value="">Select Project Type</option>
				</select>
				<span class="help-block" ng-show="projectForm.projectType.$dirty && projectForm.projectType.$invalid">
					<span class="text-danger" ng-show="projectForm.projectType.$error.required">Required Field.</span>
				</span>				
			</div>				
	</div>
	
	<div class="form-group">
		<label  for="projectsubtitle" class="col-sm-2 control-label">Project Sub Title *</label>
		<div class="col-sm-9">		
			<input type="text" id="projectsubtitle" class="form-control" name="projectsubtitle" ng-model="project.overview.projectsubtitle" cols="20" rows="4" required />
				<span class="text-danger" ng-show="projectForm.projectsubtitle.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="projectForm.projectsubtitle.$dirty && projectForm.projectsubtitle.$invalid">
				<span ng-show="projectForm.projectsubtitle.$error.required">Required Field.</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="buildup_area" class="col-sm-2 control-label">Built Up Area * </label>
		<div class="col-sm-6">
			<input type="text" id="buildup_area" class="form-control help-block" name="buildup_area" ng-model="project.project_info.buildup_area" required>
			
		<!-- 	<span ng-show="projectForm.buildup_area.$error.pattern && (projectForm.buildup_area.$dirty)" class="text-danger">Enter only no!</span> -->
			<span class="text-danger" ng-show="projectForm.buildup_area.$dirty && projectForm.buildup_area.$invalid">
			  <span ng-show="projectForm.buildup_area.$error.required">Required Field.</span>
			</span>	
		</div>							
		<div class="col-sm-3">
			<select class="form-control" name="build_unit" ng-model="project.project_info.build_unit"  title="" required >
				<option selected value="">Unit Area</option>
				<option value="Sq.Ft">Sq. Feet</option>
				<option value="Cent">Cent</option>
				<option value="Yard">Sq. Yard</option>
				<option value="Acres">Acres</option>
			</select>
			<span class="text-danger" ng-show="projectForm.build_unit.$dirty && projectForm.build_unit.$invalid">
				<span ng-show="projectForm.build_unit.$error.required">Required Field.</span>
			</span>				 
		</div>
	</div>
	
	<div class="form-group">
		<label for="land_area" class="col-sm-2 control-label ">Plot/ Land Area * </label>
		<div class="col-sm-6">
			<input type="text" id="land_area" class="form-control" name="land_area" ng-model="project.project_info.land_area"  ng-pattern="/^\d{0,9}[0-9]$/" required>
			<span class="text-danger" ng-show="projectForm.land_area.$error.pattern && (projectForm.land_area.$dirty)" class="help-block">Enter only no.</span>
			<span class="text-danger" ng-show="projectForm.land_area.$dirty && projectForm.land_area.$invalid">
			  <span ng-show="projectForm.land_area.$error.required">Required Field.</span>
			</span>	
		</div>
		<div class="col-sm-3">
			<select class="form-control" name="built" ng-model="project.project_info.land_unit" required>
				<option selected value="">Unit Area</option>
				<option value="Feet">Sq.Feet</option>
				<option value="Cent">Cent</option>
				<option value="Yard">Sq.Yard</option>	
				<option value="Acres">Acres</option>
			</select>
			<span class="text-danger" ng-show="projectForm.built.$dirty && projectForm.built.$invalid">
				<span ng-show="projectForm.built.$error.required">Required Field.</span>
			</span>					 
		</div>				
	</div>	
	
	<div class="form-group">
		<label for="carpet_area" class="col-sm-2 control-label">Carpet Area </label>
		<div class="col-sm-6">
			<input type="text" id="carpet_area" class="form-control" name="carpet_area" ng-model="project.project_info.carpet_area"  required>
			<!-- <span class="text-danger" ng-show="projectForm.carpet_area.$error.pattern && (projectForm.carpet_area.$dirty)" class="help-block">Enter only no.</span> -->
			<span class="text-danger" ng-show="projectForm.carpet_area.$dirty && projectForm.carpet_area.$invalid">
				<span ng-show="projectForm.carpet_area.$error.required">Required Field.</span>
			</span>		
		</div>
		<div class="col-sm-3">
			<select class="form-control" name="builted" ng-model="project.project_info.carpet_unit" required>
				<option selected value="">Unit Area</option>
					<option value="Feet">Sq. Feet</option>
					<option value="Cent">Cent</option>
					<option value="Yard">Sq. Yard</option>
					<option value="Acres">Acres</option>
			</select>
			<span class="text-danger" ng-show="projectForm.builted.$dirty && projectForm.builted.$invalid">
				<span ng-show="projectForm.builted.$error.required">Required Field.</span>
			</span>	
					 
		</div>				
	</div>
	
	<div class="form-group">
		<label for="price" class="col-sm-2 control-label"> Price </label>
		<div class="col-sm-9">
			<input type="text" id="price" class="form-control" name="price" ng-model="project.price"  />
			<span class="text-danger" ng-show="projectForm.price.$dirty && projectForm.price.$invalid">
				<span ng-show="projectForm.price.$error.required">Required Field.</span>
			</span>		
		</div>
	</div>
	
	<div class="form-group"> 
		<label for="featured" class="col-sm-2 control-label">Featured *</label> 
		<div class="col-sm-4">
			<label class="radio-inline" >
				<input type="radio" name="featured" id="yes" value="1"   ng-model="project.featured" checked> Yes
			</label>
			<label class="radio-inline" ng-model="project.featured">
				<input type="radio" name="featured" id="no" value="0" ng-model="project.featured"> No
			</label>										
		</div>
		<label for="project_images" class="col-sm-2 control-label">Project Images</label>
			<input type="file" id="project_images" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="uploadMultiple(project_images,project.user_id + path,userinfo,project)" ng-model="project_images">
			<input type="hidden" ng-model="project.project_images">
	</div>
	
	<div class="form-group">						 
		<div class="col-sm-4 col-sm-offset-8">
			<span class="thumbs" ng-repeat="(key, value) in project.project_images">
				<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + value.file_relative_path}}" ng-click="project.imgkey = key; "/>
				<span class="close" ng-click="removeImg(key, project.project_images)">X</span>
			</span>
		</div>
	</div>			

	<div class="form-group">
		<label for="builderName" class="col-sm-2 control-label">Builder Name *</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="builderName" name="builderName" ng-model="project.builder.builder_name" required>
				<span class="text-danger" ng-show="projectForm.builderName.$dirty && projectForm.builderName.$invalid">
				<span ng-show="projectForm.builderName.$error.required">Required Field.</span>
				</span>
			</div>	
		
		<label for="builder_photo" class="col-sm-2 control-label">Builder Photo</label>
			<input type="file" id="builder_photo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change= "uploads($files, project.user_id + path,userinfo,'builder_photo')" ng-model="builder_photo">
			<input type="hidden" ng-model="project.builder.builder_photo">
	</div>
	
	<div class="form-group">						 
		<div class="col-sm-4 col-sm-offset-8">
			<span class="thumbs" ng-if="project.builder.builder_photo">
				<img class="img-thumbnail" width="40px" ng-src="{{project.builder.builder_photo.file_relative_path}}" ng-click="project.imgkey = key; "/>
			</span>
		</div>
	</div>			
	
	<div class="form-group">
		<label for="OwnerName" class="col-sm-2 control-label">Owner Name *</label>
			<div class="col-sm-4">
				<input type="text"  class="form-control" id="OwnerName" name="OwnerName" ng-model="project.builder.owner_name" required>
					<span class="text-danger" ng-show="projectForm.OwnerName.$dirty && projectForm.OwnerName.$invalid">
					<span ng-show="projectForm.OwnerName.$error.required">Required Field.</span>
					</span>
			</div>
			<label for="owner_photo" class="col-sm-2 control-label">Owner Photo</label>
			<input type="file" id="owner_photo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change= "uploads($files, project.user_id + path,userinfo,'owner_photo')" ng-model="owner_photo">
			<input type="hidden" ng-model="project.builder.owner_photo">
	</div>
	
	<div class="form-group">						 
		<div class="col-sm-4 col-sm-offset-8">
			<span class="thumbs" ng-if="project.builder.owner_photo">
				<img class="img-thumbnail" width="40px" ng-src="{{project.builder.owner_photo.file_relative_path}}" ng-click="project.imgkey = key; "/>
			</span>
		</div>
	</div>			
		
	<h3>SEO</h3>
	<div class="form-group">
		<label  for="seo" class="col-sm-2 control-label">Title*</label>
		<div class="col-sm-9">
			<input type="text" id="seo" class="form-control" name="seo" placeholder="SEO Title" ng-model="project.seo.title" required>
			<span class="help-block" ng-show="projectForm.seo.$dirty && projectForm.seo.$invalid">
				<span ng-show="projectForm.seo.$error.required" class="text-danger">Required Field.</span>
			</span>
		</div>						
	</div>
	
	<div class="form-group">
		<label for="keywords" class="col-sm-2 control-label">Keywords*</label>
		<div class="col-sm-9">
			<input type="text" id="keywords" class="form-control" name="keywords" placeholder="SEO Keywords" ng-model="project.seo.keywords" required>
			<span class="help-block" ng-show="projectForm.keywords.$dirty && projectForm.keywords.$invalid">
				<span ng-show="projectForm.keywords.$error.required" class="text-danger">Required Field.</span>
			</span>
		</div>
	</div> 
	
	<div class="form-group"> 
		<label for="seoDescription" class="col-sm-2 control-label">Description *</label> 
			<div class="col-sm-9">
			<textarea class="form-control" id="seoDescription"  name="seoDescription" ng-model="project.seo.description" cols="20" rows="4" ng-maxlength="5000" required></textarea>
				<p ng-hide="projectForm.seoDescription.$error.maxlength">{{ 5000 - addimage.description.description.length + " Chars left" }}</p>
					<span class="text-danger" ng-show="projectForm.seoDescription.$error.maxlength">
					Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="projectForm.seoDescription.$dirty && projectForm.seoDescription.$invalid">
					<span ng-show="projectForm.seoDescription.$error.required">Required Field.</span>
					</span>
			</div>
			<input type="hidden" required name="project_images" ng-model="project.project_images" />
				<span class="help-block" ng-show="projectForm.project_images.$dirty && projectForm.project_images.$invalid">
				<span ng-show="projectForm.project_images.$error.required" class="text-danger">Required Field.</span>
				</span>
	</div>
	
	<div class="form-group" ng-if="project.user_id" >
		<div class="col-sm-12" ng-init="getWebsite(project.user_id)">
			<h3>Select Sites</h3>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<td class="checkbox">
							<label>
								<input type="checkbox" ng-model="selectAll" ng-change="checkAll(websites, selectAll)" /> Select all
							</label> 
						</td>
						<td class="checkbox clearfix">
							<label ng-repeat="website in websites" class="col-sm-3">
								<input type="checkbox" checklist-model="project.domain" checklist-value="website"> {{website.domain_name}}
							</label>
						</td> 
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" ng-if="project.id" ng-click="update(project)" class="btn btn-success btn text-center ">Update Project</button>
			<button type="submit" class="btn btn-primary" ng-disabled="projectForm.$invalid" ng-click="showFormPart('overview',1)">Next</button>
		</div>
	</div>
</form>