<form class="form-horizontal" name="specificationForm" ng-submit="overviewForm.$valid" novalidate="novalidate">
<h3>Specification</h3>	
<div>
	<input type="hidden" required name="specifications" ng-model="project.specifications" />
	<span class="help-block" ng-show="specificationForm.specifications.$dirty && specificationForm.specifications.$invalid">
		<span ng-show="specificationForm.specifications.$error.required" class="text-danger">Specifications Description is required.</span>
	</span>
</div>

<div class="form-group">
	<label  for="specificationTitle" class="col-sm-2 control-label">Title *</label>
	<div class="col-sm-9">
		<input type="text" id="specificationTitle" class="form-control" name="specificationTitle" ng-model="project.specifications.title" cols="20" rows="4" required />
			 <span class="text-danger" ng-show="specificationForm.specificationTitle.$error.maxlength">
			Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="specificationForm.specificationTitle.$dirty && specificationForm.specificationTitle.$invalid">
			  <span ng-show="specificationForm.specificationTitle.$error.required">Title is required .</span>
	</div>
</div>

<div class="form-group"> 
	<label for="specDiscription" class="col-sm-2 control-label">Description *</label> 
	<div class="col-sm-9">
			<textarea class="form-control" id="specDiscription"  name="specDiscription" ng-model="project.specifications.description" cols="20" rows="4" ng-maxlength="2500" required ui-tinymce></textarea>
		<p ng-hide="specificationForm.specDiscription.$error.maxlength">{{ 2500 - project.specifications.description.length + " Chars left" }}</p>
		 <span class="text-danger" ng-show="specificationForm.specDiscription.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
		<span class="text-danger" ng-show="specificationForm.specDiscription.$dirty && specificationForm.specDiscription.$invalid">
				<span ng-show="specificationForm.specDiscription.$error.required"> Description is required .</span>
		</span>
	</div>
</div>	
	<button type="submit" class="col-sm-offset-2 btn btn-primary" ng-disabled="specificationForm.$invalid" ng-click="showFormPart('amenities',1)">Next</button>
</form>