<h3>Specification</h3>
<div>
	<input type="hidden" required name="specification" ng-model="project.specifications" />
	<span class="help-block" ng-show="addProject.specification.$dirty && addProject.specification.$invalid">
		<span ng-show="addProject.specification.$error.required" class="text-danger">Specification Description is required.</span>
	</span>
</div>
<div class="form-group">
	<label  for="specificationTitle" class="col-sm-2 control-label">* Title</label>
	<div class="col-sm-9">		
		<input type="text"  id="specificationTitle" class="form-control" name="specificationTitle" ng-model="project.specifications.title"    cols="20" rows="4" ng-maxlength="356" required />
		<p ng-hide="addProject.specificationTitle.$error.maxlength">{{ 356 - specifications.title + " Chars left" }}</p>
			<span class="text-danger" ng-show="addProject.specificationTitle.$error.maxlength">
			Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="addProject.specificationTitle.$dirty && addProject.title.$invalid">
			  <span ng-show="addProject.specificationTitle.$error.required"> title is required .</span>
	</div>
</div>
<div class="form-group"> 
	<label for="specificationDiscription" class="col-sm-2 control-label">* Description</label> 
	<div class="col-sm-9">
			<textarea class="form-control" id="specificationDiscription"  name="specificationDiscription" ng-model="project.specifications.description" cols="20" rows="4" ng-maxlength="356" required ui-tinymce ></textarea>
		<p ng-hide="addProject.specificationDiscription.$error.maxlength">{{ 356 - specifications.description.description.length + " Chars left" }}</p>
		 <span class="text-danger" ng-show="addProject.specificationDiscription.$error.maxlength">
				Sorry You are Exceeding the Limit</span>
		<span class="text-danger" ng-show="addProject.specificationDiscription.$dirty && addProject.specificationDiscription.$invalid">
				<span ng-show="addProject.specificationDiscription.$error.required"> Discription is required .</span>
		</span>
	</div>
</div>	

<div class="col-sm-12">
	<div class="table-responsive">
		<table class="table table-bordered " ng-if="project.specifications.details">
			<tr>
				<th>Specification Title</th>
				<th>Specification Description</th>
				<th>Remove </th>
			</tr>
			<tr ng-repeat="(key, value) in project.specifications.details">
				<td>{{key}}</td>
				<td>{{value}}</td>
				<td><button ng-click="removeObject(key,project.specifications.details)">Remove</button></td>
				
			</tr>
		</table>
	</div>
</div>