	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : #421266;
	@lightcolor : #B478E6;
	@darkcolor : #18012B;
	@back : #8FB902;
	@darkbackcolor : #4A5F0A;
	@lightbackcolor :#A1C31A; 
	@colorblack : #02071A;
	@colorwhite	: #fff;
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
		section
		{
			margin-left:250px !important;

		}
		section>div:nth-child(1)
		 {
		 background-image: url('../img/m1.png');
		 background-size: cover;
		 border-radius:50%;
		 float:left;
		 height:100px;
		 width:100px;
		 position:relative;
		 left:100px;
		 top:50px;
		 }
		section>div:nth-child(1):hover
		 {
			height:150px;
			width:150px;
			transition: height 1s, width 1s, top 1s;
			top:0px;
		 }
		 .d2
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .d3
		 {
			height:110px !important;
			width:110px  !important;
			transition: height 1s, width 1s, top 1s;
			top:40px !important;
		 }
		 
		 section>div:nth-child(2)
		 {
		 background-image: url('../img/m2.png');
		 background-size: cover;
		 border-radius:50%;
		 float:left;
		 height:100px;
		 width:100px;
		 position:relative;
		 left:100px;
		 top:50px;
		 
		 }
		section>div:nth-child(2):hover
		 {
			height:150px;
			width:150px;
			transition: height 1s, width 1s, top 1s;
			top:0px;
		 }
		 .e1
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .e3
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .e4
		 {
			height:110px !important;
			width:110px  !important;
			transition: height 1s, width 1s, top 1s;
			top:40px !important;
		 }
		 
		section>div:nth-child(3)
		 {
		 background-image: url('../img/m3.jpg');
		 background-size: cover;
		 border-radius:50%;
		  float:left;
		 height:100px;
		 width:100px;
		 position:relative;
		 left:100px;
		 top:50px;
		 
		 }
		section>div:nth-child(3):hover
		 {
			height:150px;
			width:150px;
			transition: height 1s, width 1s, top 1s;
			top:0px;
		 }
		 .f2
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .f4
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		section>div:nth-child(4)
		 {
		 background-image: url('../img/m4.png');
		 background-size: cover;
		 border-radius:50%;
		 float:left;
		 height:100px;
		 width:100px;
		 position:relative;
		 left:100px;
		 top:50px;
		 
		 }
		section>div:nth-child(4):hover
		 {
			height:150px;
			width:150px;
			transition: height 1s, width 1s, top 1s;
			top:0px;
		 }
		 .g3
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .g5
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .g2
		 {
			height:110px !important;
			width:110px  !important;
			transition: height 1s, width 1s, top 1s;
			top:40px !important;
		 }
		 
		section>div:nth-child(5)
		 {
		background-image: url('../img/m5.png');
		 background-size: cover;
		 border-radius:50%;
		float: left;
		 height:100px;
		 width:100px;
		 position:relative;
		 left:100px;
		 top:50px;
		 
		 }
		section>div:nth-child(5):hover
		 {
			height:150px;
			width:150px;
			transition: height 1s, width 1s, top 1s;
			top:0px;
		 }
		 .h4
		 {
			height:130px !important;
			width:130px  !important;
			transition: height 1s, width 1s, top 1s;
			top:25px !important;
		 }
		 .h3
		 {
			height:110px !important;
			width:110px  !important;
			transition: height 1s, width 1s, top 1s;
			top:30px !important;
		 }

.m1{
	left:350px !important;
	top:0px !important;
	-webkit-animation-name: m1 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m1{
	0%{left:25%;top:0%}
	50%{left:615px;top:280px;transform:rotate(360deg)}
	100%{}
}
.m2{
	left:350px !important;
	top:0px !important;
	-webkit-animation-name: m2 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m2{
	0%{left:35%;top:37%}
	50%{left:615px;top:280px;transform:rotate(360deg)}
	100%{}
}
.m3{
	left:350px !important;
	top:0px !important;
	-webkit-animation-name: m3 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m3{
	0%{left:47%;top:75%}
	50%{left:615px;top:280px;transform:rotate(360deg)}
	100%{}
}
.m4{
	left:350px !important;
	top:0px !important;
	-webkit-animation-name: m4 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m4{
	0%{left:57%;top:37%}
	50%{left:615px;top:280px;transform:rotate(360deg)}
	100%{}
}
.m5{
	left:350px !important;
	top:0px !important;
	-webkit-animation-name: m5 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-iteration-count: 1 !important;
	
}
@-webkit-keyframes m5{
	0%{left:67%;top:0%}
	50%{left:615px;top:280px;transform:rotate(360deg)}
	100%{}
}
.m11{
	
	-webkit-animation-name: m11 !important;
	-webkit-animation-duration: 2s !important;
	-webkit-animation-direction: reverse !important;
	-webkit-animation-iteration-count: 1 !important;
}
@-webkit-keyframes m11{
	0%{}
	50%{left:615px;top:280px;transform:rotate(360deg)}
	100%{left:350px;top:0px}
}
	
	body{
		
		color:white !important;
		background-image: url("../img/back3.jpg");
		background-size: 100%;
		}
	h1,h2,h3,h4,h5,h6
	{
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	}
	nav>div>div>img {
		 
		 width:33%;
		 position:absolute;
		 left:33%;
		 top:0%;
	}
	.navbar-nav>.active>a:hover
	{
		background-color: transparent !important;
	}
	.navbar-default .navbar-nav>.active>a:focus{background-color:transparent;}
	.navbar-default{
		background: transparent;
		border:none;
		height: 400px;
						
		.navbar-nav{
			>ul{
				width: 100%;
				height:440px;
			}
			
			>li:hover{
					transform: rotateZ(360deg);
					transition: transform 1s;
					text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
				}
			>li {
					border: 5px solid white;
					border-radius:50%;
					-webkit-animation-name: li;
					-webkit-animation-duration: 2s;
					-webkit-animation-iteration-count: 1;
				>ul{display:none;}
				&:nth-child(1)
				{
					position: absolute;
					left:25%;
					top:0%;
				}
				&:nth-child(1)>a{
					
					background-image: url('../img/i1.png');
					background-size: 100%;
					padding:6% 0% 0% 2%;
					height:120px;
					width:120px;
					overflow: auto;
					text-indent: -9999px;
					background-color: transparent;
					
				}
				&:nth-child(2)
				{
					position: absolute;
					left:35%;
					top:37%;
				}
				&:nth-child(2)>a{
					
					background-image: url('../img/i2.png');
					background-size: 100%;
					padding:7% 0% 0% 2%;
					height:120px;
					width:120px;
					overflow: auto;
					text-indent: -9999px;
				    background-color: transparent;
					}
				&:nth-child(3)
				{
					position: absolute;
					left:47%;
					top:75%;
					z-index:5;
				}
				&:nth-child(3)>a{
					
					background-image: url('../img/i3.png');
					background-size: 100%;
					padding:10% 0% 0% 7%;
					height:120px;
					width:120px;
					overflow: auto;
					text-indent: -9999px;
				    background-color: transparent;
					}
				&:nth-child(4)
				{
					position: absolute;
					left:57%;
					top:37%;
				}
				&:nth-child(4)>a{
					
					background-image: url('../img/i4.png');
					background-size: 100%;
					padding:7% 0% 0% 3%;
					height:120px;
					width:120px;
					overflow: auto;
					text-indent: -9999px;
				    background-color: transparent;
					}
				&:nth-child(5)
				{
					position:absolute;
					left:67%;
					top:0%;
				}
				&:nth-child(5)>a{
					
					background-image: url('../img/i5.png');
					background-size: 100%;
					padding:6% 0% 5% 0%;
					height:120px;
					width:120px;
					overflow: auto;
					text-indent: -9999px;
				    background-color: transparent;

				}
		}
		@-webkit-keyframes li
		{
			0%{left:0px;top:0px}
			50%{left:47%;top:75%}
			100%{transform:rotateY(1440deg)}
		}
	}
}
#about{
	display:none;
	background-color: rgba(0,0,0,0.65);
    padding: 15px;
    text-align: justify;
}
.about{
	display:block !important;
	-webkit-animation-name:up;
	-webkit-animation-duration:2s;
}
@-webkit-keyframes up{
	0%{position:relative;top:1500px;}
	100%{position:relative;top:0px;}
}	
#service{
	display:none;
	background-color: rgba(0,0,0,0.65);
    padding: 15px;
    text-align: justify;
}
.service{
	display:block !important;
	-webkit-animation-name:up;
	-webkit-animation-duration:2s;
}
#contact{
	display:none;
	background-color: rgba(0,0,0,0.65);
    padding: 15px;
    text-align: justify;
}
.contact{
	display:block !important;
	-webkit-animation-name:up;
	-webkit-animation-duration:2s;
	}