
{% autoescape false %}
{% if home_properties %}
<div class="contentModule featuredProperty">
	<h3 class="subhead">{{home_project.title}} Properties</h3>
	<div class="sections clearfix">
		<ul class="bxslider1" id="bxslider2">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in home_properties if break == 0 %}
				<li>
					<div class="row">
						<a href="properties/{{x.title}}/{{x.id}}"><h4>{{x.title}}</h4></a>
						<div class="col-xs-12 col-sm-4 col-lg-4">
							<div class="sliderImg">
								<img src="{{x.property_images.0.file_relative_path}}" class="slimg"/>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-lg-8 sliderDesc">
							<div class="description">
								{{x.overview.description|length > 100 ?x.overview.description|slice(start, 100) : x.overview.description}}
							</div>
							<div class="table-responsive">
								<table class="table">
									<tr>
										<td>Property Type</td>
										<td>:</td>
										<td>{{x.type}}</td>
									</tr>
									<tr>
										<td>Built Up Area</td>
										<td>:</td>
										<td>{{x.property_info.buildup_area}}{{x.property_info.build_unit}}</td>					
									</tr>
									<tr>
										<td>Location</td>
										<td>:</td>
										<td>{{x.location}}</td>
									</tr>
									<tr>
										<td>Price</td>
										<td>:</td>
										<td>{{x.price}}</td>
									</tr>
								</table>
							</div>
							<div class="readmore">
								<a href="properties/{{x.title}}/{{x.id}}" class="btn btn-info head">More Details</a>
								 <a href="/enquiry?category={{x.category}}&id={{x.id}}&title={{x.title}}"class="btn btn-info head">Send Enquiry</a> 
							</div>
						</div>
					</div>
				</li>
				{% set i = (i + 1) %}
				{% if i == 10 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}