.header{
	border-top:8px solid #000;
}
header{
	margin-top:5px;
}
.border-bottom 
{ 
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left:-15px;
	border-bottom-color:#8ac249;
}
.productimagediv
{	
	padding:10px;
	margin-bottom:20px;
	border: 1px solid #EEE;
}

.productimagediv2
{	
	padding:10px;
	margin-bottom:20px;
	border: 1px solid #EEE;
}
.productimage
{
	height:250px;
}
 .productimagediv 
 {
	height:300px;
	border:1px solid #C5BDBD;;
 }
 .productdiv{
	height:200px;
}
.productdiv :hover{
	border:1px solid #ccc;
}
.category h3 {
	padding: 15px;
	background-color: rgb(27, 147, 38);
 }
 .specials h3{
	padding: 15px;
	background-color:#ccc;
	
 }
 
 .product h3 {
	padding: 15px;
	background-color: #000;
	color:#fff;
 }
.navbar-inverse .navbar-collapse{
	border-bottom:8px solid rgba(41, 242, 41, 0.85);
 }
.bottom-space
{
	margin-top:15px; 
}
.productimage2
{
	height:150px;
}
.fulldivimage
{
	height:150px;
}
.divmargin
{
	margin-bottom:25px;
	margin-top:20px;
}
.footercol
{
	background-color:#000;
	color:#fff;
	bottom:0px;
}
a .login{
	font-size:20px;
	margin-top:15px;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color:rgba(41, 242, 41, 0.85);
}
.navbar-inverse .navbar-nav .active{
	background-color:rgba(41, 242, 41, 0.85);
}
ol{
	background-color:#fff;	
}
.carousel-indicators {
	background-color:#fff;
	position: absolute;
	bottom: 20px;
	left: 122%;
	z-index: 15;
	width: 7%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}
.carousel-caption h2{
	font-size: 66px;
}