{% autoescape false %}
<div class="about">
	<h2>About us</h2>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					{% if data.business_profile.business_type %}
						<th>Primary Business Type</th>
					{% endif %}
					{% if data.business_profile.establishment %}
						<th>Year Of Establishment</th>
					{% endif %}
					{% if data.business_profile.no_of_employees %}
						<th>No. Of Employees</th>
					{% endif %}
					{% if data.ownership %}
						<th>Ownership Type</th>
					{% endif %}	
					{% if data.business_profile.additional_business %}
						<th>Additional Business</th>
					{% endif %}
				</tr>
				<tr>
					{% if data.business_profile.business_type %}
						<td>{{data.business_profile.business_type}}</td>
					{% endif %}
					{% if data.business_profile.establishment %}
						<td>{{data.business_profile.establishment}}</td>
					{% endif %}
					{% if data.business_profile.no_of_employees %}
						<td>{{data.business_profile.no_of_employees}}</td>
					{% endif %}
					{% if data.ownership %}
						<td>{{data.ownership}}</td>
					{% endif %}
					{% if data.business_profile.additional_business %}
					<td>
						<ul>
						{% for x in data.business_profile.additional_business %}
							<li>{{x}}</li>
						{% endfor %}
						</ul>
					</td>
					{% endif %}
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-3 col-lg-3">
			<h3>Categories</h3>
			<ul>
					{% for link in routes %}
						{% if link.status == 1 %}
							{% if link.url == "/services" %}
									{% if link.childMenu %}
										{% for link in link.childMenu %}
											<li class="{{ (link.childMenu) ? 'child-menu' : '' }}{{ link.url == uri ? ' active' : '' }}" >
												<a href="{{ link.url | replace({" ":'-'})}}">{{ link.name }}</a>
												<hr>
											</li>
										{% endfor %}
									{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
			</ul>
			<h3>Product Type</h3>
			<ul>
					{% for link in routes %}
						{% if link.status == 1 %}
							{% if link.url == "/products" %}
									{% if link.childMenu %}
										{% for link in link.childMenu %}
											<li class="{{ (link.childMenu) ? 'child-menu' : '' }}{{ link.url == uri ? ' active' : '' }}" >
												<a href="{{ link.url | replace({" ":'-'})}}">{{ link.name }}</a><hr>
											</li>
										{% endfor %}
									{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
			</ul>
		</div>	
		<div class="col-xs-12 col-sm-9 col-lg-9">
			
			{{data.business_info.aboutDescription}}
		</div>
	</div>
</div>	
	<!-- {% if data.infrastructure %}
		<hr>
		<div class="infrastructure" id="infrastructure">
			<h3 class="text-center">Infrastructure/Facilities</h3>
			<div class="row">
				{% for key, value in data.infrastructure %}
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="thumbnail">
							<div class="infraImg">
								<img class="img-responsive " src="{{value.image.file_relative_path}}"/>
							</div>
							<div class="caption text-center" ng-controller="aboutController">
								<h4>{{value.heading}}</h4>
								{{value.description|length >100 ? value.description|slice(start,100)~ '...' : value.description}}
							</div>
							<div class="readmore text-center">
								<a type="button" class="btn btn-info"  data-toggle="modal" data-target="#myModal{{loop.index}}">Read More..</a>
							</div>
						</div>
					</div>
					<!-- modal - ->	
					<div id="myModal{{loop.index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Infrastructure Details</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-lg-3">
											<a href="#">
											  <img class="img-responsive" src="{{value.image.file_relative_path}}"/>
											</a>
										</div>
										<div class="col-xs-12 col-sm-8 col-lg-9">
											<h4>{{value.heading}}</h4>
											<p>{{value.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--modal end- ->
				{% endfor %}
			</div>
		</div>
	{% endif %} -->
{% endautoescape %}