{% autoescape false %}
	<script src="http://maps.googleapis.com/maps/api/js">
	</script>
	<script>
		function initialize() {
			var mapProp = {
				center:new google.maps.LatLng({{google_map.latitude}},{{google_map.longitude}}),
				zoom:12,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
			var marker=new google.maps.Marker({
				position:new google.maps.LatLng({{google_map.latitude}},{{google_map.longitude}}),
			});
			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	




<div id="serv" class="row contact">
	
		<!-- <div class="col-xs-12 col-sm-12 col-lg-3">
			<table class="table">
					<td>
						<h4>{{data.contact_profile.contact_person}}</h4>
						<b>Address</b>
						<address>
							{{data.contact_profile.address}}<br>
							{{data.city}}-{{data.pincode}},<br>
							{{data.state|capitalize}},<br>
							{{data.country|capitalize}}.
						</address>
					</td>
			</table>
	
				
				{%if (data.contact_profile.address1) or (data.contact_profile.address2) or (data.contact_profile.address3) or (data.contact_profile.address4)%}
				
					<table class="table">
						<tr>
						
					</tr>
					</table>
				
				{% endif %}
				{%if data.contact_profile.telephone%}
				
				<table class="table">
				<tr>
					<td><b>Telephone</b></td>
					<td>{{data.contact_profile.telephone}}{{(data.contact_profile.alternate_telephone) ? ", " ~ data.contact_profile.alternate_telephone}}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td><b>Mobile</b></td>
					<td>{{data.contact_profile.mobile}}{{(data.contact_profile.alternate_mobile) ? ", " ~ data.contact_profile.alternate_mobile}}</td>
				</tr>
				<tr>
					<td><b>E-mail Id</b></td>
					<td>
						<a class="email" href="mailto: {{data.contact_profile.email}}">{{data.contact_profile.email}}</a><br>
						<a class="email" href="mailto: {{data.contact_profile.alternate_email}}">{{data.contact_profile.alternate_email}}</a>
					</td>
				</tr>
				{%if data.contact_profile.contact_website%}
				<tr>
					<td><b>Website</b></td>
					<td><a href="/{{data.contact_profile.contact_website}}">{{data.contact_profile.contact_website}}</a>
					</td>
				</tr>
				{% endif %}
				</table>
			</div>	 -->
<div class="col-xs-12 col-sm-3 col-lg-3 sub">
		<h3>Categories</h3>

		<ul>
			{% for link in routes %}
				{% if link.status == 1 %}
					{% if link.url == "/services" %}
							{% if link.childMenu %}
								{% for link in link.childMenu %}
									<li class="{{ (link.childMenu) ? 'child-menu' : '' }}{{ link.url == uri ? ' active' : '' }}" >
										<a href="{{ link.url | replace({" ":'-'})}}">{{ link.name }}</a>
										
									</li>
								{% endfor %}
							{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
		<h3>Product Type</h3>
		<ul>
			{% for link in routes %}
				{% if link.status == 1 %}
					{% if link.url == "/products" %}
							{% if link.childMenu %}
								{% for link in link.childMenu %}
									<li class="{{ (link.childMenu) ? 'child-menu' : '' }}{{ link.url == uri ? ' active' : '' }}" >
										<a href="{{ link.url | replace({" ":'-'})}}">{{ link.name }}</a>
									</li>
								{% endfor %}
							{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>	
	<div class="col-xs-12 col-sm-9 col-lg-9">
	<h2>Contact Us</h2>

	<div id="googleMap"></div>
	{%include[templatePath ~ '/includes/enquiry.html','default/default/includes/enquiry.html']%}
	</div>
</div>	

{% endautoescape %}