{% autoescape false %}
	<div class="homeAboutus">
		
			<h1>{{ data.business_name }}</h1>
			{% if data.business_info.tagline %}
				<div class="tagline text-center">{{ data.business_info.tagline}}</div>
			{% endif %}
			{% if data.business_info.alternate_tagline %}
				<div class="tagline1 text-center">{{ data.business_info.alternate_tagline}}</div>
			{% endif %}
			<div class="description">
			{% if data.website_config.welcome_note %}
				{{ data.website_config.welcome_note}}
			
			{% else %}
				{{ data.business_info.description}}
			{% endif %} 
			</div>
	</div>
	<div class="container">
	{% include [templatePath ~ '/includes/featured_gallery.html', 'default/default/includes/featured_gallery.html'] %}
	{%if modules.contentModule.featured_products %}
					{% include [templatePath ~ '/includes/featured_products.html', 'default/default/includes/featured_products.html'] %}
					{%endif%}
	</div>
{% endautoescape %}