  body{
		font-family: arial, sans-serif;
		font-size: 14px;
		line-height: normal;
		color: #7F8C8C;		
		overflow:scroll;
		padding-top: 70px;
		padding-bottom: 70px;
		
	}
	header{
		margin-top:5px;
		left:0;
		right:0;
	}
	.footer{
		background-color:#000;
		line-height:4;
		width:100%;
		bottom:0px;
		z-index:99px;
		color:#fff;
		left:0;
		right:0;
	}
	.home{
		width:50%;
	}
	.searchBlock{
		margin-bottom:30px;
	}
	.products{
		display:inline-table;
		padding:10px;
	}
	.products span {
		font-size: 10px;
	}
	.buztypes{
		padding:20px;
		border:1px solid #ccc;
	}
	.buztypes img{
		width:50px;
		height:50px;
	}
	.verifyBiz img{
		height:30px;
		width:32px;
	}
	.navbar-brand{
		padding:5px 15px;
		
	}
	.errorMsg{
		border:1px solid #ccc;
	}
	.navbar-brand>img{
		height:40px;
	}
	
	.productBox{
		height:180px;
		display:inline-flex;
	}
	.category{
		height:50px;
		width:50px;
	}
	.border{
		border:1px solid #ccc;
	}
	.boxborder{
		border:1px solid #ccc;
		margin-top:10px;
	}
	.media-body footer{
		background-color:rgba(100, 181, 190, 0.75);
		color:#fff;
		line-height: 2;
	}
	.search{
		width:600px;
		margin-top:5px;
	}
	.logo{
		width:auto;
		height:90px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.product{
		width:100%;
		padding:10px;
	}
	.sidebar{
		margin-top:10px;
	}
	.media{
		padding-top:10px;
	}
	h3{
		color:#1b84db;
		padding-left:10px;
	}
	.media p1{
		color:#cgg;
		padding-left:10px;
		font-size:18px;
	}
	.panel{
		margin-top:10px;
	}
	a:hover{
		text-decoration:none;
	}
	.media-left .testm{
		height:220px;
	}
	#contact{
		padding:20px;
	}
	.catp {
	  font-size: 10px;
	  font-weight: bold;
	  color: #0C79D3;
	}
	.showmore {
	  border-top: 1px solid #e4e4e4;
	  padding: 10px 0 0;
	  margin: 0 auto;
	  text-align: center;
	  width: 412px;
	  clear: both;
	  position: relative;
	  display: table;
	}
	.verified{
		font-size:40px;
		left:30px;
	}
	.navbar-default .glyphicon{
		padding-right:5px;
		padding-left:5px;
	} 
	.navbar-default h2 a{
		margin-right:5px;
	}
	/*.bizDis{
		border:1px solid #ccc;
		margin-top:3px;
		background-color:#D4D4D5;
	}
	.buztypes{
		border :1px solid #ccc;
		transition:all 2sec;
	}
	
	.navbar{
		margin-bottom:0px;
	}
	.cityBlock{
		margin-bottom:10px;
	}
	
	
	.customSel {
	  background-position: -306px -62px;
	  color: #747474;
	  cursor: pointer;
	  font-size: 16px;
	  
	  padding-left:200px;
	}
	.customspan {
	  float: left;
	  position: relative;
	  width: 230px;
	}
	
	
	.products span{
		font-size:20px;
	}
	
	
	
	
	
	
	span.location {
		padding-left: 230px;
	}
	.glyphicon-th{
		font-size:30px;
	}
	
	.moreinfo{
		margin-top:42px;
		margin-right:20px;
	}
	.btn-group-justified>.btn, .btn-group-justified>.btn-group{
		width:20%;
		margin-top:10px;
	}
	.leftlnk{
		width:100%;
		margin-top:10px;
	}
	
 
  .searchrate{
	padding:5px 10px;
	border:1px solid #ccc;
	margin-bottom:10px;
	margin-top:10px;
  }
  
  .deal{
	padding:15px;
  }

  
  */
  
 