  body{
		font-family: arial, sans-serif;
		font-size: 14px;
		line-height: normal;
		color: #7F8C8C;		
		overflow:scroll;
		padding-top: 70px;
		
		
	}
	header{
		margin-top:5px;
		left:0;
		right:0;
	}
	main{
		min-height:550px;
		bottom:20px;
	}
	.footer{
		background-color: #3C3C3C;
		width:100%;
		color: #CACACA;
		margin-top:20px;
	}
	.footer p{
		margin: 10px 0;
	}
	.home{
		width:50%;
		min-height: 450px;
	}
	.cat{
		width:75%;
	}
	.searchBlock{
		margin-bottom:30px;
	}
	.products{
		display:inline-block;
		padding:10px;
	}
	.products span {
		font-size: 10px;
	}
	.buztypes{
		padding:20px;
		border:1px solid #ccc;
	}
	.buztypes img{
		width:50px;
		height:50px;
	}
	.verifyBiz img{
		height:30px;
		width:32px;
	}
	.navbar-brand{
		padding: 10px 15px;
		
	}
	.errorMsg{
		border:1px solid #ccc;
	}
	.navbar-brand>.img{
		height:40px;
	}
	.navbar-brand>.biz-logo{
		height:80px;
	}
	.productBox{
		height:180px;
		display:inline-flex;
	}
	.category{
		height:50px;
		width:50px;
	}
	.border{
		border:1px solid #ccc;
	}
	.boxborder{
		border:1px solid #ccc;
		margin-top:10px;
	}
	.media-body footer{
		background-color:rgba(100, 181, 190, 0.75);
		color:#fff;
		line-height: 2;
	}
	.search{
		width:600px;
		margin-top:5px;
	}
	.logo{
		width:auto;
		height:90px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.product{
		width:100%;
		padding:10px;
	}
	
	.media{
		padding-top:10px;
	}
	h3{
		color:#1b84db;
		padding-left:10px;
	}
	.media p1{
		color:#cgg;
		padding-left:10px;
		font-size:18px;
	}
	.panel{
		margin-top:10px;
	}
	a:hover{
		text-decoration:none;
	}
	.media-left .testm{
		height:220px;
	}
	#contact{
		padding:20px;
	}
	.catp {
	  font-size: 10px;
	  font-weight: bold;
	  color: #0C79D3;
	}
	.showmore {
	  border-top: 1px solid #e4e4e4;
	  padding: 10px 0 0;
	  margin: 0 auto;
	  text-align: center;
	  width: 412px;
	  clear: both;
	  position: relative;
	  display: table;
	}
	.verified{
		font-size:40px;
		left:30px;
	}
	.navbar-default .glyphicon{
		padding-right:5px;
		padding-left:5px;
	} 
	.navbar-default h2 a{
		margin-right:5px;
	}
	ul.list-inline {
		max-height: 89px;
		overflow: auto;
	}
	.product-desc{
		height: 200px;
		overflow: hidden;
		position: fixed;
		top: 20%;
		width: 600px;
		left: 50%;
		margin-left: -200px;
		z-index: 9999;
		padding: 15px;
		background: #fff;
		box-shadow: 0 0 10px;
		border-radius:5px;
		display:none;
	}
	.product-desc.show{
		display:block !important;
	}
	