  body{
		font-family: arial, sans-serif;
		font-size: 14px;
		line-height: normal;
		color: #7F8C8C;		
		overflow:scroll;
		
	}
	.logo{
		width:30%;
		height:150px;
	}
	.input-group{
		padding-top:15px;
	}
	.customSel {
	  background-position: -306px -62px;
	  color: #747474;
	  cursor: pointer;
	  font-size: 16px;
	  
	  padding-left:200px;
	}
	.customspan {
	  float: left;
	  position: relative;
	  width: 230px;
	}
	.products{
		display:inline-table;
		padding:30px;
	}
	.products span{
		font-size:40px;
	}
	footer{
		background-color:#000;
		line-height:4;
		margin-top:40px;
	}
	.services li,.morelnk li{
		padding:20px;
		display:inline-table;
		
	}
	.services li a,.morelnk li a{
		 color:#fff;
	}
	.showmore {
	  border-top: 1px solid #e4e4e4;
	  padding: 10px 0 0;
	  margin: 0 auto;
	  text-align: center;
	  width: 412px;
	  clear: both;
	  position: relative;
	  display: table;
	}
	.search{
		margin:auto;
		left:100px;
		right:80;
		
	}
	span.location {
		padding-left: 230px;
	}
	.glyphicon-th{
		font-size:30px;
	}
	.wtouchimg{
		background: url('../img/small2.jpg');
		height:130px; 
	}
	.moreinfo{
		margin-top:42px;
		margin-right:20px;
	}
	.btn-group-justified>.btn, .btn-group-justified>.btn-group{
		width:20%;
		margin-top:10px;
	}
	.leftlnk{
		width:100%;
		margin-top:10px;
	}
	.media{
		padding-top:10px;
	}
	h3{
		color:#1b84db;
		padding-left:10px;
	}
	.media p{
		color:#cgg;
		padding-left:10px;
		font-size:18px;
	}