@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

//text color shade
	@color :#ac2617 ; //red darkcolor
	@lightcolor : #D2CEBE; //body text
	@darkcolor : #4a5709;//
	 
//background color shade
	@back : #ff0000; //black shade for div style
	@darkbackcolor : #a5bc33; //90a52c
	@lightbackcolor :#fff3ce; 
	
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	body{
		color:@colorblack;
		//-webkit-gradient(linear, left top, right top, from(#fff3ce), to(#efefef))
		background-image:url('../img/bg.png'), linear-gradient( @lightbackcolor ,@colorwhite );
		background-repeat:no-repeat;
	}
	.sociallinks{
		margin-top: 355px;
		position: fixed;
		z-index : 999;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 4px 4px 10px;
				background-color: @darkbackcolor;
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				a{
					color:@colorwhite;
					&:hover{
						color:@colorwhite;
						text-decoration : underline;
					}
				}
				img{
					width : 50px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	header{
		margin: 0 auto;
		border-top: 3px solid @darkbackcolor;
	}
	
	.container{
		width:992px !important;
		//background-image: url('../img/bg.png');
		//position:relative;
		
	}
	
	.logo {
		height: 80px;
		max-height: 100px;
		margin-top: 20px;
		z-index: 3;
		
	}
	a, .btn.btn-link{
		color: @color;
		&:hover, &:hover{
			text-decoration : none;
			color: @color;
		}
	}
	.btn.btn-link{
		font-size : 17.5px;
		padding-left : 0px;
	}
	
	.cnctinfo{
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @darkbackcolor;
	}
	.modal-body	{
		p{
			color:@colorblack;
		}
	}
	html{
		min-width:1022px;
	}
	.btn + .btn{
		margin-left:10px;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
		background-color:transparent;
	}
	.navbar-default {
		background:transparent;
		border:none;
		.navbar-nav{
			>li:hover{
				border-top: 10px solid @darkbackcolor;
				color:@back;
			}
			>li >a:active,>li >a:hover,>li >a:focus{
				color:@back;
			}
			>li{
				margin-bottom:0px;
				position : relative;
				padding: 0 5px;
				float: left;
				z-index: 4;
				>a, > a:focus {
					color:@colorblack;
					padding: 8px 15px;
					text-transform: uppercase;
					font: normal 14px/1.5em 'Arial', Helvetica, sans-serif;
					transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-webkit-transition: all 0.2s ease;
				}
				
				> ul{
					display: none;
					position: absolute;
					width: 170px;
					z-index: 999;
					padding: 2px;
					list-style: none;
					text-align: left;
					left:-16px;
					border:2px solid @lightcolor;
					background-color:@darkbackcolor;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
								
							}
						}
						&:hover{
							background-color:@darkbackcolor;
						}
						
						ul{
							list-style: none;
							display : none;
							position : absolute;
							left: 60px;
							width: 180px;
							padding : 2px;
							border:1px solid @darkbackcolor;
							background-color:@lightbackcolor;
							z-index:999;
							li{
								
								padding : 10px;
								a{
									color : @colorblack;
								}
								&:hover{
									a{
										color : @color;
									}
									
									
								}
							}
						
						}
						&:hover{
							background-color:@colorblack;
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
			
		}
	}
	.content{
		background-image:url('../img/bg_curve.png');
		background-color:@colorwhite;
		background-repeat:no-repeat;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1 {
		font-weight:bold;
		letter-spacing: 1px;
		padding-bottom:10px;
		font: 2.3em/1.2em Enriqueta-Regular;
		color: @color;
	}
	h2, h4 ,h3{
		color: @color;
		padding-bottom:10px;
		
	}
	h3{
		font: 1.4em/1.2em negotiate_free;
		display: inline-block;
		position: relative;
		margin-bottom:0px;
	}
	
	.subhead::after {
		content: "";
		height: 30px;
		display: block;
		position: absolute;
		top: -1px;
		right: -51px;
		border-bottom: 44px solid @darkbackcolor;
		border-right: 52px solid transparent;
	}
	.subhead::before {
		content: '';
		display: inline-block;
		position: absolute;
		background: url('../img/bg_heading.png') no-repeat;
		width: 15px;
		height: 67px;
		top: 0;
		left: -15px
	}
	h2{
		font: 2.0em/1.2em QumpellkaNo12;
		line-height:1.5em;
		font-weight:bold;
		
	}
	
	.form-control{
		background : transparent;
		border-color : @darkbackcolor;
		&:focus{
			border-color : @back;
		}
	}
	.btn-info,.btn-primary,.btn-danger{
		border : 1px solid @darkcolor;
		background : @darkbackcolor;
		color : @colorwhite;
	}
	.btn-info[disabled],.btn-info.disabled,.send,.btn-danger,.btn .btn-info .center-block{
		background-color:@darkbackcolor;
		border-color:transparent;
	}
	.btn-danger:hover,.btn-danger:active{
		color:@colorwhite;
		background-color:@darkcolor;
		border:1px solid @darkbackcolor;
	}
	.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info,.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
		background-color : @darkcolor;
		border : 1px solid @darkbackcolor;
		color:@colorwhite;
	}
	.subhead{
		font-size: 18px;
		font-weight: bold;
		background-color:  @darkbackcolor ;
		box-shadow: -7px 5px 5px -5px @darkbackcolor;
		width:65%;
		color : @colorwhite;
		padding: 10px 60px 10px 10px;
		position : relative;
		border-bottom: 2px solid @darkbackcolor;
	}
	hr{
		border-style:dashed;
		border-color:@lightbackcolor;
		margin: 0px 0px 10px;
	}
	.sidemenu{
		margin-top: 5px;
	}
	.sidemenu,.projectnav{
		padding:10px;
		color: @lightcolor;
		border-top:1px solid @darkbackcolor;
		top: -5px;
		background: -webkit-gradient(linear, left top, right top, from(@lightbackcolor), to(@colorwhite));
		background-image: -webkit-linear-gradient(left, @lightbackcolor 1%,  @colorwhite 20%);
	
	}
	.propertylist,.sidebarModule, .contentModule{
		.panel,.sections{
			padding:10px;
			color: #lightcolor;
			top: -5px;
			background: -webkit-gradient(linear, left top, right top, from(@lightbackcolor), to(@colorwhite));
			background-image: -webkit-linear-gradient(left, @lightbackcolor 1%, @colorwhite 20%);
			border-top:1px solid @darkbackcolor;
		}
	}
	.featured_services{
		.sections{
			border : none;
		}
	}
	.sidebarModule{	
		h4{
			border : none;
		}
	}
	.panel{
		background : transparent;
	}
	.panel-default{
		border : 1px solid @darkbackcolor;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	{
		background-color : @darkbackcolor;
		color : @lightcolor;
		border : 1px solid @darkcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:hover{
		background-color : @darkcolor;
		border : 1px solid @darkbackcolor;
		color : @colorwhite;
	}
	footer{
		margin-top : 15px;
		padding: 15px 0;
	}
	*{
		transition:300ms;
	}
	
	//for responsive
	@media (min-width: 320px){
		.logo{
			float:left;
		}
		.cnctinfo{
			display : none;
		}
	}
	@media (min-width: 992px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
	
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		}
		.cnctinfo{
			display : block;
		}
		
	}