//about us page
.sidebar{
		.nav-pills{
			>li>a{
						color: @darkcolor;
					    font-size: 19px;
						
						}
			}
		}
			
	.thumbnail{
	
		.infraImg{
			height: 165px;
			width: 267px;
			overflow: hidden;
			margin: 0 auto;
			padding: 0px;

			&:hover{
				
				  box-shadow: 20px 20px 10px @colorblack;
			}
			
			
		}
			.caption {
						padding: 9px;
						color: #333;
						height: 100px;
						padding: 0px;
			}
			h4{
				height: 23px;
				}
		.readmore{
			a{
				background-color:@darkcolor;
				border-radius: 0px;
			  border-color:@darkcolor;
			}
		}
		
	}
	
		.thumbnail{
			.prodimg{
			    height: 150px;
				width: 320px;
				overflow: hidden;
				margin: 0 auto;
				padding: 0px;
				&:hover{

				       box-shadow: 10px 10px 10px @colorblack;
					
				}
				
			}
			.caption{
						height: 131px;
						padding: 4px;
						overflow: hidden;
					}
					.description {
						      height: 130px;
						      overflow: hidden;
							  
                                }
				.readmore{
							text-align:center;
							    margin-bottom: 10px;
							}
						
					a{
						background-color:@darkcolor;
						border-radius: 0px;
							border-color:@darkcolor;
							align:center;
					}
			}	
	}