//about us page
.sidebar{
		.nav-pills{
			>li>a{
						color: @darkcolor;
					    font-size: 19px;
						
						}
			}
		}
			
	.thumbnail{
	
		.infraImg{
			height: 165px;
			width: 235px;
			overflow: hidden;
			margin: 0 auto;
			padding: 0px;
		}
			.caption {
						padding: 9px;
						color: #333;
						height: 100px;
						padding: 0px;
			}
			h4{
				height: 23px;
				}
		.readmore{
			a{
				background-color:@darkcolor;
				border-radius: 0px;
			  border-color:@darkcolor;
			}
		}
		
	}
		p{
		text-align:justify;
		}
	
	.thumbnail{
			.prodimg{
			    height: 157px;
    width: 320px;
			overflow: hidden;
			margin: 0 auto;
			padding: 0px;
			}
			.caption{
						height: 131px;
						padding: 4px;
						overflow: hidden;
					}
					.description {
						      height: 130px;
						      overflow: hidden;
                                }
				.readmore{
							text-align:center;
							    margin-bottom: 10px;
							}
						
					a{
						background-color:@darkcolor;
						border-radius: 0px;
							border-color:@darkcolor;
							align:center;
					}
			}	
	}