.featured_services{
	.sections{
		border : 1px solid @colorblack;
		background : none;
		box-shadow : 0 0 0;
	    margin-bottom:80px;
		    margin-top: 72px;
		color:@colorwhite;
		height:90%;
		width:90%;
		background-color:@darkcolor;
		height:100%;
		width:100%;
		background-color:@colorblack;
	}

	.services{
		.servimage{
		border : 4px solid transparent;
		padding : 6px;
			.img-border{
				border-radius:50%;
			}
		}
		.servdesc{
			height : 220px;
			.description{
			height : 75px;
		    overflow : hidden;
			}
			.readmore{
				    margin-top: 10px;
					background-color:@darkcolor;
					width: 97px;
					height: 32px;
					border-radius: 8px;
					text-align: center;
					margin-left: 123px;
				.txt{
					color:@colorwhite;
					text-decoration:none;
					}
				
			}
		}
	}
}
