	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	
	
	@color : #24600B;
	@darkcolor : #ef0b56;
	@back:#262626;
	@colorblack : #02071A;
	@colorwhite	: #fff;
	@lightbackcolor:#DDDDDD;
	@darkbackcolor:rgb(175, 31, 84);
	@bimg: url('../img/bg_main.jpg');
	@logobgimg: url('../img/logo.png');
	@trangle: url('../img/arr_bg.png');
	@bullet: url('../img/bullet.png');
	
	@import "product.less";
	@import "property.less";
	@import "general.less";
	
	hr{
			border-top:none;
			}

	.navbar-default .navbar-nav>.active>a{
		background-color: @darkcolor !important;
		color : @colorwhite !important;
		border-radius:none !important;
	}
	.navbar-default {
		border-radius:none !important;
		background-color:@back;
			.navbar-brand{
						color:@colorwhite;
						margin-top: 2%;
						margin-left: 10%;
						font-size: 216%;
						font-weight: 900;
						}
			
		.navbar-nav{
			> li{
				
				margin-top: 4%;
				padding-left: 50px;
				font-size: 100%;
				text-transform: uppercase;
				a {
					color :@colorwhite;
				}
				
				a:hover{
					background-color: @darkcolor !important;
					color : @colorwhite !important;	
				}
				> ul {
					display: none;
					position: absolute;
					width: 160px;
					z-index: 999;
					background-color: @back ;
					padding: 12px 0px 0px 0px;
					list-style: none;
					text-align: center;
					top : 49px;
					transition : all 500ms ease-in-out;
					
					>li{	
							padding-top:11px;
							height: 43px;
							background-color:@colorblack;
						

					&:hover{
							background-color:@darkcolor;
							
							
							>a{
								color:@colorwhite;
								&:hover{
									 text-decoration: none;
								}
							}
						}
					}
					
				}
				&:hover > ul {
					display: block;
					
				}
			}
			
			>li:nth-child(4)>a:hover {
							background-color: transparent !important;
							color:@darkcolor !important;
					}
			>li:nth-child(4)::after  {
									 content: "";
									 width: 5px;
									 height: 5px;
									 display: inline-block;
									 background: transparent;
									 position: absolute;
									 top: 70%;
									 right: 45px;
									 border-top: 10px solid white;
									 border-left: 5px solid transparent;
									 border-right: 5px solid transparent;
									 border-bottom: 0px solid transparent;
								}	
		}
			.navbar{
			height:100px;
			border-radius:none !important;
			}
			.navbar-toggle {
				border : 1px solid ;
				margin-top : 45px;
			}
				.navbar-toggle .icon-bar {
					background-color: @darkcolor;
				}
	}
	
	.cont_social{		background-color:@lightbackcolor;
						position:relative;
						z-index:999;
						height: 400px;
						margin-top: 1%;
				.contact{
				       position:absolute;
					   left:12%;
					   top:13%;
					   height: 77%;
					   width: 238px;
					   z-index:9999;
					   text-align: center;
					   border-radius: 15%;
					   background-color: @colorwhite;
					   border:5px solid @lightbackcolor;
				        }
				.social{
						
					
				       position:absolute;
					   right:13%;
					   top:13%;
					   z-index:100;
					   border-radius: 15%;
					   background-color: @colorwhite;
						border:5px solid @lightbackcolor;
					   }
			#googleMap1{
			      
					height: 375px;
                    margin-top: 1%;
					
			}
			.sociallinks{
						padding: 56px;
				ul{
						    list-style-type: none;
							padding-left: 0px;
					li{
						    line-height: 58px;
							text-decoration:none;
						a{ 
						color:@colorblack;
						
						  img{
						  height:45px;
						      margin-right: 8px;
							 
						  a &:hover{
							height:65px;
							width:65px;
						  }
						  
						  }
						  
						}
					}
				}
			}
	}
		
		.carousel-inner>.item{
				height:420px;
			img{
			     min-height:420px;
				 width: 100%;
				 }
		}
		span.glyphicon.glyphicon-chevron-right,span.glyphicon.glyphicon-chevron-left 
         		{
					display: none;
					}
		.carousel-indicators li {
					display: none;
		}
		.slider_height{
		     box-shadow: 0px 10px 10px @back;
		}
.homeAboutus{
   display:none;
}
.sections a{
		   color:@colorblack;
		   text-decoration:underline;
		&:hover{
		       text-decoration:none;
		     }   
		}
			
footer{ 
         a{
		   color:@colorblack;
		   text-decoration:underline;
		&:hover{
		       text-decoration:none;
		     }   
		}
	}	
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: @colorwhite;
    cursor: default;
    background-color: @darkcolor;
    border-color: @lightbackcolor;
}
.pagination>li>a{
   color: @colorblack;
    }
.pagination>li>a:hover{
    color: @colorblack;
    
}
.table {
    tr{
	  td{
	    a{
		   color:@colorblack;
		   text-decoration:underline;
		&:hover{
		       text-decoration:none;
		     }   
		}
		
	  }
	}

}
