
{% extends "index.html" %}
{% block title %}{{data.business_name}}{% endblock %}

{% block content %}
{% autoescape false %}
<div class="row text">
	<span ng-bind="id"></span>
		<div class="col-sm-12 news">
			<div class="sidebar" id="navbar-example">
				<ul class="nav nav-pills" >
					<li ng-class="{active:id=='about'}" ng-click="makeActive('about')"><a href="#about">About Us</a></li>
					<li ng-class="{active:id=='infrastructure'}" ng-click="makeActive('infrastructure')"><a href="#infrastructure">Infrastructure/Facilities</a></li>
				</ul>
			</div>
			<hr>
			<div class="about" id="about">
				<h2 class="text-center">{{ data.business_name }}</h2>
				<div class="row">
					<div class="col-sm-4">
						<table class="table table-bordered">
							{%if data.business_logo%}
							<tr>
								<th class="col-sm-6">Business Logo</th>
								<td class="col-sm-6">
									<img class="img-responsive" src="{{data.business_logo.file_relative_path}}" alt="{{data.business_name}}" />
								</td>
							</tr>
							{% endif %}
							<tr>
								<th>Primary Business Type</th>
								<td>{{data.business_profile.business_type}}</td>
							</tr>
							<tr>
								<th>Year Of Establishment</th>
								<td>{{data.business_profile.establishment}}</td>
							</tr>
							<tr>
								<th>No. Of Employees</th>
								<td>{{data.business_profile.no_of_employees}}</td>
							</tr>
							<tr>
								<th>Ownership Type</th>
								<td>{{data.ownership}}</td>
							</tr>
							<tr>
								<th>Additional Business</th>
								<td><ul>
									{% for x in data.business_profile.additional_business %}
										<li>{{x}}</li>
									{% endfor %}
									</ul>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-8">
						{{data.business_info.aboutDescription}}
					</div> 
				</div>
			</div>
			<hr>
			{% if data.infrastructure %}
				<div class="infrastructure" id="infrastructure">
					<h2>Infrastructure/Facilities</h2>
					<div class="row">
						{% for key, value in data.infrastructure %}
							<div class="col-sm-4">
								<a href="#">
									<img class="img-responsive " src="{{value.image.0.file_relative_path}}" />
								</a>
								<h4>{{key}}</h4>
								<p>{{value.description}}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
</div>
{% endautoescape %}
{% endblock %}
