	@font-face{
	font-family:'OpenSansRegular';
	src:url('../fonts/OpenSans-Regular.ttf');
	}
	@font-face{
		font-family:'AlexBrush-Regular';
		src:url('../fonts/AlexBrush-Regular.ttf');
	}

	@color : #e6b800;
	@lightcolor : rgba(255,255,0,0.3);//faint red
	//@darkcolor : #c43025; //dark red
	//@back : ##822424;
	//@darkbackcolor :#fff;
	//@lightbackcolor :#A1C31A; 
	@colorblack : #02071A;
	@colorwhite	: #fff;
	@background_img:url(../img/middle.jpg);
	@background_img1:url(../img/4.png);
	@background_img2:url(../img/3.png);
	//@import "property.less";
	//@import "project.less";
	@import "product.less";
	@import "general.less";
	
	p{
	color:@colorwhite;
	}
	
	body{
		background-image:@background_img;
		background-repeat:repeat;
		color:@colorwhite !important;
		//background-size:cover;
	}
 h3{
		 text-shadow: 1px 1px 2px @color, 0 0 25px @color, 0 0 5px @color !important;
		 color: @colorwhite !important;
		 font-family:'AlexBrush-Regular';
		 text-align:center;
		 font-size:100px;
		 margin-top: 30px;
	}
	h2{
	     text-shadow: 1px 1px 2px @color, 0 0 25px @color, 0 0 5px @color !important;
		 color: @colorwhite !important;
		 font-family:'AlexBrush-Regular';
		 text-align:center;
	}
	
	
.navbar-default {
		
		background-color:transparent;
		border : none;
		border-radius: 0;
		
	.navbar-nav{
	      .active>a{
		              color:@color;
		             //text-shadow: 1px 1px 2px @color, 0 0 26px @color !important;	
				      background-color: transparent !important;
					  &:hover{
					       color:@colorwhite;
						   // text-shadow: 1px 1px 2px @colorwhite;
							text-shadow: 1px 1px 2px @color, 0 0 25px @colorwhite, 0 0 5px @color !important;
					  }
		            }
	      li{
		      text-transform: lowercase;
		      font-family:'AlexBrush-Regular';
			  font-size:25px;
              //font-weight: bold;

								  
		  }
		  li>a{
		      //text-shadow: 1px 1px 2px @color, 0 0 26px @color !important;	
		      color:@color;
			  &:hover{
			        color:@colorwhite;
					text-shadow: 1px 1px 2px @color, 0 0 25px @color, 0 0 5px @color !important;
			  }
			  
			}
		 li:nth-child(1)>{
					
			          position:absolute;
					  left:100px;
					  top: 141px;
				&::before{
					    content: "";
						position: absolute;
						left: -68px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}
         li:nth-child(2)>{
					
			          position:absolute;
					  left: 286px;
					  top: 205px;
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}	
         li:nth-child(3)>{
					
			          position:absolute;
					   left: 512px;
					  top: 141px;
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}	
         li:nth-child(4)>{
					 
			          position:absolute;
					  left: 726px;
					  top: 205px;
				> ul{
		             display: none;
				     list-style-type: none;
		            }
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
			    }						
		 li:nth-child(5)>{
					
			          position:absolute;
					  left:927px;
					   top: 141px;
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}	
		
		}

}
.navbar{
				height:90px;
				
				border-radius:none !important;
			}
			.navbar-toggle {
				border : 1px solid ;
				margin-top : 45px;
				background-color: @colorwhite;
			}
			.navbar-toggle .icon-bar {
					background-color: @lightcolor;
				}
 .navbar-collapse {
						padding-right: 0px !important;
						padding-left: 0px !important;
						
					}
.mid-content{
	&::before{
		content: "";
		position: absolute;
		left: 141px;
		top: 660px;
		height: 275px;
		width: 237px;
		z-index:99px;
		background-image: url('../img/p2.png');
		animation-name:cont1;
	    animation-duration:1s;
	    animation-iteration-count:1;  
    }
	&::after{
		content: "";
		position: absolute;
		left: 992px;
		top: 438px;
		height: 170px;
		width: 237px;
		z-index:-99;
		background-image: url('../img/p1.png');
		animation-name:cont2;
	    animation-duration:1s;
	    animation-iteration-count:1;  
	}
	           
}
@keyframes cont1{
	    0%{position:absolute;left:0px;}
		100%{position:absolute;left:141px;}
	}
@keyframes cont2{
	    0%{position:absolute;left:0px;}
		100%{position:absolute;left:992px;}
	}
.content{
      margin: 182px auto 0;
	  float:none;
	  background-color:rgba(26, 0, 0,0.3);
      height: 484px;
	  width: 765px;
	  overflow:auto;
	  z-index:999;
	  &.anim{
			   display:block;
			   animation-name:cont;
			   animation-duration:1s;
			   animation-iteration-count:1;
	      }
		
	
}

@keyframes cont{
	    0%{position:relative;top:-200px;width:750px;height:0px;background-color:@colorwhite;}
		100%{position:relative;top:0px;height:484px;width: 765px;}
		
        }
.homeAboutus{
        >h1{
		   text-shadow: 1px 1px 2px @color, 0 0 25px @color, 0 0 5px @color !important;
		   font-family:'AlexBrush-Regular';
		   text-align:center;
		  // color:@color;
		   }
}

footer{ 

	.container{
	       >p{
				color:@lightcolor;
				padding-top: 10px;
              a{
				   color:@lightcolor;
				   text-decoration:underline;
			&:hover{
				text-decoration:none;
			}  
		}
	}
  }
}	
@media (max-width: 1024px){

  .content{
      //margin-top:50px;
      background-color:rgba(26, 0, 0,0.3);
      z-index:999;
	  &.anim{
			   display:block;
			   animation-name:cont;
			   animation-duration:1s;
			   animation-iteration-count:1;
	      }
		
	
}
.mid-content{
	background : transparent;
	&::before{
		content: "";
		position: absolute;
		left: -32px;
		top: 735px;
		height: 275px;
		width: 237px;
		background-image: url('../img/p2.png');
							  
	}
	&::after{
		content: "";
		position: absolute;
		left: 804px;
		top: 503px;
		height: 170px;
		width: 237px;
		background-image: url('../img/p1.png');
	}
}
	.navbar-nav{
		li:nth-child(1)>{
					
			          position:absolute;
					  left:45px !important;
					  top: 141px;
				&::before{
					    content: "";
						position: absolute;
						left: -68px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}
         li:nth-child(2)>{
					
			          position:absolute;
					  left: 213px !important;
					  top: 205px;
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}	
         li:nth-child(3)>{
					
			          position:absolute;
					   left: 415px !important;
					  top: 141px;
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
				}	
         li:nth-child(4)>{
					 
			          position:absolute;
					  left: 625px !important;
					  top: 205px;
				> ul{
		             display: none;
				     list-style-type: none;
		            }
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
			    }						
		 li:nth-child(5)>{
					
			          position:absolute;
					  left:815px !important;
					   top: 141px;
				&::before{
					    content: "";
						position: absolute;
						left: -62px;
						top: -101px;
						height: 119px;
						width: 205px;
						background-image: url('../img/img1.png');
                        background-repeat:no-repeat;
											  
				    }
	    
			}	


	 }
	 .enquiry{
		 >h3{
			margin-top: 10px !important;
			}
     }
}
@media (max-width: 768px){
		h3{
            font-size:60px;
		}
    .content {
		margin-top: 223px;
		margin-left: 0px;
		overflow: hidden;
		width: 304px;
    }
	.navbar-default{
		.navbar-nav{
			li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
			    position:static;
				
			}
		}
	}
	.navbar-default{
		.navbar-nav{
			li:nth-child(1)::before,li:nth-child(2)::before,li:nth-child(3)::before,li:nth-child(4)::before,li:nth-child(5)::before{
			    display:none;
				
			}
		}
	}
	.mid-content::before{
	        display:none;
	}
	.mid-content::after{
	        display:none;
	}
	
	 .enquiry{
		 >h3{
			margin-top: 10px !important;
			}
     }


}