{% autoescape false %}
<div class="container">
		<div class="row contact">
			<h2>Contact Us</h2>
					<!-- <div class="col-xs-12 col-sm-12 col-lg-4">
						{% if data.website_config.website_logo1 %}
							<img class="logo" src="{{data.website_config.website_logo1.file_relative_path}}">
						{% else %}
							<img class="logo" src="{{data.business_logo.file_relative_path}}">
						{% endif %}
					</div> -->
				
				{%if data.contact_profile.telephone%}
				<div class="col-xs-12 col-sm-12 col-lg-6">
					<table class="table">
						<tr>
							<td><b>Telephone</b></td>
							<td>{{data.contact_profile.telephone}}{{(data.contact_profile.alternate_telephone) ? ", " ~ data.contact_profile.alternate_telephone}}
							</td>
						</tr>
						{% endif %}
						<tr>
							<td><b>Mobile</b></td>
							<td>{{data.contact_profile.mobile}}{{(data.contact_profile.alternate_mobile) ? ", " ~ data.contact_profile.alternate_mobile}}</td>
						</tr>
						<tr>
							<td><b>E-mail Id</b></td>
							<td>
								<a class="email" href="mailto: {{data.contact_profile.email}}">{{data.contact_profile.email}}</a><br>
								<a class="email" href="mailto: {{data.contact_profile.alternate_email}}">{{data.contact_profile.alternate_email}}</a>
							</td>
						</tr>
						{%if data.contact_profile.contact_website%}
						<tr>
							<td><b>Website</b></td>
							<td><a href="/{{data.contact_profile.contact_website}}">{{data.contact_profile.contact_website}}</a>
							</td>
						</tr>
						{% endif %}
					</table>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6">
						{% include [templatePath ~ '/includes/sociallinks.html', 'default/default/includes/sociallinks.html']%}
				</div>
		</div>
</div>	
{% endautoescape %}