<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
	<div class="row">
		<div class="col-sm-12">
			<div class="text-right">
				<a ng-if="permission.website_list" href="#/dashboard/websites/websiteslist" class="btn btn-default">Website List</a>
				<a ng-if="permission.request_site" href="#/dashboard/websites/requestnewsite" class="btn btn-default">Request New Site</a>
				<a ng-if="permission.requested_sites" href="#/dashboard/websites/requestedsitelist" class="btn btn-default">Requested Site List</a>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="bottomspace">
				<h3 class="border-bottom bottomspace text-center">Website Setting</h3>
				<h4 class="text-center">{{website.domain_name}}</h4>
				<div class="col-sm-12 bottomspace text-right">
				
					<a href="{{'http://'+website.domain_name}}" tooltip="Preview Website" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>
					</a>		
				
				<button type="submit" class="btn btn-primary" ng-disabled="websettingsForm.$dirty && websettingsForm.$invalid" ng-click="editWebsitedetails(websetting)">Update</button>
				<a href="#/dashboard/websites/websiteslist" type="button" class="btn btn-danger">Cancel</a>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-6">
					<h4 class="text-center">Contact</h4>
					</div>
					<div class="col-sm-6">
					<h4 class="text-center">Menus</h4>
					</div>
				</div>
				<form name="websettingsForm" class="form-horizontal clearfix  role="form" novalidate="novalidate" ng-submit="websettingsForm.$valid">
					<div class="bottomspace col-sm-6 panel panel-default">
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2"> 
								<div class="bottomspace">
								<label  for="selectbusiness" class="col-sm-2 control-label">Business</label>
								<select id="selectBusiness" name="business_name" class="form-control" ng-model="websetting.business_id" ng-change="getMenulist(websetting.user_id, websetting.business_id)" ng-options="item.id as item.business_name for item in businessList">
									<option value="">Select Business</option>
								</select>
								<span class="help-block" ng-show="websettingsForm.business_name.$dirty && websettingsForm.business_name.$invalid">
									<span ng-show="websettingsForm.business_name.$error.required" class="text-danger">Required Field.</span>
								</span>	
								</div>
							</div>
							<div class="col-sm-5"> 
								<div class="bottomspace">
								<label  for="selectbusiness" class="col-sm-2 control-label">Template</label>
								<select id="selectTemplate" name="selectTemplate" class="form-control" ng-model="websetting.template_id" ng-options="item.id as item.template_name for item in templateList"> 
									<option value="">Select Template</option>
								</select>
								<span class="help-block" ng-show="websettingsForm.selectTemplate.$dirty && websettingsForm.selectTemplate.$invalid">
									<span ng-show="websettingsForm.selectTemplate.$error.required" class="text-danger">Required Field.</span>
								</span>	
								</div>
							</div>	
						</div>
						<div class="form-group" ng-if="projects">
							<div class="col-sm-10 col-sm-offset-2">
								<label  for="selectbusiness" class="col-sm-10">Home Project</label>
								<select id="selectBusiness" name="selectBusiness" class="form-control" ng-model="websetting.config.project_id"  ng-options="item.id as item.title for item in projects">
									<option value="">Select Project</option>
								</select>
								<span class="help-block" ng-show="websettingsForm.selectBusiness.$dirty && websettingsForm.selectBusiness.$invalid">
									<span ng-show="websettingsForm.selectBusiness.$error.required" class="text-danger">Required Field.</span>
								</span>	
							</div>
						</div>
						<div class="form-group">
							<label for="contact_name" class="col-sm-2 control-label">Name*</label>	
								<div class="col-sm-10">
									<input type="text" id="contact_name" class="form-control" name="contact_name" placeholder="Name" ng-model="websetting.config.contact_details.contact_name" required >
										<span class="help-block" ng-show="websettingsForm.contact_name.$dirty && websettingsForm.contact_name.$invalid">
										<span class="text-danger" ng-show="websettingsForm.contact_name.$error.required">Contact Name Required.</span>
										</span>
								</div>
						</div>
						<div class="form-group">
							<label for="contact" class="col-sm-2 control-label">Number*</label>
							<div class="col-md-10">
								<input type="text" id="contact" name="contact" class="form-control" ng-model="websetting.config.contact_details.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
									<span class="help-block" ng-show="websettingsForm.contact.$dirty && websettingsForm.contact.$invalid">
									<span ng-show="websettingsForm.contact.$error.pattern && (websettingsForm.contact.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
									</span>
							</div>						
						</div>
						<div class="form-group">	
							<label  for="contact_email" class="col-sm-2 control-label">Email*</label>	
							<div class="col-sm-10">
								<input type="Email" class="form-control" id="contact_email" ng-model="websetting.config.contact_details.contact_email" name="contact_email" placeholder="Enter Email" required >
								<span class="help-block" ng-show="websettingsForm.contact_email.$dirty && websettingsForm.contact_email.$invalid">
								<span ng-show="websettingsForm.contact_email.$error.required" class="text-danger"> Email is required.</span>
								<span ng-show="websettingsForm.contact_email.$error.email" class="text-danger">Invalid Email address.</span>
								</span>
							</div>					
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label"></label>
							<div class="col-sm-5"> 
								<div class="bottomspace">
								<label  for="Latitude" class="col-sm-2 control-label">Latitude</label>
								<input type="text" id="Latitude" class="form-control" name="google_map" placeholder="Google Latitude" ng-model="websetting.config.google_map.latitude" readonly />
								<span class="text-danger" ng-show="websettingsForm.Latitude.$dirty && websettingsForm.Latitude.$invalid">
									<span ng-show="websettingsForm.Latitude.$error.required">Domain Name is required.</span>
								</span>
								</div>
							</div>
							<div class="col-sm-5"> 
								<div class="bottomspace">
								<label  for="Longitude" class="col-sm-2 control-label">Longitude</label>
								<input type="text" id="Longitude" class="form-control" name="Longitude" placeholder="Google Latitude" ng-model="websetting.config.google_map.longitude" readonly >
									<span class="text-danger" ng-show="websettingsForm.Longitude.$dirty && websettingsForm.Longitude.$invalid">
										<span ng-show="websettingsForm.Longitude.$error.required">Domain Name is required.</span>
									</span>
								</div>
							</div>									
						</div>
						<h4>Website Logo</h4>
						<div class="form-group">
							<label for="website_logo" class="col-sm-2 control-label">Logo</label>
							<div class="col-sm-9">
								<input type="file" id="website_logo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change= "uploads($files, websetting.user_id + path,userInfo,'website_logo')" ng-model="website_logo">
								<input type="hidden" ng-model="websetting.config.website_logo">
							</div>
						</div>
						<div class="form-group">			 
							<div class="col-sm-4 col-sm-offset-2">
								<span class="thumbs" ng-if="websetting.config.website_logo">
									<img class="img-thumbnail" ng-src="{{websetting.config.website_logo.file_relative_path}}" ng-click="websetting.imgkey = key; "/>
									<span class="close" ng-click="removeImg( websetting.config.website_logo)">X</span> 
								</span>
							</div>
						</div>
						
						<h4>Social Links</h4>
						<div class ="form-group">	
							<label  for="facebook" class="col-sm-2 control-label">Facebook</label>	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="facebook" ng-model="websetting.config.sociallinks.facebook" name="facebook" />
							</div>					
						</div>
						<div class="form-group">	
							<label  for="google" class="col-sm-2 control-label">Google</label>	
							<div class="col-sm-10">
								<input type="text" class="form-control" name="google" id="google" ng-model="websetting.config.sociallinks.google"  />
							</div>					
						</div>
						<div class="form-group">	
							<label  for="twitter" class="col-sm-2 control-label">Twitter</label>	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="twitter" name="twitter" ng-model="websetting.config.sociallinks.twitter"  />
							</div>					
						</div>
						<div class="form-group">	
							<label  for="linkedin" class="col-sm-2 control-label">LinkedIn</label>	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="linkedin" name="linkedin" ng-model="websetting.config.sociallinks.linkedin"  />
							</div>					
						</div>
					</div>
			<div class="col-sm-6" ng-init="ind = []">
				<accordion close-others="true">
				<accordion-group heading="Menus" is-open="isFirstOpen">
					<button ng-click="getMenulist(websetting.user_id, websetting.business_id)"><span class="glyphicon glyphicon-refresh"></span></button>
					
						<script type="text/ng-template" id="tree_item_renderer.html">
							<span as-sortable-item-handle class="glyphicon glyphicon glyphicon-move"></span>
							<span ng-show="data.childMenu" class="caret" ng-click="isCollapsed = !isCollapsed"></span>
								
							<input ng-show="ind[$index + data.url]" type="text" ng-model="data.name" />
							
							<span class="widths" ng-show="!ind[$index + data.url]" ng-click="ind[$index + data.url] = !ind[$index + data.url]" tooltip="{{data.url}}">{{data.name}}</span>
							
							<span class="pull-right">
								<a class="glyphicon glyphicon-ok" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model="data.status" ng-class="(data.status==1) ? 'glyphicon glyphicon-ok text-success' : 'glyphicon glyphicon-remove text-danger'" ng-init="data.status = data.status == null ? data.status = 1 : data.status"></a>
								
								<a class="glyphicon glyphicon-home" tooltip="Home Project" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.headerModule.homeproject" ng-class="(data.modules.headerModule.homeproject == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-picture" tooltip="Slider" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.headerModule.carousal" ng-class="(data.modules.headerModule.carousal == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-envelope" tooltip="Enquiry Form" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.sidebarModule.enquiry" ng-class="(data.modules.sidebarModule.enquiry == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-search" tooltip="Search Property" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.sidebarModule.searchProp" ng-class="(data.modules.sidebarModule.searchProp == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-phone-alt" tooltip="Contact Us" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.sidebarModule.contact" ng-class="(data.modules.sidebarModule.contact == true) ? 'text-success' : 'text-muted'"></a>
								
								<a class="glyphicon glyphicon-th-list" tooltip="Side Menus" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.sidebarModule.sidemenu" ng-class="(data.modules.sidebarModule.sidemenu == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-shopping-cart" tooltip="Featured Products" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.contentModule.featured_products" ng-class="(data.modules.contentModule.featured_products == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-cog" tooltip="Featured Services" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.contentModule.featured_services" ng-class="(data.modules.contentModule.featured_services == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-star-empty" tooltip="Featured Projects" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.contentModule.featured_projects" ng-class="(data.modules.contentModule.featured_projects == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a class="glyphicon glyphicon-star" tooltip="Featured Properties" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="data.modules.contentModule.featured_properties" ng-class="(data.modules.contentModule.featured_properties == true) ? 'text-success' : 'text-muted'" ></a>
								
								<a ng-model="data.seo" ng-class="(ind[$index + data.url + 'seo']) ? 'text-success open' : 'text-muted'" >
									<span tooltip="Edit SEO" class="glyphicon glyphicon-flash" ng-click="ind[$index + data.url + 'seo'] = !ind[$index + data.url + 'seo']"></span>
									<span class="dropdown-menu" ng-show="ind[$index + data.url + 'seo']">
									<span class="close" ng-click="ind[$index + data.url + 'seo'] = false">X</span>
										
										<form name="seo" role="form" class="form-horizontal panel panel-default">
											<div class="form-group">
											<div class="col-sm-12">
											<input type="text" class="form-control" ng-model="data.seo.title" placeholder="SEO Title"/>
											</div>
											</div>
											<div class="form-group">
												<div class="col-sm-6">
												<textarea class="form-control" type="text" ng-model="data.seo.keywords" placeholder="SEO Keywords"></textarea>
												</div>
												<div class="col-sm-6">
												<textarea class="form-control" type="text" ng-model="data.seo.description" placeholder="SEO Description"></textarea>
												</div>
											</div>
										</form>
									</span>
								</a>
								
									<a type="button" class="glyphicon glyphicon-plus" tooltip="Add SubMenu" btn-checkbox btn-checkbox-true="true" ng-click="isCollapsed = !isCollapsed" btn-checkbox-false="false" ng-click="isCollapsed = !isCollapsed">
									</a>
								
									<div collapse="isCollapsed">
										<div class="well well-lg">
										<h1>WelCome to Submenu</h1>
										</div>
									</div>
							</span>
							<span ng-click="ind[$index + data.url] = !ind[$index + data.url]" ng-class="(!ind[$index + data.url]) ? 'pull-right glyphicon glyphicon-pencil' : 'glyphicon glyphicon-ok'" aria-hidden="true"></span>
							<div ng-if="data.childMenu">
								<div as-sortable="dragControlListeners" ng-model="data.childMenu">
									<div class="menudiv childMenu" collapse="isCollapsed" ng-repeat="data in data.childMenu" ng-include="'tree_item_renderer.html'" as-sortable-item>
										<span class="caret pull-right" ng-if="data.childMenu"></span>
									</div>
								</div> 
							</div> 
						</script>
						<div class="list-group" as-sortable="dragControlListeners" ng-model="websetting.config.menus">
							<div class="list-group-item menudiv" ng-repeat="data in websetting.config.menus" ng-include="'tree_item_renderer.html'" as-sortable-item>
							</div>
						</div>
				</accordion-group>
				<accordion-group heading="Sidebar Menus">
					<div class="form-group panel panel-default">
							<div class="form-group">
								<button ng-show="isCollapseds" class="btn btn-primary col-sm-offset-3" ng-click="isCollapseds = !isCollapseds">Add SideBar</button>
								<button ng-show="!isCollapseds" class="btn btn-primary col-sm-offset-3" ng-click="isCollapseds = !isCollapseds;addToObject(sidebar, websetting.config.sidebar, 'sidebar')">Add SideBar</button>
							</div>
						<div class="form-group panel-body">
						<div collapse="isCollapseds">
							<form name="seo" role="form" class="form-horizontal panel panel-default">
							<div class="well well-lg">
							<h4>Sidebar</h4>
								<div class="form-group">
									<div class="col-sm-6">
										<input type="text" class="form-control" id="sidebarname" name="sidebarname" ng-model="sidebar.name" placeholder="Name"/>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="sidebarurl" name="sidebarurl" ng-model="sidebar.url" placeholder="URL" />
									</div>
								</div>
								<h4>Seo</h4>
								<div class="form-group">
										<div class="col-sm-12">
											<input type="text" class="form-control" id="seotitle" name="seotitle" ng-model="sidebar.seo.title" placeholder="Title"/>
											<input type="hidden" class="form-control" id="status" name="status" ng-model="sidebar.status" ng-init="sidebar.status = 1"/>
										</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<textarea type="text" class="form-control" id="keywords" name="keywords" ng-model="sidebar.seo.keywords" placeholder="Keywords">
										</textarea>
									</div>
									<div class="col-sm-6">
										<textarea type="text" class="form-control" id="description" name="description" ng-model="sidebar.seo.description" placeholder="Description"></textarea>
									</div>
								</div>
							</div> 
							</form>
						</div>
						<div class="list-group" as-sortable="dragControlListeners" ng-model="websetting.config.sidebar">
							<div class="list-group-item menudiv" ng-repeat="data in websetting.config.sidebar" ng-include="'tree_item_renderer.html'" as-sortable-item>
							</div>
						</div>
						</div>
					</div>
				</accordion-group>
			</div>	
			<div class="panel-panel-default">
				<div class="form-group panel-body" ng-click="getMapObject()">
					<div class="col-sm-12 panel-body" id="map_canvas">
						<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" control="googleMap">
							<ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="TOP_LEFT"></ui-gmap-search-box>
							<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
						</ui-gmap-google-map>
					</div>
				</div>
			</div>
		</form>
		</div>
		</div> 
	</div>	
</div>