<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
	<div class="row">
		<div class="col-sm-12">
			<div class="text-right">
				<a ng-if="permission.website_list" href="#/dashboard/websites/websiteslist" class="btn btn-default">Website List</a>
				<a ng-if="permission.request_site" href="#/dashboard/websites/requestnewsite" class="btn btn-default">Request New Site</a>
				<a ng-if="permission.requested_sites" href="#/dashboard/websites/requestedsitelist" class="btn btn-default">Requested Site List</a>
			</div>
		</div>
		
		<div class="col-sm-12">
			<div class="bottomspace">
				<h3 class="border-bottom bottomspace text-center">Website Setting</h3>
				<div class="col-sm-12 bottomspace text-right">
				<button type="submit" class="btn btn-primary" ng-disabled="websettingsForm.$dirty && websettingsForm.$invalid" ng-click="editWebsitedetails(websetting)">Update</button>
				<a href="#/dashboard/websites/websiteslist" type="button" class="btn btn-danger">Cancel</a>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-5">
					<h4 class="text-center">Contact</h4>
					</div>
					<div class="col-sm-3">
					<h4 class="text-center">Menus</h4>
					</div>
					<div class="col-sm-4">
					<h4 class="text-center">Social Links</h4>
					</div>
				</div>	
				
					<form name="websettingsForm" class="form-horizontal clearfix  role="form" novalidate="novalidate" ng-submit="websettingsForm.$valid">
						<div class="bottomspace col-sm-5 panel panel-default">
							<div class="form-group">
								<input type="hidden" ng-model="config.website_id"/>
								<label for="" class="col-sm-2 control-label"></label>
								<div class="col-sm-5"> 
									<div class="bottomspace">
									<label  for="selectbusiness" class="col-sm-2 control-label">Business</label>
									<select id="selectBusiness" class="form-control" ng-model="websetting.business_id" ng-options="item.id as item.business_name for item in businessList">
										<option value="">Select Business</option>
									</select>
									</div>
								</div>
								<div class="col-sm-5"> 
									<div class="bottomspace">
									<label  for="selectbusiness" class="col-sm-2 control-label">Template</label>
									<select id="selectTemplate" class="form-control" ng-model="websetting.template_id" ng-options="item.id as item.template_name for item in templateList"> 
										<option value="">Select Template</option>
									</select>
									</div>
								</div>	
							</div>
							
							<div class="form-group">
								<label for="contact_name" class="col-sm-2 control-label">Name*</label>	
									<div class="col-sm-10">
										<input type="text" id="contact_name" class="form-control" name="contact_name" placeholder="Name" ng-model="websetting.config.contact_details.contact_name" required >
											<span class="help-block" ng-show="websettingsForm.contact_name.$dirty && websettingsForm.contact_name.$invalid">
											<span class="text-danger" ng-show="websettingsForm.contact_name.$error.required">Contact Name Required.</span>
											</span>
									</div>
							</div>
							
							<div class="form-group">
								<label for="contact" class="col-sm-2 control-label">Number*</label>
								<div class="col-md-10">
									<input type="text" id="contact" name="contact" class="form-control" ng-model="websetting.config.contact_details.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
										<span class="help-block" ng-show="websettingsForm.contact.$dirty && websettingsForm.contact.$invalid">
										<span ng-show="websettingsForm.contact.$error.pattern && (websettingsForm.contact.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
										</span>
								</div>						
							</div>
							
							<div class="form-group">	
								<label  for="contact_email" class="col-sm-2 control-label">Email*</label>	
								<div class="col-sm-10">
									<input type="Email" class="form-control" id="contact_email" ng-model="websetting.config.contact_details.contact_email" name="contact_email" placeholder="Enter Email" required >
									<span class="help-block" ng-show="websettingsForm.contact_email.$dirty && websettingsForm.contact_email.$invalid">
									<span ng-show="websettingsForm.contact_email.$error.required" class="text-danger"> Email is required.</span>
									<span ng-show="websettingsForm.contact_email.$error.email" class="text-danger">Invalid Email address.</span>
									</span>
								</div>					
							</div>
							
							<div class="form-group">
								<label for="" class="col-sm-2 control-label"></label>
								<div class="col-sm-5"> 
									<div class="bottomspace">
									<label  for="Latitude" class="col-sm-2 control-label">Latitude</label>
									<input type="text" id="Latitude" class="form-control" name="google_map" placeholder="Google Latitude" ng-model="websetting.config.google_map.latitude" readonly />
									<span class="text-danger" ng-show="websettingsForm.Latitude.$dirty && websettingsForm.Latitude.$invalid">
										<span ng-show="websettingsForm.Latitude.$error.required">Domain Name is required.</span>
									</span>
									</div>
								</div>

								<div class="col-sm-5"> 
									<div class="bottomspace">
									<label  for="Longitude" class="col-sm-2 control-label">Longitude</label>
									<input type="text" id="Longitude" class="form-control" name="Longitude" placeholder="Google Latitude" ng-model="websetting.config.google_map.longitude" readonly >
										<span class="text-danger" ng-show="websettingsForm.Longitude.$dirty && websettingsForm.Longitude.$invalid">
											<span ng-show="websettingsForm.Longitude.$error.required">Domain Name is required.</span>
										</span>
									</div>
								</div>									
							</div>
						</div>
						
						
						<div class="col-sm-3" ng-init="ind = []">
							<script type="text/ng-template"  id="tree_item_renderer.html">
									<span as-sortable-item-handle class="glyphicon glyphicon glyphicon-move" ></span>
									
									<input ng-show="ind[$index + data.url]" type="text" ng-model="data.name" />
									
									<span ng-show="!ind[$index + data.url]" ng-click="ind[$index + data.url] = !ind[$index + data.url]" tooltip="{{data.url}}">{{data.name}}</span>
									
									<span ng-click="ind[$index + data.url] = !ind[$index + data.url]" ng-class="(!ind[$index + data.url]) ? 'pull-right glyphicon glyphicon-pencil' : 'pull-right glyphicon glyphicon-ok'" aria-hidden="true"></span>
									
									<span>{{data.status}}</span>
									
									<ul  ng-if="data.childMenu" as-sortable="dragControlListeners" ng-model="data.childMenu">
										<li ng-repeat="data in data.childMenu" ng-include="'tree_item_renderer.html'" as-sortable-item>
											<span class="caret pull-right" ng-if="data.childMenu"></span>
										</li>
									</ul> 
							</script>
							<ul class="list-group" as-sortable="dragControlListeners"ng-model="websetting.config.menus">
								<li class="list-group-item" ng-repeat="data in websetting.config.menus" ng-include="'tree_item_renderer.html'" as-sortable-item>
								</li>
							</ul>
						</div>
											
						<div class="col-sm-4 panel panel-default">
							<div class ="form-group panel-body">	
								<label  for="facebook" class="col-sm-3 control-label">Facebook</label>	
								<div class="col-sm-9">
									<input type="text" class="form-control" id="facebook" ng-model="websetting.config.sociallinks.facebook" name="facebook" />
								</div>					
							</div>
							
							<div class="form-group panel-body">	
								<label  for="google" class="col-sm-3 control-label">Google</label>	
								<div class="col-sm-9">
									<input type="text" class="form-control" name="google" id="google" ng-model="websetting.config.sociallinks.google"  />
								</div>					
							</div>
							
							<div class="form-group panel-body">	
								<label  for="twitter" class="col-sm-3 control-label">Twitter</label>	
								<div class="col-sm-9">
									<input type="text" class="form-control" id="twitter" name="twitter" ng-model="websetting.config.sociallinks.twitter"  />
								</div>					
							</div>
							
							<div class="form-group panel-body">	
								<label  for="linkedin" class="col-sm-3 control-label">LinkedIn</label>	
								<div class="col-sm-9">
									<input type="text" class="form-control" id="linkedin" name="linkedin" ng-model="websetting.config.sociallinks.linkedin"  />
								</div>					
							</div>
						</div>
						
						<div class="panel-panel-default">
							<div class="form-group panel-body" ng-click="getMapObject()">
								<div class="col-sm-12 panel-body" id="map_canvas">
									<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" control="googleMap">
										<ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="TOP_LEFT"></ui-gmap-search-box>
										<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
									</ui-gmap-google-map>
								</div>
							</div>
						</div>
					</form>
			</div>
		</div> 
	</div>	
</div>