<div class="row">
	<div class="col-sm-12">
	<div class="bottomspace">
		<div class="product">
			<h3 class="col-sm-offset-2 col-sm-9">Add New Products</h3>
			<form class="form-horizontal" role="form" name="addproductForm" novalidate="novalidate">
				<div class="form-group">
					<label for="prodName" class="col-sm-2 control-label">Product Name </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="prodName" name="prodName" ng-model="addproduct.prodName" placeholder="Enter Product Name here" required>
						<span class="help-block" ng-show="addproductForm.prodName.$dirty && addproductForm.prodName.$invalid">
							<span ng-show="addproductForm.prodName.$error.required" class="text-danger">Product name is required</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="productLogo" class="col-sm-2 control-label">Select Image </label>
					<div class="col-sm-9">
						<input type="file" id="productLogo" name="productLogo"><img src="">
					</div>
				</div>
				
				<div class="form-group">
					<label for="prodGroup" class="col-sm-2 control-label" name="prodGroup" >Product Group </label>
					<div class="col-sm-9">
						<select class="form-control" name="prodGroup" id="prodGroup"  ng-model="prodGroup" required>		
							<option value="">Select Product Group </option>
							<option value="India">India</option>
							<option value="Australia">Australia</option>
							<option value="China">China</option>
							<option value="America">America</option>
							<option value="Belgium">Belgium</option>
						</select>
						<span class="help-block" ng-show="addproductForm.prodGroup.$dirty && addproductForm.prodGroup.$invalid">
						<span ng-show="addproductForm.prodGroup.$error.required" class="text-danger">Sender Product Group </span>
						</span>				
					</div>
				</div>	
				
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="productDescp">Product Description 
					</label>
					<div  class="col-sm-9">
						<textarea type="text" class="form-control" id="productDescp" name="productDescp" ng-model="addproduct.productDescp" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Product Description" ui-tinymce required>
						</textarea>
							<p ng-hide="addproductForm.productDescp.$error.maxlength">
								{{ 20 - addproduct.productDescp.length + " Chars left" }}
							</p>
							
							<span class="help-block" ng-show="addproductForm.productDescp.$dirty && addproductForm.productDescp.$invalid">
								<span class="text-danger" ng-show="addproductForm.productDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addproductForm.productDescp.$error.required" class="text-danger">Product Description is required.</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<a href="#/products/products" class="btn btn-default btn-success" title="submit">
						Add Product</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	</div>
</div>