<div class="row bottomspace">
	<div class="col-md-12">
		<div class="product">
			<form class="form-horizontal" role="form" name="myForm" novalidate="novalidate">
				<div class="form-group">
					<label for="prodName" class="col-sm-3 control-label">Product Name :</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="prodName" name="prodName" placeholder="Enter Product Name here" ng-model="prodName" required>
						<span style="color:red" ng-show="myForm.prodName.$dirty && myForm.prodName.$invalid">
							<span ng-show="myForm.prodName.$error.required">Product name is required</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="productLogo" class="col-sm-3 control-label">Select Image :</label>
					<div class="col-sm-9">
						<input type="file" id="productLogo" name="productLogo"><img src="">
					</div>
				</div>
				<div class="form-group">
					<label for="prodGroup" class="col-sm-3 control-label">Product Group :</label>
					<div class="col-sm-9">
						<select class="form-control" id="prodGroup" ng-model="prodGroup" required>
							<option value="">Select Heading</option>
							<option value="abc">abc</option>
							<option value="xyz">xyz</option>
							<option value="pqr">pqr</option>
							<option value="stu">stu</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="servDescp">Product Description :
					</label>
					<div  class="col-sm-9">
						<textarea id="productDescp" name="productDescp" ng-model="productDescp" rows="3" required maxlength="30" class="form-control" ui-tinymce>
						</textarea>
						<div>{{ 20 - productDescp.length + " Chars left" }}</div>
						<span style="color:red" ng-show="form1.productDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
						
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<a href="#/products/products" class="btn btn-default btn-success" title="submit">
						Add Product</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>