<div class="row">
	<div class="col-sm-12">
	<div class="bottomspace">
		<div class="product">
			<h3 class="col-sm-offset-2 col-sm-9">Add New Services</h3>
			<form class="form-horizontal" role="form" name="addserviceForm" novalidate="novalidate">
				<div class="form-group">
					<label for="serviceName" class="col-sm-2 control-label">Service Name :</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="serviceName" name="serviceName" ng-model="service.serviceName" placeholder="Enter Service Name here" required>
							<span style="color:red" ng-show="addserviceForm.serviceName.$dirty && addserviceForm.serviceName.$invalid">
								<span ng-show="addserviceForm.serviceName.$error.required">Service name is required</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<label for="servicelogo" class="col-sm-2 control-label">Select Image :</label>
					<div class="col-sm-9">
						<input type="file" id="servicelogo" name="servicelogo"><img src="">
					</div>
				</div>
				<div class="form-group">
					<label for="serviceGroup" class="col-sm-2 control-label">Service Group :</label>
					<div class="col-sm-9">
						<select class="form-control" id="serviceGroup" ng-model="service.serviceGroup" required>
							<option value="Group Items">Select Heading</option>
							<option value="abc">abc</option>
							<option value="xyz">xyz</option>
							<option value="pqr">pqr</option>
							<option value="stu">stu</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="servDescp">Service Description :
					</label>
					<div  class="col-sm-9">
						<textarea type="text" class="form-control" id="servDescp" name="servDescp" ng-model="addserv.servDescp" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Service Description" ui-tinymce required>
						</textarea>
							<p ng-hide="addserviceForm.servDescp.$error.maxlength">
								{{ 20 - addserv.servDescp.length + " Chars left" }}
							</p>
							<span style="color:red" ng-show="addserviceForm.servDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
							<span style="color:red" ng-show="addserviceForm.servDescp.$dirty && addserviceForm.servDescp.$invalid">
								<span ng-show="addserviceForm.servDescp.$error.required">Service Description is required.</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<a href="#/products/products" class="btn btn-default btn-success" title="submit">
						Add Service</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
</div>
