<div class="row bottomspace">
	<div class="col-md-12">
		<div class="product">
			<form class="form-horizontal" role="form" novalidate="novalidate" name="myForm">
				<div class="form-group">
					<label for="servicelogo" class="col-sm-3 control-label">Select Image :</label>
					<div class="col-sm-9">
						<img src="img/user.png"/>
						<input type="file" id="servicelogo" name="servicelogo">
					</div>
				</div>
				<div class="form-group">
					<label for="serviceName" class="col-sm-3 control-label">Service Name :</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="serviceName" placeholder="Enter Service Name here" required ng-modal="serviceName" name="serviceName">
							<span style="color:red" ng-show="myForm.serviceName.$dirty && myForm.serviceName.$invalid">
								<span ng-show="myForm.serviceName.$error.required">Service name is required</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<label for="serviceGroup" class="col-sm-3 control-label">Service Group :</label>
					<div class="col-sm-9">
						<select class="form-control" id="serviceGroup" ng-model="serviceGroup" required>
							<option value="Group Items">Select Heading</option>
							<option value="abc">abc</option>
							<option value="xyz">xyz</option>
							<option value="pqr">pqr</option>
							<option value="stu">stu</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="servDescp">Service Description :
					</label>
					<div  class="col-sm-9">
						<textarea id="servDescp" name="servDescp" ng-model="servDescp" rows="3" required ng-minlength="5" ng-maxlength="10" class="form-control" ui-tinymce>
						</textarea>
						<span style="color:red" ng-show="myForm.servDescp.$dirty && myForm.servDescp.$invalid">
						<span ng-show="myForm.servDescp.$error.required" class="required">Plz Enter Description for Service</span>
						<span ng-show="myForm.servDescp.$error.minlength">Plz Enter minimum 5 character</span>
						<span ng-show="myForm.servDescp.$error.maxlength">You have exceed limit</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<a href="#/products/products" class="btn btn-default btn-success" title="submit">
						Add Service</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
