<div class="row">		
	<div class="col-md-12">	
		<div class="main-content">
			<ng-include src="'modules/business/toolbar.html'"></ng-include>
			<div class="row bottomspace">
				<div class="col-md-3">
					<select id="biz" class="form-control" ng-model="biz"> 
						<option value="">Select Business</option>			
						<option value="-id">Business1</option>
						<option value="id">Business2</option>  
					</select>
				</div>
				<div class="col-md-3">
					<select id="view" class="form-control" ng-model="view"> 
						<option value="">Product/Services</option>			
						<option value="-id">Product</option>
						<option value="id">Services</option>  
					</select>
				</div>
				<div class="col-md-6 text-right">
					<a href="#" class="btn btn-default">Add Product</a>
					<a href="#" class="btn btn-default">Add Service</a>
				</div>
			</div>
			<ng-include src="'modules/business/products/addproducts.html'"></ng-include>
			<ng-include src="'modules/business/products/addservices.html'"></ng-include>
			<ng-include src="'modules/business/products/productlist.html'"></ng-include>
		</div>
	</div>
</div>



	
