<div class="row">		
	<div class="col-sm-12">	
		<div class="main-content">
				<div class="bottomspace">
					<ng-include src="'modules/business/toolbar.html'"></ng-include>
				<div class="bottomspace">
					<div class="row">
						<div class="col-sm-3">
							<select id="biz" class="form-control" ng-model="biz"> 
								<option value="">Select Business</option>			
								<option value="-id">Business1</option>
								<option value="id">Business2</option>  
							</select>
						</div>
						<div class="col-sm-3">
							<select id="view" class="form-control" ng-model="view"> 
								<option value="">Product/Services</option>			
								<option value="-id">Product</option>
								<option value="id">Services</option>  
							</select>
						</div>
						<div class="col-sm-6">
							<div class="text-right">
								<a href="#/dashboard/business/addproducts" class="btn btn-default">Add Product</a>
								<a href="#/dashboard/business/addservices" class="btn btn-default">Add Service</a>
							</div>
						</div>
					</div>
				</div>
				<ng-include ng-if="prodPart=='addproducts'" src="'modules/business/addproducts.html'"></ng-include>	
					<!--<ng-include src="'modules/business/products/addproducts.html'"></ng-include>
					<ng-include src="'modules/business/products/addservices.html'"></ng-include>
					<ng-include src="'modules/business/products/productlist.html'"></ng-include>
					<ng-include src="'modules/business/products/servicelist.html'"></ng-include>-->
		</div>
		</div>
	</div>
</div>



	
