{% autoescape false %}
	{% if data.gallery | length >= 1 %}
	<div class="row" id="gall">
		
		{% set break = 0 %}{% set i = 0 %}
		{% for key, value in data.gallery if break == 0 %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="thumbnail">
						<img class="img-responsive" src="{{value.image.file_relative_path}}" alt="{{key}}" />
					</div>
				</div>
			{% set i = (i + 1) %}
			{% if i == 3 %}
				{% set break = 1 %}
			{% endif %}
		{% endfor %}
		{% set break = 0 %}{% set i = 4 %}
		{% for key, value in data.gallery if break == 0 %}
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="thumbnail">
						<img class="img-responsive" src="{{value.image.file_relative_path}}" alt="{{key}}" />
					</div>
				</div>
			{% set i = (i + 1) %}
			{% if i == 6 %}
				{% set break = 1 %}
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
{% endautoescape %}