<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
	
	
		<title>assignment</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>		
		<script src="js/gtm.js"></script>
		
	</head>	
<body>
<div class="glob_wrap">
	<header>
		<div class="container ">
			<div class="row nav_row">
				<div class="col-lg-12">
						<div class="black">
							<nav id="main_nav" class="navbar navbar-inverse nav_center">
									  <ul id="ul_id" class="nav navbar-nav">
										{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}									
									  </ul>
								</nav>

						</div>
				</div>
			</div>
		</div>	
	</header>
			<div class="logo_div"><img src='images/logo.png'></div>
			<!-- jquery slider -->
			
	<div class="row">
		<div class="col-lg-12">
		<article>
			
				<ul class="splash" title="Use keyboard left, right arrows to navigate.">
					<li><a href="" class="desktop-only"><img class="img_class" src="images/splash_pic1.jpg" alt="Image 1"></a>	
					</li>
					<li><a href="" class="desktop-only"><img class="img_class" src="images/splash_pic2.jpg" alt="Image 2"></a>	
					</li>
					<li><a href="" class="desktop-only"><img class="img_class" src="images/splash_pic3.jpg" alt="Image 3"></a>
					</li>
					<li><a href="" class="desktop-only"><img class="img_class" src="images/splash_pic4.jpg" alt="Image 4"></a>
					</li>
					<li><a href="" class="desktop-only"><img class="img_class" src="images/splash_pic5.jpg" alt="Image 5"></a>	
					</li>

				</ul>
				<a href="http://livedemo00.template-help.com/wt_51116/#" class="prevButton"><span></span></a>
				<a href="http://livedemo00.template-help.com/wt_51116/#" class="nextButton"><span></span></a>
			
		</div>
			
		</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="follow-links">
						<li><a href="./"><span class="glyphicon glyphicon-home"></span></a></li>
						<li><a href="http://facebook.com/"><i class="glyphicon glyphicon-facebook"></i></a></li>
						<li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="./" class="fa fa-pinterest"></a></li>
						<li><a href="./" class="fa fa-linkedin"></a></li>
					</ul>
					<div class="copyright">&copy; <span id="year"></span> <span class="font_sz">&bull;</span> <a href="./privacy.html">Privacy Policy</a><br><!-- {%FOOTER_LINK} --></div>
				</div>
			</div>
		</div>
	</footer>
</div><!-- glob_wrap -->

</body>
</html>