<div class="sociallinks">
	<ul>
		{% if data.website_config.sociallinks.facebook %}
			<li>
				<a href="{{data.website_config.sociallinks.facebook}}" target="_blank"><!-- <img src="{{path}}img/facebook.jpg" class="img-circle"> --><span class="social fb"></span>facebook</a>
			</li>
		{% endif %}
		{% if data.website_config.sociallinks.google %}
			<li>
				<a href="{{data.website_config.sociallinks.google}}" target="_blank"><!-- <img src="{{path}}img/google.jpg" class="img-circle"> --><span class="social lkdin"></span>google</a>
			</li>
		{% endif %}
		{% if data.website_config.sociallinks.twitter %}
			<li>
				<a href="{{data.website_config.sociallinks.twitter}}" target="_blank"><!-- <img src="{{path}}img/twitter.jpg" class="img-circle"> --><span class="social gplus"></span>twitter</a>
			</li>
		{% endif %}
		{% if data.website_config.sociallinks.linkedin %}
			<li>
				<a href="{{data.website_config.sociallinks.linkedin}}" target="_blank"><!-- <img src="{{path}}img/linkedin.jpg" class="img-circle"> --><span class="social twit"></span>linkedin</a>
			</li>
		{% endif %}
	</ul>
</div> 