@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('../fonts/AlexBrush-Regular.ttf');
}
.featured_services .sections {
  border: none;
  background: none;
  box-shadow: 0 0 0;
}
.featured_services .services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.featured_services .services .servimage:hover {
  border: 4px solid #e6b800;
}
.featured_services .services .servdesc {
  height: 220px;
}
.featured_services .services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.featured_services .services .servdesc .readmore {
  text-align: center;
  margin-top: 10px;
}
.products .thumbnail {
  background-color: transparent !important;
  border: 1px solid transparent;
  height: 440px;
  overflow: hidden;
}
.products .thumbnail .prodimg {
  height: 172px;
  width: 211px;
  overflow: hidden;
  margin: 0 auto;
}
.products .thumbnail .prodimg img {
  min-height: 172px;
  width: 100%;
  border: 2px solid transparent;
  padding: 4px;
  border: 6px solid rgba(255, 255, 0, 0.3);
}
.products .thumbnail .prodimg img:hover {
  -webkit-filter: grayscale(100%);
}
.products .thumbnail .caption {
  height: 182px;
  margin-bottom: 10px;
  color: #ffffff;
}
.products .thumbnail .caption .description {
  height: 75px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  text-align: center;
}
.thumbnail {
  background-color: transparent !important;
  border: 1px solid transparent;
  height: 432px;
}
.thumbnail .infraImg {
  height: 258px;
  width: 317px;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid rgba(255, 255, 0, 0.3);
}
.thumbnail .infraImg img {
  min-height: 258px;
  width: 100%;
  padding: 4px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.thumbnail .infraImg img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.thumbnail .caption {
  height: 138px;
  color: #ffffff;
}
strong {
  font-size: 17px;
}
h4 {
  font-family: 'AlexBrush-Regular';
  text-align: left;
  font-size: 25px;
  text-transform: lowercase;
}
.contact > h2 {
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #e6b800, 0 0 5px #e6b800 !important;
  font-family: 'AlexBrush-Regular';
  text-align: center;
  font-size: 36px;
  margin-top: 0px;
}
.contact > img {
  border: 2px solid rgba(255, 255, 0, 0.3) !important;
}
.enquiry > h3 {
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #e6b800, 0 0 5px #e6b800 !important;
  font-family: 'AlexBrush-Regular';
  text-align: center;
  font-size: 36px;
}
#googleMap {
  margin-top: 10px;
  height: 395px;
}
.panel-default,
.form-control {
  color: transparent !important;
  background-color: transparent ;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  margin-top: 0px;
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 22px;
  line-height: 40px;
  font-family: Times New Roman,Serif;
  font-size: 55px;
}
.testimonial blockquote {
  height: 172px;
  padding-left: 35px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
}
.gallery .thumbnail {
  height: 184px;
  margin-bottom: 60px !important;
}
.gallery .thumbnail .glry {
  background-color: rgba(255, 255, 0, 0.3);
  height: 210px;
  width: 211px;
  overflow: hidden;
  margin: 0 auto;
}
.gallery .thumbnail .glry img {
  min-height: 210px;
  width: 100%;
  border: 2px solid transparent;
  padding: 4px;
  float: left;
  -webkit-transition-duration: 0.5s;
}
.gallery .thumbnail .glry img:hover {
  -webkit-transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 60px #e6b800;
}
.btn-info {
  background-color: rgba(255, 255, 0, 0.3);
  color: #e6b800;
  border: none;
}
.btn-info:hover {
  background-color: rgba(255, 255, 0, 0.3);
  color: #02071a;
}
p {
  color: #ffffff;
}
body {
  background-image: url(../img/middle.jpg);
  background-repeat: repeat;
  color: #ffffff !important;
}
h3 {
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #e6b800, 0 0 5px #e6b800 !important;
  color: #ffffff !important;
  font-family: 'AlexBrush-Regular';
  text-align: center;
  font-size: 100px;
  margin-top: 30px;
}
h2 {
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #e6b800, 0 0 5px #e6b800 !important;
  color: #ffffff !important;
  font-family: 'AlexBrush-Regular';
  text-align: center;
}
.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-nav .active > a {
  color: #e6b800;
  background-color: transparent !important;
}
.navbar-default .navbar-nav .active > a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #ffffff, 0 0 5px #e6b800 !important;
}
.navbar-default .navbar-nav li {
  text-transform: lowercase;
  font-family: 'AlexBrush-Regular';
  font-size: 25px;
}
.navbar-default .navbar-nav li > a {
  color: #e6b800;
}
.navbar-default .navbar-nav li > a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #e6b800, 0 0 5px #e6b800 !important;
}
.navbar-default .navbar-nav li:nth-child(1) {
  position: absolute;
  left: 100px;
  top: 141px;
}
.navbar-default .navbar-nav li:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -68px;
  top: -101px;
  height: 119px;
  width: 205px;
  background-image: url('../img/img1.png');
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav li:nth-child(2) {
  position: absolute;
  left: 286px;
  top: 205px;
}
.navbar-default .navbar-nav li:nth-child(2)::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -101px;
  height: 119px;
  width: 205px;
  background-image: url('../img/img1.png');
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav li:nth-child(3) {
  position: absolute;
  left: 512px;
  top: 141px;
}
.navbar-default .navbar-nav li:nth-child(3)::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -101px;
  height: 119px;
  width: 205px;
  background-image: url('../img/img1.png');
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav li:nth-child(4) {
  position: absolute;
  left: 726px;
  top: 205px;
}
.navbar-default .navbar-nav li:nth-child(4) > ul {
  display: none;
  list-style-type: none;
}
.navbar-default .navbar-nav li:nth-child(4)::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -101px;
  height: 119px;
  width: 205px;
  background-image: url('../img/img1.png');
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav li:nth-child(5) {
  position: absolute;
  left: 927px;
  top: 141px;
}
.navbar-default .navbar-nav li:nth-child(5)::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -101px;
  height: 119px;
  width: 205px;
  background-image: url('../img/img1.png');
  background-repeat: no-repeat;
}
.navbar {
  height: 90px;
  border-radius: none !important;
}
.navbar-toggle {
  border: 1px solid ;
  margin-top: 45px;
  background-color: #ffffff;
}
.navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 0, 0.3);
}
.navbar-collapse {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.mid-content::before {
  content: "";
  position: absolute;
  left: 141px;
  top: 660px;
  height: 275px;
  width: 237px;
  z-index: 99px;
  background-image: url('../img/p2.png');
  animation-name: cont1;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.mid-content::after {
  content: "";
  position: absolute;
  left: 992px;
  top: 438px;
  height: 170px;
  width: 237px;
  z-index: -99;
  background-image: url('../img/p1.png');
  animation-name: cont2;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes cont1 {
  0% {
    position: absolute;
    left: 0px;
  }
  100% {
    position: absolute;
    left: 141px;
  }
}
@keyframes cont2 {
  0% {
    position: absolute;
    left: 0px;
  }
  100% {
    position: absolute;
    left: 992px;
  }
}
.content {
  margin: 182px auto 0;
  float: none;
  background-color: rgba(26, 0, 0, 0.3);
  height: 484px;
  width: 765px;
  overflow: auto;
  z-index: 999;
}
.content.anim {
  display: block;
  animation-name: cont;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes cont {
  0% {
    position: relative;
    top: -200px;
    width: 750px;
    height: 0px;
    background-color: #ffffff;
  }
  100% {
    position: relative;
    top: 0px;
    height: 484px;
    width: 765px;
  }
}
.homeAboutus > h1 {
  text-shadow: 1px 1px 2px #e6b800, 0 0 25px #e6b800, 0 0 5px #e6b800 !important;
  font-family: 'AlexBrush-Regular';
  text-align: center;
}
footer .container > p {
  color: rgba(255, 255, 0, 0.3);
  padding-top: 10px;
}
footer .container > p a {
  color: rgba(255, 255, 0, 0.3);
  text-decoration: underline;
}
footer .container > p a:hover {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .content {
    background-color: rgba(26, 0, 0, 0.3);
    z-index: 999;
  }
  .content.anim {
    display: block;
    animation-name: cont;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .mid-content {
    background: transparent;
  }
  .mid-content::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 735px;
    height: 275px;
    width: 237px;
    background-image: url('../img/p2.png');
  }
  .mid-content::after {
    content: "";
    position: absolute;
    left: 804px;
    top: 503px;
    height: 170px;
    width: 237px;
    background-image: url('../img/p1.png');
  }
  .navbar-nav li:nth-child(1) {
    position: absolute;
    left: 45px !important;
    top: 141px;
  }
  .navbar-nav li:nth-child(1)::before {
    content: "";
    position: absolute;
    left: -68px;
    top: -101px;
    height: 119px;
    width: 205px;
    background-image: url('../img/img1.png');
    background-repeat: no-repeat;
  }
  .navbar-nav li:nth-child(2) {
    position: absolute;
    left: 213px !important;
    top: 205px;
  }
  .navbar-nav li:nth-child(2)::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -101px;
    height: 119px;
    width: 205px;
    background-image: url('../img/img1.png');
    background-repeat: no-repeat;
  }
  .navbar-nav li:nth-child(3) {
    position: absolute;
    left: 415px !important;
    top: 141px;
  }
  .navbar-nav li:nth-child(3)::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -101px;
    height: 119px;
    width: 205px;
    background-image: url('../img/img1.png');
    background-repeat: no-repeat;
  }
  .navbar-nav li:nth-child(4) {
    position: absolute;
    left: 625px !important;
    top: 205px;
  }
  .navbar-nav li:nth-child(4) > ul {
    display: none;
    list-style-type: none;
  }
  .navbar-nav li:nth-child(4)::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -101px;
    height: 119px;
    width: 205px;
    background-image: url('../img/img1.png');
    background-repeat: no-repeat;
  }
  .navbar-nav li:nth-child(5) {
    position: absolute;
    left: 815px !important;
    top: 141px;
  }
  .navbar-nav li:nth-child(5)::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -101px;
    height: 119px;
    width: 205px;
    background-image: url('../img/img1.png');
    background-repeat: no-repeat;
  }
  .enquiry > h3 {
    margin-top: 10px !important;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 60px;
  }
  .content {
    margin-top: 223px;
    margin-left: 0px;
    overflow: hidden;
    width: 304px;
  }
  .navbar-default .navbar-nav li:nth-child(1),
  .navbar-default .navbar-nav li:nth-child(2),
  .navbar-default .navbar-nav li:nth-child(3),
  .navbar-default .navbar-nav li:nth-child(4),
  .navbar-default .navbar-nav li:nth-child(5) {
    position: static;
  }
  .navbar-default .navbar-nav li:nth-child(1)::before,
  .navbar-default .navbar-nav li:nth-child(2)::before,
  .navbar-default .navbar-nav li:nth-child(3)::before,
  .navbar-default .navbar-nav li:nth-child(4)::before,
  .navbar-default .navbar-nav li:nth-child(5)::before {
    display: none;
  }
  .mid-content::before {
    display: none;
  }
  .mid-content::after {
    display: none;
  }
  .enquiry > h3 {
    margin-top: 10px !important;
  }
}
