body {
  background-color: #d3d3d3;
}
.container {
  background-color: #ffffff;
}
.navbar-default {
  background-color: #d3d3d3;
  border: none;
}
.navbar-default .nav {
  background: linear-gradient(#f44f00, #e82600);
}
.navbar-default .nav > li:hover {
  background-color: green;
}
.navbar-default .nav > li::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  display: inline-block;
  top: 50%;
  right: -4px;
  border-radius: 50%;
}
.navbar-default .nav > li:last-child::after {
  display: none;
}
.navbar-default .nav > li > a {
  color: #ffffff;
  height: 60px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: #02071a;
}
.fruit {
  border-bottom: 4px solid red;
  border-left: 4px solid green;
  border-left-top: 4px solid transparent;
}
