<div class="form-group">
	<div class="row">
		<div class="col-sm-12 text-right">
			<button ng-if="!infra" type="button" class="btn btn-default btn-primary" title="next" ng-click="update(businessData)">Save Details</button>
			<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra', 'custompage')">Add Custom Details</button>
		</div>
	</div>
</div>
	 
	<form name="custompageForm" ng-if="infra" role="form" class="form-horizontal" ng-submit="custompageForm.$valid" novalidate="novalidate"> 
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<button ng-if="infra && !headingDisabled" class="btn btn-default btn-primary" ng-click=	"addToObject(custompage, businessData.custom_details, 'custompage')" ng-disabled="custompageForm.$invalid">Add Custom Details</button>
				
				<button ng-if="infra && headingDisabled" class="btn btn-default btn-info" ng-click="addToObject(custompage, businessData.custom_details, 'custompage')">Edit Details</button>
				
				<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra')">
					<span ng-show="infra">Cancel</span>
				</button>
			</div>
		</div>
		
		<div class="form-group">
			<label  for="title" class="col-sm-3 control-label">Title *</label>
			<div class="col-sm-9">
				<input type="text" id="title" class="form-control" name="title" ng-model="custompage.heading" cols="20" rows="4" required ng-disabled="headingDisabled"/>
					<span class="text-danger" ng-show="custompageForm.title.$error.maxlength">
					Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="custompageForm.title.$dirty && custompageForm.title.$invalid">
					<span ng-show="custompageForm.title.$error.required">Title is required .</span>
			</div>
		</div>
	
		<div class="form-group">
			<label for="Desc" class="col-sm-3 control-label">Description*</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="Desc" name="Desc" ng-model="custompage.desc.description" cols="30" rows="4" ng-maxlength="10000" placeholder="Enter custompage Description" ui-tinymce required></textarea>
				<p ng-hide="custompageForm.Desc.$error.maxlength">
					{{ 10000 - custompage.desc.description.length + " Chars left" }}	
				</p>
				
				<span class="help-block" ng-show="custompageForm.Desc.$dirty && custompageForm.Desc.$invalid">
					<span class="text-danger" ng-show="custompageForm.Desc.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="custompageForm.Desc.$error.required" class="text-danger">custom details is required.</span>
				</span>	
			</div>
		</div>
		<div>
			<input type="hidden" name="custompage" ng-model="addbusiness.custompage" />
			<span class="help-block" ng-show="custompageForm.custompage.$dirty && custompageForm.custompage.$invalid">
				<span ng-show="custompageForm.custompage.$error.required" class="text-danger">Details is required.</span>
			</span>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-responsive " ng-if="businessData.custom_details" as-sortable="dragControlListeners">
				<tr>
					<th>Custom Detail Heading</th>
					<th>Remove</th>
				</tr>
				<tr ng-repeat="(key, value) in businessData.custom_details" as-sortable-item>
					<td>
						<span as-sortable-item-handle class="glyphicon glyphicon glyphicon-move"></span>
						<p>{{key}}
						<button class="btn btn-primary pull-right" tooltip="View Details">
						<span class="caret" ng-click="isCollapsed = !isCollapsed" ></span></button>
						</p>
						<div class="well well-lg clearfix" collapse="isCollapsed" as-sortable-item>
							<div><p ng-bind-html="value.description" ></p>
							</div> 
						</div>
					</td>
					<td class="col-sm-2">
						<button class="btn btn-success glyphicon glyphicon-pencil" ng-click="editObject(key,businessData.custom_details, custompage); showForm('infra')" tooltip="Edit Details"></button>
						
						<button class="btn btn-warning glyphicon glyphicon-trash" ng-click="removeObject(key,businessData.custom_details)" tooltip="Remove"></button>			
					</td>
				</tr>
			</table>
		</div>
	</div>
