<div class="form-group">
	<div class="row">
		<div class="col-sm-12 text-right">
			<button ng-if="!infra" type="button" class="btn btn-default btn-primary" title="next" ng-click="update(businessData)">Save Details</button>
			<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra', 'infrastructure')">Add Infrastucture</button>
		</div>
	</div>
</div>

	<form name="infrastructureForm" ng-if="infra" role="form" class="form-horizontal" ng-submit="infrastructureForm.$valid" novalidate="novalidate"> 
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<button ng-if="infra && !edit" class="btn btn-default btn-primary" ng-click=	"addToObject(infrastructure, businessData.infrastructure, 'infrastructure')" ng-disabled="infrastructureForm.$invalid">Add Infrastucture</button>
			
			<button ng-if="infra && edit" class="btn btn-default btn-info" ng-click="addToObject('edit', businessData.infrastructure, 'infrastructure')" title="Edit Infrastucture">Edit Details</button>
			
			<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra')">
				<span ng-show="infra">Cancel</span>
			</button>
		</div>
	</div>
	<div class="form-group">
		<label for="infra_image" class="col-sm-3 control-label">Add Images</label>
		<div class="col-sm-5">
			<input type="file" id="infra_image" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="upload(infra_image, businessData.user_id + path,userInfo, infrastructure.image)" ng-model="infra_image">
			<input type="hidden" ng-model="infrastructure.image">
		</div>
		
		<div class="col-sm-4" ng-if="infrastructure.image">
			<img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + '/' + infrastructure.image.file_relative_path}}" width="150px" />
		</div>
	</div>
	
	<div class="form-group">						 
		<div class="col-sm-9 col-sm-offset-3">
			<span class="thumbs" ng-if="infrastructure.image">
				<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + '/' + infrastructure.image.file_relative_path}}" ng-click="infrastructure.imgkey = key; "/>
				<span class="close" ng-click="removeImg(key, infrastructure.infra_image)">X</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="infraHeading" class="col-sm-3 control-label" name="infraHeading" >Infrastucture Heading*</label>
		<div class="col-sm-9">
			<select class="form-control" name="infraHeading" id="infraHeading"  ng-model="infrastructure.heading" required ng-options="item as item for item in biz.infrastructure">
				<option value="">Select Heading</option>					
			</select>
			
			<span class="help-block" ng-show="infrastructureForm.infraHeading.$dirty && infrastructureForm.infraHeading.$invalid">
		<span ng-show="infrastructureForm.infraHeading.$error.required" class="text-danger">Required Field.</span>
			</span>				
		</div>
	</div>	

	<div class="form-group">
		<label for="infraDesc" class="col-sm-3 control-label">Infrastucture Description*</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control" id="infraDesc" name="infraDesc" ng-model="infrastructure.description" cols="30" rows="4" ng-maxlength="5000" placeholder="Enter Infrastucture Description" ui-tinymce required></textarea>
			<p ng-hide="infrastructureForm.infraDesc.$error.maxlength">
				{{ 5000- infrastructure.description.length + " Chars left" }}	
			</p>
			
			<span class="help-block" ng-show="infrastructureForm.infraDesc.$dirty && infrastructureForm.infraDesc.$invalid">
				<span class="text-danger" ng-show="infrastructureForm.infraDesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="infrastructureForm.infraDesc.$error.required" class="text-danger">Required Field.</span>
			</span>	
		</div>
	</div>
	
	<div>
		<input type="hidden" name="infrastructure" ng-model="addbusiness.infrastructure" />
		<span class="help-block" ng-show="infrastructureForm.infrastructure.$dirty && infrastructureForm.infrastructure.$invalid">
			<span ng-show="infrastructureForm.infrastructure.$error.required" class="text-danger">Infrastucture Description is required.</span>
		</span>
	</div>
	</form>
	<div class="row">
		<div class="col-sm-12" ng-if="businessData.infrastructure.length >= 1">
			<div class="panel panel-default">
				<h5 class="text-center border-bottom"><b>Infrastucture</b></h5>
				<div as-sortable="dragControlListeners" ng-model="businessData.infrastructure">
					<div ng-repeat="value in businessData.infrastructure" as-sortable-item>
						<div class="clearfix border-bottom infras">
								<span as-sortable-item-handle class="pull-left glyphicon glyphicon-move"></span>
								<div class="pull-right">
								<div class="btn-group">
								<button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed" tooltip="View Details">
									<span class="caret"></span></button>
								</div>
								<div class="btn-group">
								<button class="btn btn-success glyphicon glyphicon-pencil pull-right one" ng-click="editObject(value, 'infrastructure'); showForm('infra')" tooltip="Edit Details"></button>
								</div>
								<div class="btn-group">
								<button class="btn btn-warning glyphicon glyphicon-trash pull-right one" ng-click="removeObject($index,businessData.infrastructure)" tooltip="Remove"></button>	
								</div>
								</div>
								<p>{{value.heading}}
								</p>
						</div>
							<div collapse="isCollapsed">
								<div class="well well-lg clearfix">
								<img class="pull-right" ng-src="{{appConfig.assetPath + '/' + value.image.file_relative_path}}" width="150px" />
								<p ng-bind-html="value.description"></p>
								</div> 
							</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>