	<div class="form-group">
		<div class="row">
			<div class="col-sm-12 text-right">
				<button ng-if="!infra" type="button" class="btn btn-default btn-primary" title="next" ng-click="update(businessData)">Save Details</button>
				<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra', 'news_coverage')">Add News Activity</button>
			</div>
		</div>
	</div>
	<form name="newscoverageForm" role="form" class="form-horizontal" ng-if="infra" ng-submit="newscoverageForm.$valid" novalidate="novalidate">
		<div class="form-group" >
			<div class="col-sm-9 col-sm-offset-3">
				<button ng-if="infra && !edit" class="btn btn-default btn-primary" ng-click=	"addToObject(news_coverage, businessData.news_coverage, 'news_coverage')">Add News Activity</button>
				
				<button ng-if="infra && edit" class="btn btn-default btn-info" ng-click="addToObject('edit', businessData.news_coverage, 'news_coverage')" title="Add Job/Career">Edit Details</button>
				
				<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra')"><span ng-show="infra">Cancel</span></button>
			</div>
		</div>

		<div class="form-group">
			<label  for="date" class="col-sm-3 control-label">Date*</label>
			<div class="col-sm-9">
				<p class="input-group">
			  <input class="form-control" type="text" id="date" name="date" datepicker-popup="yyyy-MM-dd" ng-model="news_coverage.date" is-open="selectDate" min-date="minDate" max-date="'2015-06-22'" ng-required="true" close-text="Close" ng-click="opendate($event, 'selectDate')" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"/>
					<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="opendate($event, 'selectDate')">
						<i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>	
			
		<div class="form-group">
			<label  for="medianame" class="col-sm-3 control-label">Media Name*</label>	
			<div class="col-sm-9">
				<input type="text" id="medianame" class="form-control" ng-model="news_coverage.medianame" name="medianame" placeholder="Media Name" required >
				<span class="help-block" ng-show="newscoverageForm.medianame.$dirty && newscoverageForm.medianame.$invalid">
					<span ng-show="newscoverageForm.medianame.$error.required" class="text-danger">Required Field.</span>
				</span>
			</div>						
		</div>

		<div class="form-group">
			<label for="mediatype" class="col-sm-3 control-label" name="mediatype">Media Type*</label>
			<div class="col-sm-9">
				<select class="form-control" name="mediatype" id="mediatype"  ng-model="news_coverage.mediatype" required ng-options="item as item for item in biz.media_type">		
					<option value="">Select Media Type</option>
				</select>
				<span class="help-block" ng-show="newscoverageForm.mediatype.$dirty && newscoverageForm.mediatype.$invalid">
					<span ng-show="newscoverageForm.mediatype.$error.required" class="text-danger">Required Field.</span>
				</span>				
			</div>
		</div>	

		<div class="form-group">
			<label  for="headline" class="col-sm-3 control-label">Headline*</label>		
			<div class="col-sm-9">
				<input type="text" id="headline" class="form-control" ng-model="news_coverage.heading" name="headline" placeholder="Headline" required ng-disabled="headingDisabled">
				<span class="help-block" ng-show="newscoverageForm.headline.$dirty && 	newscoverageForm.headline.$invalid">
					<span ng-show="newscoverageForm.headline.$error.required" class="text-danger">Required Field.</span>
				</span>
			</div>						
		</div>
		
		<div class="form-group">
			<label for="News" class="col-sm-3 control-label">News Coverage URL</label>
			<div class="col-sm-9">
				<input type="url" class="form-control" id="News" ng-model="news_coverage.news" name="News" placeholder="Enter News Coverage URL">
				<span class="help-block" ng-show="newscoverageForm.News.$dirty && 	newscoverageForm.News.$invalid">
					<span ng-show="newscoverageForm.News.$error.required" class="text-danger">Required Field.</span>
					<span ng-show="newscoverageForm.News.$error.url" class="text-danger">Invalid News Coverage URL.</span>
				</span>
				<span>e.g http://www.google.com</span>
			</div>						
		</div>

		<div class="form-group">
			<label for="newsdetails" class="col-sm-3 control-label">News Coverage Details*</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="newsdetails" name="newsdetails" ng-model="news_coverage.newsdetails" cols="30" rows="4" ng-maxlength="5000" placeholder="News Coverage Details" ui-tinymce required></textarea>
				
				<span ng-hide="newscoverageForm.newsdetails.$error.maxlength">{{ 5000 - news_coverage.newsdetails.length + " Chars left" }}</span>
				<span class="help-block" ng-show="newscoverageForm.newsdetails.$dirty && newscoverageForm.newsdetails.$invalid">
					<span class="text-danger" ng-show="newscoverageForm.newsdetails.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="newscoverageForm.newsdetails.$error.required" class="text-danger">Required Field.</span>
				</span>
			</div>
		</div> 
		
		<div class="form-group">
			<label for="image" class="col-sm-3 control-label">Add Images</label>
			<div class="col-sm-5">
				<input type="file" id="image" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="uploadnews(image, businessData.user_id + path,userInfo,news_coverage.image)" ng-model="image">
				<input type="hidden" ng-model="news_coverage.image">
			</div>
			
			<div class="col-sm-4" ng-if="news_coverage.image">
				<img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + '/' + news_coverage.image.file_relative_path}}" width="150px" />
			</div>
		</div>
	
		<div class="form-group">						 
			<div class="col-sm-9 col-sm-offset-3">
				<span class="thumbs" ng-if="news_coverage.image">
					<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + '/' + news_coverage.image.file_relative_path}}" ng-click="news_coverage.imgkey = key; "/>
					<span class="close" ng-click="removeImg(key, news_coverage.image)">X</span>
				</span>
			</div>
		</div>
	</form>
	
<div class="row">
	<div class="col-sm-12" ng-if="businessData.news_coverage.length>=1">
		<div class="panel panel-default">
		<h5 class="text-center border-bottom"><b>News Coverage</b></h5>
		<div as-sortable="dragControlListeners" ng-model="businessData.infrastructure">
			<div ng-repeat="value in businessData.news_coverage" as-sortable-item>
				<div class="clearfix border-bottom infras">
					<span as-sortable-item-handle class="pull-left glyphicon glyphicon glyphicon-move"></span>
					<div class="pull-right">
						<div class="btn-group">
						<button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed" tooltip="View Details">
						<span class="caret"></span></button>
						</div>
						<div class="btn-group">
						<button class="btn btn-success glyphicon glyphicon-pencil" ng-click="editObject(value,'news_coverage'); showForm('infra')" tooltip="Edit Details"></button>
						</div>
						<div class="btn-group">
						<button class="btn btn-warning glyphicon glyphicon-trash" ng-click="removeObject($index,businessData.news_coverage)" tooltip="Remove"></button>
						</div>
						</div>
						<p>{{value.heading}}</p>
						<div collapse="isCollapsed">
							<div class="well well-lg clearfix"><img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + value.image.file_relative_path}}" width="150px" /><br>		
								<b>Description:</b><p ng-bind-html="value.newsdetails">
							</div> 
						</div> 
				</div>
			</div>
		</div>
	</div>
	</div>
</div>