<!DOCTYPE html>
<html ng-app="myApp" ng-controller="enquiryController">
	<head>
		<link rel="stylesheet" href="../medicalTemplate/css/bootstrap.min.css">
		<link rel="stylesheet" href="../medicalTemplate/css/style.css">
		<script src="../medicalTemplate/js/jquery.min.js"></script>
		<script src="../medicalTemplate/js/bootstrap.min.js"></script>
		<script src="../medicalTemplate/js/angular.min.js"></script>
		<script src="../medicalTemplate/js/angular-route.min.js"></script>
		<script src="../medicalTemplate/js/script.js"></script>
		<title>Welcome </title>
		<meta name="fragment" content="!"/>
		<meta name="description" content="">
		<meta name="keywords" content="">
	</head>
	<body >
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
					   <div class="pull-right">
							<img ng-src="img/icon-twitter.png"/>
							<img ng-src="img/icon-facebook.png"/>
							<img ng-src="img/icon-youtube.png"/>
							<img ng-src="img/icon-skype.png"/>
							<img ng-src="img/icon-instagram.png"/>						
						</div>
					</div>
				</div>			
			</div>
		 </header> <!-- end header--> 
 
		<div class="section1">
			<div class="container">
				 <div class="row">
					<div class="col-sm-6">
						<img id="logo" ng-src="img/logo.png" />
					</div>	
					<div class="col-sm-6">
						<nav class="navbar navbar-default">				
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav" >
									<li><a href="#">HOME</a></li>
									<li><a href="#">BLOG</a></li>
									<li><a href="#" >CONTACT</a></li>
								</ul>
							</div>	
							
						</nav>	
					</div>	
				</div>			
			</div>
		</div> <!--end sec1-->

		<div class="section2">
			<div class="container">
				<div class="row">		    
					<div class="col-sm-12">
						<img id="logo"  ng-src="img/girl.jpg" />			
					</div>				
				</div>		
			</div>
		</div> <!--end sec2-->

		<div class="clear-fixed"></div>
		
		<div class="section3">
			<div class="container">
				<div class="row">		    
					<div class="col-sm-12">
						<h3 class="text-center">Get efficient health care you deserve</h3>
						<p class="text-center">Praesent justo dolor lobortis quis lobortis dignissim pulvinar</p> <div class="col-sm-4">
								<figure> 
									<img ng-src="img/img-01.png"/>						
									<figcaption>
										<h4>Diames kerane mias</h4>
										<p>Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla </p>
									</figcaption>
								</figure>					
						</div>
						
						<div class="col-sm-4">
								<figure> 
									<img ng-src="img/img-01.png"/>						
									<figcaption>
										<h4>Diames kerane mias</h4>
										<p>Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla </p>
									</figcaption>
								</figure>					
						</div>
						
						<div class="col-sm-4">
								<figure> 
									<img ng-src="img/img-01.png"/>						
									<figcaption>
										<h4>Diames kerane mias</h4>
										<p>Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla </p>
									</figcaption>
								</figure>					
						</div>
					</div>				
				</div>		
			</div>
		</div> <!--end sec3-->

		<div class="section4">
			<div class="container">
				<div class="row">		    
					<div class="col-sm-12">
						<img class="col-sm-9" id="logo" ng-src="img/banner-2.jpg" />			
					</div>				
				</div>		
			</div>
		</div> <!--end sec2-->

		<div class="section5">
			<div class="container">
				<div class="row Sec5Row">		    
					<div class="col-sm-12">
						<h3 class="text-center">LATEST NEWS</h3>
						<p class="text-center">Lorem ipsum dolor sit amet consectetuer adipiscing elit </p>
						
							<div class="col-sm-6 girls1">
								<img ng-src="img/girls.jpg"/>
								<span>12-10-2014 
								<h4>Diames kerane mias</h4>
								Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla </span><br>
								
								<a href="#" type="button" class="btn btn-primary">MORE ></a>
							</div>
							<div class="col-sm-6 girls1">
								<img ng-src="img/girls1.jpg"/>
								<span>12-10-2014 
									<h4>Interdum vitae dapibus</h4>
									Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuerdip isc ing elit. Pellentesque sed dolor. 
								</span>	<br>
								
									<a href="#" type="button" class="btn btn-primary" > MORE ></a>
							</div>
						</div>				
					</div>	
					<div class="row multiSpe">
						<div class="col-sm-12">
							<h3 class="text-center">Multi-specialty medical center services</h3>
							<p class="text-center">Lorem ipsum dolor sit amet consectetuer adipiscing elit </p>
							<div class="row Row1">
								<div class=" col-sm-6 firstCol">
								   <div class="row firstDiv ">
										<div  class="col-sm-3 ">
											<img ng-src="img/img-06.png"/> 
										</div>
										<div  class="col-md-9 firstDivCol">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<span>26 May,2013</span>				
										</div>  										
									</div>
									<div class="row">
										<div  class="col-sm-3">
											<img ng-src="img/img-08.png"/>
										</div>	
										<div  class="col-sm-9 firstDivCol">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<span>26 May,2013</span>						
										</div> 
									</div> 
								</div> <!-- end 1st div-->
								
								<div class="col-sm-6 firstCol">
									<div class="row firstDiv">
										<div  class="col-sm-3">
											<img ng-src="img/img-07.png"/> 
										</div>
										<div  class="col-md-9 firstDivCol">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<span>26 May,2013</span>
										</div>						
									</div>   			
									<div class="row">
										<div  class="col-sm-3">
											<img ng-src="img/img-09.png"/>
										</div>	
										<div  class="col-sm-9 firstDivCol">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<span>26 May,2013</span>					
										</div>
									</div>
								</div> <!-- end 2nd -->	
								
							</div>	<!-- end 3rd row-->	
						</div>	<!-- end 2nd col -->	
					</div><!-- end 2nd row -->	
			</div>
		</div>	
				
				
		<div class="section6">
			<div class="container">
				<div class="row">
				    <div class="col-sm-12">
						<div class="row sec6Row">
							<div class="col-sm-3">
								<img ng-src="img/img-10.png"/>
							</div>
							<div  class="col-md-9 aboutUs">					
								<h3>A FEW WORDS ABOUT US </h3>
								<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit </p>
										
								<p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auc to r ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros nulla, porta ut est in, cursus egestas velit. Cras quis bibendum </p>			
							</div>
						</div>	
						
						<div class="row banner3">					
							<div  class="col-sm-12 ">
								<img ng-src="img/banner-3.jpg"/> 
												
								<div class="bannerDisc">
									<h3 class="text-center">We enable patients to obtain investigational new drugs to treat serious diseases </h3>
									<p>Cras quis bibendum odio, in condimentum ante. Aliquam gravida mauris sed imperdiet porttitor. Vestibulum feugiat nulla id massa porta varius. Phasellus dui sem, volutpat quis dignissim vitae, auctor quis nunc. Duis malesuada, elit nec faucibus feugiat, ligula arcu porta erat, quis molestie justo nulla ac mi. Ut ultricies ante et nisl porttitor laoreet eget vitae turpisuis nec. </p> 	
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>	
		</div>		


		<div class="section7">
			<div class="container">
				<div class="row ">		    
					<div class="col-sm-12">
						<div class="row sec7Row">
							<div  class="col-sm-8 ">
								<h3>A FEW WORDS ABOUT US </h3>
								<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit </p>												
								<p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auc to r ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br>
								<a class="btn btn-primary">READ MORE</a>			
							</div>							
								<img ng-src="img/banner-4.jpg" class="col-sm-4"/> 
									
						</div>
						
						<div class="row Service">							
							<h2 class="text-center">24 hour service</h2>					
							<p>Duis malesuada, elit nec faucibus feugiat, ligula arcu porta erat, quis molestie justo nulla ac mi. Ut ultricies ante et nisl porttitor laoreet eget vitae turpis. </p>				
							
							<a href="#" class="btn btn-primary"> READ MORE</a>	
										
						</div>
						
						<div class="row testimonial">							
							<h3 class="text-center">testimonial </h3>
							<p class="text-center">Fusce consectetur aliquam erat, laoreet luctus purus </p>							
							
							<p class="para">  <img src="img/quotes.png" />  quotes Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapib us tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lore m. Vestibulum sed ante. Donec sagittis euismod purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros nulla, porta ut est in, cursus egestas </p>
							
							<h4>Camala Haddon</h4>
							<span>Patient</span> 					 			
						</div>
					</div>
				</div>
			</div>	
		</div>
		
		<footer>
			<div class="container">
				<div class="row">
					 <div class="col-md-12">
					 <h3 class="text-center">Addresses </h3>
					 <address class="text-center">
						<h5>The Company Name Web Touch India Solution's, Ravet Road, opp- BLAC College,Tathwade Pune.</h5>
						
						Freephone: 	+1 800 559 6580 ,<br>
						Contact No :9049508514,<br>
						FAX: 	+1 800 889 9898 ,<br>
						E-mail: 	vilas@wtouch.in<br>
						Website : <a href="www.wtouch.in">www.wtouch.in</a>
					</address>
					<hr/>
					<p>You're receiving this email because you signed up for<strong> medical </strong> or attended one of our events. You can unsubscribe from this email or change your email notifications. Online version is here. </p>
					<hr/>
					 <P class="text-center"><strong> wtouch&copy2015</strong> India Solution, Pune</p>
					 </div>
				</div>
			</div>
		</footer>	
	</body>
</html>