<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
		<div class="col-md-6">
			<h4>Current Assets</h4>
			<table class="table table-striped table-hover">
				<tr>
					<th>Account Name</th>
					<th>Balance</th>
				</tr>
				<tr ng-repeat="x in transaction_list">
					<td>{{x.account_name}}</td>
					<td>{{x.account_balance}}</td>
				</tr>
				<tr>
					<td>Total Balance</th>
					<td>{{getTotalBalance()}}</td>
				</tr>
			</table>
			<h4>Receivable</h4>
			<table>
				<tr>
					<td>{{getTotal()}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h4>Liabilities</h4>
			<table class="table table-striped table-hover">
				<tr>
					<th>Bill Id</th>
					<th>Due Amount</th>
				</tr>
				<tr ng-repeat="x in bill_list">
					<td>{{x.bill_id}}</td>
					<td>{{x.due_amount}}</td>
				</tr>
				<tr>
					<td>Total Balance</td>
					<td>{{getTotalBill()}}</td>
				</tr>
			</table>
			<h4>Payable</h4>
			<table>
				<tr>
					<td>{{getTotalBill()}}</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</div>