<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-md-6">
				<h3>Assets</h3>
				<h4>Current Assets</h4>
				<table class="table table-striped table-bordered table-hover">
					<tr>
						<th>Account Name</th>
						<th>Balance</th>
					</tr>
					<tr ng-repeat="x in transaction_list">
						<td>{{x.account_name}}</td>
						<td>{{x.account_balance}}</td>
					</tr>
					<tr>
						<td>Total Balance</th>
						<td>{{getTotalBalance()}}</td>
					</tr>
				</table>
				<h4>Receivable</h4>
				<table class="table table-striped table-hover">
					<tr>
						<td>Invoice Payment</td>
						<td>{{getTotal()}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6">
				<h3>Liabilities</h3>
				<h4>Payables</h4>
				<table class="table table-striped table-bordered table-hover">
					<tr>
						<td>Bill Payment</td>
						<td>{{getTotalBill()}}</td>
					</tr>
					<tr>
						<th>Tax Payment</th>
						<th>{{taxPayment.totalPayableTax}}</th>
					</tr>
					<tr ng-repeat="(key, value) in taxPayment.payableTax">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</table>
				<h4>Owner's Profit</h4>
				<table class="table table-striped table-bordered table-hover">
					<tr>
						<th>Total Assets</th>
						<td>{{addition(getTotalBalance(), getTotal())}}</td>
					</tr>
					<tr>
						<th>Total Liabilities</th>
						<th>{{addition(taxPayment.totalPayableTax, getTotalBill())}}</th>
					</tr>
					<tr>
						<th>Total Profit</th>
						<td>{{addition(getTotalBalance(), getTotal()) - addition(taxPayment.totalPayableTax, getTotalBill())}}</td>
					</tr>
				</table>
				
			</div>
			Total Assets : {{ addition(getTotalBalance(), getTotal()) }} <br>
			Total Liabilities : {{ addition(addition(taxPayment.totalPayableTax, getTotalBill()),addition(getTotalBalance(), getTotal()) - addition(taxPayment.totalPayableTax, getTotalBill())) }}
		</div>
	</div>
</div>