<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<ng-include src="'modules/navbar.html'"></ng-include>
			<h3>Balance Sheet</h3>
			<div class="row">
				<div class="col-sm-2" ng-if="type == 'year'">
					<div class="bottomspace">
						<label for="year1" class="control-label">View  duration report</label>
							<select id="year1" class="form-control" ng-model="duration" ng-init="duration = today.getFullYear(); calcDuration(type, duration)" ng-options="item for item in [2010,2019] | range"
							ng-change="calcDuration(type, duration)"> 
								<option value="">Select Year</option>
							</select> 
					</div>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary pull-right buttondistance" ng-click="printDiv('balance')">Print</button>
				</div>
			</div>
	<div id="balance">
		<div  style="padding:10px;border:2px solid black;">	
			<div class="row">
			<div class="col-sm-6">
			<h3>Assets</h3>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr class="bg-info">
						<th>Current Assets</th>
						<th class="text-right">{{totalReceivables + balance}}</th>
					</tr>
					<tr>
						<th colspan="2">Bank Accounts</th>
					</tr>
					<tr ng-repeat="x in transaction">
						<td>{{x.account_name}}</td>
						<td class="text-right">{{x.credit_amount - x.debit_amount}}</td>
					</tr>
					<tr ng-init="getReceivables()">
						<th colspan="2">Receivables</th>
					</tr>
					<tr>
						<td>Invoice Payment</td>
						<td class="text-right">{{totalReceivables}}</td>
					</tr>
					
				</table>
			</div>
			</div>
			<div class="col-sm-6">
					<h3>Liabilities</h3>
					<div class="table-responsive">
						<table class="table table-bordered">
							<tr>
								<th>Current Liabilities</th>
								<td>{{debit}}</td>
							</tr>
							<tr>
								<td>Payables</td>
								<td>15000</td>
							</tr>
							<tr>
								<th colspan="2">Expenses</th>
							</tr>
							<tr>
								<td>HDFC</td>
								<td>50000</td>
							</tr>
							<tr>
								<td>ICICI</td>
								<td>50000</td>
							</tr>
							<tr>
								<td>Union</td>
								<td>50000</td>
							</tr>
							<tr>
								<td>Cash</td>
								<td>50000</td>
							</tr>
							<tr>
								<th>Total</th>
								<td>50000</td>
							</tr>
						</table>
					</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</div> 