<h3 class="col-sm-offset-2 col-sm-9">Request For New Site</h3>	{{reqnewsite | json}}
	<form name="requestsiteForm" class="form-horizontal" role="form" ng-submit="requestsiteForm.$valid" novalidate="novalidate">
		<!--<div class="form-group">
			<label  for="name" class="col-sm-2 control-label">Website Name</label>		
			<div class="col-sm-9">
				<input type="text" id="website_name" class="form-control" name="website_name" placeholder="Website Name" ng-model="reqnewsite.website_name" required >
				<span class="help-block" ng-show="requestsiteForm.name.$dirty && requestsiteForm.name.$invalid">
					<span class="text-danger" ng-show="requestsiteForm.name.$error.required">Website Name is required.</span>
				</span>
			</div>						
		</div>-->
		<div class="form-group">	
			<label  for="domain_name" class="col-sm-2 control-label">Domain Name</label>
			<div class="col-sm-9">
				<input type="url" class="form-control" id="domain_name" ng-model="reqnewsite.domain_name" name="domain_name" placeholder="Enter Domain " required>
				<span class="help-block" ng-show="requestsiteForm.domain_name.$dirty && requestsiteForm.domain_name.$invalid">
					<span class="text-danger" ng-show="requestsiteForm.domain_name.$error.required">Domain  is required.</span>
					<span class="text-danger"ng-show="requestsiteForm.domain_name.$error.url">Invalid Web Site.</span>
				</span>
				<span>e.g http://www.google.com</span>
			</div>						
		</div>			
		<div class="form-group">
			<label for="contactno" class="col-md-2 control-label">Contact Number </label>
			<div class="col-md-9">
				<input type="text" id="contactno" name="contactno" class="form-control" ng-model="reqnewsite.contactno" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
					<span class="help-block" ng-show="requestsiteForm.contactno.$dirty && requestsiteForm.contactno.$invalid">
						<span ng-show="requestsiteForm.contactno.$error.pattern && (requestsiteForm.contactno.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
					</span>
			</div>						
		</div>
		<div class="form-group">
			<label for="product_service_name" class="col-sm-2 control-label">Product/Services</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="product_service_name" name="product_service_name" ng-model="reqnewsite.product_service_name" cols="30" rows="4" ng-maxlength="20" placeholder="Product/Services" ui-tinymce required></textarea>
					<p ng-hide="requestsiteForm.product_service_name.$error.maxlength">
					{{ 20 - product_service_name.length + " Chars left" }}
					</p>
					<span class="help-block" ng-show="requestsiteForm.product_service_name.$dirty && requestsiteForm.product_service_name.$invalid">
						<span class="text-danger" ng-show="requestsiteForm.product_service_name.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="requestsiteForm.product_service_name.$error.required">Please enter Product/Services.</span>
					</span>
			</div>						
		</div>	
		<div class="form-group">
			<label for="custom" class="col-sm-2 control-label pull-left">Required Custom</label>
			<div class="col-sm-9">
				<label class="radio-inline">
					<input type="radio" name="radio" id="Yes" value="Yes" checked>Yes
				</label>
				<label class="radio-inline">
					<input type="radio" name="radio" id=" No" value=" No">No
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-success" ng-click="insert()" tooltip="Send Request" ng-disabled="requestsiteForm.$invalid">Send Request</button>
				<button type="reset" class="btn btn-danger" tooltip="Cancle">Reset</button>
			</div>
		</div>					
	</form>

