<h3 class="col-sm-offset-2 col-sm-9">Request For New Site</h3>
	<form name="requestsiteForm" class="form-horizontal" role="form" ng-submit="requestsiteForm.$valid" novalidate="novalidate" ng-init="setFormScope(this)">
		<div class="form-group" ng-if="userDetails.group_name == 'admin' || userDetails.group_name == 'salesman' || userDetails.group_name == 'manager' || userDetails.group_name == 'superadmin'" ng-model="reqnewsite.user_id">
		<label for="customer" class="col-sm-2 control-label">Customer</label>
		<div class="col-sm-7">
				<select class="form-control" name="customer" id="customer"  ng-model="reqnewsite.user_id" ng-options="item.id as item.name for item in customerList" required>
					<option value="">Select Customer</option>
				</select>
			<span class="help-block" ng-show="requestsiteForm.customer.$dirty && requestsiteForm.customer.$invalid">
				<span ng-show="requestsiteForm.customer.$error.required" class="text-danger">Customer is required.</span>
			</span>	
		</div>
		<div class="col-sm-2">
			<a href="#/dashboard/users/adduser" class="btn btn-default">Add New User</a>
		</div>
		</div>
		<span ng-if="userDetails.group_name == 'salesman'">
			<input type="hidden" class="form-control" ng-model="addbusiness.salesman_id" ng-init="addbusiness.salesman_id = userDetails.id" readonly/>
			<input type="hidden" class="form-control" ng-model="addbusiness.manager_id" ng-init="addbusiness.manager_id = userDetails.user_id" readonly/>
		</span>
		<span ng-if="userDetails.group_name == 'admin' || userDetails.group_name == 'manager'">
			<input  type="hidden" class="form-control" ng-model="reqnewsite.manager_id" ng-init="reqnewsite.manager_id = userDetails.id" readonly/>
		</span>
		<span ng-if="userDetails.group_name == 'customer'">
			<input type="hidden" class="form-control" ng-model="reqnewsite.user_id" ng-init="reqnewsite.user_id = userDetails.id" readonly/>
		</span>
		<div class="form-group">	
			<label for="domain_type" class="col-sm-2 control-label">Domain Type</label>
			<div class="col-sm-9">
				<div class="row">
					<div class="radio col-sm-3" ng-init="domain_type = 'free'">
					  <label>
						<input type="radio" name="domain_type" ng-model="domain_type" id="domain_type" value="free">
						Free Domain
					  </label>
					</div>
					<div class="radio col-sm-3">
					  <label>
						<input type="radio" name="domain_type" ng-model="domain_type" id="domain_type" value="paid">
						Private/Paid Domain
					  </label>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="domain_type == 'free'" class="form-group">
			<label  for="subdomain" class="col-sm-2 control-label">Domain Name</label>
			<div class="col-sm-9">
			<div class="input-group">
				<input type="text" ng-pattern="/^[a-z0-9]*$/" class="form-control" id="subdomain" ng-model="subdomain" name="subdomain" placeholder="Enter Domain" ng-keyup="($event.keyCode==13) ? checkSubsomainAvailable(reqnewsite.domain_name) : ''" ng-change="reqnewsite.domain_name = subdomain+'.wtouch.in'" required>
				<input type="hidden" ng-model="reqnewsite.domain_name" />
				<span class="input-group-addon" type="button" ng-click="checkSubsomainAvailable(reqnewsite.domain_name)">.apnasite.in</span>
				<span class="input-group-btn">
					<button class="btn btn-info" type="button" ng-click="checkSubsomainAvailable(reqnewsite.domain_name)">Check Availability</button>
				</span>
			</div>
				<span class="help-block" ng-show="requestsiteForm.subdomain.$dirty &&  !requestsiteForm.subdomain.$error.available">
					<span class="text-success">{{domainAvailableMsg}}</span>
				</span>
				<span class="help-block" ng-show="requestsiteForm.subdomain.$dirty && requestsiteForm.subdomain.$invalid">
					<span class="text-danger" ng-show="requestsiteForm.subdomain.$error.required">Domain  is required.</span>
					<span class="text-danger" ng-show="requestsiteForm.subdomain.$error.pattern">Invalid Web Site.</span>
					<span class="text-danger" ng-show="requestsiteForm.subdomain.$error.available">{{domainAvailableMsg}}</span>
				</span>
				<span>e.g yourdomain.apnasite.in</span>
			</div>
		</div>
		<div ng-if="domain_type == 'paid'" class="form-group">	
			<label  for="domain_name" class="col-sm-2 control-label">Domain Name</label>
			<div class="col-sm-9">
			<div class="input-group">
				<input type="text" ng-pattern="/^[a-z0-9]+\.[a-z]*$/" class="form-control" id="domain_name" ng-model="reqnewsite.domain_name" name="domain_name" placeholder="Enter Domain" ng-keyup="($event.keyCode==13) ? checkAvailable(reqnewsite.domain_name) : ''" required>
				<span class="input-group-btn">
					<button class="btn btn-info" type="button" ng-click="checkAvailable(reqnewsite.domain_name)">Check Availability</button>
				</span>
			</div>
				<span class="help-block" ng-show="requestsiteForm.domain_name.$dirty &&  !requestsiteForm.domain_name.$error.available">
					<span class="text-success">{{domainAvailableMsg}}</span>
				</span>
				<span class="help-block" ng-show="requestsiteForm.domain_name.$dirty && requestsiteForm.domain_name.$invalid">
					<span class="text-danger" ng-show="requestsiteForm.domain_name.$error.required">Domain  is required.</span>
					<span class="text-danger" ng-show="requestsiteForm.domain_name.$error.pattern">Invalid Web Site.</span>
					<span class="text-danger" ng-show="requestsiteForm.domain_name.$error.available">{{domainAvailableMsg}}</span>
				</span>
				<span>e.g apnasite.in</span>
			</div>
		</div>
		<div ng-if="domain_type == 'paid'" class="form-group">
			<label for="contactno" class="col-md-2 control-label">Contact Number </label>
			<div class="col-md-9">
				<select id="filterbyvalidity" class="form-control" ng-model="reqnewsite.validity">
						<option value="">Filter by Validity</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
			</div>
		</div>
		<div class="form-group">
			<label for="contactno" class="col-md-2 control-label">Contact Number </label>
			<div class="col-md-9">
				<input type="text" id="contactno" name="contactno" class="form-control" ng-model="reqnewsite.description.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
					<span class="help-block" ng-show="requestsiteForm.contactno.$dirty && requestsiteForm.contactno.$invalid">
						<span ng-show="requestsiteForm.contactno.$error.pattern && (requestsiteForm.contactno.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
					</span>
			</div>	
		</div>
		<div>
			<input type="hidden" ng-model="reqnewsite.date">
		</div>	
		<div>
			<input type="hidden" ng-model="reqnewsite.user_id">
		</div>	
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name </label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="name" ng-model="reqnewsite.description.name" name="name" placeholder="Enter Name" required>
						<span class="help-block" ng-show="requestsiteForm.name.$dirty && requestsiteForm.name.$invalid">
						<span class="text-danger" ng-show="requestsiteForm.name.$error.required">name is required.</span>
						</span>	
				</div>
		</div>	
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="description" name="description" ng-model="reqnewsite.description.desc" cols="30" rows="4" ng-maxlength="256" placeholder="description" required></textarea>
					<p ng-hide="requestsiteForm.description.$error.maxlength">
					{{ 256 - description.length + " Chars left" }}
					</p>
					<span class="help-block" ng-show="requestsiteForm.description.$dirty && requestsiteForm.description.$invalid">
						<span class="text-danger" ng-show="requestsiteForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="requestsiteForm.description.$error.required">Please enter Product/Services.</span>
					</span>
			</div>						
		</div>	
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-success" ng-disabled="requestsiteForm.$invalid || requestsiteForm.domain_name.$error.available" ng-click="postData(reqnewsite)">Send Request</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</div>					
	</form>

