{% autoescape false %}
	{% if data.gallery | length >= 1 %}
	<div class="row featrGallery1">
		<h3 class="text-left">Gallery</h3>
			<ul class="bxslider" id="bxslider">
		{% set break = 0 %}{% set i = 0 %}
		{% for key, value in data.gallery if break == 0 %}
			<li>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4>{{x.product_gallery_name}}</h4>
					<div class="thumbnail">
						<h4>{{x.product_gallery_name}}</h4>
						<img class="img-responsive" src="{{value.image.file_relative_path}}" alt="{{key}}" />
					</div>
				</div>
			</li>
			{% set i = (i + 1) %}
			{% if i == 2 %}
				{% set break = 1 %}
			{% endif %}
		{% endfor %}
			</ul>
	</div>
	{% endif %}
{% endautoescape %}