	body{
		color: #7F8C8C;			
	}	
	.imglogo {
		max-height: 200px;
		margin-top: 15px;
		margin-left: 15px;
	}
	.headerRow{
		background-color:#C8CFDD;
	}
	.fixed-nav{
		height: 100%;
		position: fixed;
		width: 375px;
		overflow: auto;
	}
	.nav{
		background-color: #C8CFDD;		
	}
	.nav>li>a.dropdown-caret {
		padding-right: 35px;
	}
	
	.nav>li>a.dropdown-caret + .dropdown-toggle {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 100%;
		display: block;
		text-align: center;
		padding-top: 15px;
	}
	.nav>li>a.dropdown-caret + .dropdown-toggle:hover .caret {
		border-top-color: rgb(236, 236, 236);
	}

	.nav>li>a.dropdown-caret + .dropdown-toggle:hover {
		background-color: rgb(139, 139, 139);
	}
	.product .item {
		height:200px;
	}
	.product>.carousel-inner > .item > img
	{
		height:200px;
	}
	.product>.item{
		background:none;
	}
	.dropdown-menu{
		position: relative;
		box-shadow: none;
		border: none;
		border-radius: 0;
		margin: 0;
		padding: 0;
		float: none;
	}
	ul li ul{
        display: none;
    }

    ul li:hover ul{
        display: block; /* display the dropdown */
		padding:0px 10px;
        background: none;
	}
	ul li:hover a{
		color: #000;
	}
	.navbar-default{
		background:none;
		border: none;
		margin-top:10px;
	}
	.news,.Hearing{
		padding: 10px 50px;
	}
	.table-bordered{
		color:#fff;
	}
	.sidebar{
		padding-top:20px;
	}
	blockquote{
		font-size:medium;
	}
	blockquote p,.panel-body p{
		color:black; 
	}
	#googleMap{
		height:300px;
	}
	.footer{
		padding:10px;
	}
	.footer a,.footer,.news,.Hearing,.sidebar .nav-pills>li>a,.nav-pills>li.active>a,.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,.nav>li>a:hover, .nav>li>a:focus, .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,.nav>li>a.dropdown-caret + .dropdown-toggle,.nav>li>a.dropdown-caret + .dropdown-toggle:hover {
		color:#fff;
	}
	.nav-pills>li.active>a,.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,.nav>li>a:hover, .nav>li>a:focus, .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,.Hearing {
		background-color:#8D9CB7;
	}
	.nav-pills>li>a,h1,.sidebar .nav-pills>li>a:hover,.sidebar .nav-pills>.active>a{
		color:#384764;
	}
	.nav-pills>li>a, .panel-default>.panel-heading,.sidebar .nav-pills>li>a:hover,.sidebar .nav-pills>.active>a{
		background-color:#C8CFDD;
	}
	.news,.footer{
		background-color:#384764;
	}
	.panel-default,.panel-default>.panel-heading {
		border-color: #384764;
	}
	.panel,.nav{
		background:none;
	}
	.modal-body p, .modal-body h4, .modal-title {
		color:#000;
	}
	p{
		text-align:justify;
	}