	/* Home banner ---------------------------------- */		
#mainBanner {margin:0px auto; padding:0px; height:390px; overflow:hidden; width:1000px;}
	#mainBanner #roundBanner {width:850px; margin:-10px auto 0px;}
	#mainBanner .roundabout-holder  { padding: 0; list-style:none;padding:0; margin:0;height: 390px;}
	#mainBanner .roundabout-moveable-item {/*background:url(../images/banner/shadow.png) center bottom no-repeat;*/width:370px;height:370px; padding-bottom:24px; position:absolute !important}
	#mainBanner .roundabout-in-focus { cursor: auto; }
	#mainBanner .roundabout-moveable-item img {display:block;height:100%;width:100%; background:url(../images/loader.gif) 50% 50% no-repeat;  color:#FFF;}
		#mainBanner .roundabout-moveable-item img:hover {border-color:#000;}
	
			#mainBanner #next, #mainBanner #prev {color:#2d89c5; font-size:30px; font-weight:normal; margin:167px 5px 0px; text-decoration:none;}
			#mainBanner a:hover#next, #mainBanner a:hover#prev{color:#FF9933;}
				#mainBanner #next {float:right;}
				#mainBanner #prev {float:left;}

#pageBanner {
	padding: 0px;
	height: 200px;
	overflow: hidden;
	width: 610px;
	/* [disabled]margin-top: 10px; */
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: right;
}
	#pageBanner #roundBanner {width:570px; margin:0px auto 0px;}
	#pageBanner .roundabout-holder  { padding: 0; list-style:none;padding:0; margin:0;height: 200px;}
	#pageBanner .roundabout-moveable-item {/*background:url(../images/banner/l-shadow.png) center bottom no-repeat;*/width:190px;height:190px; padding-bottom:10px;}
	#pageBanner .roundabout-in-focus { cursor: auto; }
	#pageBanner .roundabout-moveable-item img {display:block;height:100%;width:100%; background:url(../images/loader.gif) 50% 50% no-repeat;  color:#FFF;}
		#pageBanner .roundabout-moveable-item img:hover {border-color:#000;}
	
			#pageBanner #next, #pageBanner #prev {display:none; color:#2d89c5; font-size:30px; font-weight:normal; margin:167px 5px 0px; text-decoration:none;}
			#pageBanner a:hover#next, #pageBanner a:hover#prev{color:#FF9933;}
				#pageBanner #next {float:right;}
				#pageBanner #prev {float:left;}
