@charset "utf-8";
/* CSS Document */
	.featured_project ul li .project_box table tr td img {

	
	}
div.pagination {
	padding: 0.5%;
	margin: 0.5%;
	display: block;
	clear: both;
	height: auto;
	width: 98%;
}

div.pagination a {
	margin: 2px;
	border: 1px solid #AAAADD;
	text-decoration: none; /* no underline */
	color: #000099;
	display: block;
	float: left;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;	
}
.property_img a img {
	height: auto;
	width: 70%;
	padding: 10px;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.property_img a {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.featured_project {
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
.project_box {
	margin: 2.5%;
	padding: 2%;
	border: 2px solid #CAFF95;
	background-color: #FFF;
	box-shadow: 2px 2px 3px #999;
	border-radius: 10px 0px 10px;
	width: 90%;
}
.featured_project .project_box h1 {
	font-family: "Century Gothic Bold";
	font-size: 16px;
	color: #006;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #D2FFB7;
	display: block;
	text-align: center;
	vertical-align: middle;
	height: 40px;
}
.featured_project .project_box img {
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 94%;
	height: auto;
}
.featured_project .project_box table {
	background-color: #E7FFCE;
	margin: 0px;
	width: 100%;
}
.clear {
	clear: both;
}
.featured_project h1 {
	font-family: "Century Gothic";
	font-size: 24px;
	color: #090;
	padding-bottom: 5px;
	padding-left: 10px;
}
.featured_project ul li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	display: block;
	width: 33.33%;
	float: left;
}
.featured_project ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.featured_project #slider1 li .project_box table tr td.projslide a {
	display: block;
	text-align: center;
	vertical-align: middle;
}
.featured_project #slider1 li .project_box table tr td.projslide a img {

}
.featured_project #slider1 li .project_box table tr .projslide {
	height: 140px;
	width: 130px;
	display: block;
}
.featured_project #slider1 li .project_box table tr td .projslide img {
	height: 130px;
	width: 130px;
}
