{% autoescape false %}
<div class="container">
			<div class="col-md-10" id="aboutus">
				<h2 class="text-center">ABOUT US</h2>
				<div class="info">
					<h4>Our Vision</h4>
					<p>Work Till Client’s Satisfaction.</p>
					<h4>About Us</h4>
					<p>Web Touch India Solutions founded in 2012, has more than 4+ years of experience in the Web Development and IT Services. Web Touch have highly skilled employee. Web Touch is a speedily growing company in Pune City.</p> 
					<p>We fulfilling the requirements of the customers in the areas of web site designing and development, Web Application Development (ASP.NET, PHP), Mobile Application Development (Android, iOS, Windows).</p>
					<p>We also provide service for Print Media. We offer Brochures desing, Logo design, Press Advertisements, CD Rom / Corporate Multimedia Presentations, etc., Custom made designs to suit your unique business needs and requirements.</p>
					<p>Alternatively if you are looking for something a little more specific; outline your ideas for us and our designers and developers can create a bespoke professional brochure, website as per your requirements.</p>
					<p>Also Web Touch is developing Educational Online Portal for Students from primary to higher education. It helps students for self-study, self-improvement & self-development.</p>
					<h4>Our Team</h4>
					<p>We believe that people really are at the heart of our success.  The final component that brings it all together is our team.  We hire the very best and the brightest; innovators, problem solvers, communicators.  Our team takes service delivery personally. We will go the extra mile to give our customers throughout the world all the support they require to realize all their online goals and visions.</p>
					<h4>What We Did?</h4>
						<p>Developed more than 50 web projects.</p>
						<p>Sold more than 10+ software to our clients.</p>
						<p>Provide a very good service to our clients.</p>
						<p>We earn satisfied clients more than money.</p>
				</div>
				
			</div>
	</div>
	{% endautoescape %}