	<div class="container" id="service">
				<div class="row">
					<h2 class="text-center">SERVICES</h2>
				</div>
				<div class="row">
								<div class="col-md-3">
									<img class="col-md-12" src="img/webdevlop.jpg">
								</div>
								<div class="col-md-3">
									<div class="col-md-12">
									<h4 class="text-center">Web Development</h4>
									<ul>
										<li>Web Application Development</li>
										<li>Website Designing</li>
										<li>Domain Name</li>
										<li>Web Hosting</li>
										<li>SEO Search Engine Optimization</li>
										<li>Online Marketing Solutions</li>
									</ul>
									</div>
								</div>	
								<div class="col-md-3">
										<img class="col-md-12" src="{{path}}img/software.jpg">			
								</div>
								<div class="col-md-3">
									<div class="col-md-12">
									<h4 class="text-center">Software Development</h4>
									<ul>
										<li>Software Development</li>
										<li>Customized Product Development</li>
										<li>Software Support</li>
										<li>Software Testing</li>
										<li>Software Marketing</li>
									</ul>
									</div>
								</div>					
				</div>
					<div class="row">		
									<div class="col-md-3">
										<img class="col-md-12" src="{{path}}img/mobile.jpg">
									</div>						
								<div class="col-md-3">
									<div class="col-md-12">
									<h4 class="text-center">Android and Mobile Development</h4>
									<ul>
										<li>Android Development</li>
										<li>Java Mobile Development</li>
										<li>Win8 Mobile Development</li>
										<li>Mobile Application Development</li>
									</ul>
									</div>
								</div>	
									<div class="col-md-3">
										<img class="col-md-12" src="{{path}}img/hard.jpg">
									</div>							
								<div class="col-md-3">
									<div class="col-md-12">
									<h4 class="text-center">Hardware Networking</h4>
									<ul>
										<li>Annual Maintenance – Home & Business</li>
										<li>Computer Hardware Sell</li>
										<li>Networking Support</li>
										<li>Hardware Installation</li>
										<li>Software Installation</li>
										<li>Online Support</li>
									</ul>
									</div>
								</div>
					</div>
					<div class="row">							
									<div class="col-md-3">
										<img class="col-md-12" src="{{path}}img/Training.jpg">
								</div>
								
								<div class="col-md-3">
									<div class="col-md-12">
									<h4 class="text-center">Training</h4>
									<ul>
										<li>Programming Languages Training</li>
										<li>Software Training</li>
										<li>Web Development Training</li>
										<li>Corporate Training</li>
										<li>Career Guidance</li>
										<li>Mobile Development Training</li>
										<li>Graphic Designing Training</li>
										<li>Hardware Networking Training</li>
										<li>Diploma & Certificate Training</li>
									</ul>
									</div>
								</div>
									<div class="col-md-3">
										<img class="col-md-12" src="{{path}}img/market.jpg">
									</div>								
								<div class="col-md-3">
									<div class="col-md-12">
									<h4 class="text-center">Product Marketing</h4>
									<ul>
										<li>Hardware & Software Product Marketing</li>
										<li>Web Product Selling – Online/Offline</li>
										<li>Online Business Marketing Support</li>
										<li>Social Network Marketing</li>
										<li>Business Development Consulting</li>
									</ul>
									</div>
								</div>		
					</div>
					<section class="row">
					 <div>
					 </div>
					 <div>
					 </div>
					 <div>
					 </div>
					 <div>
					 </div>
					 <div>
					 </div>
				</section>
</div>