<div class="main-content">
	<div class="modal-header" style="margin-bottom: 14px">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3 class="text-center" ng-if="!modalOptions.addexpence.id">Add Expense</h3>
		<h3 class="text-center" ng-if="modalOptions.addexpence.id">Edit Expense</h3>
	</div>
		<form name="addexpenceForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addexpenceForm.$valid">
			<!-- <div ng-if = "type =='Rent'"> -->
			
		 <div class="form-group">
				<div ng-init="modalOptions.getData(false,false,'party','partyList', params, modalOptions)">
					<label for="party" class="col-sm-2 control-label">Party *</label>
						<div class="col-sm-9">
							<select id="party_id" class="form-control" ng-model="modalOptions.addexpence.party_id" ng-options="item.id as item.name for item in modalOptions.partyList">
							<option value="">Select Party</option>
							</select>	 
							<span class="help-block" ng-show="addexpenceForm.customer.$dirty && addexpenceForm.customer.$invalid">
								<span ng-show="addexpenceForm.customer.$error.required" class="text-danger">required field.</span>
							</span>	
						</div>
				</div>
			</div>
				<div class="form-group">
					<label for="category" class="col-sm-2 control-label">Category</label>
									<div class="col-sm-9">
										<select id="category" class="form-control" name="category"  ng-model="modalOptions.singleparticular.category" required>
										<option value="" selected>Select Category</option>
										<option value="category1">Category1</option>
										<option value="category2">Category2</option>
										<option value="category3">Category3</option>
										<option value="category4">Category4</option>
										</select>
									</div>
										<span class="help-block" ng-show="addexpenceForm.category.$dirty && addexpenceForm.category.$invalid">
											<span ng-show="addexpenceForm.category.$error.required" class="text-danger">Required field.</span>
										</span>	
								</div>
				<span>
					<input type="hidden" class="form-control" ng-model="modalOptions.addexpence.description.user_id"/>
					<input type="hidden" class="form-control" ng-model="modalOptions.addexpence.user_id"/> 
					{{modalOptions.addexpence}}
					
				</span> 
			
			<div class="form-group">
				<div ng-init="modalOptions.getData(false,false,'account','accountList', params, modalOptions)">
					<label for="account" class="col-sm-2 control-label">Account Name*</label>
						<div class="col-sm-9">
							<select id="account" class="form-control" ng-change="modalOptions.getData(false,false,'account','accountList', params, modalOptions)" ng-options="item.account_no as item.account_name for item in modalOptions.accountList" ng-model="modalOptions.addexpence.account" >
							<option value="">Select Account</option>
							</select>	 
							<span class="help-block" ng-show="addexpenceForm.customer.$dirty && addexpenceForm.customer.$invalid">
								<span ng-show="addexpenceForm.customer.$error.required" class="text-danger">required field.</span>
							</span>	
						</div>
				</div>
			</div>
			
			<div class="form-group">	
				<label  for="date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-9">
						<input type="text" id="date" class="form-control" ng-model="modalOptions.addexpence.date" ng-init="modalOptions.addexpence.date = modalOptions.incomeDate.date"  name="date" readonly 
						placeholder="date">
					</div>						
			</div>
			
			<div class="form-group">
				<label  for="credit_amount" class="col-sm-2 control-label">Amount</label>
					<div class="col-sm-9">
						<input type="text" id="credit_amount" class="form-control"  ng-pattern="/^[1-9]\d{0,9}(\.\d{0,2}){0,1}$/" ng-model="modalOptions.addexpence.credit_amount"  name="credit_amount" placeholder="Amount" required />
						<span class="help-block" ng-show="addexpenceForm.credit_amount.$dirty && addexpenceForm.credit_amount.$invalid">
								<span ng-show="addexpenceForm.credit_amount.$error.required" class="text-danger">Required Field</span>
								<span ng-show="addexpenceForm.credit_amount.$error.pattern" class="text-danger">Enter like 0.00 only</span>
						</span>
					</div>						
			</div>
			
				<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
						<select id="payment_type" class="form-control" name="payment_type"  ng-model="modalOptions.addexpence.description.payment_type.type" required>
						<option value="" selected>Select Type</option>
						<option value="Cash" >Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Net Banking">Net Banking</option>
						<option value="DD">DD</option>
						</select>
						<span class="help-block" ng-show="addexpenceForm.payment_type.$dirty && addexpenceForm.payment_type.$invalid">
							<span ng-show="addexpenceForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
						</span>	
					</div>
			</div> 
			
			<div class="form-group" ng-if="modalOptions.addexpence.description.payment_type.type == 'Cheque' || modalOptions.addexpence.description.payment_type.type == 'Net Banking' || modalOptions.addexpence.description.payment_type.type == 'DD'">
				<label for="refferance no" ng-if="modalOptions.addexpence.description.payment_type.type == 'Net Banking'"class="col-sm-2 control-label">Transaction No</label>
				<label for="refferance no" ng-if="modalOptions.addexpence.description.payment_type.type == 'Cheque'" class="col-sm-2 control-label">Check No</label>
				<label for="refferance no" ng-if="modalOptions.addexpence.description.payment_type.type == 'DD'" class="col-sm-2 control-label">DD No</label>
					<div class="col-sm-9">
						<input type="text" id="refferance no" ng-if="modalOptions.addexpence.description.payment_type.type == 'Net Banking'" ng-model="modalOptions.addexpence.description.payment_type.transaction_No" class="form-control" name="refferance_no"   placeholder="Enter Transaction No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="addexpenceForm.refferance_no.$dirty && addexpenceForm.refferance_no.$invalid">
							<span ng-show="addexpenceForm.refferance_no.$error.required" class="text-danger">Ref No is required.</span>
							<span ng-show="addexpenceForm.refferance_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
						<input type="text" id="refferance no" ng-if="modalOptions.addexpence.description.payment_type.type == 'Cheque'" ng-model="modalOptions.addexpence.description.payment_type.check_no" class="form-control" name="cheque_no"   placeholder="Enter Check No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="addexpenceForm.cheque_no.$dirty && addexpenceForm.cheque_no.$invalid">
							<span ng-show="addexpenceForm.cheque_no.$error.required" class="text-danger">Cheque No is required.</span>
							<span ng-show="addexpenceForm.cheque_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
						<input type="text" id="refferance no" ng-if="modalOptions.addexpence.description.payment_type.type == 'DD'" ng-model="modalOptions.addexpence.description.payment_type.DD_no" class="form-control" name="DD_no"   placeholder="Enter DD No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="addexpenceForm.DD_no.$dirty && addexpenceForm.DD_no.$invalid">
							<span ng-show="addexpenceForm.DD_no.$error.required" class="text-danger">DD no required.</span>
							<span ng-show="addexpenceForm.DD_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
					</div>		
			</div> 
			
	<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-9">
						<textarea type="text" id="description" ng-model="modalOptions.addexpence.description" class="form-control" name="description"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
						<span ng-hide="addexpenceForm.description.$error.maxlength">
								{{ 250 - modalOptions.addexpence.description.length + " Chars left" }}
						</span>	
						 <span class="help-block" ng-show="addexpenceForm.description.$dirty && addexpenceForm.description.$invalid">
								<span class="text-danger" ng-show="addexpenceForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addexpenceForm.description.$error.required" class="text-danger">Required Field</span>
						</span>
					</div>		
			</div>
			<div class="form-group modal-footer">
				<div class="col-sm-11"><!--ng-disabled="addexpenceForm.$invalid"-->
				<button type="submit"  class="btn btn-success" ng-if="modalOptions.addexpence.id"  ng-disabled="addexpenceForm.$invalid" ng-click="modalOptions.updateData('transaction',modalOptions.addexpence,modalOptions.addexpence.id); modalOptions.ok()">Update</button>
					<button type="submit" class="btn btn-success" ng-if="!modalOptions.addexpence.id" ng-click="modalOptions.postData('transaction',modalOptions.addexpence); modalOptions.ok()" ng-disabled="addexpenceForm.$invalid">Submit</button>
					<button type="reset" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
				</div>
			</div>		
		</form>
</div><!--ng-if="!modalOptions.propertyData.id-->