<div class="main-content">
	<div class="modal-header" style="margin-bottom: 14px">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3 class="text-center" ng-if="!modalOptions.addincome.id">Add Income</h3>
		<h3 class="text-center" ng-if="modalOptions.addincome.id">Edit Income</h3>
	</div>
		<form name="addIncomeForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addIncomeForm.$valid">

			<input type="hidden" ng-model="modalOptions.addincome.status" ng-init="modalOptions.addincome.status= 1 "/> 
					
			<!-- <div ng-if = "type =='Rent'"> -->
			 <div class="form-group">
				<div ng-init="modalOptions.getData(false,false,'party','partyList', params, modalOptions)">
					<label for="party" class="col-sm-2 control-label">Party *</label>
						<div class="col-sm-9">
							<select id="party_id" class="form-control" ng-model="modalOptions.addincome.party_id" ng-options="item.id as item.name for item in modalOptions.partyList">
							<option value="">Select Party</option>
							</select>	 
							<span class="help-block" ng-show="addIncomeForm.customer.$dirty && addIncomeForm.customer.$invalid">
								<span ng-show="addIncomeForm.customer.$error.required" class="text-danger">required field.</span>
							</span>	
						</div>
				</div>
			</div>
				<div class="form-group">
					<label for="category" class="col-sm-2 control-label">Category</label>
									<div class="col-sm-9">
										<select id="category" class="form-control" name="category"  ng-model="modalOptions.singleparticular.category" required>
										<option value="" selected>Select Category</option>
										<option value="category1">Category1</option>
										<option value="category2">Category2</option>
										<option value="category3">Category3</option>
										<option value="category4">Category4</option>
										</select>
									</div>
										<span class="help-block" ng-show="addIncomeForm.category.$dirty && addIncomeForm.category.$invalid">
											<span ng-show="addIncomeForm.category.$error.required" class="text-danger">Required field.</span>
										</span>	
								</div>
				<span>
					<input type="hidden" class="form-control" ng-model="modalOptions.addincome.description.user_id"/>
					<input type="hidden" class="form-control" ng-model="modalOptions.addincome.user_id"/> 
					{{modalOptions.addincome}}
					
				</span> 
			<!-- </div> -->
			
			<!-- <div class="form-group">
				<label for="account_no" class="col-sm-2 control-label">Account Name* </label>
					<div class="col-sm-9">
					<input type="text" id="account_no" name="account_no" class="form-control" ng-model="modalOptions.addincome.account_no"/>	
					
					<span class="help-block" ng-show="addIncomeForm.account_no.$dirty && addIncomeForm.account_no.$invalid">
						<span ng-show="addIncomeForm.account_no.$error.required" class="text-danger">Account Name is required.</span>
						<span ng-show="(addIncomeForm.account_no.$dirty || submitted)" class="text-danger">Enter Numbers Only!</span>
					</span>
					</div>
			</div> -->
			
			
			
			<div class="form-group">
				<div ng-init="modalOptions.getData(false,false,'account','accountList', params, modalOptions)">
					<label for="account" class="col-sm-2 control-label">Account Name*</label>
						<div class="col-sm-9">
							<select id="account" class="form-control" ng-change="modalOptions.getData(false,false,'account','accountList', params, modalOptions)" ng-options="item.account_no as item.account_name for item in modalOptions.accountList" ng-model="modalOptions.addincome.account" >
							<option value="">Select Account</option>
							</select>	 
							<span class="help-block" ng-show="addIncomeForm.customer.$dirty && addIncomeForm.customer.$invalid">
								<span ng-show="addIncomeForm.customer.$error.required" class="text-danger">required field.</span>
							</span>	
						</div>
				</div>
			</div>
			
			<div class="form-group" ng-if="modalOptions.balance || modalOptions.balance == 0">
				<label for="previous_amount" class="col-sm-2 control-label">Previous Amount</label>
				<div class="col-sm-9">
					<input type="text" id="balance" name="" readonly class="form-control" ng-model="modalOptions.balance"/>			
					</div>
			</div>
			
			<input type="hidden"  ng-model="modalOptions.addincome.balance"/>
		
		
		<!-- 	<input type="hidden" class="form-control" ng-model="userDetails.id"  readonly/> -->
			<!-- <input type="hidden"  ng-if="type !='other'" ng-model="modalOptions.addincome.category"/> -->
			<input type="hidden" ng-model="modalOptions.addincome.type" ng-init="modalOptions.addincome.type='income'"/> 
			
			<div class="form-group">	
				<label  for="date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-9">
						<input type="text" id="date" class="form-control" ng-model="modalOptions.addincome.date" ng-init="modalOptions.addincome.date = modalOptions.incomeDate.date"  name="date" readonly 
						placeholder="date">
					</div>						
			</div>
			
			
			<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
						<select id="payment_type" class="form-control" name="payment_type"  ng-model="modalOptions.addincome.payment_type.type" required>
						<option value="" selected>Select Type</option>
						<option value="Cash" >Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Net Banking">Net Banking</option>
						<option value="DD">DD</option>
						</select>
						<span class="help-block" ng-show="addIncomeForm.payment_type.$dirty && addIncomeForm.payment_type.$invalid">
							<span ng-show="addIncomeForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
						</span>	
					</div>
			</div> 

			<div class="form-group" ng-if="modalOptions.addincome.payment_type.type == 'Cheque' || modalOptions.addincome.payment_type.type == 'Net Banking' || modalOptions.addincome.payment_type.type == 'DD'">
				<label for="refferance no" ng-if="modalOptions.addincome.payment_type.type == 'Net Banking'"class="col-sm-2 control-label">Transaction No</label>
				<label for="refferance no" ng-if="modalOptions.addincome.payment_type.type == 'Cheque'" class="col-sm-2 control-label">Check No</label>
				<label for="refferance no" ng-if="modalOptions.addincome.payment_type.type == 'DD'" class="col-sm-2 control-label">DD No</label>
					<div class="col-sm-9">
						<input type="text" id="refferance no" ng-if="modalOptions.addincome.payment_type.type == 'Net Banking'" ng-model="modalOptions.addincome.payment_type.transaction_No" class="form-control" name="refferance_no"   placeholder="Enter Transaction No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="addIncomeForm.refferance_no.$dirty && addIncomeForm.refferance_no.$invalid">
							<span ng-show="addIncomeForm.refferance_no.$error.required" class="text-danger">Ref No is required.</span>
							<span ng-show="addIncomeForm.refferance_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
						<input type="text" id="refferance no" ng-if="modalOptions.addincome.payment_type.type == 'Cheque'" ng-model="modalOptions.addincome.payment_type.check_no" class="form-control" name="cheque_no"   placeholder="Enter Check No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="addIncomeForm.cheque_no.$dirty && addIncomeForm.cheque_no.$invalid">
							<span ng-show="addIncomeForm.cheque_no.$error.required" class="text-danger">Cheque No is required.</span>
							<span ng-show="addIncomeForm.cheque_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
						<input type="text" id="refferance no" ng-if="modalOptions.addincome.payment_type.type == 'DD'" ng-model="modalOptions.addincome.payment_type.DD_no" class="form-control" name="DD_no"   placeholder="Enter DD No" ng-pattern="/^\d{0,9}[0-9]$/" required/>
						<span class="help-block" ng-show="addIncomeForm.DD_no.$dirty && addIncomeForm.DD_no.$invalid">
							<span ng-show="addIncomeForm.DD_no.$error.required" class="text-danger">DD no required.</span>
							<span ng-show="addIncomeForm.DD_no.$error.pattern" class="text-danger">Enter Numbers Only!</span>
							
						</span>
					</div>		
			</div> 
			
						<div class="form-group" ng-if="modalOptions.addincome.payment_type.type == 'Cheque' || modalOptions.addincome.payment_type.type == 'Net Banking' || modalOptions.addincome.payment_type.type == 'DD'">
				<label for="Date" class="col-sm-2 control-label">Date</label>
				 <div class="col-sm-9">
					<input type="text" id="date" class="form-control"   ng-model="modalOptions.addincome.date" ng-init="modalOptions.addincome.date = modalOptions.incomeDate.date"  name="date" 
					placeholder="date">
				</div>					
			</div>
			
			<div class="form-group" ng-if="modalOptions.addincome.payment_type.type == 'Cheque' || modalOptions.addincome.payment_type.type == 'Net Banking' || modalOptions.addincome.payment_type.type == 'DD'">
				<label for="Bank" class="col-sm-2 control-label">Bank Name</label>
					<div class="col-sm-9">
						<input type="text" id="Bank" ng-model="modalOptions.addincome.payment_type.Bank" class="form-control" name="Bank"   placeholder="Enter Bank Name" required/>
						<span class="text-danger" ng-show="addIncomeForm.Bank.$dirty && addIncomeForm.Bank.$invalid">
							<span ng-show="addIncomeForm.Bank.$error.required">Bank Name is Required.</span>
						</span>	
					</div>		
			</div>
			
			<div class="form-group" ng-if="modalOptions.addincome.payment_type.type == 'Cheque' || modalOptions.addincome.payment_type.type == 'Net Banking' || modalOptions.addincome.payment_type.type == 'DD'">
				<label for="Branch" class="col-sm-2 control-label">Branch</label>
					<div class="col-sm-9">
						<input type="text" id="Branch" ng-model="modalOptions.addincome.payment_type.Branch" class="form-control" name="Branch"   placeholder="Enter Branch" required/>
						<span class="text-danger" ng-show="addIncomeForm.Branch.$dirty && addIncomeForm.Branch.$invalid">
							<span ng-show="addIncomeForm.Branch.$error.required">Branch Name is Required.</span>
						</span>	
					</div>		
			</div>
			
			<div class="form-group">
				<label  for="credit_amount" class="col-sm-2 control-label">Amount</label>
					<div class="col-sm-9">
						<input type="text" id="credit_amount" class="form-control"  ng-pattern="/^\d{0,9}[0-9]$/" ng-model="modalOptions.addincome.credit_amount" ng-change="modalOptions.totalAmount(modalOptions)" name="amount" placeholder="Amount" required />
						<span class="help-block" ng-show="addIncomeForm.amount.$dirty && addIncomeForm.amount.$invalid">
							<span ng-show="addIncomeForm.amount.$error.required" class="text-danger">Amount is required.</span>
							<span ng-show="addIncomeForm.amount.$error.pattern" class="text-danger">Enter Numbers Only!</span>
						</span>
					</div>						
			</div>
			
			
			
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-9">
						<textarea type="text" id="description" ng-model="modalOptions.addincome.description" class="form-control" name="description"   placeholder="Enter Description" ng-maxlength="250" required></textarea>
						<span ng-hide="addIncomeForm.description.$error.maxlength">
								{{ 250 - modalOptions.addincome.description.length + " Chars left" }}
						</span>	
						 <span class="help-block" ng-show="addIncomeForm.description.$dirty && addIncomeForm.description.$invalid">
								<span class="text-danger" ng-show="addIncomeForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addIncomeForm.description.$error.required" class="text-danger">Required Field</span>
						</span>
					</div>		
			</div>
			
			<div class="form-group modal-footer">
				<div class="col-sm-11"><!--ng-disabled="addIncomeForm.$invalid"-->
					<button type="submit"  class="btn btn-success" ng-if="modalOptions.addincome.id"  ng-disabled="addIncomeForm.$invalid" ng-click="modalOptions.updateData('transaction',modalOptions.addincome,modalOptions.addincome.id); modalOptions.ok()">Update</button>
					
					<button type="submit" class="btn btn-success" ng-if="!modalOptions.addincome.id" ng-click="modalOptions.postData('transaction',modalOptions.addincome); modalOptions.ok();" ng-disabled="addIncomeForm.$invalid">Submit</button>
					<button type="reset" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
				</div>
			</div>		
		</form>
</div>