<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<h3 class="text-center">Transaction Report</h3>
				<md-datepicker ng-model="birthday"></md-datepicker>
			<div class="row" ng-init="">	 				  
				<div class="col-sm-2">
					<div class="bottomspace" ng-init="type = 'daily'; calcDuration(type, duration);">
						<label for="year" class="control-label" >View Report</label>
							<select id="year" class="form-control" ng-model="type" ng-init="type = 'daily'">
								<option value="daily">Daily Report</option>	
								<option value="month">Monthly Report</option>	
								<option value="year">Yearly Report</option>
								<option value="custom">Custom Report</option>
							</select>
					</div>
				</div>
				<div class="col-sm-2" ng-if="type == 'daily'">
					<div class="bottomspace">
					<label for="date" class="control-label">View Day-wise report</label>
						<div class="input-group">
						<input type="text" placeholder="YYYY-DD-MM" id="fromDate" name="fromDate" class="form-control" ng-model="transfer.dailyDate" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  ng-required="true" close-text="Close" ng-click="open2($event)" ng-change="calcDuration()"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
					</div>
				</div>
			
				<div class="col-sm-2" ng-if="type == 'month'">
					<div class="bottomspace">
					<label for="month" class="control-label">View Monthly Report</label>
						<select id="month"  class="form-control " ng-model="duration" ng-init="duration = today.getMonth() + 1; calcDuration(type, duration)" ng-change="calcDuration(type, duration)"> 
							<option value="1" selected>January</option>	
							<option value="2">February</option>	
							<option value="3">March</option>	
							<option value="4">April</option>	
							<option value="5">May</option>	
							<option value="6">June</option>	
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>
				</div> 
				
				<div class="col-sm-2" ng-if="type == 'year'">
					<div class="bottomspace">
						<label for="year1" class="control-label">View  duration report</label>
							<select id="year1" class="form-control" ng-model="duration" ng-init="duration = today.getFullYear(); calcDuration(type, duration)" ng-options="item for item in [2010,2019] | range"
							ng-change="calcDuration(type, duration)"> 
								<option value="">Select Year</option>
							</select> 
					</div>
				</div>
				<div  ng-if="type == 'custom'">
				<div class="col-sm-2"> <!-- ng-init="measurement.fromDate = currDate" -->
					<label for="fromDate" class="control-label">From Date </label>
					<div class="input-group">
						<input type="text" placeholder="YYYY-DD-MM" id="fromDate" name="fromDate" class="form-control" ng-model="transfer.fromDate" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  ng-required="true" close-text="Close" ng-click="opened = !opened"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<div class="col-sm-2"> 
					<label for="toDate" class="control-label">To Date </label>
					<div class="input-group">
						<input type="text" placeholder="YYYY-DD-MM" id="toDate" name="toDate" class="form-control"  ng-model="transfer.toDate"  datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1" min-date="minDate" max-date="maxDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="opened1=!opened" ng-change="setTransactionDate(transfer); sqlDateFormate(transfer.toDate, 'yyyy-MM-dd HH:MM:SS')"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				</div>
				<div class="col-sm-2" ng-if="types == 'income' || types == 'expense'">
					<label for="category" class="control-label">Select Category</label>
					<select class="form-control" name="category" id="category" ng-model="filterCategory" ng-options="item.system_name as item.name for item in categoryConfig.category | filter : { 'type' : types}" ng-change="addincome.category = type;changeStatus('category',filterCategory)" required>
						<option value="" selected>Select Category</option>
					</select>
				</div>
			</div>
			
			 <div class="table-responsive" ng-init="getData(false,currentPage, 'transaction','transactionList',transactionParams);getData(false,false,'account','accountList');">
			 <div ui-grid="transactionList"></div>
			</div>
			<div class="text-center">				
					<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(false, currentPage, 'transaction','transactionList',transactionParams)"></pagination>
					<pre>Page: {{currentPage}} / {{numPages}}</pre>
			</div>
		</div>
	</div>
</div> 