//featured servieces
.services{
	.servimage{
		border : 4px solid transparent;
		padding : 6px;
		&:hover{
			border : 4px solid @darkcolor;
		}
	}
	.servdesc{
		.readmore{
			text-align : center;
			margin-bottom : 30px;
			a{
				background-color : @darkcolor;
				color : @lightbackcolor;
				padding : 10px 18px;
				border : 2px solid transparent;
				border-radius : 0px;
				font: 16px 'Alex Brush', cursive;
				&:hover{
					color : @darkcolor;
					background-color : @back;
					border : 2px solid @darkcolor;
				}
			}
		}
	}
}
//multiple products
.products{
	.thumbnail{
		.readmore{
			text-align : center;
			a{
				background-color : @darkcolor;
				color : @lightbackcolor;
				padding : 5px 18px;
				border : 2px solid transparent;
				border-radius : 0px;
				font: 16px 'Alex Brush', cursive;
				&:hover{
					color : @darkcolor;
					background-color : @back;
					border : 2px solid @darkcolor;
				}
			}
		}
	}
}

@media (min-width: 320px) {
	.products{
		.thumbnail{
			height: 465px;
			img{
				height : 240px;
			}
			.caption{
				height: 138px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 186px;
		}
	}
}

@media (min-width: 992px) { 
	.products{
		.thumbnail{
			height: 450px;
			img{
				height : 242px;
			}
			.caption{
				height: 150px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 100px;
		}
	}
}
 
@media (min-width: 1200px){ 
	.products{
		.thumbnail{
			height: 415px;
			img{
				height : 189px;
			}
			.caption{
				height: 165px;
			}
		}
	}
	.singleproduct{
		.thumbnail{
			height: 192px;
		}
	}
}