//featured properties
.featuredProperty{
	.sections{
		height : 230px;
	}
	.bxslider1{
		h4{
			padding-left:25px;
		}
		.row{
			padding-bottom : 10px;
		}
		list-style :none;
		li{
			.verify{
				width:50%;
				
				border:none;
				margin-left:10px;
				position:absolute;
				
				right:-10px;
				bottom:0;
				z-index:999;
				
			}
			.sliderImg{
				height :150px;
				width : 200px;
				overflow : hidden;
				padding : 4px;
				border : 2px solid transparent;
				position:relative;
				.slimg{
					min-height: 150px;
				}
				&:hover{
					border : 2px solid @darkcolor;
				}
			}
			.table{
				margin-bottom : 10px;
				tbody{
					tr{
						td{
							border :none;
							padding: 3px 10px;
						}
					}
				
				}
			}
			.sliderDesc{
				.readmore{
					margin-bottom :25px;
					.head{
						margin-right : 10px;
					}
					a{
						font: 16px 'Cinzel-Regular', cursive;
						border-radius : 5px;
						background-color : @darkcolor;
						color : @lightbackcolor;
						padding : 6px 12px;
						border : 2px solid transparent;
						border-radius : 0px;
						&:hover{
							color : @darkcolor;
							background-color : @back;
							border : 2px solid @darkcolor;
							text-decoration : none;
						}
					}
				}
			}
		}
	}
}


//propertiesList 
.propertylist{
	padding: 20px 20px 0px;
	border : 1px solid @lightbackcolor;
	.btn-primary{
		margin-right : 5px;
		margin-bottom: 10px;
		border-radius : 5px;
		background-color : @darkcolor;
		color : @lightbackcolor;
		border : 2px solid transparent;
		border-radius : 0px;
		font: 14px 'Cinzel-Regular', cursive;
		&:hover{
			color : @darkcolor;
			background-color : @back;
			border : 2px solid @darkcolor;
		}
	}
	img{
		border : 2px solid transparent;
		padding : 6px;
		&:hover{
			border : 2px solid @darkcolor;
		}
	}
	.table{
		td{
			border : none;
			padding: 1px 1px;
		}
	}
	.readmore{
		.viewdtls{
			margin-right : 10px;
		}
		a{
			background-color : @darkcolor;
			color : @lightbackcolor;
			padding : 6px 12px;
			border : 2px solid transparent;
			border-radius : 0px;
			font: 16px 'Cinzel-Regular', cursive;
			&:hover{
				color : @darkcolor;
				background-color:@back;
				border : 2px solid @darkcolor;
			}
		}
	}
}

//single property view
.singleproperty{
	.property{
		margin-bottom : 15px;
		margin-top : 15px;
		padding: 10px 15px;
		border : 1px solid @darkbackcolor;
		h3{
			border :none;
		}
		.table{
			tbody{
				tr{
					td{
						border-top : 1px dashed @darkbackcolor;
					}
				}
			}
		}
		.subimg{
			margin-top: 10px;
			img{
				height: 20px;
				display : inline-block;
				cursor : pointer;
				margin-right : 10px;
			}
		}
	}
	.propDetails{
		ul{
			li {
				padding: 3px;
			}
		}
		span{
			height : 20px;
			width :20px;
			margin-right: 6px;
			-webkit-filter: invert(1);
			filter: invert(1);
		}
		.amenity{
			background: url("../img/sprite_icons.png") transparent;
			display: inline-block;
			vertical-align: middle;
		} 
		span.amenity.power_backup {
			background-position: 1px -24px;
		}
		span.amenity.water_storage {
			background-position: -314px -24px;
		}
		span.amenity.lift {
			background-position: -644px -22px;
		}
		span.amenity.reserve_parking {
			background-position: -193px -22px;
		}
		span.amenity.security {
			background-position: -97px -22px;
		}
		span.amenity.maintenance_staff {
			background-position:-361px -22px;
		}
		span.amenity.gym {
			background-position: -432px -22px;
		}
		span.amenity.park {
			background-position: -385px -22px;
		}
		span.amenity.private_terrace {
			background-position: -168px -22px;
		}
		span.amenity.swimming_pool {
			background-position: -288px -22px;
		}
		span.amenity.club_house {
			background-position: -74px -49px;
		}
		span.amenity.hospital {
			background-position: -541px -4px;
		}
		span.amenity.airport {
			background-position: 1px -2px;
		}
		span.amenity.railway {
			background-position: -18px -1px;
		}
		span.amenity.school {
			background-position: -60px -1px;
		}
		.table{
			tbody{
				tr{
					th{
						background-color : @darkcolor;
						color : @color;
					}
					td, th{
						border: 1px solid @darkbackcolor;
					}
				}
			}
		}
	}
	.btn-primary{
		margin-bottom : 10px;
		border-radius : 5px;
		background-color : @darkcolor;
		color : @lightbackcolor;
		border : 2px solid transparent;
		border-radius : 0px;
		font: 16px 'Cinzel-Regular', cursive;
		&:hover{
			color : @darkcolor;
			background-color : @back;
			border : 2px solid @darkcolor;
		}
	}
}

	
@media (min-width: 992px){
	.propDetails{
		ul{
			li{
				width: 224px;
			}
		}
	}
	.property{
		.mainimg {
			img{
				max-height: 145px;
				max-width : 100%;
			}
		}
	}
}
@media (min-width: 1200px){
	.propDetails{
		ul{
			li{
				width: 274px;
			}
		}
	}
	.property{
		.mainimg {
			img{
				max-height: 180px;
				max-width : 100%;
			}
		}
	}
}