@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
.featuretab {
  margin-top: 20px;
}
.featuretab .tab-content {
  border: 1px solid #e68a00;
  border-top: none;
  position: relative;
  margin-bottom: 25px;
  padding: 1px 20px 0px;
}
.featuretab .nav-tabs {
  border-bottom: 1px solid #e68a00;
}
.featuretab .nav-tabs li a {
  border: 1px solid #e68a00;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
}
.featuretab .nav-tabs li a:hover {
  color: #ffffff;
  background-color: #289cae;
}
.featuretab .nav-tabs li.active > a,
.featuretab .nav-tabs li.active > a:hover,
.featuretab .nav-tabs li.active > a:focus {
  color: #ffffff;
  background-color: #289cae;
  border: 1px solid #e68a00;
}
#carousel .carousel-inner {
  box-shadow: 1px 1px 10px #4C4848;
}
#carousel .carousel-inner .item {
  height: 300px;
  overflow: hidden;
}
#carousel .carousel-inner .item > img {
  width: 100%;
  min-height: 300px;
}
#carousel .carousel-inner .item h2 {
  border: none;
}
#carousel a.left.carousel-control {
  left: 40px;
}
#carousel a.right.carousel-control {
  right: 40px;
}
#carousel a.left.carousel-control,
#carousel a.right.carousel-control {
  background: none;
}
.mailSentMsg {
  font: 1.2em/2.5em QumpellkaNo12;
  border: 1px solid #ffffa8;
  padding: 10px;
}
.sidebarModule .panel-default {
  border: none;
}
.sidebarModule.sidemenu {
  border: 1px solid #e68a00;
  padding: 15px 10px 0px;
  margin-top: 15px;
}
.sidebarModule.sidemenu ul {
  padding: 0;
  list-style: none;
}
.sidebarModule.sidemenu ul li {
  margin-bottom: 10px;
}
.sidebarModule.sidemenu a {
  display: inline-block;
  height: 85px;
  width: 186px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
.sidebarModule.sidemenu a.area_converter {
  background-image: url('../img/area-converter.png');
}
.sidebarModule.sidemenu a.emi_calculator {
  background-image: url('../img/emi-calculator.png');
}
.sidebarModule.sidemenu a.post_your_property {
  background-image: url('../img/post-your-property.jpg');
}
.sidebarModule.sidemenu a.post_your_requirement {
  background-image: url('../img/post-your-requirement.jpg');
}
.sidebar .nav-pills {
  background: linear-gradient(#289cae, #1d6770);
}
.sidebar .nav-pills > li {
  border-right: 1px solid #00cece;
}
.sidebar .nav-pills > li > a,
.sidebar .nav-pills > li > a:focus {
  color: #ffffa8;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active:hover > a,
.sidebar .nav-pills > li.active > a:focus,
.sidebar .nav-pills > li:hover > a,
.sidebar .nav-pills > li:hover > a:focus,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
  color: #ffffff;
  background: linear-gradient(#ff972f, #e68a00);
}
.about .table {
  margin-top: 20px;
}
.infrastructure .thumbnail {
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
}
.infrastructure .thumbnail .caption {
  height: 138px;
  margin-bottom: 10px;
  overflow: hidden;
}
.infrastructure .btn-info:hover {
  padding: 6px 40px;
}
.contact img {
  max-height: 125px;
}
.contact h4 {
  margin-top: 0px;
  border: none;
}
.contact .table tbody tr:first-child td {
  border-top: none;
}
#googleMap {
  height: 395px;
}
.testimonial blockquote,
.featrtesti blockquote {
  font-size: inherit;
  border-left: none;
}
.testimonial blockquote footer,
.featrtesti blockquote footer {
  background: none;
  padding: 0px;
}
.testimonial blockquote footer cite,
.featrtesti blockquote footer cite {
  font-size: 17px;
  color: #ff972f;
}
.testimonial blockquote::before,
.featrtesti blockquote::before {
  content: '\201c';
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 0;
  line-height: 40px;
  font-family: Times New Roman,Serif;
  font-size: 55px;
}
.testimonial blockquote {
  padding-left: 15px;
}
.testimonial blockquote footer img {
  max-height: 70px;
  width: 70px;
  margin-right: 10px;
}
.featrtesti blockquote {
  padding: 5px 15px;
}
.featrtesti img {
  max-height: 100px;
  padding: 4px;
}
.gallery .thumbnail h4 {
  border: none;
  padding-bottom: 0px;
}
.gallery .thumbnail .description {
  overflow: hidden;
  height: 125px;
}
.enquiry .panel-body {
  padding-bottom: 0px;
}
.contactus h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 320px) {
  .gallery .thumbnail {
    height: 380px;
  }
}
@media (min-width: 992px) {
  .gallery .thumbnail {
    height: 365px;
  }
  .gallery .thumbnail img {
    max-height: 155px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    height: 380px;
  }
  .gallery .thumbnail img {
    max-height: 200px;
    width: 100%;
  }
}
.captionOrange,
.captionBlack {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.captionOrange {
  background: #EB5100;
  background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack {
  font-size: 16px;
  background: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange,
A.captionOrange:active,
A.captionOrange:visited {
  color: #ffffff;
  text-decoration: none;
}
a.captionOrange:hover {
  color: #eb5100;
  text-decoration: underline;
  background-color: #eeeeee;
  background-color: rgba(238, 238, 238, 0.7);
}
.bricon {
  background: url(../img/browser-icons.png);
}
.featuredProperty .bx-viewport {
  padding-left: 10px;
}
.featuredProperty .bxslider1 {
  padding-left: 10px;
  list-style: none;
}
.featuredProperty .bxslider1 li .verify {
  width: 55%;
  border: none;
  margin-left: 10px;
  position: absolute;
  right: -55px;
  bottom: 7px;
  z-index: 999;
}
.featuredProperty .bxslider1 li .sliderImg {
  height: 150px;
  width: 200px;
  overflow: hidden;
  padding: 4px;
  border: 4px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg .slimg {
  min-height: 150px;
}
.featuredProperty .bxslider1 li .sliderImg:hover {
  border: 4px solid #289cae;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.featuredProperty .bxslider1 li .btn-info:hover {
  padding: 6px 12px;
}
.propertylist .btn-primary {
  margin-bottom: 10px;
}
.propertylist .btn-primary:hover,
.propertylist .btn-info:hover {
  padding: 6px 12px;
}
.propertylist .panel-default .sliderImg {
  height: 165px;
  width: 195px;
  overflow: hidden;
  padding: 4px;
  border: 4px solid transparent;
}
.propertylist .panel-default .sliderImg img {
  min-height: 150px;
}
.propertylist .panel-default .sliderImg:hover {
  border: 4px solid #289cae;
}
.propertylist .table td {
  border: none;
  padding: 1px 1px;
}
.singleproperty .property {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0px 20px;
  border: 1px solid #e68a00;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px dashed #e68a00;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #289cae;
}
.singleproperty .property .mainimg img {
  min-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .propDetails ul li {
  padding: 3px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table {
  margin-top: 20px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #e68a00;
  color: #ffffff;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #e68a00;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
}
@media (min-width: 320px) {
  .featuredProperty .bxslider1 li .verify {
    width: 55%;
    border: none;
    margin-left: 10px;
    position: absolute;
    right: -12px;
    bottom: -20px;
    z-index: 999;
  }
  .featuredProperty .propDetails ul li {
    width: 224px;
  }
  .featuredProperty .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (max-width: 540px) {
  .featuredProperty .bxslider1 li h4 {
    padding-left: 10px;
  }
  .featuredProperty .bxslider1 li .verify {
    width: 40%;
    left: 165px;
    bottom: -20px;
    z-index: 999;
  }
}
@media (min-width: 992px) {
  .featuredProperty .bxslider1 li .verify {
    width: 50%;
    border: none;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    bottom: -20px;
    z-index: 999;
  }
  .propDetails ul li {
    width: 275px;
  }
  .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 239px;
  }
  .property .mainimg img {
    max-height: 180px;
    max-width: 100%;
  }
}
.bxslider {
  padding: 5px;
}
.bxslider li {
  height: 325px;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid transparent;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .projimg:hover {
  border: 2px solid #289cae;
}
.bxslider li .btn-info {
  margin-bottom: 10px;
}
.bxslider li .btn-info:hover {
  padding: 6px 40px;
}
.bxslider li p {
  margin-bottom: 5px;
}
.homeproject {
  position: relative;
}
.homeproject .projectCarousal {
  position: relative;
  border: 5px solid #ffffff;
  z-index: 99;
  width: 100%;
  margin: 0 auto;
  float: none;
  z-index: 1;
  box-shadow: 0 0 15px;
  overflow: hidden;
}
.homeproject .projectCarousal .bx-viewport {
  height: 500px;
  min-height: 300px !important;
}
.homeproject .projectCarousal .bx-viewport .carousslider {
  min-height: 300px;
}
.homeproject .projectCarousal .bx-viewport .carousslider li {
  left: 0;
  min-height: 300px;
  min-width: 100% !important;
}
.homeproject .projectCarousal .bx-viewport img {
  height: 500px;
}
.homeproject .projectnav,
.homeproject .projsnap {
  position: absolute;
  background: linear-gradient(#289cae, #1d6770);
  height: 320px;
  width: 300px;
  top: 100px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
}
.homeproject .projectnav {
  padding: 5px;
  left: 10;
  left: 0;
}
.homeproject .projectnav .nav-stacked > li + li {
  margin-top: 10px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus {
  color: #ffffa8;
  padding: 10px 15px;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus {
  text-decoration: none;
  background: linear-gradient(#ff972f, #e68a00);
  color: #ffffff;
  transform: translateX(-50px);
  width: 330px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: right;
  padding-right: 50px;
}
.homeproject .projsnap {
  right: 16px;
  padding-left: 60px !important;
  padding-top: 7px !important;
  padding-right: 10px !important;
  text-align: center;
}
.homeproject .projsnap h4 {
  border: none;
  color: #ffffa8;
}
.homeproject .projsnap ul li {
  color: #ffffa8;
  font-size: 13px;
  padding: 10px 15px;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
}
.homeproject .projsnap p {
  padding: 3px;
  color: #ffffa8;
}
.homeproject .projsnap p:last-child {
  border: none;
}
.homeproject .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #ffffa8;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty a {
  color: #ffffa8;
  text-decoration: underline;
}
.homeproject .projsnap .viewproperty a:hover {
  color: #ffffff;
  text-decoration: none;
}
.project .navbar {
  border: 1px solid #00cece;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: auto;
}
.project ul.nav.navbar-nav {
  background: linear-gradient(#289cae, #1d6770);
}
.project ul.nav.navbar-nav > li {
  border-right: 1px solid #00cece;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 8px;
  color: #ffffa8;
  position: relative;
  font-size: 13px;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background: linear-gradient(#ff972f, #e68a00);
  color: #ffffff;
}
.project .projHead,
.project .projImg {
  margin-top: 10px;
}
.project .projImg {
  max-height: 175px;
  margin-right: 10px;
  float: left;
}
.project .projectgallery .thumbnail.floor {
  height: 275px;
}
.project .projectgallery .thumbnail .projectImags {
  width: 205px;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
}
.project .projectgallery .thumbnail .projectImags img {
  min-height: 170px;
}
.projlist .project .thumbnail {
  height: 385px;
}
.projlist .project .thumbnail .projectimg {
  width: 205px;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
}
.projlist .project .thumbnail .projectimg img {
  min-height: 170px;
  border: 2px solid transparent;
  padding: 4px;
}
.projlist .project .thumbnail .projectimg img:hover {
  border: 2px solid #289cae;
}
.projlist .project .thumbnail .caption {
  padding: 9px 5px;
  height: 120px;
}
.projlist .project .thumbnail .caption p {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .homeproject .projectCarousal {
    position: static;
    width: auto;
    height: 300px;
    margin: 0 ;
    border-radius: 0px;
    margin-bottom: 5px;
  }
  .homeproject .projectCarousal::after {
    position: absolute;
    content: "";
    background-image: url('../img/lady.png');
    background-size: 100% 100%;
    bottom: -3px;
    z-index: 999;
    height: 290px;
    width: 120px;
    left: 17px;
  }
  .homeproject .projsnap {
    padding-left: 0px !important;
  }
  .homeproject .projectnav .nav-stacked > li {
    text-align: center;
  }
  .homeproject .projectnav .nav-stacked > li.active > a,
  .homeproject .projectnav .nav-stacked > li.active:hover > a,
  .homeproject .projectnav .nav-stacked > li.active > a:focus,
  .homeproject .projectnav .nav-stacked > li:hover > a,
  .homeproject .projectnav .nav-stacked > li:hover > a:focus,
  .homeproject .projectnav .nav-stacked > li > a:hover,
  .homeproject .projectnav .nav-stacked > li > a:focus {
    transform: translateX(0px);
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    padding-right: 50px;
  }
  .homeproject .projectnav,
  .homeproject .projsnap {
    position: static;
    width: auto;
  }
}
@media (max-width: 540px) {
  .projectCarousal::after {
    display: none;
    width: 0px;
  }
  .project .navbar {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .project .projImg {
    float: none;
  }
}
.services {
  text-align: center;
}
.services .thumbnail {
  border-radius: 0px;
  padding: 0px;
}
.services .thumbnail .servimage {
  height: 150px;
  overflow: hidden;
}
.services .thumbnail .servimage img {
  min-height: 150px;
}
.services .thumbnail .description {
  height: 75px;
  overflow: hidden;
  padding: 5px;
}
.services .thumbnail .description h4 {
  border: none;
}
.services .thumbnail .readmore {
  margin-bottom: 10px;
}
.products .thumbnail {
  height: 385px;
}
.products .thumbnail .prodimg {
  height: 148px;
  width: 210px;
  margin: 0 auto;
  overflow: hidden;
}
.products .thumbnail .prodimg img {
  min-height: 148px;
  border: 2px solid transparent;
  padding: 4px;
}
.products .thumbnail .prodimg img:hover {
  border: 2px solid #289cae;
}
.products .thumbnail .caption {
  height: 185px;
}
.products .thumbnail .caption .description {
  height: 75px;
  overflow: hidden;
}
.products .thumbnail .readmore {
  margin-top: 10px;
  text-align: center;
}
.products .thumbnail .readmore .btn-info:hover {
  padding: 6px 40px;
}
body {
  overflow: scroll;
}
.container {
  max-width: 992px !important;
}
.sociallinks {
  top: 50%;
  width: 5px;
  position: fixed;
  z-index: 999;
}
.sociallinks ul {
  list-style: none;
}
.sociallinks ul li {
  transform: translateX(-123px);
  padding: 4px 4px 4px 10px;
  background: -webkit-linear-gradient(#ff972f, #e68a00);
  background: -moz-linear-gradient(#ff972f, #e68a00);
  background: linear-gradient(#ff972f, #e68a00);
  margin: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: right;
  width: 130px;
}
.sociallinks ul li a {
  color: #ffffff;
}
.sociallinks ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.sociallinks ul li img {
  width: 35px;
  margin-left: 10px;
  border: 2px solid #ffffff;
}
.sociallinks ul li span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.sociallinks ul li:hover {
  transform: translateX(-45px);
}
header {
  margin-bottom: 50px;
}
@-webkit-keyframes dropLogo {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes dropLogo {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo {
  -webkit-animation: dropLogo 1500ms ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation: dropLogo 1500ms ease-in-out;
  animation-iteration-count: 1;
}
.logo img {
  max-height: 97px;
  margin-top: 15px;
  border-radius: 20px;
}
@-webkit-keyframes dropHeader {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropHeader {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.heading {
  -webkit-animation: dropHeader 1500ms ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation: dropHeader 1500ms ease-in-out;
  animation-iteration-count: 1;
}
.heading h1 {
  color: #ff972f;
  border: none;
  font: 3.1em/1em negotiate_free;
  text-shadow: 2px 0 4px #000000;
}
@-webkit-keyframes dropCnctinfo {
  0% {
    transform: translateY(50px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropCnctinfo {
  0% {
    transform: translateY(50px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.cnct {
  -webkit-animation: dropCnctinfo 1000ms ease-in 100ms 1;
  animation: dropCnctinfo 1000ms ease-in 100ms 1;
}
a,
.btn.btn-link {
  color: #e68a00;
}
a:hover,
.btn.btn-link:hover,
a:hover,
.btn.btn-link:hover {
  text-decoration: none;
  color: #1d6770;
}
.btn.btn-link {
  font-size: 17.5px;
  padding-left: 0px;
}
.cnctinfo {
  margin: 40px 15px 40px 0;
}
.navbar-collapse {
  padding: 0px;
}
.navbar-toggle {
  border: 1px solid #ff972f;
  margin-top: 8px;
}
.projdtls {
  background: linear-gradient(#289cae, #1d6770);
  border-color: #289cae;
  color: #ffffff;
}
.navbar-toggle .icon-bar {
  background-color: #e68a00;
}
.modal-body p {
  color: #000000;
}
.btn + .btn {
  margin-left: 10px;
}
.navbar-default {
  background-color: #289cae;
  border: 1px solid #00cece;
  border-radius: 0;
}
.navbar-default .navbar-nav > li {
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  font: bold 15px/1em Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: linear-gradient(#ff972f, #e68a00);
  color: #ffffff;
  padding: 22px 15px;
  margin-top: -12px;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 245px;
  z-index: 999;
  background: linear-gradient(#289cae, #1d6770);
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffa8;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  background: linear-gradient(#ff972f, #e68a00);
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li ul {
  background: linear-gradient(#289cae, #1d6770);
  list-style: none;
  display: none;
  position: absolute;
  left: 150px;
  width: 180px;
  padding: 2px;
  top: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li {
  padding: 10px;
}
.navbar-default .navbar-nav > li > ul > li ul li a {
  color: #ffffa8;
}
.navbar-default .navbar-nav > li > ul > li ul li:hover {
  background: linear-gradient(#ff972f, #e68a00);
}
.navbar-default .navbar-nav > li > ul > li ul li:hover a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
h1 {
  border-bottom: 1px solid #e68a00;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font: 2.3em/1.2em negotiate_free;
  color: #e68a00;
}
h2,
h3,
h4 {
  color: #e68a00;
  border-bottom: 1px solid #e68a00;
  padding-bottom: 10px;
}
h3,
h4,
h5 {
  font-family: 'negotiate_free';
}
h2 {
  font: 2em/1.2em negotiate_free;
  line-height: 1.5em;
  font-weight: bold;
}
.sidebarModule .panel,
.sidebarModule .sections,
.contentModule .sections {
  border: 1px solid #e68a00;
  border-radius: 4px;
}
.sidebarModule .panel-body {
  padding: 15px 15px 0px;
}
.featured_services .sections {
  border: none;
}
.form-control {
  background: transparent;
  border-color: #e68a00;
}
.form-control:focus {
  border-color: #289cae;
}
.btn-info,
.btn-primary {
  border: none;
  background: linear-gradient(#289cae, #1d6770);
  color: #ffffff;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
}
.btn-info:hover,
.btn-primary:hover,
.btn-info:hover,
.btn-primary:hover {
  background: linear-gradient(#ff972f, #e68a00);
  color: #ffffff;
}
.btn-info:hover {
  padding: 6px 40px;
}
.subhead {
  font-size: 18px;
  background: linear-gradient(#ff972f, #e68a00);
  border-radius: 7px;
  color: #ffffff;
  padding: 4px 15px 12px;
  position: relative;
}
hr {
  border-style: dashed;
  border-color: #289cae;
  margin: 0px 0px 10px;
}
.sidebarModule .sections,
.contentModule .sections {
  padding: 10px;
}
.sidebarModule h4 {
  border: none;
}
.thumbnail {
  border-color: #e68a00;
  background: none;
}
.panel {
  background: transparent;
}
.panel-default {
  border: 1px solid #e68a00;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #289cae;
  color: #ffffa8;
  border: 1px solid #e68a00;
}
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  background-color: #e68a00;
  border: 1px solid #289cae;
  color: #ffffff;
}
footer {
  margin-top: 15px;
  padding: 15px 0;
}
footer a {
  color: #333;
}
* {
  transition: 300ms;
}
@media (max-width: 540px) {
  header .navbar {
    min-height: 1px;
  }
  header .navbar-default .navbar-nav {
    margin: 0px;
  }
  header .navbar-default .navbar-nav > li.active > a,
  header .navbar-default .navbar-nav > li.active:hover > a,
  header .navbar-default .navbar-nav > li.active > a:focus,
  header .navbar-default .navbar-nav > li:hover > a,
  header .navbar-default .navbar-nav > li:hover > a:focus,
  header .navbar-default .navbar-nav > li:hover > a:focus {
    border: 1px solid #e68a00;
    top: 0px;
    background-color: #ff972f;
    color: #ffffff;
  }
}
@media (max-width: 480px) {
  .navbar-default .navbar-nav {
    margin: 0px;
  }
  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li.active:hover > a,
  .navbar-default .navbar-nav > li.active > a:focus,
  .navbar-default .navbar-nav > li:hover > a,
  .navbar-default .navbar-nav > li:hover > a:focus,
  .navbar-default .navbar-nav > li:hover > a:focus {
    background-color: #ff972f;
    margin-top: 0px;
    padding: 10px 17px;
    top: 0px;
    border: 1px solid #e68a00;
    color: #ffffff;
  }
}
.one {
  float: left;
}
.two {
  float: right;
  text-align: right;
}
