@font-face{
	font-family:'negotiate_free';
	src:url('../fonts/negotiate_free.ttf');
}
@font-face{
	font-family:'Enriqueta-Regular';
	src:url('../fonts/Enriqueta-Regular.otf');
}

//text color shade
	@color : #0260A5; // #C4DE9B green
	/*@lightcolor : #CCFFCC; // light gray*/
	@lightcolor :#6479F5;
	@darkcolor : #F9A825; // dark blue
	
//background color shade
	@back :#F3DC96;// lightyellow color
	@darkbackcolor : #094688; //#8C241F use dark blue nav n menu
	
	/*@lightbackcolor :#C4DE9B;  //#F0DA81 light bg (light green)*/
	@lightbackcolor: #F57F17;   //light blue color
//common color shade
	@colorblack : #000000;
	@colorwhite	: #ffffff;
	@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	body{
		/*background-image : url('../img/bgrnd.jpg');*/
		/*background-color : #FFC11E;*/
		background-color :@back;
		background-repeat : repeat;
		position : relative;
	}
	
	.sociallinks{
		top: 50%;
		position: fixed;
		z-index : 999;
		width : 5px;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				/*background: -webkit-linear-gradient(@darkcolor, @darkbackcolor);*/
				/*background: -moz-linear-gradient(@darkcolor, @darkbackcolor);*/
				/*background: linear-gradient(@darkcolor, @darkbackcolor);*/
				background-color:@color;
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color : @colorwhite;
					&:hover{
						color : @colorwhite;
						text-decoration : underline;
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	.container{
		max-width : 992px !important;
	}
	.logo {
		height: 80px;
		margin-top: 25px;
		max-width: 100%;
		margin-bottom : 20px;
	}
	a, .btn.btn-link{
		color: @darkbackcolor;
		&:hover, &:hover{
			text-decoration : none;
			color: @color;
		}
	}
	.btn.btn-link{
		font-size : 17.5px;
		padding-left : 0px;
	}
	
	.cnctinfo{
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @darkcolor;
		margin-top : 8px;
	}
	.navbar-toggle .icon-bar {
		background-color: @darkbackcolor;
	}
	.modal-body	{
		p{
			color:@colorblack;
		}
	}
	
	.btn + .btn{
		margin-left:10px;
	}
	
	
	.nav>li>a:hover{
	 /* background: linear-gradient(#CCA635, #ff6f00);*/
	  background: linear-gradient(#F3C22C,#F97115);
	}
	.navbar-default {
		/*background-color:@color;*/
		/*background: linear-gradient(#0277bd,#3F51B5);*/
		/*background: linear-gradient(#0277bd,#283593);*/
		background: linear-gradient(@lightcolor,@color);
		border: 1px solid @back;
		border-radius: 0;
		.navbar-nav{
			> li{
				margin-bottom:0px;
				position : relative;
				> a, > a:focus {
					color : @colorwhite;
					font : bold 15px/1em Arial, Helvetica, sans-serif;
					position : relative;
					text-transform : uppercase;
					border : 3px solid transparent;
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					/*background : linear-gradient(@back, #FF6F00);*/
					/*background: linear-gradient(#F3C22C,#F97115);*/
					background: linear-gradient(@lightbackcolor 75%,@darkcolor);
					border: 3px solid @darkbackcolor;
					color : @colorwhite;
					padding : 22px 15px;
					margin-top : -12px;
				}
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 9999;
					/*background : linear-gradient(@back, @color);*/
					/*background-color:@darkbackcolor;*/
					background: linear-gradient(#6479F5,@color 3%);
					
					
					
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
							color : @colorwhite;
							&:hover{
								color : @colorwhite;
							}
						}
						&:hover{
							/*background : linear-gradient(@darkcolor, @darkbackcolor);*/
							/*background : linear-gradient(@back, #FF6F00);*/
							background : linear-gradient(#FF9800, #F57F17);
							-webkit-transition: all 0.4s;
						}
						ul{
							background : linear-gradient(@back, #FF6F00);
							border:1px solid @darkbackcolor;
							list-style: none;
							display : none;
							position : absolute;
							left: 150px;
							width: 180px;
							padding : 2px;
							li{
								padding : 10px;
								a{
									color : @colorwhite;
								}
								&:hover{
								background : linear-gradient(@back, #FF6F00);
									a{
										color : @colorwhite;
									}
								}
							}
						
						}
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	
	.content{
		background-color : @darkbackcolor;
		border-radius : 7px;
		margin-top : 15px;
		padding: 10px 20px 30px;
	}
	h1 {
		border-bottom: 1px solid @darkbackcolor;
		font-weight:bold;
		letter-spacing: 1px;
		padding-bottom:10px;
		font: 2.3em/1.2em negotiate_free;
		color: @darkbackcolor;
		text-align:center;
	}
	h2, h3, h4 {
		color: @darkbackcolor;
		border-bottom: 1px solid @darkbackcolor;
		padding-bottom:10px;
	}
	h3,h4,h5{
		font-family: 'negotiate_free';
	}
	h2{
		font: 2.0em/1.2em negotiate_free;
		line-height:1.5em;
		font-weight:bold;
	}
	.sidebarModule .panel,.sidebarModule .sections, .contentModule .sections{
		background : transparent;
		border:1px solid @darkbackcolor;
		border-radius : 4px;
	}
	.featured_services{
		.sections{
			border : none;
		}
	}
	.form-control{
		background : transparent;
		border-color : @darkbackcolor;
		&:focus{
			border-color : @back;
		}
	}
	.btn-info,.btn-primary{
		border : none;
		/*background: linear-gradient(@lightbackcolor 75%,@darkcolor);*/
		background: linear-gradient(#6479F5,@color);
		color : @colorwhite;
		font: bold 13px/1.5em Arial, Helvetica, sans-serif;
		&:hover, &:hover{
			background-color:@darkbackcolor;
			color : @colorwhite;
		}
	}
	.subhead{
		font-size: 18px;
		/*background : linear-gradient(#536DFE, @darkbackcolor);*/
		/*background: linear-gradient(#F57F17 75%,#F9A825);*/
		/*background-color:@color;*/
		/*background: -linear-gradient(#6479F5,@color);*/
		background: linear-gradient(#6479F5,@color);
		border-radius : 7px;
		color : @colorwhite;
		padding: 4px 15px 12px;
		position : relative;
	}
	hr{
		border-style:dashed;
		border-color:@back;
		margin: 0px 0px 10px;
	}
	.sidebarModule, .contentModule{
		.sections{
			padding:10px;
		}
	}
	.sidebarModule{	
		h4{
			border : none;
		}
	}
	.panel{
		background : transparent;
	}
	.panel-default{
		border : 1px solid @darkbackcolor;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	{
		background-color : @back;
		color : @lightcolor;
		border : 1px solid @darkbackcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:hover{
		background-color : @darkbackcolor;
		border : 1px solid @back;
		color : @colorwhite;
	}
	footer{
		margin-top : 15px;
		padding: 15px 0;
	}
	*{
		transition:300ms;
	}
	
	@media (max-width: 540px){
		header {
			.navbar{
				min-height : 1px;
			}
			.navbar-default{
				.navbar-nav {
					margin: 0px;
						>li{
						&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
							background : linear-gradient(@darkcolor, @darkbackcolor);
							top : 0px;
							padding: 10px 15px;
							margin-top: 0px;
							background-color:@darkcolor;
							border: 1px solid @darkbackcolor;
							color : @colorwhite;
						}
					}
				}
			}
		}
	}
	@media (max-width: 480px){
		.navbar-default{
			.navbar-nav {
				margin: 0px;
					>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						background-color:@darkcolor;
						margin-top:0px;
						padding:10px 17px;
						top : 0px;
						border: 1px solid @darkbackcolor;
						color : @colorwhite;
					}
				}
			}
		}
		
	}
	@media (max-width: 768px){
	.homeproject::after{
	display:none;
	}
	@media (max-width: 728px){
		.featuredProperty .bxslider1 li .verify {
			width: 40%;
			border: none;
			margin-left: 10px;
			position: absolute;
			right: 189px;
			bottom: -28px;
			z-index: 999;
		}
	}
		@media (min-width:320px) and (max-width:428px){
		.featuredProperty .bxslider1 li .verify {
			width: 40%;
			border: none;
			margin-left: 10px;
			position: absolute;
			right: 33px;
			bottom: -17px;
			z-index: 999;
		}
	}
	
	
	}
	