	{% autoescape false %}
	<h2>Gallery</h2>
	<div class="row gallery">
		{% if data.gallery %}
			
			
			{% for key, value in data.gallery %}

			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
			<!-- 				<div class="thumbnail">
					<div class="demo-1 effect">
						<img class="img-responsive" src="{{value.image.file_relative_path}}" alt="{{key}}" />
						<div class="caption">
							<h4 class="text-center">{{value.heading}}</h4>
							<div class="description">{{ value.description }}</div>
					</div> 
					</div>
				</div> -->
				<ul class="demo-1 effect">
					<li>
						 <ul>
							<li>
								<h4 class="text-center">{{value.heading}}</h4>
								<div class="description">{{ value.description }}</div>
							</li>
							
							<li><img class="img-responsive top" src="{{value.image.file_relative_path}}" alt="{{key}}" /></li>
						</ul>
					</li>

				</ul>
			</div>
			{% endfor %}
		{% endif %}
	</div>
	{% endautoescape %}
