{% autoescape false %}
<h2>{{title}}</h2>
<div class="row products">
	{% for key, x in products %}
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="thumbnail">
			<div class="leaf">
				<div class="row">
				
						<div class="col-sm-4">
							<div class="prodimg">
								<!-- <figure> -->
								<img src="{{x.product_image.0.file_relative_path}}" class="img-responsive center-block" alt="{{key}}"/>
								<!-- </figure> -->
							</div>
						</div>
						<div class="col-sm-8">
							<div class="caption">
								<h4>{{ x.product_service_name }}</h4>
								<div class="description">
								{{ x.description }}
								</div>
							</div>
							<div class="readmore">
								{% if x.type == 'service' %}
									<a href="/services/{{x.product_service_name| replace({' ':'-', '/':'_'})}}/{{x.id}}" class="btn btn-info">Read More..</a>
								{% endif %}
								{% if x.type == 'product' %}
									<a href="/products/{{x.product_service_name| replace({' ':'-', '/':'_'})}}/{{x.id}}" class="btn btn-info">Read More..</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	{% endfor %}
	
	{% include [templatePath ~ '/includes/pagination.html', 'default/default/includes/pagination.html'] %}
</div>
{% endautoescape %}