{% autoescape false %}
	<span ng-bind="id"></span>
	<h2>About us</h2>
	<div class="sidebar" id="navbar-example">
		<ul class="nav nav-pills" >
			<li ng-class="{active:id=='about'}" ng-click="makeActive('about')"><a href="#about">About Us</a></li>
			<li ng-class="{active:id=='infrastructure'}" ng-click="makeActive('infrastructure')"><a href="#infrastructure">Infrastructure/Facilities</a></li>
		</ul>
	</div>
	<div class="about" id="about">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th>Primary Business Type</th>
						<th>Year Of Establishment</th>
						{% if data.business_profile.no_of_employees %}
							<th>No. Of Employees</th>
						{% endif %}
						{% if data.ownership %}
							<th>Ownership Type</th>
						{% endif %}	
						{% if data.business_profile.additional_business %}
							<th>Additional Business</th>
						{% endif %}
					</tr>
					<tr>
						<td>{{data.business_profile.business_type}}</td>
						<td>{{data.business_profile.establishment}}</td>
						{% if data.business_profile.no_of_employees %}
							<td>{{data.business_profile.no_of_employees}}</td>
						{% endif %}
						{% if data.ownership %}
							<td>{{data.ownership}}</td>
						{% endif %}
						{% if data.business_profile.additional_business %}
						<td>
							<ul>
							{% for x in data.business_profile.additional_business %}
								<li>{{x}}</li>
							{% endfor %}
							</ul>
						</td>
						{% endif %}
					</tr>
				</table>
				</div>
				{{data.business_info.aboutDescription}}
			</div>
		</div>
	</div>
	
	{% if data.infrastructure %}
		<hr>
		<div class="infrastructure" id="infrastructure">
			<h3 class="text-center">Infrastructure/Facilities</h3>
			<div class="row">
				{% for key, value in data.infrastructure %}
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="thumbnail">
							<img class="img-responsive " src="{{value.image.file_relative_path}}"/>
							<div class="caption text-center" ng-controller="aboutController">
								<h4>{{value.heading}}</h4>
								{{value.description|length >100 ? value.description|slice(start,100)~ '...' : value.description}}
							</div>
							<div class="readmore text-center">
								<a type="button" class="btn btn-info"  data-toggle="modal" data-target="#myModal{{loop.index}}">Read More..</a>
							</div>
						</div>
					</div>
					<!-- modal -->	
					<div id="myModal{{loop.index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Infrastructure Details</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-lg-3">
											<a href="#">
											  <img class="img-responsive" src="{{value.image.file_relative_path}}"/>
											</a>
										</div>
										<div class="col-xs-12 col-sm-8 col-lg-9">
											<h4>{{value.heading}}</h4>
											<p>{{value.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--modal end-->
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endautoescape %}