{% autoescape false %}
	{% if data.job_careers %}
	<div class="content myjobs">
		<div class="row">
			<div class="col-md-12"><h2 class="text-center">{{title | replace({'_': " "})}}</h2></div>
			{% for key, value in data.job_careers if break == 0 %}
				<div class="col-sm-6 col-md-3">
					<div class="panel panel-default">
						<div class="panel-body jobs">
							<h3>{{key}}</h3>
							<p>{{ value.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endautoescape %}
