<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" class="border" novalidate>
	<div class="alert alert-success" ng-show="mailSent==true" role="alert">Message has been sent!</div>
	<h4 class="text-center">Send Enquiry</h4>
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">Name :</label>
		<div class="col-sm-9">
			<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
			<input type="hidden" class="form-control" id="type" name="type" ng-model="enquiry.user_id" >
			
			<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc='vilas@wtouch.in'">
			
			<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to= modalOptions.enquiryData.to_email.to">
			
			<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject" ng-init="enquiry.subject = modalOptions.enquiryData.subject">
			
			<div ng-if="modalOptions.enquiryData.category">
				<input type="hidden" class="form-control" id="category" name="category" ng-model="enquiry.category" ng-init="enquiry.category = modalOptions.enquiryData.category">
				
				<input type="hidden" class="form-control" id="type" name="type" ng-model="enquiry.type" ng-init="enquiry.type = modalOptions.enquiryData.type">
				
				<input type="hidden" class="form-control" id="keywords" name="keywords" ng-model="enquiry.keywords" ng-init="enquiry.keywords = modalOptions.enquiryData.keywords">
			</div>
			<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
				<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
		</div>	
	</div>
	
	<div class="form-group">
	 <label for="email" class="col-sm-3 control-label">Email :</label>
			<div class="col-sm-9">
			<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.from_email.from" required>
			<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
				<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
				<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>	
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="phone" class="col-sm-3 control-label">Mobile Number :</label>
		<div class="col-sm-9">
			<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
			<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
		</div>						
	</div>	
	<div class="form-group">
		<label for="address" class="col-sm-3 control-label">Address :</label>
		<div class="col-sm-9">
			<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlength="2" ng-maxlength="356" required>
			</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="message" class="col-sm-3 control-label">Message :</label>
		<div class="col-sm-9">
			<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlength="2" ng-maxlength="356" required>
			</textarea>
			
		</div>
		
	</div>
	<div ng-if="!modalOptions.enquiryData.category && !modalOptions.enquiryData.type">
		<div class="form-group">
			<label for="category" class="col-sm-3 control-label" name="category">Category *</label>
			<div class="col-sm-9">
				<select class="form-control" name="category" id="category"  ng-model="enquiry.category" ng-change="getTypes(enquiry.category)" required ng-options="item.id as item.category_name for item in businessCategories">		
					<option value="">Select Category</option>
				</select>
				<span class="help-block" ng-show="enquiryForm.category.$dirty && enquiryForm.category.$invalid">
					<span ng-show="enquiryForm.category.$error.required" class="text-danger">Category is required.</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="type" class="col-sm-3 control-label" name="type">Type *</label>
			<div class="col-sm-9">
				<select class="form-control" name="type" id="type"  ng-model="enquiry.type" ng-change="getKeywords(enquiry.type)" required ng-options="item.id as item.category_name for item in businessTypes">
					<option value="">Select Type</option>
				</select>
				<span class="help-block" ng-show="enquiryForm.type.$dirty && enquiryForm.type.$invalid">
				<span ng-show="enquiryForm.type.$error.required" class="text-danger">Type is required.</span>
				</span>				
			</div>
		</div>	
		<div class="form-group">
			<label for="keyword" class="col-sm-3 control-label">Keywords*</label>
			<div class="col-sm-9">
				<select class="form-control" multiple name="keyword" id="keyword"  ng-model="enquiry.keywords"  ng-options="item.category_name as item.category_name for item in businessKyewords">		
					<option value="">Select Keywords</option>
				</select>
			</div>
		</div> 
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-10 ">
			<button ng-if="modalOptions.modal" type="submit" class="btn btn-primary "  ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent" ng-click="modalOptions.formData(enquiry); modalOptions.ok()">Send Enquiry</button>
			
			<button ng-if="!modalOptions.modal" type="submit" class="btn btn-primary "  ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent" ng-click="postData(enquiry)">Send Enquiry</button>
			
			<button ng-click="modalOptions.close()" class="btn btn-danger col--offset-sm-3" title="Cancel Sending">Cancel</button>
		</div>
		
	</div>
</form>