	<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-controller="enquiryController" class="border" novalidate>
		<div class="modal-body">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
			<div class="alert alert-success" ng-show="mailSent==true" role="alert">Message has been sent!</div>
			<h4 class="text-center">Send Enquiry</h4>
				<div class="form-group">
					<div class="col-sm-12">
						
						<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
						
						<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc='vilas@wtouch.in'">
				
						<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject" ng-init="enquiry.subject = '{{data.business_name}}'">
						
						<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
							<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
					</div>	
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.from_email.from" required>
						<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
							<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
							<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
						<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
					</div>						
				</div>	
				<div class="form-group">
					<div class="col-sm-12">
						<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlength="2" ng-maxlength="356" required>
						</textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlength="2" ng-maxlength="356" required>
						</textarea>
						
					</div>
					
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary pull-right"  ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent"ng-click="modalOptions.formData(enquiry); modalOptions.ok()">Send</button>
					</div>	
					<div class="col-sm-6">
						<button ng-click="modalOptions.close()" class="btn btn-danger" title="Cancel Sending">Cancel</button>
					</div>
				</div>
		</div>
	</form>
