<script type="text/ng-template" id="city.html">
    <a>
     <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
     <span>(<small bind-html-unsafe="match.model.area"></small>-<small bind-html-unsafe="match.model.pincode"></small>)</span>
    </a>
</script>
<script type="text/ng-template" id="search.html">
    <a>
     <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
     <span>(<small bind-html-unsafe="match.model.location"></small>-<small bind-html-unsafe="match.model.area"></small>)</span>
    </a>
</script>

<header ng-controller="TypeaheadCtrl">
	<nav class="navbar navbar-default  navbar-fixed-top">
		<div class="container">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="{{path}}img/logo.png" title="Apnasite Portal" class="img center-block " /></a>
			</div>
			<form class="navbar-form navbar-left" role="search">
					<div class="input-group search" ng-if="!index.html">
						<input type="text" typeahead-template-url="search.html" required name="location" id="location" ng-model="keyword" typeahead-on-select="getSearchResult(city, $item)" placeholder="Type to Search" typeahead="search.business_name for search in getSearchData($viewValue, city)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control " autocomplete="off">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/app/#/login">Login</a></li>
				<li><a href="/app/#/register">Register</a></li>
			</ul>
		</div>
	</nav>
</header>