{% if totalRecords >= 10  %}
	<nav>
		  <ul class="pagination">
			<li {{ (currentPage == 1) ? 'class="disabled"' }}>
			  <a href="?page={{currentPage - 1}}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
		{% for i in 0..(totalRecords/10) %}
		<li {{ (currentPage == i + 1 ) ? 'class="active"' }} ><a href="?page={{i + 1}}">{{i + 1}}</a></li>
		{% endfor %}
			<li {{ (currentPage == (totalRecords/10  ) | round(0, 'ceil')) ? 'class="disabled"' }}>
			  <a href="?page={{currentPage + 1}}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
		  </ul>
		</nav>
{% endif %}