<section >
	<div class="modal-header">
			<h3 class="modal-title">Search Result By Location</h3>
	</div>
	<div class="modal-body">
		<label class="control-label" > Search Location</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for...">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button">
				<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</section>