<script type="application/ld+json">
[{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://apnasite.in",
  "logo": "http://apnasite.in/website/portal/views/img/logo.png"
},
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name" : "ApnaSite",
  "alternateName" : "ApnaSite Provides Dynamic Website in 4 Easy Steps!",
  "url": "http://apnasite.in",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://apnasite.in/search/Pune/{search_term_string}",
    "query-input": "required name=search_term_string"
  }
}]
</script>