<div class="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li ng-class="{active:id=='home'}" ng-click="makeActive('home')"><a href="#home">Home</a></li>
		<li ng-class="{active:id=='about'}" ng-click="makeActive('about')"><a href="#about">About Us</a></li>
		<li ng-class="{active:id=='products'}" ng-click="makeActive('products')"><a href="#products">Products</a></li>
		<li ng-class="{active:id=='services'}" ng-click="makeActive('services')"><a href="#services">Services</a></li>
		<li ng-class="{active:id=='testimonials'}" ng-click="makeActive('testimonials')"><a href="#testimonials">Testimonials</a></li>
		<li ng-class="{active:id=='activities'}" ng-click="makeActive('activities')"><a href="#activities">Activities</a></li>
		<li ng-class="{active:id=='contact'}" ng-click="makeActive('contact')"><a href="#contact">Contact Profile</a></li>
	</ul>
</div>