<div class="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li class="active" ng-class="{active: formPart=='home'}"><a ng-click="showFormPart('home')">
		Home</a></li>
		<li ng-class="{active: formPart=='about'}"><a ng-click="showFormPart('business')">About Us</a></li>
		<li ng-class="{active: formPart=='products'}"><a ng-click="showFormPart('services')">Products</a></li>
		<li ng-class="{active: formPart=='services'}"><a ng-click="showFormPart('services')">Services</a></li>
		<li ng-class="{active: formPart=='testimonials'}"><a ng-click="showFormPart('testimonials')">Testimonials</a></li>
		<li ng-class="{active: formPart=='activities'}"><a ng-click="showFormPart('activities')">Activities</a></li>
		<li ng-class="{active: formPart=='contact'}"><a ng-click="showFormPart('contact')">Contact Profile</a></li>
		
	</ul>
</div>