{% autoescape false %}
	<script src="http://maps.googleapis.com/maps/api/js">
	</script>
	<script>
		function initialize() {
			var mapProp = {
				center:new google.maps.LatLng({{google_map.latitude}},{{google_map.longitude}}),
				zoom:12,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
			var marker=new google.maps.Marker({
				position:new google.maps.LatLng({{google_map.latitude}},{{google_map.longitude}}),
			});
			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	<h2>Contact Us</h2>
	<div class="row contact">
		<div class="col-xs-12 col-md-6 col-sm-6">
		{%include [templatePath ~ '/includes/enquiry.html', 'default/default/includes/enquiry.html']%}
		
		</div>
			<div class="col-xs-12 col-md-6 col-sm-6 box">
			<h2>contact us</h2>
			<p>{{data.business_name}}:</p>
			<h3>{{data.contact_profile.contact_person}}</h3>
						<b>Address:</b>
						<address>
							{{data.contact_profile.address}}
							{{data.city}}-{{data.pincode}},
							{{data.state|capitalize}},
							{{data.country|capitalize}}.
						</address>
				 <p><strong>Mobile:</strong> {{data.contact_profile.mobile}}{{(data.contact_profile.alternate_mobile) ? ", " ~ data.contact_profile.alternate_mobile}}
				</p>
				<p><strong>Telephone:</strong>{{data.contact_profile.telephone}}{{(data.contact_profile.alternate_telephone) ? ", " ~ data.contact_profile.alternate_telephone}}
				</p>
				<p class="mt15"><strong>Phone :</strong> <span class="skype_c2c_print_container notranslate">{{data.contact_profile.mobile}}{{(data.contact_profile.alternate_mobile) ? ", " ~ data.contact_profile.alternate_mobile}}</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+911126852551" data-numbertype="paid" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"></span> 
				<p>
				<strong>E-mail id:</strong>
					{{data.contact_profile.email}}
					
				</p>
				<p>{{data.contact_profile.alternate_email}}</p>
			</div>
		<div class="col-xs-12 col-md-12">
			<div id="googleMap"></div>
		</div>
	</div>
{% endautoescape %}