<div class="container">
			<div class="col-sm-10" id="apnasite">
			<div class="row">
				<h2 class="text-center">APNASITE.IN</h2>
				<div class="info col-sm-12">
					<h4>What is ApnaSite.in?</h4>
					<p>ApnaSite.in is online business search engine and website creator tool. Which allows you to promote your business or organization over internet through ApnaSite.in. ApnaSite allows you to create business/organization's website in 4 easy steps. After creation of website & submission of your business/organization to ApnaSite portal, ApnaSite will promote your website as well as your business, products, services on popular search engines like Google, Bing and Yahoo. ApnaSite gives opportunity to manage your website, business/organization information, product information or services information of your own with very simple admin panel.</p> 
					
				</div>
				</div>
					<div>
					<h4>Why ApnaSite?</h4>
						<div class="row">
						<div class="col-sm-4">
						<p><b>Business Promotion :</b> 
							We promote your business on ApnaSite.in as well as popular search engines like Google, Yahoo, Bing etc.
						
						</div>
						<div class="col-sm-4">
						<p><b>Dynamic Website :</b>
							You can manage your website at your end with various free and professional templates having customization facility. You can modify your website content at any time. And modifications will activate immediately.
						
						</div>
						<div class="col-sm-4">
						<p><b>Enquiry Generation :</b>  
							ApnaSite will allow you to generate enquiry from portal and website. ApnaSite will never charge for any enquiry.
						
						</div>
						</div>
						<div class="row">
						<div class="col-sm-4">
						<p><b>Direct Communication :</b>
							Customer/End User or buyer can direct communicate to Seller. ApnaSite will never charge for any enquiry. No hidden charges.
						
						</div>
						<div class="col-sm-4">
						<p><b>Website Promotion :</b>
							ApnaSite will promote your website on Google, Yahoo and Bing search engine.
						
						</div>
						<div class="col-sm-4">
						<p><b>Grow Business :</b>
							We will help you through newsletters to grow your business speedily. 
						
						</div>
						</div>
					</div>
					
					<div class="col-sm-12">
					<h4>Features</h4>
					<ol list-style-type="1">
						<li><p><b>Manage Website :</b> 
							Add, edit or delete any information from your website.
						</li>
						<li><p><b>Website Template :</b>
							Get new template, customize template.
						</li>
						<li><p><b>Business Details :</b>  
							Add, edit or delete business details like facilities, infrastructures etc.
						</li>
						<li><p><b>Testimonials :</b>
							Add your customer feedback & publish it on website.
						</li>
						<li><p><b>Manage Products :</b>
							Add, edit or delete products.
						</li>
						<li><p><b>Manage Services :</b>
							Add, edit or delete services.
						</li>
						<li><p><b>Job and Careers :</b>
							You can post current openings and publish on website easily.
						</li>
						<li><p><b>Activities/News Coverage :</b>
							You can publish your news coverage articles or any other activities like anniversary.
						</li>
						<li><p><b>Gallery :</b>
							Add business images, function photos into gallery.
						</li>
						<li><p><b>ApnaSite Search Engine :</b>
							End user can search business, services and products on ApnaSite.in with powerful Search Engine.
						</li>
						<li><p><b>Google Map :</b>
							With the help of google map user can easily fine your business location.
						</li>
						<li><p><b>Enquiry Management :</b>
							You will notify by SMS and Email when customer send enquiry from website or ApnaSite portal.
						</li>
						<li><p><b>10 Year Validity :</b>
							First time in the History of IT industry, ApnaSite will give you opportunity to pay once for 10 Years. Your business validity on ApnaSite is 10years with no hidden charges. Only charges will apply for your website maintenance.
						</li>
					</ol>
					</div>
					
					<div class="col-sm-12">
					<h4>Packages</h4>
					<div class="row packages">
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail bronz">
								<h3 class="text-center">Bronz Package</h3>
								<div class="caption">
									<p><b>Validity – 2 Year</b></p>
									<p><b>INR 4000/-</b></p>
									<ul>
										<li>Subdomain</li> 
										<li>Hosting</li> 
										<li>Free Business listing on ApnaSite.in</li> 
										<li>10 Products</li> 
										<li>10 Services</li> 
										<li>Galley</li> 
										<li>Testimonials</li> 
										<li>News Coverage</li> 
										<li>Google Map</li> 
										<li>SMS alert – 700</li> 
										<li>Email Notification</li> 
										<li>SEO for Google, Bing, Yahoo</li> 
										<li>Subdomain Validity – 2 Year</li> 
										<li>Business Listing Validity – 10 Year</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail silver">
								<h3 class="text-center">Silver Package</h3>
								<div class="caption">
									<p><b>Validity – 1 Year</b></p>
									<p><b>INR 6000/-</b></p>
									<ul>
										<li>.com, .co.in or .in </li> 
										<li>Hosting</li> 
										<li>2 corporate email IDs with 2GB space each</li> 
										<li>Free Business listing on ApnaSite.in</li>
										<li>Unlimited  Products</li> 
										<li>Unlimited  Services</li> 
										<li>Galley</li> 
										<li>Testimonials</li> 
										<li>Job Management</li>
										<li>News Coverage</li> 
										<li>Google Map</li>
										<li>SMS alert – 1000</li> 
										<li>Email Notification</li> 
										<li>SEO for Google, Bing, Yahoo</li>
										<li>Social Media Integration (Facebook, Google+)</li> 
										<li>Domain Validity – 1 Year</li> 
										<li>Business Listing Validity – 10 Year</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail gold">
								<h3 class="text-center">Gold Package</h3>
								<div class="caption">
									<p><b>Validity – 3 Year</b></p>
									<p><b>INR 12600/- </b>(30% discount)</p>
									<ul>
										<li>Subdomain</li> 
										<li>Hosting</li> 
										<li>5 corporate email IDs with 2GB space each</li> 
										<li>Free Business listing on ApnaSite.in</li>
										<li>Unlimited  Products</li> 
										<li>Unlimited  Services</li>
										<li>Galley</li> 
										<li>Testimonials</li> 
										<li>Job Management</li>
										<li>News Coverage</li>
										<li>Google Map</li>
										<li>Google Place</li>
										<li>SMS alert – 3000</li>
										<li>Email Notification</li> 
										<li>SEO for Google, Bing, Yahoo</li> 
										<li>Social Media Integration (Facebook, Google+, Twitter)</li>
										<li>Domain Validity – 3 Year</li> 
										<li>Business Listing Validity – 10 Year</li> 
										<li>Business Listing as a Featured Business</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail diamond">
								<h3 class="text-center">Diamond Package</h3>
								<div class="caption">	
									<p><b>Validity – 5 Year</b></p>
									<p><b>INR 19500/- </b>(35% discount)</p>
									<ul>
										<li>Subdomain</li> 
										<li>Hosting</li> 
										<li>10 corporate email IDs with 2GB space each</li> 
										<li>Free Business listing on ApnaSite.in</li>
										<li>Unlimited  Products</li>
										<li>Unlimited  Services</li>
										<li>Galley</li>
										<li>Testimonials</li>
										<li>Job Management</li>
										<li>News Coverage</li> 
										<li>Google Map</li> 
										<li>Google Place</li> 
										<li>SMS alert – 5000</li>
										<li>Email Notification</li> 
										<li>SEO for Google, Bing, Yahoo</li>
										<li>Social Media Integration (Facebook, Google+, Twitter)</li> 
										<li>Domain Validity – 5 Year</li> 
										<li>Business Listing Validity – 10 Year</li>
										<li>Business Listing as a Featured Business</li> 
										<li>One Custom Template Available</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>