<body>
<div class="container">
	<div class="col-md-10 content" id="contact">
				<div class="row">
				<h2 class="text-center">CONTACT US</h2>
				</div>
				<div class="row">
				<div class="col-sm-6 col-md-6 text-center">
				
					<h4 class="text-center">ADDRESS</h4>
					<address>
						Shop No 2, Sr No 36/2/1,<br>
						Opp. Balaji Law College<br>
						Aundh-Ravet Road,<br>
						Tathawade, Pimpari-Chinchwad,<br>
						Pune, Maharashtra 411 003.
					</address>
					<p>Email-ID : support@wtouch.in
					<p>Phone : +91 (20) 6510 0209
					<p>Mobile : 9049508514
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4 class="text-center">Enquiry Form</h4>
							<form class="form-horizontal form-border" role="form" name="enquiryForm" ng-submit="enquiryForm.$valid" ng-controller="enquiryController" novalidate>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="hidden" class="form-control" id="user_id" ng-init="enquiry.user_id={{data.user_id}}" ng-model="enquiry.user_id" name="user_id">
										
										<input type="hidden" class="form-control" id="date" ng-model="enquiry.date" name="date">
										
										<input type="hidden" class="form-control" id="to_email.to" name="to_email.to" ng-model="enquiry.to_email.to" ng-init="enquiry.to_email.to='{{data.owner_email}}'">
										
										<input type="hidden" class="form-control" id="to_email.cc" name="to_email.cc" ng-model="enquiry.to_email.cc" ng-init="enquiry.to_email.cc='vilas@wtouch.in'">
								
										<input type="hidden" class="form-control" id="subject" name="subject" ng-model="enquiry.subject">
										
										<input type="text" class="form-control" id="name" ng-model="enquiry.name" name="name" placeholder="Name" ng-required="true">	
											<span class="text-danger" ng-show="enquiryForm.name.$error.required && (enquiryForm.name.$dirty || submitted)" class="help-block">Name is required.</span>
									</div>	
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="email" class="form-control" id="from" name="from" placeholder="E-mail" ng-model="enquiry.from_email.from" required>
										<span  ng-show="enquiryForm.from.$dirty && enquiryForm.from.$invalid">
											<span class="text-danger" ng-show="enquiryForm.from.$error.required">From is required.</span>
											<span class="text-danger" ng-show="enquiryForm.from.$error.email">Invalid Email address.</span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control help-block" id="phone" ng-model="enquiry.message.phone" name="phone" placeholder="Contact Number"  ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
										<p ng-show="enquiryForm.phone.$error.pattern && (enquiryForm.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
									</div>						
								</div>	
								<div class="form-group">
									<div class="col-sm-12">
										<textarea id="address" name="address" class="form-control" placeholder="Address" rows="3" ng-model="enquiry.message.address" ng-minlength="2" ng-maxlength="356" required>
										</textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<textarea id="message" name="message" class="form-control" placeholder="Message" rows="3" ng-model="enquiry.message.message" ng-minlength="2" ng-maxlength="356" required>
										</textarea>
									</div>
								</div>
								<div class="form-group col-sm-12">
									<button type="submit" class="btn-primary" ng-click="postData(enquiry)" ng-disabled="enquiryForm.$pristine || enquiryForm.$invalid || mailSent">Send</button>
									<button type="reset" class="btn-primary" title="Cancel Sending">Clear</button>
								</div>
							</form>
						</div>
					</div>
					<div ng-show="mailSent" class="text-center">
						Your enquiry sent successfully.
					</div>
				</div>
				</div>
		
			</div>
		</div>