<!-- <div ng-init="modalOptions.addStudent.education = (modalOptions.addStudent.education) ? modalOptions.addStudent.education : []"> -->
		<div style="margin-top:20px"></div>
			<div class="form-group">
				<label for="gardian_name" class="col-sm-2 control-label">Gardian Name *</label>
				<div class="col-sm-9">
					<input type="text" id="gardian_name" class="form-control" name="gardian_name" placeholder="Gardian Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.gardian_name" required>
					<span class="help-block" ng-show="addStudentForm.gardian_name.$dirty && addStudentForm.gardian.gardian_name.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gardian_name.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.gardian_name.$error.pattern">Text is required.</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="gemail_id" class="col-sm-2 control-label">Email ID *</label>
				<div class="col-sm-3">
					<input type="Email" id="gemail_id" class="form-control" name="gemail_id" placeholder="Email ID"  ng-model="modalOptions.addStudent.gardian.gemail_id" required>
						<span class="help-block" ng-show="addStudentForm.gemail_id.$dirty && addStudentForm.gemail_id.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gemail_id.$dirty "></span>
						<span class="text-danger" ng-show="addStudentForm.gemail_id.$error.required">Required Field.</span>
						<span class="text-danger" ng-show="addStudentForm.gemail_id.$error.email">Invalid Email address.</span>
					</span>
				</div>		
			<!-- </div>
			<div class="form-group"> -->
				<label for="gcontact_no" class="col-sm-2 control-label">Contact No *</label>
				<div class="col-sm-4">
					<input type="text" id="gcontact_no" class="form-control" name="gcontact_no" placeholder="Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" ng-model="modalOptions.addStudent.gardian.gcontact_no"required>
					<span class="help-block" ng-show="addStudentForm.gcontact_no.$dirty && addStudentForm.gcontact_no.$invalid">
						<span ng-show="addStudentForm.gcontact_no.$error.required" class="text-danger">Required Field.</span>
						<span class="text-danger" ng-show="addStudentForm.gcontact_no.$error.pattern && (addStudentForm.gcontact_no.$dirty)">Enter a valid Contact Number</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="gaddress" class="col-sm-2 control-label">Address *</label>
				<div class="col-sm-9">
					<textarea type="text" id="gaddress" class="form-control" name="gaddress" placeholder="Address" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.gaddress" ng-maxlength="250" required></textarea>
					<span ng-hide="addStudentForm.gardian.gaddress.$error.maxlength">
								{{ 250 - modalOptions.addStudent.gardian.address.length + " Chars left" }}
						</span>
						<span class="help-block" ng-show="addStudentForm.gaddress.$dirty && addStudentForm.gaddress.$invalid">
								<span class="text-danger" ng-show="addStudentForm.gaddress.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addStudentForm.gaddress.$error.required" class="text-danger">Required Field</span>
						</span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="gcity" class="col-sm-2 control-label">City *</label>
				<div class="col-sm-3">
					<input type="text" id="gcity" class="form-control" name="gcity" placeholder="City" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.gcity" required>
					<span class="help-block" ng-show="addStudentForm.gcity.$dirty && addStudentForm.gcity.$invalid">
						<span class="text-danger"  ng-show="addStudentForm.gcity.$error.pattern">Text is required.</span>
						<span class="text-danger" ng-show="addStudentForm.gcity.$error.required">Required Field.</span>
					</span>
				</div>
			<!-- </div>
			<div class="form-group"> -->
				<label for="gstate" class="col-sm-2 control-label">State *</label>
				<div class="col-sm-4">
					<input type="text" id="gstate" class="form-control" name="gstate" placeholder="State" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.gstate"required>
					<span class="help-block" ng-show="addStudentForm.gstate.$dirty && addStudentForm.gstate.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gstate.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.gstate.$error.pattern">Text is required.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="gcountry" class="col-sm-2 control-label">Country *</label>
				<div class="col-sm-3">
					<input type="text" id="gcountry" class="form-control" name="gcountry" placeholder="Country" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.gcountry"required>
					<span class="help-block" ng-show="addStudentForm.gcountry.$dirty && addStudentForm.gcountry.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gcountry.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.gcountry.$error.pattern">Text is required.</span>
					</span>
				</div>
			<!-- </div>
			<div class="form-group"> -->
				<label for="gpincode" class="col-sm-2 control-label">Pin Code *</label>
				<div class="col-sm-4">
					<input type="text" id="gpincode" class="form-control" name="gpincode" placeholder="Pin code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6" ng-model="modalOptions.addStudent.gardian.gpincode"required>
					<span class="help-block" ng-show="addStudentForm.gpincode.$dirty && addStudentForm.gpincode.$invalid">
						<span ng-show="addStudentForm.gpincode.$error.pattern && (addStudentForm.gpincode.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
			<div class="form-group" ng-init="modalOptions.addStudent.gardian.marital_status='single'">
				<label for="gmerital_status" class="col-sm-2 control-label">Marital Status *</label>
				<div class="radio col-sm-2">
				<label><input type="radio" name="gmarital_status" value="single" ng-model="modalOptions.addStudent.gardian.gmarital_status">Single</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="gmarital_status" value="married"  ng-model="modalOptions.addStudent.gardian.gmarital_status">Married</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="gmarital_status" value="divorced"  ng-model="modalOptions.addStudent.gardian.gmarital_status">Divorced</label>
				</div>
				<div class="radio col-sm-2">
				<label><input type="radio" name="gmarital_status" value="widows"  ng-model="modalOptions.addStudent.gardian.gmarital_status">Widows</label>
				</div>
			</div>
			
			<div class="form-group" ng-init="modalOptions.addStudent.gardian.ggender='male'">
				<label for="ggender" class="col-sm-2 control-label">Gender *</label>
					<div class="radio col-sm-2">
						<label><input type="radio" name="ggender" value="male" ng-model="modalOptions.addStudent.gardian.ggender">Male</label>
					</div>
					<div class="radio col-sm-2">
						<label><input type="radio" name="ggender" value="female" ng-model="modalOptions.addStudent.gardian.ggender" >Female</label>
					</div>
			</div>
			
			<div class="form-group">
				<label  for="gdob" class="col-sm-2 control-label">Birth Date * </label>
				<div class="col-sm-3">
					<input type="text" class="form-control" placeholder="YYYY-DD-MM" id="gdob" name="gdob" ng-model="modalOptions.addStudent.gardian.gdob" datepicker-popup="{{'dd-MM-yyyy'}}" is-open="opened1"  max-date="maxDate" datepicker-options="dateOptions" close-text="Close" ng-click="opened1 = !opened" ng-required="true" />
					</div>
			<!-- </div>
			
			<div class="form-group"> -->
				<label for="gage" class="col-sm-2 control-label">Age *</label>
				<div class="col-sm-4">
					<input type="text" id="gage" class="form-control" name="gage" placeholder="Age" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="3" ng-model="modalOptions.addStudent.gardian.gage"required>
					<span class="help-block" ng-show="addStudentForm.gage.$dirty && addStudentForm.gage.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gage.$error.required">Required Field.</span>
						<span ng-show="addStudentForm.gage.$error.pattern && (addStudentForm.gage.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
		
			<div class="form-group">
				<label for="occupation" class="col-sm-2 control-label">Occupation *</label>
				<div class="col-sm-3">
					<input type="text" id="occupation" class="form-control" name="occupation" placeholder="Occupation" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.occupation"required>
					<span class="help-block" ng-show="addStudentForm.occupation.$dirty && addStudentForm.gardian.$invalid">
						<span class="text-danger" ng-show="addStudentForm.occupation.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.occupation.$error.pattern">Text is required.</span>
					</span>
				</div>
			<!-- </div>
			
			<div class="form-group"> -->
				<label for="annual_income" class="col-sm-2 control-label">Annual Income *</label>
				<div class="col-sm-4">
					<input type="text" id="annual_income" class="form-control" name="annual_income" placeholder="Annual Income" ng-pattern="/^\d{0,9}[0-9]$/" ng-model="modalOptions.addStudent.gardian.annual_income"required>
					<span class="help-block" ng-show="addStudentForm.annual_income.$dirty && addStudentForm.annual_income.$invalid">
						<span class="text-danger" ng-show="addStudentForm.annual_income.$error.required">Required Field.</span>
						<span ng-show="addStudentForm.annual_income.$error.pattern && (addStudentForm.annual_income.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="gcast_name" class="col-sm-2 control-label">Cast Name *</label>
				<div class="col-sm-3">
					<input type="text" id="cast_name" class="form-control" name="gcast_name" placeholder="Cast Name" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.gcast_name"required>
					<span class="help-block" ng-show="addStudentForm.gardian.gcast_name.$dirty && addStudentForm.gardian.gcast_name.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gardian.gcast_name.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.gardian.gcast_name.$error.pattern">Text is required.</span>
					</span>
				</div>
			<!-- </div>
		
			<div class="form-group"> -->
				<label for="religion" class="col-sm-2 control-label">Religion *</label>
				<div class="col-sm-4">
					<input type="text" id="religion" class="form-control" name="religion" placeholder="Religion" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.religion" required>
					<span class="help-block" ng-show="addStudentForm.gardian.religion.$dirty && addStudentForm.gardian.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gardian.religion.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.gardian.religion.$error.pattern">Text is required.</span>
					</span>
				</div>
			</div>			
			
			<div class="form-group">
				<label for="relation" class="col-sm-2 control-label">Relation *</label>
				<div class="col-sm-3">
					<input type="text" id="relation" class="form-control" name="relation" placeholder="Relation" ng-pattern="/^[a-zA-Z/ ]*$/" ng-model="modalOptions.addStudent.gardian.relation" required>
					<span class="help-block" ng-show="addStudentForm.gardian.relation.$dirty && addStudentForm.gardian.$invalid">
						<span class="text-danger" ng-show="addStudentForm.gardian.relation.$error.required">Required Field.</span>
						<span class="text-danger"  ng-show="addStudentForm.gardian.relation.$error.pattern">Text is required.</span>
					</span>
				</div>
			<!-- </div>
			
			<div class="form-group"> -->
				<label for="member" class="col-sm-2 control-label">No of Family Member  *</label>
				<div class="col-sm-4">
					<input type="text" id="member" class="form-control" name="member" placeholder="No Of Family Member" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="3" ng-model="modalOptions.addStudent.gardian.member"required>
					<span class="help-block" ng-show="addStudentForm.member.$dirty && addStudentForm.member.$invalid">
						<span class="text-danger" ng-show="addStudentForm.member.$error.required">Required Field.</span>
						<span ng-show="addStudentForm.member.$error.pattern && (addStudentForm.member.$dirty || submitted)" class="text-danger">please enter number</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				 <button type="submit" class="btn btn-primary" title="submit" ng-click="modalOptions.showFormPart('attachmentDetails',modalOptions)">Next</button> 
				</div>	
			</div>	
		
