<div class="row">		
	<div class="col-md-12 main-content">	
		<div class="row border-bottom"> 
			<div class="col-md-10" ng-include="'modules/component/breadcrumb.html'"></div>
			<div class="col-md-2" ng-include="'modules/component/menu-back.html'"></div>
		</div>
		<div class="row">
			<div class="col-md-3" ng-include="'modules/component/sidebar.html'"></div>
			<div class="col-md-9">
				<div ng-include="'modules/mybusiness/addbusiness/buzdesc.html'"></div>
						<!-- This is conditional include 
							if not mailId set in url this html includes in view
						<ng-include ng-if="!Businessprofile" src="'modules/mybusiness/addbusiness/buzdesc.html'"></ng-include> -->
						<!-- if mailId set in url this html includes in view -->
						<ng-include ng-if="Businessprofile" src="'modules/mybusiness/addbusiness/businessprofile.html'"></ng-include>

					
			</div>
		</div>
	</div>
</div>
	
	