<div ng-controller="CountCtrl">      
      <div>{{ 20 - message.length + " Chars left" }}</div>
      <textarea name="message" ng-model="message" cols="30" rows="10" ng-maxlength="20"></textarea>
        <span style="color:red" ng-show="form1.message.$error.maxlength">
        Sorry You are Exceeding the Limit</span>
</div>    
<!--div class="form-group">
    <label for="area1" class="col-sm-4 control-label required">Key Description of your Company (Visible of your website and Small Busi search)</label>
    <div class="col-sm-8">
      <textarea type="text" class="form-control" id="area1" name="area1" ng-model="area1" placeholder="Key Description of your Company." rows="3" ng-minlength="*" ng-maxlength="256" required></textarea>
		<span style="color:red" ng-show="form1.area1.$error.maxlength">
        Sorry You are Exceeding the Limit</span>
    </div>
</div-->
<div class="form-group">
    <label for="area2" class="col-sm-4 control-label">Detailed Description of your Website Home Page</label>
    <div class="col-sm-8">
      <textarea type="text" class="form-control" id="area2"  name="area2" rows="3" placeholder="Detailed Description of your Website Home Page"></textarea>
	  <span style="color:red" ng-show="myForm.area2.$dirty && myForm.area2.$invalid">
		<span ng-show="myForm.area2.$error.required">Key Description is required.</span>
		</span>
    </div>
</div>
