<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.ok()">
		<span aria-hidden="true">&times;</span></button>
		<h3 class="text-center" ng-if="!modalOptions.addRoom.id">Add Room</h3>
		<h3 class="text-center" ng-if="modalOptions.addRoom.id">Update Room</h3>
	</div>
	
	<div class="modal-body">
		<form name="addRoomForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addRoomForm.$valid">
		
			<div class="form-group" ng-init="modalOptions.getData( false, false,'building','buildingList',false, modalOptions)">
				<label for="build_id" class="col-sm-2 control-label">Building Name</label>
				<div class="col-sm-9">
					<select id="build_id" class="form-control" ng-model="modalOptions.addRoom.build_id" ng-options="item.id as item.build_name for item in modalOptions.buildingList" required>
						<option value="">Select Building</option>
					</select>
					<span class="help-block" ng-show="addRoomForm.build_id.$dirty && addRoomForm.build_id.$invalid">
					<span ng-show="addRoomForm.build_id.$error.required" class="text-danger">Name required.</span>
					</span>	
				</div>
			</div>
			
			<div class="form-group" ng-init="modalOptions.getData( false, false,'building','buildingList', false, modalOptions)">
				<label for="floor_no" class="col-sm-2 control-label">Floor NO</label>
				<div class="col-sm-9">
					<select id="floor_no" class="form-control" ng-model="modalOptions.addRoom.build_id" ng-options="item.id as item.floor_no for item in modalOptions.buildingList" required>
						<option value="">Select Floor</option>
					</select>
					<span class="help-block" ng-show="addRoomForm.floor_no.$dirty && addRoomForm.floor_no.$invalid">
					<span ng-show="addRoomForm.floor_no.$error.required" class="text-danger">Floor No is required.</span>
					</span>	
				</div>l
			</div>
			
			<div class="form-group">
				<label for="room_no" class="col-sm-2 control-label">Room No </label>
				<div class="col-sm-9">
					<input type="text" class="form-control " placeholder="Room NO" id="room_no" name="room_no" ng-model="modalOptions.addRoom.room_no" ng-pattern="/^[1-9]\d{0,9}(\.\d{0,2}){0,1}$/" required/>
									
					<span class="help-block" ng-show="addRoomForm.room_no.$dirty && addRoomForm.room_no.$invalid">
					<span ng-show="addRoomForm.room_no.$error.required" class="text-danger">Required Field</span>
					<span ng-show="addRoomForm.room_no.$error.pattern" class="text-danger">Enter only Number</span>
					</span>
				</div>
			</div>
		
	</div>
	<div class="modal-footer">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" ng-if="!modalOptions.addRoom.id" class="btn btn-success" ng-disabled="addRoomForm.$invalid" ng-click="modalOptions.ok(); modalOptions.postData('room',modalOptions.addRoom)">
				<span>Submit</span>
			</button>
			
			<button type="submit" ng-if="modalOptions.addRoom.id" class="btn btn-success" ng-disabled="addRoomForm.$invalid" ng-click="modalOptions.ok(); modalOptions.updateData('room',modalOptions.addRoom, modalOptions.addRoom.id)">
				<span>Update</span>
			</button> 
			<button type="button" class="btn btn-danger" ng-click="modalOptions.close()">Cancel</button>
		</div>
	</div>
	</form>
