	@font-face{
	@font-face{
		font-family:'Amaranth-Regular';
		src:url('../fonts/Amaranth-Regular.otf');
	}
	@font-face{
		font-family:'QumpellkaNo12';
		src:url('../fonts/QumpellkaNo12.otf');
	}
	@color : black;
	@lightcolor : blue;
	@darkcolor : red;
	@back : #8FB902;
	@darkbackcolor : #043D80;
	@lightbackcolor :#0F4E93; 
	@colorblack : #02071A;
	@colorwhite	: rgba(255, 255, 255,0.5);
	
	@import "property.less";
	@import "project.less";
	@import "product.less";
	@import "general.less";
	*{
		transition:300ms;
	}
	.container{
		max-width : 992px !important;
	}
body
{
background-color:black;
margin:0 auto;

}
.loimg
{
position:absolute;
z-index:55;

width:22%;

}

.proddesc
{
	.img{
		height:200px;
		width:200px;
	}
}

.man{
height:434px;
width:424px;
top:20;
}
.img1
{
float:left;
clear:right;

}
.img22
{
height:50px;
width:100px;
}
.banner
{
background-color:pink;
}

	.yellow
	{
		background-color:@back;
		margin:0 auto;
		width:80%;
		z-index:2;
		position:relative;
		clear:both;
	}
.fblue
{
background-color:@lightbackcolor;

margin:0 auto;
width:100%;
z-index:5;
position:relative;

}
.blue
{
background-color:@darkbackcolor;

margin:0 auto;
width:80%;
clear:both;
}
.one
{
height: 200px;
margin-top:30%;
width:50%;
float:left;
z-index:3;
position:relative;

}
.two
{
position:relative;
height:auto;
width:50%;
float:right;
z-index:3;
padding-top:18%;
}
.navig
{
background-color:@colorwhite;
height: auto;
margin:0 auto;
width:100%;
text-align:right;
z-index:2;
right:0;
left:0;
}

ul
{

margin:0 auto;
z-index:7;
position:absolute;
}

.right
{
float:right;
}
.bimg
{
padding-top:10px;
background-image:url('../img/1.png');
background-repeat:no-repeat;
height:60px;

}
.banner
{
margin:0 auto;
clear:both;
}
.port
{

font-size:20px;
padding-left:80px;
padding-top:30px;
color:#043D80;
text-shadow: 2px 2px 4px #A79E9E;


}
.t1
{
font-size:50px;
padding-left:30px;
color:#043D80;
text-shadow: 1px 2px 4px #737271
}
.t2
{
font-size:16px;
padding-left:30px;
color:#666666;
}
.mid
{
	margin:0 auto;
	height:100px;
	background-color:black;
	
	z-index:10;
	position:absolute;
	bottom:20%;
    clear: both;
    left: 0;
    right: 0;
}
.m1
{


background-color:#0B468A;


} 
.m2
{


background-color:#074389;


}

.m3
{


background-color:#043D80;

}  
.smimg
{
float:left;
width:20px;
padding-top:25px;
padding-left:30px;
}
.smimg1
{
float:right;
width:140px;
font-size:14px;
padding-top:25;
color:white;
}

.content
{

width:700px;
height:420px;
left:0;
right:0;
margin:0 auto; 
padding-top:28px;
clear:both;
}
.c1
{

height:400px;

padding-top:20px;
padding-left:5px;

}
.c2
{

height:400px;
padding-top:20px;
padding-left:5px;
} 

.c3
{

height:400px;
padding-top:20px;
padding-left:5px;

} 
.smtext
{
color:#FFC11E;
font-size:20px;

}
.smtext2
{
color:#FFFFFF;
font-size:20px;
text-align:left
}
.tstyle
{
margin:5px;
color:#5082BD;
font-size:14px;
}
.tstyle1
{
margin:5px;
color:#5082BD;
font-size:14px;
line-height:2;
}
.tstyle22
{
margin:5px;
color:#FFC11E;
font-size:14px;
top:5;
}
.empty
{
color:red;
}


.more
{
background-image:url('../img/222.png');
background-repeat:no-repeat;
color:white;
text-shadow: 2px 2px 8px #000000;

width:40%;
}
.b1
{
width:233.33px;
height:400px;
float:left;
padding-top:20px;
padding-left:5px;

}
.b2
{
width:233.33px;
height:400px;
padding-top:20px;
padding-left:5px;
margin-left:233.33px;
} 

.b3
{
width:233.33px;
height:400px;
padding-top:20px;
padding-left:5px;
float:right;
}
.numb
{
color:#FFC11E;
font-size:22px;
text-align:center;
text-top:2;
}
.img1{
margin-bottom:2px;
}
.img2{
margin-top:5px;
height:40px;
}
.white
{
color:white;
}
.white1
{
color:white;
font-size:10px;
}
/*
.sociallinks{
		top: 50%;
		position: fixed;
		z-index : 999;
		width : 5px;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				background-image: -webkit-linear-gradient(top, @lightbackcolor, @darkbackcolor);
				background-image: -moz-linear-gradient(top, @lightbackcolor, @darkbackcolor);
				background-image: -linear-gradient(top, @lightbackcolor, @darkbackcolor);
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color:@color;
					&:hover{
						color:@color;
						text-decoration : underline;
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @color;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				&:hover{
					transform: translateX(-45px);
				}
			}
		}
	}*/
		.navbar-default {
		
		border : none;
		
		
		.navbar-nav{
			> li{
				
				position : relative;
				margin-right: 8px;
				> a, > a:focus {
					color :@color;
					padding : 9px;
					padding-top:10px;
					
					font:bold 14px/1.5em Arial, Helvetica, sans-serif;
					position: relative;
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					color : @back;
					background-color : @color;
					
					top: -8px;
					padding: 15px 9px;
				}
				> ul {
					list-style: none;
					position: absolute;
					width: 245px;
					top : 53px;
					z-index: 999;
					display: none;
					background : @colorwhite;
					
					padding: 15px;
					text-align: left;
					transition : all 500ms ease-in-out;
					>li{
						padding: 7px;
						>a{
							color : @color;
							&:hover{
								text-decoration: underline;
							}
						}
						ul{
							list-style: none;
							padding: 7px;
							>li{
								>a{
									color : @color;
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	.subhead {
		position: relative;
		font : 1.5em/1.5em Amaranth-Regular;
		padding: 4px 10px;
		text-align: center;
		color : @back;
		background: -webkit-linear-gradient(top, @lightcolor, @darkcolor);
		background: -moz-linear-gradient(top,  @lightcolor, @darkcolor);
		background: linear-gradient(top, @lightcolor, @darkcolor);
		border : 1px solid @lightcolor;
		border-radius: 5px;
		box-shadow : 0px 1px 2px @back;
	}
	.content, .sections, .sidemenu, .thumbnail, .tab-content{
		
		
		border-radius : 4px;
	}
	.content{
		margin-top : 20px;
		padding : 0px 20px 20px;
	}
	.sections{
		padding:15px;
	}
	.sidebarModule{
		.panel-body{
			padding : 15px 15px 0px;
		}
	}
	.contactus{
		h4{
			margin-top : 0px;
		}
		hr{
			margin: 0px 0px 10px;
		}
	}
	//global css
	h1,h2,h3,h4,h5{
		color : @color;
		font-family : 'Amaranth-Regular';
	}
	h1,h2{
		text-align : center;
	}
	.btn-link{
		padding-left : 0px;
	}
	a, .btn-link{
		color : @color;
		&:hover{
			text-decoration : underline;
			color : @color;
		}
	}
	.panel{
		background-color : @back;
	}
	.panel-default{
		border-color : @darkbackcolor;
	}
	hr{
		border-color : @darkcolor;
	}
	.form-control{
		background-color : @color;
		color : @back;
	}
	.btn-info, .btn-info[disabled], .btn-primary{
		background-color: @color;
		color : @back;
		border-color : @lightcolor;
		position: relative;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		&:before{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: @lightcolor;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 50%;
			transform-origin: 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		&:hover{
			background: @color;
			color : @darkcolor;
			border-color : @color;
		}
		&:hover:before, &:focus:before, &:active:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	.btn + .btn {
		margin-left : 10px;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
	{
		background-color : @color;
		color : @back;
		border : 1px solid @color;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
		background-color : @back;
		border : 1px solid @color;
		color : @color;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @lightcolor;
		margin-top : 45px;
	}
	.navbar-toggle .icon-bar {
		background-color: @lightcolor;
	} 
	
	footer{
		margin-top : 10px;
		padding-top : 10px;
		color:@color;
		font-weight : bold;
		background: -webkit-linear-gradient(top, @lightbackcolor, @darkbackcolor);
		background: -moz-linear-gradient(top,  @lightbackcolor, @darkbackcolor);
		background: linear-gradient(top,  @lightbackcolor, @darkbackcolor);
	}
	.navbar-toggle{
		background-color : @darkcolor;
		border-color : @colorwhite;
	}
	.navbar-toggle .icon-bar {
		background-color: @colorwhite;
	}
	button.navbar-toggle.collapsed.projdtls{
		color : @colorwhite;
	}
	@media (min-width: 320px){
		.logo{
			float:none;
			z-index:200;
			position: absolute;
		}
		.cnctinfo{
			display : none;
		}
		.navbar{
			min-height: 1px;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
				>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						border : none;
						border-radius : 0px;
						top : 0px;
						background-color : @color;
						color : @back;
					}
				}
			}
		}
		.item.active, .projnav{
			height: 120px;
			overflow: hidden;
		}
		.carousel-inner>.item>img{
			width :100%;
			
		}
		.homeimg{
			float:left;
			width:100%;
			margin-bottom: 20px;
		}
	}
	
	@media (min-width: 992px){
		.logo{
			float:none;
			z-index:200;
			position: absolute;
		}
		.navbar-default{
			.navbar-nav {
				margin: 0px;
				>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						border: 4px solid @lightcolor;
						border-top-left-radius: 19px;
						border-bottom-right-radius: 19px;
						background-color : @color;
						color :  @back;
						top: -8px;
						padding-top: 20px;
					}
				}
			}
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			height : 50px;
		}
		.projnav{
			height: 322px;
		}
		.item.active{
			height: 312px;
			overflow: hidden;
		}
		.carousel-inner>.item>img{
			width :100%;
			min-height : 310px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			width:25%;
		}
	}
	@media (min-width: 1200px){
		.logo{
			float:none;
		    z-index:150;
			position: absolute;
		}
		.cnctinfo{
			display : block;
		}
		.navbar{
			height : 50px;
		}
		.projnav{
			height: 322px;
		}
		.item.active,{
			height: 312px;
			overflow: hidden;
		} 
		.carousel-inner>.item>img{
			width :100%;
			min-height: 312px;
		}
		.homeimg{
			float:right;
			margin-left: 25px;
			//width:25%;
			max-height: 210px;
		}
		.slider{
			max-width:802px;
		}
		}
	}