@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v6/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.produt {
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background: #fcfcfc;
  padding: 0;
  border-color: #FFFFFF #F5F5F5 #E5E5E5;
}
.featuredProperty .bx-viewport {
  padding-left: 10px;
}
.featuredProperty .bxslider1 {
  padding-left: 10px;
  list-style: none;
}
.featuredProperty .bxslider1 li .verify {
  width: 40%;
  border: none;
  margin-left: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.featuredProperty .bxslider1 li .sliderImg {
  height: 150px;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  border: 4px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg .slimg {
  min-height: 150px;
}
.featuredProperty .bxslider1 li .sliderImg:hover {
  border: 4px solid #729d04;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.featuredProperty .bxslider1 li .btn-info:hover {
  padding: 6px 12px;
}
.featured_services {
  margin-top: 40px;
  background-color: #ffffff;
}
.featured_services .sections {
  background: none;
  box-shadow: 0 0 0;
  height: 90%;
  width: 90%;
  height: 100%;
  width: 100%;
  padding: 0px;
  display: block;
  font-family: 'Rochester', cursive;
  color: #729d04;
  font-size: 40px;
  line-height: 48px;
}
.featured_services img {
  border: 7px solid #fff;
  border-radius: 2px;
  float: left;
  margin-right: 21px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.carousel-inner > .item {
  height: 450px;
  width: 100%;
}
.carousel-inner > .item img {
  min-height: 450px;
  width: 100%;
}
span.glyphicon.glyphicon-chevron-right,
span.glyphicon.glyphicon-chevron-left {
  display: none;
}
.carousel {
  border: 15px solid #ffffff;
  margin-top: 50px;
}
.carousel-indicators {
  margin-bottom: -35px;
  background-color: #ffffff;
  padding-top: 1px;
  border-radius: 15px;
}
.carousel-indicators .active {
  background-color: #729d04;
}
.carousel-indicators .active .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: red;
  border: 1px solid #fff;
  border-radius: 10px;
}
.infrastructure .thumbnail {
  height: 395px;
}
.infrastructure .thumbnail img {
  height: 190px;
  width: 382px;
}
.infrastructure .thumbnail .caption {
  height: 138px;
  margin-bottom: 10px;
  overflow: hidden;
}
.infrastructure .btn-info:hover {
  padding: 6px 40px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
header {
  background-image: url('../img/mains.jpg');
  height: 900px;
  width: 100%;
  background-size: 100% 100%;
}
img.logo {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
  margin-left: 130px;
}
.navbar-default {
  background-image: url('../img/main.jpg');
  background-size: 100% 100%;
  margin-bottom: -1px;
  border: none;
}
.navbar-default .navbar-nav > li {
  padding: -5px;
  float: none;
  margin-bottom: 0px;
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  display: block;
  font: 20px "Arial";
  height: 21px;
  padding: 24px 8px 14px 32px;
  color: #ffffff;
  position: relative;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  background-image: url('../img/hover1.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav > li.active > a::before,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a:focus {
  background: none;
  background-image: url('../img/hover.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
}
.navbar-default .navbar-nav > li > ul {
  display: none;
  position: absolute;
  width: 200px;
  z-index: 999;
  background-color: #363333;
  padding: 2px;
  list-style: none;
  text-align: left;
}
.navbar-default .navbar-nav > li > ul > li {
  padding: 10px;
  position: relative;
}
.navbar-default .navbar-nav > li > ul > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
  color: #435e01;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > ul > li:hover {
  -webkit-transition: all 0.4s;
}
.navbar-default .navbar-nav > li > ul > li:hover ul {
  display: block;
}
.navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.navbar-default .navbar-collapse {
  margin-left: 137px;
  margin-right: 137px;
}
.homeAboutus {
  display: none;
}
.bx-wrapper .bx-next {
  right: -35px !important;
  background-image: url('../img/controls.jpg') no-repeat -43px -32px;
}
.bx-wrapper .bx-prev {
  left: -32px ! important;
  background-image: url('../img/controls.jpg') no-repeat -43px -32px;
}
h3 {
  color: #729d04;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-left: 30px;
  padding-top: 25px;
  text-transform: capitalize;
}
.btn-info {
  color: #fff;
  background-color: #729d04;
  border-color: #729d04;
}
.btn-info:hover {
  background-color: #e89d03;
  border: none;
}
.serv {
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background: #fcfcfc;
  padding: 0;
  border-color: #FFFFFF #F5F5F5 #E5E5E5;
  height: 166px;
}
