@font-face {
  font-family: 'negotiate_free';
  src: url('../fonts/negotiate_free.ttf');
}
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url('../fonts/Enriqueta-Regular.otf');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v6/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.featuredProperty {
  background: -webkit-radial-gradient(ellipse at center, #ffd700);
  background: -moz-radial-gradient(ellipse at center, #ae8f4e, #ffd700);
  background: radial-gradient(ellipse at center, #ae8f4e, #ffd700);
}
.featuredProperty .bxslider1 {
  list-style: none;
}
.featuredProperty .bxslider1 h4 {
  padding-left: 25px;
  font-weight: bold;
}
.featuredProperty .bxslider1 .row {
  padding-bottom: 10px;
}
.featuredProperty .bxslider1 li .verify {
  width: 35%;
  border: none;
  margin-left: 10px;
  position: absolute;
  right: 18px;
  bottom: -17px;
  z-index: 999;
}
.featuredProperty .bxslider1 li .sliderImg {
  height: 150px;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  border: 2px solid transparent;
}
.featuredProperty .bxslider1 li .sliderImg .slimg {
  min-height: 150px;
  margin: 0 auto;
}
.featuredProperty .bxslider1 li .sliderImg:hover {
  border: 2px solid #ae8f4e;
}
.featuredProperty .bxslider1 li .table {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .table tbody tr td {
  border: none;
  padding: 3px 10px;
}
.featuredProperty .bxslider1 li .readmore {
  margin-bottom: 10px;
}
.featuredProperty .bxslider1 li .readmore a {
  padding: 6px 12px;
}
.propertylist .btn-primary {
  margin-bottom: 10px;
  padding: 6px 7px;
}
.propertylist .panel-default .sliderImg {
  height: 165px;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  border: 4px solid transparent;
  margin: 0 auto;
}
.propertylist .panel-default .sliderImg img {
  min-height: 165px;
}
.propertylist .panel-default .sliderImg:hover {
  border: 4px solid #141414;
}
.propertylist .table td {
  border: none;
  padding: 1px 1px;
}
.propertylist .readmore a {
  padding: 6px 12px;
}
.singleproperty .property {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0px 20px;
  border: 1px solid #141414;
}
.singleproperty .property h3 {
  border: none;
}
.singleproperty .property .table tbody tr td {
  border-top: 1px dashed #141414;
}
.singleproperty .property .mainimg {
  height: 175px;
  width: 195px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #ae8f4e;
}
.singleproperty .property .mainimg img {
  min-height: 175px;
}
.singleproperty .property .subimg {
  margin-top: 10px;
}
.singleproperty .property .subimg img {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.singleproperty .propDetails ul li {
  padding: 3px;
}
.singleproperty .propDetails span {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.singleproperty .propDetails .amenity {
  background: url("../img/sprite_icons.png") transparent;
  display: inline-block;
  vertical-align: middle;
}
.singleproperty .propDetails span.amenity.power_backup {
  background-position: 1px -24px;
}
.singleproperty .propDetails span.amenity.water_storage {
  background-position: -314px -24px;
}
.singleproperty .propDetails span.amenity.lift {
  background-position: -644px -22px;
}
.singleproperty .propDetails span.amenity.reserve_parking {
  background-position: -193px -22px;
}
.singleproperty .propDetails span.amenity.security {
  background-position: -97px -22px;
}
.singleproperty .propDetails span.amenity.maintenance_staff {
  background-position: -361px -22px;
}
.singleproperty .propDetails span.amenity.gym {
  background-position: -432px -22px;
}
.singleproperty .propDetails span.amenity.park {
  background-position: -385px -22px;
}
.singleproperty .propDetails span.amenity.private_terrace {
  background-position: -168px -22px;
}
.singleproperty .propDetails span.amenity.swimming_pool {
  background-position: -288px -22px;
}
.singleproperty .propDetails span.amenity.club_house {
  background-position: -74px -49px;
}
.singleproperty .propDetails span.amenity.hospital {
  background-position: -541px -4px;
}
.singleproperty .propDetails span.amenity.airport {
  background-position: 1px -2px;
}
.singleproperty .propDetails span.amenity.railway {
  background-position: -18px -1px;
}
.singleproperty .propDetails span.amenity.school {
  background-position: -60px -1px;
}
.singleproperty .propDetails .table {
  margin-top: 20px;
}
.singleproperty .propDetails .table tbody tr th {
  background-color: #ae8f4e;
  color: #ffffff;
}
.singleproperty .propDetails .table tbody tr td,
.singleproperty .propDetails .table tbody tr th {
  border: 1px solid #ae8f4e;
}
.singleproperty .btn-primary {
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .singleproperty .property .mainimg {
    height: 150px;
    width: 180px;
  }
  .singleproperty .property .mainimg img {
    min-height: 150px;
  }
  .propDetails ul li {
    display: block;
  }
  .featuredProperty .bxslider1 li h4 {
    padding-left: 10px;
  }
  .featuredProperty .bxslider1 li .verify {
    width: 28%;
    bottom: 0;
  }
}
@media (min-width: 992px) {
  .propDetails ul li {
    width: 280px;
  }
  .property .mainimg img {
    max-height: 145px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .propDetails ul li {
    width: 263px;
  }
  .property .mainimg img {
    max-height: 180px;
    max-width: 100%;
  }
}
.bxslider {
  padding: 5px;
}
.bxslider li {
  height: 330px;
}
.bxslider li .projimg {
  height: 175px;
  overflow: hidden;
  padding: 6px;
  border: 2px solid transparent;
}
.bxslider li .projimg img {
  min-height: 175px;
}
.bxslider li .projimg:hover {
  border: 2px solid #141414;
}
.bxslider li p {
  margin-bottom: 5px;
}
.bxslider li .readmore {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.homeproject {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 999;
}
.homeproject .projectCarousal {
  position: relative;
  border: 5px solid #ffffff;
  width: 500px;
  margin: 0 auto;
  float: none;
  box-shadow: 0 0 15px;
}
.homeproject .projectCarousal .bx-viewport {
  min-height: 300px !important;
}
.homeproject .projectCarousal .bx-viewport .carousslider {
  min-height: 300px;
  padding-left: 0px;
}
.homeproject .projectCarousal .bx-viewport .carousslider li {
  left: 0;
  min-height: 300px;
  min-width: 100% !important;
  border: 3px solid #ffffff;
}
.homeproject .projectCarousal .bx-viewport img {
  height: 400px;
  min-width: 100%;
}
.homeproject .projectCarousal::after,
.homeproject .projectCarousal::before {
  content: "";
  height: 41px;
  display: block;
  position: absolute;
  top: -210px;
  z-index: -99;
}
.homeproject .projectCarousal::after {
  right: -105px;
  border-bottom: 276px solid #ae8f4e;
  border-right: 350px solid transparent;
}
.homeproject .projectCarousal::before {
  left: -105px;
  border-bottom: 276px solid #ae8f4e;
  border-left: 350px solid transparent;
}
.homeproject .projectnav,
.homeproject .projsnap {
  position: absolute;
  background-color: #ffd700;
  border: 1px solid #ffffff;
  height: 320px;
  width: 300px;
  top: 25px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  z-index: -98;
}
.homeproject .projectnav {
  right: 0;
}
.homeproject .projsnap {
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 60px;
}
.homeproject .projsnap p {
  border-bottom: 1px solid #ffffff;
  padding: 6px;
  color: #ae8f4e;
}
.homeproject .projsnap p:last-child {
  border: none;
}
.homeproject .projsnap img {
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px;
}
.homeproject .projsnap .viewproperty a {
  color: #fa6903;
  font: 16px 'Alex Brush', cursive;
}
.homeproject .projsnap .viewproperty a:hover {
  color: #fa6903;
}
.homeproject .projectnav {
  padding: 4px;
  padding-left: 70px;
}
.homeproject .projectnav .nav-stacked > li {
  border-bottom: 1px solid #ffffff;
}
.homeproject .projectnav .nav-stacked > li + li {
  margin-top: 10px;
}
.homeproject .projectnav .nav-stacked > li > a,
.homeproject .projectnav .nav-stacked > li > a:focus {
  color: #ae8f4e;
  padding: 11px 15px;
  text-transform: uppercase;
  font: bold 13px/1.5em Arial, Helvetica, sans-serif;
}
.homeproject .projectnav .nav-stacked > li.active > a,
.homeproject .projectnav .nav-stacked > li.active:hover > a,
.homeproject .projectnav .nav-stacked > li.active > a:focus,
.homeproject .projectnav .nav-stacked > li:hover > a,
.homeproject .projectnav .nav-stacked > li:hover > a:focus,
.homeproject .projectnav .nav-stacked > li > a:hover,
.homeproject .projectnav .nav-stacked > li > a:focus {
  text-decoration: none;
  background-color: #ae8f4e;
  color: #323232;
  background: -webkit-linear-gradient(top, #ae8f4e, #ffd700);
  background: -moz-linear-gradient(top, #ae8f4e, #ffd700);
  background: linear-gradient(top, #ae8f4e, #ffd700);
}
.homeproject::after {
  position: absolute;
  content: "";
  background-image: url('../img/verify.png');
  background-size: 100% 100%;
  right: 240px;
  bottom: 0px;
  z-index: 99;
  height: 120px;
  width: 120px;
}
.projlist .project .thumbnail {
  height: 385px;
}
.projlist .project .thumbnail .projectimg {
  width: 100%;
  height: 148px;
  overflow: hidden;
  margin: 0 auto;
}
.projlist .project .thumbnail .projectimg img {
  min-height: 148px;
}
.projlist .project .thumbnail .caption {
  padding: 9px 5px;
  height: 120px;
}
.projlist .project .thumbnail .readmore {
  margin-top: 15px;
}
.project .navbar {
  height: 50px;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: auto;
}
.project ul.nav.navbar-nav {
  height: 78px;
}
.project ul.nav.navbar-nav > li {
  background-color: #323232;
  border-right: 1px solid #ffd700;
  height: 38px;
}
.project ul.nav.navbar-nav > li > a,
.project ul.nav.navbar-nav > li > a:focus {
  padding: 9px 13px;
  color: #fa6903;
}
.project ul.nav.navbar-nav > li.active > a,
.project ul.nav.navbar-nav > li.active:hover > a,
.project ul.nav.navbar-nav > li.active > a:focus,
.project ul.nav.navbar-nav > li:hover > a,
.project ul.nav.navbar-nav > li:hover > a:focus,
.project ul.nav.navbar-nav > li > a:hover,
.project ul.nav.navbar-nav > li > a:focus {
  background-color: #ae8f4e;
  color: #800000;
}
.project .projImg {
  margin-right: 10px;
  margin-top: 10px;
  max-height: 175px;
  float: left;
}
.project .projectgallery .thumbnail.floor {
  height: 275px;
}
.project .projectgallery .thumbnail .projectImags {
  border: 1px solid #141414;
  height: 148px;
  width: 185px;
  overflow: hidden;
  margin: 0 auto;
}
.project .projectgallery .thumbnail .projectImags img {
  min-height: 148px;
}
.project .projectgallery .thumbnail .caption {
  height: 173px;
  overflow: hidden;
  margin-bottom: 10px;
}
@media (max-width: 540px) {
  .project .navbar {
    height: 320px;
  }
  .homeproject .bx-viewport {
    height: 270px;
  }
  .homeproject .projectCarousal .carousslider li.item {
    height: 270px;
  }
}
@media (max-width: 768px) {
  .homeproject .projectnav,
  .homeproject .projsnap,
  .homeproject .projectCarousal {
    position: static;
    width: auto;
  }
  .homeproject .bx-viewport {
    height: 400px;
  }
  .homeproject .projectCarousal .carousslider li.item {
    height: 400px;
  }
  .homeproject .projsnap {
    padding-left: 5px;
    padding-right: 5px;
  }
  .homeproject .projectnav {
    padding-left: 0px;
  }
  .homeproject .projectCarousal::after,
  .homeproject .projectCarousal::before {
    display: none;
    width: 0px;
  }
  .homeproject::after {
    display: none;
  }
}
.services .servimage {
  border: 4px solid transparent;
  padding: 6px;
}
.services .servimage:hover {
  border: 4px solid #323232;
}
.services .servdesc {
  height: 225px;
}
.services .servdesc .description {
  height: 75px;
  overflow: hidden;
}
.services .servdesc .readmore {
  text-align: center;
  margin-top: 10px;
}
.services .servdesc h4 {
  text-align: center;
}
.products .thumbnail {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}
.products .thumbnail .prodimg {
  overflow: hidden;
  margin: 0 auto;
}
.products .thumbnail .prodimg img {
  padding: 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: solid 1px #eee;
  background: #fff;
}
.products .thumbnail p {
  color: #323232;
}
.products .thumbnail .caption {
  margin-bottom: 10px;
}
.products .thumbnail .caption .description {
  height: 65px;
  color: #000000;
  overflow: hidden;
}
.products .thumbnail h4 {
  color: #ae8f4e;
}
.products .thumbnail .readmore {
  text-align: center;
}
.carousel {
  margin-top: 10px;
  border: 10px solid #fa6903;
  border-radius: 10px;
}
.carousel img {
  width: 100%;
}
.carousel .carousel-indicators {
  float: left;
}
.carousel .carousel-caption {
  right: -35%;
  left: 22%;
  padding-bottom: 30px;
  top: 10%;
}
.carousel .carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 20%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel .carousel-indicators li {
  border: 1px solid #ffffff;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}
.carousel .carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin: 0;
  background-color: #fa6903;
  border: 1px solid #fa6903;
}
.carousel p {
  color: #ffffff;
}
.carousel .carousel-control .glyphicon-chevron-right,
.carousel .carousel-control .icon-next {
  margin-right: -15px;
  display: none;
}
.carousel .carousel-control .glyphicon-chevron-left,
.carousel .carousel-control .icon-prev {
  margin-left: -15px;
  display: none;
}
.box {
  box-shadow: 0 0 12px #ccc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: solid 1px #ccc\9;
  padding: 15px;
  margin-top: 25px;
}
.box:hover {
  box-shadow: 0 0 25px #fa6903;
  color: #000000;
}
body .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
body header {
  background-color: #800000;
}
body header .logo {
  height: 202px;
}
body navbar-toogle {
  background-color: #fa6903;
}
body .navbar-toggle {
  border-color: #ffffff;
}
body .navbar-toggle:hover {
  background-color: #fa6903;
}
body .navbar-default .navbar-toggle:hover,
body .navbar-default .navbar-toggle:focus {
  background-color: #fa6903;
}
body .navbar-default {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: url(../img/navi-bg.jpg);
  border-top: none;
  margin-bottom: 0px;
  background-color: #000000;
  border-bottom: 2px solid #fa6903 !important;
}
body .navbar-default .navbar-nav > li {
  position: relative;
}
body .navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-family: 'Dancing Script';
  border-right: 1px solid #ffffff;
  padding: 15px 45px;
  font-size: 24px;
  border-right: solid 1px #545454;
  border-left: solid 2px #000000;
  background: url(../img/navi-tree-h.png) no-repeat center top;
}
body .navbar-default .navbar-nav > li.active > a,
body .navbar-default .navbar-nav > li.active:hover > a,
body .navbar-default .navbar-nav > li.active > a:focus,
body .navbar-default .navbar-nav > li:hover > a,
body .navbar-default .navbar-nav > li:hover > a:focus {
  color: #fa6903;
  cursor: pointer;
  text-shadow: 1px 1px #000000;
  background: none;
  font-family: 'Dancing Script';
  background: url(../img/navi-tree.png) no-repeat center top;
}
body .navbar-default .navbar-nav > li ul {
  display: none;
  position: absolute;
  width: 270px;
  z-index: 999;
  background-color: #323232;
  padding: 15px;
  list-style: none;
  text-align: left;
  border: 1px solid #ffffff;
  box-shadow: 0 0 15px 0px #000000;
  border-radius: 7px;
}
body .navbar-default .navbar-nav > li ul > li {
  padding: 10px;
  position: relative;
}
body .navbar-default .navbar-nav > li ul > li > a {
  text-decoration: none;
  color: #ae8f4e;
}
body .navbar-default .navbar-nav > li ul > li:hover {
  background: -webkit-linear-gradient(top, #ae8f4e, #000000);
  background: -moz-linear-gradient(top, #ae8f4e, #000000);
  background: linear-gradient(top, #ae8f4e, #000000);
}
body .navbar-default .navbar-nav > li ul > li:hover a {
  color: #ffffff;
}
body .navbar-default .navbar-nav > li ul > li > ul {
  display: none;
  list-style: none;
  left: 70%;
  top: 10px;
  border-top-left-radius: 0px;
}
body .navbar-default .navbar-nav > li ul > li > ul > li > a {
  text-decoration: none;
  color: #ae8f4e;
}
body .navbar-default .navbar-nav > li ul > li > ul > li:hover {
  background: -webkit-linear-gradient(top, #ae8f4e, #000000);
  background: -moz-linear-gradient(top, #ae8f4e, #000000);
  background: linear-gradient(top, #ae8f4e, #000000);
}
body .navbar-default .navbar-nav > li ul > li > ul > li:hover a {
  color: #ffffff;
}
body .navbar-default .navbar-nav > li ul > li:hover > ul {
  display: block;
}
body .navbar-default .navbar-nav > li:hover > ul {
  display: block;
}
.content {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}
.ak {
  background: url(../img/main-bg.jpg) no-repeat center top #440709;
}
h2 {
  color: #800000;
}
.navbar-nav > li {
  float: none;
}
@media (max-width: 728px) {
  body .navbar-default .navbar-nav > li.active > a,
  body .navbar-default .navbar-nav > li.active:hover > a,
  body .navbar-default .navbar-nav > li.active > a:focus,
  body .navbar-default .navbar-nav > li:hover > a,
  body .navbar-default .navbar-nav > li:hover > a:focus {
    background: none;
    border: 0px;
  }
  body .navbar-default .navbar-nav > li > a {
    background: none;
    border: 0px;
    background-image: none;
  }
  body .navbar-default {
    background: #323232;
    border-bottom: 0px solid #fa6903 !important;
  }
}
.sidemenu > ul > li {
  background-color: #ffffff;
  border-radius: 10x;
  list-style-type: none;
  padding: 20px 45px;
  margin-top: 15px;
  margin-left: -18%;
  font-size: 32px;
  border-radius: 10px;
  border-radius: 15px solid red;
}
.sidemenu > ul > li > a:hover {
  color: #fa6903;
  text-decoration: none;
}
.sidemenu > ul > li > a {
  color: #fa6903;
  text-decoration: none;
}
.about h2 {
  color: #800000;
}
.about strong {
  color: #800000;
}
h1,
h3 {
  color: #800000;
}
strong {
  color: #800000;
}
.btn-info {
  background: #000000;
  padding: 3px 7px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #ffffff;
  border: none;
}
.btn-info:hover {
  background: #323232;
  border: none;
}
.pk {
  background: url(../img/footer-bg.jpg) repeat-x;
  height: 200px;
}
hr {
  border-top: 1px solid #323232;
}
.anim1 {
  position: relative;
  -webkit-animation-name: anim1;
  -webkit-animation-duration: 10s;
}
@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
  }
  80% {
    top: 400px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.anim2 {
  position: absolute;
  left: -10000px;
  top: -10000px;
  height: 100%;
  background-image: url("../img/back1.jpg");
  opacity: 0;
  background-size: 100% 100%;
  -webkit-animation-name: anim2;
  -webkit-animation-duration: 8s;
}
@-webkit-keyframes anim2 {
  0% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}
.anim4 {
  position: absolute;
  left: -10000px;
  top: -10000px;
  opacity: 0;
  -webkit-animation-name: anim4;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 4s;
}
@-webkit-keyframes anim4 {
  0% {
    opacity: 1;
    left: 850px;
    top: 200px;
  }
  10% {
    opacity: 1;
    left: 850px;
    top: 200px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  30% {
    opacity: 1;
    left: 850px;
    top: 200px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px purple;
  }
  50% {
    opacity: 1;
    left: 850px;
    top: 200px;
    color: #144FFF;
  }
  70% {
    opacity: 1;
    left: 850px;
    top: 200px;
    color: #ff9900;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    left: 850px;
    top: 200px;
    color: #ff9900;
    transform: rotate(360deg);
  }
}
