{% autoescape false %}
{% if featured_products | length >= 2 %}
	<div class="contentModule">
		<h3 class="subhead">Featured Services</h3>
		<div class="sections clearfix services">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_products if break == 0 %}
				{% if x.type == 'service' %}
					<div class="col-sm-6 col-md-2 servimage">
						<a href="services/{{x.product_service_name}}/{{x.id}}">
							<img class="img-responsive center-block" src="{{x.product_image.0.file_relative_path}}" alt="{{x.product_image.0.file_relative_path}}">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 servdesc">
						<h4>{{x.product_service_name}}</h4>
						<div class="description">{{ x.description |length > 100 ? x.description | slice(start, 100) : x.description}}</div>
						<div class="readmore">
							<a href="services/{{x.product_service_name}}/{{x.id}}" class="btn btn-info">Read More</a>
						</div>
					</div>
					{% set i = (i + 1) %}
					{% if i == 4 %}
						{% set break = 1 %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endautoescape %}