{% autoescape false %}
{% if featured_projects %}
<div class="contentModule">
	<h3 class="subhead">Featured Project</h3>
	<div class="sections text-center">
		<ul class="bxslider" id="bxslider">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_projects if break == 0 %}
				<li>
					<img class="img-responsive center-block" src="{{x.project_images.0.file_relative_path}}" />
					<a href="projects/{{x.title}}/{{x.id}}">{{x.title}}</a>
					<p>Location : {{x.location}}</p>
					<p>Type : {{x.type}}</p>
				</li>
				{% set i = (i + 1) %}
				{% if i == 4 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}