{% autoescape false %}
{% if featured_products | length >= 3 %}
<div class="row">
	<div class="text-center">
		<h2>Our Products</h2>
		{% set break = 0 %}{% set i = 0 %}
		{% for x in featured_products if break == 0 %}
			<div class="col-sm-4">
				<h4>{{x.product_service_name}}</h4>
				<img class="img-circle img-responsive" src="{{x.product_image.0.file_relative_path}}" />
				{{ x.description |slice(start, 50)}}<br>
				<a class="btn btn-info" href="product/{{x.id}}">View Details</a>
			</div>
			{% set i = (i + 1) %}
			{% if i == 3 %}
				{% set break = 1 %}
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endautoescape %}