{% autoescape false %}
	{% if data.testimonials %}
		<h2>Testimonials</h2>
		{% for key, value in data.testimonials if break == 0 %}
			<div class="row featrtesti">
				<div class="col-xs-3">
					<img class="img-responsive center-block" src="{{value.image.file_relative_path}}">
				</div>
				<div class="col-xs-9">
					<blockquote>
						<div class="description">{{ value.description }}</div>
						<footer>{{value.heading}}</cite></footer>
					</blockquote>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endautoescape %}