<script>
$(document).ready(function(){
	$('.bxslider').bxSlider({
		mode:'horizontal',
		slideWidth: 250,
		minSlides:3,
		maxSlides: 4,
		slideMargin: 25,
		auto: true, 
		autoDirection:'next',
		moveSlides: 2,
		pause:2500,
		pager:true,
		pagerType:'full',
		autoControls: true, 
		controls:true, 
		autoHover:true,
		speed:1000,
	});
});
</script>
{% autoescape false %}
{% if featured_projects %}
<div class="contentModule">
	<h3 class="subhead">Featured Project</h3>
	<div class="sections text-center">
		<ul class="bxslider" id="bxslider">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_projects if break == 0 %}
				<li>
					<img class="img-responsive center-block" src="{{x.project_images.0.file_relative_path}}" />
					<div class="readmore">
						<a href="projects/{{x.title}}/{{x.id}}">{{x.title}}</a>
					</div>
					<p>Location : {{x.location}}</p>
					<p>Type : {{x.type}}</p>
				</li>
				{% set i = (i + 1) %}
				{% if i == 4 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}