
{% autoescape false %}
{% if featured_projects%}
<div class="contentModule featuredProject">
	<h3 class="subhead">Featured Project</h3>
	<div class="sections text-center">
		<ul class="bxslider" id="bxslider">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in featured_projects if break == 0 %}
				<li>
					<div class="projimg">
						<img class="img-responsive center-block" src="{{x.project_images.0.file_relative_path}}" />
					</div>
					<div class="readmore">
						<a href="projects/{{x.title}}/{{x.id}}" class="head"><h4>{{x.title}}</h4></a>
					</div>
					<p>{{x.type ~ ', '}}{{x.category}}{{x.location}}</p>
					<a href="projects/{{x.title}}/{{x.id}}" class="btn btn-info">More Details</a>
				</li>
				{% set i = (i + 1) %}
				{% if i == 9 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}