{% autoescape false %}
	{% if data.associate | length >= 1%}

<div class="associates">
	<h3>Our Associates</h3>
	<div class="sections text-center">
		<ul class="bxslider" id="bxslider3">
			{% set break = 0 %}{% set i = 0 %}
			{% for x in data.associate if break == 0 %}
				<li>
					<div class="projimg">
						<img class="img-responsive center-block" src="{{x.image.file_relative_path}}" />
					</div>
					<p>-{{x.name}}</p>
					<p>{{x.description}}</p>
					
					
				</li>
				{% set i = (i + 1) %}
				{% if i == 9 %}
					{% set break = 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endautoescape %}



