<div class="form-group">
	<label  for="compname" class="col-sm-3 control-label">Company Name</label>
	<div class="col-sm-9">
		<input type="text" id="compname" class="form-control" name="compname" placeholder="Company Name" ng-model="addbusiness.businessprofile.companyname" required >
		<span style="color:red" ng-show="myForm.compname.$dirty && myForm.compname.$invalid">
		<span ng-show="myForm.compname.$error.required">Company Name is required.</span>
		</span>
	</div>						
</div>

<div class="form-group">
	<label for="primary" class="col-md-3 control-label" name="primary" >Primary Business Type</label>
	<div class="col-md-9">
		<select class="form-control" name="primary" id="primary"  ng-model="primary" required>		
			<option value="">Select Type</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.primary.$dirty && myForm.primary.$invalid">
		<span ng-show="myForm.primary.$error.required">Primary Business Type is required.</span>
		</span>				
	</div>
</div>			

<div class="form-group" >
	<label  for="clogo" class="col-sm-3 control-label">Company Logo</label>
	<div class="col-sm-9">
		<input type="file" id="clogo" name="clogo"><img src="">	
	</div>
</div>	
<div class="form-group">
	<label  for="catalog" class="col-sm-3 control-label">Small Business Catalog</label>
	<div class="col-sm-9">
		<input type="text" id="catalog" class="form-control" name="catalog" placeholder="Small Business Catalog" ng-model="addbusiness.businessprofile.catalog" required >
		<span style="color:red" ng-show="myForm.catalog.$dirty && myForm.catalog.$invalid">
		<span ng-show="myForm.catalog.$error.required">Small Business Catalog is required.</span>
		</span>
	</div>						
</div>
<div class="form-group">
	<label for="Website" class="col-md-3 control-label">Alternate Website </label>
	<div class="col-md-9">
		<input type="url" class="form-control" id="Website" ng-model="reg.website" name="Website" placeholder="Enter Website " required>
		<span style="color:red" ng-show="myForm.Website.$dirty && 	myForm.Website.$invalid">
			<span ng-show="myForm.Website.$error.required">Website  is required.</span>
			<span ng-show="myForm.Website.$error.url">Invalid Web Site.</span>
		</span>
		<span>e.g http://www.google.com</span>
	</div>						
</div>	

<div class="form-group">
	<label for="year" class="col-md-3 control-label" name="year" >Year Of Establishment</label>
	<div class="col-md-9">
		<select class="form-control" name="year" id="year"  ng-model="year" required>		
			<option value="">Select Establish Year</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.year.$dirty && myForm.year.$invalid">
		<span ng-show="myForm.year.$error.required">Year Of Establishment is required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">	
	<label  for="employees" class="col-sm-3 control-label">No. Of Employees</label>	
	<div class="col-sm-9">
		<input type="number" id="employees" class="form-control" name="employees" placeholder="No. Of Employees" ng-model="addbusiness.businessprofile.employees" required >
		<span style="color:red" ng-show="myForm.employees.$dirty && myForm.employees.$invalid">
		<span ng-show="myForm.employees.$error.required">No. Of Employees is required.</span>
		</span>
	</div>						
</div>

<div class="form-group">
	<label for="ownership" class="col-md-3 control-label" name="ownership" >Ownership Type</label>
	<div class="col-md-9">
		<select class="form-control" name="ownership" id="ownership"  ng-model="ownership" required>		
			<option value="">Select Ownership Type</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.ownership.$dirty && myForm.ownership.$invalid">
		<span ng-show="myForm.ownership.$error.required">Ownership Type is required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">
	<label class="col-sm-3 control-label">Additional Business</label>
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-6">
				<div class="checkbox">
					<label>
					<input type="checkbox">Trader
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Manufacturer
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Retailer
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Buying House
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="checkbox">
					<label>
						<input type="checkbox">Wholesaler
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Exporter
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Service Provider
					</label>
				</div>
			</div>						 				
		</div>
	</div>
</div>																
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
	  <button type="submit" class="btn btn-primary btn-success" title="Save" ng-click="showFormPart('contact')">Save</button>
	</div>
</div>

