<div class="form-group">
	<label for="keyDes" class="col-sm-3 control-label">Key Description of your Company (Visible of your website and Small Busi search)</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="keywords" name="keywords" ng-model="addbusiness.business_info.keywords" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Key Description of company" ui-tinymce required>
		</textarea>
			<p ng-hide="addbusinessForm.keywords.$error.maxlength">
				{{ 256 - buzdesc.keyDescp.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.keywords.$dirty && addbusinessForm.keywords.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.keywords.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.keywords.$error.required" class="text-danger">Key Description of company is required.</span>
			</span>	
	</div>
</div>  
<div class="form-group">
	<label for="description" class="col-sm-3 control-label">Detailed Description of your Website Home Page</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="description" name="description" ng-model="addbusiness.business_info.description" cols="30" rows="4" ng-maxlength="256" placeholder="Detailed Description of website" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.description.$error.maxlength">
				{{ 256 - buzdesc.description.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.description.$dirty && addbusinessForm.description.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.description.$error.required" class="text-danger">Detailed Description of website is required.</span>
			</span>		
	</div>
</div>  
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="submit" class="btn btn-default btn-primary" title="Save" ng-click="showFormPart('business')">Next</button>
	</div>
</div>