<form name="businessDescForm" role="form" class="form-horizontal">
	<div class="form-group" ng-if="userDetails.group_name != 'customer'">
		<label for="customer" class="col-sm-3 control-label">Customer*</label>
		<div class="col-sm-7">
				<select class="form-control" name="customer" id="customer"  ng-init="getUsers()" ng-model="addbusiness.user_id" ng-options="item.id as item.name for item in customerList | filter: { group_name : 'customer'} " required>
					<option value="">Select Customer</option>
				</select>
			<span class="help-block" ng-show="businessDescForm.customer.$dirty && businessDescForm.customer.$invalid">
				<span ng-show="businessDescForm.customer.$error.required" class="text-danger">Required Field.</span>
			</span>	
		</div>
		<div class="col-sm-2">
			<a href="#/dashboard/users/adduser" class="btn btn-default">Add New User</a>
		</div>
	</div>
	<span ng-if="userDetails.group_name == 'customer'">
		<input type="hidden" class="form-control" ng-model="addbusiness.user_id" ng-init="addbusiness.user_id = userDetails.id" readonly/>
	</span>
	<div class="form-group">
		<label  for="business_name" class="col-sm-3 control-label">Organization/Firm Name*</label>
		<div class="col-sm-9">
			<input type="text" ng-disabled="bizId" id="business_name" class="form-control" name="business_name" placeholder="Organization/Firm Name" ng-model="addbusiness.business_name" required>
			<span class="help-block" ng-show="businessDescForm.business_name.$dirty && businessDescForm.business_name.$invalid">
				<span ng-show="businessDescForm.business_name.$error.required" class="text-danger">Required Field.</span>
			</span>
		</div>						
	</div>
	
	<div class="form-group">
		<label for="business_logo" class="col-sm-3 control-label">Logo</label>
		<div class="col-sm-9">
			<input type="file" id="business_logo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change= "upload(business_logo, addbusiness.user_id + path,userInfo,'business_logo')" ng-model="business_logo">
			<input type="hidden" ng-model="addbusiness.business_logo">
		</div>
	</div>
	
	<div class="form-group">						 
		<div class="col-sm-9 col-sm-offset-3">
			<span class="thumbs" ng-if="addbusiness.business_logo">
				<img class="img-thumbnail" ng-src="{{addbusiness.business_logo.file_relative_path}}" ng-click="addbusiness.imgkey = key; "/>
			</span>
		</div>
	</div>			
	
	<div class="form-group">
		<label for="tagline" class="col-sm-3 control-label" name="tagline">Tag Line </label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="tagline" name="tagline" ng-model="addbusiness.business_info.tagline" placeholder="Enter TagLine" />
				<span class="help-block" ng-show="businessDescForm.tagline.$dirty && businessDescForm.tagline.$invalid">
				</span>
			</div>
	</div>
	<div class="form-group">
		<label for="alternate_tagline" class="col-sm-3 control-label" name="alternate_tagline"> Tag Line 2</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="alternate_tagline" name="alternate_tagline" ng-model="addbusiness.business_info.alternate_tagline" placeholder="Enter TagLine" />
				<span class="help-block" ng-show="businessDescForm.alternate_tagline.$dirty && businessDescForm.alternate_tagline.$invalid">
				</span>
			</div>
	</div>
	<div class="form-group">
		<label for="ownership" class="col-sm-3 control-label" name="ownership">Ownership Type</label>
		<div class="col-sm-9">
			<select class="form-control" name="ownership" id="ownership" ng-model="addbusiness.ownership" ng-model="addbusiness.ownership" ng-options="item as item for item in biz.ownership">		
				<option value="">Select Ownership Type</option>
			</select>
			<span class="help-block" ng-show="businessDescForm.ownership.$dirty && businessDescForm.ownership.$invalid">
			<span ng-show="businessDescForm.ownership.$error.required" class="text-danger">Required Field.</span>
			</span>				
		</div>
	</div>
	<div class="form-group">
		<label for="shortdescription" class="col-sm-3 control-label">Detailed Description*</br>
		<small>This will show on Website Home Page</small></label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control" id="shortdescription" name="shortdescription" ng-model="addbusiness.business_info.description" cols="30" rows="4" ng-maxlength="5000" placeholder="Detailed Description of Company" ui-tinymce required></textarea>
				<p ng-hide="businessDescForm.shortdescription.$error.maxlength">
					{{ 5000 - addbusiness.business_info.description.length + " Chars left"}} 
				</p>
				<span class="help-block" ng-show="businessDescForm.shortdescription.$dirty && businessDescForm.shortdescription.$invalid">
					<span class="text-danger" ng-show="businessDescForm.shortdescription.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="businessDescForm.shortdescription.$error.required" class="text-danger">Required Field.</span>
				</span>		
		</div>
	</div>  
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-primary" title="Save" ng-disabled="businessDescForm.$invalid" ng-click="showFormPart('business',1)">Next</button>
			<button ng-if="id" type="submit" class="btn btn-success" ng-disabled="businessDescForm.$invalid" ng-click="updateData(addbusiness)">Update</button> 
		</div>
	</div>
</form>