<div class="form-group">
	<label for="keyDes" class="col-sm-3 control-label">Key Description of your Company (Visible of your website and Small Busi search)</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="keyDescp" name="keyDescp" ng-model="buzdesc.keyDescp" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Key Description of company" ui-tinymce required>
		</textarea>
			<p ng-hide="addbusinessForm.keyDescp.$error.maxlength">
				{{ 20 - buzdesc.keyDescp.length + " Chars left" }}
			</p>
			<span style="color:red" ng-show="addbusinessForm.keyDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
			<span style="color:red" ng-show="addbusinessForm.keyDescp.$dirty && addbusinessForm.keyDescp.$invalid">
				<span ng-show="addbusinessForm.keyDescp.$error.required">Key Description of company is required.</span>
			</span>	
	</div>
</div>  
<div class="form-group">
	<label for="detailDes" class="col-sm-3 control-label">Detailed Description of your Website Home Page</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="detailDescp" name="detailDescp" ng-model="buzdesc.detailDescp" cols="30" rows="4" ng-maxlength="20" placeholder="Detailed Description of website" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.detailDescp.$error.maxlength">
				{{ 20 - buzdesc.detailDescp.length + " Chars left" }}
			</p>
			<span style="color:red" ng-show="addbusinessForm.detailDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
			<span style="color:red" ng-show="addbusinessForm.detailDescp.$dirty && addbusinessForm.detailDescp.$invalid">
				<span ng-show="addbusinessForm.detailDescp.$error.required">Detailed Description of website is required.</span>
			</span>		
	</div>
</div>  
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="submit" class="btn btn-default btn-primary" title="Save" ng-click="showFormPart('business')">Next</button>
	</div>
</div>