					<div class="form-group">
						<label  for="contact_person" class="col-sm-3 control-label">Contact Person*</label>
						<div class="col-sm-9">
							<input type="text" id="contact_person" class="form-control" name="contact_person" placeholder="Contact Person" ng-model="addbusiness.contact_profile.contact_person" required >
							<span class="help-block" ng-show="addbusinessForm.contact_person.$dirty && addbusinessForm.contact_person.$invalid">
							<span ng-show="addbusinessForm.contact_person.$error.required" class="text-danger">Please Enter Name of Contact Person.</span>
							</span>
						</div>						
					</div>
					<div class="form-group" > 
						<label  for="contact_photo" class="col-sm-3 control-label">Person Photo</label>
						<div class="col-sm-9">
							<input type="file" id="contact_photo" name="contact_photo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="contact_photo">
							<!-- This will show thumbnails & progress of images -->
								<file-preview url="contact_photo"></file-preview>
								<!-- This button will show if file/s selected -->
								<button ng-show="contact_photo" ng-click="upload(contact_photo,path,userInfo, 'contact_photo')" type="button">Upload</button>
								<!-- This hidden input will store image path in array after successful uploading {{addbusiness.contact_profile}}-->
								<input type="hidden" ng-model="addbusiness.contact_profile.contact_photo"><!-- <img ng-src="{{addbusiness.contact_profile.contact_photo}}" width="50px"/> -->
						</div>
					</div>
					
					<div class="form-group">
						<label  for="Designation" class="col-sm-3 control-label">Designation/Job Title*</label>
						<div class="col-sm-9">
							<input type="text" id="Designation" class="form-control" name="Designation" placeholder="Designation/Job Title" ng-model="addbusiness.contact_profile.Designation" required >
							<span class="help-block" ng-show="addbusinessForm.Designation.$dirty && addbusinessForm.Designation.$invalid">
							<span ng-show="addbusinessForm.Designation.$error.required" class="text-danger">Designation Required.</span>
							</span>
						</div>						
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-3 control-label">Address*</label>
						<div class="col-sm-9">
							<textarea type="text" class="form-control" id="address" name="address" ng-model="addbusiness.contact_profile.address" cols="30" rows="3" ng-maxlength="256" placeholder="Enter address"  required></textarea>
							<p ng-hide="addbusinessForm.address.$error.maxlength">
								{{ 256 - addbusiness.address.length + " Chars left" }}
							</p>
							<span class="help-block" ng-show="addbusinessForm.address.$dirty && addbusinessForm.address.$invalid">
								<span ng-show="addbusinessForm.address.$error.maxlength"class="text-danger">Sorry You are Exceeding the Limit</span>
								<span class="text-danger" ng-show="addbusinessForm.address.$error.required">Address is required.</span>
							</span>					
						</div>
					</div>	
					<!-- add combo boxes for city, state, country & add text input for zip code & validation with number max-char 6 -->		
					<script type="text/ng-template" id="customTemplate.html">
					  <a>
						  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
						  <span><small> ({{match.model.area}} - {{match.model.pincode}})</small></span>
					  </a>
					</script>
					<div class="form-group">
						<label for="location" class="col-sm-3 control-label">Location</label>
						<div class="col-sm-9">
<input typeahead-template-url="customTemplate.html" type="text" required name="location" id="location" ng-model="addbusiness.location" typeahead-on-select="getData($item)" placeholder="Locations loaded via $http" typeahead="address.location for address in getTypeaheadData('locations','location', $viewValue)" typeahead-loading="locationLoading" typeahead-editable="false" class="form-control" autocomplete="off">
<i ng-show="locationLoading" class="glyphicon glyphicon-refresh"></i>
							<span class="help-block" ng-show="addbusinessForm.location.$dirty && addbusinessForm.location.$invalid || addbusinessForm.location.$dirty && !addbusiness.location">
								<span class="text-danger" ng-show="addbusinessForm.location.$dirty && (addbusinessForm.location.$error.required || !addbusiness.location)">Location required.</span>
							</span>
						</div>						
					</div>
					<div class="form-group">
						<label for="area" class="col-sm-3 control-label">Area</label>
						<div class="col-sm-9">
							<input ng-disabled="readOnly" type="text" id="area" name="area" class="form-control" ng-model="addbusiness.area" placeholder="Enetr area">
							<span class="help-block" ng-show="addbusinessForm.area.$dirty && addbusinessForm.area.$invalid">
								<span ng-show="addbusinessForm.area.$error.pattern && (addbusinessForm.area.$dirty || submitted)" class="text-danger">Enter Area</span>
								<span class="text-danger" ng-show="addbusinessForm.area.$error.minlength && (addbusinessForm.area.$dirty || submitted)">Enter correct Code.</span>
							</span>
						</div>						
					</div>			
					<div class="form-group">
						<label for="state" class="col-sm-3 control-label">State</label>
						<div class="col-sm-4">
						<input ng-disabled="readOnly" type="text" id="state" name="state" class="form-control" ng-model="addbusiness.state" placeholder="Enetr state">
							<span class="help-block" ng-show="addbusinessForm.state.$dirty && addbusinessForm.state.$invalid">
								<span ng-show="addbusinessForm.state.$error.required" class="text-danger">State is required.</span>
							</span>				
						</div>						
						<div class="col-sm-offset-1 col-sm-4">
<input type="text" required name="City" id="City" ng-model="addbusiness.city" placeholder="Enter Your City"  ng-disabled="readOnly" class="form-control" autocomplete="off">	
<i ng-show="cityLoading" class="glyphicon glyphicon-refresh"></i>
							<span class="help-block" ng-show="addbusinessForm.City.$dirty && addbusinessForm.City.$invalid || addbusinessForm.City.$dirty && !addbusiness.City">
								<span ng-show="addbusinessForm.City.$error.required || addbusinessForm.City.$dirty && !addbusiness.city" class="text-danger">City is required.</span>
							</span>				
						</div>
					</div>
					<div class="form-group">
						<label for="Country" class="col-sm-3 control-label">Country</label>
						<div class="col-sm-9">
<input type="text" required name="Country" id="Country" ng-model="addbusiness.country" placeholder="Enter Your Country" ng-disabled="readOnly" class="form-control" autocomplete="off">
							<span class="help-block" ng-show="addbusinessForm.Country.$dirty && addbusinessForm.Country.$invalid || addbusinessForm.Country.$dirty && !addbusiness.Country">
								<span ng-show="addbusinessForm.Country.$error.required || addbusinessForm.Country.$dirty && !addbusiness.Country" class="text-danger">Country is required.</span>
							</span>				
						</div>
					</div>					
					<div class="form-group">
						<label for="pincode" class="col-sm-3 control-label">Pin Code</label>
						<div class="col-sm-9">
							<input ng-disabled="readOnly" type="text" id="pincode" name="pincode" class="form-control" ng-model="addbusiness.pincode" placeholder="Enetr Pin Code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6"  ng-minlength="6">
							<span class="help-block" ng-show="addbusinessForm.pincode.$dirty && addbusinessForm.pincode.$invalid">
								<span ng-show="addbusinessForm.pincode.$error.pattern && (addbusinessForm.pincode.$dirty || submitted)" class="text-danger">Enter a valid ZIP Code</span>
								<span class="text-danger" ng-show="addbusinessForm.pincode.$error.minlength && (addbusinessForm.pincode.$dirty || submitted)">Enter Valid Length Of Zip Code.</span>
							</span>
						</div>						
					</div>
					
					<div class="form-group">
						<label for="telephone" class="col-sm-3 control-label">Telephone</label>
						<div class="col-sm-9">
							<input type="text" id="telephone" name="telephone" class="form-control" ng-model="addbusiness.contact_profile.telephone" placeholder="Enetr Telephone" ng-pattern="/\d{5}([- ]*)\d{6}/" maxlength="12"  ng-minlength="12">
							<span class="help-block" ng-show="addbusinessForm.telephone.$dirty && addbusinessForm.telephone.$invalid">
								<span ng-show="addbusinessForm.telephone.$error.pattern && (addbusinessForm.telephone.$dirty || submitted)" class="text-danger">Enter a valid Telephone</span>
								<span class="text-danger" ng-show="addbusinessForm.telephone.$error.minlength && (addbusinessForm.telephone.$dirty || submitted)">Enter Valid Length Of Telephone.</span>
							</span>
						</div>						
					</div>
					
					<div class="form-group">
						<label for="mobile" class="col-sm-3 control-label">Mobile/Cell Phone</label>
						<div class="col-sm-9">
							<input type="text" id="mobile" name="mobile" class="form-control" ng-model="addbusiness.contact_profile.mobile" placeholder="Enetr Mobile No." ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
							<span class="help-block" ng-show="addbusinessForm.mobile.$dirty && addbusinessForm.mobile.$invalid">
								<span ng-show="addbusinessForm.mobile.$error.pattern && (addbusinessForm.mobile.$dirty || submitted)" class="text-danger">Enter a valid Contact Number</span>
							</span>
						</div>						
					</div>
						
					<div class="form-group">
						<label  for="fax" class="col-sm-3 control-label">Fax</label>
						<div class="col-sm-9">
							<input type="text" id="fax" class="form-control" name="fax" ng-model="addbusiness.contact_profile.fax" ng-pattern="/^[0-9 \-\s \( \)]*$/" ng-minlength="6" maxlength="6" placeholder="Fax">
							<span class="help-block" ng-show="addbusinessForm.fax.$dirty && addbusinessForm.fax.$invalid">
								<span ng-show="addbusinessForm.fax.$error.pattern && (addbusinessForm.fax.$dirty || submitted)" class="text-danger">Enter a valid Fax</span>
								<span class="text-danger" ng-show="addbusinessForm.fax.$error.minlength && (addbusinessForm.fax.$dirty || submitted)">Enter Valid Length Of Fax.</span>
							</span>
						</div>						
					</div>
					<div class="form-group">	
							<label  for="email" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="Email" class="form-control" id="email" ng-model="addbusiness.contact_profile.email" name="email" placeholder="Enter Email" required >
								<span class="help-block" ng-show="addbusinessForm.email.$dirty && addbusinessForm.email.$invalid">
								<span ng-show="addbusinessForm.email.$error.required" class="text-danger">Email is required.</span>
								<span ng-show="addbusinessForm.email.$error.email" class="text-danger">Invalid Email address.</span>
								</span>
							</div>
						</div>	
					<div class="form-group">	
							<label  for="alternate_email" class="col-sm-3 control-label">Alternate Email</label>
							<div class="col-sm-9">
								<input type="Email" class="form-control" id="alternate_email" ng-model="addbusiness.contact_profile.alternate_email" name="alternate_email" placeholder="Enter Alternate Email" required >
								<span class="help-block" ng-show="addbusinessForm.alternate_email.$dirty && addbusinessForm.alternate_email.$invalid">
								<span ng-show="addbusinessForm.alternate_email.$error.required" class="text-danger">Email is required.</span>
								<span ng-show="addbusinessForm.alternate_email.$error.email" class="text-danger">Invalid Email address.</span>
								</span>
							</div>
						</div>	
					<div class="form-group">
						<label for="contact_website" class="col-sm-3 control-label">Website </label>
						<div class="col-sm-9">
							<input type="url" class="form-control" id="contact_website" ng-model="addbusiness.contact_profile.contact_website" name="contact_website" placeholder="Enter Website " required>
							<span class="help-block" ng-show="addbusinessForm.contact_website.$dirty && 	addbusinessForm.contact_website.$invalid">
								<span ng-show="addbusinessForm.contact_website.$error.required" class="text-danger">Website  is required.</span>
								<span ng-show="addbusinessForm.contact_website.$error.url" class="text-danger">Invalid Website.</span>
							</span>
							<span>e.g http://www.google.com</span>
						</div>						
					</div>	
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-primary btn-default" title="Save" ng-click="showFormPart('seo')">Next</button>
						<button ng-if="id" type="submit" class="btn btn-success"  ng-click="updateData(addbusiness)">Update</button> 
						</div>
					</div>

					