<!-- {{infrastructure | json}}
{{addbusiness.infrastructure | json}} -->
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button class="btn btn-default btn-primary pull-right" ng-click="addToObject(infrastructure, addbusiness.infrastructure)" title="Add Infrastucture">Add Infrastucture</button>
	</div>
</div>

<div class="form-group" >
	<label  for="infra_image" class="col-sm-3 control-label">Add Image</label>
	<div class="col-sm-9">
		<input type="file" id="infra_image" name="infra_image" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="infra_image">	
		<!-- This will show thumbnails & progress of images -->
			<file-preview url="infra_image"></file-preview>
			<!-- This button will show if file/s selected -->
			<button ng-show="infra_image" ng-click="upload(infra_image,path,userinfo, infrastructure.desc.infra_image)" type="button">Upload</button>
			<!-- This hidden input will store image path in array after successful uploading -->
			<input type="hidden" ng-model="infrastructure.desc.infra_image">
	</div>
</div>

<div class="form-group">
	<label for="infraHeading" class="col-sm-3 control-label" name="infraHeading" >Infrastucture Heading</label>
	<div class="col-sm-9">
		<select class="form-control" name="infraHeading" id="infraHeading"  ng-model="infrastructure.heading" required ng-options="item as item for item in biz.infrastructure">
			<option value="">Select Heading</option>					
		</select>
		<span class="help-block" ng-show="addbusinessForm.infraHeading.$dirty && addbusinessForm.infraHeading.$invalid">
		<span ng-show="addbusinessForm.infraHeading.$error.required" class="text-danger">Sender Country is required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">
	<label for="infraDesc" class="col-sm-3 control-label">Infrastucture Description</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="infraDesc" name="infraDesc" ng-model="infrastructure.desc.description" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Infrastucture Description" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.infraDesc.$error.maxlength">
				{{ 256 - infrastructure.desc.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.infraDesc.$dirty && addbusinessForm.infraDesc.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.infraDesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.infraDesc.$error.required" class="text-danger">Infrastucture Description is required.</span>
			</span>	
	</div>
</div>
<div>
	<input type="hidden" name="infrastructure" ng-model="addbusiness.infrastructure" />
	<span class="help-block" ng-show="addbusinessForm.infrastructure.$dirty && addbusinessForm.infrastructure.$invalid">
		<span ng-show="addbusinessForm.infrastructure.$error.required" class="text-danger">Infrastucture Description is required.</span>
	</span>
</div>

<div class="col-sm-12">
	<table class="table table-bordered table-responsive " ng-if="addbusiness.infrastructure">
		<tr>
			<th>Infrastucture Heading</th>
			<th>Infrastucture Description</th>
			<th>Remove </th>
		</tr>
		<tr ng-repeat="(key, value) in addbusiness.infrastructure">
			<td>{{key}}</td>
			<td class="tdwidth">{{value}}
			</td>
			<td><button class="btn btn-danger" ng-click="removeObject(key,addbusiness.infrastructure)">Remove</button></td>
			
		</tr>
	</table>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="button" class="btn btn-default btn-primary" title="next" ng-click="showFormPart('testimonials')">Next</button>
    </div>
</div>


