<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<a href="#" class="btn btn-default btn-primary pull-right" title="Add more Infrastucture">Add New Infrastucture</a>
	</div>
</div>

<div class="form-group">
	<label for="infraHead" class="col-sm-3 control-label" name="infraHead" >Infrastucture Heading</label>
	<div class="col-sm-9">
		<select class="form-control" name="infraHead" id="infraHead"  ng-model="infraHead" required>		
			<option value="">Select Heading</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.infraHead.$dirty && addbusinessForm.infraHead.$invalid">
		<span ng-show="addbusinessForm.infraHead.$error.required" class="text-danger">Sender Country is required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">
	<label for="infraDesc" class="col-sm-3 control-label">Infrastucture Description :</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="infraDesc" name="infraDesc" ng-model="infrastruct.infraDesc" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Infrastucture Description" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.infraDesc.$error.maxlength">
				{{ 20 - infrastruct.infraDesc.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.infraDesc.$dirty && addbusinessForm.infraDesc.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.infraDesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.infraDesc.$error.required" class="text-danger">Infrastucture Description is required.</span>
			</span>	
	</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default btn-primary" title="next" ng-click="showFormPart('testimonials')">Next</button>
    </div>
</div>


