<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button class="btn btn-default btn-primary pull-right" ng-click="addToObject(job_careers, addbusiness.job_careers)" title="Add Jobs">Add Jobs</button>
	</div>
</div>

<div class="form-group">
	<label for="jobTitle" class="col-sm-3 control-label">Job Title</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="jobTitle" name="jobTitle" ng-model="job_careers.heading" required>
		<span class="help-block" ng-show="addbusinessForm.jobTitle.$dirty && jobTitle.$invalid">
			<span ng-show="addbusinessForm.jobTitle.$error.required" class="text-danger">Plz Enter Title for Jobs</span>
		</span>
	</div>
</div>
<div class="form-group">
	<label for="jobDescription" class="col-sm-3 control-label">Job Description </label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="jobDescription" name="jobDescription" ng-model="job_careers.desc" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Job Description" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.jobDescription.$error.maxlength">
				{{ 256 - job_careers.jobDescription.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.jobDescription.$dirty && addbusinessForm.jobDescription.$invalid">
				<span  ng-show="addbusinessForm.jobDescription.$error.maxlength" class="text-danger">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.jobDescription.$error.required" class="text-danger">Job Description is required.</span>
			</span>	
	</div>
</div>

<div>
	<input type="hidden" required name="job_careers" ng-model="addbusiness.job_careers" />
	<span class="help-block" ng-show="addbusinessForm.job_careers.$dirty && addbusinessForm.job_careers.$invalid">
		<span ng-show="addbusinessForm.job_careers.$error.required" class="text-danger">Infrastucture Description is required.</span>
	</span>
</div>

<div class="col-sm-offset-3 col-sm-9">
	<table class="table table-bordered" ng-if="addbusiness.job_careers">
		<tr>
			<th>Job Title</th>
			<th>Job Description</th>
			<th>Remove </th>
		</tr>
		<tr ng-repeat="(key, value) in addbusiness.job_careers">
			<td>{{key}}</td>
			<td>{{value}}</td>
			<td><button ng-click="removeObject(key,addbusiness.job_careers)">Remove</button></td>
			
		</tr>
	</table>
</div>

<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="submit" class="btn btn-default btn-primary" title="next" ng-click="showFormPart('news')">Next</button>
	</div>
</div>