<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<a href="#" class="btn btn-default pull-right btn-primary" title="Add more Jobs">Add Jobs</a>
	</div>
</div>
<div class="form-group">
	<label for="jobTitle" class="col-sm-3 control-label">Job Title :</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="jobTitle" name="jobTitle" ng-model="jobTitle" required>
		<span style="color:red" ng-show="myForm.jobTitle.$dirty && myForm.jobTitle.$invalid">
			<span ng-show="myForm.jobTitle.$error.required">Plz Enter Title for Jobs</span>
		</span>
	</div>
</div>
<div class="form-group">
	<label for="jobDes" class="col-md-3 control-label">Job Description :</label>
	<div class="col-sm-9">
		<textarea class="form-control" name="jobDes" id="jobDes" rows="3" ng-model="jobDes" required ng-minlength="5" ng-maxlength="10" ui-tinymce> </textarea>
			<span style="color:red" ng-show="myForm.jobDes.$dirty && myForm.jobDes.$invalid">
				<span ng-show="myForm.jobDes.$error.required">Plz Enter Description for Jobs</span>
				<span ng-show="myForm.jobDes.$error.minlength">Plz Enter minimum 5 character</span>
				<span ng-show="myForm.jobDes.$error.maxlength">You have exceed limit</span>
			</span>		
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="submit" class="btn btn-default btn-success" title="submit">Add Jobs/ Openings</button>
	</div>
</div>