<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<a href="#" class="btn btn-default pull-right btn-primary" title="Add more Jobs">Add Jobs</a>
	</div>
</div>
<div class="form-group">
	<label for="jobTitle" class="col-sm-3 control-label">Job Title :</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="jobTitle" name="jobTitle" ng-model="jobTitle" required>
		<span class="help-block" ng-show="addbusinessForm.jobTitle.$dirty && addbusinessForm.jobTitle.$invalid">
			<span ng-show="addbusinessForm.jobTitle.$error.required" class="text-danger">Plz Enter Title for Jobs</span>
		</span>
	</div>
</div>
<div class="form-group">
	<label for="jobDes" class="col-sm-3 control-label">Job Description :</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="jobDes" name="jobDes" ng-model="jobs.jobDes" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Job Description" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.jobDes.$error.maxlength">
				{{ 20 - jobs.jobDes.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.jobDes.$dirty && addbusinessForm.jobDes.$invalid">
				<span  ng-show="addbusinessForm.jobDes.$error.maxlength" class="text-danger">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.jobDes.$error.required" class="text-danger">Job Description is required.</span>
			</span>	
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="submit" class="btn btn-default btn-primary" title="next" ng-click="showFormPart('news')">Next</button>
	</div>
</div>