<div class="form-group">
	<label  for="date1" class="col-sm-3 control-label">Date</label>
	<div class="col-sm-9">
		<p class="input-group">
		  <input type="text" id="date1" class="form-control" datepicker-popup="{{format}}" ng-model="addbusiness.newcoverage.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		  <span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		  </span>
		</p>
	</div>
</div>	
<div class="form-group">
	<label  for="medianame" class="col-md-3 control-label">Media Name</label>	
	<div class="col-md-9">
		<input type="text" id="medianame" class="form-control" ng-model="medianame" name="medianame" placeholder="Media Name" required>
		<span style="color:red" ng-show="myForm.medianame.$dirty && 	myForm.medianame.$invalid">
		<span ng-show="myForm.medianame.$error.required">Media Name is required.</span>
		</span>
	</div>						
</div>

<div class="form-group">
	<label for="mediatype" class="col-md-3 control-label" name="mediatype" >Media Type</label>
	<div class="col-md-9">
		<select class="form-control" name="mediatype" id="mediatype"  ng-model="Country" required>		
			<option value="">Select Media Type</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.mediatype.$dirty && myForm.mediatype.$invalid">
		<span ng-show="myForm.mediatype.$error.required">Media Typeis required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">
	<label  for="headline" class="col-md-3 control-label">Headline</label>		
	<div class="col-md-9">
		<input type="text" id="headline" class="form-control" ng-model="headline" name="headline" placeholder="Headline" required>
		<span style="color:red" ng-show="myForm.headline.$dirty && 	myForm.headline.$invalid">
		<span ng-show="myForm.headline.$error.required">Headline is required.</span>
		</span>
	</div>						
</div>
<div class="form-group">
	<label for="News" class="col-md-3 control-label">News Coverage URL</label>
	<div class="col-md-9">
		<input type="url" class="form-control" id="News" ng-model="News" name="News" placeholder="News Coverage URL" required>
		<span style="color:red" ng-show="myForm.News.$dirty && 	myForm.News.$invalid">
			<span ng-show="myForm.News.$error.required">News Coverage URL is required.</span>
			<span ng-show="myForm.News.$error.url">Invalid News Coverage URL.</span>
		</span>
		<span>e.g http://www.google.com</span>
	</div>						
</div>

<div class="form-group">
	<label for="details" class="col-md-3 control-label">News Coverage Details</label>
	<div class="col-sm-9">
		<textarea  class="form-control" id="details" ng-model="details" name="details" placeholder="Enter Details" required>
      </textarea>
		 <p>{{ 256 - details.length + " Characters left"}}</p>
		<span style="color:red" ng-show="myForm.Details.$dirty &&  myForm.Details.$invalid">
      <span style="color:red" ng-show="myForm.reg.Details.$error.maxlength">
      Sorry You are Exceeding the Limit</span>
      <span ng-show="myForm.Details.$error.required">News Coverage Details is required.</span>
      </span>	
	</div>
</div> 
<div class="form-group" > 
	<label  for="clogo" class="col-sm-3 control-label">Add Image</label>
	<div class="col-sm-9">
		<input type="file" id="clogo" name="clogo">	<img src="">
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
	  <button type="submit" class="btn btn-success" title="Save">Submit</button>
	</div>
</div>							


