<div class="sidebar">
	<h4 class="text-center">Home</h4>
	<ul class="nav nav-pills nav-stacked">
		<li ng-class="{active: formPart=='home'}"><a class="btn btn-link" ng-click="showFormPart('home')">Home</a></li>
		<li ng-class="{active: formPart=='business'}"><a class="btn btn-link" ng-click="showFormPart('business')">Business Profile</a></li>
		<li ng-class="{active: formPart=='contact'}"><a class="btn btn-link" ng-click="showFormPart('contact')">Contact Profile</a></li>
		<li ng-class="{active: formPart=='infrastructure'}"><a class="btn btn-link" ng-click="showFormPart('infrastructure')">Infrastructure Facility</a></li>
		<li ng-class="{active: formPart=='testimonials'}"><a class="btn btn-link" ng-click="showFormPart('testimonials')">Testimonials</a></li>
		<li ng-class="{active: formPart=='job'}"><a class="btn btn-link" ng-click="showFormPart('job')">Job & Careers</a></li>
		<li ng-class="{active: formPart=='news'}"><a class="btn btn-link" ng-click="showFormPart('news')">News Coverage</a></li>
	</ul>
</div>