<div class="form-group">
	<label  for="date" class="col-sm-3 control-label">Date</label>
	<div class="col-sm-9">
		<p class="input-group">
		  <input class="form-control" type="text" id="date" name="date" datepicker-popup="{{format}}" ng-model="addbusiness.testimonials.dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)"/>
		  <span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)">
			<i class="glyphicon glyphicon-calendar"></i></button>
		  </span>
		</p>
	</div>
</div>	
<div class="form-group">
	<label for="testimonial" class="col-sm-3 control-label">Testimonial Given By</label>
	<div class="col-sm-9">
		<input type="text" id="testimonial" class="form-control" name="testimonial" placeholder="Testimonial Given By" ng-model="addbusiness.testimonials.testimonial" required >
		<span class="help-block" ng-show="addbusinessForm.testimonial.$dirty && addbusinessForm.testimonial.$invalid">
			<span ng-show="addbusinessForm.testimonial.$error.required" class="text-danger">Testimonial Given By is required.</span>
		</span>
	</div>						
</div>
<div class="form-group">	
	<label  for="senderemail" class="col-sm-3 control-label">Sender Email</label>	
	<div class="col-sm-9">
		<input type="Email" class="form-control" id="senderemail" ng-model="addbusiness.testimonials.senderemail" name="senderemail" placeholder="Enter Email" required >
		<span class="help-block" ng-show="addbusinessForm.senderemail.$dirty && addbusinessForm.senderemail.$invalid">
		<span ng-show="addbusinessForm.senderemail.$error.required" class="text-danger">Sender Email is required.</span>
		<span ng-show="addbusinessForm.senderemail.$error.email" class="text-danger">Invalid Email address.</span>
		</span>
	</div>					
</div>

<div class="form-group">
	<label for="Country" class="col-sm-3 control-label" name="Country" >Sender Country</label>
	<div class="col-sm-9">
		<select class="form-control" name="Country" id="Country"  ng-model="addbusiness.testimonials.Country" required>		
			<option value="">Select Type</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.Country.$dirty && addbusinessForm.Country.$invalid">
		<span ng-show="addbusinessForm.Country.$error.required" class="text-danger">Sender Country is required.</span>
		</span>				
	</div>
</div>		
<div class="form-group">
	<label for="city/state" class="col-sm-3 control-label">Sender City / State</label>
	<div class="col-sm-4">
		<select class="form-control" name="State" id="State"  ng-model="addbusiness.testimonials.State" required>		
			<option value="">Select State</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.State.$dirty && addbusinessForm.State.$invalid">
		<span ng-show="addbusinessForm.State.$error.required" class="text-danger">Sender State is required.</span>
		</span>				
	</div>

	<div class="col-sm-offset-1 col-sm-4">
		<select class="form-control" name="City" id="City"  ng-model="addbusiness.testimonials.City" required>		
			<option value="">Select City</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.City.$dirty && addbusinessForm.City.$invalid">
		<span ng-show="addbusinessForm.City.$error.required" class="text-danger">Sender City is required.</span>
		</span>				
	</div>
</div>

<div class="form-group">
	<label for="phone" class="col-sm-3 control-label">Senders Phone</label>
	<div class="col-sm-9">
		<input type="text" id="phone" name="phone" class="form-control" ng-model="addbusiness.testimonials.phone" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
		<span class="help-block" ng-show="addbusinessForm.phone.$dirty && addbusinessForm.phone.$invalid">
			<span ng-show="addbusinessForm.phone.$error.pattern && (addbusinessForm.phone.$dirty || submitted)" class="text-danger">Enter a valid Contact Number</span>
		</span>
	</div>
</div>

<div class="form-group">
	<label  for="testi" class="col-sm-3 control-label">Testimonial Title </label>
	<div class="col-sm-9">
		<input type="text" id="testi" class="form-control" name="testi" placeholder="Tesimonial Title" ng-model="addbusiness.testimonials.testi" required >
		<span class="help-block" ng-show="addbusinessForm.testi.$dirty && addbusinessForm.testi.$invalid">
		<span ng-show="addbusinessForm.testi.$error.required" class="text-danger">Testimonial Title is required.</span>
		</span>
	</div>					
</div>

<div class="form-group">
	<label for="testDescp" class="col-sm-3 control-label">Testimonial Description</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="testDescp" name="testDescp" ng-model="addbusiness.testimonials.testDescp" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Testimonial Description" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.testDescp.$error.maxlength">
				{{ 20 - testimonial.testDescp.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.testDescp.$dirty && addbusinessForm.testDescp.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.testDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span class="text-danger" ng-show="addbusinessForm.testDescp.$error.required">Testimonial Title is required.</span>
			</span>
			<!--<textarea class="form-control"  id="req" name="req" ng-model="templates.req" cols="30" rows="4" ng-maxlength="20" placeholder="Custom Template Requirement"></textarea>
			<p ng-hide="reqCustTemplate.req.$error.maxlength">{{ 20 - templates.req.length + " Chars left" }}</p>
			-->
	</div>
</div>

	

<div class="form-group" > 
	<label  for="testimage" class="col-sm-3 control-label">Add Image</label>
	<div class="col-sm-9">
		<input type="file" id="testimage" name="testimage" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="testimage">
		<!-- This will show thumbnails & progress of images -->
			<file-preview url="testimage"></file-preview>
			<!-- This button will show if file/s selected -->
			<button ng-show="testimage" ng-click="upload(testimage,path,userinfo, addbusiness.testimonials.testimage)" type="button">Upload</button>
			<!-- This hidden input will store image path in array after successful uploading -->
			<input type="hidden" ng-model="addbusiness.testimonials.testimage">
	</div>
</div>
<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
		  <button type="submit" class="btn btn-primary btn-default" title="Add Testimonials/ Recommendation" ng-click="postData(addbusiness)">Next</button>
		</div>
</div>


