<div class="form-group">
	<label  for="date" class="col-sm-3 control-label">Date</label>
	<div class="col-sm-9">
		<p class="input-group">
		  <input class="form-control" type="text" id="date" name="date" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)"/>
		  <span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)">
			<i class="glyphicon glyphicon-calendar"></i></button>
		  </span>
		</p>
	</div>
</div>	
<div class="form-group">
	<label for="testimonial" class="col-sm-3 control-label">Testimonial Given By</label>
	<div class="col-sm-9">
		<input type="text" id="testimonial" class="form-control" name="testimonial" placeholder="Testimonial Given By" ng-model="addbusiness.testimonials.testimonial" required >
		<span style="color:red" ng-show="addbusinessForm.testimonial.$dirty && addbusinessForm.testimonial.$invalid">
			<span ng-show="addbusinessForm.testimonial.$error.required">Testimonial Given By is required.</span>
		</span>
	</div>						
</div>
<div class="form-group">	
	<label  for="senderemail" class="col-sm-3 control-label">Sender Email</label>	
	<div class="col-sm-9">
		<input type="Email" class="form-control" id="senderemail" ng-model="addbusiness.testimonials.senderemail" name="senderemail" placeholder="Enter Email" required >
		<span style="color:red" ng-show="addbusinessForm.senderemail.$dirty && addbusinessForm.senderemail.$invalid">
		<span ng-show="addbusinessForm.senderemail.$error.required">Sender Email is required.</span>
		<span ng-show="addbusinessForm.senderemail.$error.email">Invalid Email address.</span>
		</span>
	</div>					
</div>

<div class="form-group">
	<label for="Country" class="col-sm-3 control-label" name="Country" >Sender Country</label>
	<div class="col-sm-9">
		<select class="form-control" name="Country" id="Country"  ng-model="Country" required>		
			<option value="">Select Type</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="addbusinessForm.Country.$dirty && addbusinessForm.Country.$invalid">
		<span ng-show="addbusinessForm.Country.$error.required">Sender Country is required.</span>
		</span>				
	</div>
</div>		
<div class="form-group">
	<label for="city/state" class="col-sm-3 control-label">Sender City / State</label>
	<div class="col-sm-4">
		<select class="form-control" name="State" id="State"  ng-model="State" required>		
			<option value="">Select State</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="addbusinessForm.State.$dirty && addbusinessForm.State.$invalid">
		<span ng-show="addbusinessForm.State.$error.required">Sender State is required.</span>
		</span>				
	</div>

	<div class="col-sm-offset-1 col-sm-4">
		<select class="form-control" name="City" id="City"  ng-model="City" required>		
			<option value="">Select City</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="addbusinessForm.City.$dirty && addbusinessForm.City.$invalid">
		<span ng-show="addbusinessForm.City.$error.required">Sender City is required.</span>
		</span>				
	</div>
</div>

<div class="form-group">
	<label for="phone" class="col-sm-3 control-label">Senders Phone</label>
	<div class="col-sm-9">
		<input type="text" id="phone" name="phone" class="form-control" ng-model="phone" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
		<span class="help-block" ng-show="addbusinessForm.phone.$dirty && addbusinessForm.phone.$invalid">
			<span ng-show="addbusinessForm.phone.$error.pattern && (addbusinessForm.phone.$dirty || submitted)" style="color:red">Enter a valid Contact Number</span>
		</span>
	</div>
</div>

<div class="form-group">
	<label  for="testi" class="col-sm-3 control-label">Testimonial Title </label>
	<div class="col-sm-9">
		<input type="text" id="testi" class="form-control" name="testi" placeholder="Tesimonial Title" ng-model="addbusiness.testimonials.testi" required >
		<span style="color:red" ng-show="addbusinessForm.testi.$dirty && addbusinessForm.testi.$invalid">
		<span ng-show="addbusinessForm.testi.$error.required">Testimonial Title is required.</span>
		</span>
	</div>					
</div>

<div class="form-group">
	<label for="testDescp" class="col-sm-3 control-label">Testimonial Description</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="testDescp" name="testDescp" ng-model="testimonial.testDescp" cols="30" rows="4" ng-maxlength="20" placeholder="Enter Testimonial Description" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.testDescp.$error.maxlength">
				{{ 20 - testimonial.testDescp.length + " Chars left" }}
			</p>
			<span style="color:red" ng-show="addbusinessForm.testDescp.$error.maxlength">Sorry You are Exceeding the Limit</span>
			<span style="color:red" ng-show="addbusinessForm.testDescp.$dirty && addbusinessForm.testDescp.$invalid">
				<span ng-show="addbusinessForm.testDescp.$error.required">Testimonial Title is required.</span>
			</span>
			<!--<textarea class="form-control"  id="req" name="req" ng-model="templates.req" cols="30" rows="4" ng-maxlength="20" placeholder="Custom Template Requirement"></textarea>
			<p ng-hide="reqCustTemplate.req.$error.maxlength">{{ 20 - templates.req.length + " Chars left" }}</p>
			-->
	</div>
</div>

<div class="form-group" > 
	<label  for="clogo" class="col-sm-3 control-label">Add Image</label>
	<div class="col-sm-9">
		<input type="file" id="clogo" name="clogo"><img src="">
	</div>
</div>
<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
		  <button type="submit" class="btn btn-primary btn-default" title="Add Testimonials/ Recommendation" ng-click="showFormPart('job')">Next</button>
		</div>
</div>


