<<div class="form-group">
	<label  for="date" class="col-sm-3 control-label">Date</label>
	<div class="col-md-9">
		<p class="input-group">
		  <input type="text" id="date" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		  <span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		  </span>
		</p>
	</div>
</div>	
<div class="form-group">
	<label  for="testimonial" class="col-sm-3 control-label">Testimonial Given By</label>
	<div class="col-sm-9">
		<input type="text" id="testimonial" class="form-control" name="testimonial" placeholder="Testimonial Given By" ng-model="addbusiness.testimonials.testimonial" required >
		<span style="color:red" ng-show="myForm.testimonial.$dirty && myForm.testimonial.$invalid">
		<span ng-show="myForm.testimonial.$error.required">Testimonial Given By is required.</span>
		</span>
	</div>						
</div>
<div class="form-group">	
	<label  for="email" class="col-sm-3 control-label">Sender Email</label>	
	<div class="col-sm-9">
		<input type="Email" class="form-control" id="email" ng-model="addbusiness.testimonials.email" name="email" placeholder="Enter Email" required >
		<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
		<span ng-show="myForm.email.$error.required">Sender Email is required.</span>
		<span ng-show="myForm.email.$error.email">Invalid Email address.</span>
		</span>
	</div>					
</div>

<div class="form-group">
	<label for="Country" class="col-md-3 control-label" name="Country" >Sender Country</label>
	<div class="col-md-9">
		<select class="form-control" name="Country" id="Country"  ng-model="Country" required>		
			<option value="">Select Type</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.Country.$dirty && myForm.Country.$invalid">
		<span ng-show="myForm.Country.$error.required">Sender Country is required.</span>
		</span>				
	</div>
</div>		
<div class="form-group">
	<label for="city/state" class="col-sm-3 control-label">Sender City / State</label>
	<div class="col-md-4">
		<select class="form-control" name="State" id="State"  ng-model="State" required>		
			<option value="">Select State</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.State.$dirty && myForm.State.$invalid">
		<span ng-show="myForm.State.$error.required">Sender State is required.</span>
		</span>				
	</div>

	<div class="col-sm-offset-1 col-md-4">
		<select class="form-control" name="City" id="City"  ng-model="City" required>		
			<option value="">Select City</option>
			<option value="India">India</option>
			<option value="Australia">Australia</option>
			<option value="China">China</option>
			<option value="America">America</option>
			<option value="Belgium">Belgium</option>
		</select>
		<span style="color:red" ng-show="myForm.City.$dirty && myForm.City.$invalid">
		<span ng-show="myForm.City.$error.required">Sender City is required.</span>
		</span>				
	</div>
</div>

<div class="form-group">
	<label for="mobile" class="col-md-3 control-label">Senders Phone</label>
	<div class="col-md-9">
		<input type="text" id="mobile" name="mobile" class="form-control" ng-model="mobile" placeholder="Your Contact No" ng-pattern="/^[799]\d{9}$/" maxlength="10" required>
		<span style="color:red" ng-show="myForm.mobile.$dirty && myForm.mobile.$invalid">
			<span ng-show="myForm.mobile.$error.pattern && (myForm.mobile.$dirty || submitted)" class="help-block">Enter a valid Contact Number</span>
		</span>
	</div>						
</div>

<div class="form-group">
	<label  for="testi" class="col-sm-3 control-label">Testimonial Title </label>
	<div class="col-sm-9">
		<input type="text" id="testi" class="form-control" name="testi" placeholder="Tesimonial Title" ng-model="addbusiness.testimonials.testi" required >
		<span style="color:red" ng-show="myForm.testi.$dirty && myForm.testi.$invalid">
		<span ng-show="myForm.testi.$error.required">Testimonial Title is required.</span>
		</span>
	</div>					
</div>

<div class="form-group">
	<label for="desc" class="col-md-3 control-label">Testimonial Description</label>
	<div class="col-sm-9">
		<textarea  class="form-control" id="desc" ng-model="desc" name="desc" placeholder="Enter Testimonial Description" required>
      </textarea>
		 <p>{{ 256 - desc.length + " Characters left"}}</p>
		<span style="color:red" ng-show="myForm.desc.$dirty &&  myForm.desc.$invalid">
      <span style="color:red" ng-show="myForm.reg.desc.$error.maxlength">
      Sorry You are Exceeding the Limit</span>
      <span ng-show="myForm.desc.$error.required">Testimonial Description is required.</span>
      </span>	
	</div>
</div>

<div class="form-group" > 
	<label  for="clogo" class="col-sm-3 control-label">Add Image</label>
	<div class="col-sm-8">
		<input type="file" id="clogo" name="clogo"><img src="">
	</div>
</div>
<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
		  <button type="submit" class="btn btn-primary btn-default" title="Add Testimonials/ Recommendation" ng-click="showFormPart('job')">Next</button>
		</div>
</div>


