 {% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/style.css">
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/bootstrap.min.js"></script>
		<script src="{{ path }}js/jquery.bxslider.min.js"></script>
		<link rel="stylesheet" type="text/css"  href="{{ path }}css/jquery.bxslider.css"/>
		<script src="{{ path }}js/angular.min.js"></script>
		<script src="{{ path }}js/angular-route.min.js"></script>
		<script src="{{ path }}js/script.js"></script>
		<script src="{{ path }}js/myscript.js"></script>
		<title>{{seo.title}} | {{data.business_name}}</title>
		<meta name="description" content="{{ seo.description }}">
		<meta name="keywords" content="{{ seo.keywords }}">
		
	</head>
	<body>
	<div>
		{% if data.website_config.website_logo %}
			<img class="logo1 log" src="{{data.business_logo.file_relative_path}}">
		{% else %}
			<img class="logo1 log" src="{{data.business_logo.file_relative_path}}">
		{% endif %}
		
	</div>
	<div style="color:white;">
	<h1 class="h1 h">WELCOME TO SEALTECH ENGINEERS</h1>
	<h1 class="h2 h">Presenting Innovative solutions for processing industry</h1>
	<h1 class="h3 h">Dairy | Food | Pharma | Chemicals</h1>
	</div>
	 <div class="container-fluid back anim">
		<header>
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-2 col-sm-6 col-xs-4">
						  <div>
							{% if data.website_config.website_logo %}
								<img class="logo log" src="{{data.business_logo.file_relative_path}}">
							{% else %}
								<img class="logo log" src="{{data.business_logo.file_relative_path}}">
							{% endif %}
						</div> 
					</div> -->
					<div class="col-md-8 col-sm-6 col-xs-8">
						 <h2>{{data.business_name}}</h2>
					</div>
				
					<div class="col-md-4 col-xs-12 col-sm-12 social_link">
						        {% include [templatePath ~ '/includes/sociallinks.html', 'default/default/includes/sociallinks.html'] %}
					</div>
				</div>
			</div>
			<nav class="nav navbar-default  navbar-static-top b"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			
				<div class="container">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav nav-justified">
							{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}
						</ul>
					</div>
				</div>
			</nav>
		</header>
	    <div class="container">
			<div class="row">
				
					{%if modules.headerModule.carousal %}
					{% include [templatePath ~ '/includes/carousal.html', 'default/default/includes/carousal.html'] with {sliderData : data.template_params.slider} %}
					{%endif%}
					{%if modules.headerModule.homeproject %}
					{% include [templatePath ~ '/includes/homeproject.html', 'default/default/includes/homeproject.html'] with {sliderData : data.template_params.slider} %}
					{%endif%}
				
			</div> 
			<!-- <div class="row">
					{% include [templatePath ~ '/includes/featured_services.html', 'default/default/includes/featured_services.html'] %}
			</div> -->
		</div>
		</div>
		 <div class="container-fluid sback anim">
			 <div class="container">
				<div class="row">
					
							<!-- {% include [templatePath ~ '/includes/featured_products.html', 'default/default/includes/featured_products.html'] %}
					 -->
							{% include contentPath%}
				</div>
			</div> 
				
		</div>
		 {% include [templatePath ~ '/includes/footer.html', 'default/default/includes/footer.html'] %}
	</body>
</html> 
{% endspaceless %}