footer {
 background:linear-gradient(@darkbackcolor,@lightbackcolor);
 padding-top:10px;
 padding-bottom:10px;
 text-align:center;
 margin-top:20px;
  border-color:transparent;
	p{
	color:@color;
	}
}