.main-content
{
    background-color:@colorwhite;
	border: 1px solid @color;
	margin: 0;
	padding:15px;
		.form-content
			{
			border: 1px solid @lightcolor;
			margin: 0% auto;
			padding: 15px 15px;
			width: 100%;
			min-width: 250px;
			max-width: 350px;
		}
}