
.navbar{
 background-color:@colorwhite;
  border-color:transparent;
    color:@colorblack;
	border-radius:0px;
	margin-bottom:10px;
	    border: 0px;
	h2{
		color:@colorwhite;
	}
  
}

.navbar-default 
{
	.navbar-nav{
			>li{
				.login{
					margin-top:25px;
					right:30px;
						&:hover{
							background:linear-gradient(@darkbackcolor ,@lightbackcolor );
								color:@colorwhite;
						}
				}
				>a{
					&:focus{
						color:@colorwhite;
					}
				}
			}
	}
	
}
ul.nav.navbar-nav.navbar-right.ng-scope {
    margin-right: 20px;
}
.nav1 
{
	background:linear-gradient(@darkbackcolor ,@lightbackcolor );
	//border:1px solid transparent;
	border-radius:0px;
		.navbar-nav{
			background:linear-gradient(@darkbackcolor ,@lightbackcolor );
				>li{
					a{
						color:@colorwhite;
							&:hover{
							 background:linear-gradient(@darkcolor,@darkcolor);
								color:@colorwhite;
							}
					}
					
					.dropdown-menu{
					display:none;	
					background:linear-gradient(@darkbackcolor ,@lightbackcolor );
					left:-90px;
					top: 50px;
						>li{
							a{
								&:hover{
							 background:linear-gradient(@darkcolor,@darkcolor);
								}
							}
						}
					}
					&:hover{
						.dropdown-menu{
						
						display:block;
						z-index:1000;
						}
					}
					
				}
		}
}			
.dropd{
			left: auto;
			top: 30px;
			right:-1px;
			background-color:@darkcolor;
			>li{
				a{
				  color:@colorwhite;
					&:hover{
						background-color:@darkbackcolor ;
						  color:@colorwhite;
					}
				}	
			}
}
.btn-group {
			display: inline;
				.btn:first-child {
						margin-left: 3px;
					}
}