
.navbar{
 background:linear-gradient(@darkbackcolor,@lightbackcolor);
  border-color:transparent;
    border: 1px solid @darkbackcolor;
	h2{
		color:@colorwhite;
	}
  
}
	@media (min-width: 768px){
.navbar {
   border-radius: 0px; 
}	
}