
.navbar{
 background-color:@colorwhite;
  border-color:transparent;
    color:@colorblack;
	border-radius:0px;
	margin-bottom:10px;
	h2{
		color:@colorwhite;
	}
  
}

.navbar-default 
{
	.navbar-nav{
			>li{
				.login{
					margin-top:25px;
					right:30px;
						&:hover{
							background:linear-gradient(@darkbackcolor ,@lightbackcolor );
								color:@colorwhite;
						}
				}
				>a{
					&:focus{
						color:@colorwhite;
					}
				}
			}
	}
	
}
ul.nav.navbar-nav.navbar-right.ng-scope {
    margin-right: 20px;
}
.nav1 
{
	background:linear-gradient(@darkbackcolor ,@lightbackcolor );
	border:1px solid transparent;
	border-radius:0px;
		.navbar-nav{
			background:linear-gradient(@darkbackcolor ,@lightbackcolor );
				>li{
					a{
						color:@colorwhite;
							&:hover{
								color:@colorwhite;
							}
					}
					
					.dropdown-menu{
					display:none;	
					background:linear-gradient(@darkbackcolor ,@lightbackcolor );
					left:-90px;
						>li{
							a{
								&:hover{
								background:linear-gradient(@darkbackcolor ,@lightbackcolor );
								}
							}
						}
					}
					&:hover{
						.dropdown-menu{
						
						display:block;
						z-index:1000;
						}
					}
					
				}
		}
}			
.dropdown-menu{
		//left: -10px;
	    margin-top: 30px;
		margin-left: 105px;
}
.btn-group {
			display: inline;
				.btn:first-child {
						margin-left: 3px;
					}
}