<header class="navbar navbar-default ">
<div class="container">
<div class="row">
		<div class="col-md-4">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse" ng-init="collapse = false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img id="brand" class="logo" width="200px" src="img/logo.png" class="img-responsive">
			</a>
		</div>
		</div>
		<div class="col-md-4 text-center">
			
			<h2 style="color:black">{{appConfig.subTitle}}</h2>
				
		</div>
		<div class="col-md-4">	
		<ul ng-if="!userDetails.username" class="nav navbar-nav navbar-right">
			<li><a class="btn btn-primary login" href="#login">Login</a></li>
			<li><a class="btn btn-primary login" href="#register">Register</a></li>
		</ul>
		
		<ul ng-if="userDetails.username" class="nav navbar-nav navbar-right">
		
			<li>
				<a class="text-right" dropdown-toggle>
					<p>{{userDetails.name}}</p>
					<p>{{userDetails.group_name}}</p>
				</a>
			</li>
			<li class="dropdown" dropdown>
				<span class="dropdown-toggle" dropdown-toggle>
					<img ng-hide="userDetails.user_img" width="150px" src="img/user1.png" class="img-responsive img-circle pull-right">
					<img ng-if="userDetails.user_img" width="150px" ng-src="{{appConfig.assetPath+''+userDetails.user_img}}" class="img-responsive img-circle">
				</span>
				
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/editprofile">
							<span class="glyphicon glyphicon-pencil"></span> Edit Profile
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/changepass">
							<span class="glyphicon glyphicon-pencil"></span> Change Password
						</a>
					</li>
					<li class="divider"></li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/logout">
							<span class="glyphicon glyphicon-off"></span> Sign Out
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
<div ng-if="userDetails.username" ng-include="'modules/component/nav.html'"></div>		
</header>
