<div class="pull-right">
	<a class="btn btn-primary" type="button" ng-click="goBack()">
	<span class="glyphicon glyphicon glyphicon-arrow-left" >
	</span>
	</a>
	<!--<div class="btn-group" dropdown is-open="status.isopen">
      <a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
         <span class="glyphicon glyphicon-th-large dropdown-toggle iconback"></span>
      </a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">History</a></li>
			<li><a href="#">New Tab</a></li>
			<li><a href="#">New Window</a></li>
			<li><a href="#">Downloads</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Exit</a></li>
		</ul>
    </div>-->
	<div class="btn-group" dropdown is-open="status.isopen">
      <a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
         <span class="glyphicon glyphicon-th-large dropdown-toggle"></span>
      </a>
		<ul class="dropdown-menu" role="menu">
			<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></span></a>
			<a href="#"><span class="glyphicon glyphicon-cog text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-music glyphicon  text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-cog text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></a>
		</ul>
	</div>
	
