<div class="pull-right">
	<a class="btn btn-primary" type="button" go-back tooltip="Back"> <!-- created go-back directive for go back one step like back btn on browser -->
		<span class="glyphicon glyphicon glyphicon-arrow-left">	</span>
	</a> 
	<div class="btn-group" dropdown>
		<button class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" tooltip="List">
			<span class="glyphicon glyphicon-th-large dropdown-toggle"></span>
		</button>
		
		<ul  class="dropdown-menu dropd" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#/dashboard">Dashboard</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#/dashboard/enquiry/mails">Mail BOX</a>
			</li>
			<li role="presentation" class="divider"></li>			
			<li role="presentation" ng-if="userDetails.permission.template_module.template_list">
				<a role="menuitem" tabindex="-1" href="#/dashboard/templates/listoftemplates">List Of Template</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.template_module.my_template">
				<a role="menuitem" tabindex="-1" href="#/dashboard/templates/mytemplates">My Template</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.template_module.request_custom_template">
				<a role="menuitem" tabindex="-1" href="#/dashboard/templates/requestcustomtemplates">Request Custom Template</a>
			</li>			
			<li role="presentation" class="divider"></li>			
			<li role="presentation" ng-if="userDetails.permission.business_module.business_list">
				<a role="menuitem" tabindex="-1" href="#/dashboard/business/businesslist">Business List</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.business_module.add_business">
				<a role="menuitem" tabindex="-1" href="#/dashboard/business/addbusiness">Add Business</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.business_module.business_list">
				<a role="menuitem" tabindex="-1" href="#/dashboard/business/products">Manage Products</a>
			</li>			
			<li role="presentation" class="divider"></li>			
			<li role="presentation" ng-if="userDetails.permission.website_module.website_list">
				<a role="menuitem" tabindex="-1" href="#/dashboard/websites/websiteslist">Website List</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.website_module.request_site">
				<a role="menuitem" tabindex="-1" href="#/dashboard/websites/requestnewsite">Request New Website</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.website_module.request_site">
				<a role="menuitem" tabindex="-1" href="#/dashboard/websites/websettings">Website Setting</a>
			</li>			
			<li role="presentation" class="divider"></li>			
			<li role="presentation" ng-if="userDetails.permission.user_module.user_list">
				<a role="menuitem" tabindex="-1" href="#/dashboard/users">Users List</a>
			</li>
			<li role="presentation" ng-if="userDetails.permission.user_module.add_user">
				<a role="menuitem" tabindex="-1" href="#/dashboard/users/adduser">	Add New Users</a>
			</li>			
		</ul>
	</div>
</div>
	
