<div class="row">
	<div class="col-md-12 sidebar">
		<h4 class="text-center">Home</h4>
			<ul class="list-unstyled">
				<li><a href="#/addbusiness/home">Home</a></li>
				<li><a href="#/addbusiness/business">Business Profile</a></li>
				<li><a href="#/addbusiness/contact">Contact Profile</a></li>
				<li><a href="#/addbusiness/infrastructure">Infrastructure Facility</a></li>
				<li><a href="#/addbusiness/testimonials">Testimonials</a></li>
				<li><a href="#/addbusiness/job">Job & Careers</a></li>
				<li><a href="#/addbusiness/products">Product</a></li>
				<li><a href="#/addbusiness/services">Services</a></li>
				<li><a href="#/addbusiness/new">New Coverage</a></li>
			</ul>
	</div>
</div>