	<div ng-if="userDetails.config.requestSite != true && userDetails.group_id == 4" class="row bs-wizard" style="border-bottom:0;">
		<div ng-class="addbusinessClass">
			<div class="text-center bs-wizard-stepnum">Step 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			  <a class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Add your business/organisation Details!</div>
		</div>
		<div ng-class="addProductsClass"><!-- complete -->
			<div class="text-center bs-wizard-stepnum">Step 2</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Add Products Services</div>
		</div>
		
		<div ng-class="chooseTemplateClass"><!-- complete -->
			<div class="text-center bs-wizard-stepnum">Step 3</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a class="bs-wizard-dot"></a>
		  
			<div class="bs-wizard-info text-center">Choose Template for your website!</div>
		</div>
		
		<div ng-class="requestSiteClass"><!-- active -->
			<div class="text-center bs-wizard-stepnum">Step 4</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Request for new website!</div>
		</div>
	</div>

<div class="row border-bottom">
	<div class="col-md-6">
		<a class="btn btn-primary" type="button" go-back tooltip="Back"> <!-- created go-back directive for go back one step like back btn on browser -->
				<span class="glyphicon glyphicon glyphicon-arrow-left">	</span>
			</a>
			<a class="btn btn-primary" type="button" ng-href="{{currentSite}}" tooltip="Preview Site" target="_blank"> 
				<span class="glyphicon glyphicon glyphicon-eye-open">	</span>
			</a> 
			<ol class="ab-nav breadcrumb">
			<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
				<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
				<span ng-if="$last" ng-bind="breadcrumb.label"></span>
			</li>
		</ol>
	</div>
	<div class="col-md-6">
		<!-- Dynamic Module Menus -->
		<div class="pull-right">
			<div class="btn-group " role="group" aria-label="..." ng-repeat="x in moduleMenus">
				<a  class="btn btn-primary" type="button" ng-href="{{x.path}}" ng-click="x.events.click();">{{x.name}}</a>
			</div>
			<div class="btn-group" dropdown>
				<button class="btn btn-primary dropdown-toggle bottomspace" dropdown-toggle ng-disabled="disabled" tooltip="List" aria-haspopup="true" aria-expanded="true">
					<span class="glyphicon glyphicon-th-large"></span>
				</button>
				<ul  class="dropdown-menu dropd" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/dashboard">Dashboard</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/dashboard/enquiry/mails">Enquiry BOX</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" ng-if="userDetails.permission.business_module.business_list">
						<a role="menuitem" tabindex="-1" href="#/dashboard/business/businesslist">Business List</a>
					</li>
					<li role="presentation" ng-if="userDetails.permission.business_module.add_business">
						<a role="menuitem" tabindex="-1" href="#/dashboard/business/addbusiness">Add Business</a>
					</li>
					<li role="presentation" class="divider"></li>	
					<li role="presentation" ng-if="userDetails.permission.business_module.business_list">
						<a role="menuitem" tabindex="-1" href="#/dashboard/business/products">Manage Products</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" ng-if="userDetails.permission.template_module.template_list">
						<a role="menuitem" tabindex="-1" href="#/dashboard/templates/listoftemplates">List Of Template</a>
					</li>
					<li role="presentation" ng-if="userDetails.permission.template_module.my_template">
						<a role="menuitem" tabindex="-1" href="#/dashboard/templates/mytemplates">My Template</a>
					</li>
					<li role="presentation" ng-if="userDetails.permission.template_module.request_custom_template">
						<a role="menuitem" tabindex="-1" href="#/dashboard/templates/requestcustomtemplates">Request Custom Template</a>
					</li>
					<li role="presentation" ng-if="userDetails.permission.template_module.request_custom_template">
						<a role="menuitem" tabindex="-1" href="#/dashboard/templates/custometemplates">Custom Template</a>
					</li>	
					<li role="presentation" class="divider"></li>					
					<li role="presentation" ng-if="userDetails.permission.website_module.website_list">
						<a role="menuitem" tabindex="-1" href="#/dashboard/websites/websiteslist">Website List</a>
					</li>
					<li role="presentation" ng-if="userDetails.permission.website_module.request_site">
						<a role="menuitem" tabindex="-1" href="#/dashboard/websites/requestnewsite">Request New Website</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/dashboard/websites/requestedsitelist">Requested Site List</a>
					</li>
					<li role="presentation" class="divider"></li>		
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/dashboard/property/addproperty">Add Property</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/dashboard/property">View Property</a>
					</li>
					<li role="presentation">
						 <a role="menuitem" tabindex="-1" href="#/dashboard/project/addproject">Add Project</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#/dashboard/project">View Project</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" ng-if="userDetails.permission.user_module.user_list">
						<a role="menuitem" tabindex="-1" href="#/dashboard/users">Users List</a>
					</li>
					<li role="presentation" ng-if="userDetails.permission.user_module.add_user">
						<a role="menuitem" tabindex="-1" href="#/dashboard/users/adduser">	Add New Users</a>
					</li>			
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3 ng-repeat="x in moduleMenus | filter : {path : '#'+currentPath}">{{x.SubTitle}}</h3>
	</div>
	<div class="col-md-6"></div>
</div>

