<div class="row">
	<div class="col-md-12">
		<div class="main-content">
		<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
				<div class="gridblock">
					<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/business.png">
						</div>
						<div class="title col-md-8"> 
								<h4>Business</h4>
							<div class="desc">Add new business, edit/modify business, add business details like facilities, features etc.</div> 
						</div>
					</div>
					<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/business/businesslist">Business</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
					<div class="col-md-4"> 
							<img class="dashimg"src="img/product.png">
						</div>
						<div class="title col-md-8"> 
						<h4>Product/Services </h4>
							<div class="desc"> Add products/services to your business. Add product photo, title, description.</div>
							</div>
						<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/business/products">Manage Products</a>
						</div>
					</div>
			</div>
					
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
						<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/template.png">
						</div>
						<div class="title col-md-8"> 
							<h4>Template</h4>
						<div class="desc">Choose template for your website from available template list. Request for custome template. Customize your template.</div> 
						</div>
					</div>
							<div class="row text-center">
						<a  class="btn btn-primary center-block" name="btn1" href="#/dashboard/templates/listoftemplates">Template</a>
					</div>
					</div>
			</div>
				
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
						<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/web.png">
						</div>
						<div class="title col-md-8"> 
							<h4>WebSite
						</h4>
							<div class="desc">Request for website name/domain with free and paid option. Apply business & template to your website. Add google map settings which will show in contact us page.</div> 
						</div>
					</div>
							<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/websites/websiteslist">Website</a>
					</div>
					</div>
			</div>
		</div>	
		<div class="row">
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
						<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/enquiry.png">
						</div>
						<div class="title col-md-8"> 
						<h4>Enquiry Box 
						</h4>
							<div class="desc">In this enquiry area you will find all enquiries from your site or portal. Send, reply mail from Enquiry Box!</div> 
						</div>
					</div>
							<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/enquiry">Enquiry Box</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock" ng-if="userDetails.permission.user_module.user_list">
					<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/user.png">
						</div>
						<div class="title col-md-8"> 
							<h4>Users
						</h4>
							<div class="desc">List of users you have added!</div> 
						</div>
					</div>
					<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/users/userslist">Users</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
						<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/trainning.png">
						</div>
						<div class="title col-md-8"> 
						<h4>Training
						</h4>
							<div class="desc">List of Students addmited for Training!</div> 
						</div>
						</div>
						<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/training">Training</a>
						</div>
					</div>
				</div>
			
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
					<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/crm.png">
						</div>
						<div class="title col-md-8"> 
						<h4> CRM
						</h4>
							<div class="desc">Create Quotation,Invoice,Receipt Generation!</div>
						</div>
					</div>
						
						<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/crm">CRM</a>
						</div>
					</div>
				</div>
			</div>
			<h3 id="myapp">My Apps</h3>
			<div class="row">
				<div ng-repeat="x in userDetails.config.modules">
					<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" ng-repeat="y in x.routes">
						<div class="gridblock">
							<div class="row">
								<div class="col-md-4"> 
									<img class="dashimg" ng-src="{{y.moduleIcon}}">
								</div>
								<div class="title col-md-8"> 
									<h4>{{y.title}}</h4>
									<div class="desc">{{y.description}}</div> 
								</div>
							</div>
							<div class="row text-center">
								<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/{{y.path}}">{{y.title}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h3>Real Estate</h3>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
						<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/proj.png">
						</div>
						<div class="title col-md-8"> 
						<h4>Project 
						</h4>
							<div class="desc">In this area you will find all the projects!</div> 
						</div>
					</div>
						<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/project">Project</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
						<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/proj.png">
						</div>
						<div class="title col-md-8"> 
						<h4>Property
						</h4>
						<div class="desc">In this area you will find all properties which you want to buy or sale.You can post your property for sale!</div> 
						</div>
					</div>
						<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/property">Property</a>
						</div>
					</div>
				</div>
			</div>
			
			<h3>Bulk SMS</h3>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
					<div class="gridblock">
					<div class="row">
						<div class="col-md-4"> 
							<img class="dashimg"src="img/excel.png">
						</div>
						<div class="title col-md-8"> 
						<h4>Excel Update
						</h4>
						<div class="desc">You can send SMS!</div> 
						</div>
					</div>
						
						<div class="row text-center">
						<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/excel">Excel Update</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>