
.carousel-inner
{
	height:500px;
}


/*
.testicontainer{
				background-image:url('../img/testi.jpg');
				background-size:100% 100%;
				//padding:50px;
}
.featrtesti{
			>div:hover blockquote {
								display:block;				
								}
				>div:hover img{
								opacity:0.5;
								transform:0.1;
							}
					
				h3{
					color:@colorwhite;
					padding:26px;
						font: 400 30px/35px "pt-sans.narrow" sans-serif;
					text-transform:uppercase;
					text-align:center;
				}
				img{
						position:relative;
						z-index:998;
						//width:100%;
						&:hover >blockquote{
									
									
						}
						
				}
			
				blockquote {
							border-left:none !important;
							position:absolute;
							z-index:999;
							display:none;
							.description{
											p{
											color:@colorwhite;
											font: 400 20px/25px "pt-sans.narrow" sans-serif;
											margin:50px;
											vertical-align:middle;
											
											}
										}
										footer{
												text-align:center;
												color:@colorblack;
											}
									
									
									}
				>div{
						padding-left:0px;
						padding-right:0px;
				}
				
				
}

.featrGallery{
			h3{
				color:@colorwhite;
					font: 400 36px/35px "pt-sans.narrow" sans-serif;
			}
			.thumbnail{
					.galleryimage{
							height:200px;
							width:100%;
							overflow:hidden;
							img{
								min-height:200px;
								width:100%;
								}	
							}
							.caption{
										.description{
											height:150px;
											font: 400 20px/25px "pt-sans.narrow" sans-serif;
											overflow:hidden;
											}
							}
					}
					animation-name:gallery;
					animation-duration:2s;
					animation-iteration-count:1;
					
		}
@keyframes gallery{
				0%{opacity:0px;transform:translateY(300px);}
				100%{opacity:1;transform:translateY(0px);}
}

.activity{
			h2{
				
				font: 400 36px/48px "Arbutus Slab", sans-serif;
			}
			.panel{
						background-color:rgba(165, 163, 156, 0.37);
			}
			.panel-body{
					padding:0px !important;
					>.row>div{
					padding:0px !important;
					}
					
					.testimage{
									padding:10px;
									width:100%;
									height:100%;
									img{

											width:100%;
											
									}
					
					}
			}
			h3{
				text-align:left;
				color:@colorwhite;
				font: 400 18px/48px "Arbutus Slab", sans-serif;
			}
			.btn-info{
						background-color:@back;
						color:@colorwhite;
						padding:12px;
						margin:43px;
			}
			.description{
				height:100px;
				margin:10px;
				overflow:hidden;	
				color:@colorwhite;				
			}
			
}
.jobs{
				.panel{
						background-color:rgba(230, 198, 85, 0.41);
					}
				h2{
						text-align:center;
				}
				.description{
							p{
									text-align:justify;
							}	
							}
}
		

.infrastructure{
		height:500px;
		
		
		.thumbnail{
				
				overflow:hidden;
				margin:10px;
				padding:20px;
				height:450px;
					.infraImg{
						height:200px;
						//width:100%;
							img{
							height:200px;
							width:100%;
							}
						}
						.caption{
							height:150px;
							
						}
				}
}
div.infrastructure>div.row>div:nth-child(1){
		
		animation-name:abt1;
		animation-duration:2s;
		aniamtion-iteration-count:1;
		//animation-delay:2s;
}
@keyframes abt1{
				0%{opacity:0;transform: translateX(-100px)}
				100%{opacity:1; transform: translateX(0);}

}
div.infrastructure>div.row>div:nth-child(3){
		
		animation-name:abt2;
		animation-duration:2s;
		aniamtion-iteration-count:1;
		//animation-delay:3s;
}
@keyframes abt2{
				0%{opacity:0;transform: translateY(40px)}
				100%{opacity:1; transform: translateY(0);}

}
div.infrastructure>div.row>div:nth-child(5){
		
		
		animation-name:abt3;
		animation-duration:3s;
		aniamtion-iteration-count:1;
		//animation-delay:4s;
}
@keyframes abt3{
				0%{opacity:0;transform: translateY(-40px)}
				100%{opacity:1; transform: translateY(0);}

}
div.infrastructure>div.row>div:nth-child(7){
	
		animation-name:abt4;
		animation-duration:3s;
		aniamtion-iteration-count:1;
		//animation-delay:5s;
}
@keyframes abt4{
				0%{opacity:0;transform: translateX(40px)}
				100%{opacity:1; transform: translateX(0);}

}
div.infrastructure>div.row>div:nth-child(9){
display:none;
}
*/