//featured servieces
.services{
	.servimage{
		border-radius : 2px;
		padding : 6px;
		&:hover{
			border : 4px solid @back;
		}
	}
	.sections clearfix services>ul{
	list-style-type:none;
	
	}
	.servdesc{
		height : 225px;
		.description{
			height : 75px;
			overflow : hidden;
		}
		.readmore{
			text-align : center;
			margin-top: 10px;
		}
		.readmore{
			text-align : center;
			margin-top: 10px;
		}
		.readmore:active{
			text-align : center;
			margin-top: 10px;
			background:@darkcolor !important;
		}
		h4{
			text-align : center;
			
		}
	}
}

.products{
	.thumbnail{
		.prodimg{
			width : 188px;
			height : 148px;
			overflow : hidden;
			margin :0 auto;
			img{
				min-height : 148px;
				padding:5px;
			}
			img:hover{
				min-height : 148px;
				padding:5px;
				border:1px solid @back;
			}
		}
		.caption{
			height: 190px;
			margin-bottom : 10px;
			.description{
				height : 75px;
				overflow : hidden;
			}
		}
		.readmore{
			text-align : center;
		}
	}
}