
    @color:#E8E9E3;//white
	@lightcolor:#E99310;//orange color
	@darkcolor : #BAC617;//darkcoloronly green shade

	@colorwhite:white;
	@colorblack:black;
	
	@back:#28281F;//content background
	@lightbackcolor:#292920;//contentcolor
	@darkbackcolor:#797A4C;//background-color
	
	@import "general.less";
	@import "property.less";
	@import "project.less";
	@import "product.less";
	
	body{
		background-color :@darkbackcolor;
		position : relative;
		
	}
	
	.sociallinks{
		top: 50%;
		position: fixed;
		z-index : 999;
		width : 5px;
		ul{
			list-style : none;
			li{
				transform: translateX(-123px);
				padding: 4px 0px 4px 10px;
				/*background: -webkit-linear-gradient(@darkcolor, @darkbackcolor);*/
				/*background: -moz-linear-gradient(@darkcolor, @darkbackcolor);*/
				/*background: linear-gradient(@darkcolor, @darkbackcolor);*/
				background-color:@color;
				margin: 5px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				text-align : right;
				width : 125px;
				a{
					color : @colorwhite;
					&:hover{
						color : @colorwhite;
						text-decoration : underline;
					}
				}
				img{
					width : 35px;
					margin-left : 10px;
					border : 2px solid @colorwhite;
				}
				span{
					height : 20px;
					width :20px;
					margin-right: 6px;
				}
				&:hover{
					  transform: translateX(-45px);
				}
			}
		}
	}
	.container{
		max-width : 992px !important;
		background-color:@back;
	}
	.logo {
		height: 80px;
		margin-top: 25px;
		max-width: 100%;
		margin-bottom : 20px;
	}
	a, .btn.btn-link{
		color: @darkbackcolor;
		&:hover, &:hover{
			text-decoration : none;
			color: @color;
		}
	}
	.btn.btn-link{
		font-size : 17.5px;
		padding-left : 0px;
	}
	
	.cnctinfo{
		margin: 40px 15px 40px 0;
	}
	.navbar-collapse{
		padding :0px;
	}
	.navbar-toggle {
		border : 1px solid @darkcolor;
		margin-top : 8px;
		background-color:@lightcolor;
	}
	.navbar-toggle .icon-bar {
		background-color: @darkbackcolor;
	}
	.modal-body	{
		p{
			color:@colorblack;
		}
	}
	
	.btn + .btn{
		margin-left:10px;
	}
	
	
	.nav>li>a:hover{
	 /* background: linear-gradient(#CCA635, #ff6f00);*/
	  background: linear-gradient(#F3C22C,#F97115);
	}
	header{
		
	}
	.navbar-default {
		/*background-color:@color;*/
		/*background: linear-gradient(#0277bd,#3F51B5);*/
		/*background: linear-gradient(#0277bd,#283593);*/
		background: @back;
		border: 1px solid transparent;
		border-radius: 0;
		.navbar-nav{
			> li{
				margin-bottom:0px;
				position : relative;
				> a, > a:focus {
					color : @colorwhite;
					font : bold 15px/1em Arial, Helvetica, sans-serif;
					position : relative;
					text-transform : uppercase;
					border-right : 1px solid transparent;
					border-top:3px solid transparent;
					padding : 20px 15px;
				}
				&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a, &:hover > a:focus{
					/*background : linear-gradient(@back, #FF6F00);*/
					/*background: linear-gradient(#F3C22C,#F97115);*/
					background: transparent;
					border-top: 3px solid @darkcolor;
					color : @lightcolor;
					border-right:1px solid @colorwhite;
				}
				&.active > a::after, &.active:hover > a::after, &.active > a:focus::after, &:hover > a::after, &:hover > a:focus::after
				{
					content: '';
					position: absolute;
					right: -14px;
					top: -3px;
					border-top: 6px solid transparent;
					border-left: 10px solid @colorwhite;
					border-right: 4px solid transparent;
					border-bottom: 4px solid transparent;
					background-image:-webkit-linear-gradient(bottom, @color 70%,@darkbackcolor) ;
				}
				
				
				> ul{
					display: none;
					position: absolute;
					width: 245px;
					z-index: 999;
					/*background : linear-gradient(@back, @color);*/
					/*background-color:@darkbackcolor;*/
					background: @back;
					padding: 2px;
					list-style: none;
					text-align: left;
					>li{
						padding : 10px;
						text-transform : uppercase;
						position : relative;
						>a{
								color : @colorwhite;
							&:hover{
								color : @lightcolor;
							}
						}
						&:hover{
							/*background : linear-gradient(@darkcolor, @darkbackcolor);*/
							/*background : linear-gradient(@back, #FF6F00);*/
							background: transparent;
							-webkit-transition: all 0.4s;
						}
						ul{
					        background:@back;
							border:1px solid @darkbackcolor;
							list-style: none;
							display : none;
							position : absolute;
							left: 150px;
							width: 180px;
							padding : 2px;
							li{
							    background:@back;
								padding : 10px;
								a{
									color : @colorwhite;
								}
								&:hover{
								background: transparent;
								color : @lightbackcolor;
									a{
										color : @lightcolor;
									}
								}
							}
						
						}
						&:hover{
							ul{
								display : block;
							}
						}
					}
				}
				&:hover > ul {
					display: block;
				}
			}
		}
	}
	
	.content{
		background-color : @back;
		border-radius : 7px;
		margin-top : 15px;
		color:@colorwhite;
		padding: 10px 20px 30px;
	}
	h1 {
		border-bottom: 1px solid @lightcolor;
		font-weight:bold;
		letter-spacing: 1px;
		padding-bottom:10px;
		font: 2.3em/1.2em negotiate_free;
		color: @lightcolor;
		text-align:center;
	}
	h2, h3, h4 {
		color: @lightcolor;
		border-bottom: 1px solid @darkbackcolor;
		padding-bottom:10px;
	}
	h3,h4,h5{
		font-family: 'negotiate_free';
	}
	h2{
		font: 2.0em/1.2em negotiate_free;
		line-height:1.5em;
		font-weight:bold;
	}
	.sidebarModule .panel,.sidebarModule .sections, .contentModule .sections{
		background : @darkbackcolor;
		border:1px solid @darkbackcolor;
		border-radius : 4px;
	}
	.featured_services{
		.sections{
			border : none;
			h3{
			color:@darkcolor;
			
			}
			h4{
			color:@back;
			padding-bottom:2px;
			}
		}
	}
	.form-control{
		background : transparent;
		border-color : @colorwhite;
		color:@color;
		&:focus{
			border-color : @darkcolor;
		}
	}
	.btn-info,.btn-primary{
		border : none;
		/*background: linear-gradient(@lightbackcolor 75%,@);*/
		background-color:@darkcolor;
		color : @back;
		padding:7px !important;
		font: bold 13px/1.5em Arial, Helvetica, sans-serif;
		&:hover, &:hover, &:active{
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-osx-font-smoothing: grayscale;
			position: relative;
			overflow: hidden;
			background: @back;
			color:@colorwhite;
			-webkit-transition-property: color;
			transition-property: color;
			-webkit-transition-duration: 1s;
			transition-duration: 1s;
		}
			a::before {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: @back;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: 0 50%;
					transform-origin: 0 50%;
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: 0.5s;
					transition-duration: 0.5s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
			}
			
	}
	.subhead{
			font-size: 24px;
			background-color:@darkbackcolor;
			color: @darkcolor !important;
			padding: 4px 15px 12px;
			position: relative;
			bottom: -15px;
			width: 200px;
			margin-left: 50px;
			height: 50px;
			/* top: 20px; */
			padding: 10px;
			position:relative;
			/* text-align: center; */
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			text-align: center;
			h4{
			text-shadow:1px solid @colorwhite;
			
			}
		}
	hr{
		border-style:none;
		border-color:none;
		margin: 0px 0px 10px;
	}
	.sidebarModule, .contentModule{
		.sections{
			padding:10px;
		}
	}
	.sidebarModule{	
		h4{
			border : none;
		}
	}
	.panel{
		background : transparent;
	}
	.panel-default{
		border : 1px solid @darkbackcolor;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
	{
		background-color : @back;
		color : @lightcolor;
		border : 1px solid @darkbackcolor;
	}
	.pagination>li>a, .pagination>li>span, .pagination>.disabled>a, .pagination>.disabled>a:hover{
		background-color : @darkbackcolor;
		border : 1px solid @back;
		color : @colorwhite;
	}
	footer{
	    background-image:radial-gradient(@back,@colorblack  ,@darkbackcolor);
		margin-top : -5px;
		padding: 15px 0;
		color:@colorwhite;
		a{
		color:@lightcolor;
		}
	}
	*{
		transition:300ms;
	}
	.thumbnail{
	border:1px solid @lightcolor !important;
	background-color:@darkbackcolor;
	}
	@media (max-width: 540px){
		header {
			.navbar{
				min-height : 1px;
			}
			.navbar-default{
				.navbar-nav {
					margin: 0px;
						>li{
						&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
							background : linear-gradient(@darkcolor, @darkbackcolor);
							top : 0px;
							padding: 10px 15px;
							margin-top: 0px;
							background-color:@darkcolor;
							border: 1px solid @darkbackcolor;
							color : @colorwhite;
						}
					}
				}
			}
		}
	}
	@media (max-width: 480px){
		.navbar-default{
			.navbar-nav {
				margin: 0px;
					>li{
					&.active > a, &.active:hover > a, &.active > a:focus, &:hover > a,&:hover > a:focus, &:hover > a:focus{
						background-color:@darkcolor;
						margin-top:0px;
						padding:10px 17px;
						top : 0px;
						border: 1px solid @darkbackcolor;
						color : @colorwhite;
					}
					
				}
			}
		}
		
	}
		.send11{
			font-size: 27px;
			padding-left: 5px;
			color: @colorwhite;
			padding-right: 8px;
			background-color: @lightcolor;
			border: transparent;
			position: fixed;
			margin-top: 100px;
			z-index: 999;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 5px;
			z-index: 999;
			text-shadow: -2px -1px 5px @darkcolor;
		}
		.send:hover{
		      width:200px;
			}
			
	