{% autoescape false %}
<div class="homeAboutus">
		<h1>{{ data.business_name }}</h1>
		
		<div class="description">
		{% if data.website_config.welcome_note %}
			{{ data.website_config.welcome_note}}
		
		{% else %}
			{{ data.business_info.description}}
		{% endif %} 
		</div>
</div>


{% include [templatePath ~ '/includes/featured_products.html', 'default/default/includes/featured_products.html'] %} 
	
{% include [templatePath ~ '/includes/featured_testimonials.html', 'default/default/includes/featured_testimonials.html'] %}  

{% include [templatePath ~ '/includes/contact.html', 'default/default/includes/contact.html'] %} 
	

		
		
{% endautoescape %}