{% autoescape false %}
	{% if data.testimonials | length >= 1 %}
		<h3>Testimonials</h3>
		<div class="thumbs">
		    <div id="carousel" class="carousel slide" data-ride="carousel">
		        <!-- Indicators -->
			        <ol class="carousel-indicators">
			            {% for key, value in data.testimonials %}
				            <li data-target="#carousel" data-slide-to="{{key}}" class="{{ (key == 0) ? 'active' }}"></li>
			                    {% endfor %}
			        </ol>
			                        {% set break = 0 %}{% set i = 0 %}
			                            <!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
			{% for key, value in data.testimonials if break == 0 %}	
				
					<div class="item {{ (key == 0) ? 'active' }} row featrtesti">
						<div class="col-xs-12 col-sm-4 col-lg-3">
							  <!-- <img class="img-responsive center-block" src="{{value.image.file_relative_path}}">  -->
						</div>
						<div class="{{ (value.image.file_relative_path) ? 'col-xs-12 col-sm-8 col-lg-9' : 'col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-lg-offset-1 col-lg-11'}}">
							<blockquote>
								<div class="description">{{ value.description }}</div>
								<footer><cite>{{value.heading}}</cite></footer>
							</blockquote>
						</div>
					</div>
					
				
				{% set i = (i + 1) %}
				{% if i == 5 %}
					{% set break = 1 %}
				{% endif %}
	`		{% endfor %}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>	
		
	{% endif %}
{% endautoescape %}