{% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ path }}css/ normalize.css">
		<script src="{{ path }}js/jquery.min.js"></script>
		<script src="{{ path }}js/bootstrap.min.js"></script>
		<script src="{{ path }}js/jquery.bxslider.min.js"></script>
		<link rel="stylesheet" type="text/css"  href="{{ path }}css/jquery.bxslider.css"/>
		<script src="{{ path }}js/angular.min.js"></script>
		<script src="{{ path }}js/angular-route.min.js"></script>
		<script src="{{ path }}js/script.js"></script>
		<title>{{seo.title}} | {{data.business_name}}</title>
		<meta name="description" content="{{ seo.description }}">
		<meta name="keywords" content="{{ seo.keywords }}"> 
	</head>
	<body>
		
	<header>
		<div class="container">
			<nav class="navbar navbar-default ">
				<div class="col-xs-12 col-md-2 ">
					<img class="logo" src="{{data.business_logo.file_relative_path}}">
				</div>
				<div class="col-xs-12 col-md-10 ">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div> 
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}
						</ul>
					</div>
				</div>
			</nav>
		</div> 
	
	</header>
		<div class="container-fluid">
			{%if modules.headerModule.carousal %}
			{% include [templatePath ~ '/includes/carousal.html', 'default/default/includes/carousal.html'] with {sliderData : data.template_params.slider} %}
			{%endif%}	
		</div>
		<div class="container">
				<!-- <figure><img src="http://lorempixel.com/186/116/nature/1" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/2" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/3" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/4" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/5" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/7" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
				<figure><img src="http://lorempixel.com/186/116/people/9" alt=""></figure> -->
				{%if modules.contentModule.featured_products %}
				{% include [templatePath ~ '/includes/featured_products.html', 'default/default/includes/featured_products.html'] %}
			{%endif%}
		</div>
		<div class="container">
			<div class="row">
				{% include contentPath %}
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					{%if modules.contentModule.featured_services %}
					{% include [templatePath ~ '/includes/featured_services.html', 'default/default/includes/featured_services.html'] %}
					{%endif%}
				</div>
			</div>
		</div>
		<nav class="navbar  nav-footer">
			<div class="container ">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav text-center ">
						{% include [templatePath ~ '/includes/links.html', 'default/default/includes/links.html']  with {'links' : routes, 'uri' : uri, 'templatePath' : templatePath } only %}
					</ul>
				</div>
			</div> 
		</nav>
		
		<footer>
			{% include [templatePath ~ '/includes/footer.html', 'default/default/includes/footer.html'] %}
		</footer>
	</div>	
	</body>
</html>
{% endspaceless %}